<meta charset="UTF-8">
<div class="item-active" id="item-1">
    <div class="item-title-active">
        <div class="item-title-active-content">I. ĐỊNH NGHĨA
        </div>

    </div>
    <div class="item-active-content">
        <p><span style="color:#000000"><span><span
        ><strong>Thì tương lai đơn</strong> (Simple future tense)</span> dùng khi không có kế hoạch hay quyết định làm gì trước khi chúng ta nói. Chúng ta ra quyết định tự phát tại thời điểm nói.&nbsp;</span></span>
        </p>
    </div>
</div>
<div class="item-active" id="item-2">
    <div class="item-title-active">
        <div class="item-title-active-content">II. CẤU TRÚC
        </div>

    </div>
    <div class="item-active-content">
        <p><span style="color:#ffa500"><strong><span>1. Khẳng định:</span></strong></span></p>

        <p><span style="color:#000000"><span><strong>- Cấu Trúc:</strong></span></span></p>

        <p style="text-align:center"><span style="color:#66cc00"><strong><span style="font-size:20px">S + will + &nbsp;V(nguyên thể)</span></strong></span>
        </p>

        <p><span style="color:#000000"><span><strong>- Trong đó:&nbsp;</strong></span></span></p>

        <p><em><span style="color:#000000"><span>&nbsp;&nbsp;+ S (subject): Chủ ngữ</span></span></em></p>
        <p><em><span style="color:#000000"><span>&nbsp;&nbsp;+ Will: trợ động từ</span></span></em></p>
        <p><em><span style="color:#000000"><span
        >&nbsp;&nbsp;+ V(nguyên mẫu): động từ ở dạng nguyên mẫu</span></span></em></p>

        <p><strong><span style="color:#000000"><span>- Lưu ý</span></span></strong></p>

        <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
            <tbody>
            <tr>
                <td style="text-align:center"><span
                >I will = I'll &nbsp; &nbsp; &nbsp;</span></td>
            </tr>
            <tr>
                <td style="text-align:center"><span>He will = He'll &nbsp;</span>
                </td>
            </tr>
            <tr>
                <td style="text-align:center"><span
                >She will = She'll &nbsp; &nbsp;&nbsp;</span></td>
            </tr>
            <tr>
                <td style="text-align:center"><span>It will = It'll</span></td>
            </tr>
            <tr>
                <td style="text-align:center"><span>They will = They'll</span>
                </td>
            </tr>
            <tr>
                <td style="text-align:center"><span>We will = We'll</span></td>
            </tr>
            <tr>
                <td style="text-align:center"><span>You will = You'll</span></td>
            </tr>
            </tbody>
        </table>

        <p><strong><span style="color:#000000"><span>- Eg:</span></span></strong></p>

        <p><span style="color:#000000"><em><span>&nbsp;&nbsp;+ I <u><strong>will help</strong></u> her take care of her children tomorrow morning. </span></em></span><br>
            <span style="color:#008000"><em><span
            >(Tôi sẽ giúp cô ấy trông bọn trẻ vào sáng mai.)</span></em></span></p>
        <p><span style="color:#000000"><em><span>&nbsp;&nbsp;+ He <u><strong>will bring</strong></u> you a cup of tea soon. </span></em></span><br>
            <span style="color:#008000"><em><span
            >(Anh ấy sẽ mang cho bạn một tách trà sớm thôi.)</span></em></span></p>

        <p><span style="color:#ffa500"><strong><span>2. Phủ định:</span></strong></span></p>

        <p><span style="color:#000000"><span><strong>- Cấu Trúc</strong></span></span></p>

        <p style="text-align:center"><span style="color:#66cc00"><strong><span style="font-size:20px">S + will not + V(nguyên mẫu)</span></strong></span>
        </p>

        <p><span style="color:#000000"><span>=&gt; Câu phủ định trong thì tương lai đơn ta chỉ cần thêm “not” vào ngay sau “will”.</span></span>
        </p>

        <p><strong><span style="color:#000000"><span>- Lưu ý:</span></span></strong></p>

        <p><em><span style="color:#000000"><span>&nbsp;&nbsp;+ will not = won’t</span></span></em></p>

        <p><strong><span style="color:#000000"><span>- Eg:</span></span></strong></p>

        <p><em><span
                style="color:#000000"><span>&nbsp;&nbsp;+ I <u><strong>won’t tell</strong></u> her the truth.</span></span><span
                style="color:#008000"><span> (Tôi sẽ không nói với cô ấy sự thật.)</span></span></em>
        </p>
        <p><em><span
                style="color:#000000"><span>&nbsp;&nbsp;+ They <u><strong>won’t stay</strong></u> at the hotel. </span></span><span
                style="color:#008000"><span>(Họ sẽ không ở khách sạn.)</span></span></em></p>

        <p><span style="color:#ffa500"><strong><span>3. Câu hỏi:</span></strong></span></p>

        <p><strong><span style="color:#000000"><span>- Cấu Trúc:</span></span></strong></p>

        <p style="text-align:center"><span style="color:#66cc00"><strong><span
                style="font-size:20px">Will + S + V(nguyên mẫu)</span></strong></span></p>

        <p><span style="color:#000000"><span><strong>- Trả lời:&nbsp;</strong></span></span></p>

        <p><em><span style="color:#000000"><span>&nbsp;&nbsp;+ Yes, S + will./ No, S + won’t.</span></span></em>
        </p>

        <p><span style="color:#000000"><span>=&gt; Câu hỏi trong thì tương lai đơn ta chỉ cần đảo “will” lên trước chủ ngữ.</span></span>
        </p>

        <p><strong><span style="color:#000000"><span>- Eg:</span></span></strong></p>

        <p><em><span style="color:#000000"><span
        ><u><strong>&nbsp;&nbsp;+ Will</strong></u> you <u><strong>come</strong></u> here tomorrow? </span></span><span
                style="color:#008000"><span>(Bạn sẽ đến đây vào ngày mai chứ?)</span></span><br>
            <span style="color:#000000"><span><span style="color:#000000"><span
            >Yes, I will./ No, I won’t.</span></span></span></span></em></p>
        <p><em><span style="color:#000000"><span
        ><strong>&nbsp;&nbsp;+ Will</strong> they <u><strong>accept</strong></u> your suggestion?</span></span><span
                style="color:#008000"><span
        > (Họ sẽ đồng ý với đề nghị của bạn chứ?)</span></span><br>
            <span style="color:#000000"><span><span style="color:#000000"><span
            >Yes, they will./ No, they won’t.</span></span></span></span></em></p>
    </div>
</div>
<div class="item-active" id="item-3">
    <div class="item-title-active">
        <div class="item-title-active-content">III. CÁCH SỬ DỤNG
        </div>

    </div>
    <div class="item-active-content">
        <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
            <tbody>
            <tr>
                <td style="text-align:center"><span style="color:#ffa500"><strong><span
                >Cách Sử Dụng</span></strong></span></td>
                <td style="text-align:center"><span style="color:#ffa500"><strong><span
                >&nbsp;Vi dụ</span></strong></span></td>
            </tr>
            <tr>
                <td><span style="color:#000000"><span>- Diễn tả một quyết định, một ý định nhất thời nảy ra ngay tại thời điểm nói.</span></span>
                </td>
                <td>
                    <p><span
                            style="color:#000000"><span><em>&nbsp;&nbsp;+ Are you going to the supermarket now? I <u><strong>will go</strong></u> with you. </em></span></span><span
                            style="color:#008000"><span><em>(Bây giờ bạn đang tới siêu thị à? Tớ sẽ đi với bạn.)</em></span></span>
                    </p>
                    <p><span style="color:#000000"><span><em>&nbsp;&nbsp;+ I <u><strong>will come</strong></u> back home to take my document which I have forgotten. &nbsp;</em></span></span><span
                            style="color:#008000"><span><em>(Tôi sẽ về nhà để lấy tài liệu mà tôi để quên.)</em></span></span>
                    </p>
                </td>
            </tr>
            <tr>
                <td><span style="color:#000000"><span>- Diễn tả một dự đoán không có căn cứ</span></span>
                </td>
                <td>
                    <p><em><span style="color:#000000"><span
                    >&nbsp;&nbsp;+ I think she <u><strong>will come</strong></u> to the party. </span></span><span
                            style="color:#008000"><span>(Tôi nghĩ rằng cô ấy sẽ tới bữa tiệc.)</span></span></em>
                    </p>
                    <p><em><span
                            style="color:#000000"><span>&nbsp;&nbsp;+ She supposes that she <u><strong>will get</strong></u> a better job. </span></span><span
                            style="color:#008000"><span>(Cô ấy tin rằng cô ấy sẽ kiếm được một công việc tốt.)</span></span></em>
                    </p>
                </td>
            </tr>
            <tr>
                <td><span style="color:#000000"><span
                >- Diễn tả một lời hứa hay lời yêu cầu, đề nghị.</span></span></td>
                <td>
                    <p><em><span style="color:#000000"><span
                    >&nbsp;&nbsp;+ I promise that I <u><strong>will tell</strong></u> you the truth.</span></span><span
                            style="color:#008000"><span
                    > (Tôi hứa là tôi sẽ nói với bạn sự thật.)</span></span></em></p>
                    <p><em><span
                            style="color:#000000"><span>&nbsp;&nbsp;+ <u><strong>Will</strong></u> you please <u><strong>bring</strong></u> me a cup of coffee? </span></span><span
                            style="color:#008000"><span>(Bạn làm ơn mang cho tôi một cốc cà phê được không?)</span></span></em>
                    </p>
                </td>
            </tr>
            <tr>
                <td><span style="color:#000000"><span>- Sử dụng trong câu điều kiện loại một, diễn tả một giả định có thể xảy ra ở hiện tại và tương lai.</span></span>
                </td>
                <td>
                    <p><em><span style="color:#000000"><span
                    >&nbsp;&nbsp;+ If she comes, I <u><strong>will go</strong></u> with her. </span></span><span
                            style="color:#008000"><span>(Nếu cô ấy đến, tôi sẽ đi với cô ấy.)</span></span></em>
                    </p>
                    <p><em><span style="color:#000000"><span
                    >&nbsp;&nbsp;+ If it stops raining soon, we <strong><u>will go</u></strong> to the cinema. </span></span><span
                            style="color:#008000"><span>(Nếu trời tạnh mưa sớm thì chúng tôi sẽ đi tới rạp chiếu phim.)</span></span></em>
                    </p>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="item-active" id="item-4">
    <div class="item-title-active">
        <div class="item-title-active-content">IV.&nbsp;DẤU HIỆU NHẬN BIẾT
        </div>

    </div>
    <div class="item-active-content">
        <p><span
                style="color:#ffa500"><strong><span>- Trong câu có các trạng từ chỉ thời gian trong tương lai:</span></strong></span>
        </p>

        <p><em><span style="color:#000000"><span>&nbsp;&nbsp;+ In + thời gian: trong … nữa (in 5 minutes: trong 5 phút nữa)</span></span></em>
        </p>
        <p><em><span style="color:#000000"><span>&nbsp;&nbsp;+ Tomorrow: ngày mai</span></span></em></p>
        <p><em><span style="color:#000000"><span>&nbsp;&nbsp;+ Next day: ngày hôm tới</span></span></em></p>
        <p><em><span style="color:#000000"><span>&nbsp;&nbsp;+ Next week/ next month/ next year: Tuần tới/ tháng tới/ năm tới</span></span></em>
        </p>

        <p><span style="color:#ffa500"><strong><span
        >- Trong câu có những động từ chỉ quan điểm như:</span></strong></span></p>

        <p><em><span style="color:#000000"><span
        >&nbsp;&nbsp;+ Think/ believe/ suppose/ ...: nghĩ/ tin/ cho là</span></span></em></p>
        <p><em><span style="color:#000000"><span>&nbsp;&nbsp;+ Perhaps: có lẽ</span></span></em></p>
        <p><em><span style="color:#000000"><span>&nbsp;&nbsp;+ Probably: có lẽ</span></span></em></p>
    </div>
</div>
