<meta charset="UTF-8">
<div class="first-content">
    <p style="text-align:justify"><br/> <span style="font-size:14px"><span style="color:#00ccff">1. <strong>What is a subject?</strong></span></span><span
            style="color:#00ccff"> (</span><span style="font-size:14px"><span
            style="color:#00ccff">Chủ ngữ là gì)</span><br/>  <span style="color:#000000">Chủ ngữ trong câu là "ai" hoặc “cái gì” mà bạn đang nói đến. Mỗi câu cần một chủ ngữ. Nếu bạn không có chủ ngữ, thì câu đó không chính xác và sẽ không ai hiểu bạn đang nói gì.<br/>  Trong các ngôn ngữ khác, chủ ngữ không phải lúc nào cũng được yêu cầu. Bằng lời nói, người nghe bạn sẽ hiểu những gì bạn đang nói, vì vậy chủ từ là không bắt buộc. Trong tiếng Anh, chủ từ phải luôn có<br/>  Dưới đây là ví dụ về các câu nhỏ với chủ từ được gạch chân.<br/>  "<u>I</u> am hungry"<br/>  "<u>My brother</u> is very smart"<br/>  <u>"That compute</u>r is very expensive"<br/>  <u>"We</u> are going to the store now"<br/>  <u>"My sister</u> and I will be waiting here"<br/>  <u>"The building</u> is very big"</span></span>
    </p>
    <p style="text-align:justify"><span style="font-size:14px"><span style="color:#000000">"When are <u>yo</u>u going to eat lunch?"<br/>  "Why are <u>they</u> waiting in line?"<br/>  "Who is going to take <u>you</u> to the store?"</span><br/>  <br/>  <span
            style="color:#00ccff"><strong>2. What is a predicate?</strong></span></span><span
            style="color:#00ccff"> (</span><span style="font-size:14px"><span style="color:#00ccff">Vị ngữ là gì)</span><br/>  <span
            style="color:#000000">Vị ngữ trong câu là phần giải thích cho chủ ngữ. Đó là một cụm từ có chứa một động từ. Động từ luôn ở vị ngữ.<br/>  <em>Ex:</em><br/>  "I <u>am hungry</u>"<br/>  "My brother <u>is very smart</u>"<br/>  "That computer <u>is very expensive</u>"<br/>  "We <u>are going to the store now</u>"<br/>  "The building <u>is very big</u>"</span></span>
    </p></div>
<div class="last-content"><p style="text-align:justify"><br/> <span style="color:#00ccff"><strong><span
        style="font-size:14px">3. What is a verb?</span></strong> </span><span style="font-size:14px"><span
        style="color:#00ccff"> (Động từ là gì)</span><br/>  <span style="color:#000000">Động từ dùng để diễn tả hành động, sự tồn tại hoặc xảy ra. Trong các câu đơn giản chúng ta đã sử dụng các động từ "am", "is" và "are".<br/>  Một số động từ chỉ hành động ví dụ như:<br/>  <strong>Run</strong>  : Chạy           <strong> Throw</strong> : Ném                <strong>Dance</strong> : Nhảy              <strong>Learn</strong> : Học<br/>  <strong>Walk</strong> : Đi bộ            <strong>Jump</strong>  : Nhảy               <strong>Laugh</strong>  : Cười             <strong>Teach</strong> : Dạy</span></span><br/>
    <br/> <span style="font-size:14px"><span style="color:#000000">Dưới đây là một số câu để giúp bạn hiểu hơn :</span></span>
</p>
    <ul>
        <li style="text-align:justify"><strong><span style="font-size:14px"><span style="color:#000000">I need to wash my face.</span></span></strong><br/>
            <span style="color:#006600"><span style="font-size:14px"><em>Tôi cần đi rửa mặt của mình.</em></span></span>
        </li>
        <li style="text-align:justify"><strong><span style="font-size:14px"><span style="color:#000000">Jane taught Jill.</span></span></strong><br/>
            <span style="color:#006600"><em><span style="font-size:14px">Jane đã chỉ dạy cho Jill</span></em></span>
        </li>
        <li style="text-align:justify"><strong><span style="font-size:14px"><span style="color:#000000">Mike is laughing.</span></span></strong><br/>
            <span style="color:#006600"><span style="font-size:14px"><em>Mike đang cười lớn.</em></span></span></li>
    </ul>
    <p style="text-align:justify"><span style="font-size:14px"><span style="color:#000000"><em><strong>Động từ cũng có thể đứng đầu câu:</strong></em></span></span>
    </p>
    <ul>
        <li style="text-align:justify"><strong><span style="font-size:14px"><span style="color:#000000">Throw the ball at the catcher </span></span></strong><br/>
            <span style="color:#006600"><em><span style="font-size:14px">Ném bóng vào người bắt bóng</span></em></span>
        </li>
        <li style="text-align:justify"><strong><span style="font-size:14px"><span style="color:#000000">Run towards the finish line</span></span></strong><br/>
            <span style="color:#006600"><em><span style="font-size:14px">Nhanh chạy về đích</span></em></span></li>
    </ul>
    <p style="text-align:justify"><br/> <span style="font-size:14px"><span style="color:#000000">Điều quan trọng là phải hiểu động từ, nhưng chỉ có một chủ từ và một động từ là không đủ. Ví dụ: <strong>"Jill run"</strong> không phải là một câu hoàn chỉnh. Mặc dù Jill có thể là chủ ngữ và "run" là động từ, đây không phải là một câu hoàn chỉnh. Đó là lý do tại sao bài học trước về vị ngữ rất quan trọng. Với vị ngữ, chúng ta có thể biến câu thành một câu thích hợp. <strong>"Jill đang chạy"</strong></span></span>
    </p>
    <p style="text-align:justify"><br/> <span style="color:#00ccff"><span style="font-size:14px">4. <strong>What is an Article?</strong></span></span><span
            style="font-size:14px"><span style="color:#00ccff"> (Mạo từ là gì)</span><br/>  <span style="color:#000000">"A", "An" và "The" đều là các mạo từ. Thật dễ dàng để giải thích sự khác biệt giữa chúng, nhưng rất khó để giải thích khi chúng được sử dụng.</span></span>
    </p>
    <p style="text-align:justify"><span style="font-size:14px"><span style="color:#000000">"A" và "An" có nghĩa tương tự. Cả hai đều là những mạo từ không xác định. Chúng chỉ khác nhau tùy thuộc vào từ hoặc âm thanh đang theo sau. Dưới đây là một lời giải thích ngắn gọn.<br/>  <strong>Bạn nên sử dụng "A" khi từ sau bắt đầu bằng phụ âm.</strong><br/>  "A dog..."<br/>  "A boy..."<br/>  "A building..."<br/>  "A hamburger..."<br/>  <strong>Bạn nên sử dụng "An" khi phần sau bắt đầu bằng âm nguyên âm.</strong><br/>  "An eagle..."<br/>  "An umbrella..."<br/>  "An elephant..."<br/>  "An awesome book..."</span></span><br/>
         </p>
    <p style="text-align:justify"><br/> <span style="font-size:14px"><span style="color:#000000">"The" là một mạo từ xác định. Sự khác biệt là nếu danh từ hoặc chủ từ bạn đang nói có cụ thể hay không. Bạn hãy xem ví dụ này để hiểu sự khác biệt.<br/>  Nếu bạn nói, <strong>"I am going to a library to study"</strong> thì người bạn đang nói chuyện không biết thư viện nào. Nếu bạn nói, <strong>"I am going to the library to study"</strong> thì người bạn đang nói chuyện sẽ biết thư viện cụ thể mà bạn sẽ đến.<br/>  "<strong>I am going to a coffee shop" </strong>(Không có quán cà phê cụ thể)<br/>  <strong>"I am going to the coffee shop" </strong>(Một quán cà phê cụ thể cả người nói và người nghe đều biết)<br/>  <br/>  Dưới đây là một ví dụ hơi khác một chút, nhưng vẫn sử dụng cùng một khái niệm cụ thể hoặc chung chung.<br/>  <strong>"I am going to sit in front of one of the computers in the lab"<br/>  "I am going to buy a computer"</strong><br/>  Mặc dù máy tính trong phòng thí nghiệm có thể là một trong nhiều máy tính, bài viết chính xác là "the" bởi vì nó vẫn là một máy tính cụ thể tồn tại trong phòng thí nghiệm. Tuy nhiên, nếu bạn nói rằng bạn sẽ mua một máy tính, bạn không thể sử dụng "the" trừ khi bạn đã có máy tính được chỉ định. Mua một máy tính có thể là bất kỳ thương hiệu, loại hoặc kích thước vì vậy nó rất chung chung. Do đó, bạn phải sử dụng "A" trong loại câu này.</span></span>
    </p>
    <p style="text-align:justify"><br/> <span style="color:#00ccff"><span style="font-size:14px">5. <strong>When and When NOT to use an article </strong>(</span></span><span
            style="font-size:14px"><span
            style="color:#00ccff">Khi nào sử dụng và không sử dụng mạo từ)</span><br/>  <span
            style="color:#000000"><strong>Một quy tắc phổ biến cần ghi nhớ là các mạo từ không được sử dụng khi đề cập đến tên.</strong></span></span>
    </p>
    <ul>
        <li style="text-align:justify"><strong><span style="font-size:14px"><span style="color:#000000">Turn right at the burger store</span></span></strong><br/>
            <span style="color:#006600"><em><span style="font-size:14px">Rẽ phải tại cửa hàng burger</span></em></span>
        </li>
        <li style="text-align:justify"><strong><span style="font-size:14px"><span style="color:#000000">Turn right at McDonalds</span></span></strong><br/>
            <em><span style="color:#006600"><span style="font-size:14px">Rẽ phải tại McDonalds</span></span></em></li>
        <li style="text-align:justify"><strong><span style="font-size:14px"><span style="color:#000000">The boy was running very fast</span></span></strong><br/>
            <em><span style="color:#006600"><span style="font-size:14px">Cậu bé chạy rất nhanh</span></span></em></li>
        <li style="text-align:justify"><strong><span style="font-size:14px"><span style="color:#000000">Mike was running very fast</span></span></strong><br/>
            <span style="color:#006600"><em><span style="font-size:14px">Mike đã chạy rất nhanh</span></em></span></li>
    </ul>
    <p style="text-align:justify"><br/> <span style="font-size:14px"><span style="color:#000000"><strong>Một ví dụ khác khi không sử dụng một bài viết là khi đề cập đến những điều chung chung trong cuộc trò chuyện.</strong></span></span>
    </p>
    <ul>
        <li style="text-align:justify"><strong><span style="font-size:14px"><span style="color:#000000">Too much alcohol is bad for you</span></span></strong><br/>
            <span style="color:#006600"><em><span style="font-size:14px">Uống quá nhiều rượu có hại cho bạn</span></em></span>
        </li>
        <li style="text-align:justify"><strong><span style="font-size:14px"><span style="color:#000000">Cigarettes can cause lung cancer</span></span></strong><br/>
            <span style="color:#006600"><em><span
                    style="font-size:14px">Hút thuốc lá có thể gây ung thư phổi</span></em></span></li>
    </ul>
    <p style="text-align:justify"><br/> <span style="font-size:14px"><span style="color:#000000"><strong>Khi bạn đang đề cập đến thể thao, bạn không cần sử dụng mạo từ</strong></span></span>
    </p>
    <ul>
        <li style="text-align:justify"><span style="font-size:14px"><span style="color:#000000"><strong>I love playing badminton</strong></span></span><br/>
            <span style="color:#006600"><span style="font-size:14px"><em>Tôi thích chơi cầu lông</em></span></span></li>
        <li style="text-align:justify"><span style="font-size:14px"><span style="color:#000000"><strong>Football is a dangerous sport</strong></span></span><br/>
            <span style="color:#006600"><span
                    style="font-size:14px"><em>Bóng đá là môn thể thao nguy hiểm</em></span></span></li>
    </ul>
    <p style="text-align:justify"><span style="font-size:14px"><span style="color:#000000">Trong hầu hết các trường hợp, bạn không cần sử dụng mạo từ khi đề cập đến một quốc gia trừ khi tên đó được đề cập đến nhiều quốc gia hoặc khu vực. Ví dụ: nếu bạn nói <strong>"England" or "Scotland"</strong> bạn không cần sử dụng mạo từ, nhưng nếu bạn đang đề cập đến<strong> "The United Kingdom" or "The United States",</strong> thì bạn cần đến mạo từ.<br/></span></span>
    </p>    </p>                                </div>