<meta charset="UTF-8">
<div class="first-content"><p style="text-align:justify"><span style="font-size:14px"><span
        style="color:#00ccff"><strong>I. Định Nghĩa Câu Điều Kiện</strong></span><br/>  <span
        style="color:#000000"><strong>Câu điều kiện</strong> dùng để nêu lên một giả thiết về một sự việc, mà sự việc đó chỉ có thể xảy ra khi điều kiện được nói đến xảy ra. Câu điều kiện gồm có hai phần (hai mệnh đề):<br/>  • <em><strong>Mệnh đề nêu lên điều kiện</strong></em> (còn gọi là mệnh đề IF) là mệnh đề phụ hay mệnh đề điều kiện<br/>  •<strong> Mệnh đề nêu lên kết quả là mệnh đề chính</strong>.<br/>  <em>Ex:</em> If it rains - I will stay at home. Mệnh đề điều kiện - mệnh đề chính (Nếu trời mưa - tôi sẽ ở nhà.)<br/>  Hai mệnh đề trong câu điều kiện có thể đổi chổ cho nhau được: nếu mệnh đề chính đứng trước thì giữa hai mệnh đề không cần dấu phẩy, ngược lại thì phải có dấu phẩy ở giữa. <br/>  <em>Ex:</em> You will pass the exam if you work hard. (Bạn sẽ vượt qua kỳ thi nếu bạn học tập chăm chỉ.) <br/>  => If you work hard, you will pass the exam. (Nếu bạn học tập chăm chỉ, bạn sẽ vượt qua kỳ thi.)</span><br/>  <br/>  <span
        style="color:#00ccff"><strong>II. Các loại câu điều kiện:</strong></span></span></p>
    <p style="text-align:center"><br/> <span style="font-size:14px"><span style="color:#00ccff"><strong>
        <img alt="" src="file:///android_asset/images/cac-loai-cau-dieu-kien.png"/></strong></span></span></p>
    <p style="text-align:center"><span style="color:#000000"><span style="font-size:18px"><strong><span
            style="background-color:#f39c12">3 LOẠI CÂU ĐIỀU KIỆN TRONG TIẾNG ANH</span></strong></span></span></p>
    <p><br/> <strong><span style="color:#00ccff"><span style="font-size:14px">1</span></span></strong><span
            style="color:#000000"><span style="font-size:14px">. </span></span><strong><span style="color:#00ccff"><span
            style="font-size:14px">Câu điều kiện loại 1</span></span></strong><br/> <span style="color:#000000"><span
            style="font-size:14px"><strong>1.1 Khái niệm:</strong> <br/>  • Câu điều kiện loại I còn được gọi là câu điều kiện có thực ở hiện tại.<br/>  • Điều kiện có thể xảy ra ở hiện tại hoặc tương lai.<br/>  <strong>1.2 Cấu trúc - Công thức câu điều kiện loại 1:</strong></span></span>
    </p>
    <table align="center" border="1" cellpadding="1" cellspacing="1" style="width:500px">
        <tbody>
        <tr>
            <td style="text-align:center"><strong><span style="color:#000000"><span style="font-size:14px">If + S + V (hiện tại), S + will + V (nguyên mẫu)</span></span></strong>
            </td>
        </tr>
        </tbody>
    </table>
    <p style="text-align:justify"><span style="font-size:14px"><span style="color:#000000"><strong>IF + Chủ ngữ 1 + Động từ chia ở thì hiện tại đơn + Bổ ngữ, Chủ ngữ 2 + WILL + Động từ nguyên mẫu + Bổ ngữ (nếu có).</strong><br/>  Nói cách khác, ở câu điều kiện loại 1, mệnh đề IF dùng thì hiện tại đơn, mệnh đề chính dùng thì tương lai đơn.<br/>  • Chủ ngữ 1 và chủ ngữ 2 có thể trùng nhau. Bổ ngữ có thể không có, tùy ý nghĩa của câu. Mệnh đề IF và mệnh đề chính có thể đứng trước hay sau đều được.<br/>  • Trong câu điều kiện loại I, động từ của mệnh đề điều kiện chia ở thì hiện tại đơn, còn động từ trong mệnh đề chính chia ở thì tương lai đơn.</span></span>
    </p></div>
<div class="last-content">
    <ul>
        <li style="text-align:justify"><span style="color:#000000"><span style="font-size:14px"><em>Ex:</em> <strong>If you come into my garden, my dog will bite you.</strong></span></span><br/>
            <span style="color:#006600"><em><span style="font-size:14px">Nếu anh vào vườn của tôi, con chó của tôi sẽ cắn anh đó.</span></em></span>
        </li>
        <li style="text-align:justify"><span style="font-size:14px"><span style="color:#000000"><em>Ex:</em><strong> If it is sunny, I will go fishing. </strong></span><br/>  	<span
                style="color:#006600"><em>Nếu trời nắng tốt, tôi sẽ đi câu cá.</em></span></span></li>
    </ul>
    <p style="text-align:justify"><span style="font-size:14px"><span style="color:#000000"><strong>1.3 Cách dùng câu điều kiện loại 1:</strong><br/>  Câu điều kiện loại 1 còn có thể được gọi là câu điều kiện hiện tại có thể có thật. Ta sử dụng câu điều kiện loại 1 để đặt ra một điều kiện có thể thực hiện được trong hiện tại và nêu kết quả có thể xảy ra. ngữ pháp tiếng anh.</span><br/>  <br/>  <span
            style="color:#00ccff"><strong>2. Câu điều kiện loại II</strong></span><br/>  <span
            style="color:#000000"><strong>2.1 Khái niệm:</strong><br/>  • Câu điều kiện loại II còn được gọi là câu điều kiện không có thực ở hiện tại.<br/>  • Điều kiện không thể xảy ra ở hiện tại hoặc tương lai, điều kiện chỉ là một giả thiết, một ước muốn trái ngược với thực trạng hiện tại.<br/>  <strong>2.2 Cấu trúc câu điều kiện loại 2:</strong></span></span>
    </p>
    <table align="center" border="1" cellpadding="1" cellspacing="1" style="width:500px">
        <tbody>
        <tr>
            <td style="text-align:center"><strong><span style="color:#000000"><span style="font-size:14px">If + S + V (quá khứ), S + would + V (nguyên mẫu)</span></span></strong>
            </td>
        </tr>
        </tbody>
    </table>
    <p style="text-align:justify"><span style="font-size:14px"><span style="color:#000000">-Trong câu điều kiện loại II, động từ của mệnh đề điều kiện chia ở bang thái cách (past subjunctive), động từ của mệnh đề chính chia ở thì điều kiện hiện tại (simple conditional).<br/>  Chú ý: Bàng thái cách (Past subjunctive) là hình thức chia động từ giống hệt như thì quá khư đơn, riêng động từ “to be” thì dùng “were” cho tất cả các ngôi.</span></span><br/>
         </p>
    <ul>
        <li style="text-align:justify"><span style="color:#000000"><span
                style="font-size:14px"><strong>Ex:</strong> <strong>If I were a bird, I would be very happy. </strong></span></span><br/>
            <span style="color:#006600"><span
                    style="font-size:14px"><em>Nếu tôi là một con chim, tôi sẽ rất hạnh phúc.</em></span></span><span
                    style="color:#000000"><span
                    style="font-size:14px"><em> </em>    <= tôi không thể là chim được</span></span></li>
        <li style="text-align:justify"><span style="color:#000000"><span style="font-size:14px"><strong>Ex: If I had a million USD, I would buy that car.</strong></span></span><br/>
            <span style="color:#006600"><span style="font-size:14px"><em>Nếu tôi có một triệu đô la, tôi sẽ mua chiếc xe đó.</em> </span></span><span
                    style="color:#000000"><span style="font-size:14px">    <= hiện tại tôi không có</span></span></li>
    </ul>
    <p style="text-align:justify"><br/> <span style="color:#00ccff"><span style="font-size:14px"><strong>3. Câu điều kiện loại III</strong></span></span><br/>
        <span style="color:#000000"><span style="font-size:14px"><strong>3.1 Khái niệm</strong><br/>  • Câu điều kiện loại III là câu điều kiện không có thực trong quá khứ.<br/>  • Điều kiện không thể xảy ra trong quá khứ, chỉ mang tính ước muốn trong quá khứ, một giả thiết trái ngược với thực trạng ở quá khứ.<br/>  <strong>3.2 Cấu trúc câu điều kiện loại 3</strong></span></span>
    </p>
    <table align="center" border="1" cellpadding="1" cellspacing="1" style="width:500px">
        <tbody>
        <tr>
            <td style="text-align:center"><strong><span style="color:#000000"><span style="font-size:14px">If + S + had + P.P (quá khứ phân từ), S + would + have + P.P</span></span></strong>
            </td>
        </tr>
        </tbody>
    </table>
    <p style="text-align:justify"><span style="font-size:14px"><span style="color:#000000">-Trong câu điều kiện loại III, động từ của mệnh đề điều kiện chia ở quá khứ phân từ, còn động từ của mệnh đề chính chia ở điều kiện hoàn thành (perfect conditional). </span></span>
    </p>
    <ul>
        <li style="text-align:justify"><span style="color:#000000"><span style="font-size:14px"><strong>Ex: If he had come to see me yesterday, I would have taken him to the movies. </strong></span></span><br/>
            <em><span style="color:#006600"><span style="font-size:14px">Nếu hôm qua nó đến thăm tôi thì tôi đã đưa nó đi xem phim rồi.</span></span></em>
        </li>
        <li style="text-align:justify"><span style="font-size:14px"><span style="color:#000000"><strong>Ex: If I hadn’t been absent yesterday, I would have met him. </strong></span><br/>  	<span
                style="color:#006600"><em>Nếu hôm qua tôi không vắng mặt thì tôi đã gặp mặt anh ta rồi.</em></span></span>
        </li>
    </ul>
    <p style="text-align:center"><br/> <span style="font-size:18px"><span style="color:#000000"><strong><span
            style="background-color:#f39c12">CÁC DẠNG NÂNG CAO CỦA CÂU ĐIỀU KIỆN</span></strong></span></span></p>
    <p style="text-align:justify"><br/> <span style="font-size:14px"><span style="color:#00ccff"><strong>1. Câu điều kiện diễn tả thói quen hoặc một sự thật hiển nhiên</strong></span><br/>  <span
            style="color:#000000">Câu điều kiện này diễn tả một thói quen, một hành động thường xuyên xảy ra nếu điều kiện được đáp ứng, hoặc diễn tả một sự thật hiễn nhiên, một kết quả tất yếu xảy ra.<br/>  <strong>-Cấu trúc:</strong> </span></span>
    </p>
    <table align="center" border="1" cellpadding="1" cellspacing="1" style="width:500px">
        <tbody>
        <tr>
            <td style="text-align:center"><strong><span style="color:#000000"><span style="font-size:14px">If + S + V (hiện tại), S + V (hiện tại)</span></span></strong>
            </td>
        </tr>
        </tbody>
    </table>
    <p style="text-align:justify"><br/> <span style="font-size:14px"><span style="color:#000000">• Tất cả động từ trong câu (mệnh đề chính và mệnh đề điều kiện) đều được chia ở thì hiện tại đơn.<br/>  • Nếu diễn tả thói quen, trong mệnh đề chính thường xuất hiện thêm: often, usually, or always. </span></span><br/>
        <em><strong>Ex:</strong></em></p>
    <ul>
        <li style="text-align:justify"><span style="font-size:14px"><span style="color:#000000"><strong>I often drink milk if I do not sleep at night. </strong></span><br/>  	<span
                style="color:#006600"><em>Tôi thường uống sữa nếu như tôi thức trắng đêm.</em></span></span></li>
        <li style="text-align:justify"><span style="color:#000000"><span style="font-size:14px"><strong>I usually walk to school if I have enough time. </strong></span></span><br/>
            <span style="color:#006600"><span style="font-size:14px"><em>Tôi thường đi bộ đến trường nếu tôi có thời gian.</em></span></span>
        </li>
        <li style="text-align:justify"><span style="color:#000000"><span style="font-size:14px"><strong>If you heat ice, it turns to water. </strong></span></span><br/>
            <span style="color:#006600"><span
                    style="font-size:14px"><em>Nếu bạn làm nóng nước đá, nó sẽ chảy ra.</em></span></span></li>
        <li style="text-align:justify"><span style="color:#000000"><span style="font-size:14px"><strong>If we are cold, we shiver. </strong></span></span><br/>
            <span style="color:#006600"><span
                    style="font-size:14px"><em>Nếu bị lạnh, chúng ta sẽ run lên.</em></span></span></li>
    </ul>
    <p style="text-align:justify"><br/> <span style="font-size:14px"><span style="color:#00ccff"><strong>2. Câu điều kiện hỗn hợp:</strong></span><br/>  <span
            style="color:#000000">Trong tiếng Anh có nhiều cách khác nhau được dùng diễn tả điều kiện trong mệnh đề chỉ điều kiện với "If". Ngoài 3 loại chính nêu trên, một số loại sau cũng được sử dụng trong giao tiếp và ngôn ngữ viết:<br/>  <strong>Ex: </strong></span></span>
    </p>
    <ul>
        <li style="text-align:justify"><strong><span style="color:#000000"><span style="font-size:14px">If he worked harder at school, he would be a student now. </span></span></strong><span
                style="color:#000000"><span style="font-size:14px">(He is not a student now)</span></span></li>
        <li style="text-align:justify"><strong><span style="font-size:14px"><span style="color:#000000">If I had taken his advice, I would be rich now.</span></span></strong>
        </li>
    </ul>
    <p style="text-align:justify"><br/> <span style="font-size:14px"><span style="color:#00ccff"><strong>3. Câu điều kiện ở dạng đảo.</strong></span><br/>  <span
            style="color:#000000">Trong tiếng Anh câu điều kiện loại 2, loại 3 thường được dùng ở dạng đảo.<br/>  <strong>Ex:</strong> </span></span>
    </p>
    <ul>
        <li style="text-align:justify"><strong><span style="font-size:14px"><span style="color:#000000">Were I the president, I would build more hospitals. </span></span></strong>
        </li>
        <li style="text-align:justify"><strong><span style="font-size:14px"><span style="color:#000000">Had I taken his advice, I would be rich now.</span></span></strong>
        </li>
    </ul>
    <p style="text-align:justify"><span style="font-size:14px"><span style="color:#000000"><strong><u>Đảo ngữ của câu điều kiện</u></strong><br/>  -Đảo ngữ câu điều kiện loại 1: <u>Should + S + Vo, S + Will +Vo</u><br/>  •<em>Ex:</em> <strong>If he has free time, he’ll play tennis.</strong> => Should he have free time, he’ll play tennis<br/>  <br/>  -Đảo ngữ câu điều kiện loại 2: <u>Were + S + to + Vo, S + Would + Vo</u><br/>  • <em>Ex:</em> <strong>If I learnt Russian, I would read a Russian book.</strong> => Were I to learn Russian, I would read a Russian book<br/>  <br/>  -Đảo ngữ câu điều kiện loại 3: <u>Had + S + V3/Ved, S + Would have + V3/Ved</u><br/>  • <em>Ex:</em> <strong>If he had trained hard, he would have won the match.</strong> =>  Had he trained hard, he would have won the match.<br/>  <br/>  <strong>-If not = Unless.</strong><br/>  - Unless cũng thường được dùng trong câu điều kiện - lúc đó Unless = If not. <br/>  • Ex: Unless we start at once, we will be late.<br/>  -If we don't start at once we will be late.<br/>  -Unless you study hard, you won't pass the exams.<br/>  - If you don't study hard, you won't pass the exams.</span></span><br/>
         </p>
</div>