<meta charset="UTF-8">
<div class="first-content"><p style="text-align:justify"><span style="color:#000000"><span
        style="font-size:16px"><strong>Giới từ</strong> trong tiếng Anh xuất hiện ở hầu hết các câu nói tiếng Anh, bất kể là tiếng Anh giao tiếp hay học thuật. Ngoài ra, giới từ là từ hoặc nhóm từ thường được dùng trước danh từ hoặc đại từ để chỉ sự liên hệ giữa danh từ hoặc đại từ này với các thành phần khác trong câu.</span></span>
</p>
    <p style="text-align:justify"><br/> <span style="color:#00ccff"><span style="font-size:16px"><strong>1. Định nghĩa về giới từ</strong></span></span><br/>
        <span style="color:#000000"><span style="font-size:16px">Giới từ (Preposition) là những từ (in, on, at,…) thường đứng trước danh từ, cụm danh từ hoặc danh động từ. <br/>  <em>Ví dụ:</em><br/>  <strong>• I go to the zoo on sunday.<br/>  • I was sitting in the park at 6pm.</strong><br/>  <br/>  Ở ví dụ 1 “sunday” là tân ngữ của giới từ “on”. Ở ví dụ 2, “the park” là tân ngữ của giới từ “in”.</span></span><br/>
        <span style="color:#e74c3c"><span style="font-size:16px">Chú ý:</span></span><span style="color:#000000"><span
                style="font-size:16px"> Các bạn phải luôn phân biệt trạng từ (adverb) và giới từ, vì thường khi một từ có hai chức năng đó (vừa là trạng từ và giới từ). Điều khác nhau cơ bản là Trạng từ thì không có tân ngữ theo sau.</span></span><br/>
        <br/> <span style="color:#00ccff"><span
                style="font-size:16px"><strong>2. Các loại giới từ</strong></span></span><br/> <span
                style="color:#000000"><span style="font-size:16px">Dưới đây là một số qui tắc sử dụng của các loại giới từ phổ biến trong tiếng Anh:</span></span>
    </p>
    <p style="text-align:center"><strong><span style="color:#000000"><span
            style="font-size:16px">Giới từ chỉ thời gian</span></span></strong></p>
    <p style="text-align:center">
        <img alt="" src="file:///android_asset/images/gioi-tu-chi-thoi-gian.png"/></p></div>
<div class="last-content"><p style="text-align:center"><br/> <span style="color:#000000"><span
        style="font-size:16px"><strong>Giới từ chỉ vị trí</strong></span></span></p>
    <p style="text-align:center">
        <img alt="" src="file:///android_asset/images/gioi-tu-chi-vi-tri.png"/></p>
    <p style="text-align:center"><br/> <span style="color:#000000"><span style="font-size:16px"><strong>Một số giới từ quan trọng khác:</strong></span></span><br/>
         </p>
    <p style="text-align:center">
        <img alt="" src="file:///android_asset/images/mot-so-gioi-tu-quan-trong-khac.png"/></p>
</div>