<meta charset="UTF-8">
<div class="first-content">
    <p style="text-align:justify"><span style="color:#00ccff"><span style="font-size:16px">#1. V-ing +sth + be +adj-if not impossible </span></span><br/>
        <span style="color:#000000"><span style="font-size:16px">- Khi chúng ta miêu tả hành động mà cơ hội thành công rất thấp. Những tính từ (adj) ở đây thường là <strong>diffifult, hard, dangerous, adventurous...</strong><br/>  <em>Ex:</em> <strong>Traveling alone into a jungle is adventurous – if not impossible</strong> = <em>Đi một mình vào khu rừng là mạo hiểm – nếu không nói là không thể)</em></span></span>
    </p>
    <p style="text-align:justify"><span style="color:#00ccff"><span style="font-size:16px">#2. There + be + no + N + nor + N </span></span><br/>
        <span style="color:#000000"><span
                style="font-size:16px">Nghĩa là: "Không có...và cũng không có"<br/>  <em>Ex:</em> <strong>There is no food nor water</strong> =<em> không có thức ăn và cũng không có nước</em></span></span>
    </p>
    <p style="text-align:justify"><span style="color:#00ccff"><span style="font-size:16px">#3. There isn’t/wasn’t time to V/be + adj </span></span><br/>
        <span style="color:#000000"><span style="font-size:16px">Nghĩa là: “đã không kịp/không đủ thời gian”<br/>  <em>Ex:</em> <strong>There wasn’t time to identify what is was</strong> = <em>Không kịp nhận ra đó là cái gì.</em></span></span>
    </p></div>
<div class="last-content"><p style="text-align:justify"><span style="color:#00ccff"><span style="font-size:16px">#4. S+ may + put on a +adj + front but inside + S + adj...  </span></span><br/>
    <span style="color:#000000"><span style="font-size:16px">Nghĩa là: bề ngoài ai đó tỏ ra như thế này nhưng thực chất bên trong họ có những cảm xúc, trạng thái ngược lại.<br/>  <em>Ex:</em> <strong>You may put on a brave front but inside you are fearful and anxious = </strong><em>Bề ngoài bạn có vẻ dũng cảm nhưng thực chất bên trong bạn rất sợ hãi và lo âu.</em></span></span>
</p>
    <p style="text-align:justify"><span style="color:#00ccff"><span style="font-size:16px">#5. S + see oneself + V-ing...</span></span><span
            style="color:#000000"><span style="font-size:16px"> <br/>  Dùng mẫu câu trên để diễn tả khi ai đó có cơ hội được tận hưởng hay được thực hiện cái gì.<br/>  <em>Ex:</em> <strong>You can see yourself riding a cable-car in San Francisco</strong> = <em>Bạn có cơ hội được đi cáp treo ở San Francisco.</em></span></span>
    </p>
    <p style="text-align:justify"><span style="color:#00ccff"><span style="font-size:16px">#6. There (not) appear to be + N... </span></span><br/>
        <span style="color:#000000"><span style="font-size:16px">Dùng appear = seem to với ý nghĩa: dường như thế<br/>  <em>Ex:</em> <strong>There didn’t appear to be anything in the museum</strong> = <em>Dường như không có gì trong bảo tàng cả.</em></span></span>
    </p></div>