<meta charset="UTF-8">
<div class="first-content">
    <p style="text-align:justify"><br/> <span style="color:#00ccff"><span style="font-size:16px">1. S + be + too + adj + to do smt</span></span><br/>
        <span style="color:#000000"><span style="font-size:16px">(Quá làm sao để làm gì)<br/>  <em>Ex:</em> <strong>I’m too young to get married</strong> = <em>Tôi còn quá trẻ để kết hôn</em></span></span>
    </p>
    <p style="text-align:justify"><span style="color:#00ccff"><span style="font-size:16px">2. To want smb to do smt + to want to have smt + Pll</span></span><br/>
        <span style="color:#000000"><span style="font-size:16px">(Muốn ai đó làm gì = Muốn cái gì được làm)<br/>  <em>Ex:</em> <strong>She wants someone to make her dress = </strong><em>Cô ấy muốn đó may cho cô ấy một chiếc váy.</em></span></span>
    </p>
    <p style="text-align:justify"><span style="color:#00ccff"><span
            style="font-size:16px">3. It’s time smb did smt</span></span><br/> <span style="color:#000000"><span
            style="font-size:16px">(Đã đến lúc ai phải làm gì)<br/>  <em>Ex: </em><strong>It’s time we went home =</strong> <em>Đã đến lúc chúng tôi phải về nhà.</em></span></span>
    </p>
    <p style="text-align:justify"><span style="color:#00ccff"><span style="font-size:16px">4. It’s not necessary for sb to V = Sb don’t need to do sth</span></span><br/>
        <span style="color:#000000"><span style="font-size:16px">(Ai không cần phải làm gì)<br/>  <em>Ex:</em> <strong>It is necessary for you to do this exercise = </strong><em>Bạn không cần phải làm bài tập này.</em></span></span>
    </p></div>
<div class="last-content"><p style="text-align:justify"><span style="color:#00ccff"><span style="font-size:16px">5. To look forward to V-ing</span></span><br/>
    <span style="color:#000000"><span style="font-size:16px">(Mong chờ/ mong đợi làm gì…)<br/>  <em>Ex:</em> <strong>We are looking forward to going on holiday = </strong><em>Chúng tôi đang mong được đi nghỉ.</em></span></span>
</p>
    <p style="text-align:justify"><span style="color:#00ccff"><span
            style="font-size:16px">6. To provide smb with smth</span></span><br/> <span style="color:#000000"><span
            style="font-size:16px">(Cung cấp cho ai cái gì)<br/>  <em>Ex:</em> <strong>Can you provide us with some books in history = </strong><em>Bạn có thể cung cấp cho chúng tôi một số sách về lịch sử?</em></span></span>
    </p>
    <p style="text-align:justify"><span style="color:#00ccff"><span
            style="font-size:16px">7. To fail to do smt</span></span><br/> <span style="color:#000000"><span
            style="font-size:16px">(Không làm được cái gì)<br/>  <em>Ex:</em> <strong>We failed to do this exercise =</strong> <em>Chúng tôi không thể làm được bài tập này.</em></span></span>
    </p>
    <p style="text-align:justify"><span style="color:#00ccff"><span
            style="font-size:16px">8. S + succeed in V-ing/ N</span></span><br/> <span style="color:#000000"><span
            style="font-size:16px">(Thành công trong công việc làm cái gì)<br/>  <em>Ex:</em> <strong>We succeed in passing the exam = </strong><em>Chúng tôi đã thi đỗ.</em></span></span>
    </p>
    <p style="text-align:justify"><span style="color:#00ccff"><span
            style="font-size:16px">9. To borrow smt from smb</span></span><br/> <span style="color:#000000"><span
            style="font-size:16px">(Mượn cái gì của ai)<br/>  <em>Ex: </em><strong>She borrowed this book from the library =</strong> <em>Cô ấy mượn cuốn sách này ở thư viện.</em></span></span>
    </p>
    <p style="text-align:justify"><span style="color:#00ccff"><span
            style="font-size:16px">10. To lend smb smt </span></span><br/> <span style="color:#000000"><span
            style="font-size:16px">(Cho ai mượn cái gì)<br/>  <em>Ex:</em> <strong>Can you lend me sonme money? =</strong> <em>Bạn có thể cho tôi vay ít tiền được không?</em></span></span>
    </p>
    <p style="text-align:justify"><span style="color:#00ccff"><span style="font-size:16px">11. To make sb do sth</span></span><br/>
        <span style="color:#000000"><span style="font-size:16px">(Bắt ai làm gì)<br/>  <em>Ex:</em> <strong>The teacher made us do a lot homework =</strong> <em>Giáo viên bắt chúng tôi làm rất nhiều bài tập ở nhà</em></span></span>
    </p>
    <p style="text-align:justify"><span style="color:#00ccff"><span style="font-size:16px">12. S + be + so + adj + that + S + V</span></span><br/>
        <span style="color:#000000"><span style="font-size:16px">(Đến mức mà)<br/>  <em>Ex:</em> <strong>The exercise is so difficult that noone do it =</strong> <em>Bài tập khó đến mức không ai làm cả.</em></span></span>
    </p>
    <p style="text-align:justify"><span style="color:#00ccff"><span
            style="font-size:16px">13. S + V + so +adv</span></span><br/> <span style="color:#000000"><span
            style="font-size:16px">(Ai làm gì như thế nào)<br/>  <em>Ex:</em> <strong>He spoke so quickly that I couldn’t understand him =</strong> <em>Anh ta nói nhanh đến mức mà tôi không thể hiểu được.</em></span></span>
    </p>
    <p style="text-align:justify"><span style="color:#00ccff"><span style="font-size:16px">14. S + be + such + a/an + adj + N + that + S + V</span></span><br/>
        <span style="color:#000000"><span
                style="font-size:16px">(Ai là một cái gì, đến mức…)<br/>  <em>Ex:</em> <strong>It is such as difficult exercise that noone can do it =</strong> <em>Đó là một bài tập khó đến nỗi không ai có thể làm được.</em></span></span>
    </p>
    <p style="text-align:justify"><span style="color:#00ccff"><span style="font-size:16px">15. It is very kind of sb to do sth</span></span><br/>
        <span style="color:#000000"><span style="font-size:16px">(Ai thật tốt bụng/ từ tế khi làm gì)<br/>  <em>Ex:</em> <strong>It is very kind of you to help me =</strong> <em>Bạn thật tốt vì đã giúp đỡ tôi.</em></span></span>
    </p>
    <p style="text-align:justify"><span style="color:#00ccff"><span style="font-size:16px">16. S + make sure of smt that + S + V</span></span><br/>
        <span style="color:#000000"><span style="font-size:16px">(Đảm bảo điều gì)<br/>  <em>Ex:</em> <strong>You have to make sure that you‘ll pass the exam =</strong> <em>Bạn phải đảm bảo là bạn sẽ thi đỗ.</em></span></span>
    </p>
    <p style="text-align:justify"><span style="color:#00ccff"><span style="font-size:16px">17. To have no idea of sth = don’t know about sth</span></span><br/>
        <span style="color:#000000"><span style="font-size:16px">(Không biết về cái gì)<br/>  <em>Ex:</em> <strong>I have no idea of this word = I don’t know this word =</strong> <em>Tôi không biết từ này.</em></span></span>
    </p>
    <p style="text-align:justify"><span style="color:#00ccff"><span style="font-size:16px">18. To advise smb to do smt/ not to do sth</span></span><br/>
        <span style="color:#000000"><span
                style="font-size:16px">(Khuyên ai làm gì/ không làm gì)<br/>  <em>Ex:</em> <strong>Our teacher advises us to do study hard =</strong> <em>Cô giáo khuyên chúng tôi học hành chăm chỉ</em></span></span>
    </p>
    <p style="text-align:justify"><span style="color:#00ccff"><span style="font-size:16px">19. To plan to do sth</span></span><br/>
        <span style="color:#000000"><span
                style="font-size:16px">(Dự định/ có kế hoạch làm gì)<br/>  <em>Ex:</em> <strong>We planed to go for a picnic =</strong> <em>Chúng tôi dự định đi dã ngoại.</em></span></span>
    </p>
    <p style="text-align:justify"><span style="color:#00ccff"><span
            style="font-size:16px">20. To invite smb to do smt</span></span><br/> <span style="color:#000000"><span
            style="font-size:16px">(Mời ai làm gì)<br/>  <em>Ex:</em> <strong>They invited me to go to the cinema = </strong><em>Họ mời tôi đi xem phim.</em></span></span>
    </p>
    <p style="text-align:justify"><span style="color:#00ccff"><span
            style="font-size:16px">21. S + offer sb sth</span></span><br/> <span style="color:#000000"><span
            style="font-size:16px">(Mời/ đề nghị ai cái gì)<br/>  <em>Ex:</em> <strong>He offered me a job in his company =</strong> <em>Anh ta mời tôi làm việc cho công ty anh ta.</em></span></span>
    </p>
    <p style="text-align:justify"><span style="color:#00ccff"><span
            style="font-size:16px">22. S + rely on sb</span></span><br/> <span style="color:#000000"><span
            style="font-size:16px">(Tin cậy, dựa dẫm vào ai)<br/>  <em>Ex:</em> <strong>You can rely on him = </strong><em>Bạn có thể tin anh ấy.</em></span></span>
    </p>
    <p style="text-align:justify"><br/> <span style="color:#00ccff"><span
            style="font-size:16px">23. S + keep promise</span></span><br/> <span style="color:#000000"><span
            style="font-size:16px">(Giữ lời hứa)<br/>  <em>Ex:</em> <strong>He always keeps promises =</strong> <em>Anh ấy luôn giữ lời hứa</em></span></span>
    </p>
    <p style="text-align:justify"><span style="color:#00ccff"><span style="font-size:16px">24. S + be able to do sth = to be capable of + V-ing</span></span><br/>
        <span style="color:#000000"><span style="font-size:16px">(Có khả năng làm gì)<br/>  <em>Ex:</em> <strong>I’m able to speak English =</strong> <strong>I am capable of speaking English =</strong> <em>Tôi có thể nói Tiếng Anh</em></span></span>
    </p>
    <p style="text-align:justify"><span style="color:#00ccff"><span style="font-size:16px">25. S + apologize for doing sth</span></span><br/>
        <span style="color:#000000"><span style="font-size:16px">(Xin lỗi ai vì đã làm gì)<br/>  <em>Ex:</em> <strong>I apologize for being rude to you =</strong> <em>Tôi xin lỗi vì đã bất lịch sự với bạn.</em></span></span>
    </p>
    <p style="text-align:justify"><span style="color:#00ccff"><span style="font-size:16px">26. S + try to do sth</span></span><br/>
        <span style="color:#000000"><span style="font-size:16px">(Cố làm gì)<br/>  <em>Ex:</em> <strong>We tried to learn hard =</strong> <em>Chúng tôi đã cố học chăm chỉ.</em></span></span>
    </p>
    <p style="text-align:justify"><span style="color:#00ccff"><span style="font-size:16px">27. S + try doing sth</span></span><br/>
        <span style="color:#000000"><span style="font-size:16px">(Thử làm gì)<br/>  <em>Ex:</em> <strong>We tried cooking this food =</strong> <em>Chúng tôi đã nấu thử món ăn này.</em></span></span>
    </p>
    <p style="text-align:justify"><span style="color:#00ccff"><span style="font-size:16px">28. S + need to do sth</span></span><br/>
        <span style="color:#000000"><span style="font-size:16px">(Cần làm gì)<br/>  <em>Ex:</em> <strong>You need to work harder =</strong> <em>Bạn cần làm việc tích cực hơn.</em></span></span>
    </p>
    <p style="text-align:justify"><span style="color:#00ccff"><span style="font-size:16px">29. S + need doing sth</span></span><br/>
        <span style="color:#000000"><span style="font-size:16px">(Cần làm gì)<br/>  <em>Ex:</em> <strong>This car needs repairing =</strong> <em>Chiếc ô tô này cần được sửa.</em></span></span>
    </p>
    <p style="text-align:justify"><span style="color:#00ccff"><span
            style="font-size:16px">30. S + remember doing sth</span></span><br/> <span style="color:#000000"><span
            style="font-size:16px">(Nhớ làm gì)<br/>  <em>Ex:</em> <strong>I remember seeing the film =</strong> <em>Tôi nhớ là đã xem bộ phim này.</em></span></span>
    </p>
    <p style="text-align:justify"><span style="color:#00ccff"><span
            style="font-size:16px">31. S + remember to do sth</span></span><br/> <span style="color:#000000"><span
            style="font-size:16px">(Nhớ làm gì)<br/>  <em>Ex:</em> <strong>Remember to do your work =</strong> <em>Hãy nhớ làm bài tập về nhà</em></span></span>
    </p>
    <p style="text-align:justify"><span style="color:#00ccff"><span
            style="font-size:16px">32. S + be + busy doing smt</span></span><br/> <span style="color:#000000"><span
            style="font-size:16px">(Bận rộn làm gì)<br/>  <em>Ex:</em> <strong>We are busy preparing for our exam =</strong> <em>Chúng tôi đang bận rộn chẩn bị cho kỳ thi.</em></span></span>
    </p>
    <p style="text-align:justify"><span style="color:#00ccff"><span style="font-size:16px">33. S + mind doing smt</span></span><br/>
        <span style="color:#000000"><span style="font-size:16px">(Phiền làm gì)<br/>  <strong>Ex: Do/ Would you mind closing the door for me? =</strong> <em>Bạn có thể đóng cửa giúp tôi không?</em></span></span>
    </p>
    <p style="text-align:justify"><span style="color:#00ccff"><span
            style="font-size:16px">34. S + be used to doing smt</span></span><br/> <span style="color:#000000"><span
            style="font-size:16px">(Quen với việc làm gì)<br/>  <em>Ex:</em> <strong>We are used to getting up early =</strong> <em>Chúng tôi đã quen dậy sớm.</em></span></span>
    </p>
    <p style="text-align:justify"><span style="color:#00ccff"><span style="font-size:16px">35. S + stop to do smt</span></span><br/>
        <span style="color:#000000"><span style="font-size:16px">(Dừng lại đề làm gì)<br/>  <em>Ex:</em> <strong>We stopped to buy some petrol =</strong> <em>Chúng tôi đã dừng lại để mua xăng.</em></span></span>
    </p>
    <p style="text-align:justify"><span style="color:#00ccff"><span style="font-size:16px">36. To stop doing smt</span></span><br/>
        <span style="color:#000000"><span style="font-size:16px">(Tôi không làm gì nữa)<br/>  <em>Ex:</em> <strong>We stopped going out late =</strong> <em>Chúng tôi không đi chơi khuya nữa.</em></span></span>
    </p>
    <p style="text-align:justify"><span style="color:#00ccff"><span
            style="font-size:16px">37. Let smb do smt</span></span><br/> <span style="color:#000000"><span
            style="font-size:16px">(Để ai làm gì)<br/>  <em>Ex: </em><strong>Let him come in =</strong> <em>Để anh ta vào.</em></span></span>
    </p>
    <p style="text-align:justify"><span style="color:#00ccff"><span
            style="font-size:16px">38. S + allow sb + to do sth</span></span><br/> <span style="color:#000000"><span
            style="font-size:16px">(Cho phép ai làm gì)<br/>  <strong>Ex:</strong> <strong>My parents allow my sister to come home late=</strong> <em>Ba mẹ tôi cho phép chị tôi về muộn.</em></span></span>
    </p>
    <p style="text-align:justify"><span style="color:#00ccff"><span style="font-size:16px">39. S + help + someone + do sth</span></span><br/>
        <span style="color:#000000"><span style="font-size:16px">(Giúp ai làm gì)<br/>  <em>Ex:</em> <strong>She helps me do my homework =</strong> <em>Cô ấy giúp tôi làm bài tập.</em></span></span>
    </p>
    <p style="text-align:justify"><span style="color:#00ccff"><span style="font-size:16px">40. S + be + looking forward + to + V-ing</span></span><br/>
        <span style="color:#000000"><span style="font-size:16px">(Trông mong điều gì)<br/>  <em>Ex:</em> <strong>I’m looking forward to reading her new book =</strong> <em>Tôi mong đợi được đọc cuốn sách mới của cô ấy.</em></span></span><br/>
         </p>
    </div>