<meta charset="UTF-8">
<div class="first-content">
    <p style="text-align:justify"><span style="font-size:16px"><span style="color:#00ccff">1. S + V + too + adj/adv + (for someone) +to do sth</span><br/>  <span
            style="color:#000000">(Quá…để cho ai làm gì…)<br/>  <em>Ex:</em> <strong>This structure is too easy for you to remember =</strong><em> cấu trúc này quá dễ để bạn nhớ</em></span></span>
    </p>
    <p style="text-align:justify"><span style="font-size:16px"><span style="color:#00ccff">2. S + V + so + adj/adv + that + S + V</span><br/>  <span
            style="color:#000000">(Quá…đến nỗi mà…)<br/>  <em>Ex:</em> <strong>This box is so heavy that I cannot take it</strong> =<em>Chiếc hộp này quá nặng đến nỗi tôi không nhấc lên được.</em></span></span>
    </p></div>
<div class="last-content"><p style="text-align:justify"><span style="font-size:16px"><span style="color:#00ccff">3. It + V + such + a/an singular N / plural N + that + S + V</span><br/>  <span
        style="color:#000000">(Quá…đến nỗi mà…)<br/>  <em>Ex:</em> <strong>It is such a heavy box that I cannot take it </strong>= Chiếc hộp nặng đến nỗi tôi không nhấc lên được.</span></span>
</p>
    <p style="text-align:justify"><span style="font-size:16px"><span style="color:#00ccff">4. S + V + adj/adv + enough + (for someone) + to do sth.</span><br/>  <span
            style="color:#000000">(Đủ…cho ai đó làm gì…)<br/>  <em>Ex:</em> <strong>She is old enough to get married</strong> <strong>=</strong><em>Cô ấy đủ lớn để kết hôn.</em></span></span>
    </p>
    <p style="text-align:justify"><span style="font-size:16px"><span style="color:#33ccff">5. Have/get + something + done (Past participle)</span><br/>  <span
            style="color:#000000">(Nhờ ai hoặc thuê ai làm gì…)<br/>  <em>Ex: </em><strong>I had my hair cut yesterday =</strong><em>Tôi đi cắt tóc hôm qua.</em></span></span>
    </p>
    <p style="text-align:justify"><span style="font-size:16px"><span style="color:#00ccff">6. It + be + time + S + V (-ed, cột 2)</span><br/>  <span
            style="color:#000000">(Đã đến lúc ai đó phải làm gì…)<br/>  <em>Ex:</em> <strong>It is time you had a shower = </strong><em>Đã đến lúc bạn phải đi tắm.</em></span></span>
    </p>
    <p style="text-align:justify"><span style="font-size:16px"><span style="color:#00ccff">7. It’s + time + for someone + to do sth</span><br/>  <span
            style="color:#000000">(Đã đến lúc ai đó phải làm gì…)<br/>  <em>Ex:</em> <strong>It’s time for me to ask all of you this question = </strong><em>Đã đến lúc tôi hỏi các bạn câu hỏi này.</em></span></span>
    </p>
    <p style="text-align:justify"><span style="font-size:16px"><span style="color:#00ccff">8. It + take/took +someone + (time) + to do something</span><br/>  <span
            style="color:#000000">(Làm gì…mất bao nhiêu thời gian…)<br/>  <em>Ex:</em> <strong>It takes me 5 minutes to get school =</strong> <em>Tôi mất 5 phút để học.</em></span></span>
    </p>
    <p style="text-align:justify"><span style="font-size:16px"><span style="color:#00ccff">9. S + prevent/stop + someone/sth + from + V-ing</span><br/>  <span
            style="color:#000000">(Ai ngăn cản ai/ cái gì…làm gì…)<br/>  <em>Ex:</em> <strong>He prevented us from parking our car here = </strong><em>Anh ấy ngăn cản chúng tôi không được đỗ xe tại đây.</em></span></span>
    </p>
    <p style="text-align:justify"><span style="font-size:16px"><span style="color:#00ccff">10. S + find + it + adj + to do sth</span><br/>  <span
            style="color:#000000">(Thấy…để làm gì…)<br/>  <em>Ex:</em> <strong>I find it very diffcult to learn English = </strong><em>Tôi thấy quá khó để học Tiếng Anh.</em></span></span>
    </p>
    <p style="text-align:justify"><span style="font-size:16px"><span style="color:#00ccff">11. S + prefer + N/V-ing + to + N/V-ing</span><br/>  <span
            style="color:#000000">(Thích cái gì/ làm gì hơn/ làm gì…)<br/>  <em>Ex:</em> <strong>I prefer dog to cat =</strong> <em>Tôi thích chó hơn mèo.</em></span></span>
    </p>
    <p style="text-align:justify"><span style="font-size:16px"><span style="color:#00ccff">12. S + would rather + bare V + than + bare V</span><br/>  <span
            style="color:#000000">(Thà làm gì còn hơn làm gì…)<br/>  <em>Ex:</em> <strong>I’d rather learn English than learn Biology = </strong><em>Tôi thà học Tiếng Anh còn hơn học Sinh học.</em></span></span>
    </p>
    <p style="text-align:justify"><span style="font-size:16px"><span
            style="color:#00ccff">13. To be/get Used to + V-ing</span><br/>  <span
            style="color:#000000">(Quen làm gì…)<br/>  <em>Ex:</em> <strong>I am used to eating with choptisks = </strong><em>Tôi quen với việc dùng đũa để ăn.</em></span></span>
    </p>
    <p style="text-align:justify"><span style="font-size:16px"><span
            style="color:#00ccff">14. S + used to + bare V</span><br/>  <span style="color:#000000">(Thường làm gì trong quá khứ và bây giờ không làm nữa)<br/>  <em>Ex:</em><strong> I used to go fishing with my friend when I was young = </strong><em>Tôi từng đi câu cá với bạn tôi hồi nhỏ.</em></span></span>
    </p>
    <p style="text-align:justify"><span style="font-size:16px"><span style="color:#00ccff">15. S be amazed/supprised at + N/V-ing</span><br/>  <span
            style="color:#000000">(Ngạc nhiên về…)<br/>  <em>Ex:</em> <strong>I was amazed at his big beautiful villa =</strong> <em>Tôi đã rất ngạc nhiên về căn biệt thự đẹp của anh ấy.</em></span></span>
    </p>
    <p style="text-align:justify"><span style="font-size:16px"><span
            style="color:#00ccff">16. S + be angry at + N/V-ing</span><br/>  <span style="color:#000000">(Tức giận cái gì…)<br/>  <em>Ex:</em> <strong>Her mother was very angry at her bad marks = </strong><em>Mẹ cô ấy đã rất tức giận về những yếu kém của cô ấy.</em></span></span>
    </p>
    <p style="text-align:justify"><span style="font-size:16px"><span style="color:#00ccff">17. S + be good at/ bad at + N/V-ing</span><br/>  <span
            style="color:#000000">(Giỏi về/ kém về…)<br/>  <em>Ex:</em> <strong>I am good at swimming =</strong> <em>Tôi bơi rất giỏi.</em></span></span>
    </p>
    <p style="text-align:justify"><span style="font-size:16px"><span style="color:#00ccff">18. By chance = by accident (adv)</span><br/>  <span
            style="color:#000000">(Tình cờ)<br/>  <em>Ex:</em> <strong>I met her in Paris by chance last week =</strong> <em>Tôi tình cờ gặp cô ấy tại Paris tuần trước.</em></span></span>
    </p>
    <p style="text-align:justify"><span style="font-size:16px"><span style="color:#00ccff">19. To be/ get tired of + N/V-ing</span><br/>  <span
            style="color:#000000">(Mệt mỏi về…)<br/>  <em>Ex:</em> <strong>My mother was tired of doing too much housework everyday =</strong> <em>Mẹ tôi quá mệt mỏi vì phải làm việc nhà mỗi ngày.</em></span></span>
    </p>
    <p style="text-align:justify"><span style="font-size:16px"><span style="color:#00ccff">20. Can’t stand/ help/ bear/ resist + V-ing</span><br/>  <span
            style="color:#000000">(Không chịu nổi/ không nhịn được làm gì…)<br/>  <em>Ex:</em> <strong>She can’t stand laughing at her little dog = </strong><em>Cô ấy không thể nhịn cười với con chó của mình.</em></span></span>
    </p>
    <p style="text-align:justify"><span style="font-size:16px"><span style="color:#00ccff">21. To be keen on/to be fond of + N/V-ing</span><br/>  <span
            style="color:#000000">(Thích làm gì đó…)<br/>  <em>Ex:</em> <strong>My youger sister is fond of playing with her dolls = </strong><em>Em gái tôi thích chơi búp bê.</em></span></span>
    </p>
    <p style="text-align:justify"><span style="font-size:16px"><span style="color:#00ccff">22. To be interested in + N/ V-ing</span><br/>  <span
            style="color:#000000">(Thích thú với cái gì…)<br/>  <em>Ex:</em> <strong>Mrs Brown is interested in going shopping on Sundays = </strong><em>Bà Brown thích việc đi mua sắm vào mỗi Chủ Nhật.</em></span></span>
    </p>
    <p style="text-align:justify"><span style="font-size:16px"><span style="color:#00ccff">23. To waste + time/money + (on) + N/V-ing</span><br/>  <span
            style="color:#000000">(Tốn tiền hoặc tốn thời gian làm gì)<br/>  <em>Ex:</em> <strong>He always wastes time (on) playing computer games each day. = </strong><em>Anh ấy luôn tốn thời gian để chơi điện tử mỗi ngày.</em></span></span>
    </p>
    <p style="text-align:justify"><span style="font-size:16px"><span style="color:#00ccff">24. To spend + amount of time/ money + V-ing</span><br/>  <span
            style="color:#000000">(Dành bao nhiêu thời gian/ tiền bạc làm gì…)<br/>  <em>Ex:</em><strong> I spend 2 hours reading books a day =</strong> <em>Tôi luôn dành 2 giờ để đọc sách mỗi ngày.</em></span></span>
    </p>
    <p style="text-align:justify"><span style="font-size:16px"><span style="color:#00ccff">25. To spend + amount of time/ money + on + sth</span><br/>  <span
            style="color:#000000">(Dành thời gian/ tiền bạc vào việc gì…)<br/>  <em>Ex:</em> <strong>She spent all of her money on clothes = </strong><em>Cô ấy dành tất cả tiền bạc vào quần áo.</em></span></span>
    </p>
    <p style="text-align:justify"><span style="font-size:16px"><span
            style="color:#00ccff">26. S + give up + V-ing/ N</span><br/>  <span style="color:#000000">(Từ bỏ làm gì/ cái gì…)<br/>  <em>Ex:</em> <strong>You should give up smoking as soon as possible = </strong><em>bạn nên từ bỏ việc hút thuốc lá sớm nhất có thể.</em></span></span>
    </p>
    <p style="text-align:justify"><span style="font-size:16px"><span style="color:#00ccff">27. S + would like/want/wish + to do sth</span><br/>  <span
            style="color:#000000">(Thích làm gì…)<br/>  <em>Ex:</em> <strong>I would like to go the cinema with you tonight  = </strong><em>Tôi thích đi xem phim với bạn tối nay.</em></span></span>
    </p>
    <p style="text-align:justify"><span style="font-size:16px"><span
            style="color:#00ccff">28. S + have + sth + to V</span><br/>  <span style="color:#000000">(Có cái gì đó để làm gì)<br/>  <em>Ex:</em> <strong>I have many things to do this week = </strong><em>Tôi có nhiều việc để làm trong tuần này.</em></span></span>
    </p>
    <p style="text-align:justify"><span style="font-size:16px"><span style="color:#00ccff">29. It + be + something/ someone + that/ who</span><br/>  <span
            style="color:#000000">(Chính…mà)<br/>  <em>Ex:</em> <strong>It is Tom who got the best marks in my class = </strong><em>Đó chính là Tom, người có điểm cao nhất lớp.</em></span></span>
    </p>
    <p style="text-align:justify"><span style="font-size:16px"><span
            style="color:#00ccff">30. Had better + bare V</span><br/>  <span
            style="color:#000000">(Nên làm gì…)<br/>  <em>Ex:</em> <strong>You had better go to see the doctor =</strong> <em>Bạn nên đến bác sĩ.</em></span></span>
    </p>
    <p style="text-align:justify"><span style="font-size:16px"><span style="color:#00ccff">31. S + hate/ dislike/ avoid + doing sth</span><br/>  <span
            style="color:#000000">(Không thích làm gì…)<br/>  <em>Ex:</em> <strong>I hate going to work everyday = </strong><em>Tôi ghét đi làm mỗi ngày.</em></span></span>
    </p>
    <p style="text-align:justify"><span style="font-size:16px"><span style="color:#00ccff">32. S + like/fancy/love + N/V-ing</span><br/>  <span
            style="color:#000000">(Thích làm gì…)<br/>  <em>Ex:</em> <strong>I like drawing = </strong><em>Tôi thích vẽ.</em></span></span>
    </p>
    <p style="text-align:justify"><span style="font-size:16px"><span style="color:#00ccff">33. S + delay/postpone + N/V-ing</span><br/>  <span
            style="color:#000000">(Trì hoãn làm gì…)<br/>  <em>Ex:</em> <strong>They delay the show =</strong> <em>Họ hoãn buổi biểu diễn</em></span></span>
    </p>
    <p style="text-align:justify"><span style="font-size:16px"><span style="color:#00ccff">34. S + suggest/consider + N/V-ing</span><br/>  <span
            style="color:#000000">(Gợi ý/ cân nhắc làm gì)<br/>  <em>Ex:</em> <strong>I suggest going out tonight =</strong> <em>Tôi đề nghị ra ngoài tối nay.</em></span></span>
    </p>
    <p style="text-align:justify"><span style="font-size:16px"><span
            style="color:#00ccff">35. S + imagine + N/V-ing</span><br/>  <span style="color:#000000">(Hình dung việc làm gì…)<br/>  <em>Ex:</em> <strong>You imagine lying on the beach =</strong> <em>Bạn hãy tưởng tượng nằm dài trên bãi biển.</em></span></span>
    </p>
    <p style="text-align:justify"><span style="font-size:16px"><span style="color:#00ccff">36. It + V + adj + (for someone) + to do sth</span><br/>  <span
            style="color:#000000">(Quá…đối với ai để làm gì…)<br/>  <em>Ex:</em> <em><strong>It is difficult for old people to learn English = </strong>Quá khó đối với người lớn tuổi để học Tiếng Anh.</em></span></span>
    </p>
    <p style="text-align:justify"><span style="font-size:16px"><span style="color:#00ccff">37. S + be interested in + N/V-ing</span><br/>  <span
            style="color:#000000">(Thích cái gì/ làm cái gì…)<br/>  <em>Ex:</em> <strong>We are interested in reading books on history =</strong> <em>Chúng tôi thích đọc sách về lịch sử.</em></span></span>
    </p>
    <p style="text-align:justify"><span style="font-size:16px"><span style="color:#00ccff">38. S + V + bored with + N/V-ing</span><br/>  <span
            style="color:#000000">(Chán làm cái gì)<br/>  <em>Ex:</em> <strong>We are bored with doing the same things everyday =</strong> <em>Chúng tôi chán ngày nào cũng làm những công việc lặp lại</em></span></span>
    </p>
    <p style="text-align:justify"><span style="font-size:16px"><span style="color:#00ccff">39. It is the first time + S + have + V3 (Past participle)</span><br/>  <span
            style="color:#000000">(Đây là lần đầu tiên làm cái gì)<br/>  <em>Ex:</em> <strong>It’s the first time we have visited this place = </strong><em>Đây là lần đầu tiên chúng tôi tới thăm nơi này.</em></span></span>
    </p>
    <p style="text-align:justify"><span style="font-size:16px"><span style="color:#00ccff">40. S + V + enough + N(s) + (to do sth)</span><br/>  <span
            style="color:#000000">(Có đủ để…làm gì…)<br/>  <em>Ex:</em> <strong>I don’t have enough time to study =</strong> <em>Tôi không có đủ thời gian để học.</em></span></span>
    </p>
</div>