<meta charset="UTF-8">
<div class="item-active" id="item-1">
    <div class="item-title-active">
        <div class="item-title-active-content">I. ĐỊNH NGHĨA
        </div>

    </div>
    <div class="item-active-content">
        <p><span style="color:#000000"><span><span
        ><strong>Thì tương lai tiếp diễn</strong> (Future Continuous) được dùng để nói về 1 hành động đang diễn ra tại một thời điểm xác định trong tương lai.</span></span></span>
        </p>
    </div>
</div>
<div class="item-active" id="item-2">
    <div class="item-title-active">
        <div class="item-title-active-content">II. CẤU TRÚC
        </div>

    </div>
    <div class="item-active-content">
        <p style="text-align:justify">
            <span style="color:#000000"><span><strong>Câu khẳng định:</strong>&nbsp; S + will + be + V-ing<br>
<strong><u>Ex:</u></strong>&nbsp;</span></span></p>

        <p style="text-align:justify"><span style="color:#000000"><span><strong>&nbsp;&nbsp;+ I will be staying at the hotel in Nha Trang at 1 p.m tomorrow. </strong></span></span><br>
            <span style="color:#006600"><span><em>Tôi sẽ đang ở khách sạn ở Nha Trang lúc 1h ngày mai.</em></span></span>
        </p>
        <p style="text-align:justify"><span style="color:#000000"><span><strong>&nbsp;&nbsp;+ She will be working at the factory when you come tomorrow.</strong></span></span><br>
            <span style="color:#006600"><span><em>Cô ấy sẽ đang làm việc tại nhà máy lúc bạn đến ngày mai.</em></span></span>
        </p>

        <p style="text-align:justify"><span style="color:#000000"><span><strong>Câu phủ định:</strong> S + will + not + be + V-ing</span></span><br>
            <span style="color:#e74c3c"><span>CHÚ Ý:&nbsp;</span></span><span style="color:#000000"><span
            >&nbsp;will not = won’t<br>
<u><strong>Ex:&nbsp;</strong></u></span></span></p>

        <p style="text-align:justify"><strong><span><span
                style="color:#000000">&nbsp;&nbsp;+ We won’t be studyingat 8 a.m tomorrow.</span></span>
        </strong><br>
            <em><span style="color:#006600"><span
            >Chúng tôi sẽ đang không học lúc 8h sáng ngày mai.</span></span></em></p>
        <p style="text-align:justify"><strong><span style="color:#000000"><span>&nbsp;&nbsp;+ The children won’t be playing with their friends when you come this weekend. </span></span></strong><br>
            <em><span style="color:#006600"><span>Bọn trẻ sẽ đang không chơi với bạn của chúng khi bạn đến vào cuối tuần này.</span></span></em>
        </p>

        <p style="text-align:justify"><span
                style="color:#000000"><span><strong>Câu nghi vấn:</strong> Will + S + be + V-ing ?<br>
<em>Trả lời:</em>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Yes, S + will&nbsp; or&nbsp;</span></span><span
                style="color:#000000"><span>No, S + won’t<br>
Ex:</span></span></p>

        <p style="text-align:justify"><span><span style="color:#000000"><strong>&nbsp;&nbsp;+ Will you be waiting for the train at 9 a.m next Monday? </strong></span><br>
	<em><span style="color:#006600">Bạn sẽ đang đợi tàu vào lúc 9h sáng thứ Hai tuần tới phải không?</span></em></span>
        </p>
        <p style="text-align:justify"><u><em><span
                style="color:#000000"><span>&nbsp;&nbsp;+ Yes, I will./ No, I won’t.</span></span></em></u>
        </p>
        <p style="text-align:justify"><span style="color:#000000"><span><strong>&nbsp;&nbsp;+ Will she be doing the housework at 10 p.m tomorrow? </strong></span></span><br>
            <span style="color:#006600"><span><em>Cô ấy sẽ đang làm công việc nhà lúc 10h tối ngày mai phải không?</em></span></span>
        </p>
        <p style="text-align:justify"><u><em><span
                style="color:#000000"><span>&nbsp;&nbsp;+ Yes, she will./ No, she won’t.</span></span></em></u>&nbsp;&nbsp;
        </p>
    </div>
</div>
<div class="item-active" id="item-3">
    <div class="item-title-active">
        <div class="item-title-active-content">III. CÁCH SỬ DỤNG
        </div>

    </div>
    <div class="item-active-content">
        <p style="text-align:justify">
            <span style="color:#000000"><span>-Dùng để diễn tả một hành động hay sự việc đang diễn ra tại một thời điểm xác định trong tương lai.<br>
<u><strong>Ex:</strong></u></span></span></p>

        <p style="text-align:justify"><span style="color:#000000"><span><strong>&nbsp;&nbsp;+ At 12 o’clock tomorrow, my friends and I will be having lunch at school. </strong></span></span><br>
            <em><span
                    style="color:#006600"><span>Vào lúc 12h ngày mai, các bạn tôi và tôi sẽ đang ăn trưa tại trường.</span></span></em>
        </p>
        <p style="text-align:justify"><strong><span style="color:#000000"><span>&nbsp;&nbsp;+ We will be climbing the mountain at this time next Saturday. </span></span></strong><br>
            <span style="color:#006600"><span><em>Chúng tôi sẽ đang leo núi vào thời điểm này thứ 7 tuần tới.</em></span></span>
        </p>

        <p style="text-align:justify"><span style="color:#000000"><span>-Dùng để diễn tả một hành động, một sự việc đang xảy ra thì một hành động, sự việc khác xen vào trong tương lai.<br>
<u><strong>Ex:</strong></u></span></span></p>

        <p style="text-align:justify"><span style="color:#000000"><span><strong>&nbsp;&nbsp;+ When you come tomorrow, they will be playingtennis. </strong></span></span><br>
            <span style="color:#006600"><span><em>Khi bạn đến vào ngày mai, thì họ sẽ đi chơi tennis rồi.</em></span></span>
        </p>
        <p style="text-align:justify"><span style="color:#000000"><span><strong>&nbsp;&nbsp;+ She will be waiting for me when I arrive tomorrow. </strong></span></span><br>
            <em><span style="color:#006600"><span
            >Cô ấy sẽ đang đợi tôi khi tôi đến vào ngày mai.</span></span></em></p>

        <p style="text-align:justify"><span style="color:#000000"><span>-Hành động sẽ diễn ra và kéo dài liên tục suốt một khoảng thời gian ở tương lai.<br>
<strong><u>Ex:</u></strong></span></span></p>

        <p style="text-align:justify"><span><span style="color:#000000"><strong>&nbsp;&nbsp;+ My parents are going to London, so I<u>’ll be staying</u>&nbsp;with my grandma for the next 2 weeks.</strong></span><br>
	<span style="color:#006600"><em>Cha mẹ tôi sẽ đi London, vì vậy tôi sẽ ở với bà trong 2 tuần tới.</em></span></span>
        </p>

        <p style="text-align:justify"><span style="color:#000000"><span>-Hành động sẽ xảy ta như một phần trong kế hoạch hoặc một phần trong thời gian biểu</span></span>
        </p>

        <p style="text-align:justify"><span
                style="color:#000000"><span><strong>&nbsp;&nbsp;+ The party<u>&nbsp;will be starting</u>&nbsp;at ten o’clock. </strong></span></span><br>
            <span style="color:#006600"><span><em>Bữa tiệc sẽ bắt đầu lúc 10 giờ.</em></span></span>
        </p>
    </div>
</div>
<div class="item-active" id="item-4">
    <div class="item-title-active">
        <div class="item-title-active-content">IV.&nbsp;DẤU HIỆU NHẬN BIẾT
        </div>

    </div>
    <div class="item-active-content">
        <span style="color:#000000"><span>Trong câu có các trạng từ chỉ thời gian trong tương lai kèm theo thời điểm xác định:<br>
– At this time/ at this moment + thời gian trong tương lai: Vào thời điểm này ….<br>
– At + giờ cụ thể + thời gian trong tương lai: vào lúc …..<br>
<u><strong>Ex:&nbsp;</strong></u></span></span>

        <p style="text-align:justify"><strong>&nbsp;</strong><span style="color:#000000"><span
        ><strong>&nbsp;&nbsp;+ At this time tomorrow I will be going shopping in Singapore. </strong></span></span><br>
            <span style="color:#006600"><span><em>Vào thời điểm này ngày mai, tôi sẽ đang đi mua sắm ở Singapore.</em></span></span>
        </p>
        <p style="text-align:justify"><span style="color:#000000"><span><strong>&nbsp;&nbsp;+ At 10 a.m tomorrow my mother will be cooking lunch. </strong></span></span><br>
            <span style="color:#006600"><span
            ><em>Vào 10h sáng ngày mai mẹ tôi sẽ đang nấu bữa trưa.</em></span></span></p>
    </div>
</div>


