<meta charset="UTF-8">
<div class="first-content">
    <p style="text-align:justify"><span style="color:#00ccff"><strong><span style="font-size:16px">1. Used to + V (infinitive) _Thường làm gì...</span></strong></span>
    </p>
    <p style="text-align:justify"><span style="font-size:16px"><span style="color:#000000">Đối với cấu trúc trong tiếng anh thì mẫu này mang ý nghĩa những hành động, thói quen thường được làm trong quá khứ nhưng hiện tại đã không còn làm nữa.</span></span>
    </p>
    <p style="text-align:justify"><em><span style="font-size:16px"><span style="color:#000000">Ví dụ:</span></span></em>
    </p>
    <p style="text-align:justify"><span style="font-size:16px"><span style="color:#000000"><strong>I used to read comic when I was young.</strong> (Tôi thường đọc truyện tranh khi tôi còn nhỏ.)</span></span>
    </p></div>
<div class="last-content"><p style="text-align:justify"><span style="font-size:16px"><span
        style="color:#000000"><strong>Jannie used to travel a lot but now, since she graduated in 2010, she didn’t.</strong> (Jannie thường hay đi du lịch rất nhiều nhưng từ khi cô ấy tốt nghiệp năm 2010, cô ấy đã không còn đi nữa.)</span></span>
</p>
    <p style="text-align:justify"><br/> <span style="color:#00ccff"><span style="font-size:16px"><strong>2. Be used to + V (ing)/ Noun_ Đã quen với...</strong></span></span>
    </p>
    <p style="text-align:justify"><span style="font-size:16px"><span style="color:#000000">Mẫu cấu trúc này nghĩa là bạn đã từng làm việc gì đó rất nhiều lần hoặc đã có kinh nghiệm với việc đó rồi. Do đó nó không còn lạ lẫm hay khó khăn gì với bạn nữa.</span></span>
    </p>
    <p style="text-align:justify"><em><span style="font-size:16px"><span style="color:#000000">Ví dụ:</span></span></em>
    </p>
    <p style="text-align:justify"><span style="font-size:16px"><span style="color:#000000"> <strong>I am used to getting up early and do exercise in the morning.</strong><br/>  (Tôi đã quen với việc dậy sớm và tập thể dục vào buổi sáng).</span></span>
    </p>
    <p style="text-align:justify"><span style="font-size:16px"><span style="color:#000000"><strong>I am not used to the new mobile phone.</strong><br/>  (Tôi vẫn chưa quen với hệ thống mới ở nhà máy).</span></span>
    </p>
    <p style="text-align:justify"><br/> <strong><span style="color:#00ccff"><span style="font-size:16px">3. Get used to + V (ing)/ Noun_ Dần quen với...</span></span></strong>
    </p>
    <p style="text-align:justify"><span style="font-size:16px"><span style="color:#000000">Ý nghĩa của mẫu cấu trúc này là bạn đang trở nên quen với việc nào đó. Đây là một quá trình để bạn thích nghi và trở nên dễ dàng hơn đối với việc đó.</span></span>
    </p>
    <p style="text-align:justify"><em><span style="font-size:16px"><span style="color:#000000">Ví dụ:</span></span></em>
    </p>
    <p style="text-align:justify"><span style="font-size:16px"><span style="color:#000000"> <strong>After a while he didn’t mind the hot weather in the desert, he got used to it.</strong><br/>  (Sau một thời gian không để ý đến thời tiết nóng bức ở sa mạc thì anh ta quen dần với nó.)</span></span>
    </p>
    <p style="text-align:justify"><span style="font-size:16px"><span style="color:#000000"><strong> I get used to take care my young sister.</strong><br/>  (Tôi đã quen dần với việc chăm sóc đứa em gái của mình.)</span></span>
    </p>
    <p style="text-align:justify"><br/> <strong><span style="color:#00ccff"><span style="font-size:16px">4. S + V + too + adj/adv + (for someone) + to do something _ Quá….để ai đó làm gì…</span></span></strong>
    </p>
    <p style="text-align:justify"><span style="font-size:16px"><span style="color:#000000">Cấu trúc này có nghĩa hành trước đó hoặc của ai đó diễn ra với cường độ cao hơn bình thường dẫn đến kết quả của hành động phía sau.</span></span>
    </p>
    <p style="text-align:justify"><em><span style="font-size:16px"><span style="color:#000000">Ví dụ:</span></span></em>
    </p>
    <p style="text-align:justify"><span style="font-size:16px"><span style="color:#000000"><strong>He read book too fast for me to hear.</strong> (Anh ấy đọc sách quá nhanh để tôi nghe kịp)</span></span>
    </p>
    <p style="text-align:justify"><span style="font-size:16px"><span style="color:#000000"><strong>The cat is too fat for it to run.</strong> (Con mèo thì quá béo để nó có thể chạy)</span></span>
    </p>
    <p style="text-align:justify"><br/> <strong><span style="color:#00ccff"><span style="font-size:16px">5. S + V + adj/ adv + enough + (for someone) + to do something _Đủ… cho ai đó làm gì…</span></span></strong><br/>
        <span style="font-size:16px"><span style="color:#000000"><em>Ví dụ:</em><br/>  <strong>She is enough money to buy a car.</strong> (Cô ấy đủ tiền để mua một chiếc xe.)<br/>  <strong>Trang are intelligent enough for me to teach she English.</strong> (Trang đủ thông minh để tôi có thể dạy cô ấy môn Tiếng Anh.)</span></span>
    </p>
    <p style="text-align:justify"><strong><span style="color:#00ccff"><span style="font-size:16px">6. It + takes/took + someone + amount of time + to do something _Mất bao nhiêu thời gian… để làm việc gì</span></span></strong>
    </p>
    <p style="text-align:justify"><span style="font-size:16px"><span style="color:#000000">Cấu trúc trong tiếng anh này giúp bạn có thể liệt kê được khoảng thời gian để sử dụng vào một việc nào đó.</span></span>
    </p>
    <p style="text-align:justify"><em><span style="font-size:16px"><span style="color:#000000">Ví dụ:</span></span></em>
    </p>
    <p style="text-align:justify"><span style="font-size:16px"><span style="color:#000000"><strong>It takes me 10 minutes to get to supermarket.</strong> (Nó thì mất khoảng 10 phút để đi đến siêu thị)<br/>  <strong>It took her 10 minutes to do this exercise yesterday.</strong> (Cô ấy mất khoảng 10 phút để tập thể dục vào ngày hôm qua)</span></span>
    </p>
    <p style="text-align:justify"> </p>
    <p style="text-align:justify"><strong><span style="color:#00ccff"><span style="font-size:16px">7. To prefer + Noun / V (ing) + to + Noun/ V (ing) _Thích cái gì/ làm việc gì hơn cái gì/ làm việc gì</span></span></strong>
    </p>
    <p style="text-align:justify"><span style="font-size:16px"><span style="color:#000000">Mẫu này dùng để biếu thị thái độ và sự yếu thích nhiều hơn đối với những sự vật, hiện tượng hay hành động, sở thích diễn ra trong cuộc sống hằng ngày và được sử dụng khá phổ biến ở cấu trúc trong tiếng anh.</span></span>
    </p>
    <p style="text-align:justify"><em><span style="font-size:16px"><span style="color:#000000">Ví dụ:</span></span></em>
    </p>
    <p style="text-align:justify"><strong><span style="font-size:16px"><span style="color:#000000">I prefer singing to reading books. </span></span></strong><span
            style="font-size:16px"><span style="color:#000000">(Tôi thích hát hơn là đọc những cuốn sách.)</span></span>
    </p>
    <p style="text-align:justify"><strong><span style="font-size:16px"><span style="color:#000000">She prefers watching TV to listening to music. </span></span></strong><span
            style="font-size:16px"><span style="color:#000000">(Cô ấy thích xem ti vi hơn là nghe nhạc.)</span></span>
    </p>
    <p style="text-align:justify"><strong><span style="color:#00ccff"><span style="font-size:16px">8. To remember + V (ing) _ Nhớ đã làm việc gì</span></span></strong>
    </p>
    <p style="text-align:justify"><em><span style="font-size:16px"><span style="color:#000000">Ví dụ:</span></span></em>
    </p>
    <p style="text-align:justify"><strong><span style="font-size:16px"><span style="color:#000000">I remember doing homework already.  </span></span></strong><span
            style="font-size:16px"><span style="color:#000000">(Tôi nhớ là đã làm bài tập về nhà rồi mà.)</span></span>
    </p>
    <p style="text-align:justify"><strong><span style="font-size:16px"><span style="color:#000000">I remember singing this song.  </span></span></strong><span
            style="font-size:16px"><span style="color:#000000">(Tôi nhớ là đã hát bài hát này rồi.)</span></span></p>
    <p style="text-align:justify"><br/> <strong><span style="color:#00ccff"><span style="font-size:16px">9. To plan to do something _ Có dự định / có kế hoạch làm việc gì</span></span></strong>
    </p>
    <p style="text-align:justify"><em><span style="font-size:16px"><span style="color:#000000">Ví dụ:</span></span></em>
    </p>
    <p style="text-align:justify"><strong><span style="font-size:16px"><span style="color:#000000">We planed to go for a picnic with you. </span></span></strong><span
            style="font-size:16px"><span style="color:#000000">(Chúng tôi có dự định đi pinic với bạn.)</span></span>
    </p>
    <p style="text-align:justify"><span style="font-size:16px"><span style="color:#000000"><strong>She planed to go to Japan</strong>  </span></span><span
            style="font-size:16px"><span style="color:#000000">(Cô ấy dự định sẽ đi Nhật Bản.)</span></span></p>
    <p style="text-align:justify"><span style="font-size:16px"><span style="color:#000000"> </span><br/>  <span
            style="color:#00ccff"><strong>10. S + find+ it+ adj to do something _ Thấy … để làm việc gì…</strong></span></span>
    </p>
    <p style="text-align:justify"><span style="font-size:16px"><span style="color:#000000">Cấu trúc trong tiếng anh được diễn đạt khá phong phú. Đối với mẫu này có thể hiểu theo nghĩa nhận thấy, cảm thấy như thế nào đó đối với sự việc, hành động diễn ra.</span></span>
    </p>
    <p style="text-align:justify"><em><span style="font-size:16px"><span
            style="color:#000000">Ví dụ: </span></span></em></p>
    <p style="text-align:justify"><span style="font-size:16px"><span style="color:#000000"><strong>I find it very difficult to developing my listening English skill.</strong> </span></span><br/>
        <span style="font-size:16px"><span style="color:#000000">(Tôi thấy rất khó để cải thiện kĩ năng nghe tiếng anh của tôi.)</span></span>
    </p>
    <p style="text-align:justify"><br/> <span style="font-size:16px"><span style="color:#000000"><strong>They found it easy to give up smoking.</strong> </span></span><span
            style="font-size:16px"><span style="color:#000000">(Họ thấy rất dễ để từ bỏ việc hút thuốc.)</span></span>
    </p>
    <p style="text-align:justify"><br/> <strong><span style="color:#00ccff"><span style="font-size:16px">11. Would rather (‘d rather) + V (infinitive) + than + V (infinitive) _Thích làm việc gì...hơn làm việc gì...</span></span></strong>
    </p>
    <p style="text-align:justify"> </p>
    <p style="text-align:justify"><em><span style="font-size:16px"><span style="color:#000000">Ví dụ:</span></span></em>
    </p>
    <p style="text-align:justify"><span style="font-size:16px"><span style="color:#000000"><strong>She would rather sleep than watch TV.</strong> </span></span><span
            style="font-size:16px"><span style="color:#000000">(Cố ấy thích ngủ hơn là xem TV..)</span></span></p>
    <p style="text-align:justify"><br/> <span style="font-size:16px"><span style="color:#000000"><strong>I’d rather learn English than learn Japanese.</strong> </span></span><span
            style="font-size:16px"><span
            style="color:#000000">(Tôi thích học tiếng Anh hơn học tiếng Nhật.)</span></span></p>
    <p style="text-align:justify"><br/> <strong><span style="color:#00ccff"><span style="font-size:16px">12. To be amazed at = to be surprised at + N/V-ing _Ngạc nhiên về cái gì/ việc gì….</span></span></strong>
    </p>
    <p style="text-align:justify"><span style="font-size:16px"><span style="color:#000000">Mẫu cấu trúc thể hiện sự ngạc nhiên về những sự việc, hành động diễn ra. Bạn có thể sử dụng nó như cách để thể hiện sự bất ngờ, hoặc cũng có thể là sự hứng thú trong quá trình giao tiếp và sử dụng cấu trúc tiếng anh của mình.</span></span>
    </p>
    <p style="text-align:justify"><span style="font-size:16px"><span
            style="color:#000000"> <em>Ví dụ:</em></span></span></p>
    <p style="text-align:justify"><span style="font-size:16px"><span style="color:#000000"><strong>I was amazed at his big beautiful house.</strong> </span></span><span
            style="font-size:16px"><span style="color:#000000">(Tôi đã ngạc nhiên về căn nhà to đẹp của anh ấy.)</span></span>
    </p>
    <p style="text-align:justify"><strong><span style="font-size:16px"><span style="color:#000000">She is surprised at his tall figure. </span></span></strong><span
            style="font-size:16px"><span
            style="color:#000000">(Cô ấy ngạc nhiên về dáng người cao của anh ấy.)</span></span></p>
</div>