<meta charset="UTF-8">
<div class="first-content">
    <p style="text-align:justify"><span style="font-size:14px"><span style="color:#d35400"><strong>1.“SO” – RẤT</strong></span><br/>  <span
            style="color:#000000"><strong>“SO” có nhiều nghĩa và cách sử dụng, nhưng nghĩa được sử dụng tương tự như “too” và “very” đó chính là “Rất”,”quá”, nhiều tới một mức độ nào đó. Thường được dùng để nhấn mạnh tính chất sự việc.</strong><br/>  <u>Ví dụ:</u> </span><span
            style="color:#ff0033">Don’t speak so loudly</span><span
            style="color:#000000">. - ( Đừng nói quá to thế)</span><br/>  <span style="color:#ff0033">-How could I have been so stupid!</span><span
            style="color:#000000">- ( Tại sao tôi có thể ngu ngốc như vậy nhỉ!)<br/>  <strong>-Chúng ta có thể sử dụng “So” đi cùng với “that” để giải thích về mức độ, tính chấ được nhấn mạnh của vấn đề.</strong><br/>  <u>Ví dụ:</u> </span><span
            style="color:#ff0033">She was so tired that she fell asleep in class</span><span style="color:#000000">. -( Cô ấy mệt mỏi đến nỗi ngủ gật luôn trong lớp)<br/>  <strong>-Chúng ta cũng có thể dùng ý nhấn mạnh, giải thích mà không cần sử dụng “that”.</strong><br/>  <u>Ví dụ:</u> </span><span
            style="color:#ff0033">I was so angry, I could have killed him</span><span style="color:#000000">! - ( Tôi đã thực sự tức giận, đáng ra tôi đã có thể giết hắn ta)</span></span>
    </p>
    <p style="text-align:justify"><br/> <span style="font-size:14px"><span style="color:#d35400"><strong>2. TOO nghĩa là : Quá, rất..</strong></span><br/>  <span
            style="color:#000000"><strong>Too cũng là một từ mang ngụ ý nhấn mạnh tuy nhiên sự nhấn mạnh của too mang nghĩa tiêu cưc . Thông thường trong câu sử dụng too chúng ta thường hiểu khi đó vấn đề được nói đến theo nghĩa nằm ngoài mức độ mà đáng lẽ nó nên xảy ra</strong><br/>   <u>Ví dụ:</u></span><br/>  <span
            style="color:#ff0033">It’s too big. I can’t bring it. Do you have anything smaller?</span><span
            style="color:#000000"> (Nó quá to. Tôi không thể mang nó. Bạn có cái gì khác nhỏ hơn không)?</span><br/>  <span
            style="color:#ff0033">– That exercise is too difficult. You’ll have to choose easier exercise, otherwise no one can do it.</span><span
            style="color:#000000"> (Bài tập này quá khó. Bạn sẽ phải chọn một bài tập dễ hơn nếu không thì không ai có thể làm nó).<br/>  <strong>TOO + tính từ là cụm có nghĩa “quá..” mang sắc thái tiêu cực, thường dẫn đến một kết quả không hay.</strong><br/>  <u> Ví dụ:</u></span><br/>  <span
            style="color:#ff0033">– The coffee is too hot. I can’t drink it.</span><span style="color:#000000"> (Cốc cà phê quá nóng. Tôi không thể uống nó)<br/>  <strong>TOO thường được sử dụng để nói đến ý nghĩa giới hạn của một sự việc hay hành động xảy ra theo cấu trúc:<br/>  X is too Y [for W] to do Z (where Z says what cannot be done because Y is above or below the limit [of W]).</strong><br/>  <u>Ví dụ:</u> </span><span
            style="color:#ff0033">English grammar is too difficult for me to understand.</span><br/>  <span
            style="color:#000000">( Ngữ pháp tiếng Anh quá là khó đối với tớ để có thể hiểu)</span></span></p></div>
<div class="last-content">                                                    </p>                                </div>