<meta charset="UTF-8">
<div class="first-content">
    <p><span style="color:#0099ff"><strong><span style="font-size:16px">I. TỪ HẠN ĐỊNH LÀ GÌ?</span></strong></span></p>
    <p><span style="color:#000000"><span style="font-size:16px"><strong>- Từ hạn định </strong>(DETERMINERS) là từ đứng trước một danh từ hoặc một cụm danh từ và trước một tính từ. Do đó mà từ hạn định không thể đứng một mình mà phải có một danh từ hoặc một cụm danh từ theo sau.</span></span>
    </p></div>
<div class="last-content"><p><span style="color:#000000"><span style="font-size:16px">- Các từ hạn định hay chỉ định từ là những từ thường được đặt trước các danh từ xác định để chỉ một người/sự việc/sự vật cụ thể hoặc đặc biệt mà bạn đang đề cập đến.</span></span>
</p>
    <p><span style="color:#0099ff"><strong><span style="font-size:16px">II. CÁC LOẠI TỪ HẠN ĐỊNH</span></strong></span>
    </p>
    <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
        <tbody>
        <tr>
            <td style="text-align:center"><strong><span style="color:#ff8c00"><span style="font-size:16px">Loại từ hạn định</span></span></strong>
            </td>
            <td style="text-align:center"><strong><span style="color:#ff8c00"><span
                    style="font-size:16px">Liệt kê</span></span></strong></td>
            <td style="text-align:center"><strong><span style="color:#ff8c00"><span style="font-size:16px">Ví dụ</span></span></strong>
            </td>
        </tr>
        <tr>
            <td><span style="color:#000000"><span style="font-size:16px"><strong>- Mạo từ</strong></span></span></td>
            <td style="text-align:center"><span style="color:#000000"><span
                    style="font-size:16px">a, an, the</span></span></td>
            <td>
                <ul>
                    <li><em><span style="color:#000000"><span style="font-size:16px">The I saw a girl last night.</span></span><br/>
                        <span style="color:#008000"><span
                                style="font-size:16px">Tôi thấy một cô gái tối qua.</span></span></em></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td><span style="color:#000000"><span style="font-size:16px"><strong>- Từ hạn định chỉ định</strong></span></span>
            </td>
            <td style="text-align:center"><span style="color:#000000"><span style="font-size:16px">this, that, these, those</span></span>
            </td>
            <td>
                <ul>
                    <li><em><span style="color:#000000"><span
                            style="font-size:16px">Look at these flowers! </span></span><br/> <span
                            style="color:#008000"><span
                            style="font-size:16px">Nhìn những bông hoa này!</span></span></em></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td><span style="color:#000000"><span
                    style="font-size:16px"><strong>- Từ hạn định sở hữu </strong></span></span></td>
            <td style="text-align:center"><span style="color:#000000"><span style="font-size:16px">my, his, her, your, our, their, its</span></span>
            </td>
            <td>
                <ul>
                    <li><em><span style="color:#000000"><span style="font-size:16px">My father works at a big insurance company. </span></span><br/>
                        <span style="color:#008000"><span style="font-size:16px">Cha tôi làm việc tại một công ty bảo hiểm lớn.</span></span></em>
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td><span style="color:#000000"><span
                    style="font-size:16px"><strong>- Từ chỉ số lượng</strong></span></span></td>
            <td style="text-align:center"><span style="color:#000000"><span style="font-size:16px">all, every, most, many, much, some, few, little, any, no…</span></span>
            </td>
            <td>
                <ul>
                    <li><em><span style="color:#000000"><span
                            style="font-size:16px">We don’t have much money.</span></span><br/> <span
                            style="color:#008000"><span
                            style="font-size:16px">Chúng ta không có nhiều tiền.</span></span></em></li>
                    <li><span style="color:#000000"><span
                            style="font-size:16px"><em>We don’t have many eggs.</em></span></span><br/> <span
                            style="color:#008000"><span style="font-size:16px"><em>Chúng ta không có nhiều trứng. </em></span></span>
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td><span style="color:#000000"><span style="font-size:16px"><strong>- Số từ </strong></span></span></td>
            <td style="text-align:center"><span style="color:#000000"><span style="font-size:16px">one, two, three, first, second, third,…..</span></span>
            </td>
            <td>
                <ul>
                    <li><em><span style="color:#000000"><span style="font-size:16px">I ordered two cakes. </span></span><br/>
                        <span style="color:#008000"><span style="font-size:16px">Tôi đặt hai cái bánh</span></span></em>
                    </li>
                    <li><span style="color:#000000"><span
                            style="font-size:16px"><em>She won third prize. </em></span></span><br/> <span
                            style="color:#008000"><span
                            style="font-size:16px"><em>Cô đã giành giải ba.</em></span></span></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td><span style="color:#000000"><span style="font-size:16px"><strong>- Từ hạn đinh Nghi vấn </strong></span></span>
            </td>
            <td style="text-align:center"><span style="color:#000000"><span
                    style="font-size:16px">whose, which, what</span></span></td>
            <td>
                <ul>
                    <li><em><span style="color:#000000"><span
                            style="font-size:16px">Whose car did you borrow?</span></span><br/> <span
                            style="color:#008000"><span style="font-size:16px">Bạn mượn chiếc xe nào?</span></span></em>
                    </li>
                    <li><span style="color:#000000"><span
                            style="font-size:16px"><em>Which books have you read?</em></span></span><br/> <span
                            style="color:#008000"><span
                            style="font-size:16px"><em>Bạn đã đọc sách nào?</em></span></span></li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
    <p><span style="color:#0099ff"><strong><span
            style="font-size:16px">III. CÁCH DÙNG CÁC LOẠI TỪ HẠN ĐỊNH</span></strong></span></p>
    <p><span style="color:#66cc00"><span style="font-size:16px"><strong>1. Mạo từ (Articles)</strong></span></span></p>
    <p><span style="color:#000000"><span style="font-size:16px">- Mạo từ là Từ hạn định phổ biến nhất.</span></span></p>
    <p><span style="color:#000000"><span style="font-size:16px">- Gồm 3 từ: <em><strong>a, an, the</strong></em></span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:16px">- Mạo từ được chia thành 2 loại: Mạo từ xác định và không xác định.</span></span>
    </p>
    <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
        <tbody>
        <tr>
            <td> </td>
            <td style="text-align:center"><span style="color:#ff8c00"><strong><span style="font-size:16px">Mạo từ không xác định</span></strong></span>
            </td>
            <td style="text-align:center"><span style="color:#ff8c00"><span style="font-size:16px"><strong>Mạo từ xác định</strong></span></span>
            </td>
        </tr>
        <tr>
            <td style="text-align:center"><strong><span style="color:#000000"><span
                    style="font-size:16px">Dùng với</span></span></strong></td>
            <td>
                <ul>
                    <li><span style="color:#000000"><span style="font-size:16px">Danh từ số ít</span></span></li>
                </ul>
            </td>
            <td>
                <ul>
                    <li><span style="color:#000000"><span style="font-size:16px">Cho mọi danh từ (số ít, số nhiều, đếm được và không đếm được)</span></span>
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td style="text-align:center"><strong><span style="color:#000000"><span
                    style="font-size:16px">Dùng khi</span></span></strong></td>
            <td>
                <ul>
                    <li><span style="color:#000000"><span style="font-size:16px">Người nghe / người nói chưa biết gì về đối tượng được nói đến hoặc chỉ biết một cách chung chung</span></span>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li><span style="color:#000000"><span style="font-size:16px">Khi người nói / người nghe đã biết được đối tượng đang nói đến là ai</span></span>
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td style="text-align:center"><strong><span style="color:#000000"><span style="font-size:16px">Ví dụ</span></span></strong>
            </td>
            <td>
                <ul>
                    <li><em><span style="color:#000000"><span style="font-size:16px">He met a girl last night. (Anh ta gặp một cô gái đêm qua.)</span></span></em>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li><em><span style="color:#000000"><span style="font-size:16px">The girl is kind and lovely.</span></span><br/>
                        <span style="color:#008000"><span
                                style="font-size:16px">(Cô ấy tử tế và đáng yêu.)</span></span></em></li>
                    <li><em><span style="color:#000000"><span style="font-size:16px">The red wine. </span></span><br/>
                        <span style="color:#008000"><span style="font-size:16px">(Rượu vang đỏ)</span></span></em></li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
    <p><span style="color:#66cc00"><span style="font-size:16px"><strong>2. Từ hạn định chỉ định (Demonstrative Determiners)</strong></span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:16px">- Từ hạn định chỉ định dùng để chỉ sự xa hay gần của ai đó với người nói.</span></span>
    </p>
    <p><span style="color:#000000"><span
            style="font-size:16px">- Gồm 4 từ: <em><strong>this, that, these, those</strong></em></span></span></p>
    <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
        <tbody>
        <tr>
            <td style="text-align:center"> </td>
            <td style="text-align:center"><span style="color:#000000"><strong><span
                    style="font-size:16px">Gần</span></strong></span></td>
            <td style="text-align:center"><span style="color:#000000"><strong><span
                    style="font-size:16px">Xa</span></strong></span></td>
        </tr>
        <tr>
            <td style="text-align:center"><span style="color:#ff8c00"><strong><span style="font-size:16px">Số ít</span></strong></span>
            </td>
            <td style="text-align:center"><span style="color:#000000"><span style="font-size:16px">This</span></span>
            </td>
            <td style="text-align:center"><span style="color:#000000"><span style="font-size:16px">That</span></span>
            </td>
        </tr>
        <tr>
            <td style="text-align:center"><span style="color:#ff8c00"><strong><span
                    style="font-size:16px">Số nhiều</span></strong></span></td>
            <td style="text-align:center"><span style="color:#000000"><span style="font-size:16px">These</span></span>
            </td>
            <td style="text-align:center"><span style="color:#000000"><span style="font-size:16px">Those</span></span>
            </td>
        </tr>
        </tbody>
    </table>
    <p><span style="color:#000000"><span style="font-size:16px">Eg:</span></span></p>
    <ul>
        <li><em><span style="color:#000000"><span style="font-size:16px">I like this color. </span></span><br/> <span
                style="color:#008000"><span style="font-size:16px">(Tôi thích màu này.)</span></span></em></li>
        <li><em><span style="color:#000000"><span style="font-size:16px">That man over there looks scary. </span></span><br/>
            <span style="color:#008000"><span
                    style="font-size:16px">(Người đàn ông ở đó trông đáng sợ.)</span></span></em></li>
        <li><em><span style="color:#000000"><span style="font-size:16px">These books belong to mine. </span></span><br/>
            <span style="color:#008000"><span
                    style="font-size:16px">(Bạn có thể nhìn thấy những tòa nhà đó?)</span></span></em></li>
        <li><span style="color:#000000"><span
                style="font-size:16px"><em>Can you see those buildings? </em></span></span><br/> <span
                style="color:#008000"><span
                style="font-size:16px"><em>(Bạn có thể nhìn thấy những tòa nhà đó?</em></span><em>)</em></span></li>
    </ul>
    <p><span style="color:#66cc00"><span
            style="font-size:16px"><strong>3. Từ hạn định sở hữu (Possessive Determiners)</strong></span></span></p>
    <p><span style="color:#000000"><span style="font-size:16px">- Từ hạn định sở hữu, hay còn gọi là Tính từ sở hữu, được dùng để chỉ việc ai đó đang “sở hữu” một thứ gì đó.</span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:16px">- Gồm 7 từ: <em><strong>my, your, his, her, its, our, their</strong></em></span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:16px">Eg:</span></span></p>
    <ul>
        <li><em><span style="color:#000000"><span
                style="font-size:16px">We sold our house last week. </span></span><br/> <span
                style="color:#008000"><span style="font-size:16px">Chúng tôi đã bán ngôi nhà của chúng tôi vào tuần trước.</span></span></em>
        </li>
        <li><em><span style="color:#000000"><span style="font-size:16px">Your wish is my commend. </span></span><br/>
            <span style="color:#008000"><span
                    style="font-size:16px">Mong ước của bạn là lời khen ngợi của tôi.</span></span></em></li>
        <li><span style="color:#000000"><span style="font-size:16px"><em>Her dress is from the latest collection. </em></span></span><br/>
            <span style="color:#008000"><span
                    style="font-size:16px"><em>Bộ váy của cô ấy là từ bộ sưu tập mới nhất.</em></span></span></li>
    </ul>
    <p><strong><span style="color:#000000"><span style="font-size:16px">- Chú ý: </span></span></strong></p>
    <p><span style="color:#000000"><span style="font-size:16px">+ Không nhằm lẫn Từ hạn định sở hữu, hay còn gọi là Tính từ sở hữu, với Đại từ sở hữu.</span></span>
    </p>
    <p><span style="color:#000000"><span
            style="font-size:16px">+ Phân biệt ITS (của nó) với IT’S (= IT + IS):</span></span></p>
    <p><span style="color:#000000"><span style="font-size:16px">Eg:</span></span></p>
    <ul>
        <li><span style="color:#000000"><span
                style="font-size:16px"><em>The cat licks its fur. → </em></span></span><span style="color:#008000"><span
                style="font-size:16px"><em>Con mèo liếm lông của nó</em></span></span><span style="color:#000000"><span
                style="font-size:16px"><em>.</em></span></span></li>
        <li><span style="color:#000000"><span
                style="font-size:16px"><em>It’s raining. = It is raining. → </em></span></span><span
                style="color:#008000"><span style="font-size:16px"><em>Trời đang mưa.</em></span></span></li>
        <li><span style="color:#000000"><span style="font-size:16px"><em>Look at the train! It’s comming. = It is comming → </em></span></span><span
                style="color:#008000"><span
                style="font-size:16px"><em>Nhìn tàu hỏa kìa! Nó đang tiến đến.</em></span></span></li>
    </ul>
    <p><span style="color:#66cc00"><span
            style="font-size:16px"><strong>4. Từ chỉ số lượng (Quantifiers )</strong></span></span></p>
    <p><span style="color:#000000"><span style="font-size:16px">- Từ chỉ số lượng là những từ mô tả số lượng của một cụm danh từ.</span></span>
    </p>
    <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
        <tbody>
        <tr>
            <td style="text-align:center"><span style="color:#ff8c00"><strong><span style="font-size:16px">Chỉ dùng với danh từ đếm được</span></strong></span>
            </td>
            <td style="text-align:center"><span style="color:#ff8c00"><strong><span style="font-size:16px">Chỉ dùng với danh từ không đếm được</span></strong></span>
            </td>
            <td style="text-align:center"><span style="color:#ff8c00"><strong><span style="font-size:16px">Dùng cho cả hai loại danh từ</span></strong></span>
            </td>
        </tr>
        <tr>
            <td><p><span style="color:#000000"><span style="font-size:16px">- a few<br/>  			- a number of<br/>  			- several<br/>  			- many<br/>  			- a majority of<br/>  			- every<br/>  			…</span></span>
            </p>
                <p> </p></td>
            <td><p><span style="color:#000000"><span style="font-size:16px">- a little<br/>  			- a great deal of<br/>  			- a large amount of<br/>  			- much</span></span>
            </p>
                <p><br/> <span style="color:#000000"><span style="font-size:16px">…</span></span></p>
                <p> </p>
                <p> </p></td>
            <td><span style="color:#000000"><span style="font-size:16px">- all<br/>  			- a bit of<br/>  			- a lot of / lots of<br/>  			- no / none<br/>  			- not any<br/>  			- plenty of<br/>  			- any<br/>  			- some<br/>  			…</span></span>
            </td>
        </tr>
        </tbody>
    </table>
    <p><span style="color:#000000"><span style="font-size:16px">Eg: </span></span></p>
    <ul>
        <li><em><span style="color:#000000"><span
                style="font-size:16px">I buy every book from this author. </span></span><br/> <span
                style="color:#008000"><span style="font-size:16px">Tôi mua những cuốn sách từ tác giả này.</span></span></em>
        </li>
        <li><em><span style="color:#000000"><span style="font-size:16px">All students from this school passed the entrance exam. </span></span><br/>
            <span style="color:#008000"><span style="font-size:16px">Tất cả học sinh từ trường này đã vượt qua kỳ thi tuyển sinh.</span></span></em>
        </li>
        <li><span style="color:#000000"><span style="font-size:16px"><em>She had no money. </em></span></span><br/>
            <span style="color:#008000"><span style="font-size:16px"><em>Cô ấy không có tiền.</em></span></span></li>
    </ul>
    <p><span style="color:#66cc00"><span style="font-size:16px"><strong>e. Từ hạn định: ENOUGH</strong></span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:16px">Enough = “đủ”</span></span></p>
    <p><span style="color:#000000"><span style="font-size:16px">- Công thức dùng với từ Enough: </span></span></p>
    <p style="text-align:center"><strong><span style="color:#000000; font-size:16px">Enough + danh từ</span></strong>
    </p>
    <p><span style="color:#000000"><span style="font-size:16px">- Trong trường hợp “enough” là trạng từ, ta có công thức sau:</span></span>
    </p>
    <p style="text-align:center"><span style="color:#000000"><span style="font-size:16px"><strong>Tính từ / Trạng từ / Động từ + Enough</strong></span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:16px">Eg:</span></span></p>
    <ul>
        <li><em><span style="color:#000000"><span style="font-size:16px">There are enough chairs for everyone here. → danh từ “chair”</span></span><br/>
            <span style="color:#008000"><span style="font-size:16px"><em><span style="font-size:16px">Có đủ ghế cho mọi người ở đây.</span></em></span></span></em>
        </li>
        <li><em><span style="color:#000000"><span style="font-size:16px">I hadn’t trained enough for the job. → động từ “train”</span></span><br/>
            <span style="color:#008000"><span style="font-size:16px"><em><span style="font-size:16px">Tôi đã không được đào tạo đủ để làm việc</span></em></span></span></em>
        </li>
        <li><em><span style="color:#000000"><span style="font-size:16px">This house isn’t big enough for us. → tính từ “big”</span></span><br/>
            <span style="color:#008000"><span style="font-size:16px"><em><span style="font-size:16px">Ngôi nhà này không đủ lớn cho chúng tôi</span></em></span></span></em>
        </li>
        <li><em><span style="color:#000000"><span style="font-size:16px">We didn’t leave early enough. → trạng từ “early”</span></span></em>
        </li>
        <li><span style="color:#008000"><span
                style="font-size:16px"><em>Chúng tôi đã không để lại sớm.</em></span></span></li>
    </ul>
    <p><span style="color:#66cc00"><span style="font-size:16px"><strong>f. Số từ (Numbers)</strong></span></span></p>
    <p><span style="color:#000000"><span style="font-size:16px">- Gồm số đếm và số thứ tự:</span></span></p>
    <p><span style="color:#000000"><span
            style="font-size:16px">+ Số đếm: <strong><em>one, two, three,….</em></strong></span></span></p>
    <p><span style="color:#000000"><span style="font-size:16px">+ Số thứ tự: <em><strong>first, second, third,…</strong></em><br/>  Eg:</span></span>
    </p>
    <ul>
        <li><em><span style="color:#000000"><span style="font-size:16px">There are about two hundred (200) people on the street.</span></span><br/>
            <span style="color:#008000"><span style="font-size:16px"><em><span style="font-size:16px">(Có khoảng hai trăm (200) người trên đường phố.)</span></em></span></span></em>
        </li>
        <li><em><span style="color:#000000"><span
                style="font-size:16px">He has just made his second score.</span></span><br/> <span
                style="color:#008000"><span style="font-size:16px"><em><span style="font-size:16px">(Anh ấy đã ghi bàn thứ hai.)</span></em></span></span></em>
        </li>
        <li><em><span style="color:#000000"><span style="font-size:16px">The first three people who answer correctly will get a present.</span></span><br/>
            <span style="color:#008000"><span style="font-size:16px"><span style="font-size:16px"><em>(Ba người đầu tiên trả lời chính xác sẽ nhận được một món quà.)</em></span></span></span></em>
        </li>
    </ul>
    <p><span style="color:#66cc00"><span style="font-size:16px"><strong>g. Từ hạn đinh Nghi vấn (Interrogative Determiners)</strong></span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:16px">- Gồm 3 từ: which, what, whose.</span></span></p>
    <p><span style="color:#000000"><span style="font-size:16px">+ Whose dùng để thể hiện ý “thuộc về ai đó”. Whose thường được dùng nhiều trong các câu liên quan đến Mệnh đề quan hệ – Đại từ quan hệ.</span></span>
    </p>
    <p><span style="color:#000000"><span
            style="font-size:16px">+ What dùng để hỏi thông tin cụ thể về một điều gì đó.</span></span></p>
    <p><span style="color:#000000"><span style="font-size:16px">+ Which cũng dùng để hỏi thông tin cụ thể về một điều gì đó, nhưng là từ một tập hợp đã cố định sẵn. (người hỏi đã có một số lựa chọn nhất định và hỏi người nghe là thích cái nào trong số đó)</span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:16px">Eg:</span></span></p>
    <ul>
        <li><em><span style="color:#000000"><span style="font-size:16px">What sports do you like?</span></span><br/>
            <span style="color:#008000"><span style="font-size:16px"><em><span style="font-size:16px">Bạn thích môn thể thao nào?</span></em></span></span></em>
        </li>
        <li><em><span style="color:#000000"><span style="font-size:16px">Which dress do you like? The red one or the green one?</span></span><br/>
            <span style="color:#008000"><span style="font-size:16px"><em><span style="font-size:16px">Bạn thích cái váy nào? Màu đỏ hoặc màu xanh lục?</span></em></span></span></em>
        </li>
        <li><em><span style="color:#000000"><span style="font-size:16px">Whose iPhone was stolen?</span></span><br/>
            <span style="color:#008000"><span style="font-size:16px"><span style="font-size:16px"><em>IPhone của ai đã bị đánh cắp?</em></span></span></span></em>
        </li>
    </ul>
    <p><span style="color:#66cc00"><span style="font-size:16px"><strong>h. Từ hạn định chỉ Sự khác biệt</strong></span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:16px">- Có 3 từ hạn định chỉ sự khác biệt. Đó là: <em><strong>another, other và the other. </strong></em></span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:16px">- Cách dùng:</span></span></p>
    <p><span style="color:#000000"><span style="font-size:16px">+ Another: dùng để chỉ một cái gì đó khác, hoặc thêm vào cái đã nói đến trước đó<br/>  *Dùng với danh từ số ít</span></span>
    </p>
    <ul>
        <li><span style="color:#000000"><span
                style="font-size:16px"><em>Would you like another cup of coffee? → </em></span></span><span
                style="color:#008000"><span style="font-size:16px"><em>thêm 1 cốc cà phê nữa</em></span></span></li>
        <li><span style="color:#000000"><span style="font-size:16px"><em>Another reason to reject his offer is…. → </em></span></span><span
                style="color:#008000"><span style="font-size:16px"><em>thêm 1 lý do nữa là…</em></span></span></li>
    </ul>
    <p><span style="color:#000000"><span style="font-size:16px">+ Other: dùng để chỉ một cái gì đó khác hẳn với cái đã nói đến trước đó<br/>  *Dùng với danh từ số nhiều</span></span>
    </p>
    <ul>
        <li><span style="color:#000000"><span
                style="font-size:16px"><em>I have no other ideas. → ý kiến khác</em></span></span></li>
        <li><span style="color:#000000"><span style="font-size:16px"><em>There are other jobs you could try. → công việc khác</em></span></span>
        </li>
    </ul>
    <p><span style="color:#000000"><span style="font-size:16px">+ The other: dùng để chỉ đến (những) cái còn lại trong (những) cái đã nói đến trước đó<br/>  *dùng với danh từ số ít hoặc số nhiều</span></span>
    </p>
    <ul>
        <li><span style="color:#000000"><span style="font-size:16px"><em>I enjoyed the first book but I didn’t read the other books in the series. → những cuốn còn lại trong series</em></span></span>
        </li>
        <li><span style="color:#000000"><span style="font-size:16px"><em>Where is the other box of candy? → hộp kẹo còn lại</em></span></span>
        </li>
    </ul> </div>