<meta charset="UTF-8">
<div class="first-content">
    <h3><span style="color:#000000"><span
            style="font-size:14px"><strong>I. Cấu trúc So That ( Quá ... đến nỗi )</strong></span></span></h3>    <h4>
        <span style="color:#000000"><span
                style="font-size:14px"><strong>1. S + be + so + adj + that + S + V</strong></span></span></h4>    <h4>
        <span style="font-size:14px"><span style="color:#000000">Eg:</span></span></h4>
    <ul>
        <li><span style="font-size:14px"><em><span
                style="color:#000000">The food was so hot that we couldn’t eat it.</span><br/>  	<span
                style="color:#008000">(Thức ăn nóng quá đến nỗi chúng tôi không thể ăn được)</span></em></span></li>
        <li><span style="font-size:14px"><span style="color:#000000"><em>The girl is so beautiful that every one likes her.</em></span><br/>  	<span
                style="color:#008000"><em>(Cô gái đó xinh quá đến nỗi ai cũng yêu quý cô ấy)</em></span></span></li>
    </ul>
    <h4><span style="color:#000000"><span style="font-size:14px"><strong>2. S + một số động từ chỉ tri giác + so + adj + that + S + V</strong></span></span>
    </h4>    <h4><span style="font-size:14px"><span style="color:#000000">- Các động từ chỉ tri giác như sau: <strong>seem, feel, taste, smell, sound, look</strong>….</span></span>
    </h4>
    <p><span style="font-size:14px"><span style="color:#000000">- Eg</span></span></p>
    <ul>
        <li><span style="font-size:14px"><span style="color:#000000"><em> I felt so angry that I decided to cancel the trip.</em></span><br/>  	<span
                style="color:#008000"><em>(Tôi tức giận quá đến nỗi mà tôi đã hủy ngay chuyến đi)</em></span></span>
        </li>
        <li><span style="font-size:14px"><span style="color:#000000"><em>She looks so beautiful that every boy in class looks at her.</em></span><br/>  	<span
                style="color:#008000"><em>(Trông cô ấy xinh quá đến nỗi mọi chàng trai trong lớp đều nhìn cô ấy)</em></span></span>
        </li>
    </ul>
    <h4><span style="color:#000000"><span
            style="font-size:14px"><strong>3. S + V(thường) + so + adv + that + S + V</strong></span></span></h4>
    <h4><span style="font-size:14px"><span style="color:#000000">Eg:</span></span></h4>
    <ul>
        <li><span style="font-size:14px"><em><span style="color:#000000">He drove so quickly that no one could caught him up.</span><br/>  	<span
                style="color:#008000">(Anh ta lái xe nhanh đến nỗi không ai đuổi kịp anh ta.)</span></em></span></li>
    </ul>
    <p><span style="font-size:14px"><span style="color:#000000">- Cấu trúc So that này cũng được dùng với danh từ, trong câu xuất hiện so many/ much/ little….</span></span>
    </p>    <h4><span style="color:#000000"><span style="font-size:14px"><strong>4. S + V + so + many/few + plural / countable noun + that + S + V</strong></span></span>
    </h4>    <h4><span style="font-size:14px"><span style="color:#000000">Eg: </span></span></h4>
    <ul>
        <li><span style="font-size:14px"><em><span style="color:#000000">She has so many hats that she spends much time choosing the suitable one.</span><br/>  	<span
                style="color:#008000">(Cô ấy có nhiều mũ đến nỗi cố ấy mất rất nhiều thời gian để chọn lựa một chiếc thích hợp)</span></em></span>
        </li>
    </ul>
    <h4><span style="color:#000000"><span style="font-size:14px"><strong>5. S + V + so + much/little + uncountable noun + that + S + V</strong></span></span>
    </h4>    <h4><span style="font-size:14px"><span style="color:#000000">Eg: </span></span></h4>
    <ul>
        <li><span style="font-size:14px"><em><span style="color:#000000">He drank so much milk in the morning that he felt bad.</span><br/>  	<span
                style="color:#008000">(Buổi sáng anh ta uống nhiều sữa đến mức mà anh ấy cảm thấy khó chịu)</span></em></span>
        </li>
    </ul>
    <h4><span style="font-size:14px"><span style="color:#000000"><strong>6. Đối với danh từ đếm được số ít, chúng ta lại có cấu trúc sau với So… that:</strong></span></span>
    </h4>    <h4><span style="font-size:14px"><span style="color:#ff8c00"><strong>- S + V + so + adj + a + noun (đếm được số ít) + that + S + V</strong></span></span>
    </h4>
    <p><span style="font-size:14px"><span style="color:#000000">Eg:</span></span></p></div>
<div class="last-content">
    <ul>
        <li><span style="font-size:14px"><span style="color:#000000"><em>It was so big a house that all of us could stay in it.</em></span><br/>  	<span
                style="color:#008000"><em>(Đó là một ngôi nhà lớn đến nỗi tất cả chúng tôi đều ở được trong đó.)</em></span></span>
        </li>
        <li><span style="font-size:14px"><span style="color:#000000"><em>She has so good a computer that she has used it for 6 years without any errors in it.</em></span><br/>  	<span
                style="color:#008000"><em>(Cô ấy có chiếc máy tính tốt đến nỗi cô ấy đã dùng 6 năm mà không bị lỗi.)</em></span></span>
        </li>
    </ul>
    <h3><br/> <span style="font-size:14px"><span style="color:#66cc00"><strong>II. Cấu trúc Such That. </strong></span></span>
    </h3>
    <h3 style="text-align:center"><span style="color:#000000"><span style="font-size:14px"><strong>S + V + such + (a/an) + adj + noun + that + S + V </strong></span></span>
    </h3>
    <p><span style="font-size:14px"><strong><span style="color:#000000">(Với danh từ không đếm được thì chúng mình không dùng a/ an nhé)</span></strong></span>
    </p>
    <p><span style="font-size:14px"><span style="color:#000000">- Cấu trúc So that có ý nghĩa tương tự với cấu trúc Such that nên chúng mình có thể đổi qua đổi lại giữa hai cấu trúc này đấy. Như thế này nhé:</span></span>
    </p>
    <p><span style="font-size:14px"><span style="color:#000000">Eg: </span></span></p>
    <ul>
        <li><span style="font-size:14px"><em><span style="color:#000000">The girl is so beautiful that everyone likes her.</span><br/>  	<span
                style="color:#008000">(Cô gái đó đẹp đến nỗi ai cũng yêu quý cô ấy)</span><br/>  	<span
                style="color:#000000">=> She is such a beautiful girl that everyone likes her.</span></em></span></li>
        <li><span style="font-size:14px"><em><span style="color:#000000">This is such difficult homework that it took me much time to finish it.</span><br/>  	<span
                style="color:#008000">(Bài tập về nhà khó đến nỗi tôi mất rất nhiều thời gian mới làm xong.)</span></em></span>
        </li>
    </ul>
    <h3><span style="color:#000000"><span
            style="font-size:14px"><strong>III. Cấu trúc với Too to (Quá để làm gì)</strong></span></span></h3>
    <h3><span style="color:#000000"><span
            style="font-size:14px"><strong>S + to be + too + adj + (for somebody) + to + V</strong></span></span></h3>
    <p><span style="color:#000000"><span
            style="font-size:14px"><strong>S + V + too + adv + (for somebody) + to + V</strong></span></span></p>
    <p><span style="font-size:14px"><span style="color:#000000">Eg:</span></span></p>
    <ul>
        <li><span style="font-size:14px"><span
                style="color:#000000"><em>The food is too hot for us to eat.</em></span><br/>  	<span
                style="color:#008000"><em>(Thức ăn quá nóng đến nỗi chúng tôi không thể ăn được)</em></span></span></li>
        <li><span style="font-size:14px"><span style="color:#000000"><em>He drove too quickly for anyone to catch him up.</em></span><br/>  	<span
                style="color:#008000"><em>(Anh ta lái xe nhanh đến nỗi không ai đuổi kịp anh ta.)</em></span></span>
        </li>
    </ul>
    <h3><span style="color:#000000"><span style="font-size:14px"><strong>IV. Cấu trúc với Enough to: đủ….để có thể làm gì</strong></span></span>
    </h3>
    <p><span style="font-size:14px"><span style="color:#000000">Chúng ta có thể dùng </span><strong>enough</strong><span
            style="color:#000000"> với cả </span><strong>tính từ, trạng từ và danh từ</strong><span
            style="color:#000000">. Với </span><strong>tính từ và trạng từ</strong><span style="color:#000000">, ta có hai cấu trúc sau (</span><strong>Enough đứng sau tính từ và trạng từ</strong><span
            style="color:#000000">.)</span></span></p>
    <p><span style="font-size:14px"><span
            style="color:#ff8c00"><strong>S + V + adv + enough + (for somebody) + to + V</strong></span></span></p>
    <p><span style="font-size:14px"><span style="color:#ff8c00"><strong>S + to be + adj + enough + (for somebody) + to + V</strong></span></span>
    </p>
    <p><span style="font-size:14px"><span style="color:#000000">Eg:</span></span></p>
    <ul>
        <li><span style="font-size:14px"><span style="color:#000000"><em>She is old enough to understand the story.</em></span><br/>  	<span
                style="color:#008000"><em>(Cô ấy đủ lớn để hiểu chuyện đó.)</em></span></span></li>
        <li><span style="font-size:14px"><span style="color:#000000"><em>The boy is strong enough to lift the vase.</em></span><br/>  	<span
                style="color:#008000"><em>(Cậu bé đủ khỏe để nâng cái bình lên)</em></span></span></li>
    </ul>
    <p><span style="font-size:14px"><span style="color:#000000">- Với danh từ, chúng mình dùng cấu trúc sau (enough đứng trước danh từ)</span></span>
    </p>
    <p><span style="font-size:14px"><span
            style="color:#ff8c00"><strong>S + V + enough + noun (for somebody) + to V…</strong></span></span></p>
    <p><span style="font-size:14px"><span style="color:#000000">Eg: </span></span></p>
    <ul>
        <li><span style="font-size:14px"><span
                style="color:#000000"><em>I have enough money to buy this house.</em></span><br/>  	<span
                style="color:#008000"><em>(Tôi có đủ tiền để mua căn nhà này)</em></span></span></li>
        <li><span style="font-size:14px"><span style="color:#000000"><em>There has enough time for us to do the exercise.</em></span><br/>  	<span
                style="color:#008000"><em>(Có đủ thời gian để chúng tôi làm bài tập)</em></span></span></li>
        <li><span style="font-size:14px"><span
                style="color:#000000"><em>They have enough rooms to stay.</em></span><br/>  	<span
                style="color:#008000"><em>(Họ có đủ phòng để ở)</em></span></span></li>
    </ul>
</div>