<meta charset="UTF-8">
<div class="first-content">
    <p><span style="color:#66cc00"><strong><span style="font-size:16px">I. Tính Từ Chỉ Định ( Demonstravetive Adjectives ) </span></strong></span>
    </p>
    <p><span style="color:#000000"><strong><span style="font-size:16px">1. </span></strong></span><u><span
            style="color:#000000"><strong><span style="font-size:16px">Khái niệm</span></strong></span></u></p></div>
<div class="last-content"><p><span style="font-size:16px"><span style="color:#000000">Tính từ chỉ định ( demonstrative adjectives ) thay đổi theo số của danh từ ...</span></span>
</p>
    <p><span style="color:#000000"><span style="font-family:arial,helvetica,sans-serif"><span style="font-size:16px">This/These/That/Those + danh từ + of + yours/hers… đôi khi dùng để nhấn mạnh thay cho your/her…</span></span></span>
    </p>
    <p><span style="color:#000000"><strong><span style="font-size:16px">2. </span></strong></span><u><span
            style="color:#000000"><strong><span
            style="font-size:16px">Hướng dẫn sử dụng tính từ chỉ định</span></strong></span></u></p>
    <table border="1" cellpadding="1" cellspacing="1" style="width:704px">
        <tbody>
        <tr>
            <td colspan="2" rowspan="1" style="text-align:center"><span style="color:#ff8c00"><strong><span
                    style="font-size:16px">Tính từ chỉ định xác định</span></strong></span></td>
            <td style="text-align:center"><span style="color:#ff8c00"><strong><span style="font-size:16px">Tính từ chỉ định không xác định</span></strong></span>
            </td>
        </tr>
        <tr>
            <td style="text-align:center"><strong><span style="font-size:16px"><span style="color:#000000">Số ít</span></span></strong>
            </td>
            <td style="text-align:center"><strong><span style="font-size:16px"><span
                    style="color:#000000">Số nhiều</span></span></strong></td>
            <td style="text-align:center"> </td>
        </tr>
        <tr>
            <td style="text-align:center"><span style="font-size:16px"><span
                    style="color:#000000">This ( này )</span></span></td>
            <td style="text-align:center"><span style="font-size:16px"><span style="color:#000000">These</span></span>
            </td>
            <td style="text-align:center"><span style="font-size:16px"><span
                    style="color:#000000">Some: Vài, một ít</span></span></td>
        </tr>
        <tr>
            <td style="text-align:center"><span style="font-size:16px"><span
                    style="color:#000000">That ( kia )</span></span></td>
            <td style="text-align:center"><span style="font-size:16px"><span style="color:#000000">Those</span></span>
            </td>
            <td style="text-align:center"><span style="font-size:16px"><span
                    style="color:#000000">Any: Bất cứ</span></span></td>
        </tr>
        </tbody>
    </table>
    <p><span style="color:#ff8c00"><span
            style="font-size:16px"><strong>This, that + danh từ số ít:</strong></span></span></p>
    <p><span style="font-size:16px"><span style="color:#000000">Eg: </span></span></p>
    <ul>
        <li><span style="color:#000000"><span style="font-size:16px"><em>This driver is careful </em></span></span><span
                style="color:#008000"><span style="font-size:16px"><em>(Tài xế này cẩn thận)</em></span></span></li>
        <li><span style="color:#000000"><span
                style="font-size:16px"><em>That driver is careless </em></span></span><span style="color:#008000"><span
                style="font-size:16px"><em>(Tài xế kia không cẩn thận)</em></span></span></li>
    </ul>
    <p><span style="font-size:16px"><span style="color:#ff8c00"><strong>These, those + danh từ số nhiều:</strong></span><br/>  <span
            style="color:#000000">Eg:</span></span></p>
    <ul>
        <li><span style="color:#000000"><span
                style="font-size:16px"><em>These tea cups look beautiful </em></span></span><span style="color:#008000"><span
                style="font-size:16px"><em>(Những tách trà này thì trông đẹp đó)</em></span></span></li>
        <li><span style="color:#000000"><span
                style="font-size:16px"><em>Those cars are in front of the hotel </em></span></span><span
                style="color:#008000"><span style="font-size:16px"><em>(Những ôtô kia thì ở trước khách sạn)</em></span></span>
        </li>
    </ul>
    <p style="text-align:center"> </p>
    <p><span style="color:#ff8c00"><strong><span
            style="font-size:16px">Some + danh từ số nhiều: vài</span></strong></span></p>
    <p><span style="font-size:16px"><span style="color:#000000">Eg:</span></span></p>
    <ul>
        <li><em><span style="color:#000000"><span
                style="font-size:16px">There are some books on the table – </span></span><span
                style="color:#008000"><span style="font-size:16px">có vài cuốn sách trên bàn</span></span></em></li>
    </ul>
    <p><span style="font-size:16px"><span
            style="color:#ff8c00"><strong>Some + danh từ không đếm được, số ít: một ít</strong></span><br/>  <span
            style="color:#000000">Eg:</span></span></p>
    <ul>
        <li><em><span style="font-size:16px"><span
                style="color:#000000">There is some difficulties about my grammar – </span><span style="color:#008000">Có một vài khó khăn về văn phạm của tôi</span></span></em>
        </li>
    </ul>
    <p><span style="color:#ff8c00"><span
            style="font-size:16px"><strong>Any: một (người, vật) nào đó, bất cứ</strong></span></span></p>
    <ul>
        <li><span style="color:#000000"><span
                style="font-size:16px"><em>We don't have any butter </em></span></span><span style="color:#008000"><span
                style="font-size:16px"><em>(Chúng ta không có chút bơ nào cả)</em></span></span></li>
        <li><span style="color:#000000"><span
                style="font-size:16px"><em>We don't have any matches </em></span></span><span
                style="color:#008000"><span
                style="font-size:16px"><em>(Chúng ta không có que diêm nào cả)</em></span></span></li>
    </ul>
    <table border="1" cellpadding="1" cellspacing="1" style="width:704px">
        <tbody>
        <tr>
            <td><span style="color:#ff0000"><strong><span
                    style="font-size:16px">  - <u>Chú ý:</u></span></strong></span>
                <ul>
                    <li><em><span style="font-size:16px"><span style="color:#000000">Some thường được dùng trong câu xác định</span></span></em>
                    </li>
                    <li><em><span style="font-size:16px"><span style="color:#000000">Any thường được dùng trong câu nghi vấn và phủ định</span></span></em>
                    </li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
    <p><u><strong><span style="font-size:16px"><span
            style="color:#000000">3. Những trường hợp đặc biệt:</span></span></strong></u></p>
    <p><span style="font-size:16px"><span style="color:#000000"><strong>a) Some có thể dùng trong câu nghi vấn:</strong><br/>  - Thể hiện sự mời mọc hay yêu cầu<br/>  Eg:</span></span>
    </p>
    <ul>
        <li><em><span style="font-size:16px"><span
                style="color:#000000">Will you cary some bottles for me, please? </span><span style="color:#008000">( Xin anh vui lòng mang cho tôi vài cái chai?)</span></span></em>
        </li>
    </ul>
    <p><span style="font-size:16px"><span style="color:#000000">- Thể hiện sự mong đợi câu trả lời là Yes</span></span>
    </p>
    <ul>
        <li><em><span style="font-size:16px"><span style="color:#000000">Would you drink some coffee ? </span><span
                style="color:#008000">(Mời anh uống cà phê nhé ?)</span></span></em></li>
    </ul>
    <p><span style="font-size:16px"><span
            style="color:#000000"><strong>b) Any có thể dùng trong câu khẳng định khi</strong><br/>  - Any có nghĩa là bất cứ<br/>  Eg:</span></span>
    </p>
    <ul>
        <li><span style="color:#000000"><span
                style="font-size:16px"><em>You can ask any person about it. </em></span></span><span
                style="color:#008000"><span
                style="font-size:16px"><em>(Anh có thể hỏi bất cứ ai về điều này)</em></span></span></li>
    </ul>
    <p><span style="font-size:16px"><span style="color:#000000">- Trước any có if</span></span></p>
    <p><span style="font-size:16px"><span style="color:#000000">Eg:</span></span></p>
    <ul>
        <li><span style="color:#000000"><span style="font-size:16px"><em>If I buy any books. I’ll sent them to you </em></span></span><span
                style="color:#008000"><span
                style="font-size:16px"><em>( </em>Nếu tôi mua sách. Tôi sẽ gửi cho bạn)</span></span></li>
    </ul>
    <p><span style="color:#66cc00"><strong><span
            style="font-size:16px">II. Đại từ chỉ định (Demonstravetive Pronouns)</span></strong></span></p>
    <p><strong><span style="font-size:16px"><span style="color:#000000">1. </span></span></strong><u><strong><span
            style="font-size:16px"><span style="color:#000000">Khái niệm</span></span></strong></u></p>
    <p><span style="font-size:16px"><span style="color:#000000">Đại từ chỉ định ( demonstrative pronouns ) bao gồm các từ this, that, these và those chỉ ra cụ thể người hoặc vật được nói đến. Đại từ chỉ định đứng một mình. (...)</span></span>
    </p>
    <p><span style="font-size:16px"><span style="color:#000000">Eg:</span></span></p>
    <ul>
        <li><em><span style="font-size:16px"><span style="color:#000000">This is an apple pie. </span><span
                style="color:#008000">Đây là một chiếc bánh táo.</span></span></em></li>
        <li><em><span style="font-size:16px"><span style="color:#000000">That is a good idea. </span><span
                style="color:#008000">Ý tưởng hay đấy.</span></span></em></li>
        <li><em><span style="font-size:16px"><span style="color:#000000">These are my friends. </span><span
                style="color:#008000">Đây là những người bạn của tôi.</span></span></em></li>
        <li><em><span style="font-size:16px"><span style="color:#000000">Those are maple trees. </span><span
                style="color:#008000">Đó là cây phong.</span></span></em></li>
    </ul>
    <p><strong><span style="font-size:16px"><span style="color:#000000">2. </span></span></strong><u><strong><span
            style="font-size:16px"><span style="color:#000000">Hướng dẫn sử dụng đại từ chỉ định.</span></span></strong></u>
    </p>
    <table border="1" cellpadding="1" cellspacing="1" style="width:704px">
        <tbody>
        <tr>
            <td style="text-align:center"> </td>
            <td style="text-align:center"><span style="color:#ff8c00"><strong><span
                    style="font-size:16px">Gần</span></strong></span></td>
            <td style="text-align:center"><span style="color:#ff8c00"><strong><span
                    style="font-size:16px">Xa</span></strong></span></td>
        </tr>
        <tr>
            <td style="text-align:center"><strong><span style="font-size:16px"><span style="color:#000000">Số ít</span></span></strong>
            </td>
            <td style="text-align:center"><span style="font-size:16px"><span style="color:#000000">This</span></span>
            </td>
            <td style="text-align:center"><span style="font-size:16px"><span style="color:#000000">That</span></span>
            </td>
        </tr>
        <tr>
            <td style="text-align:center"><strong><span style="font-size:16px"><span
                    style="color:#000000">Số nhiều</span></span></strong></td>
            <td style="text-align:center"><span style="font-size:16px"><span style="color:#000000">These</span></span>
            </td>
            <td style="text-align:center"><span style="font-size:16px"><span style="color:#000000">Those</span></span>
            </td>
        </tr>
        </tbody>
    </table>
    <p><span style="font-size:16px"><span style="color:#000000">- This và these dùng để chỉ người hoặc vật ở gần người nói hoặc viết. This đi với động từ số ít, bổ nghĩa cho một người hoặc một vật. These đi với động từ số nhiều, bổ nghĩa cho nhiều người hoặc vật.</span></span>
    </p>
    <p><span style="font-size:16px"><span style="color:#000000">Eg:</span></span></p>
    <ul>
        <li><em><span style="font-size:16px"><span style="color:#000000">This is my brother. </span><span
                style="color:#008000">(Đây là anh trai tôi.)</span></span></em></li>
        <li><em><span style="font-size:16px"><span style="color:#000000">These are my brothers. </span><span
                style="color:#008000">(Đây là những người anh em của tôi.)</span></span></em></li>
    </ul>
    <p><span style="font-size:16px"><span style="color:#000000">- That và those dùng để chỉ người hoặc vật ở xa người nói hoặc viết. That đi với danh từ số ít và those đi với danh từ số nhiều.</span></span>
    </p>
    <p><span style="font-size:16px"><span style="color:#000000">Eg:</span></span></p>
    <ul>
        <li><em><span style="font-size:16px"><span style="color:#000000">That is a computer. </span><span
                style="color:#008000">(Đó là cái máy tính.)</span></span></em></li>
        <li><em><span style="font-size:16px"><span style="color:#000000">That woman is a professor. </span><span
                style="color:#008000">(Người phụ nữ đó là một giáo sư.)</span></span></em></li>
        <li><em><span style="font-size:16px"><span style="color:#000000">Those are computers. </span><span
                style="color:#008000">(Đó là những cái máy tính.)</span></span></em></li>
        <li><em><span style="font-size:16px"><span style="color:#000000">Those women are professors. </span><span
                style="color:#008000">(Những người phụ nữ đó là giáo sư.)</span></span></em></li>
    </ul>
    <p><span style="font-size:16px"><span style="color:#000000">- Ta thường chỉ dùng đại từ chỉ định cho đồ vật. Nhưng cũng có thể dùng cho con người khi người này xác định được.</span></span>
    </p>
    <p><span style="font-size:16px"><span style="color:#000000">Eg:</span></span></p>
    <ul>
        <li><em><span style="font-size:16px"><span
                style="color:#000000">This is Josef speaking. Is that Mary? </span><span style="color:#008000">(<em>Josef xin nghe. Mary hả?)</em></span></span></em>
        </li>
        <li><em><span style="font-size:16px"><span style="color:#000000">That sounds like John. </span><span
                style="color:#008000">(<em>Nghe giống như là John.)</em></span></span></em></li>
    </ul>
    <p><span style="color:#66cc00"><strong><span style="font-size:16px">III. LƯU Ý KHI SỬ DỤNG TÍNH TỪ CHỈ ĐỊNH VÀ ĐẠI TỪ CHỈ ĐỊNH</span></strong></span>
    </p>
    <p><span style="font-size:16px"><span style="color:#000000">- Không nên nhầm lẫn đại từ chỉ định với tính từ chỉ định. Đại từ chỉ định đứng một mình, trong khi tính từ chỉ định bổ ngữ cho một danh từ.</span></span>
    </p>
    <p><span style="font-size:16px"><span style="color:#000000">Eg:</span></span></p>
    <table border="1" cellpadding="1" cellspacing="1" style="width:704px">
        <tbody>
        <tr>
            <td style="text-align:center"><span style="color:#ff8c00"><strong><span style="font-size:16px">Đại từ chỉ định</span></strong></span>
            </td>
            <td style="text-align:center"><span style="color:#ff8c00"><span style="font-size:16px"><strong>Tính từ chỉ định + danh từ</strong></span></span>
            </td>
        </tr>
        <tr>
            <td><p style="text-align:center"><em><span style="color:#000000"><span style="font-size:16px"><strong>That smells </strong></span></span></em>
            </p>
                <p style="text-align:center"><span style="color:#000000"><span
                        style="font-size:16px"><em>Có mùi hôi quá</em></span></span></p></td>
            <td><p style="text-align:center"><em><span style="color:#000000"><span style="font-size:16px"><strong>That book is good</strong></span></span></em>
            </p>
                <p style="text-align:center"><em><span style="color:#000000"><span style="font-size:16px">Cuốn sách đó khá hay.</span></span></em>
                </p></td>
        </tr>
        </tbody>
    </table>
</div>