<meta charset="UTF-8">
<div class="first-content">
    <p><strong><span style="color:#66cc00"><span
            style="font-size:16px">I. LƯỢNG TỪ ( TỪ CHỈ SỐ LƯỢNG )</span></span></strong></p>
    <p><span style="color:#000000"><u><strong><span
            style="font-size:16px">1. Từ chỉ số lượng đi với danh từ số nhiều</span></strong></u></span></p></div>
<div class="last-content"><p><strong><span style="color:#000000"><span
        style="font-size:16px">a) Some</span></span></strong></p>
    <p style="text-align:center"><span style="color:#ff8c00"><strong><span style="font-size:16px">Some + countable noun (số nhiều) + V(số nhiều) </span></strong></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:16px"><em>Eg:</em></span></span></p>
    <ul>
        <li><em><span style="color:#000000"><span style="font-size:16px">Some pens are on the table. - Có một số cây viết trên bàn.</span></span></em>
        </li>
    </ul>
    <p><strong><span style="color:#000000"><span style="font-size:16px">b) Any</span></span></strong></p>
    <p><span style="color:#000000"><span style="font-size:16px">Eg: </span></span></p>
    <ul>
        <li><em><span style="color:#000000"><span style="font-size:16px">There aren’t any chairs in the room. – Không có cái ghế nào ở trong phòng cả.</span></span></em>
        </li>
    </ul>
    <p><strong><span style="color:#000000"><span style="font-size:16px">c) Many</span></span></strong></p>
    <p style="text-align:center"><span style="color:#ff8c00"><strong><span style="font-size:16px">Many + countable noun (số nhiều) + V(số nhiều)</span></strong></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:16px">Eg:</span></span></p>
    <ul>
        <li><em><span style="color:#000000"><span style="font-size:16px">There aren’t many people living here. – Không có nhiều người sống ở đây.</span></span></em>
        </li>
    </ul>
    <p><strong><span style="color:#000000"><span style="font-size:16px">d) A large number of</span></span></strong></p>
    <p style="text-align:center"><span style="color:#ff8c00"><strong><span style="font-size:16px">A large number of + countable noun (số nhiều) + V(số nhiều)</span></strong></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:16px">Eg:</span></span></p>
    <ul>
        <li><em><span style="color:#000000"><span style="font-size:16px">A large number of English books have been bought by him - Một số lượng lớn sách tiếng Anh đã được anh ta mua.</span></span></em>
        </li>
    </ul>
    <p><strong><span style="color:#000000"><span style="font-size:16px">e) A great number of</span></span></strong></p>
    <p style="text-align:center"><span style="color:#ff8c00"><strong><span style="font-size:16px">A great number of + countable noun (số nhiều) + V(số nhiều)</span></strong></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:16px">Eg:</span></span></p>
    <ul>
        <li><em><span style="color:#000000"><span style="font-size:16px">A great number of students said they were forced to practise the piano. – Rất nhiều học sinh bảo rằng họ bị ép phải luyện piano.</span></span></em>
        </li>
    </ul>
    <p><strong><span style="color:#000000"><span style="font-size:16px">f) Plenty of</span></span></strong></p>
    <p style="text-align:center"><strong><span style="color:#ff8c00"><span style="font-size:16px">Plenty of + countable noun (số nhiều) + V(số nhiều)</span></span></strong>
    </p>
    <ul>
        <li><em><span style="color:#000000"><span style="font-size:16px">There were plenty of berries. – Có nhiều trái mâm xôi.</span></span></em>
        </li>
    </ul>
    <p><br/> <strong><span style="color:#000000"><span
            style="font-size:16px">g) A lot of/ lots of</span></span></strong></p>
    <p style="text-align:center"><strong><span style="color:#ff8c00"><span style="font-size:16px">A lot of/ lots of + countable noun (số nhiều) + V(số nhiều)</span></span></strong>
    </p>
    <p><span style="color:#000000"><span style="font-size:16px">Eg:</span></span></p>
    <ul>
        <li><em><span style="color:#000000"><span style="font-size:16px">A lot of pupils/ lots of pupils are in the library now. (Rất nhiều học sinh / rất nhiều học sinh đang ở trong thư viện bây giờ.)</span></span></em>
        </li>
    </ul>
    <p><strong><span style="color:#000000"><span style="font-size:16px">h) Few/ a few</span></span></strong></p>
    <p style="text-align:center"><strong><span style="color:#ff8c00"><span style="font-size:16px">Few + countable noun (số nhiều) + V(số nhiều)</span></span></strong>
    </p>
    <p style="text-align:center"><strong><span style="color:#ff8c00"><span style="font-size:16px">A few + countable noun (số nhiều) + V(số nhiều)</span></span></strong>
    </p>
    <p><span style="color:#000000"><span style="font-size:16px">Eg:</span></span></p>
    <ul>
        <li><em><span style="color:#000000"><span style="font-size:16px">The house isn’t full. There are a few rooms empty. - Ngôi nhà này chưa kín chỗ đâu. Có một vài phòng trống.</span></span></em>
        </li>
        <li><em><span style="color:#000000"><span style="font-size:16px">He isn't popular. He has few friends. - Anh ấy không nổi tiếng. Anh ấy có ít bạn bè.</span></span></em>
        </li>
    </ul>
    <p><strong><span style="color:#000000"><span style="font-size:16px">i) Several</span></span></strong></p>
    <p><span style="color:#000000"><span style="font-size:16px">Eg:</span></span></p>
    <ul>
        <li><em><span style="color:#000000"><span style="font-size:16px">I’ve checked it several times. – Tôi đã kiểm tra nó vài lần rồi.</span></span></em>
        </li>
    </ul>
    <p><u><strong><span style="color:#000000"><span style="font-size:16px">2. Từ chỉ số lượng đi với danh từ đếm được số ít</span></span></strong></u>
    </p>
    <p><strong><span style="color:#000000"><span style="font-size:16px">a) Every</span></span></strong></p>
    <p><span style="color:#000000"><span style="font-size:16px">Eg:</span></span></p>
    <ul>
        <li><em><span style="color:#000000"><span style="font-size:16px">I go for walk every morning. – Tôi đi bộ mỗi sáng.</span></span></em>
        </li>
    </ul>
    <p><strong><span style="color:#000000"><span style="font-size:16px">b) Each </span></span></strong></p>
    <p><span style="color:#000000"><span style="font-size:16px">Eg:</span></span></p>
    <ul>
        <li><em><span style="color:#000000"><span style="font-size:16px">Each day seems to pass very slowly. – Mỗi ngày dường như trôi qua rất chậm.</span></span></em>
        </li>
    </ul>
    <p><u><strong><span style="color:#000000"><span style="font-size:16px">3. Từ chỉ số lượng đi với danh từ không đếm được</span></span></strong></u>
    </p>
    <p><strong><span style="color:#000000"><span style="font-size:16px">a) Some</span></span></strong></p>
    <p style="text-align:center"><strong><span style="color:#ff8c00"><span style="font-size:16px">Some + uncountable noun + V(số ít)</span></span></strong>
    </p>
    <p><span style="color:#000000"><span style="font-size:16px">Eg:</span></span></p>
    <ul>
        <li><em><span style="color:#000000"><span style="font-size:16px">There is some ink in the inkpot. Có một chút mực trong lọ mực</span></span></em>
        </li>
    </ul>
    <p><strong><span style="color:#000000"><span style="font-size:16px">b) Any</span></span></strong></p>
    <p><span style="color:#000000"><span style="font-size:16px">Eg:</span></span></p>
    <ul>
        <li><em><span style="color:#000000"><span style="font-size:16px">We haven’t got any butter. – Chúng tôi không có tí bơ nào.</span></span></em>
        </li>
    </ul>
    <p><strong><span style="color:#000000"><span style="font-size:16px">c) Much</span></span></strong></p>
    <p style="text-align:center"><strong><span style="color:#ff8c00"><span style="font-size:16px">Much + uncountable noun + V(số ít)</span></span></strong>
    </p>
    <p><span style="color:#000000"><span style="font-size:16px">Eg:</span></span></p>
    <ul>
        <li><em><span style="color:#000000"><span style="font-size:16px">There isn’t much fresh water on earth. - Không có nhiều nước sạch trên trái đất.</span></span></em>
        </li>
    </ul>
    <p><strong><span style="color:#000000"><span style="font-size:16px">d) A large amount of</span></span></strong></p>
    <p><span style="color:#000000"><span style="font-size:16px">Eg:</span></span></p>
    <ul>
        <li><em><span style="color:#000000"><span style="font-size:16px">He borrowed a large amount of money. – Anh ta đã mượn một số tiền lớn.</span></span></em>
        </li>
    </ul>
    <p><strong><span style="color:#000000"><span style="font-size:16px">e) A great deal of</span></span></strong></p>
    <p style="text-align:center"><span style="color:#ff8c00"><strong><span style="font-size:16px">A great deal of + uncountable noun + V (số ít)</span></strong></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:16px">Eg:</span></span></p>
    <ul>
        <li><em><span style="color:#000000"><span style="font-size:16px">A great deal of rice is produced in Vietnam - Rất nhiều gạo được sản xuất tại Việt Nam</span></span></em>
        </li>
    </ul>
    <p><strong><span style="color:#000000"><span style="font-size:16px">f) Plenty of</span></span></strong></p>
    <p style="text-align:center"><strong><span style="color:#ff8c00"><span style="font-size:16px">Plenty of + noun (không đếm được) + V(số ít)</span></span></strong>
    </p>
    <p><span style="color:#000000"><span style="font-size:16px">Eg:</span></span></p>
    <ul>
        <li><em><span style="color:#000000"><span style="font-size:16px">Don’t rush, there’s plenty of time. Đừng vội vàng, còn rất nhiều thời gian.</span></span></em>
        </li>
    </ul>
    <p><strong><span style="color:#000000"><span style="font-size:16px">h) A lot of/ Lots of</span></span></strong></p>
    <p style="text-align:center"><strong><span style="color:#ff8c00"><span style="font-size:16px">A lot of/ lots of + noun (không đếm được) + V(số ít)</span></span></strong>
    </p>
    <p><span style="color:#000000"><span style="font-size:16px">Eg:</span></span></p>
    <ul>
        <li><em><span style="color:#000000"><span style="font-size:16px">Lots of sugar is sold in the shop. - Rất nhiều đường được bán tại cửa hàng đó.</span></span></em>
        </li>
        <li><em><span style="color:#000000"><span style="font-size:16px">A lot of time is needed to learn a language. Cần nhiều thời gian để học một ngôn ngữ.</span></span></em>
        </li>
    </ul>
    <p><strong><span style="color:#000000"><span style="font-size:16px">i) Little/ a Little</span></span></strong></p>
    <p style="text-align:center"><strong><span style="color:#ff8c00"><span style="font-size:16px">A little (không nhiều nhưng đủ dùng) + uncountable noun + V(số ít)<br/>  Little (gần như không có gì) + uncountable noun + V(số ít)</span></span></strong>
    </p>
    <p><span style="color:#000000"><span style="font-size:16px">Eg:</span></span></p>
    <ul>
        <li><em><span style="color:#000000"><span style="font-size:16px">There is little sugar in my coffee. – Có rất ít đường trong cà phê của tôi. </span></span></em>
        </li>
        <li><em><span style="color:#000000"><span style="font-size:16px">He spoke a little English, so we was able to communicate with him.- Anh nói một ít tiếng Anh, vì vậy chúng tôi có thể giao tiếp với anh ấy.</span></span></em>
        </li>
    </ul>
    <p><span style="color:#ff0000"><strong><span style="font-size:16px">Lưu ý:</span></strong></span></p>
    <p><span style="color:#000000"><span style="font-size:16px">-      <strong>some</strong>: dùng trong câu khẳng định, câu yêu cầu, lời mời, lời đề nghị.</span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:16px">-     <strong> any</strong>: dùng trong câu phủ định, nghi vấn</span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:16px">-      <strong>many, much</strong>: dùng trong câu phủ định, nghi vấn</span></span>
    </p>
    <p><span style="color:#000000"><span
            style="font-size:16px">-      <strong>a lot of, plenty of, a great number of </strong>… dùng trong câu khẳng định</span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:16px">-      <strong>many, much:</strong> luôn dùng trong câu khẳng định có các từ very, too, so, as</span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:16px">-      <strong>few, little (ít, không nhiều)</strong>: thường có nghĩa phủ định, ít không đủ để dùng</span></span>
    </p>
    <p><span style="color:#000000"><span
            style="font-size:16px">-      <strong>a few / a little (một vài, một ít)</strong>: thường có nghĩa khẳng định, ít đủ để dùng</span></span>
    </p>
    <p><span style="color:#66cc00"><strong><span
            style="font-size:16px">II. ĐỘNG TỪ SỬ DỤNG SAU TỪ CHỈ SỐ LƯỢNG</span></strong></span></p>
    <p><span style="color:#000000"><span style="font-size:16px"><strong>1. Số thập phân, phân số, sự đo lường + động từ số ít</strong></span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:16px">Eg:</span></span></p>
    <ul>
        <li><em><span style="color:#000000"><span style="font-size:16px">Three quarters of a ton is too much. – Ba phần tư tấn là quá nhiều.</span></span></em>
        </li>
    </ul>
    <p><strong><span style="color:#000000"><span style="font-size:16px">2. All, some, plenty + of + danh từ số ít + động từ số ít</span></span></strong>
    </p>
    <p><span style="color:#000000"><span style="font-size:16px">Eg:</span></span></p>
    <ul>
        <li><em><span style="color:#000000"><span style="font-size:16px">Some of the milk was sour. – Một ít sữa đã bị chua.</span></span></em>
        </li>
    </ul>
    <p><strong><span style="color:#000000"><span style="font-size:16px">3. Half, part, a lot + of + danh từ số nhiều + động từ số nhiều</span></span></strong>
    </p>
    <p><span style="color:#000000"><span style="font-size:16px">Eg:</span></span></p>
    <ul>
        <li><em><span style="color:#000000"><span style="font-size:16px">A lot of my friends want to emigrate. – Nhiều người bạn của tôi muốn di cư.</span></span></em>
        </li>
    </ul>
    <p><strong><span style="color:#000000"><span
            style="font-size:16px">4. No + danh từ số ít + động từ số ít</span></span></strong></p>
    <p><span style="color:#000000"><span style="font-size:16px">Eg:</span></span></p>
    <ul>
        <li><em><span style="color:#000000"><span style="font-size:16px">No student has finished their assignment. – Không có học sinh nào hoàn thành bài tập.</span></span></em>
        </li>
    </ul>
    <p><strong><span style="color:#000000"><span
            style="font-size:16px">5. No + danh từ số nhiều + động từ số nhiều</span></span></strong></p>
    <p><span style="color:#000000"><span style="font-size:16px">Eg:</span></span></p>
    <ul>
        <li><em><span style="color:#000000"><span style="font-size:16px">No people think alike. – Không có người nào nghĩ giống nhau.</span></span></em>
        </li>
    </ul>
    <p><strong><span style="color:#000000"><span style="font-size:16px">6. A number of + danh từ số nhiều + động từ số nhiều</span></span></strong>
    </p>
    <p><span style="color:#000000"><span style="font-size:16px">Eg:</span></span></p>
    <ul>
        <li><em><span style="color:#000000"><span style="font-size:16px">A number of countries are overproducing goods. – Một số nước đang sản xuất thừa hàng hóa.</span></span></em>
        </li>
    </ul>
    <p><strong><span style="color:#000000"><span style="font-size:16px">7. The number of + danh từ số nhiều + động từ số ít</span></span></strong>
    </p>
    <p><span style="color:#000000"><span style="font-size:16px">Eg:</span></span></p>
    <ul>
        <li><em><span style="color:#000000"><span style="font-size:16px">The number of visitors increases rapidly. – Lượng du khách tăng nhanh chóng. </span></span></em>
        </li>
    </ul>
</div>