<meta charset="UTF-8">
<div class="first-content">
    <p><span style="font-size:14px"><span style="color:#00ccff"><strong>I. ĐƯA RA ĐỀ XUẤT, GỢI Ý VỚI LET'S, WHAT ABOUT, HOW ABOUT, WHY NOT</strong></span></span>
    </p></div>
<div class="last-content"><p><span style="font-size:14px"><span
        style="color:#66cc00"><strong>1. Let's</strong></span></span></p>
    <p><span style="font-size:14px"><span style="color:#000000">- Ta có thể dùng câu trúc câu mệnh lệnh bắt đầu bằng “Let’s” (Let us) để đề nghị ai đó cùng làm một việc gì với mình.</span></span>
    </p>
    <p style="text-align:center"><span style="font-size:14px"><span style="color:#ff8c00"><strong>Let’s + bare infinitive</strong></span></span>
    </p>
    <p><span style="font-size:14px"><strong><span style="color:#000000">Eg:</span></strong></span></p>
    <ul>
        <li><span style="font-size:14px"><em><span style="color:#000000">Let’s go to the cinema.</span><br/>  	<span
                style="color:#008000">(Chúng ta hãy đi xem phim đi.)</span></em></span></li>
        <li><span style="font-size:14px"><em><span
                style="color:#000000">Let’s go home. Mom is waiting for us.</span><br/>  	<span style="color:#008000">(Chúng ta hãy về nhà thôi. Mẹ đang đợi chúng ta đấy.)</span></em></span>
        </li>
    </ul>
    <p><span style="font-size:14px"><span
            style="color:#66cc00"><strong>2. What about…? / How about…?</strong></span></span></p>
    <p><span style="font-size:14px"><span style="color:#000000">- Ta có thể đưa ra gợi ý làm một việc gì đó với cấu trúc câu hỏi “What about…? / How about…?”</span></span>
    </p>
    <p style="text-align:center"><span style="font-size:14px"><strong><span style="color:#ff8c00">What about + Noun/Noun phrase/V-ing…?</span></strong></span>
    </p>
    <p style="text-align:center"><span style="font-size:14px"><strong><span style="color:#ff8c00">How about + Noun/Noun phrase/V-ing…?</span></strong></span>
    </p>
    <p><span style="font-size:14px"><strong><span style="color:#000000">Eg:</span></strong></span></p>
    <ul>
        <li><span style="font-size:14px"><em><span style="color:#000000">What about going out for a walk?</span><br/>  	<span
                style="color:#008000">(Ra ngoài đi dạo chút nhé?)</span></em></span></li>
        <li><span style="font-size:14px"><em><span
                style="color:#000000">What about a glass of beer?</span><br/>  	<span style="color:#008000">(Một ly bia nha?)</span></em></span>
        </li>
        <li><span style="font-size:14px"><em><span
                style="color:#000000">How about going out for lunch?</span><br/>  	<span style="color:#008000">(Ra ngoài ăn cơm trưa được không?)</span></em></span>
        </li>
    </ul>
    <p><span style="font-size:14px"><span style="color:#66cc00"><strong>3. Why not…?</strong></span></span></p>
    <p><span style="font-size:14px"><span style="color:#000000">- Ta cũng có thể gợi ý hay lịch sự đề nghị người đối diện làm gì bằng câu hỏi với “Why not…?”</span></span>
    </p>
    <p style="text-align:center"><span style="font-size:14px"><span style="color:#ff8c00"><strong>Why not + bare infinitive …?</strong></span></span>
    </p>
    <p style="text-align:center"><span style="font-size:14px"><span style="color:#ff8c00"><strong>Why don’t we/you + bare infinitive …?</strong></span></span>
    </p>
    <p><span style="font-size:14px"><span style="color:#000000">Eg:</span></span></p>
    <ul>
        <li><span style="font-size:14px"><em><span style="color:#000000">Why not have a bath?</span><br/>  	<span
                style="color:#008000">(Sao không đi tắm?)</span></em></span></li>
        <li><span style="font-size:14px"><em><span
                style="color:#000000">Why don’t we play soccer in the rain?</span><br/>  	<span style="color:#008000">(Tại sao chúng ta không chơi đá banh dưới trời mưa nhỉ?)</span></em></span>
        </li>
    </ul>
    <p><span style="font-size:14px"><span style="color:#00ccff"><strong>II. ĐƯA RA LỜI ĐỀ NGHỊ VỚI CẤU TRÚC DO YOU MIND/ WOULD YOU MIND</strong></span></span>
    </p>
    <p><span style="font-size:14px"><span style="color:#66cc00"><strong>1. Dùng cấu trúc dạng verb-ing:</strong></span></span>
    </p>
    <p style="text-align:center"><span style="font-size:14px"><span style="color:#ff8c00"><strong>Would you mind + verb-ing…?</strong></span></span>
    </p>
    <p style="text-align:center"><span style="font-size:14px"><span style="color:#ff8c00"><strong>Do you mind + verb-ing…?</strong></span></span>
    </p>
    <p><span style="font-size:14px"><span style="color:#000000">Eg:</span></span></p>
    <ul>
        <li><span style="font-size:14px"><em><span style="color:#000000">Would/ Do you mind helping me for a few minutes?</span><br/>  	<span
                style="color:#008000">(Bạn có phiền giúp tôi ít phút được không?)</span></em></span></li>
        <li><span style="font-size:14px"><span style="color:#000000"><em>Would/ Do you mind not smoking? (= Please don't smoke.)</em></span><br/>  	<span
                style="color:#008000"><em>(Xin đừng hút thuốc.)</em></span></span></li>
        <li><span style="font-size:14px"><span style="color:#000000"><em>Would/ Do you mind opening the window? (= Please open the window.)</em></span><br/>  	<span
                style="color:#008000"><em>(Phiền bạn mở giùm cửa sổ. / Vui lòng mở giùm cửa sổ.)</em></span></span></li>
    </ul>
    <p><span style="font-size:14px"><span style="color:#66cc00"><strong>2. Dùng cấu trúc dạng if</strong></span></span>
    </p>
    <p><span style="font-size:14px"><span style="color:#000000">- Để hỏi xin phép một cách lịch sự trong tiếng Anh ta thường dùng cấu trúc dạng if, cụ thể:</span></span>
    </p>
    <p style="text-align:center"><span style="font-size:14px"><strong><span style="color:#ff8c00">Do you mind + if-clause (present tense)… ?</span></strong></span>
    </p>
    <p style="text-align:center"><span style="font-size:14px"><strong><span style="color:#ff8c00">Would you mind + if-clause (past tense)… ?</span></strong></span>
    </p>
    <p><span style="font-size:14px"><strong><span style="color:#000000">Eg:</span></strong></span></p>
    <ul>
        <li><span style="font-size:14px"><em><span style="color:#000000">Do you mind if I smoke?</span><br/>  	<span
                style="color:#008000">(Anh có phiền không nếu tôi hút thuốc?)</span></em></span></li>
        <li><span style="font-size:14px"><em><span
                style="color:#000000">Would you mind if I opened the window?</span><br/>  	<span style="color:#008000">(Bạn có phiền không nếu tôi mở cửa sổ?)</span></em></span>
        </li>
    </ul>
    <p><span style="font-size:14px"><span style="color:#000000">- <strong>Lưu ý rằng</strong> câu trả lời No (không) hoặc Not at all (không có gì) được dùng để cho phép trong cấu trúc Would/ Do you mind if… ? (nhưng chúng ta thường thêm vào những từ khác nữa để làm cho ý nghĩa thật rõ ràng.)</span></span>
    </p>
    <p><span style="font-size:14px"><strong><span style="color:#000000">Eg:</span></strong></span></p>
    <ul>
        <li><span style="font-size:14px"><em><span
                style="color:#000000">Do you mind if I look at your paper? </span><br/>  	<span style="color:#008000">(Bạn có phiền không nếu tôi xem nhờ báo của bạn?) . </span></em><br/>  	<em><span
                style="color:#000000">No, please do. (Không, xin cứ xem.)</span></em></span></li>
        <li><span style="font-size:14px"><em><span
                style="color:#000000">Would you mind if I used your handphone? </span><br/>  	<span
                style="color:#008000">(Bạn có phiền không nếu tôi dùng điện thoại cầm tay của bạn?) .</span><br/>  	<span
                style="color:#000000">No, please do. (Không, xin cứ tự nhiên.)</span></em></span></li>
    </ul>
    <p><span style="font-size:14px"><span style="color:#000000"><strong>- Lưu ý:</strong> Hai cấu trúc đưa ra lời đề nghị này có sự khác nhau về mức độ lịch sự: Would you mind có phần lịch sự hơn Do you mind. Tuy nhiên, sự khác biệt này rất nhỏ nên hai cấu trúc này có thể được sử dụng như nhau trong các tình huống giao tiếp trang trọng.</span></span>
    </p>
</div>