<meta charset="UTF-8">
<div class="last-content"><p><span style="font-size:14px"><span style="color:#000000">Mệnh đề chỉ mục đích To, In order to, In order that, So as to và So that đều mang nghĩa là: để mà, nhưng chúng sẽ có các cách dùng khác nhau.</span></span>
</p>
    <p> </p>
    <p> </p>
    <p><span style="font-size:14px"><span style="color:#0099ff"><strong>1. So That/ In order that</strong></span></span>
    </p>
    <p style="text-align:center"><span style="font-size:14px"><span style="color:#ff8c00"><strong>Mệnh đề + SO THAT / IN ORDER THAT + S can/could/will/would + V …</strong></span></span>
    </p>
    <p><span style="font-size:14px"><span style="color:#000000"><strong>- Lưu ý</strong>: Thông thường nếu không có NOT thì dùng can /could còn có NOT thì dùng won’t / wouldn’t, trừ những trường hợp có ý ngăn cấm thì mới dùng can’t/couldn’t.</span></span>
    </p>
    <p><span style="font-size:14px"><span style="color:#000000"><strong>Eg:</strong></span></span></p>
    <ul>
        <li><span style="font-size:14px"><em><span
                style="color:#000000">I study hard <u>so that</u> I <u><strong>can</strong></u> pass the exam. </span><span
                style="color:#008000">(Tôi học tập chăm chỉ để có thể vượt qua kỳ thi.)</span></em></span></li>
        <li><span style="font-size:14px"><em><span
                style="color:#000000">I study hard <u>so that</u> I <u><strong>won’t</strong></u> fail the exam. </span><span
                style="color:#008000">(Tôi học chăm chỉ để không bị rớt trong kỳ thi.)</span></em></span></li>
        <li><span style="font-size:14px"><em><span
                style="color:#000000">I hide the toy <u>so that</u> my mother <u><strong>can’t</strong></u> see it. </span><span
                style="color:#008000">( Tôi giấu món đồ chơi để mẹ tôi không thể thấy nó -> ngăn không cho thấy ) </span></em></span>
        </li>
    </ul>
    <p><span style="font-size:14px"><span
            style="color:#0099ff"><strong>2. In order to/ So as to/ To</strong></span></span></p>
    <p style="text-align:center"><span style="font-size:14px"><span style="color:#ff8c00"><strong>Mệnh đề + IN ORDER TO/SO AS TO/TO + Inf.</strong></span></span>
    </p>
    <p><span style="font-size:14px"><span style="color:#000000"><strong>- Lưu ý: </strong>Nếu có NOT thì để NOT trước TO, tuy nhiên mẫu TO không áp dụng được trường hợp có NOT.</span></span>
    </p>
    <p><span style="font-size:14px"><strong><span style="color:#000000">Eg:</span></strong></span></p>
    <ul>
        <li><span style="font-size:14px"><em><span style="color:#000000">I study hard. I want to pass the exam.<br/>  	<span
                style="color:#000000">-> I study hard <strong><u>in order to / so as to /to</u> </strong>pass the exam.</span></span></em></span>
        </li>
        <li><span style="font-size:14px"><em><span
                style="color:#000000">I study hard. I don’t want to fail the exam.<br/>  	<span style="color:#000000">-> -> I study hard <u><strong>in order not to</strong></u> fail the exam. </span><strong>(đúng)</strong></span></em></span>
        </li>
        <li><span style="font-size:14px"><em><span
                style="color:#000000">-> I study hard <u><strong>so as not to /to</strong></u> fail the exam.<strong>(đúng)</strong></span></em></span>
        </li>
        <li><span style="font-size:14px"><em><span style="color:#000000">-> I study hard <u><strong>not to</strong></u> fail the exam. <strong>(sai)</strong></span></em></span>
        </li>
    </ul>
    <p><span style="font-size:14px"><span style="color:#000000"><strong>- Lưu ý:</strong> Nếu có 2 chủ ngữ khác nhau thì chủ ngữ câu sau biến thành FOR SB</span></span>
    </p>
    <p><span style="font-size:14px"><span style="color:#000000"><strong>Eg:</strong> </span></span></p>
    <ul>
        <li><span style="font-size:14px"><em><span style="color:#000000">I gave her his phone number. I wanted her call him<br/>  	<em><span
                style="color:#000000">=> I gave her his number <u><strong>in order for her to</strong></u> call him.</span></em></span></em></span>
        </li>
    </ul>
    <p><span style="font-size:14px"><span style="color:#0099ff"><strong>3. Cách nối câu</strong></span></span></p>
    <p><span style="font-size:14px"><span
            style="color:#66cc00"><strong>A. So That/In Order That :</strong></span></span></p>
    <p><span style="font-size:14px"><span style="color:#000000">- Trong câu thứ hai nếu có các động từ: <strong>Want, like, hope</strong>... thì phải bỏ đi rồi thêm <strong>can/could/will/would</strong> vào</span></span>
    </p>
    <p><span style="font-size:14px"><span style="color:#000000">- Nếu sau các chữ <strong>want, like, hope</strong>..có túc từ thì lấy túc từ đó ra làm chủ từ.</span></span>
    </p>
    <p><span style="font-size:14px"><span style="color:#000000">Eg:</span></span></p>
    <ul>
        <li><span style="font-size:14px"><span style="color:#000000"><em>I give you the book .I want <strong><u>you</u></strong> to read it.<br/>  	<span
                style="color:#000000"><em>-> I give you the book so that <u><strong>you</strong></u> can read it.</em></span></em></span></span>
        </li>
    </ul>
    <p><span style="font-size:14px"><span
            style="color:#66cc00"><strong>B. Dùng In Order To/So As To/To :</strong></span></span></p>
    <p><span style="font-size:14px"><span style="color:#000000">- Chỉ áp dụng được khi 2 chủ từ 2 câu giống nhau<br/>  - Bỏ chủ từ câu sau, bỏ các chữ <strong>want, like, hope</strong>...giữ lại từ động từ sau nó.</span></span>
    </p>
    <p><span style="font-size:14px"><span style="color:#000000"><strong>Eg:</strong></span></span></p>
    <ul>
        <li><span style="font-size:14px"><em><span
                style="color:#000000">I study hard .I want to pass the exam.</span></em></span></li>
        <li><span style="font-size:14px"><em><span style="color:#000000">I study hard .<s><strong>I want to</strong></s> pass the exam.<br/>  	<em><span
                style="color:#000000">-> I study hard <u><strong>in order to</strong></u> pass the exam.</span></em></span></em></span>
        </li>
    </ul></div>