<meta charset="UTF-8">
<div class="first-content">
    <h3><span style="font-size:14px"><span style="color:#0099ff"><strong>I. KHÁI NIỆM</strong></span></span></h3>
    <p><span style="font-size:14px"><span style="color:#000000"><strong>Would you mind</strong> trong tiếng anh được dùng để yêu cầu ai làm việc gì đó hoặc hỏi xin phép làm điều gì đó một cách trang trọng.</span></span>
    </p>
    <h3><span style="font-size:14px"><span style="color:#0099ff"><strong>II. CẤU TRÚC VÀ CÁCH SỬ DỤNG WOULD YOU MIND - DO YOU MIND TRONG TIẾNG ANH</strong></span></span>
    </h3></div>
<div class="last-content"><h4><span style="font-size:14px"><span style="color:#000000"><strong>1. Để yêu cầu ai làm việc gì đó một cách lịch sự ta thường dùng cấu trúc Would you mind verb-ing:</strong></span></span>
</h4>
    <p><span style="font-size:14px"><strong><span style="color:#000000">- Cấu trúc:</span></strong></span></p>
    <p style="text-align:center"><span style="font-size:14px"><span style="color:#ff8c00"><strong>Would you mind + verb-ing...? Do you mind + verb-ing...?</strong></span></span>
    </p>
    <p><span style="font-size:14px"><span style="color:#000000">Eg:</span></span></p>
    <ul>
        <li><span style="font-size:14px"><span style="color:#000000"><em>Would you mind / Do you mind helping me for a few minutes?<br/>  	(Bạn có phiền giúp tôi ít phút được không?)</em></span></span>
        </li>
        <li><span style="font-size:14px"><span style="color:#000000"><em>Would you mind / Do you mind not smoking? (= Please don't smoke.)<br/>  	(Xin đừng hút thuốc.)</em></span></span>
        </li>
        <li><span style="font-size:14px"><span style="color:#000000"><em>Would you mind / Do you mind opening the window? (= Please open the window.)<br/>  	(Phiền bạn mở giùm cửa sổ. / Vui lòng mở giùm cửa sổ.)</em></span></span>
        </li>
    </ul>
    <h4><span style="font-size:14px"><span style="color:#000000"><strong>2. Đề hỏi xin phép một cách lịch sự ta thường dùng cấu trúc dạng Would you mind + if.</strong></span></span>
    </h4>    <h4><span style="font-size:14px"><strong><span style="color:#000000">- Cấu trúc:</span></strong></span>
    </h4>
    <p style="text-align:center"><span style="font-size:14px"><span style="color:#ff8c00"><strong>Do you mind + if-clause (present tense)... ?</strong></span></span>
    </p>
    <p style="text-align:center"><span style="font-size:14px"><span style="color:#ff8c00"><strong>Would you mind + if-clause (past tense)... ?</strong></span></span>
    </p>
    <p><span style="font-size:14px"><strong><span style="color:#000000">Eg:</span></strong></span></p>
    <ul>
        <li><span style="font-size:14px"><em><span style="color:#000000">Do you mind if I smoke?</span><br/>  	<span
                style="color:#008000">(Anh có phiền không nếu tôi hút thuốc?)</span></em></span></li>
        <li><span style="font-size:14px"><span
                style="color:#000000"><em>Would you mind if I opened the window?</em></span><br/>  	<span
                style="color:#008000"><em>(Bạn có phiền không nếu tôi mở cửa sổ?)</em></span></span></li>
    </ul>
    <p><span style="font-size:14px"><span style="color:#000000"><strong>- Lưu ý rằng</strong> câu trả lời No (không) hoặc Not at all (không có gì) được dùng để cho phép trong cấu trúc Would you mind if / Do you mind if... ? (nhưng chúng ta thường thêm vào những từ khác nữa để làm cho ý nghĩa thật rõ ràng.) </span></span>
    </p>
    <p><span style="font-size:14px"><strong><span style="color:#000000">Eg:</span></strong></span></p>
    <ul>
        <li><span style="font-size:14px"><em><span
                style="color:#000000">Do you mind if I look at your paper? </span><span style="color:#008000">(Bạn có phiền không nếu tôi xem nhờ báo của bạn?)</span></em></span>
        </li>
        <li><span style="font-size:14px"><em><span style="color:#000000">No, please do. (Không, xin cứ xem.)</span></em></span>
        </li>
        <li><span style="font-size:14px"><em><span
                style="color:#000000">Would you mind if I used your handphone? </span><span style="color:#008000">(Bạn có phiền không nếu tôi dùng điện thoại cầm tay của bạn?)</span></em></span>
        </li>
        <li><span style="font-size:14px"><em><span style="color:#000000">No, please do. (Không, xin cứ tự nhiên.)</span></em></span>
        </li>
    </ul>
    <h3><span style="font-size:14px"><span style="color:#0099ff"><strong>III. LƯU Ý KHI SỬ DỤNG CẤU TRÚC WOULD YOU MIND / DO YOU MIND</strong></span></span>
    </h3>
    <p><span style="font-size:14px"><span style="color:#000000">Hai cấu trúc đưa ra lời đề nghị này có sự khác nhau về mức độ lịch sự: Would you mind có phần lịch sự hơn Do you mind. Tuy nhiên, sự khác biệt này rất nhỏ nên hai cấu trúc này có thể được sử dụng như nhau trong các tình huống tiếng anh giao tiếp trang trọng.</span></span>
    </p>
</div>