<meta charset="UTF-8">
<div class="item-active" id="item-1">
    <div class="item-title-active">
        <div class="item-title-active-content">I. ĐỊNH NGHĨA
        </div>

    </div>
    <div class="item-active-content">
        <p><span><span><span
        ><strong>Thì tương hoàn thành</strong>&nbsp;(Future perfect) </span>được dùng để diễn tả hành động sẽ hoàn thành tới 1 thời điểm xác định trong tương lai.</span></span>
        </p>
    </div>
</div>
<div class="item-active" id="item-2">
    <div class="item-title-active">
        <div class="item-title-active-content">II. CẤU TRÚC
        </div>

    </div>
    <div class="item-active-content">
        <p><span style="color:#ffa500"><span><strong>1. Khẳng định:</strong></span></span></p>

        <p><strong><span><span>- Cấu Trúc</span></span></strong></p>

        <p style="text-align:center"><span style="color:#66cc00"><span
                style="font-size:20px"><strong>S + will + have + VpII</strong></span></span></p>

        <p><span><span><strong>- Trong đó:</strong></span></span></p>

        <p><em><span><span>&nbsp;&nbsp;+ S (subject): Chủ ngữ</span></span></em></p>
        <p><em><span><span>&nbsp;&nbsp;+ Will/ have: trợ động từ</span></span></em></p>
        <p><em><span><span>&nbsp;&nbsp;+ VpII: Động từ phân từ II&nbsp;</span></span></em>
        </p>

        <p><strong><span><span>- Eg:&nbsp;</span></span></strong></p>

        <p><em><span><span
        >&nbsp;&nbsp;+ I <u><strong>will have finished</strong></u><strong>&nbsp;</strong>my report by the end of this month. </span></span><br>
            <span style="color:#008000"><span>(Tôi sẽ hoàn hành bài báo cáo của tôi vào cuối tháng này.)</span></span></em>
        </p>
        <p><em><span><span>&nbsp;&nbsp;+ He <u><strong>will have typed</strong></u> 250 pages by 4 o’clock this afternoon. </span></span><br>
            <span style="color:#008000"><span>(Cho tới 4h chiều nay thì anh ấy sẽ đánh máy được 25 trang.)</span></span></em>
        </p>

        <p><span style="color:#ffa500"><strong><span>2. Phủ định:</span></strong></span></p>

        <p><span><span><strong>- Cấu trúc</strong></span></span></p>

        <p style="text-align:center"><span style="color:#66cc00"><span style="font-size:20px"><strong>S + will + not + have + VpII</strong></span></span>
        </p>

        <p>
            <span><span>=&gt; Câu phủ định trong thì tương lai hoàn thành ta chỉ việc thêm “not” vào ngay sau “will”</span></span>
        </p>

        <p><strong><span><span>- Eg:</span></span></strong></p>

        <p><em><span><span>&nbsp;&nbsp;+ I <u><strong>will not have stopped</strong></u> my work before the time you come tomorrow. </span></span><br>
            <span style="color:#008000"><span
            >(Mình sẽ vẫn chưa xong việc khi bạn đến ngày mai.)</span></span></em></p>
        <p><em><span><span
        >&nbsp;&nbsp;+ My sister <u><strong>will not have come</strong></u> home by 10 pm this evening. </span></span><br>
            <span style="color:#008000"><span
            >(Chị gái tôi sẽ vẫn chưa về nhà vào lúc 10h tối nay.)</span></span></em></p>

        <p><span style="color:#ffa500"><strong><span>3. Câu hỏi:</span></strong></span></p>

        <p><strong><span><span>- Cấu trúc:</span></span></strong></p>

        <p style="text-align:center"><span style="color:#66cc00"><span
                style="font-size:20px"><strong>Will + S + have + VpII ?</strong></span></span></p>

        <p><span><span><strong>- Trả lời:</strong></span></span></p>

        <p><span><span><em>&nbsp;&nbsp;+ Yes, S + will</em></span></span></p>
        <p><span><span><em>&nbsp;&nbsp;+ No, S + won’t</em></span></span></p>

        <p>
            <span><span>=&gt; Câu hỏi trong thì tương lai hoàn thành ta chỉ cần đảo “will” lên trước chủ ngữ.</span></span>
        </p>

        <p><strong><span><span>- Eg:</span></span></strong></p>

        <p><em><span><span>&nbsp;&nbsp;+ <u><strong>Will</strong></u> you <u><strong>have gone</strong></u> out by 7 pm tomorrow?</span></span><br>
            <span style="color:#008000"><span
            >(Vào lúc 7 giờ tối mai bạn đi ra ngoài rồi đúng không?)</span></span><br>
            <span><span><span><span
            >Yes, I will./ No, I won’t.</span></span></span></span></em></p>
        <p><em><span><span
        >&nbsp;&nbsp;+ <u><strong>Will</strong></u> your parents <u><strong>have come</strong></u> back Vietnam before the summer vacation?</span></span><br>
            <span style="color:#008000"><span>(Trước kỳ nghỉ hè thì bố mẹ bạn quay trở về Việt Nam rồi đúng không?)</span></span><br>
            <span><span><span><span
            >Yes, they will./ No, they won’t.</span></span></span></span></em></p>
    </div>
</div>
<div class="item-active" id="item-3">
    <div class="item-title-active">
        <div class="item-title-active-content">III. CÁCH SỬ DỤNG
        </div>

    </div>
    <div class="item-active-content">
        <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
            <tbody>
            <tr>
                <td style="text-align:center"><span style="color:#ffa500"><span
                ><strong>Cách Sử Dụng</strong></span></span></td>
                <td style="text-align:center">
                    <p><span style="color:#ffa500"><span><strong>Ví Dụ</strong></span></span></p>
                </td>
            </tr>
            <tr>
                <td><span><span>- Dùng để diễn tả một hành động hay sự việc hoàn thành trước một thời điểm trong tương lai</span></span>
                </td>
                <td>
                    <p><span><span
                    ><em>&nbsp;&nbsp;+ I <u><strong>will have finished</strong></u> my homework before 12 o’clock this evening</em></span></span><br>
                        <span style="color:#008000"><span><em>(Tôi sẽ hoàn thành bài tập của mình vào trước 12 giờ tối nay)</em></span></span>
                    </p>
                    <p>
                        <span><span><em>&nbsp;&nbsp;+ I <u><strong>will have arrived</strong></u> at the office by 7AM</em></span></span><br>
                        <span style="color:#008000"><span><em>(Tôi sẽ có mặt ở văn phòng lúc 7 giờ sáng)</em></span></span>
                    </p>
                </td>
            </tr>
            <tr>
                <td><span><span>- Dùng để diễn tả một hành động hay sự việc hoàn thành trước một hành động hay sự việc trong tương lai</span></span>
                </td>
                <td>
                    <p><span
                    ><span><em>&nbsp;&nbsp;+ When you come back, I <u><strong>will have typed</strong></u> this email</em></span></span><br>
                        <span style="color:#008000"><span><em>(Khi bạn quay lại, tôi sẽ đánh máy xong bức thư điện tử này)</em></span></span>
                    </p>
                    <p><span><span
                    ><em>&nbsp;&nbsp;+ I <u><strong>will have made</strong></u> the meal ready before the time you come tomorrow.</em></span></span><br>
                        <span style="color:#008000"><span><em>(Bữa ăn sẽ sẵn sàng trước khi bạn đến vào ngày mai)</em></span></span>
                    </p>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="item-active" id="item-4">
    <div class="item-title-active">
        <div class="item-title-active-content">IV.&nbsp;DẤU HIỆU NHẬN BIẾT
        </div>

    </div>
    <div class="item-active-content">
        <p><span style="color:#ffa500"><strong><span>Trong câu có các cụm từ sau:</span></strong></span>
        </p>

        <p><em><span><span>&nbsp;&nbsp;+ By + thời gian trong tương lai</span></span></em>
        </p>
        <p><em><span><span
        >&nbsp;&nbsp;+ By the end of + thời gian trong tương lai</span></span></em></p>
        <p><em><span><span>&nbsp;&nbsp;+ By the time …</span></span></em></p>
        <p><em><span><span
        >&nbsp;&nbsp;+ Before + thời gian trong tương lai</span></span></em></p>

        <p><strong><span><span>- Eg:</span></span></strong></p>

        <p><em><span
        ><span>&nbsp;&nbsp;+ <u>By the end of this month</u> I <u><strong>will have taken</strong></u> an English course. </span></span><span
                style="color:#008000"><span>(Cho tới cuối tháng này thì tôi đã tham gia một khóa học Tiếng Anh rồi.)</span></span></em>
        </p>
    </div>
</div>
