<meta charset="UTF-8">
<div class="first-content">
    <h3><span style="font-size:16px"><span
            style="color:#00ccff"><strong>I. Tổng quan về câu hỏi trong tiếng Anh</strong></span></span></h3>
    <p><span style="font-size:14px"><span style="color:#000000">Mặc dù là những câu hỏi thông thường, nhưng nhiều người học tiếng Anh vẫn băn khoăn nên đặt câu hỏi thế nào cho đúng hoặc "Mẫu câu là gì nhỉ???". Với từng loại câu hỏi , chúng ta nên ghi nhớ bằng cách đặt ít nhất 5 câu ví dụ cho mỗi loại. Và nếu học thuộc được, lặp đi lặp lại được để quen thì nghe nói quen thì rất tốt. Bạn sẽ không còn băn khoăn, do dự khi hỏi và trả lời nữa.</span></span>
    </p></div>
<div class="last-content"><h3><span style="font-size:16px"><span style="color:#00ccff"><strong>II. Các dạng câu hỏi trong tiếng Anh</strong></span></span>
</h3>
    <p><span style="font-size:14px"><span style="color:#000000">Nếu là người mới bắt đầu học tiếng Anh, bạn cần biết trong tiếng Anh có 2 dạng câu hỏi căn bản là: Câu hỏi "Yes"/"no" và Câu hỏi Wh-.</span></span>
    </p>    <h4><span style="font-size:14px"><span
            style="color:#66cc00"><strong>1. Câu hỏi "Yes"/ "No" (Có/ không)</strong></span></span></h4>    <h4><span
            style="font-size:14px"><span style="color:#000000">Câu hỏi “yes”/ “no” hay còn gọi là câu hỏi đóng sử dụng be, have, do hoặc một động từ khiếm khuyết. Câu hỏi Yes/No luôn bắt đầu bằng một trong những động từ trên và có thể trả lời đơn giản là Yes hoặc No, hay lặp lại câu hỏi như một sự tuyên bố.</span></span>
    </h4>
    <p><span style="font-size:14px"><span style="color:#000000"><strong>- Lưu ý</strong>: Không thể hỏi câu hỏi Yes/No mà không dùng một trong các trợ động từ trên.<br/>   </span></span>
    </p>
    <ul>
        <li><span style="font-size:14px"><span
                style="color:#000000"><em><s>He want a car?   </s>       --->        <u><strong>Does</strong></u> he want a car?</em></span></span>
        </li>
        <li><span style="font-size:14px"><span
                style="color:#000000"><em><s>You going to eat with us?</s>  --->  <u><strong>Are</strong></u> you going to eat with us?</em></span></span>
        </li>
    </ul>
    <h5><span style="font-size:14px"><span
            style="color:#ff8c00"><strong>A. Đối với động từ "To Be":</strong></span></span></h5>    <h5><span
            style="font-size:14px"><span style="color:#000000">Dùng động từ be để hỏi về nhân dạng, hình dạng, nơi chốn và những hoạt động và tình huống ở hiện tại hoặc quá khứ.</span></span>
    </h5>    <h6><span style="font-size:14px"><span style="color:#000000"><strong>- Nhân dạng/Hình dạng</strong></span></span>
    </h6>    <h6><span style="font-size:14px"><span style="color:#000000">Bạn có thể dùng be + danh từ/tính từ để hỏi về nhân dạng hoặc hình dạng của một người, một nơi chốn hoặc đồ vật nào đó.</span></span>
    </h6>
    <p><span style="font-size:14px"><span style="color:#000000">Eg:</span></span></p>
    <ul>
        <li><span style="font-size:14px"><span
                style="color:#000000"><em>Is this interesting? (No, it is not).</em></span><br/>  	<span
                style="color:#008000"><em><em>Cái này có thú vị không? Không.<em> </em></em></em></span></span></li>
        <li><span style="font-size:14px"><span style="color:#000000"><em>Are these islands part of Greece? (Yes, they are).</em></span><br/>  	<span
                style="color:#008000"><em><em>Những hòn đảo này thuộc về Hi Lạp phải không? Phải.</em></em></span></span>
        </li>
        <li><span style="font-size:14px"><span
                style="color:#000000"><em>Were they happy? (Yes, they were).</em></span><br/>  	<span
                style="color:#008000"><em><em>Họ có vui không? Có.</em></em></span></span></li>
    </ul>
    <h6><span style="font-size:14px"><span style="color:#000000"><strong>- Địa điểm</strong></span></span></h6>    <h6>
        <span style="font-size:14px"><span style="color:#000000">Be + cụm giới từ để hỏi về địa điểm hiện tại hoặc quá khứ.</span></span>
    </h6>
    <p><span style="font-size:14px"><span style="color:#000000">Eg:</span></span></p>
    <ul>
        <li><span style="font-size:14px"><span
                style="color:#000000"><em>Are we at the border yet? No (we're not)</em></span><br/>  	<span
                style="color:#008000"><em><em>Chúng ta đã tới biên giới chưa? </em></em></span></span></li>
        <li><span style="font-size:14px"><span
                style="color:#000000"><em>Was his apartment above a bakery? Yes (it was).</em></span><br/>  	<span
                style="color:#008000"><em><em>Căn hộ của anh ấy ở phía trên một tiệm bánh phải không.</em></em></span></span>
        </li>
    </ul>
    <h6><span style="font-size:14px"><span style="color:#000000"><strong>- Hoạt động/tình huống hiện tại</strong></span></span>
    </h6>    <h6><span style="font-size:14px"><span style="color:#000000">Để hỏi về một hoạt động hoặc tình huống hiện tại, dùng hiện tại tiếp diễn: Hiện tại của be + hiện tại phân từ (V-ing)</span></span>
    </h6>
    <p><span style="font-size:14px"><span style="color:#000000">Eg:</span></span></p>
    <ul>
        <li><span style="font-size:14px"><span
                style="color:#000000"><em>Am I going with you and Tom? Yes (you are).</em></span><br/>  	<span
                style="color:#008000"><em><em>Tôi sẽ đi với bạn và Tom à? </em></em></span></span></li>
        <li><span style="font-size:14px"><span
                style="color:#000000"><em>Is England adopting the euro? No (it isn't).</em></span><br/>  	<span
                style="color:#008000"><em><em>Nước Anh có dùng đồng euro không? </em></em></span></span></li>
        <li><span style="font-size:14px"><span
                style="color:#000000"><em>Are we seeing a play tonight? Yes (we are).</em></span><br/>  	<span
                style="color:#008000"><em><em>Chúng ta sẽ xem kịch tối nay phải không? </em></em></span></span></li>
    </ul>
    <h6><span style="font-size:14px"><span
            style="color:#000000"><strong>- Những hoạt động/tình huống trong quá khứ</strong><br/>   <br/>  Để hỏi về một hoạt động hay tình huống trong quá khứ, dùng quá khứ tiếp diễn: quá khứ của be + hiện tại phân từ.<br/>   <br/>  Eg:</span></span>
    </h6>
    <ul>
        <li><span style="font-size:14px"><span style="color:#000000"><em>Was it raining? Yes (it was).<br/>  	<span
                style="color:#000000"><em>Trời đã mưa à? Ừ.</em></span></em></span></span></li>
        <li><span style="font-size:14px"><span
                style="color:#000000"><em>Were the prisoners rebelling? Yes (they were)<br/>  	<span
                style="color:#000000"><em>Những tù nhân đã nổi loạn à? Ừ.</em></span></em></span></span></li>
    </ul>
    <h6><span style="font-size:14px"><span style="color:#000000"><strong>- Sự kiện trong quá khứ.</strong></span></span>
    </h6>    <h6><span style="font-size:14px"><span style="color:#000000">Để hỏi về một việc đã xảy ra với ai hoặc với điều gì, ta dùng thể bị động: quá khứ của be + quá khứ phân từ (V-ed hoặc cột 3)</span></span>
    </h6>
    <p><span style="font-size:14px"><span style="color:#000000">Eg:</span></span></p>
    <ul>
        <li><span style="font-size:14px"><span
                style="color:#000000"><em>Was he given a reward? Yes (he was).</em></span><br/>  	<span
                style="color:#008000"><em><em>Ông ấy đã nhận được giải thưởng phải không? </em></em></span></span></li>
        <li><span style="font-size:14px"><span
                style="color:#000000"><em>Was I chosen? No (you weren't).</em></span><br/>  	<span
                style="color:#008000"><em><em>Tôi có được chọn không? </em></em></span></span></li>
        <li><span style="font-size:14px"><span style="color:#000000"><em>Were dinosaurs killed by meteors? No (they weren't).</em></span><br/>  	<span
                style="color:#008000"><em><em>Có phải khủng long bị những khối thiên thạch giết chết không? </em></em></span></span>
        </li>
    </ul>
    <h5><span style="font-size:14px"><span style="color:#000000"> </span><br/>  <span style="color:#ff8c00"><strong>B. Đối với HAVE</strong></span></span>
    </h5>    <h5><span style="font-size:14px"><span style="color:#000000">Eg:</span></span></h5>
    <ul>
        <li><span style="font-size:14px"><span
                style="color:#000000"><em>Has your brother left? No (he hasn't).</em></span><br/>  	<span
                style="color:#008000"><em><em>Em trai cậu đã đi chưa? </em></em></span></span></li>
        <li><span style="font-size:14px"><span
                style="color:#000000"><em>Has the party started? Yes (it has).</em></span><br/>  	<span
                style="color:#008000"><em><em>Buổi tiệc đã bắt đầu chưa? </em></em></span></span></li>
    </ul>
    <p><span style="font-size:14px"><span style="color:#000000">- Có thể hỏi câu hỏi Yes/No bằng cách dùng "Had", nhưng đó phải là tình huống rất cụ thể và phải giải thích cho một bài học ở tương lai.</span></span>
    </p>    <h5><span style="font-size:14px"><strong><span style="color:#ff8c00">C. Đối với DO</span></strong></span>
    </h5>    <h5><span style="font-size:14px"><span style="color:#000000">Dùng động từ do để hỏi về những sự thật/thực tế về người, nơi chốn hay vật.<br/>  Theo sau do luôn là chủ ngữ và sau đó là động từ ở dạng nguyên mẫu không to. </span></span>
    </h5>
    <p><span style="font-size:14px"><span style="color:#000000">Eg:</span></span></p>
    <ul>
        <li><span style="font-size:14px"><em><span style="color:#000000">Do they smoke? No (they don't).</span><br/>  	<span
                style="color:#008000">Họ có hút thuốc không? </span></em></span></li>
        <li><span style="font-size:14px"><em><span
                style="color:#000000">Did it work? No (it didn't).</span><br/>  	<span style="color:#008000">Nó có chạy không? </span></em></span>
        </li>
        <li><span style="font-size:14px"><em><span
                style="color:#000000">Does running hurt your knees? Yes (it does).</span><br/>  	<span
                style="color:#008000">Chạy có làm đầu gối bạn đau không? </span></em></span></li>
    </ul>
    <h5><span style="font-size:14px"><span style="color:#ff8c00"><strong>D. Đối với động từ khiếm khuyết</strong></span></span>
    </h5>    <h5><span style="font-size:14px"><span style="color:#000000">Dùng động từ khiếm khuyết để hỏi thông tin về những khả năng hoặc những việc chưa chắc chắn. Sau động từ khiếm khuyết là các động từ nguyên mẫu không to.</span></span>
    </h5>
    <p><span style="font-size:14px"><span style="color:#000000">Eg:</span></span></p>
    <ul>
        <li><span style="font-size:14px"><span style="color:#000000"><em>Can we stay? Yes (we can).</em></span><br/>  	<span
                style="color:#008000"><em><em>Chúng ta có thể ở lại không? </em></em></span></span></li>
        <li><span style="font-size:14px"><span
                style="color:#000000"><em>Should they stop? No (they shouldn't).</em></span><br/>  	<span
                style="color:#008000"><em><em>Có có nên dừng lại không? </em></em></span></span></li>
        <li><span style="font-size:14px"><span
                style="color:#000000"><em>Would you go with me? Yes (I would).</em></span><br/>  	<span
                style="color:#008000"><em><em>Anh sẽ đi cùng tôi chứ? </em></em></span></span></li>
    </ul>
    <p><span style="font-size:14px"><span style="color:#000000"><strong>Chú ý</strong>: Khi hỏi câu hỏi với do hoặc động từ khiếm khuyết, động từ chính phải ở dạng nguyên mẫu không to.</span></span><br/>
         </p>
    <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
        <tbody>
        <tr>
            <td style="text-align:center"><span style="font-size:14px"><span
                    style="color:#ff8c00"><strong>Incorrect</strong></span></span></td>
            <td style="text-align:center"><span style="font-size:14px"><span
                    style="color:#ff8c00"><strong>Correct </strong></span></span></td>
        </tr>
        <tr>
            <td style="text-align:center"><span style="font-size:14px"><span style="color:#000000">Do you to drink coffee? </span></span>
            </td>
            <td style="text-align:center"><span style="font-size:14px"><span
                    style="color:#000000">Do you drink coffee?</span></span></td>
        </tr>
        <tr>
            <td style="text-align:center"><span style="font-size:14px"><span style="color:#000000">Does she to work here?</span></span>
            </td>
            <td style="text-align:center"><span style="font-size:14px"><span
                    style="color:#000000">Does she work here?</span></span></td>
        </tr>
        <tr>
            <td style="text-align:center"><span style="font-size:14px"><span
                    style="color:#000000">Can I to go with you?</span></span></td>
            <td style="text-align:center"><span style="font-size:14px"><span
                    style="color:#000000">Can I go with you?</span></span></td>
        </tr>
        <tr>
            <td style="text-align:center"><span style="font-size:14px"><span style="color:#000000">Should we to email her?</span></span>
            </td>
            <td style="text-align:center"><span style="font-size:14px"><span
                    style="color:#000000">Should we email her?</span></span></td>
        </tr>
        </tbody>
    </table>
    <p> </p>
    <p><span style="font-size:14px"><span style="color:#000000"> Tuy nhiên, nếu có hai động từ ở dạng nguyên mẫu sau do, thì động từ thứ hai phải có giới từ to.</span></span>
    </p>
    <p> </p>
    <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
        <tbody>
        <tr>
            <td style="text-align:center"><span style="font-size:14px"><span
                    style="color:#ff8c00"><strong>Incorrect </strong></span></span></td>
            <td style="text-align:center"><span style="font-size:14px"><span
                    style="color:#ff8c00"><strong>Correct  </strong></span></span></td>
        </tr>
        <tr>
            <td style="text-align:center"><span style="font-size:14px"><span style="color:#000000">Do you want drink coffee?</span></span>
            </td>
            <td style="text-align:center"><span style="font-size:14px"><span style="color:#000000">Do you want to drink coffee?</span></span>
            </td>
        </tr>
        <tr>
            <td style="text-align:center"><span style="font-size:14px"><span style="color:#000000">Does she like work here?</span></span>
            </td>
            <td style="text-align:center"><span style="font-size:14px"><span style="color:#000000">Does she like to work here?</span></span>
            </td>
        </tr>
        <tr>
            <td style="text-align:center"><span style="font-size:14px"><span
                    style="color:#000000">Did you need go home?</span></span></td>
            <td style="text-align:center"><span style="font-size:14px"><span style="color:#000000">Did you need to go home?</span></span>
            </td>
        </tr>
        </tbody>
    </table>
    <p> </p>
    <p><span style="font-size:14px"><span style="color:#000000">Chú ý là có nhiều cách để trả lời câu hỏi Yes/No, đặc biệt là trả lời bằng các dạng rút gọn.</span></span>
    </p>
    <p><span style="font-size:14px"><span style="color:#000000">Eg:</span></span></p>
    <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
        <tbody>
        <tr>
            <td style="text-align:center"><span style="font-size:14px"><span
                    style="color:#ff8c00"><strong>Câu hỏi</strong></span></span></td>
            <td style="text-align:center"><span style="font-size:14px"><span
                    style="color:#ff8c00"><strong>Trả lời</strong></span></span></td>
        </tr>
        <tr>
            <td style="text-align:center"><span style="font-size:14px"><span
                    style="color:#000000"><strong>Is he busy?</strong></span></span></td>
            <td>
                <ul>
                    <li><span style="font-size:14px"><span style="color:#000000">No he isn't</span></span></li>
                    <li><span style="font-size:14px"><span style="color:#000000">No, he's not.</span></span></li>
                    <li><span style="font-size:14px"><span style="color:#000000">No, he isn't busy.</span></span></li>
                    <li><span style="font-size:14px"><span style="color:#000000">No, he's not busy.</span></span></li>
                    <li><span style="font-size:14px"><span style="color:#000000">No, he is not busy.</span></span></li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
    <h4><span style="font-size:14px"><span style="color:#66cc00"><strong>2. Câu hỏi “Wh-”:</strong></span></span></h4>
    <h4><span style="font-size:14px"><span style="color:#000000">Câu hỏi “Wh-” còn được gọi là câu hỏi mở, hay câu hỏi từng phần vì phạm vi hỏi và trả lời chỉ chiếm một phần nào đó trong câu hỏi.</span></span>
    </h4>    <h5><span style="font-size:14px"><span style="color:#ff8c00"><strong>A. Các “Wh-” được dùng làm chủ từ trong câu hỏi: Who (ai) , What (cái gì), Which (cái nào)</strong></span></span>
    </h5>    <h5><span style="font-size:14px"><u><strong><span style="color:#000000">Mẫu câu:</span></strong></u></span>
    </h5>
    <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
        <tbody>
        <tr>
            <td><p style="text-align:center"><span style="font-size:14px"><strong><span style="color:#000000">Who</span></strong></span>
            </p>
                <p style="text-align:center"><span style="font-size:14px"><strong><span
                        style="color:#000000">What</span></strong></span></p>
                <p style="text-align:center"><span style="font-size:14px"><strong><span
                        style="color:#000000">Which</span></strong></span></p></td>
            <td style="text-align:center"><span style="font-size:14px"><strong><span style="color:#000000">V (Ngôi thứ 3 số ít)</span></strong></span>
            </td>
            <td style="text-align:center"><span style="font-size:14px"><strong><span
                    style="color:#000000">O ?</span></strong></span></td>
        </tr>
        </tbody>
    </table>
    <p> </p>
    <p><span style="font-size:14px"><span style="color:#000000">Eg:</span></span></p>
    <ul>
        <li><span style="font-size:14px"><em><span
                style="color:#000000"><strong>Who has phoned me?</strong> </span><span style="color:#008000">Ai vừa gọi điện thoại cho tôi vậy?</span></em></span>
        </li>
        <li><span style="font-size:14px"><em><strong><span
                style="color:#000000">– Your father has phoned you</span></strong><span
                style="color:#000000">. </span><span style="color:#008000">Ba của bạn vừa gọi điện thoại cho bạn</span></em></span>
        </li>
    </ul>
    <h5><span style="font-size:14px"><span style="color:#ff8c00"><strong> B. “Wh-” được dùng làm túc từ trong câu hỏi: Whom (ai), What (cái gì), Which (cái nào)</strong></span></span>
    </h5>    <h5><span style="font-size:14px"><u><strong><span style="color:#000000">Mẫu câu:</span></strong></u></span>
    </h5>
    <table border="1" cellpadding="1" cellspacing="1" style="width:704px">
        <tbody>
        <tr>
            <td><p style="text-align:center"><span style="font-size:14px"><span
                    style="color:#000000"><strong>Who</strong></span></span></p>
                <p style="text-align:center"><span style="font-size:14px"><span
                        style="color:#000000"><strong>What</strong></span></span></p>
                <p style="text-align:center"><span style="font-size:14px"><span
                        style="color:#000000"><strong>Which</strong></span></span></p>
                <p style="text-align:center"> </p></td>
            <td><p style="text-align:center"><span style="font-size:14px"><span
                    style="color:#000000"><strong>Am/is Are</strong></span></span></p>
                <p style="text-align:center"><span style="font-size:14px"><span style="color:#000000"><strong>Do/does/did</strong></span></span>
                </p>
                <p style="text-align:center"><span style="font-size:14px"><span style="color:#000000"><strong>Động từ khiếm khuyết</strong></span></span>
                </p>
                <p style="text-align:center"><span style="font-size:14px"><span style="color:#000000"><strong>Have/has/had (Nếu là trợ động từ ở các thì kép)</strong></span></span>
                </p></td>
            <td style="text-align:center"><span style="font-size:14px"><span
                    style="color:#000000"><strong>S</strong></span></span></td>
            <td style="text-align:center"><span style="font-size:14px"><span
                    style="color:#000000"><strong>+...?</strong></span></span></td>
        </tr>
        </tbody>
    </table>
    <p><span style="font-size:14px"><span style="color:#000000">Eg:</span></span></p>
    <ul>
        <li><span style="font-size:14px"><em><span
                style="color:#000000"><strong>What are they doing now?</strong> </span><span style="color:#008000">Hiện giờ họ đang làm gì thế?</span></em></span>
        </li>
        <li><span style="font-size:14px"><em><span
                style="color:#000000"><strong> – They are learning English now.</strong> </span><span
                style="color:#008000">Hiện giờ họ đang học tiếng Anh.</span></em></span></li>
    </ul>
    <h5><span style="font-size:14px"><span style="color:#ff8c00"><strong>C. “Wh-” được dùng làm trạng từ: “Where” (ở đâu), “When” (chừng nào, khi nào, hồi nào), “How” (như thế nào, ra sao, bằng cách nào, làm sao), “Why” (tại sao).</strong></span></span>
    </h5>    <h5><span style="font-size:14px"><u><strong><span style="color:#000000">Mẫu câu:</span></strong></u></span>
    </h5>
    <table border="1" cellpadding="1" cellspacing="1" style="width:704px">
        <tbody>
        <tr>
            <td><p style="text-align:center"><span style="font-size:14px"><strong><span
                    style="color:#000000">When</span></strong></span></p>
                <p style="text-align:center"><span style="font-size:14px"><strong><span
                        style="color:#000000">Where</span></strong></span></p>
                <p style="text-align:center"><span style="font-size:14px"><strong><span style="color:#000000">Why</span></strong></span>
                </p>
                <p style="text-align:center"><span style="font-size:14px"><strong><span style="color:#000000">How</span></strong></span>
                </p></td>
            <td><p style="text-align:center"><span style="font-size:14px"><strong><span
                    style="color:#000000">Am/is Are</span></strong></span></p>
                <p style="text-align:center"><span style="font-size:14px"><strong><span style="color:#000000">Do/does/did</span></strong></span>
                </p>
                <p style="text-align:center"><span style="font-size:14px"><strong><span style="color:#000000">Động từ khiếm khuyết</span></strong></span>
                </p>
                <p style="text-align:center"><span style="font-size:14px"><strong><span style="color:#000000">Have/has/had (Nếu là trợ động từ ở các thì kép)</span></strong></span>
                </p></td>
            <td style="text-align:center"><span style="font-size:14px"><strong><span
                    style="color:#000000">S</span></strong></span></td>
            <td style="text-align:center"><span style="font-size:14px"><strong><span
                    style="color:#000000">O?</span></strong></span></td>
        </tr>
        </tbody>
    </table>
    <p><span style="font-size:14px"><span style="color:#000000">Eg:</span></span></p>
    <ul>
        <li><span style="font-size:14px"><em><span
                style="color:#000000"><strong>Where are you going?</strong> </span><span style="color:#008000">(Bạn đang đi đâu thế?)</span></em></span>
        </li>
        <li><span style="font-size:14px"><em><span
                style="color:#000000"><strong>- I am going to the school library.</strong> </span><span
                style="color:#008000">Tôi đang đi đến thư viện trường.</span></em></span></li>
        <li><span style="font-size:14px"><em><span
                style="color:#000000"><strong>Why does he look so happy?</strong> </span><span style="color:#008000">Tại sao ông ấy trông có vẻ vui sướng vậy?</span></em></span>
        </li>
        <li><span style="font-size:14px"><em><span style="color:#000000"><strong>- He looks so happy because he has owned a brand-new car</strong>. </span><span
                style="color:#008000">Ông ấy trông vui sướng như vậy là vì ổng mới tậu được một chiếc ô tô mới toanh.</span></em></span>
        </li>
    </ul>
    <p><span style="font-size:14px"><span style="color:#ff3399"><strong> <u>Ghi chú</u></strong></span><span
            style="color:#008000">:</span><span style="color:#000000"> đối với “How”</span></span></p>    <h6><span
            style="font-size:14px"><span style="color:#ff3399"><strong>– Khi sau “How” là từ chỉ thời gian, số lượng, trọng lượng, và đo lường:</strong></span></span>
    </h6>
    <ul>
        <li><h6><span style="font-size:14px"><span style="color:#000000"><em>How much       +          danh từ không đếm được ở số ít       =          bao nhiêu</em></span></span>
        </h6></li>
        <li><span style="font-size:14px"><span style="color:#000000"><em>How many       +          danh từ đếm được ở số nhiều           =          bao nhiêu</em></span></span>
        </li>
        <li><span style="font-size:14px"><span style="color:#000000"><em>How long         =          bao lâu</em></span></span>
        </li>
        <li><span style="font-size:14px"><span
                style="color:#000000"><em>How far           =          bao xa, xa cỡ nào</em></span></span></li>
        <li><span style="font-size:14px"><span style="color:#000000"><em>How wide        =          rộng bao nhiêu, rộng cỡ nào</em></span></span>
        </li>
        <li><span style="font-size:14px"><span style="color:#000000"><em>How often       =          có thường không</em></span></span>
        </li>
    </ul>
    <p><span style="font-size:14px"><span style="color:#000000">Eg:</span></span></p>
    <ul>
        <li><span style="font-size:14px"><em><span style="color:#000000"><strong>How far is it from Bao Loc to Da Lat City?</strong> </span><span
                style="color:#008000">Bảo Lộc cách Thành phố Đà Lạt bao xa?</span></em></span></li>
        <li><span style="font-size:14px"><em><span style="color:#000000"><strong>- It is about 65 km from Bao Loc to Đà Lạt City</strong>. </span><span
                style="color:#008000">Bảo Lộc cách Thành phố Đà Lạt khoảng chừng 65 cây số.</span></em></span></li>
        <li><span style="font-size:14px"><em><span
                style="color:#000000"><strong>How long will you stay in Da Lat?</strong> </span><span
                style="color:#008000">Bạn sẽ ở lại Đà Lạt trong bao lâu?</span></em></span></li>
        <li><span style="font-size:14px"><em><span
                style="color:#000000"><strong>For three days and a half.</strong></span><span style="color:#008000"> 3 ngày rưỡi.</span></em></span>
        </li>
    </ul>
    <h6><span style="font-size:14px"><span style="color:#ff3399"><strong> – Khi dùng “How” để hỏi về phương tiện giao di chuyển.</strong></span></span>
    </h6>    <h6><span style="font-size:14px"><span style="color:#000000">Eg:</span></span></h6>
    <p><span style="font-size:14px"><span
            style="color:#000000"><strong>How does your son go to school everyday?</strong> Con trai của bạn đi học hằng ngày bằng phương tiện gì (bằng cách nào)?</span></span>
    </p>
    <ul>
        <li><span style="font-size:14px"><em><span style="color:#000000"><strong>He goes to school on foot</strong>. Nó cuốc bộ đi học.</span></em></span>
        </li>
        <li><span style="font-size:14px"><em><span style="color:#000000"><strong>He goes to school by bicycle</strong>. Nó đi học bằng xe đạp.</span></em></span>
        </li>
    </ul>
    <p><span style="font-size:14px"><span style="color:#ff3399"><strong> - Khi trả lời câu hỏi về phương tiện, sau “by” phải là danh từ số ít, không có mạo từ đứng trước</strong></span></span>
    </p>
</div>