<meta charset="UTF-8">
<div class="first-content">
    <p><strong><span style="color:#0099ff"><span
            style="font-size:16px">I. KHÁI NIỆM VỀ MỆNH ĐỀ QUAN HỆ TRONG TIẾNG ANH</span></span></strong></p></div>
<div class="last-content"><p><span style="color:#000000"><span style="font-size:16px">Mệnh đề quan hệ hay còn gọi là mệnh đề tính từ, là một mệnh đề phụ được dùng để bổ sung ý nghĩa cho một danh từ đứng trước nó.</span></span>
</p>
    <p><span style="color:#000000"><span style="font-size:16px">Eg: </span></span></p>
    <ul>
        <li><em><span style="color:#000000"><span
                style="font-size:16px">The man who lives next door is very handsome.</span></span><br/> <span
                style="color:#008000"><span style="font-size:16px"><span style="font-size:16px">(Anh chàng sống cạnh nhà tôi rất đẹp trai.)</span></span></span></em>
        </li>
    </ul>
    <p><span style="color:#000000"><span style="font-size:16px">Mệnh đề quan hệ được nối với mệnh đề chính bởi các Đại từ quan hệ (relative pronouns) Who, Whom, Which, Whose, That hoặc các Trạng từ quan hệ (relative adverbs) When, Where, Why.</span></span>
    </p>
    <p><span style="color:#0099ff"><strong><span
            style="font-size:16px">II. CÁC LOẠI MỆNH ĐỀ QUAN HỆ TRONG TIẾNG ANH</span></strong></span></p>
    <p><span style="color:#000000"><span
            style="font-size:16px">Mệnh đề quan hệ trong tiếng anh được phân làm 2 loại:</span></span></p>
    <p><span style="color:#000000"><span style="font-size:16px">- <strong>Mệnh đề quan hệ xác định (defining/ restrictive relative clause)</strong></span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:16px">Đây là loại mệnh đề cần thiết vì tiền ngữ chưa xác định, không có nó câu sẽ không đủ nghĩa.</span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:16px">Eg:</span></span></p>
    <ul>
        <li><em><span style="color:#000000"><span style="font-size:16px">The man <u><strong>who</strong></u> keeps the school library is Mr Tuan.</span></span><br/>
            <span style="color:#008000"><span style="font-size:16px"><span style="font-size:16px">Người giữ thư viện trường là ông Tuân.</span></span></span></em>
        </li>
        <li><em><span style="color:#000000"><span style="font-size:16px"><u><strong>That</strong></u> is the book that I like best.</span></span><br/>
            <span style="color:#008000"><span style="font-size:16px"><span style="font-size:16px">Đó là cuốn sách tôi thích nhất.</span></span></span></em>
        </li>
    </ul>
    <p><span style="color:#000000"><span style="font-size:16px">- <strong>Mệnh đề không xác định (non-defining/ non-restrictive relative clause)</strong>: </span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:16px">+ Đây là loại mệnh đề không cần thiết vì tiền ngữ đã được xác định, không có nó câu vẫn đủ nghĩa. </span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:16px">+ Mệnh đề quan hệ không xác định được ngăn với mệnh đề chính bằng các dấu phẩy. Trước danh từ thường có: this, that, these, those, my, his … hoặc tên riêng.</span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:16px">Eg: </span></span></p>
    <ul>
        <li><em><span style="color:#000000"><span style="font-size:16px"><strong><u>That</u></strong> man, whom you saw yesterday, is Mr Pike.</span></span><br/>
            <span style="color:#008000"><span style="font-size:16px"><em><span style="font-size:16px">Người đàn ông mà bạn đã nhìn thấy hôm qua là ông Pike.</span></em></span></span></em>
        </li>
        <li><em><span style="color:#000000"><span style="font-size:16px"><u><strong>This</strong></u> is Mr Jones, who helped me last week.</span></span><br/>
            <span style="color:#008000"><span style="font-size:16px"><em><span style="font-size:16px">Đây là ông Jones, người đã giúp tôi tuần trước.</span></em></span></span></em>
        </li>
    </ul>
    <p><span style="color:#000000"><span style="font-size:16px"><strong>Chú ý</strong>: Không được dùng THAT trong mệnh đề quan hệ không xác định (non-defining relative clause).</span></span>
    </p>
    <p><span style="color:#0099ff"><strong><span style="font-size:16px">III. CÁCH DÙNG MỆNH ĐỀ QUAN HỆ ( ĐẠI TỪ QUAN HỆ VÀ TRẠNG TỪ QUAN HỆ)</span></strong></span>
    </p>
    <p><span style="color:#66cc00"><strong><span style="font-size:16px">1. Đại từ quan hệ</span></strong></span></p>
    <p><span style="color:#FF8C00"><span style="font-size:16px"><strong>A. WHO: </strong></span></span></p>
    <p><span style="color:#000000"><span style="font-size:16px">Who là đại từ quan hệ chỉ người, đứng sau danh từ chỉ người để làm chủ ngữ (subject) hoặc tân ngữ (object) cho động từ đứng sau nó.</span></span>
    </p>
    <p><strong><span style="color:#000000"><span style="font-size:16px">- Cấu trúc:</span></span></strong></p>
    <p style="text-align:center"><span style="color:#000000"><span style="font-size:16px"><span
            style="font-size:18px"><strong>.... N (person) + WHO + V + O</strong></span></span></span></p>
    <p><span style="color:#000000"><span style="font-size:16px">Eg: </span></span></p>
    <ul>
        <li><em><span style="color:#000000"><span style="font-size:16px">The man <u><strong>who</strong></u> is standing overthere is Mr Hung.</span></span><br/>
            <span style="color:#008000"><span style="font-size:16px"><em><span style="font-size:16px">Người đứng phía trên kia là ông Hùng.</span></em></span></span></em>
        </li>
        <li><em><span style="color:#000000"><span style="font-size:16px">That is the girl <u><strong>who</strong></u> I told you about.</span></span><br/>
            <span style="color:#008000"><span style="font-size:16px"><em><span style="font-size:16px">Đó là cô gái mà tôi đã nói với bạn.</span></em></span></span></em>
        </li>
    </ul>
    <p><span style="color:#FF8C00"><strong><span style="font-size:16px">B. WHOM </span></strong></span></p>
    <p><span style="color:#000000"><span style="font-size:16px">Whom là đại từ quan hệ chỉ người, đứng sau danh từ chỉ người để làm tân ngữ (object) cho động từ đứng sau nó.</span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:16px"><strong>- Cấu Trúc</strong></span></span></p>
    <p style="text-align:center"><span style="font-size:18px"><strong><span style="color:#000000">…..N (person) + WHOM + S + V</span></strong></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:16px">Eg: </span></span></p>
    <ul>
        <li><em><span style="color:#000000"><span style="font-size:16px">The woman <u><strong>whom /who</strong></u> you say yesterday is my aunt.</span></span><br/>
            <span style="color:#008000"><span style="font-size:16px"><em><span style="font-size:16px">Người phụ nữ mà bạn nhìn thấy hôm qua là dì của tôi</span></em></span></span></em>
        </li>
        <li><em><span style="color:#000000"><span style="font-size:16px">The boy <u><strong>whose/ who</strong></u> we are looking for is Luan.</span></span><br/>
            <span style="color:#008000"><span style="font-size:16px"><em><span style="font-size:16px">Chàng trai mà chúng ta đang tìm là Luân.</span></em></span></span></em>
        </li>
    </ul>
    <p><strong><span style="color:#000000"><span style="font-size:16px">- Who/ whom làm tân ngữ có thể lược bổ được trong mệnh đề quan hệ xác định (defining relative clause).</span></span></strong>
    </p>
    <p><span style="color:#000000"><span style="font-size:16px">Eg:</span></span></p>
    <ul>
        <li><em><span style="color:#000000"><span
                style="font-size:16px">The woman you saw yesterday is my aunt</span></span><br/> <span
                style="color:#008000"><span style="font-size:16px"><em><span style="font-size:16px">Người phụ nữ mà bạn nhìn thấy hôm qua là dì của tôi</span></em></span></span></em>
        </li>
        <li><em><span style="color:#000000"><span
                style="font-size:16px">The boy we are looking for is Luan.</span></span><br/> <span
                style="color:#008000"><span style="font-size:16px"><em><span style="font-size:16px">Anh chàng mà chúng tôi đang tìm là Luân.</span></em></span></span></em>
        </li>
    </ul>
    <p><span style="color:#FF8C00"><strong><span style="font-size:16px">C. WHICH:</span></strong></span></p>
    <p><span style="color:#000000"><span style="font-size:16px">Which là đại từ quan hệ chỉ vật, đứng sau danh từ chỉ vật để làm chủ ngữ (Subject) hoặc tân ngữ(object) cho động từ đứng sau nó.</span></span>
    </p>
    <p><strong><span style="color:#000000"><span style="font-size:16px">- Cấu trúc:</span></span></strong></p>
    <p style="text-align:center"><strong><span style="font-size:18px"><span style="color:#000000">….N (thing) + WHICH + V + O</span></span></strong>
    </p>
    <p style="text-align:center"><strong><span style="font-size:18px"><span style="color:#000000">….N (thing) + WHICH + S + V</span></span></strong>
    </p>
    <p><span style="color:#000000"><span style="font-size:16px">Eg:</span></span></p>
    <ul>
        <li><em><span style="color:#000000"><span style="font-size:16px">This is the book <u><strong>which</strong></u> I like best.</span></span><br/>
            <span style="color:#008000"><span style="font-size:16px"><em><span style="font-size:16px">Đây là cuốn sách mà tôi thích nhất.</span></em></span></span></em>
        </li>
        <li><em><span style="color:#000000"><span style="font-size:16px">The hat <u><strong>which</strong></u> is red is mine.</span></span><br/>
            <span style="color:#008000"><span style="font-size:16px"><em><span style="font-size:16px">Mũ màu đỏ là của tôi.</span></em></span></span></em>
        </li>
    </ul>
    <p><strong><span style="color:#000000"><span style="font-size:16px">- Which làm tân ngữ có thể lược bỏ trong mệnh đề quan hệ xác định (defining relative clause)..</span></span></strong>
    </p>
    <p><span style="color:#000000"><span style="font-size:16px">Eg</span></span></p>
    <ul>
        <li><em><span style="color:#000000"><span
                style="font-size:16px">The dress I bought yesterday is very beautiful.</span></span><br/> <span
                style="color:#008000"><span style="font-size:16px"><em><span style="font-size:16px">Cái váy mà tôi mua hôm qua rất đẹp.</span></em></span></span></em>
        </li>
    </ul>
    <p><span style="color:#FF8C00"><span style="font-size:16px"><strong>D. THAT: </strong></span></span></p>
    <p><span style="color:#000000"><span
            style="font-size:16px">That là đại từ quan hệ chỉ cả người lẫn vật.</span></span></p>
    <p><span style="color:#000000"><span style="font-size:16px">- That có thể được dùng thay cho who, whom, which trong mệnh đề quan hệ xác định (defining relative clause)</span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:16px">Eg:</span></span></p>
    <ul>
        <li><em><span style="color:#000000"><span
                style="font-size:16px">That is the book <u><strong>that/ which</strong></u> I like best.</span></span><br/>
            <span style="color:#008000"><span style="font-size:16px"><em><span style="font-size:16px">Đó là cuốn sách mà tôi thích nhất.</span></em></span></span></em>
        </li>
        <li><em><span style="color:#000000"><span
                style="font-size:16px">My father is the person <u><strong>that/ who(m)</strong></u> I admire most.</span></span><br/>
            <span style="color:#008000"><span style="font-size:16px"><em><span style="font-size:16px">Cha tôi là người mà tôi ngưỡng mộ nhất.</span></em></span></span></em>
        </li>
        <li><em><span style="color:#000000"><span style="font-size:16px">The woman <u><strong>that/ who</strong></u> lived here before us is a novelist.</span></span><br/>
            <span style="color:#008000"><span style="font-size:16px"><em><span style="font-size:16px">Người phụ nữ sống ở đây trước chúng ta là một nhà văn.</span></em></span></span></em>
        </li>
    </ul>
    <p><strong><span style="color:#000000"><span style="font-size:16px">- That luôn được dùng sau các tiền tố hỗn hợp (gồm cả người lẫn vật), sau các đại từ eveything, something, anything, all, little, much, more và sau dạng so sánh nhất (superlative).</span></span></strong>
    </p>
    <p><span style="color:#000000"><span style="font-size:16px">Eg:</span></span></p>
    <ul>
        <li><em><span style="color:#000000"><span style="font-size:16px">He was the most interesting person <u><strong>that</strong></u> I have ever met.</span></span><br/>
            <span style="color:#008000"><span style="font-size:16px"><em><span style="font-size:16px">anh ấy là người thú vị nhất mà tôi từng gặp</span></em></span></span></em>
        </li>
    </ul>
    <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
        <tbody>
        <tr>
            <td style="text-align:center"><span style="color:#FF8C00"><strong><span style="font-size:16px">CÁC TRƯỜNG HỢP DÙNG THAT</span></strong></span>
            </td>
            <td style="text-align:center"><span style="color:#FF8C00"><span style="font-size:16px"><strong>CÁC TRƯỜNG HỢP KHÔNG DÙNG THAT</strong></span></span>
            </td>
        </tr>
        <tr>
            <td><p><strong><span style="color:#000000"><span style="font-size:16px">- Danh từ phía trước chỉ cả người lẫn vật (hỗn từ)</span></span></strong>
            </p>
                <p><span style="color:#000000"><span style="font-size:16px"> Eg: </span></span></p>
                <ul>
                    <li><span style="color:#000000"><span style="font-size:16px"><em>I see the girl anh her dog that are running in the park.</em></span></span><br/>
                        <span style="color:#008000"><span style="font-size:16px"><em><em>​Tôi thấy cô ấy và con chó của cô ấy đang chạy trong công viên.</em></em></span></span>
                    </li>
                </ul>
            </td>
            <td><p><span style="color:#000000"><span style="font-size:16px">-<strong> Trong mệnh đề quan hệ không xác định (có dấu phẩy)</strong></span></span>
            </p>
                <p> </p>
                <p> </p>
                <p> </p>
                <p><br/>  </p></td>
        </tr>
        <tr>
            <td><p><span style="color:#000000"><span style="font-size:16px"> <strong>The most</strong></span></span></p>
                <p><strong><span style="color:#000000"><span style="font-size:16px"> The best & adj + est… + THAT + . . .</span></span></strong>
                </p>
                <p><strong><span style="color:#000000"><span style="font-size:16px"> The lest</span></span></strong></p>
            </td>
            <td><span style="color:#000000"><span style="font-size:16px">- <strong>Không dùng That khi có giới từ ở phía trước (in, on, at, of,…)</strong></span></span>
            </td>
        </tr>
        <tr>
            <td><p><strong><span style="color:#000000"><span
                    style="font-size:16px">- Sau các từ chỉ số thứ tự:</span></span></strong></p>
                <ul>
                    <li><span style="color:#000000"><span style="font-size:16px"><em>The first, The second, The third, the last, the only,…</em></span></span>
                    </li>
                </ul>
                <p> </p>
                <p> </p></td>
            <td><p><strong><span style="color:#000000"><span style="font-size:16px">- Không dùng That khi nó thay thế cho cả mệnh đề đứng trước, mà dùng Which để thay thế.</span></span></strong>
            </p>
                <p><span style="color:#000000"><span style="font-size:16px"> Eg:  </span></span></p>
                <ul>
                    <li><span style="color:#000000"><span style="font-size:16px"><em>It rained all day, which was a pity.</em></span></span><br/>
                        <span style="color:#008000"><span style="font-size:16px"><em>trời mưa cả ngày, đó quả là một điều đáng tiếc</em></span></span>
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td><p><strong><span style="color:#000000"><span
                    style="font-size:16px">- Sau các đại từ bất định:</span></span></strong></p>
                <ul>
                    <li><span style="color:#000000"><span style="font-size:16px"><em>Someone, anybody, nothing, any thing, something, noone,…</em></span></span>
                    </li>
                </ul>
                <p><strong><span style="color:#000000"><span
                        style="font-size:16px">- Và sau các đại từ:</span></span></strong></p>
                <ul>
                    <li><span style="color:#000000"><span style="font-size:16px"><em> All, much, any, few, some, little, none</em></span></span>
                    </li>
                </ul>
            </td>
            <td><p><strong><span style="color:#000000"><span style="font-size:16px">- Không dùng That với các từ chỉ lượng có giới từ đi kèm</span></span></strong>
            </p>
                <ul>
                    <li><span style="color:#000000"><span style="font-size:16px"><em>Neither of, most of, all of, none of, many of, a lot of,…</em></span></span>
                    </li>
                </ul>
                <p> </p>
                <p> </p>
                <p> </p></td>
        </tr>
        </tbody>
    </table>
    <p> </p>
    <p><span style="color:#FF8C00"><span style="font-size:16px"><strong>E. WHOSE</strong></span></span></p>
    <p><span style="color:#000000"><span style="font-size:16px">Whose là đại từ quan hệ chỉ sở hữu.</span></span></p>
    <p><span style="color:#000000"><span style="font-size:16px">Trong ngữ pháp tiếng anh Whose đứng sau danh từ chỉ người hoặc vật và thay cho tính từ sở hữu trước danh từ. Whose luôn đi kèm với một danh từ.</span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:16px"><strong>- Cấu Trúc</strong></span></span></p>
    <p style="text-align:center"><span style="font-size:18px"><strong><span style="color:#000000">…..N (person, thing) + WHOSE + N + V ….</span></strong></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:16px">Eg:</span></span></p>
    <ul>
        <li><span style="color:#000000"><span style="font-size:16px"><em>The boy <u><strong>whose</strong></u> bicycle you borrowed yesterday is Tom.</em></span></span><br/>
            <span style="color:#008000"><span style="font-size:16px"><em><span style="font-size:16px"><em>Anh chàng mà cho bạn mượn xe hôm qua là Tom.</em></span></em></span></span>
        </li>
        <li><span style="color:#000000"><span style="font-size:16px"><em>John found a cat <u><strong>whose</strong></u> leg was broken.</em></span></span><br/>
            <span style="color:#008000"><span style="font-size:16px"><em><span style="font-size:16px"><em>John thấy một con mèo bị gãy chân.</em></span></em></span></span>
        </li>
    </ul>
    <p><span style="color:#66cc00"><span style="font-size:16px"><strong>2. Trạng từ quan hệ</strong></span></span></p>
    <p><strong>A. WHEN</strong></p>
    <p><span style="color:#000000"><span style="font-size:16px">When là đại từ quan hệ chỉ thời gian, đứng sau danh từ chỉ người hoặc vật và thay cho tính từ sở hữu trước danh từ chỉ thời gian. When được dùng thay cho at/on/ in which, then.</span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:16px"><strong>- Cấu Trúc</strong></span></span></p>
    <p style="text-align:center"><span style="font-size:18px"><strong><span style="color:#000000">….N (time) + WHEN + S + V …</span></strong></span>
    </p>
    <p style="text-align:center"><span style="font-size:18px"><strong><span style="color:#000000">(WHEN = ON / IN / AT + WHICH)</span></strong></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:16px">Eg:</span></span></p>
    <ul>
        <li><em><span style="color:#000000"><span style="font-size:16px">That was the time when (at which) he managed the company.</span></span><br/>
            <span style="color:#008000"><span style="font-size:16px"><em><span style="font-size:16px">Đó là thời điểm khi anh ấy còn quản lý công ty.</span></em></span></span></em>
        </li>
    </ul>
    <p><span style="color:#FF8C00"><span style="font-size:16px"><strong>B. WHERE: </strong></span></span></p>
    <p><span style="color:#000000"><span style="font-size:16px">Where là trạng từ quan hệ chỉ nơi chốn, đứng sau danh từ chỉ nơi chốn.Where được dùng thay cho at/ in/ to which, there.</span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:16px"><strong>- Cấu trúc:</strong></span></span></p>
    <p style="text-align:center"><span style="font-size:18px"><strong><span style="color:#000000">….N (place) + WHERE + S + V ….</span></strong></span>
    </p>
    <p style="text-align:center"><span style="font-size:18px"><strong><span style="color:#000000">(WHERE = ON / IN / AT + WHICH)</span></strong></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:16px">Eg:</span></span></p>
    <ul>
        <li><span style="color:#000000"><span
                style="font-size:16px"><em>Hanoi is the place where I like to come.</em></span></span><br/> <span
                style="color:#008000"><span style="font-size:16px"><em><span style="font-size:16px"><em>Hà Nội là nơi tôi muốn đến.</em></span></em></span></span>
        </li>
    </ul>
    <p><span style="color:#FF8C00"><strong><span style="font-size:16px">C. WHY</span></strong></span></p>
    <p><span style="color:#000000"><span style="font-size:16px">Why là trạng từ quan hệ chỉ lý do, đứng sau the reason. Why được dùng thay cho for which.</span></span>
    </p>
    <p><span style="color:#FF8C00"><span style="font-size:16px"><strong>- Cấu Trúc: </strong></span></span></p>
    <p style="text-align:center"><span style="font-size:18px"><strong><span style="color:#000000">…..N (reason) + WHY + S + V …</span></strong></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:16px">Eg:</span></span></p>
    <ul>
        <li><span style="color:#000000"><span style="font-size:16px"><em>He told me the reason why he had been absent from class the day before.</em></span></span><br/>
            <span style="color:#008000"><span style="font-size:16px"><em><span style="font-size:16px"><em>Anh ta nói với tôi lý do tại sao anh ấy vắng mặt trong lớp học hôm trước.</em></span></em></span></span>
        </li>
    </ul>
    <p><span style="font-size:18px"><span style="color:#66cc00"><strong>Một số điều cần lưu ý khi sử dụng mệnh đề quan hệ trong tiếng anh</strong></span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:16px"><strong>- Nếu trong mệnh đề quan hệ có giới từ thì giới từ có thể đặt trước hoặc sau mệnh đề quan hệ (chỉ áp dụng với whom và which.)</strong></span></span>
    </p>
    <ul>
        <li><span style="color:#000000"><span style="font-size:16px"><em>Eg: Mr. Brown is a nice teacher. We studied with him last year. → Mr. Brown, with whom we studied last year, is a nice teacher. → Mr. Brown, whom we studied with last year, is a nice teacher.</em></span></span>
        </li>
    </ul>
    <p><span style="color:#000000"><span style="font-size:16px"><strong>- Có thể dùng which thay cho cả mệnh đề đứng trước.</strong></span></span>
    </p>
    <ul>
        <li><span style="color:#000000"><span style="font-size:16px"><em>Eg: She can’t come to my birthday party. That makes me sad. → She can’t come to my birthday party, which makes me sad.</em></span></span>
        </li>
    </ul>
    <p><span style="color:#000000"><span style="font-size:16px"><strong>- Ở vị trí túc từ, whom có thể được thay bằng who.</strong></span></span>
    </p>
    <ul>
        <li><span style="color:#000000"><span style="font-size:16px"><em>Eg: I’d like to talk to the man whom / who I met at your birthday party.</em></span></span>
        </li>
    </ul>
    <p><span style="color:#000000"><span style="font-size:16px"><strong>- Trong mệnh đề quan hệ xác định , chúng ta có thể bỏ các đại từ quan hệ làm túc từ: whom, which.</strong><br/>  Eg: </span></span>
    </p>
    <ul>
        <li><span style="color:#000000"><span
                style="font-size:16px"><em>The girl you met yesterday is my close friend. </em></span></span></li>
        <li><span style="color:#000000"><span style="font-size:16px"><em>The book you lent me was very interesting.</em></span></span>
        </li>
    </ul>
    <p><span style="color:#000000"><span style="font-size:16px"><strong>- Các cụm từ chỉ số lượng some of, both of, all of, neither of, many of, none of … có thể được dùng trước whom, which và whose.</strong><br/>  Eg:</span></span>
    </p>
    <ul>
        <li><em><span style="color:#000000"><span
                style="font-size:16px">I have two sisters, both of whom are students. </span></span></em></li>
        <li><em><span style="color:#000000"><span style="font-size:16px">She tried on three dresses, none of which fitted her</span></span></em>
        </li>
    </ul>
</div>