<meta charset="UTF-8">
<div class="last-content"><p><span style="font-size:14px"><strong><span
        style="color:#0099ff">I.  DANH ĐỘNG TỪ LÀ GÌ?</span></strong></span></p>
    <p><span style="font-size:14px"><span style="color:#000000">Danh động từ ( Gerund ) là danh từ được hình thành bằng cách thêm đuôi ing vào động từ.</span></span>
    </p>
    <ul>
        <li><span style="font-size:14px"><em><span
                style="color:#000000">Eg: coming, building, teaching…</span></em></span></li>
    </ul>
    <p><span style="font-size:14px"><span style="color:#000000">Phủ định của danh động từ được hình thành bằng cách thêm not vào trước V-ing.</span></span>
    </p>
    <ul>
        <li><span style="font-size:14px"><em><span style="color:#000000">Eg: not making, not opening…</span></em></span>
        </li>
    </ul>
    <p><span style="font-size:14px"><span style="color:#000000">Cũng có thể thêm tính từ sở hữu vào trước danh động từ để nói rõ chủ thể thực hiện hành động.</span></span>
    </p>
    <ul>
        <li><span style="font-size:14px"><em><span
                style="color:#000000">Eg: my turning on the air conditioner.</span></em></span></li>
    </ul>
    <p><span style="font-size:14px"><span
            style="color:#0099ff"><strong>II. CHỨC NĂNG CỦA DANH ĐỘNG TỪ</strong></span></span></p>
    <p><span style="font-size:14px"><span
            style="color:#66cc00"><strong>a. Dùng làm chủ ngữ trong câu.</strong></span></span></p>
    <p><span style="font-size:14px"><strong><span style="color:#000000">Eg: </span></strong></span></p>
    <ul>
        <li><span style="font-size:14px"><em><span style="color:#000000"><u><strong>Swimming</strong></u> is good for health.</span><br/>  	<span
                style="color:#008000"><em>Bơi lội rất tốt cho sức khoẻ.</em></span></em></span></li>
    </ul>
    <p><span style="font-size:14px"><span
            style="color:#66cc00"><strong>b. Dùng làm bổ ngữ cho động từ</strong></span></span></p>
    <p><span style="font-size:14px"><span style="color:#000000">Eg: </span></span></p>
    <ul>
        <li><span style="font-size:14px"><em><span style="color:#000000">Her favorite hobby is <u><strong>collecting stamps.</strong></u></span><br/>  	<span
                style="color:#008000"><em>Sở thích của cô ấy là sưu tầm tem.</em></span></em></span></li>
    </ul>
    <p><span style="font-size:14px"><span
            style="color:#66cc00"><strong>c. Dùng làm tân ngữ của động từ</strong></span><br/>  <span
            style="color:#000000">Eg:</span></span></p>
    <ul>
        <li><span style="font-size:14px"><span style="color:#000000"><em>She <u><strong>likes</strong></u> cooking.</em></span><br/>  	<span
                style="color:#008000"><em><em>Cô ấy thích nấu ăn.</em></em></span></span></li>
    </ul>
    <p><span style="font-size:14px"><strong><span style="color:#000000">d. Dùng sau giới từ (on, in, by, at…) và liên từ (after, before, when, while…)</span></strong></span>
    </p>
    <p><span style="font-size:14px"><span style="color:#000000">Eg:</span></span></p>
    <ul>
        <li><span style="font-size:14px"> <span
                style="color:#000000"><em>He cleaned his room <strong><u>before</u> </strong>going out with his friends.</em></span><br/>  	<span
                style="color:#008000"><em><em>Anh ấy đã dọn dẹp phòng trước khi đi ra ngoài với bạn bè.</em></em></span></span>
        </li>
    </ul>
    <p><span style="font-size:14px"><em><span style="color:#ff8c00"><strong>Tuy nhiên trong quá trình làm bài, các bạn thường hay nhầm lẫn hoặc nhớ không chuẩn cách sử dụng danh động từ. Dưới đây là liệt kê danh sách:</strong></span></em></span>
    </p>
    <p><span style="font-size:14px"><span style="color:#66cc00"><strong>1. Các động từ theo sau bởi V-ing ( danh động từ )</strong></span></span>
    </p>
    <p> </p>
    <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
        <tbody>
        <tr>
            <td style="text-align:center"><p><span style="font-size:14px"><strong><span style="color:#000000">Anticipate: đoán trước</span></strong></span>
            </p></td>
            <td style="text-align:center"><span style="font-size:14px"><strong><span style="color:#000000">Appreciate: hoan nghênh</span></strong></span>
            </td>
        </tr>
        <tr>
            <td style="text-align:center"><p><span style="font-size:14px"><strong><span style="color:#000000">Avoid: tránh</span></strong></span>
            </p></td>
            <td style="text-align:center"><span style="font-size:14px"><strong><span style="color:#000000">Consider: xem xét</span></strong></span>
            </td>
        </tr>
        <tr>
            <td style="text-align:center"><p><span style="font-size:14px"><strong><span style="color:#000000">Deny: từ chối</span></strong></span>
            </p></td>
            <td style="text-align:center"><span style="font-size:14px"><strong><span style="color:#000000">delay: trì hoãn</span></strong></span>
            </td>
        </tr>
        <tr>
            <td><p style="text-align:center"><span style="font-size:14px"><strong><span style="color:#000000">Detest: ghê tởm</span></strong></span>
            </p></td>
            <td style="text-align:center"><span style="font-size:14px"><strong><span style="color:#000000">Dislike: không thích</span></strong></span>
            </td>
        </tr>
        <tr>
            <td><p style="text-align:center"><span style="font-size:14px"><strong><span style="color:#000000">Enjoy: thích thú</span></strong></span>
            </p></td>
            <td style="text-align:center"><span style="font-size:14px"><strong><span style="color:#000000">Escape: trốn khỏi</span></strong></span>
            </td>
        </tr>
        <tr>
            <td><p style="text-align:center"><span style="font-size:14px"><strong><span style="color:#000000">Suggest: đề nghị</span></strong></span>
            </p></td>
            <td style="text-align:center"><span style="font-size:14px"><strong><span style="color:#000000">Finish: hoàn tất</span></strong></span>
            </td>
        </tr>
        <tr>
            <td><p style="text-align:center"><span style="font-size:14px"><strong><span style="color:#000000">Forgive: tha thứ</span></strong></span>
            </p></td>
            <td style="text-align:center"><span style="font-size:14px"><strong><span style="color:#000000">Involve: có ý định</span></strong></span>
            </td>
        </tr>
        <tr>
            <td><p style="text-align:center"><span style="font-size:14px"><strong><span style="color:#000000">Keep: tiếp tục</span></strong></span>
            </p></td>
            <td style="text-align:center"><span style="font-size:14px"><strong><span
                    style="color:#000000">Miss: bỏ lỡ</span></strong></span></td>
        </tr>
        <tr>
            <td><p style="text-align:center"><span style="font-size:14px"><strong><span style="color:#000000">Postpone: trì hoãn</span></strong></span>
            </p></td>
            <td style="text-align:center"><span style="font-size:14px"><strong><span style="color:#000000">Prevent: ngăn chặn</span></strong></span>
            </td>
        </tr>
        <tr>
            <td style="text-align:center"><p><span style="font-size:14px"><strong><span style="color:#000000">Stop: dừng …</span></strong></span>
            </p></td>
            <td> </td>
        </tr>
        </tbody>
    </table>
    <p> </p>
    <p><span style="font-size:14px"><span style="color:#000000"><strong>Note</strong>: appreciate đòi hỏi phải có một tính từ sở hữu hoặc danh động từ</span></span>
    </p>
    <ul>
        <li><span style="font-size:14px"><em><span style="color:#000000">I appreciate your giving me so much of your time.</span></em></span>
        </li>
        <li><span style="font-size:14px"><em><span
                style="color:#000000">I appreciate being given this opportunity.</span></em></span></li>
    </ul>
    <p><span style="font-size:14px"><strong><span style="color:#000000">EG: </span></strong></span></p>
    <ul>
        <li><span style="font-size:14px"><em><span style="color:#000000">Would you mind </span><span
                style="color:#000000">writing </span><span style="color:#000000">your name and address on this sheet of paper?</span></em><br/>  	<span
                style="color:#008000"><em>Bạn nhớ điền đầy đủ tên và địa chỉ của bạn lên tờ giấy này?</em></span></span>
        </li>
    </ul>
    <p><br/> <span style="font-size:14px"><span style="color:#66cc00"><strong>2. Danh động từ đứng sau cụm động từ, thành ngữ…</strong></span></span>
    </p>
    <p> </p>
    <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
        <tbody>
        <tr>
            <td><p style="text-align:center"><span style="font-size:14px"><strong><span style="color:#000000">Can’t help/ can’t bear/ can’t stand:</span></strong><span
                    style="color:#000000"> không thể chịu đựng nổi</span></span></p></td>
            <td style="text-align:center"><span style="font-size:14px"><strong><span style="color:#000000">It’s (not) worth: </span></strong><span
                    style="color:#000000">(không) đáng giá</span></span></td>
        </tr>
        <tr>
            <td><p style="text-align:center"><span style="font-size:14px"><strong><span style="color:#000000">It’s no use: </span></strong><span
                    style="color:#000000">thật vô dụng</span></span></p></td>
            <td style="text-align:center"><span style="font-size:14px"><strong><span
                    style="color:#000000">It’s no good: </span></strong><span style="color:#000000">vô ích</span></span>
            </td>
        </tr>
        <tr>
            <td><p style="text-align:center"><span style="font-size:14px"><strong><span style="color:#000000">There’s no point in:</span></strong><span
                    style="color:#000000"> Chẳng có lý do gì/ lợi gì</span></span></p></td>
            <td style="text-align:center"><span style="font-size:14px"><strong><span style="color:#000000">Have difficulty (in): </span></strong><span
                    style="color:#000000">Có khó khăn trong vấn đề gì</span></span></td>
        </tr>
        <tr>
            <td><p style="text-align:center"><span style="font-size:14px"><strong><span style="color:#000000">A waste of money/ time: </span></strong><span
                    style="color:#000000">tốn tiền/ mất thời gian</span></span></p></td>
            <td style="text-align:center"><span style="font-size:14px"><strong><span style="color:#000000">Be busy (with): </span></strong><span
                    style="color:#000000">bận rộn với cái gì</span></span></td>
        </tr>
        <tr>
            <td><p style="text-align:center"><span style="font-size:14px"><strong><span style="color:#000000">Look forward to:</span></strong><span
                    style="color:#000000"> trông mong, chờ đợi</span></span></p></td>
            <td style="text-align:center"><span style="font-size:14px"><strong><span style="color:#000000">Be (get) used to: </span></strong><span
                    style="color:#000000">quen với cái gì</span></span></td>
        </tr>
        <tr>
            <td><p style="text-align:center"><span style="font-size:14px"><strong><span
                    style="color:#000000">Object to: </span></strong><span style="color:#000000">phản đối</span></span>
            </p></td>
            <td style="text-align:center"><span style="font-size:14px"><strong><span
                    style="color:#000000">Confess to: </span></strong><span
                    style="color:#000000">thú tội, nhận tội</span></span></td>
        </tr>
        </tbody>
    </table>
    <p> </p>
    <p><span style="font-size:14px"><span style="color:#66cc00"><strong>3. Sau V + preposition, Adj + preposition hoặc Noun + preposition là V-ing.</strong></span></span>
    </p>
    <p> </p>
    <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
        <tbody>
        <tr>
            <td style="text-align:center"><span style="font-size:14px"><strong><span
                    style="color:#000000">Accuse of </span></strong><span style="color:#000000">(tố cáo)</span></span>
            </td>
            <td style="text-align:center"><span style="font-size:14px"><strong><span
                    style="color:#000000">Suspect of </span></strong><span
                    style="color:#000000">(nghi ngờ)</span></span></td>
        </tr>
        <tr>
            <td style="text-align:center"><span style="font-size:14px"><strong><span
                    style="color:#000000">be fond of </span></strong><span style="color:#000000">(thích)</span></span>
            </td>
            <td style="text-align:center"><span style="font-size:14px"><strong><span style="color:#000000">be interested in </span></strong><span
                    style="color:#000000">(thích thú, quan tâm)</span></span></td>
        </tr>
        <tr>
            <td style="text-align:center"><span style="font-size:14px"><strong><span
                    style="color:#000000">choice of </span></strong><span style="color:#000000">(lựa chọn)</span></span>
            </td>
            <td style="text-align:center"><span style="font-size:14px"><strong><span
                    style="color:#000000">reason for </span></strong><span
                    style="color:#000000">(lý do về)…</span></span></td>
        </tr>
        </tbody>
    </table>
    <p> </p>
    <p><span style="font-size:14px"><span style="color:#66cc00"><strong>4. Những động từ sau đây theo sau là to V hoặc V-ing mà nghĩa không thay đổi: begin, like, can’t stand, love, continue, prefer, start, hate, dread.</strong></span></span>
    </p>
    <p><span style="font-size:14px">Eg:</span></p>
    <ul>
        <li><span style="font-size:14px"><em><span style="color:#000000">Mary <u><strong>prefers</strong></u> singing to dancing</span><br/>  	<span
                style="color:#008000">Mary thích hát hơn khiêu vũ</span></em></span></li>
    </ul> </div>