<meta charset="UTF-8">
<div class="last-content"><p><strong><span style="color:#0099ff"><span
        style="font-size:16px">I. TÍNH TỪ SỞ HỮU LÀ GÌ?</span></span></strong></p>
    <p><span style="color:#000000"><span style="font-size:16px">- Tính từ sở hữu là từ đứng trước danh từ dùng để diễn tả ý một vật thuộc về ai đó hay cái gì đó. Tính từ sở hữu có nhiệm vụ bổ nghĩa cho danh từ. </span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:16px">- Chúng ta gọi tên nó là tính từ sở hữu vì nó thể hiện tính chất sở hữu của người hoặc vật đối với danh từ đi sau nó.</span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:16px"><strong>- Lưu ý</strong>: Chúng ta cũng sử dụng tính từ sở hữu cho các bộ phận trên cơ thể người.</span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:16px">Eg:</span></span></p>
    <ul>
        <li><em><span style="color:#000000"><span
                style="font-size:16px"><u><strong>My car</strong></u> is red </span></span><br/> <span
                style="color:#008000"><span style="font-size:16px">(Xe của tôi màu đỏ)</span></span></em></li>
        <li><em><span style="color:#000000"><span style="font-size:16px">The red car is <u><strong>my car</strong></u>. </span></span><br/>
            <span style="color:#008000"><span
                    style="font-size:16px">(Chiếc xe màu đỏ là chiếc xe của tôi.)</span></span></em></li>
        <li><em><span style="color:#000000"><span style="font-size:16px">I broke <u><strong>my leg</strong></u>. </span></span><br/>
            <span style="color:#008000"><span style="font-size:16px">(Tôi bị gãy chân.)</span></span></em></li>
    </ul>
    <p><span style="color:#0099ff"><strong><span style="font-size:16px">II. CẤU TRÚC CỦA TÍNH TỪ SỞ HỮU</span></strong></span>
    </p>
    <p style="text-align:center"><span style="color:#66cc00"><span style="font-size:20px"><strong>Tính từ (Adjective) + Danh từ (Nouns)</strong></span></span>
    </p>
    <ul>
        <li><span style="color:#000000"><span style="font-size:16px"><em>Eg : My car (Xe của tôi)</em></span></span>
        </li>
    </ul>
    <p><span style="color:#0099ff"><strong><span
            style="font-size:16px">III. CÁC LOẠI TÍNH TỪ SỞ HỮU TRONG TIẾNG ANH</span></strong></span></p>
    <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
        <tbody>
        <tr>
            <td style="text-align:center"><span style="color:#FF8C00"><strong><span style="font-size:16px">Đại Từ Nhân Xưng</span></strong></span>
            </td>
            <td style="text-align:center"><span style="color:#FF8C00"><strong><span style="font-size:16px">Tính Từ Sở Hữu</span></strong></span>
            </td>
            <td style="text-align:center"><span style="color:#FF8C00"><strong><span
                    style="font-size:16px">Phiên Âm</span></strong></span></td>
        </tr>
        <tr>
            <td>
                <ul>
                    <li><span style="color:#000000"><span style="font-size:16px">Tôi: <strong>I</strong></span></span>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li><span style="color:#000000"><span
                            style="font-size:16px"><strong>MY</strong>: của tôi</span></span></li>
                </ul>
            </td>
            <td>
                <ul>
                    <li><span style="color:#000000"><span style="font-size:16px"><strong>/mai/</strong></span></span>
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul>
                    <li><span style="color:#000000"><span
                            style="font-size:16px">Chúng tôi: <strong>WE</strong></span></span></li>
                </ul>
            </td>
            <td>
                <ul>
                    <li><span style="color:#000000"><span style="font-size:16px"><strong>OUR:</strong> của chúng tôi, của chúng ta</span></span>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li><span style="color:#000000"><span style="font-size:16px"><strong>/'auə/</strong></span></span>
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul>
                    <li><span style="color:#000000"><span style="font-size:16px">Bạn: <strong>YOU</strong></span></span>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li><span style="color:#000000"><span
                            style="font-size:16px"><strong>YOUR</strong>: của bạn</span></span></li>
                </ul>
            </td>
            <td>
                <ul>
                    <li><span style="color:#000000"><span style="font-size:16px"><strong>/jɔ:/</strong></span></span>
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul>
                    <li><span style="color:#000000"><span
                            style="font-size:16px">Các bạn: <strong>YOU</strong></span></span></li>
                </ul>
            </td>
            <td>
                <ul>
                    <li><span style="color:#000000"><span
                            style="font-size:16px"><strong>YOUR</strong>: của các bạn</span></span></li>
                </ul>
            </td>
            <td>
                <ul>
                    <li><span style="color:#000000"><span style="font-size:16px"><strong>/jɔ:/</strong></span></span>
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul>
                    <li><span style="color:#000000"><span
                            style="font-size:16px">Anh ấy: <strong>HE</strong></span></span></li>
                </ul>
            </td>
            <td>
                <ul>
                    <li><span style="color:#000000"><span
                            style="font-size:16px"><strong>HIS</strong>: của anh ấy </span></span></li>
                </ul>
            </td>
            <td>
                <ul>
                    <li><span style="color:#000000"><span style="font-size:16px"><strong>/hiz/</strong></span></span>
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul>
                    <li><span style="color:#000000"><span
                            style="font-size:16px">Cô ấy: <strong>SHE</strong></span></span></li>
                </ul>
            </td>
            <td>
                <ul>
                    <li><span style="color:#000000"><span style="font-size:16px"><strong>HER</strong>: của cô ấy</span></span>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li><span style="color:#000000"><span style="font-size:16px"><strong>/hə:/ </strong></span></span>
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul>
                    <li><span style="color:#000000"><span style="font-size:16px">Nó: <strong>IT</strong></span></span>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li><span style="color:#000000"><span
                            style="font-size:16px"><strong>ITS</strong>: của nó</span></span></li>
                </ul>
            </td>
            <td>
                <ul>
                    <li><span style="color:#000000"><span style="font-size:16px"><strong>/its/</strong></span></span>
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul>
                    <li><span style="color:#000000"><span
                            style="font-size:16px">Họ, chúng nó: <strong>They</strong></span></span></li>
                </ul>
            </td>
            <td>
                <ul>
                    <li><span style="color:#000000"><span style="font-size:16px"><strong>THEIR</strong>: của họ, của chúng</span></span>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li><span style="color:#000000"><span style="font-size:16px"><strong> /ðeə/</strong></span></span>
                    </li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
    <p><span style="color:#0099ff"><strong><span
            style="font-size:16px">IV. CÁCH SỬ DỤNG TÍNH TỪ SỞ HỮU TRONG TIẾNG ANH</span></strong></span></p>
    <p><span style="color:#000000"><span style="font-size:16px">- Như đã đề cập ở cấu trúc của tính từ sở hữu trong câu. Việc sử dụng tính từ sở hữu tương đối đơn giản, vì nó thể hiện tính chất sở hữu của ai đó đối với một danh từ nên nó luôn đứng trước danh từ</span></span>
    </p>
    <ul>
        <li><em><span style="color:#000000"><span style="font-size:16px">Eg: His pen, my car, her car</span></span></em>
        </li>
    </ul>
    <p><span style="color:#000000"><span style="font-size:16px">- Trong một số trường hợp, người ta không dùng tính từ sở hữu trong câu mà sử dụng mạo từ xác định “the” để thay thế, tuy nhiên về mặt ý nghĩa sở hữu vẫn không thay đổi.</span></span>
    </p>
    <ul>
        <li><em><span style="color:#000000"><span style="font-size:16px">Eg :  I broke in <u>“<strong>the</strong>” leg</u> thay cho I broke in <u>“<strong>my</strong>” leg.</u></span></span></em>
        </li>
    </ul>
    </p>                                </div>