<meta charset="UTF-8">
<div class="last-content"><p><span style="color:#0099ff"><strong><span style="font-size:16px">I. ĐỘNG TỪ CÓ QUI TẮC ( Regular Verbs )</span></strong></span>
</p>
    <p><strong><span style="color:#66cc00"><span
            style="font-size:16px">1. Khái niệm động từ có qui tắc</span></span></strong></p>
    <p><span style="color:#000000"><span style="font-size:16px">Thì quá khứ đơn của những động từ có qui tắc được thành lập bằng cách thêm “ed” vào các động từ nguyên mẫu.</span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:16px">Eg:</span></span></p>
    <ul>
        <li><em><span style="color:#000000"><span style="font-size:16px">To stay ---> Stay<u><strong>ed</strong></u> (ở)</span></span></em>
        </li>
    </ul>
    <p><span style="color:#66cc00"><strong><span style="font-size:16px">2. Cách thêm hậu tố "Ed"</span></strong></span>
    </p>
    <p><span style="color:#ff8c00"><span style="font-size:16px"><strong>a/ Động từ tận cùng bằng 2 nguyên âm + 1 phụ âm hoặc tận cùng bằng 2 phụ âm :thêm – ed</strong></span></span><br/>
        <span style="color:#000000"><span style="font-size:16px">eg:   </span></span></p>
    <ul>
        <li><em><span style="color:#000000"><span style="font-size:16px">look  ==> looked   (nhìn )</span></span></em>
        </li>
        <li><span style="color:#000000"><span style="font-size:16px"><em>want  ==> wanted  (muốn )</em></span></span>
        </li>
    </ul>
    <p><span style="color:#ff8c00"><span style="font-size:16px"><strong>b/ Động từ bằng e hoặc ee : chỉ thêm -d</strong></span></span><br/>
        <span style="color:#000000"><span style="font-size:16px">eg :  </span></span></p>
    <ul>
        <li><em><span style="color:#000000"><span style="font-size:16px">arrive  ==> arrived ( đến )</span></span></em>
        </li>
        <li><span style="color:#000000"><span
                style="font-size:16px"><em>like     ==> liked     (thích )</em></span></span></li>
    </ul>
    <p><span style="color:#ff8c00"><span style="font-size:16px"><strong>c/ Động từ tận cùng bằng phụ âm + y :đổi y thành i trước khi thêm – ed</strong></span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:16px">eg : </span></span></p>
    <ul>
        <li><em><span style="color:#000000"><span
                style="font-size:16px">study  ==> studied (học , nghiên cứu )</span></span></em></li>
        <li><span style="color:#000000"><span
                style="font-size:16px"><em>cry     ==>    cried  (khóc )</em></span></span></li>
    </ul>
    <p><span style="color:#000000"><span
            style="font-size:16px"><strong>- Những động từ bằng nguyên âm + y thì thêm -ed</strong></span></span></p>
    <p><span style="color:#000000"><span style="font-size:16px">eg : </span></span></p>
    <ul>
        <li><em><span style="color:#000000"><span style="font-size:16px">play ==> played   (chơi )</span></span></em>
        </li>
        <li><em><span style="color:#000000"><span style="font-size:16px">obey ==> obeyed ( vâng lời )</span></span></em>
        </li>
    </ul>
    <p><span style="color:#ff8c00"><span style="font-size:16px"><strong>d/ Động từ chỉ có 1 âm tiết tận cùng bằng 1 nguyên âm + 1 phụ âm : gấp đôi phụ âm trước khi thêm -ed</strong></span></span><br/>
        <span style="color:#000000"><span style="font-size:16px">eg:   </span></span></p>
    <ul>
        <li><em><span style="color:#000000"><span style="font-size:16px">stop  ==> stopped (ngừng )</span></span></em>
        </li>
        <li><span style="color:#000000"><span
                style="font-size:16px"><em>fit     ==>   fitted  ( ăn khớp )</em></span></span></li>
    </ul>
    <p><span style="color:#000000"><span
            style="font-size:16px"><strong>- Nhưng động từ tận cùng bằng x thì chỉ thêm -ed</strong><br/>  eg : </span></span>
    </p>
    <ul>
        <li><em><span style="color:#000000"><span style="font-size:16px">tax   ==> taxed (đánh thuê )</span></span></em>
        </li>
        <li><span style="color:#000000"><span
                style="font-size:16px"><em>fix    ==> fixed ( qui định )</em></span></span></li>
    </ul>
    <p><span style="color:#ff8c00"><span style="font-size:16px"><strong>e/ Động từ nhiều âm tiết tận cùng bằng 1 nguyên âm + 1 phụ âm có trọng aam ở âm tiết cuối : gấp đôi phụ âm trước khi thêm – ed</strong></span></span><br/>
        <span style="color:#000000"><span style="font-size:16px">eg :  </span></span></p>
    <ul>
        <li><em><span style="color:#000000"><span
                style="font-size:16px">omit   ==> omitted   (bỏ đi )</span></span></em></li>
        <li><span style="color:#000000"><span style="font-size:16px"><em>prefer  ==> preferred ( thích hơn )</em></span></span>
        </li>
    </ul>
    <p><span style="color:#000000"><span style="font-size:16px"><strong>- Nhưng động từ không có trọng âm ở cuối thì chỉ thêm – ed</strong></span></span>
    </p>
    <ul>
        <li><em><span style="color:#000000"><span
                style="font-size:16px">happen ==> happened (xảy ra )</span></span></em></li>
        <li><span style="color:#000000"><span style="font-size:16px"><em> listen  ==> listened (lắng nghe )</em></span></span>
        </li>
    </ul>
    <p><span style="color:#ff8c00"><span style="font-size:16px"><strong>f/ Động từ tận cùng bằng l : gấp đôi phụ âm l (ngay cả kho trọng âm không ở âm tiết cuối ) và thêm -ed</strong></span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:16px">eg :  </span></span></p>
    <ul>
        <li><em><span style="color:#000000"><span
                style="font-size:16px">cancel    ==> cancelled  (hủy bỏ )</span></span></em></li>
        <li><span style="color:#000000"><span
                style="font-size:16px"><em>travel     ==> travelled ( đi du lịch )</em></span></span></li>
    </ul>
    <p><span style="color:#ff8c00"><span style="font-size:16px"><strong>g/ Động từ tận cùng bằng c: thêm k trước khi thêm – ed</strong></span></span><br/>
        <span style="color:#000000"><span style="font-size:16px">eg :  </span></span></p>
    <ul>
        <li><em><span style="color:#000000"><span style="font-size:16px">picnic  ==> picnicked (dã ngoại )</span></span></em>
        </li>
        <li><em><span style="color:#000000"><span
                style="font-size:16px">traffic   ==> traffcked (buôn bán )</span></span></em></li>
    </ul>
    <p><span style="color:#66cc00"><span
            style="font-size:16px"><strong>3. Cách phát âm hậu tố – ed</strong></span></span></p>
    <p><span style="color:#000000"><span style="font-size:16px"> - Đọc /t/ sau những âm rung (trừ âm /t/ ): /c/, /ch/, /s/, /f/ , / k/ , / p/ ,/x/, /sh/<br/>   - Đọc / d/ sau những âm có rung (trừ âm / d/ )<br/>   - Đọc / id/ sau 2 âm / d/ và / t/</span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:16px"><strong>Lưu ý</strong></span></span></p>
    <p><span style="color:#000000"><span style="font-size:16px">+ Một số động tính từ tận cùng bằng – ed dùng như tính từ , đọc / id/ :<br/>  eg :   </span></span>
    </p>
    <ul>
        <li><em><span style="color:#000000"><span style="font-size:16px">beloved (yêu quí )</span></span></em></li>
    </ul>
    <p><span style="color:#000000"><span style="font-size:16px">+ Một số tính từ tận cùng bằng ed cũng đọc / id/:<br/>  ex : </span></span>
    </p>
    <ul>
        <li><span style="color:#000000"><span style="font-size:16px"><em>aged (tuổi , già )</em></span></span></li>
        <li><span style="color:#000000"><span style="font-size:16px"><em>sacred (thiêng liêng )</em></span></span></li>
    </ul>
    <p><span style="color:#0099ff"><strong><span style="font-size:16px">II. ĐỘNG TỪ BẤT QUI TẮC</span></strong></span>
    </p>
    <p><span style="color:#66cc00"><strong><span style="font-size:16px">1. Khái niệm động từ bất qui tắc</span></strong></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:16px"><strong>Động từ không theo qui tắc</strong> là những động từ có hình thức riêng cho thì quá khứ và động tính từ quá khứ , không thêm – ed.</span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:16px">Eg:</span></span></p>
    <ul>
        <li><em><span style="color:#000000"><span style="font-size:16px">to run - ran (chạy)      </span></span></em>
        </li>
        <li><em><span style="color:#000000"><span style="font-size:16px">to leave - left (ra đi, rời)</span></span></em>
        </li>
    </ul>
    <p><span style="color:#66cc00"><strong><span
            style="font-size:16px">2. Quy luật hình thành lập động từ bất qui tắc</span></strong></span></p>
    <p><span style="color:#000000"><span style="font-size:16px">- Bảng động từ bất quy tắc cần nhớ có hơn 600 từ. Dưới đây sẽ là một số quy luật thành lập động từ bất quy tắc giúp các bạn học bảng động từ này dễ dàng hơn! </span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:16px">- Bảng động từ bất quy tắc thường có 3 cột. Ta ký hiệu V1 (Động từ nguyên thể), V2 (Thể quá khứ đơn), V3 (Thể quá khứ phân từ).</span></span>
    </p>
    <p><span style="color:#ff8c00"><strong><span style="font-size:16px">a. Động từ có V1 tận cùng là “eed” thì V2, V3 là “ed”.</span></strong></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:16px">Eg:</span></span></p>
    <ul>
        <li><span style="color:#000000"><span style="font-size:16px"><em>feed (V1) → fed (V2) → fed (V3): nuôi dạy</em></span></span>
        </li>
        <li><span style="color:#000000"><span style="font-size:16px"><em>bleed (V1) → bled (V2) → bled (V3):  (làm) chảy máu</em></span></span>
        </li>
        <li><span style="color:#000000"><span style="font-size:16px"><em>breed (V1) → bred (V2) → bred (V3): sanh, nuôi dạy</em></span></span>
        </li>
        <li><span style="color:#000000"><span style="font-size:16px"><em>overfeed (V1) → overfed (V2) → overfed (or overfied) (V3):cho ăn quá</em></span></span>
        </li>
    </ul>
    <p><strong><span style="color:#ff8c00"><span style="font-size:16px">b. Động từ có V1 tận cùng là “ay” thì V2, V3 là “aid”</span></span></strong>
    </p>
    <p><span style="color:#000000"><span style="font-size:16px">Eg:</span></span></p>
    <ul>
        <li><em><span style="color:#000000"><span
                style="font-size:16px">say (V1) → said (V2) → said (V3): nói</span></span></em></li>
        <li><em><span style="color:#000000"><span
                style="font-size:16px">lay (V1) → laid (V2) → laid (V3)  : đặt để</span></span></em></li>
        <li><em><span style="color:#000000"><span style="font-size:16px">inlay (V1) → inlaid (V2) → inlaid (V3) : cẩn, khảm</span></span></em>
        </li>
        <li><em><span style="color:#000000"><span style="font-size:16px">gainsay (V1) → gainsaid (V2) → gainsaid (V3) : chối cãi</span></span></em>
        </li>
        <li><em><span style="color:#000000"><span style="font-size:16px">mislay (V1) → mislaid (V2) → mislaid (V3) : để thất lạc</span></span></em>
        </li>
        <li><em><span style="color:#000000"><span style="font-size:16px">waylay (V1) → waylaid (V2) → waylaid (V3) : rình rập, ngóng chờ</span></span></em>
        </li>
    </ul>
    <p><span style="color:#ff8c00"><strong><span
            style="font-size:16px">c. Động từ V1 có tận cùng là “d” thì là “t”</span></strong></span></p>
    <p><span style="color:#000000"><span style="font-size:16px">Eg:</span></span></p>
    <ul>
        <li><span style="font-size:16px"><span style="color:#000000"><em>bend(V1) → bent (V2) → bent (V3) uốn cong</em></span></span>
        </li>
        <li><span style="font-size:16px"><span
                style="color:#000000"><em>send(V1) → sent (V2) → sent (V3) gởi</em></span></span></li>
    </ul>
    <p><span style="color:#ff8c00"><strong><span style="font-size:16px">d. Động từ V1 có tận cùng là “ow” thì V2 là “ew”, V3 là “own”.</span></strong></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:16px">Eg:</span></span></p>
    <ul>
        <li><em><span style="color:#000000"><span style="font-size:16px">Blow (V1) → blew (V2) → blown (V3) thổi</span></span></em>
        </li>
        <li><em><span style="color:#000000"><span style="font-size:16px">Crow (V1) → crew (V2) → crown (or crewed) (V3) (gà) gáy</span></span></em>
        </li>
        <li><em><span style="color:#000000"><span style="font-size:16px">Foreknow (V1) → foreknew (V2) → forekown (V3) biết trước</span></span></em>
        </li>
        <li><em><span style="color:#000000"><span
                style="font-size:16px">Know (V1) → knew (V2) → known (V3) hiểu biết</span></span></em></li>
        <li><em><span style="color:#000000"><span
                style="font-size:16px">Grow (V1) → grew (V2) → grown (V3) mọc, trồng</span></span></em></li>
        <li><em><span style="color:#000000"><span style="font-size:16px">Throw (V1) → threw (V2) → thrown (V3) liệng, ném, quăng</span></span></em>
        </li>
    </ul>
    <p><span style="color:#ff8c00"><strong><span style="font-size:16px">e. Động từ V1 có tận cùng là “ear” thì V2 là “ore”, V3 là “orn” (động từ hear ngoại lệ)</span></strong></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:16px">Eg:</span></span></p>
    <ul>
        <li><em><span style="color:#000000"><span style="font-size:16px">bear (V1) → bore (V2) → borne (V3) mang, chịu (sanh đẻ)</span></span></em>
        </li>
        <li><em><span style="color:#000000"><span style="font-size:16px">forbear (V1) → forbore (V2) → forborne (V3) cử kiêng</span></span></em>
        </li>
        <li><em><span style="color:#000000"><span
                style="font-size:16px">swear (V1) → swore (V2) → sworne (V3) thề thốt</span></span></em></li>
        <li><em><span style="color:#000000"><span
                style="font-size:16px">tear (V1) → tore (V2) → torne (V3) xé rách</span></span></em></li>
    </ul>
    <p><span style="color:#ff8c00"><strong><span style="font-size:16px">f. Động từ V1 có nguyên âm “i” thì V2 là “a”, V3 là “u”</span></strong></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:16px">Eg:</span></span></p>
    <ul>
        <li><em><span style="color:#000000"><span
                style="font-size:16px">begin (V1) → began (V2) → begun (V3) bắt đầu</span></span></em></li>
        <li><em><span style="color:#000000"><span
                style="font-size:16px">drink (V1) → drank (V2) → drunk (V3) uống</span></span></em></li>
        <li><em><span style="color:#000000"><span
                style="font-size:16px">sing (V1) → sang (or sung) (V2) → sung (V3) hát</span></span></em></li>
        <li><em><span style="color:#000000"><span
                style="font-size:16px">sink (V1) → sank (V2) → sunk (V3) chuồn, lõi đi</span></span></em></li>
        <li><em><span style="color:#000000"><span
                style="font-size:16px">spring (V1) → sprang (V2) → sprung (V3) vùng</span></span></em></li>
        <li><em><span style="color:#000000"><span style="font-size:16px">stink (V1) → stank (or stunk) (V2) → stunk (V3) bay mù trời</span></span></em>
        </li>
        <li><em><span style="color:#000000"><span
                style="font-size:16px">ring (V1) → rang (V2) → rung (V3) rung (chuông)</span></span></em></li>
    </ul>
    <p><span style="color:#ff8c00"><strong><span style="font-size:16px">g. Động từ có V1 tận cùng là “m” hoặc “n” thì V2,V3 giống nhau và thêm “t”</span></strong></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:16px">Eg:</span></span></p>
    <ul>
        <li><em><span style="color:#000000"><span
                style="font-size:16px">Burn (V1) → burnt (V2) → burnt (V3) đốt cháy</span></span></em></li>
        <li><em><span style="color:#000000"><span style="font-size:16px">Dream (V1) → dreamt (V2) → dreamt (V3) mơ, mơ mộng</span></span></em>
        </li>
        <li><em><span style="color:#000000"><span
                style="font-size:16px">Lean (V1) → leant (V2) → leant (V3) dựa vào</span></span></em></li>
        <li><em><span style="color:#000000"><span
                style="font-size:16px">Learn (V1) → learnt (V2) → learnt (V3) học</span></span></em></li>
        <li><em><span style="color:#000000"><span style="font-size:16px">Mean (V1) → meant (V2) → meant (V3) ý nghĩa, ý muốn nói</span></span></em>
        </li>
    </ul>
    <p><span style="color:#66cc00"><strong><span style="font-size:16px">3. Bảng động từ bất quy tắc tiếng anh đầy đủ nhất </span></strong></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:16px">Ở trên là một số quy tắc giúp các bạn có thể nhớ cách chia động từ bất quy tắc một cách dễ dàng hơn. Tuy nhiên, để kiểm tra tính chính xác thì đừng quên sử dụng Bảng Tra Động Từ Bất Quy Tắc dưới đây nhé!^^</span></span>
    </p>
    <p style="text-align:center">
        <img alt="" src="file:///android_asset/images/bang-dong-tu-bat-quy-tac.jpg"/><br/>
</div>