<meta charset="UTF-8">
<div class="first-content">
    <h3><span style="font-size:14px"><strong><span
            style="color:#0099ff">I. TỔNG QUAN VỀ WHEN VÀ WHILE</span></strong></span></h3>
    <p><span style="font-size:14px"><span style="color:#000000">When và While đều dùng để nói về sự việc, hành động, tình huống đang diễn ra cùng một thời điểm.</span></span>
    </p>
    <h3><span style="font-size:14px"><span
            style="color:#0099ff"><strong>II. CẤU TRÚC VÀ CÁCH DÙNG WHEN TRONG TIẾNG ANH</strong></span></span></h3>
</div>
<div class="last-content"><p> </p>    <h4><span style="font-size:14px"><span style="color:#ffa500"><strong>1. Cấu trúc và cách chia when với các thì trong tiếng anh</strong></span></span>
</h4>
    <p><span style="font-size:14px"><span
            style="color:#000000">- Vị trí: Mệnh đề When có thể đứng ở đầu hoặc cuối câu</span></span></p>
    <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
        <tbody>
        <tr>
            <td style="text-align:center"><p><span style="font-size:14px"><span style="color:#66cc00"><strong>Chia When Với Các Thì Trong Tiếng Anh</strong></span></span>
            </p></td>
            <td style="text-align:center"><span style="font-size:14px"><span
                    style="color:#66cc00"><strong>Ví Dụ</strong></span></span></td>
        </tr>
        <tr>
            <td><span style="font-size:14px"><span style="color:#000000">- When + present simple, + simple future / simple present : Khi làm thế nào thì (sẽ )... ( ở HT / TL )</span></span>
            </td>
            <td>
                <ul>
                    <li><span style="font-size:14px"><em><span style="color:#000000">When you see it yourself, you'll surely believe it.<br/>  				(</span><span
                            style="color:#008000"> Khi em thấy tận mắt, em sẽ tin nó thôi )</span></em></span></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td><span style="font-size:14px"><span style="color:#000000">- When + simple past, + past perfect : Diễn tả hành động xảy ra và hoàn tất trước hành động ở mệnh đề when.</span></span>
            </td>
            <td>
                <ul>
                    <li><span style="font-size:14px"><em><span style="color:#000000">When I just got out of the classroom, I knew that i had made some mistakes. </span><br/>  				<span
                            style="color:#008000">( Khi mới bước ra khỏi phòng, tôi nhận ra là mình đã mắc một số lỗi )</span></em></span>
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td><span style="font-size:14px"><span style="color:#000000">- When + simple past, + simple past : Diễn tả hai hành động xảy ra gần nhau, hoặc là một hành động vừa dứt thì hành động khác xảy ra.</span></span>
            </td>
            <td>
                <ul>
                    <li><span style="font-size:14px"><em><span style="color:#000000">When the rock concert given by Erick Clapton ended, we went home </span><br/>  				<span
                            style="color:#008000">( Khi buổi nhạc rock của Erick Clapton kết thúc, chúng tôi ra về )</span></em></span>
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td><span style="font-size:14px"><span style="color:#000000">- When + past continuous ( clear point of time - thời gian cụ thể ), + simple past : Khi một hành động đang diễn ra thì một hành động khác xảy đến</span></span>
            </td>
            <td>
                <ul>
                    <li><span style="font-size:14px"><em><span style="color:#000000">When we were playing football at 5.30p.m yesterday, there was a terrible explosion </span><br/>  				<span
                            style="color:#008000">( Vào lúc 5h30 chiều qua, khi đang chơi bóng thì bọn tôi chợi nghe thấy một tiếng nổ lớn )</span></em></span>
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td><br/> <span style="font-size:14px"><span style="color:#000000">- When + simple past, + past continuous : Tương tự như phần 4, nhưng nghĩ chỉ khác một chút</span></span>
            </td>
            <td>
                <ul>
                    <li><span style="font-size:14px"><em><span
                            style="color:#000000">When we came, he was taking a bath </span><br/>  				<span
                            style="color:#008000">( Khi bọn tôi đến thì cậu ta đang tắm )</span></em></span></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td><span style="font-size:14px"><span style="color:#000000">- When + past perfect, + simple past : Hành động ở mệnh đề when xảy ra trước ( kết quả ở QK )</span></span>
            </td>
            <td>
                <ul>
                    <li><span style="font-size:14px"><em><span style="color:#000000">When the opportunity had passed, i only knew that there was nothing could be done </span><br/>  				<span
                            style="color:#008000">( Khi cơ hội không còn tôi mới biết mình đã chẳng còn làm gì được nữa rồi )</span></em></span>
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td><span style="font-size:14px"><span style="color:#000000">- When simple past, + simple present : Tương tự như mục 6 nhưng hành động sau ở hiện tại</span></span>
            </td>
            <td>
                <ul>
                    <li><span style="font-size:14px"><em><span style="color:#000000">When the opportunity passed, i know there's nothing can be done. </span><br/>  				<span
                            style="color:#008000">( Khi cơ hội tuột mất, tôi biết là chẳng còn làm gì được nữa )</span></em></span>
                    </li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
    <h4><span style="font-size:14px"><span
            style="color:#ffa500"><strong>2. Cách sử dụng When trong tiếng anh</strong></span></span></h4>
    <p><span style="font-size:14px"><span style="color:#000000">- When: Mệnh đề có chứa WHEN, chúng ta thường chia động từ không phải dạng tiếp diễn.</span></span>
    </p>
    <p><span style="font-size:14px"><span style="color:#000000"><strong>+ Khi nói về chuỗi các hành động xảy ra liên tiếp nhau:</strong><br/>  Eg:</span></span>
    </p>
    <ul>
        <li><span style="font-size:14px"><em><span style="color:#000000"><u><strong>When</strong></u> you called, he picked up his cell phone. </span><span
                style="color:#008000">(Anh ấy đã bốc máy ngay khi bạn gọi tới)</span></em></span></li>
    </ul>
    <p><span style="font-size:14px"><span style="color:#000000"><strong>+ Khi một hành động đang diễn ta thì bị một hành động khác (diễn ra chỉ trong 1 khoảng thới gian ngắn) xen vào.</strong></span></span>
    </p>
    <ul>
        <li><span style="font-size:14px"><em><span style="color:#000000">He was watching TV <u><strong>when</strong></u> the phone rang. </span><span
                style="color:#008000">(Lúc chuông điện thoại kêu thì anh ấy đang xem TV). -> Hành động xen vào ở đây đó là "lúc chuông điện thoại kêu".</span></em></span>
        </li>
    </ul>
    <h3><br/> <span style="font-size:14px"><span style="color:#0099ff"><strong>III. CẤU TRÚC VÀ CÁCH DÙNG "WHILE" TRON TIẾNG ANH</strong></span></span>
    </h3>
    <p><span style="font-size:14px"><strong><span style="color:#000000">Mệnh đề When và While có thể đứng ở đầu hoặc cuối câu</span></strong></span>
    </p>
    <p><span style="font-size:14px"><span style="color:#000000">Eg</span></span></p>
    <ul>
        <li><span style="font-size:14px"><em><span style="color:#000000">I was having breakfast <u><strong>when</strong></u> the telephone rang.</span></em></span>
        </li>
        <li><span style="font-size:14px"><em><span style="color:#000000"><u><strong>While</strong></u> they were cooking, somebody broke into their house.</span></em></span>
        </li>
    </ul>
    <h4><span style="font-size:14px"><span style="color:#ffa500"><strong>1. Cấu trúc: </strong></span></span></h4>
    <p style="text-align:center"><span style="font-size:14px"><span
            style="color:#66cc00"><strong> While+ subject + verb</strong></span></span></p>    <h4><span
            style="font-size:14px"><span style="color:#ffa500"><strong>2. Cách dùng:</strong></span></span></h4>
    <p><span style="font-size:14px"><span style="color:#000000">While: Mệnh đề có chứa WHILE, chúng ta thường chia động từ ở dạng tiếp diễn.</span></span>
    </p>
    <p><span style="font-size:14px"><strong><span style="color:#000000">- Khi nói về 2 hành động xảy ra gần như cùng 1 lúc với nhau. (kéo dài trong một khoảng thời gian nào đó)</span></strong></span>
    </p>
    <p><span style="font-size:14px"><span style="color:#000000">Eg</span></span></p>
    <ul>
        <li><span style="font-size:14px"><em><span style="color:#000000">He was playing soccer <u><strong>while</strong></u> she was reading the newspaper. </span><span
                style="color:#008000">(Anh ấy đang chơi bóng đá trong khi cô ấy đang đọc báo)</span></em></span></li>
    </ul>
    <p><span style="font-size:14px"><strong><span style="color:#000000">- Mệnh đề chính (không chứa WHILE) có thể chia ở dạng không tiếp diễn trong một số trường hợp.</span></strong></span>
    </p>
    <p><span style="font-size:14px"><span style="color:#000000">Eg</span></span></p>
    <ul>
        <li><span style="font-size:14px"><span style="color:#000000"><em><u><strong>While</strong></u><strong> </strong>he was talking, his baby slept.</em></span><span
                style="color:#008000"><em> (Khi anh ấy nói chuyện điện thoại, đứa con của anh ấy đang ngủ)</em></span></span>
        </li>
    </ul>
</div>