<meta charset="UTF-8">
<div class="last-content"><p><span style="color:#0099ff"><strong><span style="font-size:16px">I. KHÁI NIỆM VỀ TRỢ ĐỘNG TỪ</span></strong></span>
</p>
    <p><span style="color:#000000"><span style="font-size:16px">- <strong>Trợ động từ</strong> là những động từ dùng để “trợ giúp” các động từ khác trong câu hỏi, câu phủ định, hay dùng để nhấn mạnh trong các câu khẳng định, và bản thân nó không thể thay thế cho động từ chính và luôn phải đi kèm với động từ chính.</span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:16px">- <strong>Lưu ý</strong>: Bản thân các trợ động từ này cũng có thể sử dụng độc lập như là một động từ chính.</span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:16px">Eg:</span></span></p>
    <ul>
        <li><em><span style="color:#000000"><span
                style="font-size:16px">I <u><strong>don’t</strong></u><strong> </strong>understand what are you talking about.</span></span><span
                style="color:#008000"><span
                style="font-size:16px">(Tôi không hiểu bạn đang nói về cái gì.)</span></span></em></li>
        <li><em><span style="color:#000000"><span style="font-size:16px">I <u><strong>do</strong></u> my homework every day. </span></span><span
                style="color:#008000"><span
                style="font-size:16px">(Tôi làm bài tập về nhà hàng ngày.)</span></span></em></li>
    </ul>
    <p><span style="color:#000000"><span style="font-size:16px">=> Động từ "DO" trong câu thứ nhất đóng vai trò là trợ động từ trong câu phủ định, và đi kèm với động từ chính là “understand”.</span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:16px">=> Động từ “DO” trong câu thứ hai đóng vai trò là động từ chính trong câu và nó hoàn toàn đứng độc lập.</span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:16px">- Trong Tiếng Anh có 12 trợ động từ: Be, have, do, can, shall, will, may, must, need, ought (to), dare, used (to). Trong số đó có 9 động từ được xếp vào "Động từ khuyết thiếu" (Modal verbs) bao gồm: can, may, must, will, shall, need, ought (to), dare và used (to).</span></span>
    </p>
    <p><strong><span style="color:#0099ff"><span style="font-size:16px">II. ĐẶC ĐIỂM CHUNG CỦA TRỢ ĐỘNG TỪ ( AUXILIARY VERBS )</span></span></strong>
    </p>
    <p><span style="color:#ffa500"><strong><span style="font-size:16px">a. Hình thành thể phủ định bằng cách thêm "not" sau động từ</span></strong></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:16px">Eg:</span></span></p>
    <ul>
        <li><em><span style="color:#000000"><span style="font-size:16px">He is here </span></span><span
                style="color:#008000"><span style="font-size:16px">(Anh ấy ở đây)</span></span></em></li>
    </ul>
    <p><span style="color:#000000"><span style="font-size:16px">→ He is not here </span></span><span
            style="color:#008000"><span style="font-size:16px">(Anh ấy không ở đây)</span></span></p>
    <ul>
        <li><em><span style="color:#000000"><span style="font-size:16px">They would help us </span></span><span
                style="color:#008000"><span style="font-size:16px">(Họ sẽ giúp chúng tôi)</span></span></em></li>
    </ul>
    <p><span style="color:#000000"><span style="font-size:16px">→ They would not help us </span></span><span
            style="color:#008000"><span style="font-size:16px">(Họ không giúp chúng tôi)</span></span><br/> <span
            style="color:#000000"><span style="font-size:16px"> </span></span><br/> <span style="color:#ffa500"><span
            style="font-size:16px"><strong>b. Hình thành thể nghi vấn bằng đảo ngữ (inversion)</strong></span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:16px">Eg:</span></span></p>
    <ul>
        <li><em><span style="font-size:16px">He is here <span style="color:#008000">(Anh ấy ở đây)</span></span></em>
        </li>
    </ul>
    <p><span style="color:#000000"><span style="font-size:16px">→ Is he here? </span></span><span style="color:#008000"><span
            style="font-size:16px">(Có phải anh ta ở đây?)</span></span><br/> <span style="color:#000000"><span
            style="font-size:16px"> </span></span><br/> <span style="color:#ffa500"><span
            style="font-size:16px"><strong>c. Hình thành "câu hỏi đuôi" bằng cách dùng lại chính động từ ấy</strong></span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:16px">Eg:</span></span></p>
    <ul>
        <li><em><span style="color:#000000"><span
                style="font-size:16px">They were there, weren’t they? </span></span><span style="color:#008000"><span
                style="font-size:16px">(Họ ở đó, phải không?)</span></span></em></li>
    </ul>
    <p><span style="color:#ffa500"><strong><span style="font-size:16px">d. Hình thành "câu trả lời ngắn" bằng cách dùng lại chính động từ đó</span></strong></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:16px">Eg:</span></span></p>
    <ul>
        <li><span style="color:#000000"><span style="font-size:16px"><em>It will take hours to do this work.</em></span></span><span
                style="color:#008000"><span
                style="font-size:16px"><em> (Sẽ mất hàng giờ để thực hiện công việc này.)</em></span></span></li>
    </ul>
    <p><span style="color:#000000"><span style="font-size:16px"> → Yes, it will. (No, it won’t) </span></span></p>
    <p><span style="color:#ffa500"><strong><span
            style="font-size:16px">e. Được dùng lại trong loại "câu tỉnh lược" </span></strong></span></p>
    <p><span style="color:#000000"><span style="font-size:16px">Eg:</span></span></p>
    <ul>
        <li><span style="color:#000000"><span style="font-size:16px"><em>They will spend their holidays in Spain. Will you? (= Will you spend your holiday in Spain?)</em></span></span>
        </li>
    </ul>
    <p><span style="color:#0099ff"><strong><span style="font-size:16px">III.Trợ động từ BE</span></strong></span></p>
    <p><span style="color:#ffa500"><strong><span style="font-size:16px">a.  "BE" được sử dụng làm trợ động từ để hình thành các thì tiếp diễn và thể bị động</span></strong></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:16px">Eg:</span></span></p>
    <ul>
        <li><em><span style="color:#000000"><span
                style="font-size:16px">She was washing clothes when we came.</span></span><span
                style="color:#008000"><span style="font-size:16px"> (Cô ấy đang giặt quần áo khi chúng tôi đến.)</span></span></em>
        </li>
    </ul>
    <p><span style="color:#ffa500"><strong><span style="font-size:16px">b. "BE" là một loại động từ chưa đầy đủ. Vì thế luôn đòi hỏi phải có một bổ ngữ từ để hoàn thành ý nghĩa của câu</span></strong></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:16px">Eg</span></span></p>
    <ul>
        <li><span style="color:#000000"><span style="font-size:16px"><em>Your dinner is ready. </em></span></span><span
                style="color:#008000"><span style="font-size:16px"><em>(Bữa tối của bạn đã sẵn sàng.)</em></span></span>
        </li>
        <li><span style="color:#000000"><span
                style="font-size:16px"><em>His father was a famous man. </em></span></span><span
                style="color:#008000"><span
                style="font-size:16px"><em>(Cha của anh ấy là một người nổi tiếng.)</em></span></span></li>
    </ul>
    <p><span style="color:#ffa500"><strong><span style="font-size:16px">c. Khi được sử dụng như một động từ hoàn chỉnh, "BE" có nghĩa là hiện hữu, tồn tại</span></strong></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:16px">Eg:</span></span></p>
    <ul>
        <li><span style="color:#000000"><span style="font-size:16px"><em>I think, therefore I am.</em></span></span>
        </li>
    </ul>
    <p><span style="color:#000000"><span style="font-size:16px"> </span></span><br/> <span style="color:#ffa500"><span
            style="font-size:16px"><strong>d. "BE TO" dùng để diễn tả</strong></span></span></p>
    <p><strong><span style="color:#000000"><span
            style="font-size:16px">- Một sự thu xếp, sắp đặt (arrangement)</span></span></strong></p>
    <p><span style="color:#000000"><span style="font-size:16px">Eg:</span></span></p>
    <ul>
        <li><em><span style="color:#000000"><span
                style="font-size:16px">The wedding is to take place on Saturday. </span></span><span
                style="color:#008000"><span style="font-size:16px">(Hôn lễ sẽ diễn ra vào thứ bảy.)</span></span></em>
        </li>
    </ul>
    <p><strong><span style="color:#000000"><span
            style="font-size:16px">- Một mệnh lệnh, một yêu cầu</span></span></strong></p>
    <p><span style="color:#000000"><span style="font-size:16px">Eg:</span></span></p>
    <ul>
        <li><span style="color:#000000"><span
                style="font-size:16px"><em>You are to see the headmaster at 4 o’clock. </em></span></span><span
                style="color:#008000"><span
                style="font-size:16px"><em>(Bạn sẽ gặp hiệu trưởng vào lúc 4 giờ.)</em></span></span></li>
    </ul>
    <p><span style="color:#000000"><span style="font-size:16px">-<strong> Tính chất tương lai trong những trường hợp cần diễn tả tương lai trong quá khứ (Future in the Past)</strong></span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:16px">Eg:</span></span></p>
    <ul>
        <li><em><span style="color:#000000"><span style="font-size:16px">My sister and her husband were to come and see us this weekend, but they couldn’t come. </span></span><br/>
            <span style="color:#008000"><span style="font-size:16px">(<em>Vợ chồng chị tôi đến gặp chúng tôi vào cuối tuần này, nhưng họ không thể đến.)</em></span></span></em>
        </li>
    </ul>
    <p><span style="color:#ffa500"><strong><span style="font-size:16px">e. "DO BE" là một hình thức nhấn mạnh, làm tăng ý nghĩa tình cảm của hành động hay làm cho câu nó có ý nghĩa thuyết phục hơn</span></strong></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:16px">Eg</span></span></p>
    <ul>
        <li><span style="color:#000000"><span
                style="font-size:16px"><em>Do be careful when you cross the road. </em></span></span><span
                style="color:#008000"><span
                style="font-size:16px"><em>(Hãy cẩn thận khi bạn băng qua đường.)</em></span></span></li>
    </ul>
    <p><span style="color:#ffa500"><strong><span
            style="font-size:16px">f. Một số thành ngữ với "BE" </span></strong></span></p>
    <p><span style="color:#000000"><span style="font-size:16px"><strong>- be able to: có thể, có khả năng</strong><br/>  → I am not able to guarantee the results.<br/>  <strong>- be about to: sắp sửa</strong><br/>  → The plane is about to take off.</span></span>
    </p>
    <p><span style="color:#000000"><span
            style="font-size:16px"><strong>- be apt to: có khiếu, nhanh trí về</strong><br/>  → He’s apt to ask awkward questions.</span></span>
    </p>
    <p><span style="color:#000000"><span
            style="font-size:16px"><strong>- be bound to: nhất định, có khuynh hướng</strong><br/>  → Prices are bound to go up this autumn.</span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:16px"><strong>- be certain to: chắc chắn</strong><br/>  → The match is certain to start on time.</span></span>
    </p>
    <p><span style="color:#000000"><span
            style="font-size:16px"><strong>- be due to: vì, do bởi, ắt hẳn, nhất định</strong><br/>  → He’s due to arrive at any moment.</span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:16px"><strong>- be going to: định sẽ</strong><br/>  → We’re going to need more staff here.</span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:16px"><strong>- be liable to: có khả năng sẽ</strong><br/>  → This machine is liable to break down.</span></span>
    </p>
    <p><span style="color:#000000"><span
            style="font-size:16px"><strong>- be sure to: chắn chắn, dứt khoát là</strong><br/>  → He’s sure to be waiting outside.</span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:16px"><strong>- be likely to: có vẻ như là</strong><br/>  → They’re likely to win by several goals.</span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:16px"><strong>- be meant to: ý muốn nói là</strong><br/>  → Are you meant to work overtime?</span></span>
    </p>
    <p><span style="color:#000000"><span
            style="font-size:16px"><strong>- be supposed to: xem là, có nhiệm vụ là</strong><br/>  → We’re not supposed to smoke in here.</span></span>
    </p>
    <p><span style="color:#0099ff"><span style="font-size:16px"><strong>IV. Trợ động từ HAVE</strong></span></span><br/>
        <span style="color:#000000"><span style="font-size:16px"> </span></span><br/> <span style="color:#ffa500"><span
                style="font-size:16px"><strong>a. HAVE được dùng làm trợ động từ để tạo các thì hoàn thành</strong></span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:16px">Eg:</span></span></p>
    <ul>
        <li><em><span style="color:#000000"><span
                style="font-size:16px">I have answered your questions. </span></span><span style="color:#008000"><span
                style="font-size:16px">(Tôi đã trả lời câu hỏi của bạn.)</span></span></em></li>
        <li><span style="color:#000000"><span style="font-size:16px"><em>Has he finished his dinner? </em></span></span><span
                style="color:#008000"><span style="font-size:16px"><em>(Anh ấy đã ăn tối chưa?)</em></span></span></li>
    </ul>
    <p><span style="color:#ffa500"><strong><span style="font-size:16px">B. Khi được dùng như một động từ chính trong câu, HAVE có nghĩa là sở hữu. Với ý nghĩa này, trong văn nói và trong nhiều cấu trúc văn viết, got được thêm vào với have mà không làm tăng thêm ý nghĩa.</span></strong></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:16px">Eg</span></span></p>
    <ul>
        <li><em><span style="color:#000000"><span style="font-size:16px">The man has (got) a car.</span></span></em>
        </li>
        <li><em><span style="color:#000000"><span style="font-size:16px">How many children have you (got)?</span></span></em>
        </li>
    </ul>
    <p><span style="color:#ffa500"><strong><span style="font-size:16px">c. Khi dùng với nghĩa khác hơn là sở hữu, HAVE có các hình thức phủ định, nghi vấn... như các động từ thông thường khác. Khi ấy HAVE cũng không dùng với got ở phía sau.</span></strong></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:16px">Eg</span></span></p>
    <ul>
        <li><span style="color:#000000"><em><span
                style="font-size:16px">Did you have a letter from home? (= receive)<br/>  	<em>Anh có nhận bức thư từ nhà không? (= Nhận được)</em></span></em></span>
        </li>
        <li><span style="color:#000000"><em><span style="font-size:16px">I don’t have much difficulty with English grammar (= find, experience)<br/>  	<em>Tôi không gặp nhiều khó khăn với ngữ pháp tiếng Anh (= tìm, kinh nghiệm)</em></span></em></span>
        </li>
    </ul>
    <p><span style="color:#000000"><span style="font-size:16px"> => Với cách sử dụng này "HAVE" thường diễn tả một hành động có tính chất của một thói quen, một sự lặp đi lặp lại nhiều lần. Hãy so sánh hai câu sau:</span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:16px">Eg:</span></span></p>
    <ul>
        <li><em><span style="font-size:16px">He has a walk in the garden.<br/>  	<span style="color:#008000">(Ông ta đi dạo trong vườn)</span></span></em>
        </li>
        <li><span style="color:#000000"><span style="font-size:16px"><em>He walks in the garden.</em></span></span><br/>
            <span style="color:#008000"><span style="font-size:16px"><em>(Ông ta bước đi trong vườn)</em></span></span>
        </li>
    </ul>
    <p><strong><span style="color:#ffa500"><span style="font-size:16px">D. HAVE có thể được dùng trong thể nguyên nhân. Cách sử dụng này cho biết ai đã gây nên một hành động nào. Bao gồm 2 cấu trúc:</span></span></strong>
    </p>
    <p><span style="font-size:16px"><span style="color:#000000">- Active</span><strong><span style="color:#000000">: S + (have) + O1 + V + O2</span></strong><br/>  <span
            style="color:#000000">- Passive:</span><strong><span style="color:#000000"> S + (have) + O2 + past participle (by O1)</span></strong></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:16px">Eg:</span></span></p>
    <ul>
        <li><span style="color:#000000"><span
                style="font-size:16px"><em>They had Cuong clean the floor.</em></span></span><br/> <span
                style="color:#008000"><span
                style="font-size:16px"><em><em>(Họ bảo Cường lau nhà)</em></em></span></span></li>
        <li><span style="color:#000000"><span style="font-size:16px"><em>We have just had our house painted.</em></span></span><br/>
            <span style="color:#008000"><span style="font-size:16px"><em><em>(Chúng tôi vừa cho người sơn căn nhà của chúng tôi)</em></em></span></span>
        </li>
        <li><span style="color:#000000"><span
                style="font-size:16px"><em>Why don’t you have your hair cut?</em></span></span><br/> <span
                style="color:#008000"><span
                style="font-size:16px"><em><em>(Tại sao anh không đi hớt tóc)</em></em></span></span></li>
    </ul>
    <p><span style="color:#000000"><span style="font-size:16px">=> Trong hầu hết các trường hợp này HAVE có thể được thay thế bởi "get"</span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:16px">Eg:</span></span></p>
    <ul>
        <li><span style="color:#000000"><span
                style="font-size:16px"><em>Why don’t you get your hair cut? </em></span></span><span
                style="color:#008000"><span style="font-size:16px"><em>(Tại sao bạn không cắt tóc?)</em></span></span>
        </li>
        <li><span style="color:#000000"><span style="font-size:16px"><em>They got the floor cleaned. </em></span></span><span
                style="color:#008000"><span style="font-size:16px"><em>(Họ đã lau sàn.)</em></span></span></li>
    </ul>
    <p><span style="color:#ffa500"><strong><span style="font-size:16px">E. HAVE TO (phải, cần phải) dùng diển tả một sự cần thiết, sự cưỡng bách, bắt buộc. Trường hợp này "have" cũng có thể dùng với got ở phía sau</span></strong></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:16px">Eg</span></span></p>
    <ul>
        <li><em><span style="color:#000000"><span style="font-size:16px">I missed the bus, so I had to walk to the office. </span></span><span
                style="color:#008000"><span style="font-size:16px">(Tôi lỡ chuyến xe bus, vì vậy tôi phải đi bộ tới văn phòng.)</span></span></em>
        </li>
        <li><em><span style="color:#000000"><span
                style="font-size:16px">You’ve got to work hard to make a living. </span></span><span
                style="color:#008000"><span
                style="font-size:16px">(Bạn phải làm việc chăm chỉ để kiếm sống.)</span></span></em></li>
    </ul>
    <p><span style="color:#ffa500"><span style="font-size:16px"><strong>F. HAVE TO được dùng thay cho MUST ở các thì mà MUST không có.</strong></span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:16px">Eg:</span></span></p>
    <ul>
        <li><span style="color:#000000"><span style="font-size:16px"><em>You will have to leave for work early in the morning. </em></span></span><span
                style="color:#008000"><span style="font-size:16px"><em>(Bạn sẽ phải nghỉ việc vào sáng sớm.)</em></span></span>
        </li>
        <li><span style="color:#000000"><span style="font-size:16px"><em>We had to answer all the questions in the examination. </em></span></span><span
                style="color:#008000"><span style="font-size:16px"><em>(Chúng tôi phải trả lời tất cả các câu hỏi trong kỳ kiểm tra.)</em></span></span>
        </li>
    </ul>
    <p><span style="color:#0099ff"><span style="font-size:16px"><strong>V. Trợ động từ DO</strong></span></span></p>
    <p><span style="color:#000000"><span style="font-size:16px">DO có thể là:</span></span></p>
    <p><span style="color:#ffa500"><span style="font-size:16px"><strong>- Một động từ thường:</strong></span></span></p>
    <p><span style="color:#000000"><span style="font-size:16px">Eg:</span></span></p>
    <ul>
        <li><em><span style="color:#000000"><span style="font-size:16px">He does his work well.</span></span><span
                style="color:#008000"><span style="font-size:16px"> (Anh ấy làm việc tốt.)</span></span></em></li>
    </ul>
    <p><span style="color:#ffa500"><span style="font-size:16px"><strong>- Một trợ động từ. </strong></span></span></p>
    <p><span style="color:#000000"><span style="font-size:16px">+ Khi dùng làm trợ động từ, DO có những cách sử dụng sau đây:</span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:16px"><strong>a. Dùng để hình thành thể phủ định và thể nghi vấn cho các động từ thường</strong></span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:16px">Eg</span></span></p>
    <ul>
        <li><em><span style="color:#000000"><span style="font-size:16px">She doesn’t like swimming. </span></span><span
                style="color:#008000"><span style="font-size:16px">(Cô ấy không thích bơi lội)</span></span></em></li>
        <li><span style="color:#000000"><span
                style="font-size:16px"><em>Don’t sit on that chair! </em></span></span><span style="color:#008000"><span
                style="font-size:16px"><em>(Đừng ngồi trên ghế!)</em></span></span></li>
    </ul>
    <p><span style="color:#000000"><span style="font-size:16px"><strong>b. Dùng để hình thành câu hỏi đuôi khi động từ trong câu chính là một động từ thường</strong></span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:16px">Eg:</span></span></p>
    <ul>
        <li><span style="color:#000000"><span
                style="font-size:16px"><em>They stayed in that hotel, didn’t they? </em></span></span><span
                style="color:#008000"><span style="font-size:16px"><em>(Họ ở trong khách sạn đó chứ?)</em></span></span>
        </li>
        <li><span style="color:#000000"><span
                style="font-size:16px"><em>Uyen doesn't clean the floor, does she? </em></span></span><span
                style="color:#008000"><span
                style="font-size:16px"><em>(Uyên không lau sàn, phải không?)</em></span></span></li>
    </ul>
    <p><strong><span style="color:#000000"><span style="font-size:16px">C. Dùng để tránh lập lại động từ chính khi động từ chính là một loại động từ thường trong câu trả lời ngắn</span></span></strong>
    </p>
    <p><span style="color:#000000"><span style="font-size:16px">Eg:</span></span></p>
    <ul>
        <li><em><span style="color:#000000"><span style="font-size:16px">David likes swimming. - So do I. </span></span><span
                style="color:#008000"><span style="font-size:16px">(David thích bơi lội. - Tôi cũng thế.)</span></span></em>
        </li>
        <li><em><span style="color:#000000"><span style="font-size:16px">Did they go to London? - Yes, they did. </span></span><span
                style="color:#008000"><span
                style="font-size:16px">(Họ đi đến London? - Vâng, họ đã đi.)</span></span></em></li>
    </ul>
    <p><strong><span style="color:#000000"><span style="font-size:16px">d. Dùng để hình thành hình thức nhấn mạnh</span></span></strong>
    </p>
    <p><span style="color:#000000"><span style="font-size:16px">Eg</span></span></p>
    <ul>
        <li><em><span style="color:#000000"><span style="font-size:16px">You did make me surprised. </span></span><span
                style="color:#008000"><span style="font-size:16px">(Bạn làm tôi ngạc nhiên.)</span></span></em></li>
        <li><em><span style="color:#000000"><span
                style="font-size:16px">He does write his name on the board. </span></span><span
                style="color:#008000"><span style="font-size:16px">(Anh ta viết tên mình lên bảng.)</span></span></em>
        </li>
    </ul>
</div>