<meta charset="UTF-8">
<div class="item-active" id="item-1">
    <div class="item-title-active">
        <div class="item-title-active-content">I. ĐỊNH NGHĨA
        </div>

    </div>
    <div class="item-active-content">
        <p><span><span><span
        ><strong>Thì tương hoàn thành tiếp diễn</strong>&nbsp;(Future perfect continuous tense) </span>dùng để diễn tả một hành động đã đang xảy ra cho tới 1 thời điểm trong tương lai</span></span>
        </p>
    </div>
</div>
<div class="item-active" id="item-2">
    <div class="item-title-active">
        <div class="item-title-active-content">II. CẤU TRÚC
        </div>

    </div>
    <div class="item-active-content">
        <p><span style="color:#ffa500"><strong><span>1. Khẳng định:</span></strong></span></p>

        <p><strong><span><span>- Cấu trúc</span></span></strong></p>

        <p style="text-align:center"><span style="color:#66cc00"><span style="font-size:20px"><strong>S + will + have + been +V-ing</strong></span></span>
        </p>
        <p><span><span><strong>- Trong đó:</strong></span></span></p>
        <p><em><span><span>&nbsp;&nbsp;+ S (subject): Chủ ngữ</span></span></em></p>
        <p><em><span><span>&nbsp;&nbsp;+ will/ have: trợ động từ</span></span></em></p>
        <p><em><span><span>&nbsp;&nbsp;+ been: dạng phân từ hai của động từ “to be”</span></span></em></p>
        <p><em><span><span>&nbsp;&nbsp;+ V-ing: Động từ thêm đuôi “-ing”</span></span></em>
        </p>
        <p><strong><span><span>- Eg:</span></span></strong></p>

        <p><em><span><span>&nbsp;&nbsp;+ We <u><strong>will have been living</strong></u> in this house for 15 years by next month. </span><span
                style="color:#008000">(Chúng tôi sẽ&nbsp;sống được 15 năm ở căn nhà này cho đến cuối tháng)</span></span></em>
        </p>
        <p><em><span><span>&nbsp;&nbsp;+ They <u><strong>will have been getting</strong></u> married for 2 years by the end of this year. </span><span
                style="color:#008000">(Bọn họ sẽ kết hôn được 2 năm tính đến tuần sau)</span></span></em></p>

        <p><span style="color:#ffa500"><strong><span>2. Phủ định:</span></strong></span></p>

        <p><span><span><strong>- Cấu trúc</strong></span></span></p>

        <p style="text-align:center"><span style="color:#66cc00"><span style="font-size:20px"><strong>S + will not/ won’t + have + been + V-ing</strong></span></span>
        </p>

        <p><span><span><strong>- Lưu ý:&nbsp;</strong></span></span></p>

        <p><em><span><span>&nbsp;&nbsp;+ will not = won’t</span></span></em></p>

        <p>
            <span><span>=&gt; Câu phủ định của thì tương lai hoàn thành tiếp diễn ta chỉ việc thêm “not” ngay sau “will”.</span></span>
        </p>

        <p><strong><span><span>- Eg:</span></span></strong></p>

        <p><em><span><span>&nbsp;&nbsp;+ We <u><strong>won’t have been living</strong></u> in that house for 10 years by next month.&nbsp;</span><span
                style="color:#008000">(Chúng tôi sẽ không sống được 10 năm ở căn nhà đó tính đến tháng sau)</span></span></em>
        </p>
        <p><em><span><span>&nbsp;&nbsp;+ I <u><strong>won’t have been travelling</strong></u> to New York for 3 years by the end of October.&nbsp;</span><span
                style="color:#008000">(Tôi sẽ không du lịch đến New York khoảng 3 năm đến cuối tháng mười một)</span></span></em>
        </p>

        <p><span style="color:#ffa500"><strong><span>3. Câu hỏi:</span></strong></span></p>

        <p><strong><span><span>- Cấu trúc</span></span></strong></p>

        <p style="text-align:center"><span style="color:#66cc00"><strong><span style="font-size:20px">Will + S + have + been + V-ing?</span></strong></span>
        </p>

        <p><span><span><strong>- Trả lời:</strong></span></span></p>
        <p><span><span>&nbsp;&nbsp;&nbsp;+ <em>Yes, S + will./ No, S + won’t.</em></span></span></p>
        <p><span><span>=&gt; Câu hỏi của thì tương lai hoàn thành ta chỉ việc đảo will lên trước chủ ngữ.</span></span>
        </p>

        <p><strong><span><span>- Eg:</span></span></strong></p>

        <p><span><span><em>&nbsp;&nbsp;+ <u><strong>Will</strong></u> you <u><strong>have been living</strong></u> in this country for 3 months by the end of this week?</em></span><br>
	<span style="color:#008000"><span><em>(Bạn sẽ sống ở đất nước này được khoảng 3 tháng tính đến cuối tuần này ư?)</em></span></span><br>
	<span><span><span><span
    ><span><em>Yes, I will./ No, I won’t.</em></span></span></span></span></span></span>
        </p>
    </div>
</div>
<div class="item-active" id="item-3">
    <div class="item-title-active">
        <div class="item-title-active-content">III. CÁCH SỬ DỤNG
        </div>

    </div>
    <div class="item-active-content">
        <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
            <tbody>
            <tr>
                <td style="text-align:center"><span style="color:#ffa500"><span
                ><strong>Cách Sử Dụng</strong></span></span></td>
                <td style="text-align:center">
                    <p><span style="color:#ffa500"><span><strong>Ví Dụ</strong></span></span></p>
                </td>
            </tr>
            <tr>
                <td><span><span>- Diễn tả một hành động xảy ra và kéo dài liên tục đến một thời điểm nào đó trong tương lai</span></span>
                </td>
                <td>
                    <p><em><span><span>&nbsp;&nbsp;+ I <u><strong>will have been studying</strong></u> English for 12 year by the end of next month</span><br>
				<span style="color:#008000">(Tôi sẽ học tiếng Anh được 12 năm tính đến thời điểm cuối tháng sau)</span></span></em>
                    </p>
                    <p>&nbsp;&nbsp;+ <em><span><span>By April 30th, <u><strong>I will have been working</strong></u> for this company for 21 years</span><br>
				<span style="color:#008000">(Đến ngày 30 tháng Tư, tôi sẽ làm việc cho công ty này được 21 năm rồi)</span></span></em>
                    </p>
                </td>
            </tr>
            <tr>
                <td><span><span>- Dùng để nhấn mạnh tính liên tục của hành động so với một hành động khác trong tương lai</span></span>
                </td>
                <td>
                    <p>&nbsp;</p>

                    <p>&nbsp;&nbsp;+ <em><span><span>When I get my degree, <u><strong>I will have been studying</strong></u> at Cambridge for four years. </span><br>
				<span style="color:#008000">(Tính đến khi tôi lấy bằng thì tôi sẽ học ở Cambridge được 4 năm.)</span></span></em>
                    </p>
                    <p>&nbsp;&nbsp;+ <em><span><span>They <u><strong>will have been talking</strong></u> with each other for an hour by the time I get home.</span><br>
				<span style="color:#008000">(Đến lúc tôi về đến nhà thì họ sẽ nói chuyện với nhau được một giờ rồi.)</span></span></em>
                    </p>

                    <p>&nbsp;</p>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="item-active" id="item-4">
    <div class="item-title-active">
        <div class="item-title-active-content">IV.&nbsp;DẤU HIỆU NHẬN BIẾT
        </div>

    </div>
    <div class="item-active-content">
        <p><span style="color:#ffa500"><span><strong>Trong câu có các cụm từ sau:</strong></span></span>
        </p>

        <p><em><span><span>&nbsp;&nbsp;+ By then: tính đến lúc đó</span></span></em></p>
        <p><em><span><span>&nbsp;&nbsp;+ By this October,…: tính đến tháng 10 năm nay</span></span></em>
        </p>
        <p>
            <em><span><span>&nbsp;&nbsp;+ By the end of this week/month/year: tính đến cuối tuần này/tháng này/năm nay</span></span></em>
        </p>
        <p><em><span><span>&nbsp;&nbsp;+ By the time + 1 mệnh đề ở thì hiện tại đơn​</span></span></em>
        </p>
    </div>
</div>
