<meta charset="UTF-8">
<div class="first-content">
    <p style="text-align:center"> </p>
    <p><span style="color:#0099ff"><strong><span
            style="font-size:16px">I. KHÁI QUÁT VỀ NỘI ĐỘNG TỪ VÀ NGOẠI ĐỘNG TỪ</span></strong></span></p>
    <p><span style="color:#ffa500"><span
            style="font-size:16px"><strong>1. Nội động từ ( Intransitive Verb ) </strong></span></span></p></div>
<div class="last-content"><p><span style="color:#000000"><span style="font-size:16px"><strong>- Nội động từ</strong> diễn tả hành động của chủ thể không tác động trực tiếp lên bất kỳ đối tượng nào, không có hoặc không cần Bổ ngữ trực tiếp để tạo thành 1 câu có nghĩa.</span></span>
</p>
    <p><span style="color:#000000"><span style="font-size:16px">- Nội động từ thường là những Động từ chỉ hành động như: Arrive, Go, Lie, Sneeze, Sit, Die, Run, etc.</span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:16px">+ Eg:</span></span></p>
    <ul>
        <li><em><span style="color:#000000"><span
                style="font-size:16px">I want to <u><strong>sit</strong></u> here. </span></span><span
                style="color:#008000"><span style="font-size:16px">(Tôi muốn ngồi đây.)</span></span><br/> <span
                style="color:#000000"><span style="font-size:16px">​=> Trong câu này, “I” là chủ thể, “sit” là nội động từ, đằng sau “sit” không có đối tượng nào bị tác động lên.</span></span></em>
        </li>
        <li><em><span style="color:#000000"><span style="font-size:16px">She <u><strong>went</strong></u> to the zoo yesterday. </span></span><span
                style="color:#008000"><span
                style="font-size:16px">(Cô ấy đi đến sở thú ngày hôm qua.)</span></span><br/> <span
                style="color:#000000"><span style="font-size:16px">=> “She” là chủ thể của hành động, “went” là động từ, sau “went” không có đối tượng bị tác động lên.</span></span></em>
        </li>
    </ul>
    <p> </p>
    <p><span style="color:#ffa500"><strong><span
            style="font-size:16px">2. Ngoại động từ ( Transitive Verb )</span></strong></span></p>
    <p><span style="color:#000000; font-size:16px">- </span><span style="font-size:16px"><span
            style="font-family:arial,helvetica,sans-serif"><strong>Ngoại động từ</strong></span></span><span
            style="color:#000000; font-size:16px"> chỉ các hành động chủ thể tác động đến một đối tượng khác. Ngoại động từ không đi một mình mà phải đi kèm theo một bổ ngữ trực tiếp để thành một câu có nghĩa.</span>
    </p>
    <p><span style="color:#000000"><span style="font-size:16px">- Một số ngoại động từ: Buy, make, give, send,...</span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:16px">- Examples:</span></span></p>
    <ul>
        <li><em><span style="color:#000000"><span style="font-size:16px">My father <u><strong>bought</strong></u> a car. </span></span><span
                style="color:#008000"><span style="font-size:16px">Bố tôi mua một chiếc xe hơi.</span></span><br/> <span
                style="color:#000000"><span style="font-size:16px">=> “My father” là chủ thể của hành động “bought”, sau ngoại động từ “bought” là đối tượng bị tác động đến “car” (mua cái gì – mua xe hơi)</span></span></em>
        </li>
        <li><em><span style="color:#000000"><span style="font-size:16px">He has <u><strong>sent</strong></u> a letter to them. </span></span><span
                style="color:#008000"><span
                style="font-size:16px">(Anh ấy vừa gửi một bức thư tới họ.)</span></span><br/> <span
                style="color:#000000"><span style="font-size:16px">=> “He” là chủ thể của hành động “sent”, sau ngoại động từ “sent” là đối tượng được tác động: “a letter” (gửi cái gì – gửi thư)</span></span></em>
        </li>
    </ul>
    <p><span style="color:#0099ff"><strong><span
            style="font-size:16px">II. PHÂN BIỆT GIỮA NỘI ĐỘNG TỪ VÀ NGOẠI ĐỘNG TỪ</span></strong></span></p>
    <p><span style="color:#000000"><span style="font-size:16px">Một số động từ có thể làm nội động từ trong câu này và làm ngoại động từ trong câu khác, nghĩa của chúng có thể thay đổi.</span></span>
    </p>
    <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
        <tbody>
        <tr>
            <td style="text-align:center"><span style="color:#ffa500"><strong><span
                    style="font-size:16px">Nội Động Từ</span></strong></span></td>
            <td style="text-align:center"><span style="color:#ffa500"><strong><span
                    style="font-size:16px">Ngoại Động Từ</span></strong></span></td>
        </tr>
        <tr>
            <td>
                <ul>
                    <li><span style="color:#000000"><span
                            style="font-size:16px"><em>The door <strong><u>openned</u></strong>. (Cửa đã mở)</em></span></span>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li><em><span style="color:#000000"><span style="font-size:16px">She <u><strong>opened</strong></u> the door. </span></span><span
                            style="color:#008000"><span style="font-size:16px">(Cô ấy mở cửa) </span></span></em></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul>
                    <li><span style="color:#000000"><span style="font-size:16px"><em>The bus <u><strong>stopped</strong></u>. (Chiếc xe buýt dừng lại)</em></span></span>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li><span style="color:#000000"><span
                            style="font-size:16px"><em>The driver <u><strong>stopped</strong></u> the bus. </em></span></span><br/>
                        <span style="color:#008000"><span
                                style="font-size:16px"><em>(Tài xế dừng xe buýt lại)</em></span></span></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul>
                    <li><span style="color:#000000"><span style="font-size:16px"><em>The bell <u><strong>rings</strong></u>. (Chuông reo)</em></span></span>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li><span style="color:#000000"><span style="font-size:16px"><em>He <u><strong>rings</strong></u> the bells. </em></span></span><br/>
                        <span style="color:#008000"><span
                                style="font-size:16px"><em>(Anh ấy rung chuông)</em></span></span></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul>
                    <li><span style="color:#000000"><span style="font-size:16px"><em>The glass <u><strong>broke</strong></u>. (Cốc bị vỡ)</em></span></span>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li><span style="color:#000000"><span
                            style="font-size:16px"><em>The boy <u><strong>broke</strong></u><strong> </strong>the glass. </em></span></span><br/>
                        <span style="color:#008000"><span
                                style="font-size:16px"><em>(Cậu bé làm vỡ cốc)</em></span></span></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul>
                    <li><em><span style="color:#000000"><span
                            style="font-size:16px">Flowers <u><strong>grow</strong></u> in their garden. (Hoa mọc ở trong vườn).</span></span></em>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li><span style="color:#000000"><span style="font-size:16px"><em>They <u><strong>grow</strong></u> flowers in the garden. </em></span></span><br/>
                        <span style="color:#008000"><span
                                style="font-size:16px"><em>(Họ trồng hoa trong vườn).</em></span></span></li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
    <p><span style="color:#000000"><span style="font-size:16px">- Rất nhiều các động từ có thể đồng thời là Nội động từ và Ngoại động từ như những ví dụ trên. Tuy nhiên cũng có một số ít động từ chỉ là Nội động từ như: <em>arrive, go, lie, sneeze, sit, and die</em>, những động từ này không thể có Bổ ngữ trực tiếp đi sau được. Một số ít động từ chỉ có thể là Ngoại động từ (bắt buộc phải có bổ ngữ trực tiếp đi theo) như: <em>make; buy…</em></span></span>
    </p>
</div>