<meta charset="UTF-8">
<div class="first-content">
    <p><span style="color:#0099ff"><strong><span
            style="font-size:16px">I. KHÁI QUÁT VỀ CÂU HỎI ĐUÔI</span></strong></span></p></div>
<div class="last-content"><p><span style="color:#000000"><span style="font-size:16px"><strong>Câu hỏi đuôi</strong> (Question tag) là một dạng câu hỏi rất thông dụng trong tiếng Anh. Mặc dù câu trả lời cho câu hỏi đuôi cũng giống như câu trả lời cho câu hỏi YES-NO, nhưng câu hỏi đuôi có sắc thái ý nghĩa riêng biệt.</span></span>
</p>
    <p><span style="color:#000000"><span style="font-size:16px">- Câu hỏi đuôi được thành lập sau một câu nói khẳng định hoặc phủ định, được ngăn cách bằng dấu phẩy (,) vì vậy người đặt câu hỏi đã có thông tin về câu trả lời. Tuy nhiên, thường thì người hỏi không chắc chắn lắm về thông tin này. Nếu người hỏi chắc chắn, tự tin rằng mình đã có thông tin về câu trả lời nhưng vẫn hỏi thì khi chấm dứt câu hỏi đuôi, người hỏi sẽ lên giọng.</span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:16px">- Câu hỏi đuôi là một câu hỏi ngắn được thêm vào cuối câu trần thuật</span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:16px">+ Eg:</span></span></p>
    <ul>
        <li><em><span style="color:#000000"><span style="font-size:16px">It's lovely day, isn't it? </span></span><span
                style="color:#008000"><span style="font-size:16px">(Đó là ngày đáng yêu, phải không?)</span></span></em>
        </li>
    </ul>
    <p><span style="color:#0099ff"><strong><span style="font-size:16px">II. NGUYÊN TẮC CHUNG KHI LẬP CÂU HỎI ĐUÔI</span></strong></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:16px">- Nếu câu nói trước dấu phẩy là câu khẳng định, câu hỏi đuôi phải ở thể phủ định.</span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:16px">- Nếu câu nói trước dấu phẩy là câu phủ định, câu hỏi đuôi phải ở thể khẳng định </span></span>
    </p>
    <p><span style="color:#0099ff"><strong><span
            style="font-size:16px">III. CẤU TẠO CHUNG CỦA CÂU HỎI ĐUÔI</span></strong></span></p>
    <p><span style="color:#000000"><span style="font-size:16px">Câu hỏi đuôi gồm một trợ động từ tương ứng với thì được dùng trong câu nói trước dấu phầy, có NOT hoặc không có NOT và một đại từ nhân xưng tương ứng với chủ ngữ của câu nói trước dấu phẩy.</span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:16px">Eg:</span></span></p>
    <ul>
        <li><span style="color:#000000"><span
                style="font-size:16px"><em>She is tall, isn't she? </em></span></span><span style="color:#008000"><span
                style="font-size:16px"><em>(Cô ấy cao, phải không?)</em></span></span></li>
        <li><span style="color:#000000"><span
                style="font-size:16px"><em>He has closed the window, hasn't he? </em></span></span><span
                style="color:#008000"><span style="font-size:16px"><em>(Anh ta đã đóng cửa sổ, đúng không?)</em></span></span>
        </li>
        <li><span style="color:#000000"><span
                style="font-size:16px"><em>Your mother was born in Dalat, wasn't she? </em></span></span><span
                style="color:#008000"><span
                style="font-size:16px"><em>(Mẹ của bạn sinh ra ở Đà Lạt, phải không?)</em></span></span></li>
    </ul>
    <p><span style="color:#0099ff"><strong><span style="font-size:16px">IV. CÁCH THÀNH LẬP CÂU HỎI ĐUÔI CHO TẤT CẢ CÁC THÌ ĐÃ HỌC</span></strong></span>
    </p>
    <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
        <tbody>
        <tr>
            <td style="text-align:center"><span style="color:#FFA500"><span style="font-size:16px"><strong>Cách thành lập</strong></span></span>
            </td>
            <td style="text-align:center"><span style="color:#FFA500"><span
                    style="font-size:16px"><strong>Ví dụ</strong></span></span></td>
        </tr>
        <tr>
            <td><span style="color:#000000"><span style="font-size:16px">- Hiện tại đơn với TO BE</span></span></td>
            <td>
                <ul>
                    <li><span style="color:#000000"><span
                            style="font-size:16px"><em>He is handsome, isn't he? </em></span></span><span
                            style="color:#008000"><span
                            style="font-size:16px"><em>(Anh ấy đẹp trai, đúng không?)</em></span></span></li>
                    <li><span style="color:#000000"><span
                            style="font-size:16px"><em>You are Worried, aren't you? = </em></span></span><span
                            style="color:#008000"><span
                            style="font-size:16px"><em>Bạn đang lo lắng, phải không? </em></span></span></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td><span style="color:#000000"><span style="font-size:16px">- Hiện tại đơn động từ thường: mượn trợ động từ DO hoặc DOES tùy theo chủ ngữ</span></span>
            </td>
            <td>
                <ul>
                    <li><em><span style="color:#000000"><span
                            style="font-size:16px">They like me, don't they? </span></span><br/> <span
                            style="color:#008000"><span style="font-size:16px">(Họ giống tôi, đúng không?)</span></span></em>
                    </li>
                    <li><em><span style="color:#000000"><span style="font-size:16px">She loves you, doesn't she? </span></span><br/>
                        <span style="color:#008000"><span
                                style="font-size:16px">(Cô ấy thích bạn, phải không?)</span></span></em></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td><span style="color:#000000"><span style="font-size:16px">- Thì quá khứ đơn với động từ thường: mượn trợ động từ DID, quá khứđơn với TO BE: WAS hoặc WERE</span></span>
            </td>
            <td>
                <ul>
                    <li><em><span style="color:#000000"><span style="font-size:16px">You lied to me, didn't you? </span></span><br/>
                        <span style="color:#008000"><span
                                style="font-size:16px">(Bạn đã lừa dối tôi, phải không?)</span></span></em></li>
                    <li><em><span style="color:#000000"><span
                            style="font-size:16px">He didn't come here, did he? </span></span><br/> <span
                            style="color:#008000"><span
                            style="font-size:16px">(Anh ấy đã không đến đây, phải không?)</span></span></em></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td><span style="color:#000000"><span style="font-size:16px">- Thì hiện tại hoàn thành hoặc hiện tại hoàn thành tiếp diễn: mượn trợ động từ HAVE hoặc HAS</span></span>
            </td>
            <td>
                <ul>
                    <li><em><span style="color:#000000"><span
                            style="font-size:16px">They have left, haven't they? </span></span><br/> <span
                            style="color:#008000"><span style="font-size:16px">(Họ đã bỏ đi, phải không?)</span></span></em>
                    </li>
                    <li><em><span style="color:#000000"><span
                            style="font-size:16px">The rain has stopped, hasn't it? </span></span><br/> <span
                            style="color:#008000"><span
                            style="font-size:16px">(Mưa đã tạnh rồi, đúng không?)</span></span></em></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td><span style="color:#000000"><span style="font-size:16px">- Thì quá khứ hoàn thành hoặc quá khứ hoàn thành tiếp diễn: mượn trợ động từ HAD</span></span>
            </td>
            <td>
                <ul>
                    <li><span style="color:#000000"><span
                            style="font-size:16px"><em>He hadn't met you before, had he? </em></span></span><br/> <span
                            style="color:#008000"><span style="font-size:16px"><em>(Anh ấy đã chưa gặp bạn trước đây, phải không?)</em></span></span>
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td><span style="color:#000000"><span style="font-size:16px">- Thì tương lai đơn</span></span></td>
            <td>
                <ul>
                    <li><em><span style="color:#000000"><span
                            style="font-size:16px">It will rain, won't it? </span></span><br/> <span
                            style="color:#008000"><span style="font-size:16px">(Trời sẽ mưa, đúng không?)</span></span></em>
                    </li>
                    <li><em><span style="color:#000000"><span style="font-size:16px">Your girlfriend will come to the party, won't she? </span></span><br/>
                        <span style="color:#008000"><span style="font-size:16px">(Bạn gái của bạn sẽ đến bên, phải không?)</span></span></em>
                    </li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
    <p><span style="color:#0099ff"><strong><span style="font-size:16px">V. NHỮNG DẠNG ĐẶC BIỆT CẦN LƯU Ý</span></strong></span>
    </p>
    <p><span style="color:#FFA500"><strong><span style="font-size:16px">1) Vế đầu là I  WISH:</span></strong></span></p>
    <p><span style="color:#000000"><strong><span
            style="font-size:16px">- Dùng MAY trong câu hỏi đuôi.</span></strong></span></p>
    <ul>
        <li><em><span style="color:#000000"><span
                style="font-size:16px">Eg: I wish to study English, may I? </span></span><span
                style="color:#008000"><span
                style="font-size:16px">Tôi muốn học tiếng Anh, được không?</span></span></em></li>
    </ul>
    <p><span style="color:#FFA500"><strong><span style="font-size:16px">2) Chủ từ là ONE:</span></strong></span></p>
    <p><strong><span style="color:#000000"><span style="font-size:16px">- Dùng you hoặc one</span></span></strong></p>
    <ul>
        <li><em><span style="color:#000000"><span
                style="font-size:16px">Eg: One can be one's master, can't you/one? </span></span><span
                style="color:#008000"><span
                style="font-size:16px">(Một người có thể là thầy của một người, đúng không?)</span></span></em></li>
    </ul>
    <p><span style="color:#FFA500"><strong><span style="font-size:16px">3) Mệnh đề chính có MUST:</span></strong></span>
    </p>
    <p><strong><span style="color:#000000"><span style="font-size:16px">- Must có nhiều cách dùng cho nên tùy theo cách dùng mà sẽ có câu hỏi đuôi khác nhau</span></span></strong>
    </p>
    <p><span style="color:#000000"><span
            style="font-size:16px"><strong>- Must chỉ sự cần thiết: => dùng needn't </strong></span></span></p>
    <ul>
        <li><span style="color:#000000"><em><span style="font-size:16px">Eg: They must study hard, needn't they? </span></em></span><span
                style="color:#008000"><em><span
                style="font-size:16px">(Họ phải học chăm chỉ, phải không?)</span></em></span></li>
    </ul>
    <p><span style="color:#000000"><span
            style="font-size:16px"><strong>- Must chỉ sự cấm đoán: => dùng must</strong></span></span></p>
    <ul>
        <li><span style="color:#000000"><em><span
                style="font-size:16px">Eg: You mustn't come late, must you? </span></em></span><span
                style="color:#008000"><em><span
                style="font-size:16px">(Bạn không được đến muộn, đúng không?)</span></em></span></li>
    </ul>
    <p><span style="color:#000000"><span style="font-size:16px"><strong>- Must chỉ sự dự đoán ở hiện tại: => dựa vào động từ theo sau must</strong></span></span>
    </p>
    <ul>
        <li><span style="color:#000000"><span style="font-size:16px"><em>Eg : He must be a very intelligent student, isn't he?  </em></span></span><span
                style="color:#008000"><span style="font-size:16px"><em>(Anh ta ắt hẳn là 1 học sinh rất thông minh, phải không?) </em></span></span>
        </li>
    </ul>
    <p><span style="color:#000000"><span style="font-size:16px">-<strong> Must chỉ sự dự đoán ở quá khứ (trong công thức must +have+ p.p): => dùng là have/has</strong></span></span>
    </p>
    <ul>
        <li><em><span style="color:#000000"><span
                style="font-size:16px">Eg: You must have stolen my bike, haven't you? </span></span><span
                style="color:#008000"><span
                style="font-size:16px">(Bạn chắc hẳn là đã lấy cắp xe của tôi, phải không?) </span></span></em></li>
    </ul>
    <p><span style="color:#FFA500"><strong><span
            style="font-size:16px">4) Let đầu câu: có nhiều dạng cần phân biệt:</span></strong></span></p>
    <p><span style="color:#000000"><span
            style="font-size:16px"><strong>- Let trong câu rủ (let's): dùng shall we?</strong></span></span></p>
    <ul>
        <li><span style="color:#000000"><span style="font-size:16px"><em>Eg: Let's go out, shall we? </em></span></span><span
                style="color:#008000"><span
                style="font-size:16px"><em>Chúng ta sẽ ra ngoài chơi, đúng không?</em></span></span></li>
    </ul>
    <p><span style="color:#000000"><span style="font-size:16px"><strong>- Let trong câu xin phép (let us/let me): dùng will you?</strong></span></span>
    </p>
    <ul>
        <li><em><span style="color:#000000"><span style="font-size:16px">Eg: Let us use the telephone, will you? </span></span><span
                style="color:#008000"><span style="font-size:16px">chúng tôi được sử dụng điện thoại, phải không?</span></span></em>
        </li>
    </ul>
    <p><span style="color:#000000"><span style="font-size:16px"><strong>- Let trong câu đề nghị giúp người khác (let me): dùng may I?</strong></span></span>
    </p>
    <ul>
        <li><span style="color:#000000"><span style="font-size:16px"><em>Eg: Let me help you do it, may I? </em></span></span><span
                style="color:#008000"><span
                style="font-size:16px"><em>Để tôi giúp bạn làm điều đó, được chứ?</em></span></span></li>
    </ul>
    <p><span style="color:#FFA500"><strong><span style="font-size:16px">5) Câu cảm thán:</span></strong></span></p>
    <p><span style="color:#000000"><span style="font-size:16px"><strong>- Lấy danh từ trong câu đổi thành đại từ, dùng is, am, are</strong><br/>  + Eg:</span></span>
    </p>
    <ul>
        <li> <span style="color:#000000"><span style="font-size:16px"><em>What a beautiful dress, isn't it? </em></span></span><span
                style="color:#008000"><span
                style="font-size:16px"><em>Thật là một bộ váy đẹp, đúng không?</em></span></span></li>
        <li><span style="color:#000000"><span
                style="font-size:16px"><em> What a stupid boy, isn't he? </em></span></span><span style="color:#008000"><span
                style="font-size:16px"><em>Thật là một đứa trẻ ngu ngốc, phải không?</em></span></span></li>
    </ul>
    <p><span style="color:#FFA500"><strong><span style="font-size:16px">6) Mệnh đề chính có I + các động từ sau: think, believe, suppose, figure, assume, fancy, imagine, reckon, expect, seem, - - feel + mệnh đề phụ:</span></strong></span>
    </p>
    <p><span style="color:#000000"><span
            style="font-size:16px"><strong>- Lấy mệnh đề phụ làm câu hỏi đuôi.</strong><br/>  + Eg:</span></span></p>
    <ul>
        <li><em><span style="color:#000000"><span
                style="font-size:16px">I think he will come here, won't he? </span></span><span
                style="color:#008000"><span style="font-size:16px">Tôi nghĩ anh ta sẽ đến đây, phải không?</span></span></em>
        </li>
        <li><span style="color:#000000"><span style="font-size:16px"><em>I don't believe Mary can do it, can she? </em></span></span><span
                style="color:#008000"><span style="font-size:16px"><em>(lưu ý MĐ chính có not thì vẫn tính như ở MĐ phụ) </em></span></span>
        </li>
    </ul>
    <p><span style="color:#000000"><span style="font-size:16px"><strong>- Cùng mẫu này nhưng nếu chủ từ không phải là I thì lại dùng vế đầu làm câu hỏi đuôi.</strong></span></span>
    </p>
    <ul>
        <li><span style="color:#000000"><span style="font-size:16px"><em>Eg: She thinks he will come, doesn't she? </em></span></span><span
                style="color:#008000"><span
                style="font-size:16px"><em>(Cô ấy nghĩ anh ta sẽ đến, phải không?)</em></span></span></li>
    </ul>
    <p><span style="color:#FFA500"><strong><span
            style="font-size:16px">7) It seems that + mệnh đề </span></strong></span></p>
    <p><span style="color:#000000"><span style="font-size:16px"><strong>- Lấy mệnh đề làm câu hỏi đuôi.</strong></span></span>
    </p>
    <ul>
        <li><em><span style="color:#000000"><span
                style="font-size:16px">Eg: It seems that you are right, aren't you? </span></span><span
                style="color:#008000"><span
                style="font-size:16px">(Có vẻ như bạn nói đúng, phải không?)</span></span></em></li>
    </ul>
    <p><span style="color:#FFA500"><strong><span
            style="font-size:16px">8) Chủ từ là mệnh đề danh từ:</span></strong></span></p>
    <p><strong><span style="color:#000000"><span style="font-size:16px">- Dùng it</span></span></strong></p>
    <ul>
        <li><em><span style="color:#000000"><span
                style="font-size:16px">Eg: What you have said is wrong, isn't it? </span></span><span
                style="color:#008000"><span style="font-size:16px">(Những gì bạn nói là sai, đúng không?)</span></span></em>
        </li>
    </ul>
</div>