<meta charset="UTF-8">
<div class="first-content">
    <p><span style="color:#0099ff"><strong><span
            style="font-size:16px">I. KHÁI QUÁT VỀ CÂU CẦU KHIẾN</span></strong></span></p></div>
<div class="last-content"><p><span style="color:#000000"><span style="font-size:16px"><strong>- Câu cầu khiến</strong> hay còn gọi là câu mệnh lệnh cách trong tiếng Anh, được sử dụng để đưa ra các mệnh lệnh (commands ), yêu cầu (requests), đề nghị (suggestions), cấm đoán hoặc cho phép hoặc bất kỳ hình thức thuyết phục ai đó làm một việc mình mong muốn.</span></span>
</p>
    <p><span style="color:#000000"><span style="font-size:16px">- Thể mệnh lệnh thường được bắt đầu bằng một động từ, chủ ngữ được ẩn đi nhưng nó ngầm đề cập đến ngội thứ 2 (You)</span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:16px">Eg:</span></span></p>
    <ul>
        <li><em><span style="color:#000000"><span
                style="font-size:16px">Watch out! ( Thể đầy đủ là You watch out)</span></span></em></li>
        <li><em><span style="color:#000000"><span
                style="font-size:16px">Get out! ( Thể đầy đủ là You get out )</span></span></em></li>
    </ul>
    <p><span style="color:#0099ff"><strong><span
            style="font-size:16px">II. CÁCH DÙNG CHỦ YẾU CỦA CÂU CẦU KHIẾN</span></strong></span></p>
    <p><span style="color:#FFA500"><strong><span style="font-size:16px">1. Sử dụng câu cầu khiến (câu mệnh lệnh) để đưa ra một chỉ thị trực tiếp</span></strong></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:16px">- Eg:</span></span></p>
    <ul>
        <li><span style="color:#000000"><span style="font-size:16px"><em> Stand up straight! </em></span></span><span
                style="color:#008000"><span style="font-size:16px"><em>(Đứng thẳng lên!)</em></span></span></li>
        <li><span style="color:#000000"><span style="font-size:16px"><em>Sit down, please! </em></span></span><span
                style="color:#008000"><span style="font-size:16px"><em>(Mời ngồi! )</em></span></span></li>
        <li><span style="color:#000000"><span
                style="font-size:16px"><em>Please give me more details! </em></span></span><span
                style="color:#008000"><span
                style="font-size:16px"><em>(Xin cho tôi biết thêm chi tiết!)</em></span></span></li>
        <li><span style="color:#000000"><span
                style="font-size:16px"><em>Please take that chewing gum out of your mouth! </em></span></span><span
                style="color:#008000"><span style="font-size:16px"><em>(Xin hãy nhả kẹo cao su đó ra khỏi miệng bạn đi! )</em></span></span>
        </li>
    </ul>
    <p><span style="color:#FFA500"><strong><span style="font-size:16px">2. Sử dụng câu cầu khiến (câu mệnh lệnh) để đưa ra một hướng dẫn</span></strong></span>
    </p>
    <ul>
        <li><span style="color:#000000"><span style="font-size:16px"><em>Open your book to Chapter 4 </em></span></span><span
                style="color:#008000"><span style="font-size:16px"><em>(Các em mở sách sang Chương 4)</em></span></span>
        </li>
        <li><span style="color:#000000"><span
                style="font-size:16px"><em>Take three tablets after dinner </em></span></span><span
                style="color:#008000"><span style="font-size:16px"><em>( Dùng ba viên sau bữa tối )</em></span></span>
        </li>
        <li><span style="color:#000000"><span
                style="font-size:16px"><em>Go straight and turn left at the corner </em></span></span><span
                style="color:#008000"><span
                style="font-size:16px"><em>( Đi thẳng và rẽ trái ở góc đường)</em></span></span></li>
    </ul>
    <p><span style="color:#FFA500"><strong><span style="font-size:16px">3. Sử dụng câu cầu khiến (câu mệnh lệnh) để đưa ra một lời mời</span></strong></span>
    </p>
    <ul>
        <li><span style="color:#000000"><span style="font-size:16px"><em>Come in and sit down, please! Make yourself at home. </em></span></span><span
                style="color:#008000"><span
                style="font-size:16px"><em>Mời vào và ngồi chơi nhé! Tự nhiên như ở nhà.</em></span></span></li>
        <li><span style="color:#000000"><span
                style="font-size:16px"><em>Come to our party at 9 p.m tonight. </em></span></span><span
                style="color:#008000"><span style="font-size:16px"><em>Hãy đến bữa tiệc của chúng tôi vào 9 giờ tối hôm nay.</em></span></span>
        </li>
    </ul>
    <p><span style="color:#FFA500"><strong><span style="font-size:16px">4. Sử dụng câu cầu khiến (câu mệnh lệnh) trên bảng hiệu và thông báo</span></strong></span>
    </p>
    <ul>
        <li><span style="color:#000000"><span style="font-size:16px"><em>No smoking </em></span></span><span
                style="color:#008000"><span style="font-size:16px"><em>( Xin đừng hút thuốc )</em></span></span></li>
        <li><span style="color:#000000"><span style="font-size:16px"><em>Push. </em></span></span><span
                style="color:#008000"><span style="font-size:16px"><em>(Đẩy)</em></span></span></li>
        <li><span style="color:#000000"><span style="font-size:16px"><em>Do not use this WC. </em></span></span><span
                style="color:#008000"><span style="font-size:16px"><em>(Không dùng nhà vệ sinh này )</em></span></span>
        </li>
    </ul>
    <p><span style="color:#FFA500"><strong><span style="font-size:16px">5. Sử dụng câu cầu khiến (câu mệnh lệnh) để đưa ra một lời khuyên thân mật</span></strong></span>
    </p>
    <ul>
        <li><span style="color:#000000"><span
                style="font-size:16px"><em>Speak to her. Tell her how you feel about her </em></span></span><span
                style="color:#008000"><span style="font-size:16px"><em>( Trò truyện với cô ấy. Nói cho cô ấy biết cảm nhận của bạn về cô ấy)</em></span></span>
        </li>
        <li><span style="color:#000000"><span
                style="font-size:16px"><em>Stay hungry, stay foolish </em></span></span><span
                style="color:#008000"><span style="font-size:16px"><em>(Hãy luôn khát khao, hãy cứ giải khờ)</em></span></span>
        </li>
    </ul>
    <p><span style="color:#FFA500"><strong><span style="font-size:16px">6. Chúng ta có thể làm câu cầu khiến (câu mệnh lệnh) trang trọng hoặc nghiêm trọng hơn bằng cách thêm trợ động từ "Do"</span></strong></span>
    </p>
    <ul>
        <li><em><span style="color:#000000"><span style="font-size:16px">Do be quiet </span></span><span
                style="color:#008000"><span style="font-size:16px">(Hãy yên lặng )</span></span></em></li>
        <li><em><span style="color:#000000"><span style="font-size:16px">Do come </span></span><span
                style="color:#008000"><span style="font-size:16px">( Hãy đến đây )</span></span></em></li>
        <li><em><span style="color:#000000"><span style="font-size:16px">Do sit down </span></span><span
                style="color:#008000"><span style="font-size:16px">( Hãy ngồi xuống )</span></span></em></li>
    </ul>
</div>