<meta charset="UTF-8">
<div class="first-content">
    <p><span style="font-size:14px"><span style="color:#0099ff"><strong>I. SO SÁNH BẰNG</strong></span></span></p></div>
<div class="last-content"><p><span style="font-size:14px"><span
        style="color:#66cc00"><strong>1. Định nghĩa</strong></span></span></p>
    <p><span style="font-size:14px"><span style="color:#000000">So sánh bằng chỉ ra quan hệ giống nhau (bằng nhau hoặc như nhau) của hai đối tượng và ngược lại nếu cấu trúc so sánh ở dạng phủ định.</span></span>
    </p>
    <p><span style="font-size:14px"><span style="color:#66cc00"><strong>2. Cấu Trúc As ... as</strong></span></span></p>
    <p><span style="font-size:14px"><span style="color:#ff8c00"><strong>- Đối với tính từ</strong></span></span></p>
    <p><span style="font-size:14px"><span
            style="color:#000000">Khẳng định (+) : <strong>S1 + V + as + adj + as + S2</strong><br/>  Phủ định (-) <strong>: S1 + V + not + so/as + adj + as + S2</strong></span></span>
    </p>
    <p><span style="font-size:14px"><span style="color:#000000">Eg:</span></span></p>
    <ul>
        <li><span style="font-size:14px"><em><span style="color:#000000">She is </span><u><span style="color:#ff3399">as beautiful as</span></u><span
                style="color:#000000"><span
                style="color:#ff3399"> </span>her sister. (Cô ấy xinh như chị mình.)</span></em></span></li>
    </ul>
    <p><span style="font-size:14px"><span style="color:#000000"><strong>Lưu ý</strong>:  Sau “as” thứ hai nhất thiết phải là đại từ tân ngữ, không dùng đại từ chủ ngữ. <em>(Lỗi cơ bản thường gặp)</em></span></span>
    </p>
    <p><span style="font-size:14px"><span style="color:#000000">Eg: </span></span></p>
    <ul>
        <li><span style="font-size:14px"><em><span style="color:#000000">He is as tall as </span><u><span
                style="color:#ff3399">I</span></u><span style="color:#000000">. (Sai)</span></em></span></li>
        <li><span style="font-size:14px"><em><span style="color:#000000">He is as tall as </span><u><span
                style="color:#ff3399">me</span></u><span style="color:#000000">. (Đúng)</span></em></span></li>
    </ul>
    <p><span style="font-size:14px"><span style="color:#000000">+ Danh từ cũng có thể dùng so sánh trong trường hợp này nhưng cần đảm bảo danh từ đó phải có tình từ tương đương.<br/>  + Nếu là câu phủ định, “as” thứ nhất có thể thay bằng “so”.</span></span>
    </p>
    <p><span style="font-size:14px"><span style="color:#000000">Eg:</span></span></p>
    <ul>
        <li><span style="font-size:14px"><em><span style="color:#000000"> Cuong is not </span><u><span
                style="color:#ff3399">so tall as</span></u><span style="color:#000000"> Thanh. (Cường không cao bằng Thanh)</span></em></span>
        </li>
    </ul>
    <p><span style="font-size:14px"><span style="color:#000000">+ Danh từ cũng có thể dùng để so sánh, nhưng cần phải xác định xem đó là danh từ đếm được hay không đếm được và sử dụng công thức sau:</span></span>
    </p>
    <p style="text-align:center"><span style="font-size:14px"><strong><span style="color:#000000">S1 + V + as + many/much/little/few + noun(s) + as + S2</span></strong></span>
    </p>
    <p><span style="font-size:14px"><span style="color:#000000">Eg:</span></span></p>
    <ul>
        <li><span style="font-size:14px"><em><span style="color:#000000">Long earns </span><u><span
                style="color:#ff3399">as much money as</span></u><span style="color:#000000"> his wife. (Long kiếm được nhiều tiền bằng vợ anh ấy.)</span></em></span>
        </li>
    </ul>
    <p><span style="font-size:14px"><span
            style="color:#ff8c00"><strong>- Đối với trạng từ (adv)</strong></span></span></p>
    <p><span style="font-size:14px"><span
            style="color:#000000">Khẳng định (+)<strong>: S1 + V + as + adv + as + S2</strong><br/>  Phủ định (-)<strong>: S1+ V + not + so/as + adv + as + S2</strong></span></span>
    </p>
    <p><span style="font-size:14px"><span style="color:#000000">Eg:</span></span></p>
    <ul>
        <li><span style="font-size:14px"><em><span style="color:#000000">She runs </span><u><span style="color:#ff3399">as quickly as</span></u><span
                style="color:#000000"> her brother. (Cô ấy chạy nhanh như anh mình.)</span></em></span></li>
    </ul>
    <p><span style="font-size:14px"><span style="color:#66cc00"><strong>3. Cấu trúc the same…as</strong></span></span>
    </p>
    <p style="text-align:center"><span style="font-size:14px"><strong><span style="color:#000000">S1 + V + the same + (noun) + as + S2</span></strong></span>
    </p>
    <p><span style="font-size:14px"><span style="color:#000000">Eg:</span></span></p>
    <ul>
        <li><span style="font-size:14px"><em><span style="color:#000000">Your house is </span><u><span
                style="color:#ff3399">the same height as</span></u><span style="color:#000000"> mine.<br/>  	<span
                style="color:#000000">Ngôi nhà của bạn có chiều cao bằng ngôi nhà của tôi.</span></span></em></span>
        </li>
    </ul>
    <p><span style="font-size:14px"><span style="color:#000000"><strong>Chú ý:</strong><br/>  + Trái nghĩa với “the same…as” là “different from…”, không dùng “different than…”</span></span>
    </p>
    <p><br/> <span style="font-size:14px"><span
            style="color:#0099ff"><strong>II. SO SÁNH HƠN, KÉM</strong></span></span></p>
    <p><span style="font-size:14px"><span style="color:#66cc00"><strong>1. So sánh hơn</strong></span></span></p>
    <p><span style="font-size:14px"><span style="color:#000000"><strong>- Đối với tính từ và trạng từ ngắn (Những từ có một âm tiết như <em>old, rich, big, cheap…</em>)</strong></span></span>
    </p>
    <p style="text-align:center"><span style="font-size:14px"><strong><span style="color:#000000">S1 + V + adj-er + than + S2</span></strong></span>
    </p>
    <p><span style="font-size:14px"><span style="color:#000000">Eg: </span></span></p>
    <ul>
        <li><span style="font-size:14px"><em><span style="color:#000000">He is </span><u><span style="color:#ff3399">older than</span></u><span
                style="color:#000000"> my father. (Ông ấy già hơn cả bố tôi.)</span></em></span></li>
    </ul>
    <p><span style="font-size:14px"><span style="color:#000000"><strong>Chú ý:</strong> Các tính từ có hai âm tiết nhưng tận cùng là “y, ow, er” thì ta vẫn coi là tính từ ngắn và theo cấu trúc như trên, Tuy nhiên, “y” phải đổi thành “i” sau đó mới thêm đuôi “-er”.</span></span>
    </p>
    <p><span style="font-size:14px"><strong><span style="color:#000000">- Đối với tính từ dài (Những tính từ có nhiều hơn một âm tiết như <em>beautiful, expensive, intelligent…</em>)</span></strong></span>
    </p>
    <p style="text-align:center"><span style="font-size:14px"><strong><span style="color:#000000">S1 + V + more + adj + than + S2</span></strong></span>
    </p>
    <p><span style="font-size:14px"><span style="color:#000000">+ Eg:</span></span></p>
    <ul>
        <li><span style="font-size:14px"><em><span style="color:#000000">My son is </span><u><span
                style="color:#ff3399">more intelligent than</span></u><span style="color:#000000"> her son. (Con trai tôi thông minh hơn con trai cô ta.)</span></em></span>
        </li>
    </ul>
    <p><span style="font-size:14px"><span style="color:#66cc00"><strong>2. So sánh kém</strong></span></span></p>
    <p style="text-align:center"><span style="font-size:14px"><strong><span style="color:#000000">S1 + V + less + adj/adv + than + S2</span></strong></span>
    </p>
    <p><span style="font-size:14px"><span style="color:#000000">Eg:</span></span></p>
    <ul>
        <li><span style="font-size:14px"><em><span style="color:#000000">Nguyen is </span><u><span
                style="color:#ff3399">less young than</span></u><span style="color:#000000"> me. (Nguyên không trẻ bằng tôi)</span></em></span>
        </li>
    </ul>
    <p><span style="font-size:14px"><span style="color:#000000"><strong>Chú ý:</strong><br/>  + Sau “than” phải là đại từ tân ngữ, không dùng đại từ chủ ngữ.<br/>  + Cũng tương tự như so sánh bằng, danh từ cũng được dùng để so sánh, nhưng trước khi so sánh cần xác định trước danh từ đó là đếm được hay không đếm được và dùng công thức sau:</span></span>
    </p>
    <p style="text-align:center"><span style="font-size:14px"><strong><span style="color:#000000">S1 + V + more/fewer/less + noun(s) + than + S2</span></strong></span>
    </p>
    <p><span style="font-size:14px"><span style="color:#0099ff"><strong>III. SO SÁNH KÉP ( Càng ... thì càng )</strong></span></span>
    </p>
    <div><span style="font-size:14px"><span style="color:#000000">- Là loại so sánh với cấu trúc: Càng... càng... Trong cấu trúc này, tính từ/trạng từ đứng đầu các mệnh đề trong câu và trước chúng phải có The.</span></span>
    </div>
    <div style="text-align:center"><span style="font-size:14px"><span style="color:#000000"><strong>The + comparative + S1 + V, the + comparative + S2 + V</strong></span></span>
    </div>
    <div><span style="font-size:14px"><span style="color:#000000">Eg:</span></span></div>
    <div>
        <ul>
            <li><span style="font-size:14px"><em><span style="color:#000000">The </span><u><span style="color:#ff3399">harder</span></u><span
                    style="color:#000000"> you study, the </span><u><span style="color:#ff3399">better</span></u><span
                    style="color:#000000"> your result will be<br/>  	Bạn càng học hành chăm chỉ thì kết quả càng tốt</span></em></span>
            </li>
            <li><span style="font-size:14px"><em><span style="color:#000000">The </span><u><span style="color:#ff3399">sooner </span></u><span
                    style="color:#000000">you wake up, the </span><u><span style="color:#ff3399">earlier</span></u><span
                    style="color:#000000"> you go to school<br/>  	Bạn dậy càng sớm bạn càng đến trường sớm</span></em></span>
            </li>
        </ul>
        <p><span style="font-size:14px"><span style="color:#000000">- Nếu chỉ một vế có tính/trạng từ so sánh thì vế còn lại có thể dùng <em>The more</em></span></span>
        </p></div>
    <div style="text-align:center"><span style="font-size:14px"><span style="color:#000000"><strong>The more + S1 + V, the + comparative + S2 + V</strong></span></span>
    </div>
    <div><span style="font-size:14px"><span style="color:#000000">Eg:</span></span></div>
    <ul>
        <li><span style="font-size:14px"><em><u><span style="color:#ff3399">The more</span></u><span
                style="color:#000000"> he eats , </span><u><span style="color:#ff3399">the fatter</span></u><span
                style="color:#000000"> he is.<br/>  	Anh ta ăn càng nhiều thì anh ta càng béo</span></em></span></li>
        <li><span style="font-size:14px"><em><u><span style="color:#ff3399">The more</span></u><span
                style="color:#000000"> I look into your eyes, </span><u><span
                style="color:#ff3399">the more</span></u><span style="color:#000000"> I love you.<br/>  	Càng nhìn vào mắt bạn tôi càng thấy yêu bạn</span></em></span>
        </li>
    </ul>
    <div><span style="font-size:14px"><span style="color:#0099ff"><strong>IV. SO SÁNH NHẤT</strong></span></span></div>
    <div><span style="font-size:14px"><span style="color:#000000">Dùng trong các trường hợp so sánh với ba đối tượng trở lên.</span></span>
    </div>
    <div><span style="font-size:14px"><span
            style="color:#66cc00"><strong>- Đối với tính từ và trạng từ ngắn</strong></span></span></div>
    <div style="text-align:center"><span style="font-size:14px"><span style="color:#000000"><strong>S + V + the + adj/adv-est (+ noun/pronoun)</strong></span></span>
    </div>
    <div><span style="font-size:14px"><span style="color:#000000">Eg:</span></span></div>
    <ul>
        <li><span style="font-size:14px"><em><span style="color:#000000">Loc is </span><u><span style="color:#ff3399">the tallest</span></u><span
                style="color:#000000"><u> </u>in my class.<br/>  	Lộc là người cao nhất trong lớp tôi</span></em></span>
        </li>
    </ul>
    <div><span style="font-size:14px"><strong><span
            style="color:#66cc00">- Đối với tính từ và trạng từ dài</span></strong></span></div>
    <div style="text-align:center"><span style="font-size:14px"><strong><span style="color:#000000">S + V + the most + adj/adv (+ noun/pronoun)</span></strong></span>
    </div>
    <div><span style="font-size:14px"><span style="color:#000000">Eg:</span></span></div>
    <ul>
        <li><span style="font-size:14px"><em><span style="color:#000000">This jacket is </span><u><span
                style="color:#ff3399">the most</span></u><span style="color:#000000"> expensive in our shop.<br/>  	Áo khoác này đắt nhất trong cửa hàng của chúng tôi.</span></em></span>
        </li>
    </ul>
    <div><span style="font-size:14px"><span style="color:#000000">- <strong>Chú ý</strong>: Dùng “in” với danh từ số ít, dùng “of” với danh từ số nhiều</span></span>
    </div>
    <div><span style="font-size:14px"><span style="color:#000000">Eg:</span></span></div>
    <ul>
        <li><span style="font-size:14px"><em><span
                style="color:#000000">This dress is the most beautiful </span><u><span style="color:#ff3399">of the dresses</span></u><span
                style="color:#000000">.<br/>  	Chiếc váy này là đẹp nhất trong tất cả các chiếc váy,</span></em></span>
        </li>
    </ul>
    <div><span style="font-size:14px"><span
            style="color:#66cc00"><strong>- Các tính từ so sánh bất quy tắc:</strong></span></span></div>
    <ul>
        <li><span style="font-size:14px"><em><span style="color:#000000">Good/better/the best</span></em></span></li>
        <li><span style="font-size:14px"><em><span style="color:#000000">Bad/worse/the worst</span></em></span></li>
        <li><span style="font-size:14px"><em><span style="color:#000000">Many (much)/more/the most</span></em></span>
        </li>
        <li><span style="font-size:14px"><em><span style="color:#000000">Little/less/the least</span></em></span></li>
        <li><span style="font-size:14px"><span style="color:#000000"><em>Far/farther (further)/the farthest (the furthest)</em></span></span>
        </li>
    </ul>
</div>