<meta charset="UTF-8">
<div class="first-content">
    <p><span style="font-size:14px"><span style="color:#0099ff"><strong>I. KHÁI QUÁT VỀ CÂU ƯỚC TRONG TIẾNG ANH</strong></span></span>
    </p>
    <p><span style="font-size:14px"><span style="color:#000000"><strong>Câu ướ</strong>c là câu thể hiện mong muốn, ước muốn của ai đó về một việc trong tương lai, ở hiện tại hay về một điều trong quá khứ.</span></span>
    </p></div>
<div class="last-content"><p><span style="font-size:14px"><span style="color:#000000">- Eg: </span></span></p>
    <ul>
        <li><span style="font-size:14px"><em><span style="color:#000000">I wish I would attend the party. </span><span
                style="color:#008000">( tôi ước tôi có thể tham gia bữa tiệc )</span></em></span></li>
    </ul>
    <p><span style="font-size:14px"><span
            style="color:#0099ff"><strong>II. CÁC LOẠI CÂU ƯỚC CƠ BẢN</strong></span></span></p>
    <p><span style="font-size:14px"><span style="color:#000000">Có 3 loại câu ước diễn tả diễn tả sự ao ước cho những sự việc ở những thời điểm khác nhau.</span></span>
    </p>
    <p><span style="font-size:14px"><span
            style="color:#ffa500"><strong>1. Câu ước loại 1: "Wish" trong tương lai</strong></span></span></p>
    <ul>
        <li><span style="font-size:14px"><em><span style="color:#000000">Câu ước ở quá khứ dùng để diễn tả những mong ước về một sự việc không có thật ở quá khứ, hay giả định một điều ngược lại so với thực tại đã xảy ra ở quá khứ.</span></em></span>
        </li>
        <li><span style="font-size:14px"><em><span style="color:#000000">Chúng ta sử dụng câu ước ở qúa khứ để ước điều trái với những gì xảy ra trong quá khứ, thường là để diễn tả sự nuối tiếc với tình huống ở quá khứ.</span></em></span>
        </li>
    </ul>
    <p><span style="font-size:14px"><span style="color:#66cc00"><strong>- Cấu trúc:</strong></span></span></p>
    <p><span style="font-size:14px"><strong><span style="color:#000000">+ Khẳng định:</span></strong></span></p>
    <p style="text-align:center"><span style="font-size:14px"><strong><span style="color:#000000">S+ wish(es) + S + would + V1</span></strong></span>
    </p>
    <p><span style="font-size:14px"><strong><span style="color:#000000">+ Eg: </span></strong></span></p>
    <ul>
        <li><span style="font-size:14px"><span style="color:#000000"><em>I wish I <u><strong>would be</strong></u> an astronaut in the future.</em></span><br/>  	<span
                style="color:#008000"><em>(Tôi ước mình sẽ là một phi hành gia trong tương lai)</em></span></span></li>
    </ul>
    <p><span style="font-size:14px"><strong><span style="color:#000000">+ Phủ định:</span></strong></span></p>
    <p style="text-align:center"><span style="font-size:14px"><span
            style="font-family:arial,helvetica,sans-serif"><strong><span style="color:#000000">S + wish(es) + S + wouldn’t + V1</span></strong></span></span>
    </p>
    <p><span style="font-size:14px"><strong><span style="color:#000000">+ Eg: </span></strong></span></p>
    <ul>
        <li><span style="font-size:14px"><em><span
                style="color:#000000">I wish you <u><strong>wouldn’t leave</strong></u> your clothes all over the floor.</span></em></span>
        </li>
    </ul>
    <p style="text-align:center"><span style="font-size:14px"><span style="color:#000000"><span
            style="font-family:arial,helvetica,sans-serif"><strong>IF ONLY + S + would/ could + V (bare-infinitive)</strong></span></span></span>
    </p>
    <p><span style="font-size:14px"><strong><span style="color:#000000">+ Eg:</span></strong></span></p>
    <ul>
        <li><span style="font-size:14px"><em><span
                style="color:#000000">If only I <u><strong>would be able to attend</strong></u> your wedding next week.</span></em></span>
        </li>
    </ul>
    <p><span style="font-size:14px"><span style="color:#66cc00"><strong>- Lưu ý:</strong></span></span></p>
    <ul>
        <li><span style="font-size:14px"><em><span style="color:#000000">Đối với chủ ngữ ở vế “wish” là chủ ngữ số nhiều, chúng ta sử dụng wish.<br/>  	Exp: They wish, Many people wish,…</span></em></span>
        </li>
        <li><span style="font-size:14px"><em><span style="color:#000000">Đối với chủ ngữ ở vế “wish” là chủ ngữ số ít, chúng ta sử dụng wishes. <br/>  	Exp: He wishes, the boy wishes,…</span></em></span>
        </li>
        <li><span style="font-size:14px"><em><span style="color:#000000">Động từ ở mệnh đề sau ta chia ở dạng nguyên mẫu vì đứng trước nó là Modal verbs would/could.</span></em></span>
        </li>
    </ul>
    <p><span style="font-size:14px"><span
            style="color:#ffa500"><strong>2. Câu ước loại 2: "Wish" ở hiện tại</strong></span></span></p>
    <ul>
        <li><span style="font-size:14px"><em><span style="color:#000000">Câu ước ở hiện tại dùng để diễn tả những mong ước về một sự việc không có thật ở hiện tại, hay giả định một điều ngược lại so với thực tế.</span></em></span>
        </li>
        <li><span style="font-size:14px"><em><span style="color:#000000">Chúng ta dùng câu ước ở hiện tại để ước về điều không có thật ở hiện tại, thường là thể hiện sự nuối tiếc về tình huống hiện tại (regret about present situations).</span></em></span>
        </li>
    </ul>
    <p><span style="font-size:14px"><span style="color:#66cc00"><strong>- Cấu trúc</strong></span></span></p>
    <p><span style="font-size:14px"><strong><span style="color:#000000">+ Khẳng định: </span></strong></span></p>
    <p style="text-align:center"><span style="font-size:14px"><strong><span style="color:#000000">S + wish(es) + S + V2/-ed + O (to be: were / weren’t)</span></strong></span>
    </p>
    <p><span style="font-size:14px"><strong><span style="color:#000000">+ Eg: </span></strong></span></p>
    <ul>
        <li><span style="font-size:14px"><em><span
                style="color:#000000">She <u><strong>wishes</strong></u> she <u><strong>were</strong></u> a billionaire at the moment.</span><br/>  	<span
                style="color:#008000">(Cô ấy ước rằng lúc này cô ấy là một tỷ phú -> Thực tế hiện tại cô ấy không phải là một tỷ phú.)</span></em></span>
        </li>
    </ul>
    <p><span style="font-size:14px"><strong><span style="color:#000000">+ Phủ định:</span></strong></span></p>
    <p style="text-align:center"><span style="font-size:14px"><span style="color:#000000"><strong>S + wish(es) + S + didn’t + V1</strong></span></span>
    </p>
    <p><span style="font-size:14px"><strong><span style="color:#000000">+ Eg: </span></strong></span></p>
    <ul>
        <li><span style="font-size:14px"><em><span
                style="color:#000000">He <u><strong>wishes</strong></u> he <u><strong>didn’t work</strong></u> in this company at present.</span><br/>  	<span
                style="color:#008000">(Tôi ước rằng hiện tại tôi không làm việc cho công ty này.)</span></em></span>
        </li>
    </ul>
    <p><span style="font-size:14px"><span
            style="color:#ffa500"><strong>3. Câu ước loại 3: "Wish" ở quá khứ</strong></span></span></p>
    <ul>
        <li><span style="font-size:14px"><em><span style="color:#000000">Câu ước ở quá khứ dùng để diễn tả những mong ước về một sự việc không có thật ở quá khứ, hay giả định một điều ngược lại so với thực tại đã xảy ra ở quá khứ.</span></em></span>
        </li>
        <li><span style="font-size:14px"><em><span style="color:#000000">Chúng ta sử dụng câu ước ở quá khứ để ước điều trái với những gì xảy ra trong quá khứ, thường là để diễn tả sự nuối tiếc với tình huống ở quá khứ.</span></em></span>
        </li>
    </ul>
    <p><span style="font-size:14px"><span style="color:#66cc00"><strong>- Cấu trúc</strong></span></span></p>
    <p><span style="font-size:14px"><strong><span style="color:#000000">+ Khẳng định: </span></strong></span></p>
    <p style="text-align:center"><span style="font-size:14px"><strong><span style="color:#000000">S + wish(es) + S + had + V3/-ed</span></strong></span>
    </p>
    <p><span style="font-size:14px"><strong><span style="color:#000000">+ Eg: </span></strong></span></p>
    <ul>
        <li><span style="font-size:14px"><em><span
                style="color:#000000">Lan <u><strong>wishes</strong></u> she <u><strong>had gone</strong></u> to school yesterday.</span><br/>  	<span
                style="color:#008000">(Lan ước rằng cô ấy đã đi học ngày hôm qua.)</span></em></span></li>
    </ul>
    <p><span style="font-size:14px"><strong><span style="color:#000000">+ Phủ định:</span></strong></span></p>
    <p style="text-align:center"><span style="font-size:14px"><strong><span style="color:#000000">S + wish(es) + S + hadn’t + V3/-ed</span></strong></span>
    </p>
    <p><span style="font-size:14px"><strong><span style="color:#000000">+ Eg: </span></strong></span></p>
    <ul>
        <li><span style="font-size:14px"><em><span style="color:#000000">I <u><strong>wish</strong></u> I <u><strong>hadn’t failed</strong></u> my exam last year. (I failed my exam)</span><br/>  	<span
                style="color:#008000">Tôi ước gì mình đã không thi trượt năm ngoái. (Tôi đã làm bài thi không thành công)</span></em></span>
        </li>
    </ul>
    <p><span style="font-size:14px"><span
            style="color:#ffa500"><strong>4. Cách sử dụng khác của câu "Wish"</strong></span></span></p>
    <p><span style="font-size:14px"><span style="color:#66cc00"><strong>- Đôi khi người ta còn dùng “wish to” theo cách nói hơi mang tính hình thức để thay cho “want to”.</strong></span></span>
    </p>
    <p><span style="font-size:14px"><span style="color:#000000"><strong>+ Eg:</strong></span></span></p>
    <ul>
        <li><span style="font-size:14px"><span style="color:#000000"><em>I wish to make a complaint.</em></span><span
                style="color:#008000"><em>( Tôi muốn khiếu nại.)</em></span></span></li>
        <li><span style="font-size:14px"><span style="color:#000000"><em>I wish to see the manager. </em></span><span
                style="color:#008000"><em>( Tôi muốn gặp người quản lý.)</em></span></span></li>
    </ul>
    <p><span style="font-size:14px"><span style="color:#000000"> </span><br/>  <span style="color:#66cc00"><strong>- Sử dụng “Wish” với một cụm danh từ đứng sau để đưa ra một lời chúc mừng, mong ước.</strong></span></span>
    </p>
    <p><span style="font-size:14px"><span style="color:#000000"><strong>+ Eg:</strong></span></span></p>
    <ul>
        <li><span style="font-size:14px"><em><span style="color:#000000">We wish you a merry Christmas. </span><span
                style="color:#008000">(Chúng tôi chúc bạn một Giáng sinh vui vẻ.)</span></em></span></li>
        <li><span style="font-size:14px"><span style="color:#000000"><em>I wish you all the best in your new job. </em></span><span
                style="color:#008000"><em>( Mong bạn sẽ gặp nhiều thuận lợi trong công việc mới)</em></span></span></li>
    </ul>
    <p><span style="font-size:14px"><span style="color:#000000"><strong>- Lưu ý: </strong>Nếu các bạn muốn đưa ra một lời mong ước cho người khác bằng cách sử dụng động từ, các bạn phải dùng “hope” chứ không được sử dụng “wish” nhé.</span></span>
    </p>
    <p><span style="font-size:14px"><span style="color:#000000"><strong>+ Eg:</strong></span></span></p>
    <ul>
        <li><span style="font-size:14px"><em><span style="color:#000000">We wish you the best of luck = We hope you have the best of luck.</span></em></span>
        </li>
        <li><span style="font-size:14px"><span style="color:#000000"><em>I wish you a safe and pleasant journey = I hope you have a safe and pleasant journey..</em></span></span>
        </li>
    </ul> </div>