<meta charset="UTF-8">
<div class="item-active" id="item-1">
    <div class="item-title-active">
        <div class="item-title-active-content">I. ĐỊNH NGHĨA
        </div>

    </div>
    <div class="item-active-content">
        <p><span style="font-size:14px"><span style="color:#000000"><span
                style="font-family:arial,helvetica,sans-serif"><strong>Thì tương lai gần </strong>(Near future tense) là một thì trong tiếng Anh hiện đại. Đ</span>ược dùng để diễn đạt một kế hoạch, dự định (intention, plan), dự đoán dựa vào bằng chứng (evidence) ở hiện tại.</span></span>
        </p>
    </div>
</div>
<div class="item-active" id="item-2">
    <div class="item-title-active">
        <div class="item-title-active-content">II. CẤU TRÚC
        </div>

    </div>
    <div class="item-active-content">
    <p><span style="font-size:14px"><span style="color:#ffa500"><strong>1. Khẳng định:</strong></span></span></p>
    <p><span style="font-size:14px"><strong><span style="color:#000000">- Cấu trúc:</span></strong></span></p>
    <p style="text-align:center"><span style="font-size:14px"><span style="color:#66cc00"><strong>S + is/ am/ are + going to + V(nguyên mẫu)</strong></span></span>
    </p>
    <p><span style="font-size:14px"><strong><span style="color:#000000">- Trong đó:</span></strong></span></p>
    <ul>
        <li><span style="font-size:14px"><em><span style="color:#000000">S (subject): Chủ ngữ</span></em></span></li>
        <li><span style="font-size:14px"><em><span style="color:#000000">is/ am/ are: là 3 dạng của “to be”</span></em></span>
        </li>
        <li><span style="font-size:14px"><em><span style="color:#000000">V(nguyên mẫu): Động từ ở dạng nguyên mẫu</span></em></span>
        </li>
    </ul>
    <p><span style="font-size:14px"><strong><span style="color:#000000">- Lưu ý:</span></strong></span></p>
    <ul>
        <li><span style="font-size:14px"><em><span style="color:#000000">S = I + am = I’m</span></em></span></li>
        <li><span style="font-size:14px"><em><span style="color:#000000">S = He/ She/ It + is = He’s/ She’s/ It’s</span></em></span>
        </li>
        <li><span style="font-size:14px"><em><span style="color:#000000">S = We/ You/ They + are = We’re/ You’re/ They’re</span></em></span>
        </li>
    </ul>
    <p><span style="font-size:14px"><strong><span style="color:#000000">- Eg:</span></strong></span></p>
    <ul>
        <li><span style="font-size:14px"><em><span style="color:#000000">I <u><strong>am going see</strong></u> a film at the cinema tonight.</span><br/>  	<span
                style="color:#008000">(Tôi sẽ đi xem phim tại rạp chiếu phim tối nay.)</span></em></span></li>
        <li><span style="font-size:14px"><em><span style="color:#000000">She <u><strong>is going to buy</strong></u> a new car next week. </span><br/>  	<span
                style="color:#008000">(Cô ấy sẽ mua một chiếc xe mới vào tuần tới.)</span></em></span></li>
        <li><span style="font-size:14px"><em><span style="color:#000000">We <u><strong>are going to Paris</strong></u> next month. </span><br/>  	<span
                style="color:#008000">(Chúng tôi sẽ đi tới Paris vào tháng tới.)</span></em></span></li>
    </ul>
    <p><span style="font-size:14px"><span style="color:#ffa500"><strong>2. Phủ định:</strong></span></span></p>
    <p><span style="font-size:14px"><strong><span style="color:#000000">- Cấu trúc</span></strong></span></p>
    <p style="text-align:center"><span style="font-size:14px"><span style="color:#66cc00"><strong>S + is/ am/ are + not + going to + V(nguyên mẫu)</strong></span></span>
    </p>
    <p><span style="font-size:14px"><span style="color:#000000">=> Câu phủ định ta chỉ cần thêm “not” vào ngay sau động từ “to be”.</span></span>
    </p>
    <p><span style="font-size:14px"><strong><span style="color:#000000">- Lưu ý</span></strong></span></p>
    <ul>
        <li><span style="font-size:14px"><em><span
                style="color:#000000">am not: không có dạng viết tắt</span></em></span></li>
        <li><span style="font-size:14px"><em><span style="color:#000000">is not = isn’t</span></em></span></li>
        <li><span style="font-size:14px"><em><span style="color:#000000">are not = aren’t</span></em></span></li>
    </ul>
    <p><span style="font-size:14px"><strong><span style="color:#000000">- Eg:</span></strong></span></p>
    <ul>
        <li><span style="font-size:14px"><em><span
                style="color:#000000">I <u><strong>am not going to attend</strong></u> the class tomorrow because I’m very tired.</span><br/>  	<span
                style="color:#008000">(Tôi sẽ không tham dự lớp học ngày mai vì tôi rất mệt.)</span></em></span></li>
        <li><span style="font-size:14px"><em><span style="color:#000000">She <u><strong>isn’t going to sell</strong></u> her house because she has had enough money now.</span><br/>  	<span
                style="color:#008000">(Cô ấy sẽ không bán ngôi nhà của cô ấy bởi vì cô ấy đã có đủ tiền rồi.)</span></em></span>
        </li>
        <li><span style="font-size:14px"><em><span style="color:#000000">They <u><strong>aren’t going to cancel</strong></u> the meeting because the electricity is on again.</span><br/>  	<span
                style="color:#008000">(Họ sẽ không hủy bỏ cuộc họp bởi đã có điện trở lại.)</span></em></span></li>
    </ul>
    <p><span style="font-size:14px"><span style="color:#ffa500"><strong>3. Câu hỏi:</strong></span></span></p>
    <p><span style="font-size:14px"><span style="color:#000000"><strong>- Cấu trúc</strong></span></span></p>
    <p style="text-align:center"><span style="font-size:14px"><span style="color:#66cc00"><strong>Is/ Am/ Are + S + going to + V(nguyên mẫu)?</strong></span></span>
    </p>
    <p><span style="font-size:14px"><strong><span style="color:#000000">- Trả lời:</span></strong></span></p>
    <ul>
        <li><span style="font-size:14px"><em><span style="color:#000000">Yes, S + is/am/ are.</span></em></span></li>
        <li><span style="font-size:14px"><em><span style="color:#000000">No, S + is/am/are.</span></em></span></li>
    </ul>
    <p><span style="font-size:14px"><span style="color:#000000">=> Câu hỏi ta chỉ việc đảo động từ “to be” lên trước chủ ngữ.</span></span>
    </p>
    <p><span style="font-size:14px"><strong><span style="color:#000000">- Eg:</span></strong></span></p>
    <ul>
        <li><span style="font-size:14px"><em><span style="color:#000000"><u><strong>Are</strong></u> you <u><strong>going to fly</strong></u> to America this weekend?</span><br/>  	<span
                style="color:#008000">(Bạn sẽ bay tới Mỹ vào cuối tuần này à?)</span><br/>  	<span
                style="color:#000000"><span style="color:#000000">Yes, I am./ No, I’m not.</span></span></em></span>
        </li>
        <li><span style="font-size:14px"><em><span style="color:#000000"><u><strong>Is</strong></u> he <u><strong>going to stay</strong></u> at his grandparents’ house tonight?</span><br/>  	<span
                style="color:#008000">(Cậu ấy sẽ ở lại nhà ông bà cậu ấy tối nay phải không?)</span><br/>  	<span
                style="color:#000000"><span style="color:#000000">Yes, he is./ No, he isn’t.</span></span></em></span>
        </li>
    </ul>
    <p><span style="font-size:14px"><span style="color:#ffa500"><strong>4. Lưu ý</strong></span></span></p>
    <p><span style="font-size:14px"><strong><span style="color:#000000">- Động từ “GO” khi chia thì tương lai gần ta sử dụng cấu trúc:</span></strong></span>
    </p>
    <ul>
        <li><span style="font-size:14px"><em><span style="color:#000000">S + is/ am/ are + going</span></em></span></li>
    </ul>
    <p><span style="font-size:14px"><strong><span style="color:#000000">- Chứ ta không sử dụng: </span></strong></span>
    </p>
    <ul>
        <li><span style="font-size:14px"><em><span
                style="color:#000000">S + is/ am/ are + going to + go</span></em></span></li>
    </ul>
    <p><span style="font-size:14px"><strong><span style="color:#000000">- Eg:</span></strong></span></p>
    <ul>
        <li><span style="font-size:14px"><em><span style="color:#000000">I <u><strong>am going</strong></u> to the party tonight. (Tôi sẽ tới bữa tiệc tối hôm nay.)</span></em></span>
        </li>
    </ul>
    </div>
</div>
<div class="item-active" id="item-3">
    <div class="item-title-active">
        <div class="item-title-active-content">III. CÁCH SỬ DỤNG
        </div>

    </div>
    <div class="item-active-content">
    <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
        <tbody>
        <tr>
            <td style="text-align:center"><span style="font-size:14px"><span
                    style="color:#ffa500"><strong>Cách Sử Dụng</strong></span></span></td>
            <td style="text-align:center"><span style="font-size:14px"><span
                    style="color:#ffa500"><strong>Ví dụ</strong></span></span></td>
        </tr>
        <tr>
            <td><span style="font-size:14px"><span style="color:#000000">- Diễn đạt một kế hoạch, dự định (intention, plan)</span></span>
            </td>
            <td>
                <ul>
                    <li><span style="font-size:14px"><em><span style="color:#000000">He is going to get married this year. </span></em><br/>  				<span
                            style="color:#008000"><em>(Anh ta dự định sẽ kết hôn trong năm nay.)</em></span></span></li>
                    <li><span style="font-size:14px"><em><span style="color:#000000">We are going to take a trip to Da Nang city this weekend. </span><br/>  				<span
                            style="color:#008000">(Chúng tôi dự định sẽ làm một chuyến tới thành phố Đà Nẵng vào cuối tuần này.)</span></em></span>
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td><span style="font-size:14px"><span style="color:#000000">- Diễn đạt một lời dự đoán dựa vào bằng chứng (evidence) ở hiện tại</span></span>
            </td>
            <td>
                <ul>
                    <li><span style="font-size:14px"><em><span style="color:#000000">Look at those dark clouds! It is going to rain.</span><br/>  				<span
                            style="color:#008000">(Hãy nhìn những đám mây kia kìa! Trời sắp mưa đấy.)</span></em></span>
                    </li>
                    <li><span style="font-size:14px"><em><span style="color:#000000">Are you going to cook dinner? I have seen a lot of vegetables on the table.</span><br/>  				<span
                            style="color:#008000">(Bạn chuẩn bị nấu bữa tối à? Tớ vừa trông thấy rất nhiều rau củ quả ở trên bàn.)</span></em></span>
                    </li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
    </div>
</div>
<div class="item-active" id="item-4">
    <div class="item-title-active">
        <div class="item-title-active-content">IV.&nbsp;DẤU HIỆU NHẬN BIẾT
        </div>

    </div>
    <div class="item-active-content">
    <p><span style="font-size:14px"><span style="color:#000000">- Dấu hiệu nhận biết thì tương lai gần bao gồm các trạng từ chỉ thời gian trong tương lai giống như dấu hiệu nhận biết thì tương lai đơn, nhưng nó có thêm những căn cứ hay những dẫn chứng cụ thể.</span></span>
    </p>
    <ul>
        <li><span style="font-size:14px"><em><span style="color:#000000">in + thời gian: trong … nữa (in 2 minutes: trong 2 phút nữa)</span></em></span>
        </li>
        <li><span style="font-size:14px"><em><span style="color:#000000">tomorrow: ngày mai</span></em></span></li>
        <li><span style="font-size:14px"><em><span style="color:#000000">Next day: ngày hôm tới</span></em></span></li>
        <li><span style="font-size:14px"><em><span style="color:#000000">Next week/ next month/ next year: Tuần tới/ tháng tới/ năm tới</span></em></span>
        </li>
    </ul>
    <p><span style="font-size:14px"><strong><span style="color:#000000">- Eg:</span></strong></span></p>
    <ul>
        <li><span style="font-size:14px"><em><span style="color:#000000"><u><strong>Tomorrow</strong></u> I am going to visit my parents in London. <u><strong>I have just bought the ticket</strong></u></span><br/>  	<span
                style="color:#008000">(Ngày mai tôi sẽ đi thăm bố mẹ tôi ở Luân Đôn. Tôi vừa mới mua vé rồi.)</span></em></span>
        </li>
    </ul>
    <p><span style="font-size:14px"><span style="color:#000000">=> Trong đó “Ngày mai” là thời gian trong tương lai. “Tôi vừa mới mua vé” là dẫn chứng cụ thể cho việc sẽ “đi thăm bố mẹ ở "Luân Đôn".</span></span>
    </p>
    </div>
</div>