<meta charset="UTF-8">
<div class="first-content"><p style="text-align:center"><span style="font-size:14px"><span
        style="color:#000000"><strong>CÂU CẢM THÁN TRONG TIẾNG ANH</strong></span></span></p>
    <p style="text-align:justify"> </p>
    <p style="text-align:justify"><span style="font-size:14px"><span style="color:#0099ff"><strong><span
            style="font-family:arial,helvetica,sans-serif">I. ĐỊNH NGHĨA VỀ CÂU CẢM THÁN</span></strong></span></span>
    </p>
    <p style="text-align:justify"><span style="font-size:14px"><span style="color:#000000"><span
            style="font-family:arial,helvetica,sans-serif">Câu cảm thán trong tiếng Anh là câu diễn tả một cảm giác cảm xúc hay thái độ (ngạc nhiên, thán phục, tội nghiệp, ghê tởm,…) của một người trước một người, sự vật, sự việc nào đó. Nhìn chung, hình thức cảm thán thường được cấu tạo với “HOW, WHAT"</span></span></span>
    </p>
    <p style="text-align:justify"><span style="font-size:14px"><strong><span style="color:#0099ff"><span
            style="font-family:arial,helvetica,sans-serif">II. CẤU TRÚC CỦA CÂU CẢM THÁN VỚI WHAT VÀ HOW TRONG TIẾNG ANH</span></span></strong></span>
    </p></div>
<div class="last-content"><p style="text-align:justify"><span style="font-size:14px"><span style="color:#ff8c00"><span
        style="font-family:arial,helvetica,sans-serif"><strong>1. Cấu trúc câu cảm thán với WHAT: </strong></span></span></span>
</p>
    <p style="text-align:center"><span style="font-size:14px"><span style="color:#000000"><strong>WHAT + a/ an + adj + danh từ đếm được</strong></span></span>
    </p>
    <p style="text-align:justify"><span style="font-size:14px"><span style="color:#000000"><span
            style="font-family:arial,helvetica,sans-serif">Eg:</span></span></span></p>
    <ul>
        <li style="text-align:justify"><span style="font-size:14px"><em><span style="color:#000000"><span
                style="font-family:arial,helvetica,sans-serif">What an interesting book! </span></span><span
                style="color:#008000"><span style="font-family:arial,helvetica,sans-serif">(Quyển sách hay quá!)</span></span></em></span>
        </li>
        <li style="text-align:justify"><span style="font-size:14px"><em><span style="color:#000000"><span
                style="font-family:arial,helvetica,sans-serif">What a cute baby! </span></span><span
                style="color:#008000"><span
                style="font-family:arial,helvetica,sans-serif">(Em bé này dễ thương quá!)</span></span></em></span></li>
    </ul>
    <p style="text-align:justify"><span style="font-size:14px"><span style="color:#000000"><span
            style="font-family:arial,helvetica,sans-serif"><strong>Chú ý</strong>: Đối với cấu trúc này, khi danh từ đếm được ở số nhiều, ta không dùng a/an. Cấu trúc câu lúc này sẽ là:</span></span></span>
    </p>
    <p style="text-align:center"><span style="font-size:14px"><span style="color:#000000"><span
            style="font-family:arial,helvetica,sans-serif"><strong>WHAT + adj + danh từ đếm được số nhiều</strong></span></span></span>
    </p>
    <p><span style="font-size:14px"><span style="color:#000000"><span
            style="font-family:arial,helvetica,sans-serif">Eg:</span></span></span></p>
    <ul>
        <li style="text-align:justify"><span style="font-size:14px"><em><span style="color:#000000"><span
                style="font-family:arial,helvetica,sans-serif">What tight shoes are! </span></span><span
                style="color:#008000"><span
                style="font-family:arial,helvetica,sans-serif">(Giầy chật quá!)</span></span></em></span></li>
        <li style="text-align:justify"><span style="font-size:14px"><span style="color:#000000"><span
                style="font-family:arial,helvetica,sans-serif"><em>What beautiful flowers are! </em></span></span><span
                style="color:#008000"><span style="font-family:arial,helvetica,sans-serif"><em>(Bông hoa đẹp quá!)</em></span></span></span>
        </li>
    </ul>
    <p><span style="font-size:14px"><span style="color:#000000"><span style="font-family:arial,helvetica,sans-serif">Đối với danh từ không đếm được, ta theo cấu trúc:</span></span></span>
    </p>
    <p style="text-align:center"><span style="font-size:14px"><span style="color:#000000"><span
            style="font-family:arial,helvetica,sans-serif"><strong>WHAT + adj + danh từ không đếm được</strong></span></span></span>
    </p>
    <p><span style="font-size:14px"><span style="color:#000000"><span
            style="font-family:arial,helvetica,sans-serif">Eg:</span></span></span></p>
    <ul>
        <li style="text-align:justify"><span style="font-size:14px"><em><span style="color:#000000"><span
                style="font-family:arial,helvetica,sans-serif">What beautiful weather! </span></span><span
                style="color:#008000"><span style="font-family:arial,helvetica,sans-serif">(Thời tiết đẹp quá! )</span></span></em></span>
        </li>
    </ul>
    <p style="text-align:justify"><span style="font-size:14px"><span style="color:#000000"><span
            style="font-family:arial,helvetica,sans-serif">Đối với cấu trúc vừa kể, người ta có thể thêm vào phía sau một chủ từ và một động từ. Và lúc đó, cấu trúc với “What “ sẽ là:</span></span></span>
    </p>
    <ul>
        <li style="text-align:justify"><span style="font-size:14px"><em><span style="color:#000000"><span
                style="font-family:arial,helvetica,sans-serif">What lazy students! </span></span><span
                style="color:#008000"><span style="font-family:arial,helvetica,sans-serif">(Chúng nó là những học sinh lười biếng biết bao nhiêu)</span></span></em></span>
        </li>
        <li style="text-align:justify"><span style="font-size:14px"><em><span style="color:#000000"><span
                style="font-family:arial,helvetica,sans-serif">What a good picture they saw! </span></span><span
                style="color:#008000"><span style="font-family:arial,helvetica,sans-serif">(Tôi đã xem một bức tranh thật tuyệt)</span></span></em></span>
        </li>
    </ul>
    <p style="text-align:justify"><br/> <span style="font-size:14px"><span style="color:#ff8c00"><span
            style="font-family:arial,helvetica,sans-serif"><strong>2. Cấu trúc câu cảm thán với HOW</strong></span></span></span>
    </p>
    <p style="text-align:justify"><span style="font-size:14px"><strong><span style="color:#000000"><span
            style="font-family:arial,helvetica,sans-serif">- HOW + adjective/ adverb + S + V!</span></span></strong></span>
    </p>
    <ul>
        <li style="text-align:justify"><span style="font-size:14px"><em><span style="color:#000000"><span
                style="font-family:arial,helvetica,sans-serif">How hot (adj) it is! </span></span><span
                style="color:#008000"><span
                style="font-family:arial,helvetica,sans-serif">(Trời nóng quá!)</span></span></em></span></li>
        <li style="text-align:justify"><span style="font-size:14px"><em><span style="color:#000000"><span
                style="font-family:arial,helvetica,sans-serif">How interesting (adj) this gift is! </span></span><span
                style="color:#008000"><span
                style="font-family:arial,helvetica,sans-serif">(Món quà này thật thú vị!)</span></span></em></span></li>
        <li style="text-align:justify"><span style="font-size:14px"><em><span style="color:#000000"><span
                style="font-family:arial,helvetica,sans-serif">How good it smells! </span></span><span
                style="color:#008000"><span
                style="font-family:arial,helvetica,sans-serif">(Món ăn này có mùi thơm quá!)</span></span></em></span>
        </li>
        <li style="text-align:justify"><span style="font-size:14px"><em><span style="color:#000000"><span
                style="font-family:arial,helvetica,sans-serif">How well (adv) she sings! </span></span><span
                style="color:#008000"><span
                style="font-family:arial,helvetica,sans-serif">(Cô ta hát hay quá!)</span></span></em></span></li>
    </ul>
    <p style="text-align:justify"><span style="font-size:14px"><strong><span style="color:#000000"><span
            style="font-family:arial,helvetica,sans-serif">- How + subject + verb</span></span></strong></span></p>
    <p style="text-align:justify"><span style="font-size:14px"><span style="color:#000000"><span
            style="font-family:arial,helvetica,sans-serif">Eg:</span></span></span></p>
    <ul>
        <li style="text-align:justify"><span style="font-size:14px"><em><span style="color:#000000"><span
                style="font-family:arial,helvetica,sans-serif">How you’ve grown! </span></span><span
                style="color:#008000"><span style="font-family:arial,helvetica,sans-serif">(Cháu lớn nhanh quá!)</span></span></em></span>
        </li>
    </ul></div>