<meta charset="UTF-8">
<div class="item-active" id="item-1">
    <div class="item-title-active">
        <div class="item-title-active-content">I. TỔNG QUAN
        </div>

    </div>
    <div class="item-active-content">
        <p><span><span><strong>Gerund</strong> ( Danh động từ ) và <strong>Infinitives</strong> ( Động từ nguyên mẫu ) là hai dạng của động từ có thể được sử dụng để thay thế cho danh từ trong một câu, thường để chỉ các hành động hơn là chỉ người hay đối tượng.&nbsp;</span></span>
        </p>
    </div>
</div>
<div class="item-active" id="item-2">
    <div class="item-title-active">
        <div class="item-title-active-content">II. DANH ĐỘNG TỪ | GERUND (-ING FORM)
        </div>

    </div>
    <div class="item-active-content">
        <p><span><span><span
        ><strong>1.&nbsp;Khái niệm</strong></span></span></span></p>

        <p><span><span><strong>Gerund</strong>&nbsp;( danh động từ ) là danh từ được hình thành bằng cách thêm đuôi ing vào động từ.</span></span>
        </p>

        <p><em><span><span>Eg: coming, building, teaching…</span></span></em>
        </p>

        <p><span><span><strong>- Phủ định của danh động từ được hình thành bằng cách thêm not vào trước V-ing.</strong></span></span>
        </p>

        <p><em><span><span>Eg: not making, not opening…</span></span></em>
        </p>

        <p><span><span><strong>- Cũng có thể thêm tính từ sở hữu vào trước danh động từ để nói rõ chủ thể thực hiện hành động.</strong></span></span>
        </p>

        <p><em><span><span>Eg: my turning on the air conditioner.</span></span></em></p>

        <p><span style="color:#66cc00"><strong><span
        >2. Cách sử dụng danh động từ ( Gerund )</span></strong></span></p>

        <p><strong><span><span>- Dùng làm chủ ngữ trong câu.</span></span></strong>
        </p>

        <p><em><span><span>Eg: Reading helps you improve your vocabulary.</span></span></em></p>

        <p><strong><span><span>- Dùng làm bổ ngữ cho động từ</span></span></strong>
        </p>

        <p><em><span><span>Eg: Her favorite hobby is collecting stamps. </span><span style="color:#008000">(Sở thích của cô ấy là sưu tầm tem.)</span></span></em>
        </p>

        <p><span><span
        ><strong>- Dùng làm tân ngữ của động từ</strong></span></span></p>

        <p><em><span><span>Eg: He loves surfing the Internet. </span><span
                style="color:#008000">(Anh ấy thích lướt Internet.)</span></span></em></p>

        <p>
            <span><span><strong>- Dùng sau giới từ (on, in, by, at…) và liên từ (after, before, when, while…)</strong></span></span>
        </p>

        <p><span><span>Eg:&nbsp;</span></span></p>

        <p>&nbsp;&nbsp;+
            <span><span><em>Young people are very much interested <strong><u>in</u></strong> travelling.</em></span></span>
        </p>
        <p>
            &nbsp;&nbsp;+ <span><span><em>He cleaned his room <u><strong>before</strong></u> going out with his friends. </em></span></span><span
                style="color:#008000"><span><em>(Anh ấy đã dọn dẹp phòng mình trước khi đi chơi với bạn bè.)</em></span></span>
        </p>

        <p><span><span
        ><strong>- Dùng sau một số động từ và cụm động từ sau</strong>: enjoy, avoid, admit, appreciate, mind, finish, practice, advise, suggest, recommend, postpone, delay, consider, hate, like, love, deny, detest, keep, miss, imagine, mention, risk, recall, risk, quiet, waste (time), forbid, permit, resent, escape, cant’ help, can’t bear / can’t stand, be used to, get used to, look forward to, it’s no use / it’s no good, be busy, be worth…</span></span>
        </p>

        <p><span><span>Eg: </span></span></p>

        <p>&nbsp;&nbsp;+ <em><span><span>They enjoyed working on the boat. </span><span
                style="color:#008000">(Họ rất thích làm việc trên thuyền.)</span></span></em></p>
        <p>&nbsp;&nbsp;+ <em><span><span>The man admitted stealing the company’s money. </span><span
                style="color:#008000">(Người đàn ông ấy thừa nhận ăn cắp tiền của công ty.)</span></span></em>
        </p>
    </div>
</div>
<div class="item-active" id="item-3">
    <div class="item-title-active">
        <div class="item-title-active-content">III. INFINITIVES - ĐỘNG TỪ NGUYÊN MẪU
        </div>

    </div>
    <div class="item-active-content">
        <p><span><span style="color:#66cc00"><strong>1. Khái niệm</strong></span></span></p>

        <p><span><span>Infinitives là hình thức động từ nguyên mẫu.</span></span>
        </p>

        <p><span><span
        ><strong>- Có 2 loại động từ nguyên mẫu:</strong></span></span></p>

        <p>&nbsp;&nbsp;+ <em><span><span>Động từ nguyên mẫu có "to" (to infinitives)&nbsp;</span></span></em></p>
        <p>&nbsp;&nbsp;+ <em><span><span>Động từ nguyên dạng không to (bare infinitives).</span></span></em></p>

        <p><span><span>- Để thuận tiện, người Anh ‘ngầm’ quy ước rằng khi nói ‘động từ nguyên mẫu’ (infinitives) có nghĩa là ‘động từ nguyên mẫu có to’ còn khi muốn nói ‘động từ nguyên mẫu không to’ thì người ta phải nói đầy đủ ‘infinitives without to’.</span></span>
        </p>

        <p><span><span>Eg:</span></span></p>

        <p><em><span><span>&nbsp;&nbsp;+ Infinitive: to learn, to watch, to play…</span></span></em></p>
        <p><em><span><span>&nbsp;&nbsp;+ Bare infinitive: learn, watch, play…</span></span></em>
        </p>

        <p><span><span><strong>- Phủ định của động từ nguyên mẫu được hình thành bằng cách thêm "not" vào trước "to V" hoặc "V".</strong></span></span>
        </p>

        <p><span><span>Eg:&nbsp;</span></span></p>

        <p><em><span><span>&nbsp;&nbsp;+ Infinitive: not to learn, not to watch, not to play…</span></span></em>
        </p>
        <p><em><span><span>&nbsp;&nbsp;+ Bare infinitive: not learn, not watch, not play…</span></span></em></p>

        <p><span><span
                style="color:#66cc00"><strong>2. Cách sử dụng INFINITIVES - Động từ nguyên mẫu</strong></span></span>
        </p>

        <p><span style="color:#ff8c00"><strong><span>a) Động từ nguyên mẫu có to:</span></strong></span>
        </p>
        <p><span><span><strong>- Dùng làm chủ ngữ trong câu:</strong></span></span>
        </p>

        <p><span><span><em>Eg: To learn English well is important to your future job.</em></span></span><span
                style="color:#008000"><span><em> (Học tiếng Anh rất tốt cho công việc tương lai của bạn)</em></span></span>
        </p>

        <p><span><span
        ><strong>- Dùng làm bổ ngữ cho động từ:</strong></span></span></p>

        <p><em><span><span>Eg: The most important thing for you now is to learn hard. </span><span
                style="color:#008000">(Điều quan trọng nhất đối với bạn là học tập chăm chỉ.)</span></span></em>
        </p>

        <p><span><span
        ><strong>- Dùng làm tân ngữ của động từ, tính từ:</strong></span></span></p>

        <p><span><span>Eg: </span></span></p>

        <p><em><span><span>&nbsp;&nbsp;+ He wants to learn English. </span><span
                style="color:#008000">(Anh ấy muốn học tiếng Anh.)</span></span></em></p>
        <p><span><span><em>&nbsp;&nbsp;+ I am pleased to hear that you have passed your exam.</em></span><span
                style="color:#008000"><em> (Tôi mừng khi biết rằng bạn đã vượt qua kỳ thi đó)</em></span></span>
        </p>

        <p><span><span
        ><strong>- Dùng sau hình thức bị động của động từ số 1:</strong></span></span></p>

        <p><span><span
        ><em>Eg: &nbsp;We were made to work overtime yesterday. </em></span></span><span
                style="color:#008000"><span><em>(Chúng tôi đã làm để làm thêm giờ ngày hôm qua.)</em></span></span>
        </p>

        <p><span><span><strong>- Dùng sau động từ số 1 và tân ngữ:</strong></span></span>
        </p>

        <p><em><span><span>Eg: The doctor advised us to take a holiday for a rest.</span></span></em>
        </p>

        <p><span><span
        ><strong>- Dùng sau tân ngữ là các từ để hỏi (trừ why):</strong></span></span></p>

        <p><span><span
        ><em>Eg: We completely didn’t know what to do at that time. </em></span><span
                style="color:#008000"><em>(Chúng tôi hoàn toàn không biết phải làm gì vào thời điểm đó.)</em></span></span>
        </p>

        <p><span><span>- <strong>Dùng sau một số động từ sau</strong>: Agree , aim, arrange, attempt, care, choose, appear, afford, ask, demand, expect, hesitate, intend, invite, want, wish, hope, promise, decide, start, learn, fail, plan, manage, pretend, remind, persuade, encourage, force, order, urge, seem, tend, threaten, wait, intend, mean, happen, manage, …</span></span>
        </p>

        <p><span><span>Eg:&nbsp;</span></span></p>

        <p><span><span><em>&nbsp;&nbsp;+ She agreed to speak before the game.</em></span></span></p>
        <p><span><span><em>&nbsp;&nbsp;+ He appeared to lose his weight.&nbsp;</em></span></span></p>

        <p><span style="color:#ff8c00"><strong><span>CHÚ Ý:</span></strong></span></p>

        <p><span><span>Cả gerund và infinitive đều có thể được dùng làm chủ ngữ, bổ ngữ và tân ngữ của động từ. Tuy nhiên, khi đóng vai trò làm chủ ngữ và bổ ngữ của động từ, gerund thường được sử dụng phổ biến hơn (đặc biệt là trong văn nói), infinitive chỉ được sử dụng khi người nói muốn nhấn mạnh vào mục đích của hành động. (90% động từ làm chủ ngữ và bổ ngữ cho động từ được chia ở dạng gerund).</span></span>
        </p>

        <p><span><span>Eg:</span></span></p>

        <p><em><span><span>&nbsp;&nbsp;+ Learning is important. => phổ biến</span></span></em></p>
        <p><em><span><span>&nbsp;&nbsp;+ To learn is important. => ít phổ biến</span></span></em></p>
        <p><em><span><span>&nbsp;&nbsp;+ The most important thing is learning. => phổ biến</span></span></em>
        </p>
        <p>
            <em><span><span>&nbsp;&nbsp;+ The most important thing is to learn. => ít phổ biến</span></span></em>
        </p>

        <p><span><span>- Việc chia động từ ở gerund hay infinitive khi động từ đóng vai trò làm tân ngữ phụ thuộc vào động từ chính.</span></span>
        </p>

        <p><span><span>Eg: &nbsp;</span></span></p>

        <p><span><span>&nbsp;&nbsp;+ We hate cooking. => hate + Ving</span></span></p>
        <p><span><span>&nbsp;&nbsp;+ We want to eat out. => want + to V</span></span></p>

        <p><strong><span style="color:#ff8c00"><span>b) Động từ nguyên mẫu không to:</span></span></strong></p>

        <p><span><span><strong>- Dùng sau các động từ khuyết thiếu:</strong></span></span>
        </p>

        <p><span><span><em>Eg: I can speak Japanese. </em></span></span><span
                style="color:#008000"><span><em>(Tôi có thể nói tiếng Nhật.)</em></span></span></p>

        <p><span><span
        ><strong>- Chú ý: khuyết thiếu ought to V.</strong></span></span></p>

        <p><span><span><em>Eg: We ought to work hard at this time of the year.</em></span><br>
	<span style="color:#008000"><span><em>Chúng ta phải làm việc chăm chỉ vào thời điểm này trong năm.</em></span></span></span>
        </p>

        <p><span><span><strong>- Dùng trong thể mệnh lệnh thức:</strong></span></span></p>

        <p><span><span><em>Eg: Look at the picture and answer the questions.</em></span></span></p>

        <p><span><span><strong>- Dùng trong một số cấu trúc: would rather, had better+ V và have sb, let sb, make sb + V.</strong></span></span>
        </p>

        <p><span><span>Eg:&nbsp;</span></span></p>

        <p><span><span><em>&nbsp;&nbsp;+ They made him repeat the whole story.</em></span></span></p>
        <p><span><span><em>&nbsp;&nbsp;+ We had the mechanic service our car last week.</em></span></span>
        </p>

        <p><strong><span><span>CHÚ Ý:</span></span></strong></p>

        <p>
            <span><span>- Help có thể dùng cả động từ nguyên dạng có to và động từ nguyên dạng không to ở sau.</span></span>
        </p>

        <p><span><span>Eg: </span></span><em><span><span> They helped us (to) clean our classroom.</span><br>
	<span style="color:#008000"><em><span>Họ đã giúp chúng tôi (để) dọn dẹp lớp học.</span></em></span></span></em>
        </p>

        <p><span><span>- Một số động từ đặc biệt (need, dare) có thể được dùng cả như động từ khuyết thiếu lẫn động từ thường. Khi được dùng như động từ khuyết thiếu, động từ đi sau sẽ để ở nguyên mẫu không to; khi được dùng như động từ thường, động từ đi sau sẽ chia ở nguyên mẫu có to.<br>
Eg:&nbsp;</span></span></p>

        <p><em><span><span>&nbsp;&nbsp;+ We needn’t book in advance</span></span></em></p>
        <p><em><span><span>&nbsp;&nbsp;+ We don’t need to book in advance.</span></span></em></p>
    </div>
</div>
<div class="item-active" id="item-4">
    <div class="item-title-active">
        <div class="item-title-active-content">IV. KHI NÀO DÙNG GERUNDS VÀ KHI NÀO DÙNG INFINITIVES?
        </div>

    </div>
    <div class="item-active-content">
        <p><span><span>Có một số động từ có thể theo sau bởi cả gerunds lẫn infinitives. Trong một số trường hợp, việc động từ thứ 2 chia ở dạng V-ing hay to V không làm thay đổi hoặc chỉ thay đổi không đáng kể nghĩa của động từ chính; trong những trường hợp khác, việc dùng V-ing hay to V có thể làm thay đổi nghĩa của động từ chính.</span></span>
        </p>

        <p><span><span style="color:#66cc00"><u><strong>Không làm thay đổi hoặc thay đổi không đáng kể nghĩa của động từ chính:</strong></u></span></span>
        </p>

        <p>
            <span><span>Các động từ start, begin, continue, love, like, prefer có thể sử dụng cả V-ing lẫn to V theo sau.</span></span>
        </p>

        <p><span><span>Eg:&nbsp;</span></span></p>

        <p><em><span><span>&nbsp;&nbsp;+ I love reading books.</span></span></em></p>
        <p><em><span><span>&nbsp;&nbsp;+ I love to go out with my friends.</span></span></em></p>

        <p><span><span>- Chú ý: Ta dùng like/love/prefer + V-ing hoặc like/love/prefer + to V nhưng would like/would love/would prefer + to V.<br>
- Chú ý: Ta có thể nói She began laughing/to laugh. They are beginning to shout nhưng thường không nói They are beginning shouting.</span></span>
        </p>

        <p><span><strong><u><span
                style="color:#66cc00">&nbsp;Làm thay đổi nghĩa của động từ chính:</span></u></strong></span></p>

        <p><span><span>=> <strong>remember / forget + V-ing</strong>: nhớ / quên việc đã xảy ra rồi (trong quá khứ)<br>
=> <strong>remember / forget + to V</strong>: nhớ / quên việc chưa, sắp xảy ra (trong tương lai)</span></span></p>

        <p><span><span>Eg:&nbsp;</span></span></p>

        <p><em><span><span>&nbsp;&nbsp;+ Remeber to turn off the light before leaving home.</span></span></em></p>
        <p><em><span><span>&nbsp;&nbsp;+ I remember meeting you before.</span></span></em>
        </p>

        <p><span><span>=> <strong>stop + V-ing:</strong> dừng việc đang làm lại<br>
=> <strong>stop + to V</strong>: dừng lại để chuyển sang việc khác</span></span></p>

        <p><span><span>Eg:</span></span></p>

        <p><span><span><em>&nbsp;&nbsp;+ We stopped talking when the teacher came in.</em></span></span></p>
        <p>
            <span><span><em>&nbsp;&nbsp;+ On the way home, I stopped at the post office to buy a newspaper.</em></span></span>
        </p>

        <p><span><span>=> <strong>try + V-ing</strong>: thử làm gì<br>
=> <strong>try + to V:</strong> cố gắng làm gì</span></span></p>

        <p><span><span>Eg:</span></span></p>

        <p>
            <em><span><span>&nbsp;&nbsp;+ You can try mixing these two ingredients together and see what will happen</span></span></em>
        </p>
        <p><span><span><em>&nbsp;&nbsp;+ You should try to improve your listening skill.</em></span></span></p>

        <p><span><span>=> <strong>regret + V-ing</strong>: hối tiếc rằng đã làm gì<br>
=> <strong>regret + to V</strong>: tiếc rằng sắp phải làm gì (thông báo tin xấu)<br>
Eg:&nbsp;</span></span></p>

        <p><em><span><span>&nbsp;&nbsp;+ I regret being rude to him yesterday.</span></span></em>
        </p>
        <p>
            <em><span><span>&nbsp;&nbsp;+ I regret to inform you that your application has been denied.</span></span></em>
        </p>

        <p><span><span>=> <strong>need + V-ing = need + to be P2</strong>: cần được (bị động)<br>
=> <strong> need + to V</strong>: cần (chủ động)<br>
Eg: &nbsp;</span></span></p>

        <p><em><span><span>&nbsp;&nbsp;+ I need to wash my car.</span></span></em></p>
        <p><span><span><em>&nbsp;&nbsp;+ My car is very dirty. It needs washing.</em></span></span>
        </p>

        <p><span><span>=> <strong>refuse + V-ing</strong>: phủ nhận là đã làm gì (hành động đã xảy ra rồi)<br>
=> <strong>refuse + to V</strong>: từ chối không muốn làm gì (hành động sẽ không xảy ra)</span></span></p>

        <p><span><span>Eg:&nbsp;</span></span></p>

        <p><em><span><span>&nbsp;&nbsp;+ He refused going out with her last night.</span></span></em></p>
        <p><em><span><span>&nbsp;&nbsp;+ He refused to lend me some money.</span></span></em></p>

        <p><span><span>=> <strong>go on + V-ing</strong>: tiếp tục việc đang làm<br>
=> <strong>go on + to V</strong>: tiếp tục một việc mới sau khi hoàn thành việc đang làm</span></span></p>

        <p><span><span>Eg: </span></span></p>

        <p>
            <em><span><span>&nbsp;&nbsp;+ After finishing her BA, she went on to get a master’s degree.</span></span></em>
        </p>
        <p><span><span><em>&nbsp;&nbsp;+ She went on watching TV</em></span></span></p>

        <p><span><span>=> <strong>mean + V-ing</strong>: có nghĩa là, có liên quan đến<br>
=> <strong>mean + to V</strong>: có chủ ý, có kế hoạch làm gì<br>
Eg: </span></span></p>

        <p><em><span><span
        >&nbsp;&nbsp;+ Working harder means getting more money.</span></span></em></p>
        <p><span><span><em>&nbsp;&nbsp;+ He meant to move the Newcastle</em></span></span>
        </p>

        <p><span><span>=> <strong>Dùng sau các động từ chỉ tri giác và tân ngữ</strong>: hear, sound, smell, taste, feel, watch, notice, see, listen, find .. + O + V-ing để chỉ khoảnh khắc hành động đang diễn ra.<br>
=> <strong>Dùng sau các động từ chỉ tri giác và tân ngữ</strong>: hear, sound, smell, taste, feel, watch, notice, see, listen, find .. + O + V để chỉ sự hoàn tất của hành động – nghe hoặc thấy toàn bộ sự việc diễn ra<br>
Eg:</span></span></p>

        <p><span><span
        ><em>&nbsp;&nbsp;+ When I entered the room, I found him reading a book</em></span></span></p>
        <p><span><span
        ><em>&nbsp;&nbsp;+ I saw her go with a strange man yesterday.</em></span></span></p>
    </div>
</div>
