<meta charset="UTF-8">
<div class="item-active" id="item-1">
    <div class="item-title-active">
        <div class="item-title-active-content">I. ĐỊNH NGHĨA VỀ ĐỘNG TỪ KHIẾM KHUYẾT ( MODAL VERBS )
        </div>

    </div>
    <div class="item-active-content">
        <p><span><span>- <strong>Động từ khiếm khuyết</strong>&nbsp;là loại động từ đặc biệt chỉ đi kèm và thực hiện chức năng bổ trợ cho động từ chính trong câu chứ không đứng một mình như một động từ chính trong câu.</span></span>
        </p>

        <p><strong><span><span
        >- Các động từ khiếm khuyết trong tiếng Anh:</span></span></strong></p>

        <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
            <tbody>
            <tr>
                <td style="text-align:center"><span><span>Can</span></span></td>
                <td style="text-align:center"><span><span>Could</span></span></td>
                <td style="text-align:center"><span><span>May</span></span></td>
                <td style="text-align:center"><span><span>Might</span></span></td>
                <td style="text-align:center"><span><span>Must</span></span></td>
            </tr>
            <tr>
                <td style="text-align:center"><span><span>Ought to</span></span>
                </td>
                <td style="text-align:center"><span><span
                >Should&nbsp;</span></span></td>
                <td style="text-align:center"><span><span>Shall</span></span></td>
                <td style="text-align:center"><span><span>Would</span></span></td>
                <td style="text-align:center"><span><span>will</span></span></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="item-active" id="item-2">
    <div class="item-title-active">
        <div class="item-title-active-content">II. CẤU TẠO CHUNG CỦA ĐỘNG TỪ KHIẾM KHUYẾT
        </div>

    </div>
    <div class="item-active-content">
        <p><span style="color:#66cc00"><strong><span>1. Cấu tạo chung</span></strong></span></p>

        <p style="text-align:center"><span
                style="font-size:20px"><strong><span>S + Modal Verbs + V(bare-infinitive)</span></strong></span>
        </p>


        <p><span><span>&nbsp;&nbsp;+ (bare-infinitive: động từ nguyên thể không “to”)</span></span>
        </p>


        <p><span><span>Eg:&nbsp;</span></span></p>


        <p><em>&nbsp;&nbsp;+ <span><span
        >They <u><strong>can</strong></u> <u><strong>speak</strong></u> French and English. </span><span
                style="color:#008000">(Họ có thể nói tiếng Pháp và tiếng Anh.)</span></span></em></p>


        <p><span style="color:#66cc00"><strong><span
        >2. Không biến đổi dạng thứ trong các ngôi.</span></strong></span></p>

        <p><span><span>Eg:&nbsp;</span></span></p>


        <p><em>&nbsp;&nbsp;+ <span><span
        >He <u><strong>can</strong></u> use our phone. (He <s>cans</s> use your phone)</span><br>
	<span style="color:#008000">Anh ấy có thể sử dụng điện thoại của chúng tôi.&nbsp;</span></span></em></p>


        <p><span
                style="color:#66cc00"><strong><span>3. Tồn tại ở thì Hiện tại và thì Quá khứ đơn.</span></strong></span>
        </p>

        <p><span><span>Eg:</span></span></p>


        <p><em>&nbsp;&nbsp;+ <span><span>She <u><strong>can</strong></u> cook meals. </span><span
                style="color:#008000">(Cô ấy có thể nấu ăn.)</span></span></em></p>
        <p><em>&nbsp;&nbsp;+
            <span><span>She <u><strong>could</strong></u> cook meals when she was twelve. </span><span
                    style="color:#008000">(Cô có thể nấu các bữa ăn khi cô mười hai tuổi.)</span></span></em></p>

    </div>
</div>
<div class="item-active" id="item-3">
    <div class="item-title-active">
        <div class="item-title-active-content">III. CÁC ĐỘNG TỪ KHIẾM KHUYẾT THƯỜNG GẶP
        </div>

    </div>
    <div class="item-active-content">
        <p><strong><span style="color:#66cc00"><span>1. CAN</span></span></strong></p>

        <p><span><span>- CAN chỉ có 2 thì: Hiện tại và Quá khứ đơn. Những hình thức khác ta dùng động từ tương đương “be able to”. CAN cũng có thể được dùng như một trợ động từ để hình thành một số cách nói riêng.</span></span>
        </p>

        <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
            <tbody>
            <tr>
                <td style="text-align:center"><span style="color:#ff8c00"><strong><span
                >Cách sử dụng</span></strong></span></td>
                <td style="text-align:center"><span style="color:#ff8c00"><strong><span
                >Ví Dụ</span></strong></span></td>
            </tr>
            <tr>
                <td><span><span>- <strong>CAN</strong> và <strong>COULD</strong> có nghĩa là “có thể”, diễn tả một khả năng (ability).</span></span>
                </td>
                <td>
                    <p><em>&nbsp;&nbsp;+ <span><span><u><strong>Can</strong></u> you swim? </span><br>
				<span style="color:#008000">( Bạn biết bơi không? )</span></span></em></p>
                    <p><em>&nbsp;&nbsp;+ <span><span>She <u><strong>could</strong></u> ride a bicycle when she was five years old. </span><br>
				<span style="color:#008000">(Cô ấy có thể đi xe đạp khi cô ấy được 5 tuổi.)</span></span></em></p>

                </td>
            </tr>
            <tr>
                <td><span><span
                >- Trong văn nói (colloquial speech), <strong>CAN</strong> được dùng thay cho MAY để diễn tả một sự cho phép (permission) và thể phủ định <strong>CANNOT</strong> được dùng để diễn tả một sự cấm đoán (prohibition).</span></span>
                </td>
                <td>
                    <p><em>&nbsp;&nbsp;+ <span><span>In London buses you <u><strong>can</strong></u> smoke on the upper deck, but you <u><strong>can’t</strong></u> smoke downstairs.</span><br>
				<span style="color:#008000">(<span>Ở London,trên xe buýt bạn có thể hút thuốc ở tầng thượng, nhưng bạn không thể hút thuốc ở tầng dưới.)</span></span></span></em>
                    </p>
                </td>
            </tr>
            <tr>
                <td><span><span>- <strong>CAN</strong> cũng diễn tả một điều có thể xảy đến (possibility). Trong câu hỏi và câu cảm thán CAN có nghĩa là ‘Is it possible…?’</span></span>
                </td>
                <td>
                    <p><em>&nbsp;&nbsp;+ <strong><u><span><span>Can</span></span></u></strong><span><span
                    > it be true? </span><br>
				<span style="color:#008000">(Đó có phải là sự thật không?)</span></span></em></p>
                </td>
            </tr>
            <tr>
                <td><span><span>- <strong>CANNOT</strong> được dùng để diễn tả một điều khó có thể xảy ra (virtual impossibility)</span></span>
                </td>
                <td>
                    <p><em>&nbsp;&nbsp;+
                        <span><span>He can’t have missed the way. I explained the route carefully. </span><br>
				<span style="color:#008000">(Anh ấy không thể bỏ lỡ cơ hội. Tôi đã giải thích tuyến đường cẩn thận.)</span></span></em>
                    </p>
                </td>
            </tr>
            <tr>
                <td><span><span>- Khi dùng với động từ tri giác (verbs of perception) <strong>CAN</strong> cho ý nghĩa tương đương với thì Tiếp diễn (Continuous Tense).</span></span>
                </td>
                <td>
                    <p><em>&nbsp;&nbsp;+ <span><span
                    >Listen! I think I <u><strong>can</strong></u> hear the sound of the sea.<br>
				(không dùng I am hearing)</span><br>
				<span style="color:#008000"><span>Nghe! Tôi nghĩ rằng tôi có thể nghe thấy âm thanh của biển.</span></span></span></em>
                    </p>
                </td>
            </tr>
            </tbody>
        </table>

        <p><span style="color:#66cc00"><strong><span>2. COULD</span></strong></span></p>

        <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
            <tbody>
            <tr>
                <td style="text-align:center"><span style="color:#ff8c00"><strong><span
                >Cách Sử Dụng</span></strong></span></td>
                <td style="text-align:center"><span style="color:#ff8c00"><strong><span
                >Ví Dụ</span></strong></span></td>
            </tr>
            <tr>
                <td><span><span>- <strong>COULD</strong> là thì quá khứ đơn của CAN.</span></span>
                </td>
                <td>
                    <p><em>&nbsp;&nbsp;+
                        <span><span>She <u><strong>could</strong></u> swim when she was five. </span><br>
				<span style="color:#008000">Cô ấy có thể bơi khi cô ấy năm tuổi.</span></span></em></p>
                </td>
            </tr>
            <tr>
                <td><span><span>- <strong>COULD </strong>còn được dùng trong câu điều kiện.</span></span>
                </td>
                <td>
                    <p><em>&nbsp;&nbsp;+ <span><span
                    >If you tried, you <u><strong>could</strong></u> do that work.&nbsp;</span></span><br>
                        <span style="color:#008000"><span>Nếu bạn cố gắng, bạn có thể làm được việc đó</span></span></em>
                    </p>
                </td>
            </tr>
            <tr>
                <td><span><span>- Trong cách nói thân mật, <strong>COULD </strong>được xem như nhiều tính chất lịch sự hơn <strong>CAN</strong>.</span></span>
                </td>
                <td>
                    <p><em>&nbsp;&nbsp;+ <span><span><u><strong>Can</strong></u> you change a 20-dollar note for me, please? </span><br>
				<span style="color:#008000">Bạn làm ơn đổi cho tôi 20 đô la?</span></span></em></p>
                    <p>
                        <em><span><span><u><strong>Could</strong></u> you tell me the right time, please?</span></span></em>
                    </p>
                </td>
            </tr>
            <tr>
                <td><span><span>- <strong>COULD</strong> được dùng để diển tả một sự ngờ vực hay một lời phản kháng nhẹ nhàng.</span></span>
                </td>
                <td>&nbsp;
                    <p><span>&nbsp;&nbsp;+ <em><span>His story <strong><u>could</u></strong> be true, but I hardly think it is. </span></em></span><br>
                        <span style="color:#008000"><em><span>(Câu chuyện của anh ta có thể đúng, nhưng tôi hầu như không nghĩ là như vậy.)</span></em></span>
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><span><span>- <strong>COULD – WAS/WERE ABLE TO</strong>:<br>
			+ Nếu hành động diễn tả một khả năng, một kiến thức, <strong>COULD</strong> được dùng thường hơn WAS/WERE ABLE TO.</span></span>
                    </p>

                    <p><span><span>+&nbsp;Nếu câu nói hàm ý một sự thành công trong việc thực hiện hành động (succeeded in doing) thì <strong>WAS/WERE ABLE TO</strong> được sử dụng chứ không phải <strong>COULD</strong>.</span></span>
                    </p>
                </td>
                <td>
                    <p><em>&nbsp;&nbsp;+ <span
                            style="color:#000000; font-size:16px">The door was locked, and I <u><strong>couldn’t </strong></u>open it. </span><br>
                        <span style="color:#008000"><span
                        >Cửa đã bị khóa, và tôi không thể mở nó.</span></span></em></p>
                    <p><em>&nbsp;&nbsp;+ <span><span
                    >I finished my work early and so <u><strong>was able to</strong></u> go to the pub with my friends.&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span><br>
				<span style="color:#008000">Tôi đã hoàn thành công việc của tôi sớm và vì vậy đã có thể đi đến quán rượu với bạn bè của tôi.</span></span></em>
                    </p>
                </td>
            </tr>
            </tbody>
        </table>

        <div>&nbsp;</div>

        <div><span style="color:#66cc00"><strong><span>3. MAY - MIGHT</span></strong></span></div>

        <div>&nbsp;</div>

        <div>
            <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
                <tbody>
                <tr>
                    <td style="text-align:center"><span style="color:#ff8c00"><strong><span
                    >Cách Sử Dụng</span></strong></span></td>
                    <td style="text-align:center"><span style="color:#ff8c00"><strong><span>Ví Dụ</span></strong></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span><span>- MAY và dạng quá khứ MIGHT diễn tả sự xin phép, cho phép (permission).</span></span>
                    </td>
                    <td>
                        <p><em>&nbsp;&nbsp;+ <span><span><u><strong>May</strong></u> I take this book? – Yes, you may. </span><br>
				<span style="color:#008000">Tôi có thể lấy cuốn sách này không? - Vâng! Bạn lấy đi</span></span></em>
                        </p>
                        <p><span><span
                        ><em>&nbsp;&nbsp;+ She asked if she <u><strong>might</strong></u> go to the party.</em></span></span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td><span><span>- <strong>MAY/MIGHT</strong> dùng diễn tả một khả năng có thể xảy ra hay không thể xảy ra.</span></span>
                    </td>
                    <td>
                        <p><em>&nbsp;&nbsp;+ <span><span>It <u><strong>may</strong></u> rain. </span><br>
				<span style="color:#008000">(Có thể trời mưa)</span></span></em></p>
                        <p><span><span
                        ><em>&nbsp;&nbsp;+ He admitted that the news <u><strong>might</strong></u> be true.</em></span></span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td><span><span
                    >- Dùng trong câu cảm thán, <strong>MAY/MIGHT</strong> diễn tả một lời cầu chúc.</span></span>
                    </td>
                    <td>
                        <p><em>&nbsp;&nbsp;+
                            <span><span><u><strong>May</strong></u> all your dreams come true!</span><br>
				<span style="color:#008000">Có thể tất cả những giấc mơ của bạn trở thành sự thật!</span></span></em>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td><span><span>- <strong>MAY/MIGHT</strong> dùng trong mệnh đề theo sau các động từ hope (hy vọng) và trust (tin tưởng).</span></span>
                    </td>
                    <td>
                        <p><em>&nbsp;&nbsp;+ <span><span>I trust (hope) that you <u><strong>may</strong></u> find this information useful</span><br>
				<span style="color:#008000"><span>Tôi hi vọng bạn sẽ thấy những thông tin này hữu ích</span></span></span></em>
                        </p>
                        <p><span><span
                        ><em>&nbsp;&nbsp;+ He trust (hoped) that we <u><strong>might</strong></u> find the plan to our satisfaction.</em></span></span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td><span><span>- <strong>MAY/MIGHT</strong> dùng thay cho một mệnh đề trạng ngữ chỉ sự nhượng bộ (adverb clauses of concession).</span></span>
                    </td>
                    <td>
                        <p><em>&nbsp;&nbsp;+ <span><span>He <u><strong>may</strong></u> be poor, but he is honest. (Though he is poor…)</span><br>
				<span style="color:#008000">Anh ấy có thể là người nghèo, nhưng anh ấy là người trung thực. (Mặc dù anh ta nghèo ...)</span></span></em>
                        </p>
                        <p><em>&nbsp;&nbsp;+ <span><span>Try as he <u><strong>might</strong></u>, he could not pass the examination. (Though he tried hard…)</span><br>
				<span style="color:#008000">Cố gắng hết sức có thể, anh ta không thể vượt qua kỳ kiểm tra. (Mặc dù anh ấy đã cố gắng ...)</span></span></em>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td><span><span>- <strong>MAY/MIGHT</strong> thường được dùng trong mệnh đề trạng ngữ chỉ mục đích (adverb clauses of purpose). Trong trường hợp này người ta cũng thường dùng CANCOULD để thay cho MAY/MIGHT</span></span>
                    </td>
                    <td>
                        <p><em>&nbsp;&nbsp;+ <span><span
                        >She was studying so /that she <u><strong>might</strong></u> read English books. </span><br>
				<span style="color:#008000">( Cô ấy đang học để có thể đọc sách tiếng Anh. )&nbsp;</span></span></em>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td><br>
                        <span><span>- <strong>MIGHT</strong> (không dùng MAY) đôi khi được dùng trong câu để diễn tả một lời trách mắng có tính hờn dỗi (petulant reproach).</span></span>
                    </td>
                    <td>
                        <p><em>&nbsp;&nbsp;+ <span><span>You <u><strong>might</strong></u> listen when I am talking to you.</span><span
                                style="color:#008000">(Làm ơn ráng mà lắng nghe tôi nói)</span></span></em></p>
                        <p><em>&nbsp;&nbsp;+ <span><span>You <u><strong>might</strong></u> try to be a little more helpful.</span><br>
				<span style="color:#008000">(Làm ơn ráng mà tỏ ra có ích một chút)</span></span></em></p>
                    </td>
                </tr>
                </tbody>
            </table>

            <p><span style="color:#66cc00"><strong><span>4. MUST</span></strong></span></p>

            <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
                <tbody>
                <tr>
                    <td style="text-align:center"><span style="color:#ff8c00"><strong><span
                    >Cách Sử Dụng</span></strong></span></td>
                    <td style="text-align:center"><span style="color:#ff8c00"><strong><span>Ví Dụ</span></strong></span>
                    </td>
                </tr>
                <tr>
                    <td><span><span>- <strong>MUST</strong> có nghĩa là “phải” diễn tả một mệnh lệnh hay một sự bắt buộc.</span></span>
                    </td>
                    <td>
                        <p><span><span><em>&nbsp;&nbsp;+ You <u><strong>must</strong></u> drive on the left in London.</em></span><span
                                style="color:#008000"><em>(Bạn phải lái xe ở bên trái tại London.)</em></span></span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td><span><span>- <u><strong>MUST</strong></u> dùng trong câu suy luận logic.</span></span>
                    </td>
                    <td>
                        <p>
                            <span><span><em>&nbsp;&nbsp;+ Are you going home at midnight? You <u><strong>must</strong></u> be mad!&nbsp;</em></span></span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td><span><span>- <u><strong>MUST NOT (MUSTN’T)</strong></u> diễn tả một lệnh cấm.</span></span>
                    </td>
                    <td>
                        <p><span><span><em>&nbsp;&nbsp;+ You <u><strong>mustn’t</strong></u> walk on the grass. </em></span><br>
				<span style="color:#008000"><em>(Bạn không được đi bộ trên cỏ.)</em></span></span></p>
                    </td>
                </tr>
                <tr>
                    <td><span><span>- Khi muốn diễn tả thể phủ định của <u><strong>MUST</strong></u> với ý nghĩa “không cần thiết” người ta sử dụng NEED NOT (NEEDN’T).</span></span>
                    </td>
                    <td>
                        <p><span><span><em>&nbsp;&nbsp;+ <u><strong>Must</strong></u> I do it now? – No, you needn’t. Tomorrow will be soon enough.</em></span><br>
				<span style="color:#008000"><em>(Tôi phải làm ngay bây giờ chứ? Không ngày mai vẫn còn sớm chán nên không cần phải làm bây giờ đâu)</em></span></span>
                        </p>
                    </td>
                </tr>
                </tbody>
            </table>

            <p>&nbsp;</p>
        </div>

        <p><span style="color:#66cc00"><strong><span>5.SHALL</span></strong></span></p>

        <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
            <tbody>
            <tr>
                <td style="text-align:center"><span style="color:#ff8c00"><strong><span
                >Cách Sử Dụng</span></strong></span></td>
                <td style="text-align:center"><span style="color:#ff8c00"><strong><span
                >Ví dụ</span></strong></span>
                </td>
            </tr>
            <tr>
                <td><span><span>– Dùng trong cấu trúc thì Tương lai (Simple Future) ở ngôi thứ nhất.</span></span>
                </td>
                <td>
                    <p>
                        <span><span><em>&nbsp;&nbsp;+ I <u><strong>shall</strong></u> do what I like.</em></span></span>
                    </p>
                </td>
            </tr>
            <tr>
                <td><span><span>-&nbsp;Diễn tả một lời hứa (promise), một sự quả quyết (determination) hay một mối đe dọa (threat).</span></span>
                </td>
                <td>
                    <p><em><span><span>&nbsp;&nbsp;+ If you work hard, you <u>shall</u> have a holiday on Saturday. (<u><strong>promise</strong></u>)</span></span></em>
                    </p>
                    <p><em><span><span>&nbsp;&nbsp;+ He <u>shall</u> suffer for this; he shall pay you what he owes you. (<u><strong>threat</strong></u>)</span></span></em>
                    </p>
                    <p><em><span><span>&nbsp;&nbsp;+ These people want to buy my house, but they <u>shan’t</u> have it. (<u><strong>determination</strong></u>)</span></span></em>
                    </p>
                </td>
            </tr>
            </tbody>
        </table>

        <p><span style="color:#66cc00"><strong><span>6.&nbsp;SHOULD</span></strong></span></p>

        <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
            <tbody>
            <tr>
                <td style="text-align:center"><span style="color:#ff8c00"><strong><span
                >Cách Sử Dụng</span></strong></span></td>
                <td style="text-align:center"><span style="color:#ff8c00"><strong><span
                >Ví Dụ</span></strong></span>
                </td>
            </tr>
            <tr>
                <td><span><span>– Dùng trong câu khuyên ai đó nên làm gì, và tương đương với ought to.</span></span>
                </td>
                <td>
                    <p><em><span><span>&nbsp;&nbsp;+ You <u><strong>should</strong></u> do what the teacher tells you. (Bạn nên làm theo những gì giáo viên nói với bạn.)</span></span></em>
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <span><span>– Dùng thay cho must khi không muốn diễn tả một ý nghĩa quá bắt buộc ai đó phải làm gì.</span></span>
                </td>
                <td><span><span>Members who want tickets for the dance should apply before September 1st to the Secretary.</span></span>
                </td>
            </tr>
            </tbody>
        </table>

        <p><span style="color:#66cc00"><strong><span>7.&nbsp;WILL:</span></strong></span></p>

        <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
            <tbody>
            <tr>
                <td style="text-align:center"><span style="color:#ff8c00"><strong><span
                >Cách Sử Dụng</span></strong></span></td>
                <td style="text-align:center"><span style="color:#ff8c00"><strong><span
                >Ví Dụ</span></strong></span>
                </td>
            </tr>
            <tr>
                <td><span><span>– Được dùng ở thì Tương lai (simple future), diễn tả một kế hoạch (plan), sự mong muốn (willingness), một lời hứa (promise) hay một sự quả quyết (determination).</span></span>
                </td>
                <td>
                    <p>
                        <em><span><span>&nbsp;&nbsp;+ All right; I <u>will</u> pay you at the rate you ask. (<u><strong>willingness</strong></u>).&nbsp;<br>
				Được rồi; Tôi sẽ trả cho bạn theo tỷ lệ bạn yêu cầu.&nbsp;</span></span></em></p>
                    <p><span><span><em>&nbsp;&nbsp;+ I won’t forget little Margaret’s birthday. I <u>will</u> send her a present. (<u><strong>promise</strong></u>).&nbsp;<br>
				Tôi sẽ không quên ngày sinh nhật của Margaret. Tôi sẽ gửi cho cô một món quà.</em></span></span></p>
                </td>
            </tr>
            <tr>
                <td><span><span>– Dùng trong câu đề nghị.</span></span></td>
                <td>
                    <p><em><span><span>&nbsp;&nbsp;+ <u><strong>Will</strong></u><strong> </strong>you shut the door? (Bạn sẽ đóng cửa?)</span></span></em>
                    </p>
                </td>
            </tr>
            </tbody>
        </table>

        <p><strong><span style="color:#66cc00"><span>8.&nbsp;WOULD</span></span></strong></p>

        <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
            <tbody>
            <tr>
                <td style="text-align:center"><span style="color:#ff8c00"><strong><span
                >Cách Sử Dụng</span></strong></span></td>
                <td style="text-align:center"><span style="color:#ff8c00"><strong><span
                >Ví Dụ</span></strong></span>
                </td>
            </tr>
            <tr>
                <td><span><span>– Dùng để hình thành thì Tương lai trong quá khứ (future in the past) hay các thì trong câu điều kiện.</span></span>
                </td>
                <td>
                    <p><em><span><span>&nbsp;&nbsp;+ He said he <u><strong>would</strong></u> send it to me, but he didn’t. (Anh ấy nói anh ấy sẽ gửi nó cho tôi, nhưng anh ấy không gửi.)</span></span></em>
                    </p>
                    <p><em><span><span>&nbsp;&nbsp;+ If she were here, she <u><strong>would</strong></u> help us. (Nếu cô ấy ở đây, cô ấy sẽ giúp chúng tôi.)</span></span></em>
                    </p>
                    <p><em><span><span>&nbsp;&nbsp;+ He <u><strong>would</strong></u> have been very happy if he had known about it. (Anh ấy sẽ rất hạnh phúc nếu anh ấy biết về nó.)</span></span></em>
                    </p>
                </td>
            </tr>
            <tr>
                <td><span><span>– Diễn tả một thói quen trong quá khứ. Với nghĩa này, WOULD có thể dùng thay cho used to.</span></span>
                </td>
                <td>
                    <p><em><span><span>&nbsp;&nbsp;+ Every day he <u><strong>would</strong></u> get up at six o’clock and light the fire.</span></span></em>
                    </p>
                </td>
            </tr>
            </tbody>
        </table>

        <p>&nbsp;</p>

        <p><span style="color:#66cc00"><strong><span>9.&nbsp;OUGHT TO</span></strong></span></p>

        <p><span><span><strong>OUGHT TO</strong> có nghĩa là “nên”, gần giống với should. Trong hầu hết các trường hợp OUGHT TO có thể được thay thế bằng should.<br>
Eg:</span></span></p>

        <p><span><span><em>&nbsp;&nbsp;+ They <u><strong>ought to</strong></u> (should) pay the money. (Họ nên (nên) trả tiền.)</em></span></span>
        </p>
        <p><em><span><span>&nbsp;&nbsp;+ He <u><strong>ought to</strong></u> (should) be ashamed of himself. (Anh ta nên xấu hổ với chính mình.)</span></span></em>
        </p>

        <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
            <tbody>
            <tr>
                <td style="text-align:center"><span style="color:#ff8c00"><strong><span
                >Cách Sử Dụng</span></strong></span></td>
                <td style="text-align:center"><span style="color:#ff8c00"><strong><span
                >Ví Dụ</span></strong></span>
                </td>
            </tr>
            <tr>
                <td><span><span><strong>OUGHT TO</strong> cũng dùng để diễn tả một sự gần đúng, rất có thể đúng (strong probability).</span></span>
                </td>
                <td>
                    <p><span><span><em>If Alice left home at 9:00, she <u><strong>ought to</strong></u> be here any minute now.</em></span></span>
                    </p>
                </td>
            </tr>
            <tr>
                <td><span><span><strong>OUGHT TO</strong> có thể dùng trong tương lai với các từ xác định thời gian tương lai như tomorrow, next Tuesday…</span></span>
                </td>
                <td>
                    <p>
                        <span><span><em>Our team <u><strong>ought to</strong></u> win the match tomorrow.</em></span></span>
                    </p>
                </td>
            </tr>
            <tr>
                <td><span><span><strong>OUGHT NOT TO HAVE + past participle</strong> diễn tả một sự không tán đồng về một hành động đã làm trong quá khứ.</span></span>
                </td>
                <td>
                    <p><span><span
                    ><em>You <u><strong>ought not to</strong></u> have spent all that money on such a thing.</em></span></span>
                    </p>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
