<meta charset="UTF-8">
<div class="item-active" id="item-1">
    <div class="item-title-active">
        <div class="item-title-active-content">I. ĐẠI TỪ&nbsp; TRONG TIẾNG ANH LÀ GÌ?
        </div>

    </div>
    <div class="item-active-content">
        <p><span ><span ><strong>Đại từ trong tiếng Anh</strong>&nbsp;là từ thay thế cho danh từ trong câu, tránh sự lặp lại danh từ. Với nhiều chức năng khác nhau, đại từ trong tiếng Anh được phân ra các loại chính như sau: Đại từ nhân xưng (Personal pronouns), đại từ sở hữu (Possessive pronoun), đại từ phản thân (reflexive pronouns)&nbsp;và đại từ nhấn mạnh.</span></span>
        </p>
    </div>
</div>
<div class="item-active" id="item-2">
    <div class="item-title-active">
        <div class="item-title-active-content">II. ĐẠI TỪ NHÂN XƯNG
        </div>

    </div>
    <div class="item-active-content">
        <p><span ><span >Đại từ nhân xưng gồm đại từ chủ ngữ (Subject pronoun) và đại từ tân ngữ (Object pronoun)</span></span>
        </p>

        <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
            <tbody>
            <tr>
                <td style="text-align:center">&nbsp;</td>
                <td colspan="2" rowspan="1" style="text-align:center"><span style="color:#ff8c00"><span
                        ><strong>Số ít</strong></span></span></td>
                <td colspan="2" rowspan="1" style="text-align:center"><span style="color:#ff8c00"><span
                        ><strong>Số nhiều</strong></span></span></td>
            </tr>
            <tr>
                <td style="text-align:center">&nbsp;</td>
                <td style="text-align:center"><span ><span ><strong>Đại từ làm chủ ngữ</strong></span></span>
                </td>
                <td style="text-align:center"><span ><span ><strong>Đại từ làm tân ngữ</strong></span></span>
                </td>
                <td style="text-align:center"><span ><span ><strong>Đại từ làm chủ ngữ</strong></span></span>
                </td>
                <td style="text-align:center"><span ><span ><strong>Đại từ làm tân ngữ</strong></span></span>
                </td>
            </tr>
            <tr>
                <td style="text-align:center"><span style="color:#ff8c00"><span
                        ><strong>Ngôi 1</strong></span></span></td>
                <td style="text-align:center"><span ><span >I</span></span>
                </td>
                <td style="text-align:center"><span ><span >Me</span></span>
                </td>
                <td style="text-align:center"><span ><span >We</span></span>
                </td>
                <td style="text-align:center"><span ><span >Us</span></span>
                </td>
            </tr>
            <tr>
                <td style="text-align:center"><span style="color:#ff8c00"><span
                        ><strong>Ngôi 2</strong></span></span></td>
                <td style="text-align:center"><span ><span >You</span></span>
                </td>
                <td style="text-align:center"><span ><span >You</span></span>
                </td>
                <td style="text-align:center"><span ><span >You</span></span>
                </td>
                <td style="text-align:center"><span ><span >You</span></span>
                </td>
            </tr>
            <tr>
                <td style="text-align:center"><span style="color:#ff8c00"><span
                        ><strong>Ngôi 3</strong></span></span></td>
                <td>
                    <p style="text-align:center"><span ><span
                            >He</span></span></p>

                    <p style="text-align:center"><span ><span
                            >She</span></span></p>

                    <p style="text-align:center"><span ><span
                            >It</span></span></p>
                </td>
                <td>
                    <p style="text-align:center"><span ><span
                            >Him</span></span></p>

                    <p style="text-align:center"><span ><span
                            >Her</span></span></p>

                    <p style="text-align:center"><span ><span
                            >It</span></span></p>
                </td>
                <td>
                    <p style="text-align:center"><span ><span
                            >They</span></span></p>

                    <p style="text-align:center">&nbsp;</p>

                    <p style="text-align:center">&nbsp;</p>
                </td>
                <td>
                    <p style="text-align:center"><span ><span
                            >Them</span></span></p>

                    <p style="text-align:center">&nbsp;</p>

                    <p>&nbsp;</p>
                </td>
            </tr>
            </tbody>
        </table>

        <p><span style="color:#ff8c00"><span ><strong>Cách Dùng Đại Từ Nhân Xưng</strong></span></span>
        </p>

        <p><span ><span >- Đại từ nhân xưng được dùng để thay thế cho danh từ khi không cần thiết sử dụng hoặc lặp lại chính xác danh từ hoặc cụm danh từ đó.</span></span>
        </p>

        <p><span ><span >Eg:&nbsp;</span></span></p>

        
            <p><span ><em><span
                    >&nbsp;&nbsp;+ John’s broken his leg.&nbsp;<u><strong>He’ll</strong></u>&nbsp;be in hospital for a few days. </span></em></span><br>
                <span style="color:#008000"><em><span >(John bị gãy chân. Anh ấy sẽ phải nằm viện vài ngày)</span></em></span>
            </p>
        

        <p><span ><span ><strong>- “I, he, she, we, they” có thể là chủ ngữ của động từ:</strong><br>
Eg:</span></span></p>

        
            <p><span ><span >&nbsp;&nbsp;&nbsp;+ <em><u><strong>He</strong></u>&nbsp;has lived here for 3 years. </em></span></span><span
                    style="color:#008000"><span
                    ><em>(Anh ấy đã sống ở đây trong 3 năm.)</em></span></span></p>
        

        <p><span ><span ><strong>- “Me, him, her, us, them” có thể là tân ngữ trực tiếp của động từ.</strong></span></span>
        </p>

        <p><span ><span >Eg:</span></span></p>

        
            <p><span ><em><span
                    >&nbsp;&nbsp;&nbsp;+ I saw&nbsp;<u><strong>her</strong></u>&nbsp;at the party last night.</span></em></span><span
                    style="color:#008000"><em><span
                    >(Tôi thấy cô ấy ở bữa tiệc đêm qua)</span></em></span></p>
        

        <p><span ><strong><span
                >- Có thể là tân ngữ gián tiếp của động từ.</span></strong></span></p>

        <p><span ><span >Eg:&nbsp;</span></span></p>

        
            <p><span ><span ><em>&nbsp;&nbsp;+ Ann gave&nbsp;<u><strong>him</strong></u>&nbsp;a book.</em></span></span><span
                    style="color:#008000"><span
                    ><em> (Ann đưa cho anh ta một quyển sách)</em></span></span></p>
        

        <p><span ><strong><span
                >- Hoặc tân ngữ của giới từ</span></strong></span>
        </p>

        <p><span ><span >Eg:</span></span></p>

        
            <p><span ><em><span
                    >&nbsp;&nbsp;+ We couldn’t do it without&nbsp;<u><strong>them</strong></u>. </span></em></span><span
                    style="color:#008000"><em><span
                    >(Chúng tôi không thể làm điều đó mà không có họ)</span></em></span></p>
        
    </div>
</div>
<div class="item-active" id="item-3">
    <div class="item-title-active">
        <div class="item-title-active-content">III. ĐẠI TỪ SỞ HỮU
        </div>

    </div>
    <div class="item-active-content">
        <p><span ><span ><strong>Đại từ sở hữu</strong>&nbsp;được dùng để chỉ sự sở hữu và &nbsp;thay thế cho tính từ sở hữu và danh từ để tránh nhắc lại tính từ sở hữu + danh từ đã được dùng trước đó.</span></span>
        </p>

        <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
            <tbody>
            <tr>
                <td style="text-align:center"><span style="color:#ff8c00"><span
                        ><strong>Đại từ nhân xưng</strong></span></span></td>
                <td style="text-align:center"><span style="color:#ff8c00"><span
                        ><strong>Đại từ sở hữu</strong></span></span></td>
            </tr>
            <tr>
                <td style="text-align:center"><span ><span >I</span></span>
                </td>
                <td style="text-align:center"><span ><span
                        >Mine</span></span></td>
            </tr>
            <tr>
                <td style="text-align:center"><span ><span
                        >We&nbsp;</span></span>
                </td>
                <td style="text-align:center"><span ><span
                        >Ours</span></span></td>
            </tr>
            <tr>
                <td style="text-align:center"><span ><span
                        >You (số ít)</span></span>
                </td>
                <td style="text-align:center"><span ><span
                        >Yours</span></span></td>
            </tr>
            <tr>
                <td style="text-align:center"><span ><span
                        >You (số nhiều)</span></span></td>
                <td style="text-align:center"><span ><span
                        >Yours</span></span></td>
            </tr>
            <tr>
                <td style="text-align:center"><span ><span >He</span></span>
                </td>
                <td style="text-align:center"><span ><span >His</span></span>
                </td>
            </tr>
            <tr>
                <td style="text-align:center"><span ><span >She</span></span>
                </td>
                <td style="text-align:center"><span ><span
                        >Hers</span></span></td>
            </tr>
            <tr>
                <td style="text-align:center"><span ><span >It</span></span>
                </td>
                <td style="text-align:center"><span ><span >Its</span></span>
                </td>
            </tr>
            <tr>
                <td style="text-align:center"><span ><span
                        >They</span></span></td>
                <td style="text-align:center"><span ><span
                        >Theirs</span></span></td>
            </tr>
            </tbody>
        </table>

        <p><span ><span >Eg:</span></span></p>

        
            <p><span ><em><span
                    >&nbsp;&nbsp;+ Which glass is&nbsp;<u><strong>yours</strong></u>. (yours = your glass) &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span></em></span>
            </p>
            <p><span ><em><span
                    >&nbsp;&nbsp;+ Hoa’s hat is blue and&nbsp;<u><strong>mine</strong></u>&nbsp;is white. (mine = my hat) &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span></em></span>
            </p>
            <p><span ><em><span
                    >&nbsp;&nbsp;+ Their house is large but&nbsp;<u><strong>ours&nbsp;</strong></u>is small. (ours = our house)</span></em></span>
            </p>
        

        <p><span ><span ><strong>- Lưu ý</strong>: Tính từ sở hữu khác với đại từ sở hữu (My, your, his, her, its, our, your, their) là nó luôn luôn đi với một danh từ. Nó đứng trước, bổ nghĩa và chỉ sự sở hữu danh từ đó chứ không thay thế cho nó. Còn đại từ sở hữu thì không có danh từ đứng sau nó như tính từ sở hữu.</span></span>
        </p>

        <p><span ><span >Eg: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span></span>
        </p>

        
            <p><span ><span ><em>&nbsp;&nbsp;+ This is my book. (Tính từ sở hữu + danh từ)<br>
	Đây là quyển sách của tôi.</em></span></span></p>
            <p><span ><em><span >&nbsp;&nbsp;+ This book is mine.&nbsp;(Đại từ sở hữu)<br>
	Cuốn sách này là của tôi&nbsp;</span></em></span></p>
        
    </div>
</div>
<div class="item-active" id="item-4">
    <div class="item-title-active">
        <div class="item-title-active-content">IV. ĐẠI TỪ PHẢN THÂN
        </div>

    </div>
    <div class="item-active-content">
        <p><span ><span ><strong>Đại từ phản thân</strong>&nbsp;dùng để diễn đạt chủ ngữ đồng thời là tác nhân gây ra hành động, hoặc dùng diễn đạt tân ngữ đồng thời là tác nhân nhận tác động của hành động đó. Nó thường đứng ngay sau động từ hoặc giới từ for, to.&nbsp;</span></span>
        </p>

        <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
            <tbody>
            <tr>
                <td style="text-align:center"><span style="color:#ff8c00"><span
                        ><strong>Đại Từ Nhân Xưng</strong></span></span></td>
                <td style="text-align:center"><span style="color:#ff8c00"><span
                        ><strong>Đại Từ Phản Thân</strong></span></span></td>
            </tr>
            <tr>
                <td style="text-align:center"><span ><span >I</span></span>
                </td>
                <td style="text-align:center"><span ><span
                        >Myself</span></span></td>
            </tr>
            <tr>
                <td style="text-align:center"><span ><span
                        >You (số ít)</span></span>
                </td>
                <td style="text-align:center"><span ><span
                        >Yourself</span></span>
                </td>
            </tr>
            <tr>
                <td style="text-align:center"><span ><span >He</span></span>
                </td>
                <td style="text-align:center"><span ><span
                        >Himself</span></span>
                </td>
            </tr>
            <tr>
                <td style="text-align:center"><span ><span >She&nbsp;</span></span>
                </td>
                <td style="text-align:center"><span ><span
                        >Herself</span></span>
                </td>
            </tr>
            <tr>
                <td style="text-align:center"><span ><span >It</span></span>
                </td>
                <td style="text-align:center"><span ><span
                        >Itself</span></span></td>
            </tr>
            <tr>
                <td style="text-align:center"><span ><span >We</span></span>
                </td>
                <td style="text-align:center"><span ><span >Ourselves</span></span>
                </td>
            </tr>
            <tr>
                <td style="text-align:center"><span ><span
                        >You (số nhiều)</span></span></td>
                <td style="text-align:center"><span ><span >Yourselves</span></span>
                </td>
            </tr>
            <tr>
                <td style="text-align:center"><span ><span
                        >They</span></span></td>
                <td style="text-align:center"><span ><span >Themselves</span></span>
                </td>
            </tr>
            </tbody>
        </table>

        <p><span style="color:#ff8c00"><strong><span >- Cách Dùng Đại Từ Phản Thân</span></strong></span>
        </p>

        <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
            <tbody>
            <tr>
                <td style="text-align:center"><span ><span
                        ><strong>Cách Sử Dụng</strong></span></span></td>
                <td style="text-align:center"><span ><span
                        ><strong>Example:</strong></span></span>
                </td>
            </tr>
            <tr>
                <td>
                    <p><span ><span >- Làm tân ngữ của động từ khi chủ ngữ và tân ngữ là cùng một người</span></span>
                    </p>

                    <p><span ><span >-&nbsp;<span
                            style="font-family:helvetica neue,helvetica,arial,sans-serif">Nó có thể đứng ngay sau động từ hoặc sau&nbsp;động từ&nbsp;+&nbsp;</span><span
                            style="font-family:helvetica neue,helvetica,arial,sans-serif">giới từ</span><span
                            style="font-family:helvetica neue,helvetica,arial,sans-serif">.</span></span></span></p>
                </td>
                <td>
                    <p><span ><span
                            >+ He cut&nbsp;<u><strong>himself</strong></u>&nbsp;</span></span><span
                            style="color:#008000"><span
                            >(Anh ấy tự cắt vào tay mình)</span></span></p>

                    <p><span ><span
                            >+&nbsp;I’m annoyed with&nbsp;<strong><u>myself</u>&nbsp;</strong></span></span><span
                            style="color:#008000"><span
                            >(Tôi đang tức giận với bản thân mình)</span></span></p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><span ><span >- Được sử dụng như các đại từ nhấn mạnh danh từ hoặc đại từ.</span></span>
                    </p>

                    <p><span ><span >– Khi nhấn mạnh danh từ trong câu, chúng được đặt ngay sau danh từ đó.</span></span>
                    </p>
                </td>
                <td>
                    <p><span ><span
                            >+&nbsp;The president&nbsp;<u><strong>himself</strong></u>&nbsp;gave him the gift. </span></span><br>
                        <span style="color:#008000"><span
                                >(Chính tổng thống đã tặng ông món quà.)</span></span>
                    </p>

                    <p><span ><span
                            >+&nbsp;I spoke to the manager&nbsp;<u><strong>himself</strong></u>. </span></span><br>
                        <span style="color:#008000"><span
                                >(Tôi đã nói chuyện với người quản lý.)</span></span></p>
                </td>
            </tr>
            <tr>
                <td><span ><span >- Đại từ phản thân được sử dụng như các tân ngữ sau giới từ</span></span>
                </td>
                <td><span ><span
                        >+&nbsp;He did it by&nbsp;<u><strong>himself</strong></u>. </span></span><br>
                    <span style="color:#008000"><span
                            >(Anh ấy đã làm nó một mình.) &nbsp; &nbsp;&nbsp;</span></span></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="item-active" id="item-5">
    <div class="item-title-active">
        <div class="item-title-active-content">V. ĐẠI TỪ NHẤN MẠNH
        </div>

    </div>
    <div class="item-active-content">
        <p><span ><span >-&nbsp;<strong>Đại từ nhấn mạnh</strong>&nbsp;có hình thức giống với đại từ phản thân nhưng có cách sử dụng khác với chúng. (Đại từ nhấn mạnh được dùng để nhấn mạnh cho danh từ, và đại từ nhân xưng trong câuvà có nghĩa chính (tôi, anh ta, ...)</span></span>
        </p>

        <p><strong><span ><span >- Hình thức: Myself, Yourself, Himself, Herself, Itself, Ourselves, Yourselves, Themselves.</span></span></strong>
        </p>

        <p><strong><span style="color:#ff8c00"><span
                >Cách Dùng Đại Từ Nhấn Mạnh</span></span></strong>
        </p>

        <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
            <tbody>
            <tr>
                <td style="text-align:center"><span ><strong><span
                        >Cách Sử Dụng</span></strong></span></td>
                <td style="text-align:center"><span ><strong><span
                        >Example:</span></strong></span></td>
            </tr>
            <tr>
                <td><span ><span >- Nhấn mạnh chủ ngữ</span></span></td>
                <td>
                    <p><span ><span
                            >+ My mother opened the door&nbsp;herself </span></span><br>
                        <span style="color:#008000"><span >(Mẹ tôi đã tự mở cửa ra)</span></span>
                    </p>
                </td>
            </tr>
            <tr>
                <td><span ><span >- Nhấn mạnh tân ngữ và đứng ngay sau tân ngữ</span></span>
                </td>
                <td><span ><span >+ I want to see the letter itself, not the copy&nbsp;</span></span><br>
                    <span style="color:#008000"><span >(Tôi muốn nhìn thấy bức thư đó, không phải là bản sao)</span></span>
                </td>
            </tr>
            <tr>
                <td>
                    <p><span ><span >- Dùng với by + Đại từ phản thân</span></span>
                    </p>

                    <p><span ><span >+ Để chỉ ngĩa tự lực, không cần sự giúp đỡ của ai hết</span></span>
                    </p>

                    <p><span ><span >+ Để chỉ nghĩa một mình</span></span>
                    </p>
                </td>
                <td>
                    <p>&nbsp;</p>

                    <p><span ><span
                            >+The little girl can walk by herself&nbsp;</span></span><br>
                        <span style="color:#008000"><span
                                >(&nbsp;Cô bé có thể đi bộ một mình)</span></span></p>

                    <p><span ><span
                            >+ Do you live by herself&nbsp;</span></span><br>
                        <span style="color:#008000"><span >(Bạn sống một mình?)</span></span></p>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

