<meta charset="UTF-8">
<div class="item-active" id="item-1">
    <div class="item-title-active">
        <div class="item-title-active-content">I. ĐỊNH NGHĨA VÀ VỊ TRÍ THƯỜNG GẶP
        </div>

    </div>
    <div class="item-active-content">
        <p style="color:#ffa500;"><strong>1. Khái niệm</strong></p>

        <p><strong>Động từ</strong>&nbsp;là từ dùng để diễn tả hành động hoặc trạng thái của chủ
            ngữ
            trong câu</p>

        <p>Ví dụ:&nbsp;Tom&nbsp;kicked&nbsp;the ball. – Tom thực hiện hành động đá quả bóng. Quả bóng là
            đối tượng
            nhận tác động của hành động (object of the verb).</p>

        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; The sky&nbsp;is&nbsp;blue. –&nbsp;is&nbsp;ở đây
            không
            thể hiện hành động mà thể hiện trạng thái của bầu trời là xanh. “Blue” ở đây là tính
            từ.</p>

        <p style="color:#ffa500;"><strong>2. Vị trí thường gặp của động từ</strong></p>

        
            <p><em>&nbsp;&nbsp;+ Động từ thường đứng sau chủ ngữ:</em></p>
        

        <p>Ví dụ: She worked hard.&nbsp;(Mẹ tôi làm việc vất vả.)</p>

        
            <p><em>&nbsp;&nbsp;+ Động từ thường đứng sau trạng từ chỉ tần suất (Adverb of Frequency) nếu là động từ thường.</em></p>
        

        <p><strong>Các trạng từ chỉ tần suất thường gặp:</strong></p>

        
            <p>&nbsp;&nbsp;+ Always: luôn luôn</p>
            <p>&nbsp;&nbsp;+ Usually: thường thường</p>
            <p>&nbsp;&nbsp;+ Often : thường</p>
            <p>&nbsp;&nbsp;+ Sometimes: Đôi khi</p>
            <p>&nbsp;&nbsp;+ Seldom: Hiếm khi</p>
            <p>&nbsp;&nbsp;+ Never: Không bao giờ</p>
        

        <p>Ví dụ:&nbsp;He usually goes to school in the afternoon.&nbsp;(Anh ấy thường đi học vào buổi chiều.)</p>

        
            <p>&nbsp;&nbsp;+ Nếu là động từ "Tobe", trạng từ sẽ đi sau động từ "Tobe".</p>
        

        <p>Ví dụ: It's usually hot in summer.&nbsp;(Mùa hè trời thường nóng.)</p>
    </div>
</div>
<div class="item-active" id="item-2">
    <div class="item-title-active">
        <div class="item-title-active-content">II. PHÂN LOẠI ĐỘNG TỪ
        </div>

    </div>
    <div class="item-active-content">
        <p>Hiện có 3 cách phân chia động từ trong tiếng Anh:</p>

        <p style="color:#ffa500;"><strong>1. Phân loại theo vai trò của động từ</strong></p>

        
            <p>&nbsp;&nbsp;+ Trợ động từ (auxiliary verb)</p>
        

        <p>Ví dụ: to be, to have, to do, can, could, may, might, must, ought, shall, should, will, would, to need, to
            dare</p>

        <p><strong>Loại này có thể chia ra làm 3 loại:</strong></p>

        <p><strong>To be, to have:</strong> vừa có thể làm động từ thường, vừa có thể làm trợ động từ</p>

        <p>Ví dụ:</p>

        <div class="table-responsive2">
            <table align="center" border="1" cellpadding="0" cellspacing="0" style="width: auto;" width="100%"
                   class="table table-bordered table-striped">
                <tbody>
                <tr>
                    <td style="background-color: rgb(102, 204, 255);">
                        <p align="center"><strong>Động từ thường</strong></p>
                    </td>
                    <td style="background-color: rgb(102, 204, 255);">
                        <p align="center"><strong>Trợ động từ</strong></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>- Tom&nbsp;is&nbsp;a doctor.</p>

                        <p>- He&nbsp;has&nbsp;a black beard.</p>
                    </td>
                    <td>
                        <p>- He&nbsp;is&nbsp;working now.</p>

                        <p>- I&nbsp;have&nbsp;just finished my homework.</p>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div style="clear:both;">&nbsp;</div>

        <div style="clear:both;"><strong><span style="color:#FC5454;">Động từ khuyết thiếu</span>:</strong> chỉ có
            thể
            làm trợ động từ trong câu. Ví dụ: can, may, shall, will, ought to, must
        </div>

        <p>Trong tiếng Anh có những dạng&nbsp;<strong>động từ khiếm khuyết</strong>&nbsp;như: can (có thể), could (quá
            khứ của
            “can”), may (có thể, có lẽ), might (quá khứ của “may”), must (phải – có tính chất bắt buộc), ought to (nên),
            shall
            (sẽ) , should (nên) , will (sẽ), would (quá khứ của “will”) …</p>

        <p>Động từ khiếm khuyết là một loại trợ động từ và nó có những đặc điểm sau:</p>

        
            <p>&nbsp;&nbsp;+ Là một loại trợ động từ</p>
            <p>&nbsp;&nbsp;+ Ở ngôi thứ 3 số ít không thêm “s” vào động từ khiếm khuyết.</p>
            <p>&nbsp;&nbsp;+ Ở câu phủ định chỉ cần thêm “not” sau động từ khiếm khuyết.</p>
            <p>&nbsp;&nbsp;+ Ở câu hỏi chỉ cần đưa động từ khiếm khuyết ra đầu câu.</p>
        

        <p><em>Ví dụ:</em></p>

        <p>I&nbsp;can&nbsp;speak English well.</p>

        <p>I&nbsp;can’t&nbsp;speak English well.</p>

        <p>Can&nbsp;you speak English well?</p>

        <p>She can speak English. She can not (can’t) speak English. Can she speak English?</p>

        <h4><strong>Một số động từ đặc biệt</strong></h4>

        <p>có trường hợp dùng làm động từ thường, có trường hợp dùng làm trợ động từ. Ví dụ: to dare,
            to need,
            to do, used to</p>

        <p>Ví dụ:</p>

        <div class="table-responsive2">
            <table align="center" border="1" cellpadding="0" cellspacing="0" style="width: auto;"
                   class="table table-bordered table-striped">
                <tbody>
                <tr>
                    <td style="background-color: rgb(102, 204, 255);">
                        <p align="center"><strong>Động từ thường</strong></p>
                    </td>
                    <td style="background-color: rgb(102, 204, 255);">
                        <p align="center"><strong>Trợ động từ</strong></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>- He doesn’t&nbsp;dare&nbsp;to say anything.</p>

                        <p>- They&nbsp;need&nbsp;new skirts.</p>
                    </td>
                    <td>
                        <p>-&nbsp;Dare&nbsp;we interrupt?</p>

                        <p>- I&nbsp;need&nbsp;to go home now.</p>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        
            <p>&nbsp;&nbsp;+ Động từ thường (ordinary verbs)</p>
        

        <p>Những động từ không thuộc loại trên là động từ thường. Ví dụ: to work, to sing, to pray, to play,
            to
            study…</p>

        <p style="color:#ffa500;"><strong>2. Phân theo Nội động từ và ngoại động từ</strong></p>

        
            <p>&nbsp;&nbsp;+ <strong>Nội động từ:</strong></p>
        

        <p>- Diễn tả hành động nội tại của người nói hay người thực hiện hành động.</p>

        <p>Ví dụ:&nbsp;He&nbsp;walks. (Anh ấy đi bộ. Anh ấy tự đi chứ không phải là do người hay vật khác
            tác
            động)</p>

        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Birds&nbsp;fly. (Chim bay. Con chim tự bay theo
            bản
            năng chứ không do người hay vật tác động)</p>

        <p>- Không cần có tân ngữ trực tiếp đi kèm. Nếu có thì phải có giới từ đi trước và cụm từ này
            sẽ
            đóng vai trò ngữ trạng từ chứ không phải là tân ngữ trực tiếp.</p>

        <p>Ví dụ:&nbsp;She&nbsp;walks&nbsp;in the garden.</p>

        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Birds&nbsp;fly&nbsp;in the sky.</p>

        
            <p>&nbsp;&nbsp;+ <strong>Ngoại động từ</strong></p>
        

        <p>- Diễn tả hành động gây ra trực tiếp lên người hoặc vật.</p>

        <p>Ví dụ:&nbsp;The cat&nbsp;killed&nbsp;the mouse.</p>

        <p>- Luôn cần thêm yếu tố bên ngoài là một danh từ hay đại từ theo sau để hoàn thành nghĩa của
            câu. Danh
            (đại từ) đi theo sau là tân ngữ trực tiếp.</p>

        <p>Trong câu trên, chúng ta không thể nói “The cat killed” rồi dừng lại, bởi câu rất tối nghĩa. Vì
            thế phải
            thêm “the mouse” vào sau.</p>

        <p style="color:#ffa500;"><strong>3. Các loại động từ thường gặp</strong></p>

        <h4><strong>Động từ thể chất (Physical verbs)</strong></h4>

        <p>Động từ&nbsp;thể chất&nbsp;là&nbsp;các&nbsp;động từ&nbsp;hành động. Chúng&nbsp;mô tả&nbsp;hành động&nbsp;cụ
            thể&nbsp;của&nbsp;vật
            chất.&nbsp;Các&nbsp;chuyển động&nbsp;cơ thể&nbsp;hoặc&nbsp;sử dụng&nbsp;một&nbsp;công cụ&nbsp;nào đó&nbsp;để&nbsp;hoàn
            tất&nbsp;một&nbsp;hành động,&nbsp;từ&nbsp;bạn&nbsp;sử dụng&nbsp;để&nbsp;mô tả hành động đó&nbsp;chính&nbsp;là&nbsp;một&nbsp;động
            từ&nbsp;thể chất. Ví dụ:</p>

        
            <p>&nbsp;&nbsp;+ Let’s&nbsp;<strong>play</strong>&nbsp;football together.</p>
            <p>&nbsp;&nbsp;+ Can you&nbsp;<strong>hear</strong>&nbsp;my voice?</p>
            <p>&nbsp;&nbsp;+ <strong>Tell&nbsp;</strong>me if you want to go home.</p>
        

        <h4><strong>Động từ chỉ trạng thái (Stative verbs)</strong></h4>

        <p>Động từ trạng thái là những&nbsp;từ dùng để chỉ một tình huống đang tồn tại và chúng&nbsp;không mô tả hành
            động.&nbsp;Những&nbsp;động
            từ&nbsp;trạng thái&nbsp;thường&nbsp;được&nbsp;bổ sung&nbsp;bởi&nbsp;các&nbsp;tính từ.</p>

        <p>Ví dụ:</p>

        
            <p>&nbsp;&nbsp;+ Paul&nbsp;<strong>feels</strong>&nbsp;rotten today. He&nbsp;<strong>has</strong>&nbsp;a bad cold.</p>
            <p>&nbsp;&nbsp;+ Do you&nbsp;<strong>recognize</strong>&nbsp;him? He&nbsp;<strong>is</strong>&nbsp;a famous rock star.
            </p>
        

        <h4><strong>Động từ chỉ hoạt động nhận thức (Mental verbs)</strong></h4>

        <p>Đây là những động từ có&nbsp;ý nghĩa&nbsp;liên quan&nbsp;đến&nbsp;các&nbsp;khái niệm&nbsp;như&nbsp;khám phá,&nbsp;hiểu
            biết,&nbsp;suy nghĩ,&nbsp;hoặc&nbsp;lập kế hoạch.&nbsp;Nói chung,&nbsp;chúng&nbsp;đề cập&nbsp;đến&nbsp;vấn
            đề về&nbsp;nhận
            thức.</p>

        <p>Ví dụ:</p>

        
            <p>&nbsp;&nbsp;+ I&nbsp;<strong>know</strong>&nbsp;what you mean.</p>
            <p>&nbsp;&nbsp;+ He&nbsp;<strong>recognized</strong>&nbsp;Linda in the crowd.</p>
            <p>&nbsp;&nbsp;+ Do you&nbsp;<strong>understand</strong>&nbsp;the meaning of this book?</p>
        

        <h4><strong>Các loại động từ khác</strong></h4>

        <p>Ngoài 3 loại cơ bản nêu trên, trong thực tế, chúng ta được biết đến rất nhiều loại động từ khác nữa. Những
            động từ ấy
            đã được phân loại theo chức năng của nó. Ví dụ:</p>

        
            <p>&nbsp;&nbsp;+ <strong>Động từ hành động:&nbsp;</strong>Động từ&nbsp;hành động&nbsp;hành động&nbsp;nhận&nbsp;cụ thể,&nbsp;và&nbsp;được&nbsp;sử
                dụng&nbsp;bất&nbsp;cứ&nbsp;lúc&nbsp;nào&nbsp;bạn&nbsp;muốn&nbsp;hiển thị&nbsp;các&nbsp;hành động&nbsp;hoặc&nbsp;thảo
                luận về&nbsp;một ai đó&nbsp;làm&nbsp;điều gì đó.
            </p>
            <p>&nbsp;&nbsp;+ <strong>Ngoại động từ:&nbsp;</strong>Là các động từ được hành động và gây ra hoặc tác động đến chủ thể
                khác
                (Object). Vì vậy, chúng lúc nào cũng phải có một tân ngữ theo sau để tạo thành một câu có nghĩa.
            </p>
            <p>&nbsp;&nbsp;+ <strong>Nội động từ:</strong>&nbsp;Là những từ diễn tả hành động nội tại của người nói hay người, chủ
                thể thực
                hiện hành động. Hành động của chủ thể đó không tác động trực tiếp lên bất kỳ đối tượng nào.
            </p>
            <p>&nbsp;&nbsp;+ <strong>Trợ động từ:&nbsp;</strong>Trợ&nbsp;động từ&nbsp;được&nbsp;sử dụng&nbsp;cùng với&nbsp;một&nbsp;động
                từ&nbsp;chính&nbsp;để&nbsp;“giúp”
                các động từ khác hình thành thể nghi vấn, thể phủ định, thể nhấn mạnh hay hình thành một thì trong tiếng
                Anh.
            </p>
            <p>&nbsp;&nbsp;+ <strong>Động từ trạng thái</strong>: Đây là các động từ chỉ trạng thái, sự không biến đổi hoặc di chuyển
                như be,
                have, seem, consist, exist, possess, contain, belong…; các hoạt động tình cảm như like, love, hate…;
                hoạt động
                tri thức như: know, understand,..
            </p>
            <p>&nbsp;&nbsp;+ <strong>Động từ tình thái:&nbsp;</strong>Là những từ dùng để miêu tả về tình cảm, trạng thái của con
                người, hoặc
                điều kiện tồn tại của sự vật.
            </p>
            <p>&nbsp;&nbsp;+ <strong>Cụm động từ:</strong>&nbsp;Cụm&nbsp;động từ&nbsp;không phải là&nbsp;từ&nbsp;đơn;&nbsp;thay vào
                đó,&nbsp;chúng&nbsp;là&nbsp;sự
                kết hợp&nbsp;của&nbsp;các&nbsp;từ&nbsp;được kết hợp&nbsp;với nhau&nbsp;để&nbsp;tạo thành&nbsp;ý nghĩa&nbsp;khác
                nhau&nbsp;của&nbsp;động từ&nbsp;gốc.
            </p>
            <p>&nbsp;&nbsp;+ <strong>Động từ bất quy tắc:&nbsp;</strong>Các&nbsp;động từ&nbsp;bất quy tắc&nbsp;là&nbsp;những động từ
                được sử
                dụng trong thì&nbsp;quá khứ&nbsp;đơn&nbsp;và&nbsp;quá khứ&nbsp;phân từ của&nbsp;động từ.
            </p>
        

        <h4><strong>Một số động từ bất quy tắc</strong></h4>

        <p><strong><span style="color:#FC5454;">Động từ bất quy tắc</span> (Irregular verbs)</strong> là động từ có hình
            thức
            quá khứ đơn (simple past) và quá khứ phân từ (past participle) được thành lập không theo quy tắc nhất định
            nào. Hình
            thức quá khứ đơn và quá khứ phân từ của các động từ này nằm trong bảng động từ bất quy tắc (phải học thuộc
            lòng bảng
            động từ bất quy tắc).</p>

        <p><strong>Ex</strong>:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; infinitive&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;past&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; past participle</p>

        <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; be (thì, là, ở)&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp; was/ were&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;been</p>

        <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; see (nhìn thấy)&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp;
            &nbsp; &nbsp; &nbsp;saw&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp;
            &nbsp; &nbsp;seen</p>

        <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; teach (dạy)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;taught&nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; taught</p>
    </div>
</div>
<div class="item-active" id="item-3">
    <div class="item-title-active">
        <div class="item-title-active-content">III. CÁCH THỨC SỬ DỤNG VÀ CHIA ĐỘNG TỪ
        </div>

    </div>
    <div class="item-active-content">
        <p style="color:#ffa500;"><strong>1. Cách thêm - ed sau động từ</strong></p>

        <p>Những cách thức thêm&nbsp;<strong>- ED</strong>&nbsp;sau đây được dùng để thành lập thì Quá khứ đơn (Simple
            Past) và
            Quá khứ phân từ (Past Participle):</p>

        <p>Thông thường: Thêm&nbsp;<strong>ED</strong>&nbsp;vào động từ nguyên mẫu.</p>

        <p>&nbsp;&nbsp;&nbsp;+ to talk --&gt; She talked about her family last night./pre&gt;</p>

        <p>Động từ tận cùng bằng&nbsp;<strong>E</strong>&nbsp;–&gt; chỉ thêm&nbsp;<strong>D</strong>.</p>

        <p>&nbsp;&nbsp;&nbsp;+ to live --&gt; He lived in Hanoi for 2 years.</p>

        <p>Động từ tận cùng bằng&nbsp;<strong>phụ âm + Y</strong>&nbsp;–&gt;
            Đổi&nbsp;<strong>Y</strong>&nbsp;thành&nbsp;<strong>IED</strong>.</p>

        <p>&nbsp;&nbsp;+ to study --&gt; They studied in the library last weekends.</p>

        <p>Động từ một âm tiết tận cùng bằng&nbsp;<strong>1 nguyên âm + 1 phụ âm</strong>&nbsp;và động từ được nhấn mạnh
            (stressed) ở&nbsp;<strong>âm tiết cuối</strong>&nbsp;–&gt; Gấp đôi phụ âm cuối trước khi
            thêm&nbsp;<strong>ED</strong>.</p>

        
            <p>&nbsp;&nbsp;+ to stop --&gt; stopped</p>
            <p>&nbsp;&nbsp;+ to control --&gt; controlled</p>
        

        <p>Một số động từ 2 âm tiết, tận cùng bằng&nbsp;<strong>L</strong>, được nhấn mạnh (stressed) ở âm tiết thứ nhất
            cũng
            gấp đôi phụ âm cuối trước khi thêm&nbsp;<strong>ED</strong>.</p>

        
            <p>&nbsp;&nbsp;+ to travel --&gt; travelled</p>
            <p>&nbsp;&nbsp;+ to kidnap --&gt; kidnapped</p>
            <p>&nbsp;&nbsp;+ to worship --&gt; worshipped</p>
        

        <p style="color:#ffa500;"><strong>2. Cách phát âm V-ed</strong></p>

        <p>Có tới 3 cách để phát âm từ có&nbsp;<strong>-ed</strong>&nbsp;tận cùng:</p>

        
            <p>&nbsp;&nbsp;+ /id/: sau các âm /t/ và /d/</p>
            <p>&nbsp;&nbsp;+ to want --&gt; wanted</p>
            <p>&nbsp;&nbsp;+ to decide --&gt; decided</p>
            <p>&nbsp;&nbsp;+ /t/: sau các phụ âm câm (voiceless consonant sounds)</p>
            <p>&nbsp;&nbsp;+ to ask --&gt; asked</p>
            <p>&nbsp;&nbsp;+ to finish --&gt; finished</p>
            <p>&nbsp;&nbsp;+ /d/: sau các nguyên âm (vowel sounds) và phụ âm tỏ (voiced consonant sounds)</p>
            <p>&nbsp;&nbsp;+ to answer --&gt; answered</p>
            <p>&nbsp;&nbsp;+ to open --&gt; opened</p>
        

        <p style="color:#ffa500;"><strong>3. Cách thêm -ing sau động từ</strong></p>

        <p><strong>V-ing</strong>&nbsp;được hình thành để tạo nên hiện tại phân từ (present participle), trong các thì
            tiếp diễn
            (Continuous Tenses) và để tạo thành động danh từ (Gerund). Có 6 trường hợp thêm ING:</p>

        <p>Thông thường: thêm&nbsp;<strong>-ING</strong>&nbsp;và cuối động từ nguyên mẫu.</p>

        
            <p>&nbsp;&nbsp;+ to walk --&gt; walking</p>
            <p>&nbsp;&nbsp;+ to do --&gt; doing</p>
        

        <p>Động từ tận cùng bằng&nbsp;<strong>E</strong>&nbsp;–&gt; bỏ&nbsp;<strong>E</strong>&nbsp;trước khi thêm&nbsp;<strong>-ING</strong>
        </p>

        
            <p>&nbsp;&nbsp;+ to live --&gt; living</p>
            <p>&nbsp;&nbsp;+ to love --&gt; loving</p>
        

        <p>Động từ tận cùng bằng&nbsp;<strong>-IE</strong>&nbsp;–&gt; đổi thành&nbsp;<strong>-Y</strong>&nbsp;trước khi
            thêm&nbsp;<strong>-ING</strong>.
        </p>

        
            <p>&nbsp;&nbsp;+ to die --&gt; dying</p>
            <p>&nbsp;&nbsp;+ to lie --&gt; lying</p>
        

        <p>Động từ một âm tiết tận cùng bằng&nbsp;<strong>1 nguyên âm + 1 phụ âm</strong>&nbsp;và động từ được nhấn mạnh
            (stressed) ở âm tiết cuối –&gt; Gấp đôi phụ âm cuối trước khi thêm&nbsp;<strong>-ING</strong>.</p>

        
            <p>&nbsp;&nbsp;+ to run --&gt; running</p>
            <p>&nbsp;&nbsp;+ to cut --&gt; cutting</p>
        

        <p>Một số động từ 2 âm tiết, tận cùng bằng L, được nhấn mạnh (stressed) ở âm tiết thứ nhất cũng gấp đôi phụ âm
            cuối
            trước khi thêm&nbsp;<strong>-ING</strong>.</p>

        
            <p>&nbsp;&nbsp;+ to travel --&gt; travelling</p>
        

        <p>Một số động từ có các thêm&nbsp;<strong>-ING</strong>&nbsp;đặc biệt để tránh nhầm lẫn:</p>

        
            <p>&nbsp;&nbsp;+ to dye (nhuộm) --&gt; dyeing</p>
            <p>&nbsp;&nbsp;+ khác với</p>
            <p>&nbsp;&nbsp;+ to die (chết) --&gt; dying</p>
            <p>&nbsp;&nbsp;+ to singe (cháy xém) --&gt; singeing&nbsp;</p>
            <p>&nbsp;&nbsp;+ khác với</p>
            <p>&nbsp;&nbsp;+ to sing (hát) --&gt; singing</p>
        
    </div>
</div>
<div class="item-active" id="item-4">
    <div class="item-title-active">
        <div class="item-title-active-content">IV. MỘT SỐ ĐỘNG TỪ THƯỜNG GẶP
        </div>

    </div>
    <div class="item-active-content">
        <p>Dưới đây là 1 số động từ thường xuất hiện trong các đoạn hội thoại thường ngày và các đoạn văn giao tiếp, các bạn có thể học thuộc để sử dụng phù hợp nha.</p>
        <table border="1" cellpadding="0" cellspacing="0" style="width: auto;">
            <tbody>
            <tr>
                <td>
                    <p>- walk /wɔ:k/ đi bộ</p>

                    <p>- run /rʌn/ chạy</p>

                    <p>- tiptoe /’tiptou/ đi nhón chân</p>

                    <p>- crawl /krɔ:l/ bò, trườn</p>

                    <p>- lift /lift/ nâng lên, nhấc lên</p>

                    <p>- throw /θrou/ ném, vứt, quăng</p>

                    <p>- bend /bend/ cúi xuống</p>

                    <p>- dive /daiv/ nhảy lao đầu xuống nước, lặn</p>

                    <p>- jump /dʤʌmp/ nhảy, giật mình</p>

                    <p>- sit down: ngồi xuống</p>

                    <p>- stand up: đứng lên</p>

                    <p>- crouch /kautʃ/ né, núp</p>

                    <p>- carry /’kæri/ mang, vác</p>

                    <p>- lean /li:n/ dựa, tựa, chống</p>

                    <p>- kneel /ni:l/ quỳ</p>

                    <p>- hist /hit/ đánh</p>

                    <p>use: dùng</p>

                    <p>-find: tìm thấy</p>

                    <p>-want: muốn</p>

                    <p>-Tell: nói</p>

                    <p>-put: đặt</p>

                    <p>-mean: nghĩa là</p>

                    <p>-become: trở thành</p>

                    <p>-leave: rời khỏi</p>

                    <p>-work: làm việc</p>

                    <p>need: cần</p>
                </td>
                <td>
                    <p>push /puʃ/ đẩy</p>

                    <p>- pull /pul/ kéo</p>

                    <p>- laugh /lɑ:f/ cười</p>

                    <p>- teach /ti:tʃ/ dạy, dạy học</p>

                    <p>- swim /swim/ bơi</p>

                    <p>- knit /nit/ đan</p>

                    <p>- write /rait/ viết</p>

                    <p>- hammer /’hæmə/ đóng, nện</p>

                    <p>- fish /fiʃ/ câu cá</p>

                    <p>- listen /’lisn/ nghe</p>

                    <p>- cry /krai/ khóc</p>

                    <p>- cook /kuk/ nấu</p>

                    <p>-Be: là</p>

                    <p>-have: có</p>

                    <p>-DO: làm</p>

                    <p>-say: nói</p>

                    <p>-get: được</p>

                    <p>-make: làm</p>

                    <p>-go: đi</p>

                    <p>-see: thấy</p>

                    <p>-know: biết</p>

                    <p>-take: lấy</p>

                    <p>-think: nghĩ</p>

                    <p>-come: đến</p>

                    <p>-give: cho</p>

                    <p>-look: nhìn</p>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

