<meta charset="UTF-8">
<div class="item-active" id="item-1">
    <div class="item-title-active">
        <div class="item-title-active-content">I. ĐỊNH NGHĨA
        </div>

    </div>
    <div class="item-active-content">
        <p><span style="color:#000000"><span><span
                style="font-size:16px"><strong>Thì hiện tại đơn</strong> (Simple present) dùng để diễn tả một hành động chung chung, tổng quát lặp đi lặp lại nhiều lần hoặc một sự thật hiển nhiên hoặc một hành động diễn ra trong thời gian hiện tại.</span></span></span>
        </p>
    </div>
</div>
<div class="item-active" id="item-2">
    <div class="item-title-active">
        <div class="item-title-active-content">II. CẤU TRÚC
        </div>

    </div>
    <div class="item-active-content">
        <p><span style="color:#ffa500"><strong><span><span
                style="font-size:16px">1. Cấu Trúc Thì Hiện Tại Đơn Với Động Từ "TO BE"</span></span></strong></span>
        </p>

        <p><span style="color:#000000"><span><span style="font-size:16px">Đối với cấu trúc của các thì, chúng ta chỉ cần quan tâm đến chủ ngữ và động từ chính, còn các thành phần khác như tân ngữ, trạng từ, … thì tùy từng câu mà có cấu trúc khác nhau.</span></span></span>
        </p>

        <p><span style="color:#000000"><span><span style="font-size:16px">Ở đây: “to be” ở hiện tại có 3 dạng: <strong>am/ is/ are</strong></span></span></span>
        </p>

        <p><span style="color:#66cc00"><strong><span><span
                style="font-size:16px">A. Khẳng định:</span></span></strong></span></p>

        <p><span style="color:#000000"><span><span
                style="font-size:16px"><strong>- Cấu trúc: &nbsp; &nbsp;</strong> &nbsp;</span></span></span></p>

        <p style="text-align:center"><span style="font-size:18px"><span style="color:#000000"><span
        ><strong>S&nbsp;+ am / is / are</strong></span></span></span></p>

        <p><strong><span style="color:#000000"><span><span
                style="font-size:16px">&nbsp;- Trong đó: &nbsp; </span></span></span></strong></p>

        <p><em><span style="color:#000000"><span><span
                style="font-size:16px">&nbsp;&nbsp;+ S (subject): Chủ ngữ</span></span></span></em></p>

        <p><strong><span style="color:#000000"><span><span
                style="font-size:16px">&nbsp;- Lưu ý:</span></span></span></strong></p>

        <p><em><span style="color:#000000"><span><span
                style="font-size:16px">&nbsp;&nbsp;&nbsp;+ Khi <strong>S = I + am</strong></span></span></span></em></p>
        <p><em><span style="color:#000000"><span><span
                style="font-size:16px">&nbsp;&nbsp;&nbsp;+ Khi <strong>S = He/ She/ It + is</strong></span></span></span></em>
        </p>
        <p><em><span style="color:#000000"><span><span
                style="font-size:16px">&nbsp;&nbsp;&nbsp;+ Khi <strong>S = We, You, They + are</strong></span></span></span></em>
        </p>

        <p><span style="color:#000000"><span><span
                style="font-size:16px">- Eg:</span></span></span></p>
        <p><em><span style="color:#000000"><span><span
                style="font-size:16px">&nbsp;&nbsp;&nbsp;+ I <u><strong>am</strong></u> a doctor. </span></span></span><span
                style="color:#008000"><span><span style="font-size:16px">(Tôi là bác sĩ.)</span></span></span></em>
        </p>
        <p><em><span style="color:#000000"><span><span
                style="font-size:16px">&nbsp;&nbsp;&nbsp;+ She <u><strong>is</strong></u> very beautiful. </span></span></span><span
                style="color:#008000"><span><span style="font-size:16px">(Cô ấy rất xinh đẹp.)</span></span></span></em>
        </p>
        <p><em><span style="color:#000000"><span><span
                style="font-size:16px">&nbsp;&nbsp;&nbsp;+ We <u><strong>are</strong></u> friends. </span></span></span><span
                style="color:#008000"><span><span
                style="font-size:16px">(Chúng tôi là bạn bè.)</span></span></span></em>
        </p>

        <p><span style="color:#000000"><span><span style="font-size:16px">&nbsp;=&gt; Ta thấy với chủ ngữ khác nhau động từ “to be” chia khác nhau.&nbsp;</span></span></span>
        </p>

        <p><span style="color:#66cc00"><strong><span><span
                style="font-size:16px">B. Phủ định:</span></span></strong></span></p>

        <p><strong><span style="color:#000000"><span><span
                style="font-size:16px">- Cấu trúc: &nbsp; &nbsp; &nbsp;</span></span></span></strong></p>

        <p style="text-align:center"><span style="font-size:18px"><span style="color:#000000"><span
        ><strong>S + am/ is/ are + not</strong></span></span></span></p>

        <p><strong><span style="color:#000000"><span><span
                style="font-size:16px">- Lưu ý:</span></span></span></strong></p>

        <p><em><span style="color:#000000"><span><span
                style="font-size:16px">&nbsp;&nbsp;+ Am not: không có dạng viết tắt</span></span></span></em></p>
        <p><em><span style="color:#000000"><span><span
                style="font-size:16px">&nbsp;&nbsp;+ Is not = isn’t</span></span></span></em></p>
        <p><em><span style="color:#000000"><span><span
                style="font-size:16px">&nbsp;&nbsp;+ Are not = aren’t</span></span></span></em></p>

        <p><span style="color:#000000"><span><span
                style="font-size:16px">Eg:</span></span></span></p>

        <p><em><span style="color:#000000"><span><span
                style="font-size:16px">&nbsp;&nbsp;+ I <u><strong>am not</strong></u> a good student. </span></span></span><span
                style="color:#008000"><span><span
                style="font-size:16px">(Tôi không phải là học sinh giỏi.)</span></span></span></em>
        </p>
        <p><em><span style="color:#000000"><span><span
                style="font-size:16px">&nbsp;&nbsp;+ He <u><strong>isn’t</strong></u> my bother. </span></span></span><span
                style="color:#008000"><span><span
                style="font-size:16px">(Anh ấy không phải là anh trai của tôi.)</span></span></span></em>
        </p>
        <p><em><span style="color:#000000"><span><span
                style="font-size:16px">&nbsp;&nbsp;+ They <u><strong>aren’t</strong></u> Korean. </span></span></span><span
                style="color:#008000"><span><span
                style="font-size:16px">(Họ không phải là người người Hàn Quốc.)</span></span></span></em>
        </p>

        <p><span style="color:#66cc00"><strong><span><span
                style="font-size:16px">C. Câu hỏi:</span></span></strong></span></p>

        <p style="text-align:center"><span style="font-size:18px"><span style="color:#000000"><span
        ><strong>Am/ Is/ Are + &nbsp;S?</strong></span></span></span></p>

        <p><strong><span style="color:#000000"><span><span
                style="font-size:16px">- Trả lời: &nbsp; &nbsp; &nbsp;</span></span></span></strong></p>

        <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
            <tbody>
            <tr>
                <td style="text-align:center"><span style="color:#000000"><span
                ><span
                        style="font-size:16px">Yes, &nbsp;I + am.</span></span></span></td>
                <td style="text-align:center"><span style="color:#000000"><span
                ><span
                        style="font-size:16px">Yes, he/ she/ it + is.</span></span></span></td>
                <td style="text-align:center"><span style="color:#000000"><span
                ><span
                        style="font-size:16px">Yes, we/ you/ they + are.</span></span></span></td>
            </tr>
            <tr>
                <td style="text-align:center"><span style="color:#000000"><span
                ><span
                        style="font-size:16px">No, I + am not.</span></span></span></td>
                <td style="text-align:center"><span style="color:#000000"><span
                ><span
                        style="font-size:16px">No, he/ she/ it + isn’t.</span></span></span></td>
                <td style="text-align:center"><span style="color:#000000"><span
                ><span
                        style="font-size:16px">No, we/ you/ they + aren’t.</span></span></span></td>
            </tr>
            </tbody>
        </table>

        <p><span style="color:#000000"><span><span
                style="font-size:16px">- Eg:</span></span></span></p>

        <p><em><span style="color:#000000"><span><span
                style="font-size:16px">&nbsp;&nbsp;+ <u><strong>Are</strong></u> you a student? - Yes, I am/ No, I am not.</span></span></span></em>
        </p>
        <p><em><span style="color:#000000"><span><span
                style="font-size:16px">&nbsp;&nbsp;+ <u><strong>Am</strong></u> I a bad person? - Yes, you are./ No, you aren’t.</span></span></span></em>
        </p>
        <p><em><span style="color:#000000"><span><span
                style="font-size:16px">&nbsp;&nbsp;+ <u><strong>Is</strong></u> he 19 years old? - Yes, he is./ No, he isn’t.</span></span></span></em>
        </p>

        <p><span style="color:#ffa500"><strong><span><span
                style="font-size:16px">2. Cấu Trúc Thì Hiện Tại Đơn Với Động Từ THƯỜNG</span></span></strong></span></p>

        <p><span style="color:#66cc00"><strong><span><span
                style="font-size:16px">A. Khẳng định:</span></span></strong></span></p>

        <p><strong><span style="color:#000000"><span><span
                style="font-size:16px">- Cấu Trúc:</span></span></span></strong></p>

        <p style="text-align:center"><strong><span style="font-size:18px"><span style="color:#000000"><span
        >S + V(s/es)</span></span></span></strong></p>

        <p><span style="color:#000000"><span><span
                style="font-size:16px"><strong>- Trong đó: &nbsp; &nbsp;</strong>&nbsp;</span></span></span></p>

        <p><em><span style="color:#000000"><span><span
                style="font-size:16px">&nbsp;&nbsp;&nbsp;+  S (subject): Chủ ngữ&nbsp;</span></span></span></em></p>
        <p><em><span style="color:#000000"><span><span
                style="font-size:16px">&nbsp;&nbsp;&nbsp;+  V (verb): Động từ&nbsp;</span></span></span></em></p>

        <p><strong><span style="color:#000000"><span><span
                style="font-size:16px">- Lưu ý:</span></span></span></strong></p>

        <p><em><span style="color:#000000"><span><span
                style="font-size:16px">&nbsp;&nbsp;+ <strong>S = I, We, You, They</strong>,<strong> danh từ số nhiều</strong> thì ĐỘNG TỪ ở dạng NGUYÊN MẪU&nbsp;</span></span></span></em>
        </p>
        <p><em><span style="color:#000000"><span><span
                style="font-size:16px">&nbsp;&nbsp;+ <strong>S = He, She, It, danh từ số ít</strong> thì ĐỘNG TỪ thêm “S” hoặc ES”&nbsp;</span></span></span></em>
        </p>

        <p><span style="color:#000000"><span><span
                style="font-size:16px">- Eg:</span></span></span></p>

        <p><em><span style="color:#000000"><span><span
                style="font-size:16px">&nbsp;&nbsp;+ <u><strong>They go</strong></u> to work by bus every day. </span></span></span><span
                style="color:#008000"><span><span
                style="font-size:16px">(Họ đi làm bằng xe buýt hàng ngày.)</span></span></span><span
                style="color:#000000"><span><span style="font-size:16px">&nbsp;</span></span></span></em>
        </p>

        <p><span style="color:#000000"><span><span style="font-size:16px">Ở ví dụ này, chủ ngữ là “They” nên động từ chính “go” ta để ở dạng NGUYÊN MẪU không chia.&nbsp;</span></span></span>
        </p>

        <p><span style="color:#000000"><span><span
                style="font-size:16px">&nbsp;&nbsp;+ <u><em><strong>He goes</strong></em></u> <em>to work by bus every day.&nbsp;</em></span></span></span><span
                style="color:#008000"><span><span style="font-size:16px"><em>(Anh ấy đi làm bằng xe buýt hàng ngày.)&nbsp;</em></span></span></span>
        </p>

        <p><span style="color:#000000"><span><span style="font-size:16px">=&gt; Trong câu này, chủ ngữ là “He” nên động từ chính “go” phải thêm “es”.&nbsp;</span></span></span>
        </p>

        <p><span style="color:#000000"><span><span style="font-size:16px">&nbsp;(Ta sẽ tìm hiểu về quy tắc thêm “S” hoặc “ES” sau động từ ở phần sau.)&nbsp;</span></span></span>
        </p>

        <p><span style="color:#66cc00"><strong><span><span
                style="font-size:16px">B. Phủ định:</span></span></strong></span></p>

        <p><strong><span style="color:#000000"><span><span
                style="font-size:16px">- Cấu Trúc</span></span></span></strong></p>

        <p style="text-align:center"><span style="font-size:18px"><strong><span style="color:#000000"><span
        >S + don’t/ doesn’t &nbsp;+ V(nguyên mẫu)</span></span></strong></span>
        </p>

        <p><strong><span style="color:#000000"><span><span
                style="font-size:16px">- Ta có:&nbsp;</span></span></span></strong></p>

        <p><em><span style="color:#000000"><span><span
                style="font-size:16px">&nbsp;&nbsp;&nbsp;+ don’t = do not</span></span></span></em></p>
        <p><em><span style="color:#000000"><span><span
                style="font-size:16px">&nbsp;&nbsp;&nbsp;+ doesn’t = does not</span></span></span></em></p>

        <p><strong><span style="color:#000000"><span><span
                style="font-size:16px">- Lưu ý:</span></span></span></strong></p>

        <p><em><span style="color:#000000"><span><span
                style="font-size:16px"><strong>&nbsp;&nbsp;+ S = I, We, You, They, danh từ số nhiều</strong> &nbsp;- Ta mượn trợ động từ “do” + not</span></span></span></em>
        </p>
        <p><em><span style="color:#000000"><span><span
                style="font-size:16px"><strong>&nbsp;&nbsp;+ S = He, She, It, danh từ số ít</strong> - Ta mượn trợ động từ “does” + not</span></span></span></em>
        </p>
        <p><em><span style="color:#000000"><span><span
                style="font-size:16px">&nbsp;&nbsp;+ Động từ (V) theo sau ở dạng NGUYÊN MẪU không chia.</span></span></span></em>
        </p>

        <p><span style="color:#000000"><span><span
                style="font-size:16px">- Eg:</span></span></span></p>

        <p><em><span style="color:#000000"><span><span
                style="font-size:16px">&nbsp;&nbsp;+ We <u><strong>don’t go</strong></u> to school on Sunday. </span></span></span><span
                style="color:#008000"><span><span
                style="font-size:16px">(Chúng tôi không đến trường vào ngày Chủ Nhật.)</span></span></span></em>
        </p>

        <p><span style="color:#000000"><span><span style="font-size:16px">Trong câu này, chủ ngữ là “We” nên ta mượn trợ động từ “do” + not (don’t), và động từ “go” theo sau ở dạng NGUYÊN MẪU.</span></span></span>
        </p>

        <p><em><span style="color:#000000"><span><span
                style="font-size:16px">&nbsp;&nbsp;+ She <u><strong>doesn’t visit</strong></u> his grandparents regularly. </span></span></span><span
                style="color:#008000"><span><span
                style="font-size:16px">(Cô ấy không đến thăm ông bà thường xuyên)</span></span></span></em>
        </p>

        <p><span style="color:#000000"><span><span style="font-size:16px">=&gt; Tại câu này, chủ ngữ là “She” nên ta mượn trợ động từ “does” + not (doesn’t), và động từ “visit” theo sau ở dạng NGUYÊN MẪU.</span></span></span>
        </p>

        <p><span style="color:#66cc00"><strong><span><span
                style="font-size:16px">C. Câu hỏi:</span></span></strong></span></p>

        <p><strong><span style="color:#000000"><span><span
                style="font-size:16px">- Cấu Trúc</span></span></span></strong></p>

        <p style="text-align:center"><span style="font-size:18px"><strong><span style="color:#000000"><span
        >Do/ Does &nbsp; + &nbsp; S &nbsp; + V(nguyên mẫu)?</span></span></strong></span>
        </p>

        <p><span style="color:#000000"><span><span
                style="font-size:16px"><strong>- Trả lời: &nbsp;</strong> &nbsp; &nbsp; &nbsp; &nbsp;</span></span></span>
        </p>

        <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
            <tbody>
            <tr>
                <td style="text-align:center"><span style="color:#000000"><span
                ><span
                        style="font-size:16px">Yes, I/we/you/they + do.</span></span></span></td>
                <td style="text-align:center"><span style="color:#000000"><span
                ><span
                        style="font-size:16px">Yes, he/she/it + does.</span></span></span></td>
            </tr>
            <tr>
                <td style="text-align:center"><span style="color:#000000"><span
                ><span
                        style="font-size:16px">No, I/ we/you/they + don't</span></span></span></td>
                <td style="text-align:center"><span style="color:#000000"><span
                ><span
                        style="font-size:16px">No, he/ she/ it + doesn’t.</span></span></span></td>
            </tr>
            </tbody>
        </table>

        <p><br>
            <span style="color:#000000"><span><span
                    style="font-size:16px"><strong>- Lưu ý:&nbsp;</strong></span></span></span></p>

        <p><em><span style="color:#000000"><span><span
                style="font-size:16px"><strong>&nbsp;&nbsp;+ S = I, We, You, They, danh từ số nhiều</strong> &nbsp;- Ta mượn trợ động từ “Do” đứng trước chủ ngữ.</span></span></span></em>
        </p>
        <p><em><span style="color:#000000"><span><span
                style="font-size:16px"><strong>&nbsp;&nbsp;+ S = He, She, It, danh từ số ít</strong> - Ta mượn trợ động từ “Does” đứng trước chủ ngữ.</span></span></span></em>
        </p>
        <p><em><span style="color:#000000"><span><span
                style="font-size:16px">&nbsp;&nbsp;+ Động từ chính trong câu ở dạng NGUYÊN MẪU.</span></span></span></em>
        </p>

        <p><span style="color:#000000"><span><span
                style="font-size:16px">- Eg:</span></span></span></p>

        <p><em><span style="color:#000000"><span><span
                style="font-size:16px">&nbsp;&nbsp;+ <u><strong>Do</strong></u> you <u><strong>stay</strong></u> with your family? </span></span></span><span
                style="color:#008000"><span><span
                style="font-size:16px">(Bạn có ở cùng với gia đình không?)</span></span></span></em>
        </p>
        <p><em><span style="color:#000000"><span><span
                style="font-size:16px">&nbsp;&nbsp;+ <strong>Yes, I do./ No, I don’t.&nbsp;</strong></span></span></span><span
                style="color:#008000"><span><span style="font-size:16px">(Có, mình ở cùng với gia đình./ Không, mình không ở cùng.)</span></span></span></em>
        </p>

        <p><span style="color:#000000"><span><span style="font-size:16px">=&gt; Ở ví dụ này, chủ ngữ là “you” nên ta mượn trợ động từ “Do” đứng trước chủ ngữ, động từ chính “stay” ở dạng nguyên mẫu.</span></span></span>
        </p>

        <p><em><span style="color:#000000"><span><span
                style="font-size:16px">&nbsp;&nbsp;+ <u><strong>Does</strong></u> your sister <u><strong>like</strong></u> reading books? </span></span></span><span
                style="color:#008000"><span><span
                style="font-size:16px">(Chị của bạn có thích đọc sách không?)</span></span></span></em>
        </p>
        <p><em><span style="color:#000000"><span><span
                style="font-size:16px">&nbsp;&nbsp;+ <strong>Yes, she does./ No, she doesn’t.</strong> </span></span></span><span
                style="color:#008000"><span><span style="font-size:16px">(Có, chị ấy thích đọc sách./ Không, chị ấy không thích.)</span></span></span></em>
        </p>

        <p><span style="color:#000000"><span><span style="font-size:16px">=&gt; Trong câu này, chủ ngữ là “your sister” (tương ứng với ngôi “she”) nên ta mượn trợ động từ “Does” đứng trước chủ ngữ, động từ chính “like” ở dạng nguyên thể.</span></span></span>
        </p>
    </div>
</div>
<div class="item-active" id="item-3">
    <div class="item-title-active">
        <div class="item-title-active-content">III. CÁCH SỬ DỤNG
        </div>

    </div>
    <div class="item-active-content">
        <p><span style="color:#ffa500"><strong><span><span
                style="font-size:16px">1. Dùng để diễn tả một hành động, sự việc diễn ra thường xuyên, lặp đi lặp lại hay một thói quen.</span></span></strong></span>
        </p>

        <p><span style="color:#000000"><span><span
                style="font-size:16px">- Eg:</span></span></span></p>

        <p><em><span style="color:#000000"><span><span
                style="font-size:16px">&nbsp;&nbsp;+ I brush my teeth <u><strong>every day</strong></u>. </span></span></span><span
                style="color:#008000"><span><span
                style="font-size:16px">(Tôi đánh răng mỗi ngày.)</span></span></span></em>
        </p>

        <p><span style="color:#000000"><span><span style="font-size:16px">=&gt; Ta thấy việc đánh răng được lặp đi lặp lại hàng ngày nên ta sẽ sử dụng thì hiện tại đơn để diễn tả. Vì chủ ngữ là “I” nên động từ “brush” ở dạng nguyên thể.</span></span></span>
        </p>

        <p><em><span style="color:#000000"><span><span
                style="font-size:16px">&nbsp;&nbsp;+ My father <u><strong>usually</strong></u> goes to work by motorbike. </span></span></span><span
                style="color:#008000"><span><span
                style="font-size:16px">(ba tôi thường đi làm bằng xe máy)</span></span></span></em>
        </p>

        <p><span style="color:#000000"><span><span style="font-size:16px">=&gt; Việc đi làm bằng xe máy cũng xảy ra thường xuyên nên ta sẽ sử dụng thì hiện tại đơn. Vì chủ ngữ là “my father” (tương ứng với “he”) nên động từ “go” thêm “es”.</span></span></span>
        </p>

        <p><span style="color:#ffa500"><strong><span><span
                style="font-size:16px">2. Diễn tả một sự thật hiển nhiên, một chân lý.</span></span></strong></span></p>

        <p><span style="color:#000000"><span><span
                style="font-size:16px">- Eg:</span></span></span></p>

        <p><em><span style="color:#000000"><span><span
                style="font-size:16px">&nbsp;&nbsp;+ The sun <u><strong>rises</strong></u> in the East and <u><strong>sets</strong></u> in the West. </span></span></span><span
                style="color:#008000"><span><span
                style="font-size:16px">(Mặt trời mọc hướng Đông và lặn hướng Tây)</span></span></span></em>
        </p>

        <p><span style="color:#000000"><span><span style="font-size:16px">=&gt; Đây là một sự thật hiển nhiên nên ta sử dụng thì hiện tại đơn để diễn tả. Chủ ngữ là “the sun” (số ít, tương ứng với “it”) nên động từ “rise” và “set” ta phải thêm “s”.</span></span></span>
        </p>

        <p><span style="color:#ffa500"><strong><span><span
                style="font-size:16px">3. Diễn tả sự việc sẽ xảy xa theo lịch trình, thời gian biểu rõ ràng như giờ tàu, máy bay chạy.</span></span></strong></span>
        </p>

        <p><span style="color:#000000"><span><span
                style="font-size:16px">- Eg:</span></span></span></p>

        <p><em><span style="color:#000000"><span><span
                style="font-size:16px">&nbsp;&nbsp;+ The train <u><strong>leaves</strong></u> at 6 pm today. </span></span></span><span
                style="color:#008000"><span><span
                style="font-size:16px">(Tàu sẽ rời đi vào lúc 6h chiều ngày hôm nay.)</span></span></span></em>
        </p>
        <p><em><span style="color:#000000"><span><span
                style="font-size:16px">&nbsp;&nbsp;+ The flight <u><strong>starts</strong></u> at 10 am tomorrow. </span></span></span><span
                style="color:#008000"><span><span style="font-size:16px">(Chuyến bay sẽ bắt đầu vào lúc 10h sáng ngày mai.)</span></span></span></em>
        </p>

        <p><span style="color:#000000"><span><span style="font-size:16px">=&gt; Mặc dù việc “tàu rời đi” hay “Chuyến bay bắt đầu” chưa xảy ra nhưng vì nó là một lịch trình nên ta sử dụng thì hiện tại đơn. Chủ ngữ là “the train” và “the flight” (số ít, tương ứng với “it”) nên động từ “leave” và “starts” ta phải thêm “s”.</span></span></span>
        </p>

        <p><span style="color:#ffa500"><strong><span><span
                style="font-size:16px">4. Diễn tả suy nghĩ, cảm xúc, cảm giác.</span></span></strong></span></p>

        <p><span style="color:#000000"><span><span
                style="font-size:16px">- Eg:</span></span></span></p>

        <p><em><span style="color:#000000"><span><span
                style="font-size:16px">&nbsp;&nbsp;+ I <u><strong>think</strong></u> that your brother is a good person. </span></span></span><span
                style="color:#008000"><span><span
                style="font-size:16px">(Tôi nghĩ rằng anh trai bạn là một người tốt.)</span></span></span></em>
        </p>

        <p><span style="color:#000000"><span><span style="font-size:16px">=&gt; Động từ chính trong câu này là “think” diễn tả “suy nghĩ” nên ta sử dụng thì hiện tại đơn. Vì chủ ngữ là “I” nên động từ “think” không chia và ở dạng nguyên mẫu.</span></span></span>
        </p>

        <p><em><span style="color:#000000"><span><span
                style="font-size:16px">&nbsp;&nbsp;+ He <u><strong>feels</strong></u> very tired now. </span></span></span><span
                style="color:#008000"><span><span
                style="font-size:16px">(Bây giờ anh ấy cảm thấy rất mệt.)</span></span></span></em>
        </p>

        <p><span style="color:#000000"><span><span style="font-size:16px">=&gt; Động từ “feel” có nghĩa là “cảm thấy” chỉ cảm giác nên ta sử dụng thì hiện tại đơn. Vì chủ ngữ là “he” nên động từ “feel” phải thêm “s”.</span></span></span>
        </p>
    </div>
</div>
<div class="item-active" id="item-4">
    <div class="item-title-active">
        <div class="item-title-active-content">IV.&nbsp;DẤU HIỆU NHẬN BIẾT
        </div>

    </div>
    <div class="item-active-content">
        <p><span style="color:#ffa500"><strong><span><span
                style="font-size:16px">- Khi trong các câu xuất hiện các trạng từ chỉ tần suất:</span></span></strong></span>
        </p>

        <p><em><span style="color:#000000"><span><span
                style="font-size:16px">&nbsp;&nbsp;+ Always (luôn luôn), usually (thường xuyên), often (thường xuyên), frequently (thường xuyên) , sometimes (thỉnh thoảng), seldom (hiếm khi), rarely (hiếm khi), hardly (hiếm khi) , never (không bao giờ), generally (nhìn chung), regularly (thường xuyên).</span></span></span></em>
        </p>
        <p><em><span style="color:#000000"><span><span
                style="font-size:16px">&nbsp;&nbsp;+ Every day, every week, every month, every year,……. (Mỗi ngày, mỗi tuần, mỗi tháng, mỗi năm)</span></span></span></em>
        </p>
        <p><em><span style="color:#000000"><span><span
                style="font-size:16px">&nbsp;&nbsp;+ Once/ twice/ three times/ four times….. a day/ week/ month/ year,……. (một lần / hai lần/ ba lần/ bốn lần ……..một ngày/ tuần/ tháng/ năm)&nbsp;</span></span></span></em>
        </p>

        <p><span style="color:#ffa500"><strong><span><span
                style="font-size:16px">- Vị trí của trạng từ chỉ tuần suất trong câu:</span></span></strong></span></p>

        <p><span style="color:#000000"><span><span style="font-size:16px">Các trạng từ: Always, usually, often, sometimes, rarely, seldom - đứng trước động từ thường, đứng sau động từ “to be” và trợ động từ .</span></span></span>
        </p>

        <p><span style="color:#000000"><span><span
                style="font-size:16px">- Eg:</span></span></span></p>

        <p><em><span style="color:#000000"><span><span
                style="font-size:16px">&nbsp;&nbsp;+ She <u><strong>rarely goes</strong></u> to school by bus. </span></span></span><span
                style="color:#008000"><span><span
                style="font-size:16px">(Cô ấy hiếm khi đi học bằng xe bus)</span></span></span></em>
        </p>
        <p><em><span style="color:#000000"><span><span
                style="font-size:16px">&nbsp;&nbsp;+ He <u><strong>is usually</strong></u> at home in the evening. </span></span></span><span
                style="color:#008000"><span><span
                style="font-size:16px">(Anh ta thường ở nhà vào buổi tối.)</span></span></span></em>
        </p>
        <p><em><span style="color:#000000"><span><span
                style="font-size:16px">&nbsp;&nbsp;+ I <strong>don’t often</strong> go out with my friends. </span></span></span><span
                style="color:#008000"><span><span
                style="font-size:16px">(Tôi không thường đi ra ngoài với bạn bè)</span></span></span></em>
        </p>
    </div>
</div>
<div class="item-active" id="item-5">
    <div class="item-title-active">
        <div class="item-title-active-content">V.&nbsp;QUY TẮC THÊM “S” HOẶC “ES” SAU ĐỘNG TỪ
        </div>

    </div>
    <div class="item-active-content">
        <p><span style="color:#ffa500"><strong><span><span
                style="font-size:16px">1. Thông thường ta thêm “s” vào sau các động từ.</span></span></strong></span>
        </p>

        <p><span style="color:#000000"><span><span
                style="font-size:16px">- Eg:</span></span></span></p>

        <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
            <tbody>
            <tr>
                <td style="text-align:center"><span style="color:#000000"><span
                ><span
                        style="font-size:16px">work - works</span></span></span></td>
                <td style="text-align:center"><span style="color:#000000"><span
                ><span
                        style="font-size:16px">read - reads</span></span></span></td>
                <td style="text-align:center"><span style="color:#000000"><span
                ><span style="font-size:16px">speak - speaks</span></span></span>
                </td>
            </tr>
            <tr>
                <td style="text-align:center"><span style="color:#000000"><span
                ><span
                        style="font-size:16px">love - loves</span></span></span></td>
                <td style="text-align:center"><span style="color:#000000"><span
                ><span
                        style="font-size:16px">see - sees</span></span></span></td>
                <td style="text-align:center"><span style="color:#000000"><span
                ><span style="font-size:16px">drink - drinks</span></span></span>
                </td>
            </tr>
            </tbody>
        </table>

        <p><span style="color:#ff8c00"><strong><span><span
                style="font-size:16px">2. Những động từ tận cùng bằng: -s; -sh; -ch; -z; -x; -o ta thêm “es”.</span></span></strong></span>
        </p>

        <p><span style="color:#000000"><span><span
                style="font-size:16px">- Eg:</span></span></span></p>

        <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
            <tbody>
            <tr>
                <td style="text-align:center"><span style="color:#000000"><span
                ><span style="font-size:16px">miss - misses</span></span></span>
                </td>
                <td style="text-align:center"><span style="color:#000000"><span
                ><span
                        style="font-size:16px">watch - watches</span></span></span></td>
                <td style="text-align:center"><span style="color:#000000"><span
                ><span
                        style="font-size:16px">mix - mixes</span></span></span></td>
            </tr>
            <tr>
                <td style="text-align:center"><span style="color:#000000"><span
                ><span style="font-size:16px">wash - washes</span></span></span>
                </td>
                <td style="text-align:center"><span style="color:#000000"><span
                ><span style="font-size:16px">buzz - buzzes</span></span></span>
                </td>
                <td style="text-align:center"><span style="color:#000000"><span
                ><span
                        style="font-size:16px">go - goes</span></span></span></td>
            </tr>
            </tbody>
        </table>

        <p><span style="color:#ffa500"><strong><span><span
                style="font-size:16px">3. Những động từ tận cùng là “y”:</span></span></strong></span></p>

        <p><span style="color:#66cc00"><strong><span><span
                style="font-size:16px">- Nếu trước “y” là một nguyên âm (a, e, i, o, u) - ta giữ nguyên “y” + “s”</span></span></strong></span>
        </p>

        <p><span style="color:#000000"><span><span style="font-size:16px">+ Eg:&nbsp;</span></span></span>
        </p>

        <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
            <tbody>
            <tr>
                <td style="text-align:center"><span style="color:#000000"><span
                ><span
                        style="font-size:16px">play - plays</span></span></span></td>
                <td style="text-align:center"><span style="color:#000000"><span
                ><span
                        style="font-size:16px">buy - buys &nbsp;&nbsp;</span></span></span></td>
                <td style="text-align:center"><span style="color:#000000"><span
                ><span
                        style="font-size:16px">pay - pays</span></span></span></td>
            </tr>
            </tbody>
        </table>

        <p><span style="color:#66cc00"><strong><span><span
                style="font-size:16px">- Nếu trước “y” là một phụ âm - ta đổi “y” thành “i” + “es”</span></span></strong></span>
        </p>

        <p><span style="color:#000000"><span><span
                style="font-size:16px">+ Eg: &nbsp; </span></span></span><strong><span
                style="color:#000000"><span><span
                style="font-size:16px">&nbsp; &nbsp;&nbsp;</span></span></span></strong>
        </p>

        <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
            <tbody>
            <tr>
                <td style="text-align:center"><span style="color:#000000"><span
                ><span style="font-size:16px">&nbsp;&nbsp;fly - flies &nbsp;</span></span></span>
                </td>
                <td style="text-align:center"><span style="color:#000000"><span
                ><span
                        style="font-size:16px">cry - cries &nbsp;</span></span></span></td>
                <td style="text-align:center"><span style="color:#000000"><span
                ><span
                        style="font-size:16px">fry - fries</span></span></span></td>
            </tr>
            </tbody>
        </table>

        <p><span style="color:#ffa500"><strong><span><span
                style="font-size:16px">4. Trường hợp đặc biêt:</span></span></strong></span></p>

        <p><span style="color:#000000"><span><span
                style="font-size:16px">- Ta có: <strong>have - has</strong></span></span></span>
        </p>

        <p><span style="color:#000000"><span><span style="font-size:16px">Động từ “have” khi đi với chủ ngữ là ngôi thứ 3 số ít sẽ không thêm “s” mà biến đổi thành “has”.</span></span></span>
        </p>

        <p><span style="color:#000000"><span><span
                style="font-size:16px">+ Eg:</span></span></span></p>

        <p><em><span style="color:#000000"><span><span
                style="font-size:16px">&nbsp;&nbsp;+ They <u><strong>have</strong></u> three children. (Họ có 3 người con.)</span></span></span></em>
        </p>
        <p><em><span style="color:#000000"><span><span
                style="font-size:16px">&nbsp;&nbsp;+ She <u><strong>has</strong></u> two children. (Cô ấy có 2 người con.)<em><span
                style="color:#000000"><span><span
                style="font-size:16px">&#8203;</span></span></span></em></span></span></span></em>
        </p>
    </div>
</div>
