<meta charset="UTF-8">
<div class="item-active" id="item-1">
    <div class="item-title-active">
        <div class="item-title-active-content">I. KHÁI NIỆM
        </div>
        <div class="item-active-icons">
            <div class="item-active-icons-content">
                <img class="item-active-forward" src="file:///android_asset/images/arrow_right.png" alt=""/>
                <img class="item-active-down" src="file:///android_asset/images/arrow_down.png"/>
            </div>
        </div>
    </div>
    <div class="item-active-content">
        <p style="text-align: justify;"><strong><span style="color:#0000CD;">Tính từ</span></strong> (adjective, viết
            tắt là
            adj) là có vai trò giúp bổ trợ cho danh từ hoặc đại từ, nó giúp miêu tả các đặc tính của sự vật, hiện tượng
            mà danh
            từ đó đại diện.</p>

        <p style="text-align: justify;">Tính từ giúp trả lời cho các câu hỏi:</p>


        <p style="text-align: justify;">&nbsp;&nbsp;&bull; “Which?”: Cái nào?</p>
        <p style="text-align: justify;">&nbsp;&nbsp;&bull; “What kind?”: Loại gì?</p>
        <p style="text-align: justify;">&nbsp;&nbsp;&bull; “How many?”: Bao nhiêu?</p>

        <p style="text-align: justify;">Ví dụ:<br>
            <span style="color: #888888;"><strong><em>“The beautiful girl is riding her bike.”</em></strong></span> – Cô
            gái xinh đẹp đang đi xe đạp của cô ấy.</p>
        <p style="text-align: justify;">“Beautiful” – xinh đẹp (adj) ám chỉ cô gái mà người viết muốn nói đến và trả lời
            cho câu hỏi “Which girl?”</p>
        <p style="text-align: justify;"><strong><em><span style="color: #888888;">“Fifteen students passed the midterm exam”</span>
        </em></strong>– 15 học sinh vượt qua kỳ thi giữa kỳ</p>
        <p style="text-align: justify;">Vậy “Fifteen” – mười lăm (adj) dùng để trả lời cho câu hỏi “How many students
            did pass the midterm exam?”</p>
    </div>
</div>
<div class="item-active" id="item-2">
    <div class="item-title-active">
        <div class="item-title-active-content">II. PHÂN LOẠI
        </div>

    </div>
    <div class="item-active-content">
        <p><span style="color:#ffa500"><strong><span style="font-family:arial,helvetica,sans-serif"><span
                style="font-size:16px">1. Phân loại theo chức năng</span></span></strong></span></p>

        <p style="text-align: justify;"><strong>Tính từ riêng</strong>: Là tên riêng để gọi của của sự vật, hiện tượng
        </p>

        <p style="text-align: justify;"><strong>VD: </strong>&nbsp;My name is Lan (Từ Lan là tên riêng hay được gọi là
            danh từ
            riêng chỉ tên của bạn Lan.)</p>

        <p style="text-align: justify;"><strong>Tính từ miêu tả</strong>:&nbsp;Tính từ miêu tả tính chất sự vật</p>

        <p style="text-align: justify;"><strong>VD:</strong></p>
        <p style="text-align: justify;">&nbsp;&nbsp;&bull; a tall boy: một đứa trẻ cao</p>
        <p style="text-align: justify;">&nbsp;&nbsp;&bull; a round ball: một quả bóng tròn</p>
        <p style="text-align: justify;">&nbsp;&nbsp;&bull; a pretty girl: một em bé xinh</p>

        <p style="text-align: justify;"><strong>Các tính từ miêu tả thường được sắp xếp như sau</strong>: sự miêu tả
            tổng quát
            (bao gồm những tính từ chỉ cá tính và sự xúc cảm) – kích thước – hình dáng – màu sắc – nguồn gốc – chất liệu
            – mục
            đích (những từ này là danh động từ được dùng để hình thành danh từ kép: fishing rod (cần câu cá), sleeping
            bag (túi
            ngủ)...)</p>
        <p style="text-align: justify;"><strong>VD:</strong></p>
        <p style="text-align: justify;">&nbsp;&nbsp;&bull; a small house: một căn nhà nhỏ</p>
        <p style="text-align: justify;">&nbsp;&nbsp;&bull; a small round bath: một cái chậu tắm tròn nhỏ</p>
        <p style="text-align: justify;">&nbsp;&nbsp;&bull; a long sharp knife: một con dao sắc dài</p>
        <p style="text-align: justify;">&nbsp;&nbsp;&bull; blue velvet curtains: những tấm màn nhung xanh</p>
        <p style="text-align: justify;"><strong>Tính từ sở hữu</strong>:&nbsp;dùng để chỉ danh từ đó thuộc về ai</p>

        <p style="text-align: justify;"><strong>VD:</strong></p>
        <p style="text-align: justify;">&nbsp;&nbsp;&bull; my house: ngôi nhà của tôi</p>
        <p style="text-align: justify;">&nbsp;&nbsp;&bull; our garden: khu vườn của chúng tôi</p>
        <p style="text-align: justify;">&nbsp;&nbsp;&bull; their grandparents: ông bà của họ</p>
        <div class="table-responsive2">
            <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
                <tbody>
                <tr>
                    <td style="background-color: rgb(102, 204, 255);">
                        <p style="text-align: center;"><strong>Ngôi</strong>
                            <o></o>
                        </p>
                    </td>
                    <td style="background-color: rgb(102, 204, 255);">
                        <p style="text-align: center;"><strong>Số ít</strong>
                            <o></o>
                        </p>
                    </td>
                    <td style="background-color: rgb(102, 204, 255);">
                        <p style="text-align: center;"><strong>Số nhiều</strong>
                            <o></o>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Ngôi thứ nhất
                            <o></o>
                        </p>
                    </td>
                    <td>
                        <p>My: của tôi
                            <o></o>
                        </p>
                    </td>
                    <td>
                        <p>Our: của chúng tôi
                            <o></o>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Ngôi thứ hai
                            <o></o>
                        </p>
                    </td>
                    <td>
                        <p>Your: của anh
                            <o></o>
                        </p>
                    </td>
                    <td>
                        <p>Your: của các anh
                            <o></o>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Ngôi thứ ba
                            <o></o>
                        </p>
                    </td>
                    <td>
                        <p>His: của ông / anh ta</p>

                        <p>Her: của bà / chị ta
                        </p>
                        <p>Its: của nó
                        </p>
                    </td>
                    <td>
                        <p>Their: của họ / chúng nó</p>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <p><strong>Lưu ý:</strong>&nbsp;khi chủ sở hữu là một đại từ bất định: one à hình thức sở hữu tính từ là one’s
            Chủ sở
            hữu là những từ như “everyone” hay những danh từ tập hợp thì&nbsp;tính từ sở hữu ở hình thức ngôi thứ ba số
            nhiều
            “their”</p>

        <p style="text-align: justify;"><strong>Tính từ số mục</strong>:&nbsp;từ chỉ số đếm hoặc số thứ tự</p>

        <p style="text-align: justify;"><strong>VD:</strong></p>
        <p style="text-align: justify;">&nbsp;&nbsp;&bull; one, two, three…: một, hai, ba</p>
        <p style="text-align: justify;">&nbsp;&nbsp;&bull; first, second, third…: thứ nhất, thứ hai, thứ ba</p>
        <p style="text-align: justify;">&nbsp;&nbsp;&bull; I am the second daughter in the family.</p>

        <p style="text-align: justify;"><strong>Tính từ chung</strong>:&nbsp;từ không chỉ rõ các vật</p>

        <p style="text-align: justify;"><strong>VD:</strong></p>


        <p style="text-align: justify;">&nbsp;&nbsp;&bull; all: tất cả</p>
        <p style="text-align: justify;">&nbsp;&nbsp;&bull; every: mọi</p>
        <p style="text-align: justify;">&nbsp;&nbsp;&bull; some: một vài, ít nhiều&nbsp;</p>
        <p style="text-align: justify;">&nbsp;&nbsp;&bull; many, much: nhiều</p>
        <p style="text-align: justify;">&nbsp;&nbsp;&bull; Each và every:&nbsp;đều đi với động từ ở ngôi số ít. Every
            chỉ một tập thể, Each
            chỉ cá thể.
        </p>


        <p style="text-align: justify;"><strong>VD: &nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>


        <p style="text-align: justify;">&nbsp;&nbsp;&bull; Each student must try his best.</p>
        <p style="text-align: justify;">&nbsp;&nbsp;&bull; Every man&nbsp;knows what to do.</p>
        <p style="text-align: justify;">&nbsp;&nbsp;&bull; Both:&nbsp;cả hai, dùng với động từ ở số nhiều.</p>


        <p style="text-align: justify;"><strong>VD: &nbsp;</strong>&nbsp;</p>


        <p style="text-align: justify;">&nbsp;&nbsp;&bull; Both the children play in the garden.</p>
        <p style="text-align: justify;">&nbsp;&nbsp;&bull; Both his legs were broken.</p>
        <p style="text-align: justify;">&nbsp;&nbsp;&bull; Either và Neither:&nbsp;đều đi với động từ ở ngôi số ít.
            Either nghĩa là cái này
            hoặc cái kia trong số hai. Neither nghĩa là không cái này cũng không cái kia trong số hai.
        </p>


        <p style="text-align: justify;"><strong>VD: &nbsp;</strong></p>


        <p style="text-align: justify;">&nbsp;&nbsp;&bull; Hedges &nbsp;ran on either side. (hàng rào chạy dài ở mỗi một
            bên đường.)</p>
        <p style="text-align: justify;">&nbsp;&nbsp;&bull; Neither answer is correct. (cả hai câu trả lời đều không
            đúng.)</p>
        <p style="text-align: justify;">&nbsp;&nbsp;&bull; Other, another : khác</p>


        <p style="text-align: justify;"><strong>VD: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong></p>


        <p style="text-align: justify;">&nbsp;&nbsp;&bull; You have to learn many other things.</p>
        <p style="text-align: justify;">&nbsp;&nbsp;&bull; Another boy has taken my</p>


        <p style="text-align: justify;"><strong>Tính từ chỉ thị</strong>: từ đi với danh từ để chỉ cái này, cái kia Đây
            là loại
            tính từ duy nhất thay đối theo số của danh từ. This, That thay đổi thành These, Those khi đi trước danh từ
            số nhiều.
            This, vàThese được dùng cho các đối tượng, vật và người ở gần trong khi That và Those dùng cho các đối tượng
            ở xa
            hơn.</p>

        <p style="text-align: justify;"><strong>VD:</strong></p>


        <p style="text-align: justify;">&nbsp;&nbsp;&bull; this chair: cái ghế này;</p>
        <p style="text-align: justify;">&nbsp;&nbsp;&bull; these chairs: những cái ghế này</p>
        <p style="text-align: justify;">&nbsp;&nbsp;&bull; that child: đứa trẻ đó; those children: những đứa trẻ đó</p>


        <p style="text-align: justify;"><strong>Tính từ liên hệ</strong>: từ có hình thức như đại từ liên hệ</p>

        <p style="text-align: justify;">VD: whichever, whatever</p>

        <p style="text-align: justify;"><strong>Tính từ nghi vấn:&nbsp;từ dùng để hỏi</strong></p>

        <p style="text-align: justify;">VD:&nbsp;Which kind of products do you more believe in: the one that comes to
            you by
            word-of-mouth or the one that you see through advertisements?</p>

        <p style="text-align: justify;"><strong>Tính từ nghi vấn chỉ có hai hình thức:</strong></p>

        <p style="text-align: justify;">What (gì, nào) (nói chung) đi với danh từ chỉ người cũng như chỉ vật, ở số ít
            cũng như ở
            số nhiều, làm bổ túc từ cũng như chủ từ.</p>

        <p style="text-align: justify;">VD: &nbsp;&nbsp;What boy beats you? (đứa trẻ nào đánh bạn?) - What books have
            you read?
            (những cuốn sách nào bạn đã đọc?)</p>

        <p style="text-align: justify;">Which (gì, nào) (ngụ ý lựa chọn) đi với danh từ chỉ người cũng như chỉ vật ở số
            ít cũng
            như ở số nhiều, làm bổ túc từ cũng như chủ từ.</p>

        <p style="text-align: justify;">VD: &nbsp;Which book do you like best? (cuốn sách nào bạn thích nhất?) - Which
            friend do
            you prefer? (người bạn nào anh ưa hơn?)</p>

        <p><span style="color:#ffa500"><strong><span style="font-family:arial,helvetica,sans-serif"><span
                style="font-size:16px">2. Phân loại là tính từ theo vị trí</span></span></strong></span></p>

        <p style="text-align: justify;"><strong>a. Tính từ thường đứng trước danh từ,</strong>&nbsp;các tính từ đứng
            trước danh
            từ đều có thể đứng một mình, không có danh từ kèm theo.</p>

        <p style="text-align: justify;">VD: a nice house. This house is nice<br>
            Nhưng cũng có một số tính từ luôn đi kèm danh từ như former, main, latter</p>

        <p style="text-align: justify;"><strong>b. Tính từ đứng một mình, không cần danh từ:</strong></p>

        <p style="text-align: justify;">Thường là các tính từ bắt đầu bằng "a": aware; afraid;alive;awake; alone;
            ashamed ... và
            một số tính từ khác như: unable; exempt; content...&nbsp;</p>

        <p style="text-align: justify;">Ví dụ: A bird is afraid<br>
            Nếu muốn chuyển sang đứng trước danh từ, chúng ta phải chuyển sang dùng&nbsp;phân từ:&nbsp;A frightened bird
        </p>

        <p><span style="color:#ffa500"><strong><span style="font-family:arial,helvetica,sans-serif"><span
                style="font-size:16px">3. Phân loại là tính từ theo chức năng</span></span></strong></span></p>

        <p style="text-align: justify;"><strong>a. Tính từ chỉ sự miêu tả:</strong>&nbsp;nice, green, blue, big, good, a
            colorful room, a good boy, a big house.</p>

        <p style="text-align: justify;"><strong>b. Tính từ chỉ mức độ:</strong>&nbsp;là những tính từ có thể diễn tả
            tính
            chất hoặc
            đặc tính ở những mức độ (lớn , nhỏ..) khác nhau. Những tính từ này có thể dùng ở dạng so sánh hoặc có thể
            phẩm định
            bởi các phó từ chỉ mức độ như very, rather, so...</p>


        <p style="text-align: justify;">&nbsp;&nbsp;&bull; small smaller smallest</p>
        <p style="text-align: justify;">&nbsp;&nbsp;&bull; beautiful more beautiful the most beautiful</p>
        <p style="text-align: justify;">&nbsp;&nbsp;&bull; very old so hot extremely good</p>


        <p style="text-align: justify;"><strong>c. Tính từ chỉ số đếm:&nbsp;</strong>bao gồm tính từ chỉ số đếm
            (cardianls) như
            one, two, three... và những tính từ chỉ số thứ tự (ordinals) như first, second, third,..</p>

        <p style="text-align: justify;"><strong>d. Đối với các từ chỉ thị:&nbsp;</strong>this, that, these,those; sở hữu
            (possesives) như my, his, their và bất định (indefinites) như some, many,</p>
    </div>
</div>
<div class="item-active" id="item-3">
    <div class="item-title-active">
        <div class="item-title-active-content">III. VỊ TRÍ
        </div>

    </div>
    <div class="item-active-content">
        <p style="color:#66cc00"><strong>A. Vị trí trước danh từ: </strong><strong>bổ nghĩa, cung cấp nhiều chi tiết hơn
            cho danh từ.</strong></p>

        <p style="text-align: justify;">Ví dụ:</p>

        <p style="text-align: justify;"><em><strong>“I ate a meal</strong></em>.” Trong đó “meal” – bữa ăn là danh từ,
            người đọc
            không thể biết được bữa ăn đó là gì, như thế nào?</p>

        <p style="text-align: justify;">Khi thêm tính từ: “I ate an enormous meal.” Thì ở đây “enormous”- &nbsp;khổng
            lồ, to lớn
            là tính từ bổ nghĩa cho danh từ “meal” để thể hiện được đây là một bữa tiệc rất lớn, hoành tráng. Vậy khi sử
            dụng
            tính từ, người viết muốn làm cho người đọc hiểu được rõ và sâu hơn những sự vật, sự việc &nbsp;mà họ muốn
            nói
            đến.</p>

        <p style="color:#66cc00"><strong>B. Sau động từ liên kết</strong></p>

        <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
            <tbody>
            <tr>
                <td>
                    <p>Tobe: thì, là, ở</p>
                </td>
                <td>
                    <p>He is so handsome</p>
                    <p>Anh ấy rất đẹp trai</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Seem: có vẻ, dường như</p>
                </td>
                <td>
                    <p>You seem determined.<br>
                        Anh có vẻ quyết tâm đấy.</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Appear: trình diện, ra mắt</p>
                </td>
                <td>
                    <p>The streets appear deserted.<br>
                        Phố xá trông vắng tanh.</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Feel: cảm thấy</p>
                </td>
                <td>
                    <p>I feel hungry</p>
                    <p>Tôi cảm thấy đói</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Taste: nếm trải, thưởng thức</p>
                </td>
                <td>
                    <p>Kisses taste sweet.<br>
                        Những nụ hôn mới ngọt ngào làm sao.</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>&nbsp;Look: thấy, trông</p>
                </td>
                <td>
                    <p>The woman looked angry to us.</p>
                    <p>Người phụ nữ trông rất tức giận với chúng tôi</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Sound : nghe thấy</p>
                </td>
                <td>
                    <p>that &nbsp;sounds great !</p>
                    <p>Nghe hay đấy !</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Smell: ngửi, cảm thấy</p>
                </td>
                <td>
                    <p>Roses smell sweet</p>
                    <p>Hoa hồng có mùi thật thơm</p>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="item-active" id="item-4">
    <div class="item-title-active">
        <div class="item-title-active-content">IV. TÍNH TỪ VỚI ĐUÔI -ING VÀ -ED
        </div>

    </div>
    <div class="item-active-content">
        <p>Đây là loại tính từ miêu tả, và cũng gây ra rất nhiều khó khăn trong quá trình làm bài tập ngữ pháp của nhiều
            người vì rất hay xảy ra sự nhẫm lẫn trong cách sử dụng.</p>
        <p style="text-align: justify;"><strong>– Tính từ kết thúc bằng đuôi “-ed” diễn tả cảm xúc khi người nói muốn
            thể hiện cảm xúc của mình về một sự vật, hiện tượng nào đó.</strong></p>
        <p>Ví dụ:<br>
            <strong><span
                    style="color: #888888;"><em>I was very bored in the maths lesson. I almost fell asleep.&nbsp;</em></span></strong>
        </p>
        <p>Tôi rất chán trong tiết học Toán. Tôi toàn cảm thấy buồn ngủ thôi.</p>
        <p><em><span style="color: #888888;"><strong>He was surprised to see Helen. She’d told him she was going to Australia.&nbsp;</strong></span></em>
        </p>
        <p>Anh ấy rất ngạc nhiên khi nhìn thấy Helen. Cô ấy nói với anh rằng sẽ đi đến Australia</p>
        <p><em><span style="color: #888888;"><strong>Feeling tired and depressed, he went to bed.</strong></span></em>
        </p>
        <p>Cảm thấy mệt mỏi và thất vọng, anh ấy đã đi ngủ.</p>
        <p><strong>– Tính từ kết thúc bằng đuôi “-ing” để diễn tả thứ gì đó khiến cho bạn cảm thấy như thế nào.</strong>
        </p>
        <p>Ví dụ:</p>
        <p><span style="color: #888888;"><em><strong>Have you seen that film? It’s absolutely terrifying.&nbsp;</strong></em></span>
        </p>
        <p>Bạn xem phim đấy chưa? Nó thật sự kinh khủng.</p>
        <p><span
                style="color: #888888;"><em><strong> I can’t eat this! It’s disgusting! What is it? </strong></em></span>
        </p>
        <p>Tôi không thể ăn cái này! Thật kinh tởm! Cái gì đấy?</p>
        <p><span style="color: #888888;"><em><strong>A boring lesson makes me feel bored.</strong></em></span></p>
        <p>Một tiết học nhàm chán khiến tôi cảm thấy chán chường.</p>
        <p><strong>- Một số cặp tính từ tận cùng bằng –ing và –ed:</strong><br>
            Embarrassing – embarrassed</p>
        <p>Fascinating – fascinated</p>
        <p>Disgusting – disgusted</p>
        <p>Exciting – excited</p>
        <p>Amusing – amused</p>
        <p>Terrifying – terrified</p>
        <p>Worrying – worried</p>
        <p>Exhausting – exhausted</p>
        <p>Astonishing – astonished</p>
        <p>Shocking – shocked</p>
        <p>Confusing – confused</p>
        <p>Frightening – frightened</p>
    </div>
</div>
<div class="item-active" id="item-5">
    <div class="item-title-active">
        <div class="item-title-active-content">V. DẤU HIỆU NHẬN BIẾT
        </div>

    </div>
    <div class="item-active-content">
        <p style="text-align: justify;">Căn cứ vào các hậu tố sau, các bạn có thể nhận biết được tính từ</p>

        <div class="table-responsive2">
            <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
                <colgroup>
                    <col style="text-align: justify;">
                    <col style="text-align: justify;">
                </colgroup>
                <tbody>
                <tr>
                    <td>
                        <p style="text-align: justify;">Hậu tố thường gặp</p>
                    </td>
                    <td>
                        <p style="text-align: justify;">Ví dụ</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="text-align: justify;">– al</p>
                    </td>
                    <td>
                        <p style="text-align: justify;">national, cultural…</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="text-align: justify;">– ful</p>
                    </td>
                    <td>
                        <p style="text-align: justify;">beautiful, careful, useful,peaceful…</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="text-align: justify;">– ive</p>
                    </td>
                    <td>
                        <p style="text-align: justify;">active, attractive ,impressive…</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="text-align: justify;">– able</p>
                    </td>
                    <td>
                        <p style="text-align: justify;">comfortable, miserable…</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="text-align: justify;">– ous</p>
                    </td>
                    <td>
                        <p style="text-align: justify;">dangerous, serious, humorous, famous…</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="text-align: justify;">– cult</p>
                    </td>
                    <td>
                        <p style="text-align: justify;">difficult…</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="text-align: justify;">– ish</p>
                    </td>
                    <td>
                        <p style="text-align: justify;">selfish, childish…</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="text-align: justify;">– ed</p>
                    </td>
                    <td>
                        <p style="text-align: justify;">bored, interested, excited…</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="text-align: justify;">– ing</p>
                    </td>
                    <td>
                        <p style="text-align: justify;">interesting, relaxing, exciting, boring,…</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="text-align: justify;">– ly</p>
                    </td>
                    <td>
                        <p style="text-align: justify;">daily, monthly, friendly, healthy, lovely,…</p>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="item-active" id="item-6">
    <div class="item-title-active">
        <div class="item-title-active-content">VI. CẤU TRÚC CỦA TÍNH TỪ GHÉP
        </div>

    </div>
    <div class="item-active-content">
        <h4 style="text-align: justify;"><strong>Các dạng hình thành tính từ ghép</strong></h4>

        <p style="text-align: justify;">Khi các từ được kết hợp với nhau để tạo thành tính từ kép, chúng có thể được
            viết theo 1
            số dạng dưới đây.</p>

        <p style="text-align: justify;">*&nbsp;thành một từ duy nhất:</p>

        <p style="text-align: justify;">life + long = lifelong</p>

        <p style="text-align: justify;">car + sick = carsick</p>

        <p style="text-align: justify;">* thành hai từ có dấu nối (-) ở giữa</p>

        <p style="text-align: justify;">world + famous = world-famous</p>

        <p style="text-align: justify;">Cách viết tính từ kép được phân loại như trên chỉ có tính tương đối. Một
            tính từ
            kép có
            thể được một số người bản ngữ viết có dấu gạch nối (-) trong lúc một số người viết liền nhau hoặc chúng
            có
            thể thay
            đổi cáh viết theo thời gian</p>

        <h4 style="text-align: justify;"><strong>Cấu tạo thường gặp của tính từ ghép</strong></h4>

        <p style="text-align: justify;"><strong>Danh từ + tính từ:</strong></p>


        <p style="text-align: justify;">&nbsp;&nbsp;&bull; snow-white (trắng như tuyết)&nbsp;carsick (say xe)</p>
        <p style="text-align: justify;">&nbsp;&nbsp;&bull; world-wide (khắp thế giới) noteworthy (đánh chú ý)</p>


        <p style="text-align: justify;"><strong>Danh từ + phân từ</strong></p>


        <p style="text-align: justify;">&nbsp;&nbsp;&bull; handmade (làm bằng tay) heartbroken (đau lòng)</p>
        <p style="text-align: justify;">&nbsp;&nbsp;&bull; homegorwn (nhà trồng) heart-warming (vui vẻ)</p>


        <p style="text-align: justify;"><strong>Phó từ + phân từ</strong></p>


        <p style="text-align: justify;">&nbsp;&nbsp;&bull; never-defeated (không bị đánh bại) outspoken (thẳng
            thắn)</p>
        <p style="text-align: justify;">&nbsp;&nbsp;&bull; well-built (tráng kiện) everlasting (vĩnh cửu)</p>


        <p style="text-align: justify;"><strong>Tính từ + tính từ</strong></p>


        <p style="text-align: justify;">&nbsp;&nbsp;&bull; blue-black (xanh đen) white-hot (cực nóng)</p>
        <p style="text-align: justify;">&nbsp;&nbsp;&bull; dark-brown (nâu đậm) worldly-wise (từng trải)</p>


        <p style="text-align: justify;"><strong>Tính từ kép bằng dấu gạch ngang&nbsp;(hyphenated
            adjectives)</strong>
        </p>

        <p style="text-align: justify;"><strong>Ví dụ:&nbsp;</strong></p>


        <p style="text-align: justify;">&nbsp;&nbsp;&bull; A four-year-old girl = The girl is four years old.</p>
        <p style="text-align: justify;">&nbsp;&nbsp;&bull; A ten-storey building = The building has ten storeys.</p>
        <p style="text-align: justify;">&nbsp;&nbsp;&bull; A never-to-be-forgetten memory = The memory will be never
            forgotten.</p>

    </div>
</div>

<div class="item-active" id="item-7">
    <div class="item-title-active">
        <div class="item-title-active-content">VII. MỘT SỐ TÍNH TỪ THÔNG DỤNG
        </div>

    </div>
    <div class="item-active-content">
        <p style="text-align: justify;">Dưới đây là 1 vài tính từ thông dụng thường được sử dụng thường ngày bạn có
            thể
            tham
            khảo nhé.&nbsp;</p>

        <div class="table-responsive2">
            <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
                <tbody>
                <tr>
                    <td style="background-color: rgb(102, 204, 255);">
                        <p style="text-align: center;"><strong>Tính từ</strong></p>
                    </td>
                    <td style="background-color: rgb(102, 204, 255);">
                        <p style="text-align: center;"><strong>Nghĩa</strong></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="text-align: justify;">Different</p>
                    </td>
                    <td>
                        <p style="text-align: justify;">khác biệt</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="text-align: justify;">Useful</p>
                    </td>
                    <td>
                        <p style="text-align: justify;">hữu ích</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="text-align: justify;">Popular</p>
                    </td>
                    <td>
                        <p style="text-align: justify;">phổ biến</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="text-align: justify;">Mental</p>
                    </td>
                    <td>
                        <p style="text-align: justify;">tinh thần</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="text-align: justify;">Emotional</p>
                    </td>
                    <td>
                        <p style="text-align: justify;">xúc động</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="text-align: justify;">Actual</p>
                    </td>
                    <td>
                        <p style="text-align: justify;">thực tế</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="text-align: justify;">Poor</p>
                    </td>
                    <td>
                        <p style="text-align: justify;">nghèo</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="text-align: justify;">Happy</p>
                    </td>
                    <td>
                        <p style="text-align: justify;">hạnh phúc</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="text-align: justify;">Experience</p>
                    </td>
                    <td>
                        <p style="text-align: justify;">kinh nghiệm</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="text-align: justify;">Helpful</p>
                    </td>
                    <td>
                        <p style="text-align: justify;">giúp đỡ</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="text-align: justify;">Serious</p>
                    </td>
                    <td>
                        <p style="text-align: justify;">nghiêm trọng</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="text-align: justify;">Traditional</p>
                    </td>
                    <td>
                        <p style="text-align: justify;">truyền thống</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="text-align: justify;">Splendid</p>
                    </td>
                    <td>
                        <p style="text-align: justify;">tráng lệ</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="text-align: justify;">Dramatic</p>
                    </td>
                    <td>
                        <p style="text-align: justify;">kịch tính</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="text-align: justify;">Active</p>
                    </td>
                    <td>
                        <p style="text-align: justify;">chủ động</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="text-align: justify;">Certain</p>
                    </td>
                    <td>
                        <p style="text-align: justify;">chắc chắn</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="text-align: justify;">Complex</p>
                    </td>
                    <td>
                        <p style="text-align: justify;">phức tạp</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="text-align: justify;">Dark</p>
                    </td>
                    <td>
                        <p style="text-align: justify;">tối</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="text-align: justify;">Dirty</p>
                    </td>
                    <td>
                        <p style="text-align: justify;">dơ bẩn</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="text-align: justify;">Foolish</p>
                    </td>
                    <td>
                        <p style="text-align: justify;">ngu ngốc</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="text-align: justify;">Important</p>
                    </td>
                    <td>
                        <p style="text-align: justify;">quan trọng</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="text-align: justify;">Lazy</p>
                    </td>
                    <td>
                        <p style="text-align: justify;">lười biếng</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="text-align: justify;">Necessary</p>
                    </td>
                    <td>
                        <p style="text-align: justify;">cần thiết</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="text-align: justify;">Beautiful</p>
                    </td>
                    <td>
                        <p style="text-align: justify;">xinh đẹp</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="text-align: justify;">able</p>
                    </td>
                    <td>
                        <p style="text-align: justify;">có thể</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="text-align: justify;">Difficult</p>
                    </td>
                    <td>
                        <p style="text-align: justify;">khó khăn</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="text-align: justify;">Similar</p>
                    </td>
                    <td>
                        <p style="text-align: justify;">tương tự</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="text-align: justify;">Strong</p>
                    </td>
                    <td>
                        <p style="text-align: justify;">mạnh mẽ</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="text-align: justify;">Intelligent</p>
                    </td>
                    <td>
                        <p style="text-align: justify;">thông minh</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="text-align: justify;">Rich</p>
                    </td>
                    <td>
                        <p style="text-align: justify;">giàu</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="text-align: justify;">Successful</p>
                    </td>
                    <td>
                        <p style="text-align: justify;">thành công</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="text-align: justify;">Cheap</p>
                    </td>
                    <td>
                        <p style="text-align: justify;">rẻ</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="text-align: justify;">Impossible</p>
                    </td>
                    <td>
                        <p style="text-align: justify;">không thể thực hiện</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="text-align: justify;">Wonderful</p>
                    </td>
                    <td>
                        <p style="text-align: justify;">kỳ diệu</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="text-align: justify;">Scared</p>
                    </td>
                    <td>
                        <p style="text-align: justify;">sợ hãi</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="text-align: justify;">Colorful</p>
                    </td>
                    <td>
                        <p style="text-align: justify;">đầy màu sắc</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="text-align: justify;">Angry</p>
                    </td>
                    <td>
                        <p style="text-align: justify;">giận dữ</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="text-align: justify;">Automatic</p>
                    </td>
                    <td>
                        <p style="text-align: justify;">tự động</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="text-align: justify;">Clever</p>
                    </td>
                    <td>
                        <p style="text-align: justify;">khéo léo</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="text-align: justify;">Cruel</p>
                    </td>
                    <td>
                        <p style="text-align: justify;">độc ác</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="text-align: justify;">Dependent</p>
                    </td>
                    <td>
                        <p style="text-align: justify;">phụ thuộc</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="text-align: justify;">Feeble</p>
                    </td>
                    <td>
                        <p style="text-align: justify;">yếu đuối</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="text-align: justify;">Glad</p>
                    </td>
                    <td>
                        <p style="text-align: justify;">vui mừng</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="text-align: justify;">Hollow</p>
                    </td>
                    <td>
                        <p style="text-align: justify;">rỗng</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="text-align: justify;">Late</p>
                    </td>
                    <td>
                        <p style="text-align: justify;">trễ</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="text-align: justify;">Opposite</p>
                    </td>
                    <td>
                        <p style="text-align: justify;">đối ngược</p>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
