<table border="1" cellpadding="1" cellspacing="1" style="width:100%">
    <tbody>
    <tr>
        <td><span style="color:#00ccff"><strong>Động từ nguyên mẫu (V1)</strong></span></td>
        <td><strong><span style="color:#000000">Thể quá khứ (V2)</span></strong></td>
        <td><strong><span style="color:#e67e22">Quá khứ phân từ (V3)</span></strong></td>
        <td><strong>Nghĩa của động từ</strong></td>
    </tr>
    <tr>
        <td>abide</td>
        <td>abode/abided</td>
        <td>abode/abided</td>
        <td>lưu trú, lưu lại</td>
    </tr>
    <tr>
        <td>arise</td>
        <td>arose</td>
        <td>arisen</td>
        <td>phát sinh</td>
    </tr>
    <tr>
        <td>awake</td>
        <td>awoke</td>
        <td>awoken</td>
        <td>đánh thức, thức</td>
    </tr>
    <tr>
        <td>be</td>
        <td>was/were</td>
        <td>been</td>
        <td>thì, là, bị, ở</td>
    </tr>
    <tr>
        <td>bear</td>
        <td>bore</td>
        <td>borne</td>
        <td>mang, chịu đựng</td>
    </tr>
    <tr>
        <td>become</td>
        <td>became&nbsp;</td>
        <td>become</td>
        <td>trở nên</td>
    </tr>
    <tr>
        <td>befall</td>
        <td>befell</td>
        <td>befallen</td>
        <td>xảy ra</td>
    </tr>
    <tr>
        <td>begin</td>
        <td>began</td>
        <td>begun</td>
        <td>bắt đầu</td>
    </tr>
    <tr>
        <td>behold</td>
        <td>beheld</td>
        <td>beheld</td>
        <td>ngắm nhìn</td>
    </tr>
    <tr>
        <td>bend</td>
        <td>bent</td>
        <td>bent</td>
        <td>bẻ cong</td>
    </tr>
    <tr>
        <td>beset</td>
        <td>beset</td>
        <td>beset</td>
        <td>bao quanh</td>
    </tr>
    <tr>
        <td>bespeak</td>
        <td>bespoke</td>
        <td>bespoken</td>
        <td>chứng tỏ</td>
    </tr>
    <tr>
        <td>bid</td>
        <td>bid</td>
        <td>bid</td>
        <td>trả giá</td>
    </tr>
    <tr>
        <td>bind</td>
        <td>bound</td>
        <td>bound</td>
        <td>buộc, trói</td>
    </tr>
    <tr>
        <td>bleed</td>
        <td>bled</td>
        <td>bled</td>
        <td>chảy máu</td>
    </tr>
    <tr>
        <td>blow</td>
        <td>blew</td>
        <td>blown</td>
        <td>thổi</td>
    </tr>
    <tr>
        <td>break</td>
        <td>broke</td>
        <td>broken</td>
        <td>đập vỡ</td>
    </tr>
    <tr>
        <td>breed</td>
        <td>bred</td>
        <td>bred</td>
        <td>nuôi, dạy dỗ</td>
    </tr>
    <tr>
        <td>bring</td>
        <td>brought</td>
        <td>brought</td>
        <td>mang đến</td>
    </tr>
    <tr>
        <td>broadcast</td>
        <td>broadcast</td>
        <td>broadcast</td>
        <td>phát thanh</td>
    </tr>
    <tr>
        <td>build</td>
        <td>built</td>
        <td>built</td>
        <td>xây dựng</td>
    </tr>
    <tr>
        <td>burn</td>
        <td>burnt/burned</td>
        <td>burnt/burned</td>
        <td>đốt cháy</td>
    </tr>
    <tr>
        <td>buy</td>
        <td>bought</td>
        <td>bought</td>
        <td>mua</td>
    </tr>
    <tr>
        <td>cast</td>
        <td>cast</td>
        <td>cast</td>
        <td>ném, tung</td>
    </tr>
    <tr>
        <td>catch</td>
        <td>caught</td>
        <td>caught</td>
        <td>bắt, chụp</td>
    </tr>
    <tr>
        <td>chide</td>
        <td>chid/ chided</td>
        <td>chid/ chided</td>
        <td>mắng, chửi</td>
    </tr>
    <tr>
        <td>choose</td>
        <td>chose</td>
        <td>chosen</td>
        <td>chọn, lựa</td>
    </tr>
    <tr>
        <td>cleave</td>
        <td>clove/cleft/ cleaved</td>
        <td>cloven/cleft/ cleaved</td>
        <td>chẻ, tách hai</td>
    </tr>
    <tr>
        <td>cleave</td>
        <td>clave</td>
        <td>cleaved</td>
        <td>dính chặt</td>
    </tr>
    <tr>
        <td>come</td>
        <td>came</td>
        <td>come</td>
        <td>đến, đi</td>
    </tr>
    <tr>
        <td>cost</td>
        <td>cost</td>
        <td>cost</td>
        <td>có giá là</td>
    </tr>
    <tr>
        <td>crow</td>
        <td>crew/crewed</td>
        <td>crowed</td>
        <td>gáy (gà)</td>
    </tr>
    <tr>
        <td>cut</td>
        <td>cut</td>
        <td>cut</td>
        <td>cắt</td>
    </tr>
    <tr>
        <td>deal</td>
        <td>dealt</td>
        <td>dealt</td>
        <td>giao thiệp</td>
    </tr>
    <tr>
        <td>dig</td>
        <td>dug</td>
        <td>dug</td>
        <td>đào</td>
    </tr>
    <tr>
        <td>dive</td>
        <td>dove/ dived</td>
        <td>dived</td>
        <td>lặn, lao xuống</td>
    </tr>
    <tr>
        <td>draw</td>
        <td>drew</td>
        <td>drawn</td>
        <td>vẽ, kéo</td>
    </tr>
    <tr>
        <td>dream</td>
        <td>dreamt/ dreamed</td>
        <td>dreamt/ dreamed</td>
        <td>mơ thấy</td>
    </tr>
    <tr>
        <td>drink</td>
        <td>drank</td>
        <td>drunk</td>
        <td>uống</td>
    </tr>
    <tr>
        <td>drive</td>
        <td>drove</td>
        <td>driven</td>
        <td>lái xe</td>
    </tr>
    <tr>
        <td>dwell</td>
        <td>dwelt</td>
        <td>dwelt</td>
        <td>trú ngụ, ở</td>
    </tr>
    <tr>
        <td>eat</td>
        <td>ate</td>
        <td>eaten</td>
        <td>ăn</td>
    </tr>
    <tr>
        <td>fall</td>
        <td>fell</td>
        <td>fallen</td>
        <td>ngã, rơi</td>
    </tr>
    <tr>
        <td>feed</td>
        <td>fed</td>
        <td>fed</td>
        <td>cho ăn, nuôi,&nbsp;</td>
    </tr>
    <tr>
        <td>feel</td>
        <td>felt</td>
        <td>felt</td>
        <td>cảm thấy</td>
    </tr>
    <tr>
        <td>fight</td>
        <td>fought</td>
        <td>fought</td>
        <td>chiến đấu</td>
    </tr>
    <tr>
        <td>find</td>
        <td>found</td>
        <td>found</td>
        <td>tìm thấy, thấy</td>
    </tr>
    <tr>
        <td>flee</td>
        <td>fled</td>
        <td>fled</td>
        <td>chạy trốn</td>
    </tr>
    <tr>
        <td>fling</td>
        <td>flung</td>
        <td>flung</td>
        <td>tung, quang</td>
    </tr>
    <tr>
        <td>fly</td>
        <td>flew</td>
        <td>flown</td>
        <td>bay</td>
    </tr>
    <tr>
        <td>forbear</td>
        <td>forbore</td>
        <td>forborne</td>
        <td>nhịn</td>
    </tr>
    <tr>
        <td>forbid</td>
        <td>forbade/ forbad</td>
        <td>forbidden</td>
        <td>cấm đoán, cấm</td>
    </tr>
    <tr>
        <td>forecast</td>
        <td>forecast/ forecasted</td>
        <td>forecast/ forecasted</td>
        <td>tiên đoán</td>
    </tr>
    <tr>
        <td>foresee</td>
        <td>foresaw</td>
        <td>foresee</td>
        <td>thấy trước</td>
    </tr>
    <tr>
        <td>foretell</td>
        <td>foretold</td>
        <td>foretold</td>
        <td>đoán trước</td>
    </tr>
    <tr>
        <td>forget</td>
        <td>forgot</td>
        <td>forgotten</td>
        <td>quên</td>
    </tr>
    <tr>
        <td>forgive</td>
        <td>forgave</td>
        <td>forgiven</td>
        <td>tha thứ</td>
    </tr>
    <tr>
        <td>forsake</td>
        <td>forsook</td>
        <td>forsaken</td>
        <td>ruồng bỏ</td>
    </tr>
    <tr>
        <td>freeze</td>
        <td>froze</td>
        <td>frozen</td>
        <td>làm (đông lại)</td>
    </tr>
    <tr>
        <td>get</td>
        <td>got</td>
        <td>got/ gotten</td>
        <td>có được</td>
    </tr>
    <tr>
        <td>gild</td>
        <td>gilt/ gilded</td>
        <td>gilt/ gilded</td>
        <td>mạ vàng</td>
    </tr>
    <tr>
        <td>gird</td>
        <td>girt/ girded</td>
        <td>girt/ girded</td>
        <td>đeo vào</td>
    </tr>
    <tr>
        <td>give</td>
        <td>gave</td>
        <td>given</td>
        <td>cho</td>
    </tr>
    <tr>
        <td>go</td>
        <td>went</td>
        <td>gone</td>
        <td>đi</td>
    </tr>
    <tr>
        <td>grind</td>
        <td>ground</td>
        <td>ground</td>
        <td>nghiền, xay</td>
    </tr>
    <tr>
        <td>grow</td>
        <td>grew</td>
        <td>grown</td>
        <td>mọc, trồng</td>
    </tr>
    <tr>
        <td>hang</td>
        <td>hung&nbsp;</td>
        <td>hung&nbsp;</td>
        <td>móc lên, treo lên</td>
    </tr>
    <tr>
        <td>hear&nbsp;&nbsp; &nbsp;</td>
        <td>heard</td>
        <td>heard</td>
        <td>nghe</td>
    </tr>
    <tr>
        <td>heave</td>
        <td>hove/ heaved</td>
        <td>hove/ heaved</td>
        <td>trục lên</td>
    </tr>
    <tr>
        <td>hide</td>
        <td>hid</td>
        <td>hidden</td>
        <td>giấu, trốn, nấp</td>
    </tr>
    <tr>
        <td>hit</td>
        <td>hit</td>
        <td>hit</td>
        <td>đụng</td>
    </tr>
    <tr>
        <td>hurt</td>
        <td>hurt</td>
        <td>hurt</td>
        <td>làm đau</td>
    </tr>
    <tr>
        <td>inlay</td>
        <td>inlaid</td>
        <td>inlaid</td>
        <td>cẩn, khảm</td>
    </tr>
    <tr>
        <td>input</td>
        <td>input</td>
        <td>input</td>
        <td>đưa vào (máy điện toán)</td>
    </tr>
    <tr>
        <td>inset</td>
        <td>inset</td>
        <td>inset</td>
        <td>dán, ghép</td>
    </tr>
    <tr>
        <td>keep</td>
        <td>kept&nbsp;&nbsp; &nbsp;</td>
        <td>kept</td>
        <td>giữ</td>
    </tr>
    <tr>
        <td>kneel</td>
        <td>knelt/ kneeled</td>
        <td>knelt/ kneeled</td>
        <td>quỳ</td>
    </tr>
    <tr>
        <td>knit</td>
        <td>knit/ knitted</td>
        <td>knit/ knitted</td>
        <td>đan</td>
    </tr>
    <tr>
        <td>know</td>
        <td>knew</td>
        <td>known</td>
        <td>biết, quen biết</td>
    </tr>
    <tr>
        <td>lay</td>
        <td>laid</td>
        <td>laid</td>
        <td>đặt, để</td>
    </tr>
    <tr>
        <td>lead</td>
        <td>led</td>
        <td>led</td>
        <td>dẫn dắt, lãnh đạo</td>
    </tr>
    <tr>
        <td>leap</td>
        <td>leapt</td>
        <td>leapt</td>
        <td>nhảy, nhảy qua</td>
    </tr>
    <tr>
        <td>learn</td>
        <td>learnt/ learned</td>
        <td>learnt/ learned</td>
        <td>học, được biết</td>
    </tr>
    <tr>
        <td>leave</td>
        <td>left</td>
        <td>left</td>
        <td>ra đi, để lại</td>
    </tr>
    <tr>
        <td>lend</td>
        <td>lent</td>
        <td>lent</td>
        <td>cho mượn (vay)</td>
    </tr>
    <tr>
        <td>let</td>
        <td>let</td>
        <td>let</td>
        <td>cho phép, để cho</td>
    </tr>
    <tr>
        <td>lie</td>
        <td>lay</td>
        <td>lain</td>
        <td>nằm</td>
    </tr>
    <tr>
        <td>light</td>
        <td>lit/ lighted</td>
        <td>lit/ lighted</td>
        <td>thắp sáng</td>
    </tr>
    <tr>
        <td>lose</td>
        <td>lost</td>
        <td>lost</td>
        <td>làm mất, mất</td>
    </tr>
    <tr>
        <td>make</td>
        <td>made</td>
        <td>made</td>
        <td>chế tạo, sản xuất</td>
    </tr>
    <tr>
        <td>mean</td>
        <td>meant</td>
        <td>meant</td>
        <td>có nghĩa là</td>
    </tr>
    <tr>
        <td>meet</td>
        <td>met</td>
        <td>met</td>
        <td>gặp mặt</td>
    </tr>
    <tr>
        <td>mislay</td>
        <td>mislaid</td>
        <td>mislaid</td>
        <td>để lạc mất</td>
    </tr>
    <tr>
        <td>misread</td>
        <td>misread</td>
        <td>misread</td>
        <td>đọc sai</td>
    </tr>
    <tr>
        <td>misspell</td>
        <td>misspelt</td>
        <td>misspelt</td>
        <td>viết sai chính tả</td>
    </tr>
    <tr>
        <td>mistake</td>
        <td>mistook</td>
        <td>mistaken</td>
        <td>phạm lỗi, lầm lẫn</td>
    </tr>
    <tr>
        <td>misunderstand</td>
        <td>misunderstood</td>
        <td>misunderstood</td>
        <td>hiểu lầm</td>
    </tr>
    <tr>
        <td>mow</td>
        <td>mowed</td>
        <td>mown/ mowed&nbsp;&nbsp; &nbsp;</td>
        <td>cắt cỏ</td>
    </tr>
    <tr>
        <td>outbid</td>
        <td>outbid</td>
        <td>outbid</td>
        <td>trả hơn giá</td>
    </tr>
    <tr>
        <td>outdo</td>
        <td>outdid</td>
        <td>outdone</td>
        <td>làm giỏi hơn</td>
    </tr>
    <tr>
        <td>outgrow</td>
        <td>outgrew</td>
        <td>outgrown&nbsp;&nbsp; &nbsp;</td>
        <td>lớn nhanh hơn</td>
    </tr>
    <tr>
        <td>output</td>
        <td>output</td>
        <td>output</td>
        <td>cho ra (dữ kiện)</td>
    </tr>
    <tr>
        <td>outrun</td>
        <td>outran</td>
        <td>outrun</td>
        <td>chạy nhanh hơn; vượt giá</td>
    </tr>
    <tr>
        <td>outsell</td>
        <td>outsold</td>
        <td>outsold</td>
        <td>bán nhanh hơn</td>
    </tr>
    <tr>
        <td>overcome</td>
        <td>overcame</td>
        <td>overcome</td>
        <td>khắc phục</td>
    </tr>
    <tr>
        <td>overeat</td>
        <td>overate</td>
        <td>overeaten</td>
        <td>ăn quá nhiều</td>
    </tr>
    <tr>
        <td>overfly</td>
        <td>overflew</td>
        <td>overflown</td>
        <td>bay qua</td>
    </tr>
    <tr>
        <td>overhang</td>
        <td>overhung</td>
        <td>overhung</td>
        <td>nhô lên trên, treo lơ lửng</td>
    </tr>
    <tr>
        <td>overhear</td>
        <td>overheard</td>
        <td>overheard</td>
        <td>nghe trộm</td>
    </tr>
    <tr>
        <td>overlay</td>
        <td>overlaid</td>
        <td>overlaid</td>
        <td>phủ lên</td>
    </tr>
    <tr>
        <td>overpay</td>
        <td>overpaid</td>
        <td>overpaid</td>
        <td>trả quá tiền</td>
    </tr>
    <tr>
        <td>overrun</td>
        <td>overran</td>
        <td>overrun</td>
        <td>tràn ngập</td>
    </tr>
    <tr>
        <td>oversee</td>
        <td>oversaw</td>
        <td>overseen</td>
        <td>trông nom</td>
    </tr>
    <tr>
        <td>overshoot</td>
        <td>overshot</td>
        <td>overshot</td>
        <td>đi quá đích</td>
    </tr>
    <tr>
        <td>oversleep</td>
        <td>overslept</td>
        <td>overslept</td>
        <td>ngủ quên</td>
    </tr>
    <tr>
        <td>overtake</td>
        <td>overtook</td>
        <td>overtaken</td>
        <td>đuổi bắt kịp</td>
    </tr>
    <tr>
        <td>overthrow</td>
        <td>overthrew</td>
        <td>overthrown</td>
        <td>lật đổ</td>
    </tr>
    <tr>
        <td>pay</td>
        <td>paid</td>
        <td>paid</td>
        <td>trả (tiền)</td>
    </tr>
    <tr>
        <td>prove</td>
        <td>proved</td>
        <td>proven/proved</td>
        <td>chứng minh (tỏ)</td>
    </tr>
    <tr>
        <td>put</td>
        <td>put</td>
        <td>put</td>
        <td>đặt; để</td>
    </tr>
    <tr>
        <td>read</td>
        <td>read</td>
        <td>read</td>
        <td>đọc</td>
    </tr>
    <tr>
        <td>rebuild</td>
        <td>rebuilt</td>
        <td>rebuilt</td>
        <td>xây dựng lại</td>
    </tr>
    <tr>
        <td>redo</td>
        <td>redid</td>
        <td>redone</td>
        <td>làm lại</td>
    </tr>
    <tr>
        <td>remake</td>
        <td>remade</td>
        <td>remade</td>
        <td>làm lại; chế tạo lại</td>
    </tr>
    <tr>
        <td>rend</td>
        <td>rent</td>
        <td>rent</td>
        <td>toạc ra; xé</td>
    </tr>
    <tr>
        <td>repay</td>
        <td>repaid</td>
        <td>repaid</td>
        <td>hoàn tiền lại</td>
    </tr>
    <tr>
        <td>resell</td>
        <td>resold</td>
        <td>resold</td>
        <td>bán lại</td>
    </tr>
    <tr>
        <td>retake</td>
        <td>retook</td>
        <td>retaken</td>
        <td>chiếm lại; tái chiếm</td>
    </tr>
    <tr>
        <td>rewrite</td>
        <td>rewrote</td>
        <td>rewritten</td>
        <td>viết lại</td>
    </tr>
    <tr>
        <td>rid&nbsp;&nbsp; &nbsp;</td>
        <td>rid</td>
        <td>rid</td>
        <td>giải thoát</td>
    </tr>
    <tr>
        <td>ride</td>
        <td>rode&nbsp;&nbsp; &nbsp;</td>
        <td>ridden</td>
        <td>cưỡi</td>
    </tr>
    <tr>
        <td>ring</td>
        <td>rang&nbsp;&nbsp; &nbsp;</td>
        <td>rung&nbsp;&nbsp; &nbsp;</td>
        <td>rung chuông</td>
    </tr>
    <tr>
        <td>rise</td>
        <td>rose</td>
        <td>risen</td>
        <td>đứng dậy; mọc</td>
    </tr>
    <tr>
        <td>ran</td>
        <td>run</td>
        <td>run</td>
        <td>chạy</td>
    </tr>
    <tr>
        <td>saw</td>
        <td>sawed</td>
        <td>sawn</td>
        <td>cưa</td>
    </tr>
    <tr>
        <td>run</td>
        <td>ran</td>
        <td>run</td>
        <td>chạy</td>
    </tr>
    <tr>
        <td>saw</td>
        <td>sawed</td>
        <td>sawn</td>
        <td>cưa</td>
    </tr>
    <tr>
        <td>say</td>
        <td>said</td>
        <td>said</td>
        <td>nói</td>
    </tr>
    <tr>
        <td>see</td>
        <td>saw</td>
        <td>seen</td>
        <td>nhìn thấy</td>
    </tr>
    <tr>
        <td>seek</td>
        <td>sought</td>
        <td>sought</td>
        <td>tìm kiếm</td>
    </tr>
    <tr>
        <td>sell</td>
        <td>sold</td>
        <td>sold</td>
        <td>bán</td>
    </tr>
    <tr>
        <td>send</td>
        <td>sent</td>
        <td>sent</td>
        <td>gửi</td>
    </tr>
    <tr>
        <td>sew</td>
        <td>sewed</td>
        <td>sewn/sewed</td>
        <td>may</td>
    </tr>
    <tr>
        <td>shake</td>
        <td>shook</td>
        <td>shaken</td>
        <td>lay lắc</td>
    </tr>
    <tr>
        <td>shear&nbsp;</td>
        <td>sheared</td>
        <td>shorn</td>
        <td>xén lông (Cừu)</td>
    </tr>
    <tr>
        <td>shed</td>
        <td>shed</td>
        <td>shed</td>
        <td>rơi; rụng</td>
    </tr>
    <tr>
        <td>shine</td>
        <td>shone</td>
        <td>shone</td>
        <td>chiếu sáng</td>
    </tr>
    <tr>
        <td>shoot</td>
        <td>shot&nbsp;&nbsp; &nbsp;</td>
        <td>shot&nbsp;&nbsp; &nbsp;</td>
        <td>bắn</td>
    </tr>
    <tr>
        <td>show</td>
        <td>showed</td>
        <td>shown/ showed</td>
        <td>cho xem</td>
    </tr>
    <tr>
        <td>shrink</td>
        <td>shrank</td>
        <td>shrunk</td>
        <td>co rút</td>
    </tr>
    <tr>
        <td>shut</td>
        <td>shut</td>
        <td>shut</td>
        <td>đóng lại</td>
    </tr>
    <tr>
        <td>sing</td>
        <td>sang</td>
        <td>sung</td>
        <td>ca hát</td>
    </tr>
    <tr>
        <td>sink</td>
        <td>sank</td>
        <td>sunk</td>
        <td>chìm; lặn</td>
    </tr>
    <tr>
        <td>sit</td>
        <td>sat</td>
        <td>sat</td>
        <td>ngồi</td>
    </tr>
    <tr>
        <td>slay</td>
        <td>slew</td>
        <td>slain</td>
        <td>sát hại; giết hại</td>
    </tr>
    <tr>
        <td>sleep</td>
        <td>slept</td>
        <td>slept</td>
        <td>ngủ</td>
    </tr>
    <tr>
        <td>slide</td>
        <td>slid</td>
        <td>slid&nbsp;&nbsp; &nbsp;</td>
        <td>trượt; lướt</td>
    </tr>
    <tr>
        <td>sling</td>
        <td>slung</td>
        <td>slung</td>
        <td>ném mạnh</td>
    </tr>
    <tr>
        <td>slink&nbsp;&nbsp; &nbsp;</td>
        <td>slunk</td>
        <td>slunk</td>
        <td>lẻn đi</td>
    </tr>
    <tr>
        <td>smell</td>
        <td>smelt</td>
        <td>smelt</td>
        <td>ngửi</td>
    </tr>
    <tr>
        <td>smite</td>
        <td>smote</td>
        <td>smitten</td>
        <td>đập mạnh</td>
    </tr>
    <tr>
        <td>sow</td>
        <td>sowed</td>
        <td>sown/ sewed</td>
        <td>gieo; rải</td>
    </tr>
    <tr>
        <td>speak</td>
        <td>spoke</td>
        <td>spoken</td>
        <td>nói</td>
    </tr>
    <tr>
        <td>speed</td>
        <td>sped/ speeded</td>
        <td>sped/ speeded</td>
        <td>chạy vụt</td>
    </tr>
    <tr>
        <td>spell</td>
        <td>spelt/ spelled</td>
        <td>spelt/ spelled</td>
        <td>đánh vần</td>
    </tr>
    <tr>
        <td>spend</td>
        <td>spent</td>
        <td>spent</td>
        <td>tiêu sài</td>
    </tr>
    <tr>
        <td>spill</td>
        <td>spilt/ spilled</td>
        <td>spilt/ spilled</td>
        <td>tràn; đổ ra</td>
    </tr>
    <tr>
        <td>spin</td>
        <td>spun/ span</td>
        <td>spun</td>
        <td>quay sợi</td>
    </tr>
    <tr>
        <td>spit&nbsp;&nbsp; &nbsp;</td>
        <td>spat</td>
        <td>spat</td>
        <td>khạc nhổ</td>
    </tr>
    <tr>
        <td>spoil</td>
        <td>spoilt/ spoiled</td>
        <td>spoilt/ spoiled&nbsp;&nbsp; &nbsp;</td>
        <td>làm hỏng</td>
    </tr>
    <tr>
        <td>spread</td>
        <td>spread</td>
        <td>spread</td>
        <td>lan truyền</td>
    </tr>
    <tr>
        <td>spring</td>
        <td>sprang</td>
        <td>sprung</td>
        <td>nhảy</td>
    </tr>
    <tr>
        <td>stand</td>
        <td>stood</td>
        <td>stood</td>
        <td>đứng</td>
    </tr>
    <tr>
        <td>stave</td>
        <td>stove/ staved</td>
        <td>stove/ staved</td>
        <td>đâm thủng</td>
    </tr>
    <tr>
        <td>steal</td>
        <td>stole</td>
        <td>stolen</td>
        <td>đánh cắp</td>
    </tr>
    <tr>
        <td>stick</td>
        <td>stuck</td>
        <td>stuck</td>
        <td>ghim vào; đính</td>
    </tr>
    <tr>
        <td>sting</td>
        <td>stung</td>
        <td>stung</td>
        <td>châm ; chích; đốt</td>
    </tr>
    <tr>
        <td>stink</td>
        <td>stunk/ stank</td>
        <td>stunk</td>
        <td>bốc mùi hôi</td>
    </tr>
    <tr>
        <td>strew</td>
        <td>strewed</td>
        <td>strewn/ strewed</td>
        <td>rắc , rải</td>
    </tr>
    <tr>
        <td>stride</td>
        <td>strode</td>
        <td>stridden</td>
        <td>bước sải</td>
    </tr>
    <tr>
        <td>strike</td>
        <td>struck</td>
        <td>struck</td>
        <td>đánh đập</td>
    </tr>
    <tr>
        <td>string</td>
        <td>strung</td>
        <td>strung</td>
        <td>gắn dây vào</td>
    </tr>
    <tr>
        <td>strive</td>
        <td>strove</td>
        <td>striven</td>
        <td>cố sức</td>
    </tr>
    <tr>
        <td>swear</td>
        <td>swore</td>
        <td>sworn&nbsp;&nbsp; &nbsp;</td>
        <td>tuyên thệ</td>
    </tr>
    <tr>
        <td>sweep</td>
        <td>swept</td>
        <td>swept</td>
        <td>quét</td>
    </tr>
    <tr>
        <td>swell</td>
        <td>swelled</td>
        <td>swollen/ swelled</td>
        <td>phồng; sưng</td>
    </tr>
    <tr>
        <td>swim</td>
        <td>swam</td>
        <td>swum</td>
        <td>bơi lội</td>
    </tr>
    <tr>
        <td>swing</td>
        <td>swung</td>
        <td>swung</td>
        <td>đong đưa</td>
    </tr>
    <tr>
        <td>take</td>
        <td>took&nbsp;&nbsp; &nbsp;</td>
        <td>taken</td>
        <td>cầm ; lấy</td>
    </tr>
    <tr>
        <td>teach</td>
        <td>taught</td>
        <td>taught</td>
        <td>dạy ; giảng dạy</td>
    </tr>
    <tr>
        <td>tear</td>
        <td>tore</td>
        <td>torn</td>
        <td>xé; rách</td>
    </tr>
    <tr>
        <td>tell</td>
        <td>told</td>
        <td>told</td>
        <td>kể, bảo</td>
    </tr>
    <tr>
        <td>think</td>
        <td>thought</td>
        <td>thought&nbsp;&nbsp; &nbsp;</td>
        <td>suy nghĩ</td>
    </tr>
    <tr>
        <td>throw</td>
        <td>threw</td>
        <td>thrown</td>
        <td>ném ; liệng</td>
    </tr>
    <tr>
        <td>thrust</td>
        <td>thrust</td>
        <td>thrust</td>
        <td>thọc ;nhấn</td>
    </tr>
    <tr>
        <td>tread</td>
        <td>trod</td>
        <td>trodden/ trod</td>
        <td>giẫm ; đạp</td>
    </tr>
    <tr>
        <td>unbend</td>
        <td>unbent</td>
        <td>unbent</td>
        <td>làm thẳng lại</td>
    </tr>
    <tr>
        <td>undercut</td>
        <td>undercut</td>
        <td>undercut</td>
        <td>ra giá rẻ hơn</td>
    </tr>
    <tr>
        <td>undergo</td>
        <td>underwent</td>
        <td>undergone</td>
        <td>kinh qua</td>
    </tr>
    <tr>
        <td>underlie</td>
        <td>underlay</td>
        <td>underlain</td>
        <td>nằm dưới</td>
    </tr>
    <tr>
        <td>underpay</td>
        <td>underpaid</td>
        <td>underpaid</td>
        <td>trả lương thấp</td>
    </tr>
    <tr>
        <td>undersell&nbsp;&nbsp; &nbsp;</td>
        <td>undersold</td>
        <td>undersold</td>
        <td>bán rẻ hơn</td>
    </tr>
    <tr>
        <td>understand</td>
        <td>understood</td>
        <td>understood</td>
        <td>hiểu</td>
    </tr>
    <tr>
        <td>undertake</td>
        <td>undertook</td>
        <td>undertaken</td>
        <td>đảm nhận</td>
    </tr>
    <tr>
        <td>underwrite</td>
        <td>underwrote</td>
        <td>underwritten</td>
        <td>bảo hiểm</td>
    </tr>
    <tr>
        <td>undo</td>
        <td>undid</td>
        <td>undone</td>
        <td>tháo ra</td>
    </tr>
    <tr>
        <td>unfreeze</td>
        <td>unfroze</td>
        <td>unfrozen</td>
        <td>làm tan đông</td>
    </tr>
    <tr>
        <td>unwind</td>
        <td>unwound</td>
        <td>unwound</td>
        <td>tháo ra</td>
    </tr>
    <tr>
        <td>uphold</td>
        <td>upheld</td>
        <td>upheld</td>
        <td>ủng hộ</td>
    </tr>
    <tr>
        <td>upset</td>
        <td>upset</td>
        <td>upset</td>
        <td>đánh đổ; lật đổ</td>
    </tr>
    <tr>
        <td>wake</td>
        <td>woke/ waked</td>
        <td>woken/ waked</td>
        <td>thức giấc</td>
    </tr>
    <tr>
        <td>waylay</td>
        <td>waylaid</td>
        <td>waylaid</td>
        <td>mai phục</td>
    </tr>
    <tr>
        <td>wear</td>
        <td>wore</td>
        <td>worn</td>
        <td>mặc</td>
    </tr>
    <tr>
        <td>weave</td>
        <td>wove/ weaved</td>
        <td>woven/ weaved</td>
        <td>dệt</td>
    </tr>
    <tr>
        <td>wed</td>
        <td>wed/ wedded</td>
        <td>wed/ wedded</td>
        <td>kết hôn</td>
    </tr>
    <tr>
        <td>weep</td>
        <td>wept</td>
        <td>wept</td>
        <td>khóc</td>
    </tr>
    <tr>
        <td>wet</td>
        <td>wet / wetted</td>
        <td>wet / wetted</td>
        <td>làm ướt</td>
    </tr>
    <tr>
        <td>win</td>
        <td>won</td>
        <td>won</td>
        <td>thắng</td>
    </tr>
    <tr>
        <td>wind</td>
        <td>wound</td>
        <td>wound</td>
        <td>quấn</td>
    </tr>
    <tr>
        <td>withdraw</td>
        <td>withdrew</td>
        <td>withdrawn</td>
        <td>rút lui</td>
    </tr>
    <tr>
        <td>withhold</td>
        <td>withheld</td>
        <td>withheld</td>
        <td>từ khước</td>
    </tr>
    <tr>
        <td>withstand&nbsp;&nbsp; &nbsp;</td>
        <td>withstood</td>
        <td>withstood&nbsp;&nbsp; &nbsp;</td>
        <td>cầm cự</td>
    </tr>
    <tr>
        <td>work</td>
        <td>worked</td>
        <td>worked</td>
        <td>rèn (sắt), nhào nặng đất</td>
    </tr>
    <tr>
        <td>wring</td>
        <td>wrung</td>
        <td>wrung</td>
        <td>vặn ; siết chặt</td>
    </tr>
    <tr>
        <td>write</td>
        <td>wrote</td>
        <td>written</td>
        <td>viết</td>
    </tr>
    </tbody>
</table>