<meta charset="UTF-8">
<div class="item-active" id="item-1">
    <div class="item-title-active">
        <div class="item-title-active-content">I. TRẠNG TỪ&nbsp; TRONG TIẾNG ANH LÀ GÌ?
        </div>

    </div>
    <div class="item-active-content">
        <p><span><span><span
        ><strong>Trạng từ trong tiếng Anh</strong>&nbsp;(hay còn gọi là phó từ - adverb) là những từ dùng để bổ nghĩa cho động từ, tính từ, các trạng từ khác hay cả câu.</span></span></span>
        </p>

        <p><span><span><span>Eg:&nbsp;</span></span></span>
        </p>


        <p>&nbsp;&nbsp;&bull; <span><span><span
        ><em>She looks <u><strong>very</strong></u> <u><strong>beautiful</strong></u>. </em></span></span><span
                style="color:#008000"><span
        ><em>(Cô ấy trông rất đẹp.)&nbsp;</em></span></span></span></p>


        <p>
            <span><span><span>=&gt; Ta thấy "Very", đứng trước tính từ "Beautiful" để bổ nghĩa cho trạng từ này.</span></span></span>
        </p>


        <p>&nbsp;&nbsp;&bull; <em><span><span><span
        >He runs <u><strong>quite</strong></u> <u><strong>quickly</strong></u>. </span></span><span
                style="color:#008000"><span>(Anh ấy chạy khá nhanh.)</span></span></span></em></p>


        <p><span><span><span>=&gt; &nbsp;“Quite” và “quickly” đều là trạng từ. Trong đó “quickly” là trạng từ bổ nghĩa cho động từ “run” (chạy như thế nào --&gt; chạy nhanh), và “quite” là trạng từ bổ nghĩa cho trạng từ “quickly” (nhanh như thế nào -&gt; khá nhanh).</span></span></span>
        </p>
    </div>
</div>
<div class="item-active" id="item-2">
    <div class="item-title-active">
        <div class="item-title-active-content">II. CÁC LOẠI TRẠNG TỪ TRONG TIẾNG ANH
        </div>

    </div>
    <div class="item-active-content">
        <p><span><span style="color:#ff8c00"><span
        ><strong>1. Trạng từ chỉ cách thức (adverbs of manner):</strong></span></span><span
        ><span><strong>&nbsp;</strong>Trạng từ chỉ cách thức cho biết sự việc xảy ra hoặc được thực hiện như thế nào: Slowly (một cách chậm chạp), Angrily (một cách giận dữ), Interestingly (một cách thú vị),… Thường được dùng để trả lời các câu hỏi HOW?</span></span></span>
        </p>

        <p><span><span><span>Eg:&nbsp;</span></span></span>
        </p>


        <p>&nbsp;&nbsp;&bull; <em><span><span><span
        >My brother looked at me <u><strong>anrily</strong></u>. </span></span><span
                style="color:#008000"><span
        >(Anh trai tôi nhìn tôi một cách giận dữ.)</span></span></span></em></p>


        <p><span><span><span>=&gt; Trong đó “angrily” là trạng từ chỉ cách thức bổ nghĩa cho cụm động từ “looked at me”(nhìn tôi như thế nào-&gt; nhìn tôi một cách giận dữ.)</span></span></span>
        </p>

        <p><span><span style="color:#ff8c00"><span
        ><strong>2. Trạng từ chỉ nơi chốn (adverbs of place):</strong></span></span><span
        ><span> Trạng từ chỉ đại điểm, nơi chốn xảy ra hành động, hoạt động: here (ở đây), there (ở đó), …Dùng để trả lời câu hỏi WHERE?</span></span></span>
        </p>

        <p><span><span><span
        >Eg:</span></span></span></p>


        <p>&nbsp;&nbsp;&bull; <em><span><span><span
        >I have lived <u><strong>here</strong></u> for a long time. </span></span><span
                style="color:#008000"><span>(Tôi sống ở đây lâu rồi.)</span></span></span></em></p>


        <p><span><span><span>=&gt; Trong đó “here” là trạng từ chỉ nơi chốn, chỉ ra địa điểm xảy ra hoạt động “sống” (sống ở đâu -&gt; sống ở đây.)</span></span></span>
        </p>

        <p><span><span style="color:#ff8c00"><span
        ><strong>3. Trạng từ chỉ thời gian (adverbs of time):</strong></span></span><span
        ><span> Trạng từ diễn tả thời gian hành động được thực hiện: Yesterday, last week, last month, …. Thường được sử dụng để trả lời câu hỏi WHEN?</span></span></span>
        </p>

        <p><span><span><span
        >Eg:</span></span></span></p>


        <p>&nbsp;&nbsp;&bull; <em><span><span><span
        >My daughter came home late <u><strong>yesterday</strong></u>. </span></span><span
                style="color:#008000"><span
        >(Hôm qua, em gái tôi về nhà muộn.)</span></span></span></em></p>


        <p><span><span><span>=&gt; Trong câu ta thấy “hôm qua” là trạng từ chỉ thời gian, chỉ ra thời điểm xảy ra việc “về nhà muộn” (Về nhà muộn khi nào -&gt; về nhà muộn hôm qua.)</span></span></span>
        </p>

        <p><span><span style="color:#ff8c00"><span
        ><strong>4. Trạng từ chỉ tần suất (adverbs of frequency):</strong></span></span><span
        ><span> Chỉ tuần suất xảy ra hành động, hoạt động như: Always (luôn luôn), Usually (thường thường), Often (thường), Sometimes (thỉnh thoảng), Seldom (hiếm khí), Rarely (hiếm khi), Never (không bao giờ)… thường dùng để trả lời câu hỏi HOW OFTEN?&nbsp;</span></span></span>
        </p>

        <p><span><span><span
        >Eg:</span></span></span></p>


        <p>&nbsp;&nbsp;&bull; <em><span><span><span
        >I <u><strong>seldom</strong></u> cook meals. </span></span><span
                style="color:#008000"><span>(Tôi hiếm khi nấu ăn.)</span></span></span></em></p>


        <p><span><span><span>=&gt; Trong đó trạng từ “seldom” chỉ tần suất của hoạt động “nấu ăn”.</span></span></span>
        </p>

        <p><span><span style="color:#ff8c00"><span
        ><strong>5. Trạng từ chỉ mức độ (adverbs of degree): Trạng từ chỉ mức độ hay quy mô của hành động:</strong></span></span><span
        ><span> Completely/ absolutely (hoàn toàn, một cách hoàn chỉnh), Extremely (vô cùng..), Very (rất), Quite (khá), Fairly (tương đối), A little/ a bit (một chút), Hardly (hầu như không), ...</span></span></span>
        </p>

        <p><span><span><span>Eg:&nbsp;</span></span></span>
        </p>


        <p>&nbsp;&nbsp;&bull; <em><span><span><span
        >I have finished my work <u><strong>completely</strong></u>. </span></span><span
                style="color:#008000"><span>(Tôi đã hoàn thành công việc một cách hoàn chỉnh)</span></span></span></em>
        </p>


        <p>
            <span><span><span>=&gt; Chúng ta thấy trạng từ “completely” chỉ mức độ hoàn thành công việc là 100%.</span></span></span>
        </p>
    </div>
</div>
<div class="item-active" id="item-3">
    <div class="item-title-active">
        <div class="item-title-active-content">III. VÍ TRÍ CỦA TRẠNG TỪ TRONG CÂU
        </div>

    </div>
    <div class="item-active-content">
        <p>
            <span><span><span>Như chúng ta đã biết, Trạng từ có thể đứng đầu câu, đứng giữa câu hoặc đứng cuối câu.</span></span></span>
        </p>

        <p><span><span><span
        >Eg:</span></span></span></p>


        <p>&nbsp;&nbsp;&bull; <em><span><span><span
        ><u><strong>Last month</strong></u> I went to Ho Chi Minh city to visit my friends. </span></span><span
                style="color:#008000"><span>(tháng trước tôi tới thành phố Hồ Chi Minh để thăm các bạn của tôi.)</span></span></span></em>
        </p>
        <p>&nbsp;&nbsp;&bull; <em><span><span><span
        >He <u><strong>often</strong></u> goes to school at 7.15 a.m. </span></span><span
                style="color:#008000"><span
        >(Anh ấy thường đi học vào lúc 7 giờ 15 phút.)</span></span></span></em></p>
        <p>&nbsp;&nbsp;&bull; <em><span><span><span
        >My family went to Da Lat <strong><u>yesterday</u></strong>. </span></span><span
                style="color:#008000"><span
        >(Gia đình tôi tới Đà Lạt ngày hôm qua.)</span></span></span></em></p>


        <p><span style="color:#ff8c00"><strong><span><span
        >1. Vị trí của trạng từ chỉ cách thức trong câu:</span></span></strong></span></p>

        <p><span><strong><span><span
        >- Đứng trước hoặc đứng sau động từ/ cụm động từ mà nó bổ nghĩa.</span></span></strong></span>
        </p>

        <p><span><span><span
        >Eg:</span></span></span></p>


        <p>&nbsp;&nbsp;&bull; <em><span><span><span
        >She finished his examination <u><strong>quickly</strong></u>. </span></span><span
                style="color:#008000"><span
        >(Cô ấy hoàn thành bài thi một cách nhanh chóng.)</span></span></span></em></p>
        <p>&nbsp;&nbsp;&bull; <em><span><span><span
        >She <u><strong>quickly</strong></u> finished his examination.</span></span><span
                style="color:#008000"><span> (Cô ấy hoàn thành bài thi một cách nhanh chóng.)</span></span></span></em>
        </p>


        <p><span><span><span>=&gt; Qua 2 ví dụ, ta thấy &nbsp;trạng từ chỉ cách thức “quickly” được dùng để bổ nghĩa cho cụm động từ “finished his examination” và nó có thể đứng trước hoặc đứng sau cụm từ mà nó bổ nghĩa.</span></span></span>
        </p>

        <p><span><strong><span><span
        >- Đứng giữa trợ động từ và động từ chính.</span></span></strong></span></p>

        <p><span><span><span
        >Eg:</span></span></span></p>


        <p>&nbsp;&nbsp;&bull; <em><span><span><span
        >She is <u><strong>tiredly</strong></u> waiting for him.</span></span><span
                style="color:#008000"><span
        > (Cô ấy đang chờ đợi anh ấy một cách mệt mỏi.)</span></span></span></em></p>


        <p><span><span><span>=&gt; Trong câu này, ta thấy trạng từ chỉ cách thức “tiredly” đứng giữa trợ động từ “to be” và động từ chính “waiting”.</span></span></span>
        </p>

        <p><span style="color:#ff8c00"><strong><span><span
        >2. Vị trí của trạng từ chỉ nơi chốn trong câu:</span></span></strong></span></p>

        <p><span><span><span
        ><strong>- Thường đứng ở vị trí cuối câu:</strong><br>
Eg:</span></span></span></p>


        <p>&nbsp;&nbsp;&bull; <em><span><span><span
        >There are a lot of delicious food <u><strong>in Hue</strong></u>.</span></span><span
                style="color:#008000"><span> (Ở Huế có nhiều món ăn ngon.)</span></span></span></em>
        </p>


        <p><span><span><span
        ><strong>- Có thể đứng đầu câu nhưng không thông dụng, thường chỉ dùng khi muốn nhấn mạnh địa điểm.</strong><br>
Eg:&nbsp;</span></span></span></p>


        <p>&nbsp;&nbsp;&bull; <em><span><span><span
        ><u><strong>In Vung Tau</strong></u>, the beaches are beautiful.</span></span><span
                style="color:#008000"><span> (Ở Vũng Tàu, các bãi biển rất đẹp.)</span></span></span></em>
        </p>


        <p><span style="color:#ff8c00"><strong><span><span
        >3. Vị trí của trạng từ chỉ thời gian trong câu:</span></span></strong></span></p>

        <p><span><strong><span><span
        >- Thường được đặt ở cuối câu.</span></span></strong></span></p>

        <p><span><span><span
        >Eg:</span></span></span></p>


        <p>&nbsp;&nbsp;&bull; <em><span><span><span
        >I forgot to do my homework <u><strong>last night</strong></u>. </span></span><span
                style="color:#008000"><span>(Tôi quên làm bài tập về nhà tối hôm qua.)</span></span></span></em>
        </p>


        <p><span><strong><span><span
        >- Đứng đầu câu khi muốn nhấn mạnh thời gian xảy ra hành động, hoạt động.</span></span></strong></span>
        </p>

        <p>Example:</p>


        <p>&nbsp;&nbsp;&bull; <em><span><span><span
        ><u><strong>Yesterday</strong></u> I saw my sister on the street. </span></span><span
                style="color:#008000"><span
        >(Hôm qua tôi gặp chị tôi trên đường.)</span></span></span></em></p>


        <p><span style="color:#ff8c00"><strong><span><span
        >4. Vị trí của trạng từ chỉ tần suất trong câu:</span></span></strong></span></p>

        <p><strong><span><span><span
        >- Đứng trước động từ chính:</span></span></span></strong></p>

        <p><span><span><span
        >Eg:</span></span></span></p>


        <p>&nbsp;&nbsp;&bull; <em><span><span><span
        >My brother <u><strong>usually</strong></u> gets up early. </span></span><span
                style="color:#008000"><span>(Anh tôi thường dậy sớm.)</span></span></span></em></p>


        <p>
            <span><span><span>=&gt; Trong đó, trạng từ chỉ tần suất “usually” đứng trước động từ thường “get”.</span></span></span>
        </p>

        <p><span><span><span
        ><strong>- Đứng sau trợ động từ:</strong><br>
Eg:</span></span></span></p>


        <p>&nbsp;&nbsp;&bull; <span><span><span
        ><em>I don’t <u><strong>often</strong></u> go to the zoo.</em></span></span><span
                style="color:#008000"><span><em> (Tôi không thường đi đến sở thú.)</em></span></span></span>
        </p>


        <p><span><span><span>=&gt; Trong đó trạng từ chỉ tần suất “often” đứng trước động từ chính “go” và đứng sau trợ động từ “don’t”.</span></span></span>
        </p>

        <p><strong><span><span><span
        >- Đứng sau động từ “to be”:</span></span></span></strong></p>

        <p><span><span><span>Eg:&nbsp;</span></span></span>
        </p>


        <p>&nbsp;&nbsp;&bull; <em><span><span><span
        >He is <u><strong>always</strong></u> late for school. </span></span><span
                style="color:#008000"><span>(Anh ấy toàn đi học muộn.)</span></span></span></em></p>


        <p><span><span><span>=&gt; Trong câu này trạng từ chỉ tần suất “always” đứng sau động từ “to be”.</span></span></span>
        </p>

        <p><span style="color:#ff8c00"><strong><span><span
        >5. Vị trí của trạng từ chỉ mức độ trong câu:</span></span></strong></span></p>

        <p><strong><span><span><span
        >- Đứng trước động từ thường:</span></span></span></strong></p>

        <p><span><span><span
        >Eg:</span></span></span></p>


        <p>&nbsp;&nbsp;&bull; <em><span><span><span
        >He <u><strong>absolutely</strong></u> believes in her. </span></span><span
                style="color:#008000"><span>(Anh ấy hoàn toàn tin tưởng cô ta.)</span></span></span></em>
        </p>


        <p><span><span><span>=&gt; Ta thấy trạng từ chỉ mức độ “absolutely” đứng trước động từ “believes”.</span></span></span>
        </p>

        <p><strong><span><span><span
        >- Đứng sau trợ động từ và sau động từ chính:</span></span></span></strong></p>


        <p>&nbsp;&nbsp;&bull; <em><span><span><span
        >He doesn’t <u><strong>absolutely</strong></u> believes in her.</span></span><span
                style="color:#008000"><span
        >(Anh ấy không hoàn toàn tin tưởng cô ta.)</span></span></span></em></p>


        <p><span><span><span>=&gt; Trong đó, trạng từ chỉ mức độ đứng sau trợ động từ “doesn’t” và đứng trước động từ chính “believes”.</span></span></span>
        </p>

        <p><strong><span><span><span
        >- Đứng trước tính từ:</span></span></span></strong></p>

        <p><span><span><span
        >Eg:</span></span></span></p>


        <p>&nbsp;&nbsp;&bull; <span><span><span
        ><em>&nbsp;She is <u><strong>very</strong></u> intelligent. </em></span></span><span
                style="color:#008000"><span><em>(Cô ấy rất thông minh.)</em></span></span></span>
        </p>


        <p><span><span><span>=&gt; Trạng từ chỉ mức độ “very” đứng trước tính từ “intelligent”.</span></span></span>
        </p>
    </div>
</div>
