<meta charset="UTF-8">
<div class="item-active" id="item-1">
    <div class="item-title-active">
        <div class="item-title-active-content">I. ĐỊNH NGHĨA VỀ GIỚI TỪ
        </div>

    </div>
    <div class="item-active-content">
        <p><span><span><strong>Giới từ</strong> (Preposition) là từ loại chỉ sự liên quan giữa các từ loại trong cụm từ, trong câu. Những từ thường đi sau giới từ là tân ngữ (Object), Verb + ing, Cụm danh từ ... </span></span>
        </p>

        <p><span><span>Eg:</span></span></p>


        <p>&nbsp;&nbsp;&bull; <em><span><span
        >I went <u><strong>into</strong></u> the room.</span></span></em></p>
        <p>&nbsp;&nbsp;&bull;
            <em><span><span>I was sitting <u><strong>in</strong></u> the room at that time.</span></span></em>
        </p>


        <p><span><span>Ta thấy rõ, ở ví dụ thứ nhất, "the room" là tân ngữ của giới từ "into". Ở ví dụ thứ hai, "the room" là tân ngữ của giới từ "in".</span></span>
        </p>

        <p><span><span><strong>Lưu ý</strong>: Các bạn phải luôn phân biệt trạng từ (adverb) và giới từ, vì thường khi một từ có hai chức năng đó (vừa là trạng từ và giới từ). Điều khác nhau cơ bản là Trạng từ thì không có tân ngữ theo sau.</span></span>
        </p>
    </div>
</div>
<div class="item-active" id="item-2">
    <div class="item-title-active">
        <div class="item-title-active-content">II. VỊ TRÍ CỦA GIỚI TỪ
        </div>

    </div>
    <div class="item-active-content">
        <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
            <tbody>
            <tr>
                <td style="text-align:center"><span style="color:#ff8c00"><strong><span
                >Vị Trí</span></strong></span></td>
                <td style="text-align:center"><span style="color:#ff8c00"><strong><span
                >Ví dụ</span></strong></span></td>
            </tr>
            <tr>
                <td><span><span>- Sau TO BE, trước danh từ</span></span></td>
                <td>

                    <p>&nbsp;&nbsp;&bull; <em><span><span>The book is on the table.</span></span><br>
                        <span style="color:#008000"><span>(Quyển sách ở trên bàn.)</span></span></em>
                    </p>
                    <p>&nbsp;&nbsp;&bull; <span><span
                    ><em>I will study in Australia for 2 years.</em></span></span><br>
                        <span style="color:#008000"><span
                        ><em>(Tôi sẽ học ở Úc trong 2 năm.)</em></span></span></p>

                </td>
            </tr>
            <tr>
                <td><span><span>- Sau động từ: Có thể liền sau động từ, có thể bị 1 từ khác chen giữa động từ và giới từ.</span></span>
                </td>
                <td>

                    <p>&nbsp;&nbsp;&bull; <em><span><span
                    >I live in Ho Chi Minh city. </span></span><br>
                        <span style="color:#008000"><span>(Tôi sống ở thành phố Hồ Chí Minh.)</span></span></em>
                    </p>
                    <p>&nbsp;&nbsp;&bull; <em><span><span>Take off your hat! </span></span><span
                            style="color:#008000"><span>(Cởi nón của bạn ra!)</span></span></em></p>
                    <p>
                        <span><span>&nbsp;&nbsp;&bull; <em>I have an air-conditioner, but i only turn it on in summer </em></span></span><br>
                        <span style="color:#008000"><span><em>(Tôi có máy lạnh, nhưng tôi chỉ bật nó lên vào mùa hè.)</em></span></span>
                    </p>

                </td>
            </tr>
            <tr>
                <td><span><span>- Sau tính từ:</span></span></td>
                <td>

                    <p>&nbsp;&nbsp;&bull;
                        <em><span><span>I'm not worried about living in a foreign country. </span></span><br>
                            <span style="color:#008000"><span>(Tôi không lo lắng về việc sống ở nước ngoài.)</span></span></em>
                    </p>
                    <p>&nbsp;&nbsp;&bull; <span><span><em>He is not angry with you. </em></span></span><br>
                        <span style="color:#008000"><span
                        ><em>(Anh ấy không giận bạn.)</em></span></span></p>

                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="item-active" id="item-3">
    <div class="item-title-active">
        <div class="item-title-active-content">III. CÁCH DÙNG CÁC LOẠI GIỚI TỪ
        </div>

    </div>
    <div class="item-active-content">
        <p><span><span>Trong tiếng Anh, người ta không thể đặt ra các quy luật về các phép dùng giới từ mang tính cố định cho mỗi giới từ đó - cùng một giới từ, khi đi với từ loại khác nhau thì tạo ra nghĩa khác nhau. Vậy chúng ta nên học thuộc mỗi khi gặp phải và học ngay từ lúc ban đầu.</span></span>
        </p>

        <p><span style="color:#66cc00"><strong><span>1. Giới từ chỉ nơi chốn</span></strong></span></p>

        <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
            <tbody>
            <tr>
                <td style="text-align:center"><span style="color:#ff8c00"><span><strong>Giới từ</strong></span></span>
                </td>
                <td style="text-align:center"><span style="color:#ff8c00"><span
                ><strong>Cách dùng</strong></span></span></td>
                <td style="text-align:center"><span style="color:#ff8c00"><span
                ><strong>Ví dụ</strong></span></span></td>
            </tr>
            <tr>
                <td style="text-align:center"><span><span><strong>&nbsp;At</strong><br>
			<em>(ở , tại)</em></span></span></td>
                <td>
                    <p><span><span>-&nbsp;Chỉ một địa điểm cụ thể</span></span></p>

                    <p><span><span>-&nbsp;Dùng trước tên một tòa nhà khi ta đề cập tới hoạt động / sự kiện thường xuyên diễn ra trong đó</span></span>
                    </p>

                    <p><span><span>-&nbsp;Chỉ nơi làm việc, học tập</span></span>
                    </p>
                </td>
                <td>
                    <p><span><span
                    >-&nbsp;At home, at the station, at the airport …</span></span></p>

                    <p><span><span>-&nbsp;At the cinema, …</span></span></p>

                    <p><span><span>-&nbsp;At work , at school, at college …</span></span>
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p style="text-align:center"><strong><span><span
                    >&nbsp; In</span></span></strong><br>
                        <em><span><span>(Trong,</span></span></em></p>

                    <p style="text-align:center"><em><span><span
                    >ở trong)</span></span></em></p>
                </td>
                <td>
                    <p><span><span>-&nbsp;Vị trí bên trong 1 diện tích hay một không gian 3 chiều</span></span>
                    </p>

                    <p><span><span>-&nbsp;Dùng trước tên làng, thị trấn, thành phố, đất nước</span></span>
                    </p>

                    <p><span><span>-&nbsp;Dùng với phương tiện đi lại bằng xe hơi / taxi</span></span>
                    </p>

                    <p><span><span>- Dùng chỉ phương hướng và một số cụm từ chỉ nơi chốn</span></span>
                    </p>
                </td>
                <td>
                    <p><span><span
                    >- In the room, in the building, in the park …</span></span></p>

                    <p><span><span>-&nbsp;In France, in Paris, …</span></span></p>

                    <p><span><span>-&nbsp;In a car, in a taxi</span></span></p>

                    <p><span><span>- In the South, in the North,</span></span></p>
                </td>
            </tr>
            <tr>
                <td style="text-align:center"><span><span><strong>On</strong><br>
			<em>(Trên, ở trên)</em></span></span></td>
                <td>
                    <p><span><span>-&nbsp;Chỉ vị trí trên bề mặt</span></span></p>

                    <p><span><span
                    >-&nbsp;Chỉ nơi chốn hoặc số tầng (nhà)</span></span></p>

                    <p><span><span
                    >-&nbsp;Phương tiện đi lại công cộng/ cá nhân</span></span></p>

                    <p><span><span
                    >-&nbsp;Dùng trong cụm từ chỉ vị trí</span></span></p>
                </td>
                <td>
                    <p><span><span>-&nbsp;On the table, on the wall …</span></span>
                    </p>

                    <p><span><span
                    >-&nbsp;On the floor, on the farm, …</span></span></p>

                    <p><span><span>-&nbsp;On a bus, an a plan, on a bicycle…</span></span>
                    </p>

                    <p><span><span
                    >-&nbsp;On the left, on the right...</span></span></p>
                </td>
            </tr>
            </tbody>
        </table>

        <p><span style="color:#ff8c00"><strong><span
        >Một số giới từ trong tiếng anh chỉ nơi chốn khác:</span></strong></span></p>


        <p>
            &nbsp;&nbsp;&bull; <em><span><span><strong>Above</strong> (cao hơn, trên), <strong>Below</strong> (thấp hơn, dưới)</span></span></em>
        </p>
        <p>&nbsp;&nbsp;&bull; <em><span><span
        ><strong>Over</strong> (ngay trên), <strong>Under</strong> (dưới, ngay dưới)</span></span></em>
        </p>
        <p>&nbsp;&nbsp;&bull;
            <em><span><span><strong>Inside - Outside</strong> (bên trong – bên ngoài)</span></span></em>
        </p>
        <p>&nbsp;&nbsp;&bull; <em><span><span
        ><strong>In Front Of</strong> (phía trước),&nbsp;<strong>Behind</strong> (phía sau)</span></span></em>
        </p>
        <p>&nbsp;&nbsp;&bull; <em><span><span
        ><strong>Near</strong> (gần – khoảng cách ngắn)</span></span></em></p>
        <p>&nbsp;&nbsp;&bull; <em><span><span
        ><strong>By, Beside, Next To</strong> (bên cạnh)</span></span></em></p>
        <p>&nbsp;&nbsp;&bull;
            <em><span><span><strong>Between</strong> (ở giữa 2 người/ vật),&nbsp;<strong>Among</strong> (ở giữa một đám đông hoặc nhóm người/ vật)</span></span></em>
        </p>


        <p>
            <span><span>Với mỗi cặp giới từ, bạn hãy đặt một cặp câu để so sánh và ghi nhớ các sử dụng nó nhé!</span></span>
        </p>

        <p><span style="color:#66cc00"><strong><span>2. Giới từ chỉ thời gian</span></strong></span></p>

        <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
            <tbody>
            <tr>
                <td style="text-align:center"><span style="color:#ff8c00"><strong><span
                >Giới từ</span></strong></span></td>
                <td style="text-align:center"><span style="color:#ff8c00"><strong><span>Cách dùng</span></strong></span>
                </td>
                <td style="text-align:center"><span style="color:#ff8c00"><strong><span
                >Ví dụ</span></strong></span></td>
            </tr>
            <tr>
                <td style="text-align:center"><strong><span><span>At<br>
			Vào lúc</span></span></strong></td>
                <td>
                    <p><span><span>-&nbsp;Chỉ thời điểm</span></span></p>

                    <p><span><span>-&nbsp;Nói về những kì nghỉ (toàn bộ một kì nghỉ)</span></span>
                    </p>
                </td>
                <td>
                    <p><span><span
                    >-&nbsp;At 5pm, at midnight, at noon,…</span></span></p>

                    <p><span><span
                    >-&nbsp;At the weekend, at Christmas, …</span></span></p>
                </td>
            </tr>
            <tr>
                <td>
                    <p style="text-align:center"><span><span><strong>In<br>
			Trong</strong>,</span></span></p>
                </td>
                <td>
                    <p><span><span>-&nbsp;Chỉ một khoảng thời gian dài : tháng, mùa, năm&nbsp;</span></span>
                    </p>

                    <p><span><span>-&nbsp;Chỉ một kì nghỉ cụ thể, một khóa học và các buổi trong ngày</span></span>
                    </p>
                </td>
                <td>
                    <p><span><span>- In September, in 1995, in the 1990s ,…</span></span>
                    </p>

                    <p><span><span>-&nbsp;In the morning, in the afternoon,…</span></span>
                    </p>
                </td>
            </tr>
            <tr>
                <td style="text-align:center"><strong><span><span>On<br>
			(vào)</span></span></strong></td>
                <td>
                    <p><span><span>-&nbsp;Chỉ ngày trong tuần hoặc ngày tháng trong năm</span></span>
                    </p>

                    <p><span><span>-&nbsp;Chỉ một ngày trong kì nghỉ hoặc các buổi trong 1 ngày cụ thể</span></span>
                    </p>
                </td>
                <td>
                    <p><span><span
                    >-&nbsp;On Monday, on Tuesday ,…On 30th Octorber…</span></span></p>

                    <p><span><span
                    >-&nbsp;On Chrismas Day, On Sunday mornings …</span></span></p>
                </td>
            </tr>
            </tbody>
        </table>

        <p><span style="color:#ff8c00"><strong><span
        >Một số giới từ trong tiếng anh chỉ thời gian khác:</span></strong></span></p>


        <p>&nbsp;&nbsp;&bull;
            <em><span><span><strong>During</strong> (trong suốt một khoảng thời gian)</span></span></em>
        </p>
        <p>
            &nbsp;&nbsp;&bull; <em><span><span><strong>For</strong> (trong khoảng thời gian hành động hoặc sự việc xảy ra)</span></span></em>
        </p>
        <p>&nbsp;&nbsp;&bull; <em><span><span
        ><strong>Since</strong> (từ, từ khi)</span></span></em></p>
        <p>&nbsp;&nbsp;&bull;
            <em><span><span><strong>From </strong>… <strong>To</strong> (từ … đến …)</span></span></em>
        </p>
        <p>&nbsp;&nbsp;&bull; <em><span><span><strong>By</strong> (trước/ vào một thời điểm nào đó)</span></span></em>
        </p>
        <p>&nbsp;&nbsp;&bull; <em><span><span><strong>Until/ Till</strong> (đến, cho đến)</span></span></em>
        </p>
        <p>&nbsp;&nbsp;&bull; <em><span><span
        ><strong>Before</strong> (trước) <strong>After</strong> (sau)</span></span></em></p>


        <p><span><span>Với mỗi giới từ, bạn hãy đặt một câu để ghi nhớ các sử dụng nó nhé!</span></span>
        </p>

        <p><span style="color:#66cc00"><strong><span
        >3. Giới từ chỉ phương hướng, chuyển động</span></strong></span></p>


        <p>&nbsp;&nbsp;&bull; <em><span><span
        ><strong>To</strong> (đến, tới một nơi nào đó)</span></span></em></p>
        <p>&nbsp;&nbsp;&bull; <em><span><span
        ><strong>From</strong> (từ một nơi nào đó)</span></span></em></p>
        <p>&nbsp;&nbsp;&bull; <em><span><span
        ><strong>Across</strong> (qua, ngang qua)</span></span></em></p>
        <p>&nbsp;&nbsp;&bull; <em><span><span
        ><strong>Along</strong> (dọc theo)</span></span></em></p>
        <p>&nbsp;&nbsp;&bull; <em><span><span><strong>About</strong> (quanh quẩn, đây đó)</span></span></em>
        </p>
        <p>&nbsp;&nbsp;&bull; <em><span><span><strong>Into</strong> (vào trong) – Out of (ra khỏi)</span></span></em>
        </p>
        <p>&nbsp;&nbsp;&bull; <em><span><span
        ><strong>Up </strong>(lên) – Down (xuống)</span></span></em></p>
        <p>&nbsp;&nbsp;&bull; <em><span><span
        ><strong>Through</strong> (qua, xuyên qua)</span></span></em></p>
        <p>&nbsp;&nbsp;&bull; <em><span><span
        ><strong>Towards</strong> (về phía)</span></span></em></p>
        <p>&nbsp;&nbsp;&bull; <em><span><span
        ><strong>Round</strong> (quanh, vòng quanh)</span></span></em></p>


        <p><span><span>Với mỗi giới từ trong tiếng Anh, bạn hãy đặt một câu để ghi nhớ các sử dụng nó nhé!</span></span>
        </p>

        <p><span style="color:#66cc00"><strong><span
        >4. Các loại giới từ trong tiếng Anh khác</span></strong></span></p>

        <p><span><span>Ngoài các giới từ chính đã được liệt kê ở trên, các giới từ và cụm giới từ sau đây được dùng để diễn tả:</span></span>
        </p>

        <p><span style="color:#ff8c00"><strong><span>Mục đích hoặc chức năng: for, to, in order to, so as to (để)</span></strong></span>
        </p>

        <p><strong><span><span>- For + V-ing/Noun</span></span></strong></p>


        <p><em><span><span>Eg: We stopped for a rest </span></span><span
                style="color:#008000"><span>(Chúng tôi dừng lại để nghỉ ngơi)</span></span></em></p>


        <p><strong><span><span
        >- To/In order to/ So as to + V-bare infinitive</span></span></strong></p>


        <p><em><span><span>Eg: I went out to/in order to/so as to post a letter </span></span><span
                style="color:#008000"><span>(Tôi ra ngoài để gửi thư)</span></span></em></p>


        <p><strong><span><span>- Nguyên nhân: for, because of, owning to + Ving/Noun (vì, bởi vì)</span></span></strong>
        </p>


        <p><em><span><span
        >Eg: We didn’t go out because of the rain </span></span><span
                style="color:#008000"><span
        >(Vì trời mưa nên chúng tôi không đi chơi)</span></span></em></p>


        <p><strong><span><span>- Tác nhân hay phương tiện: by (bằng, bởi), with (bằng)</span></span></strong>
        </p>


        <p><em><span><span>Eg:&nbsp;I go to school by bus </span></span><span
                style="color:#008000"><span>(Tôi tới trường bằng xe buýt)</span></span></em></p>


        <p><strong><span
                style="color:#000000; font-size:16px">- Sự đo lường, số lượng: by (theo, khoảng)</span></strong></p>


        <p><em><span><span>Eg: They sell eggs by the dozen </span></span><span
                style="color:#008000"><span>(Họ bán trứng theo tá)</span></span></em></p>


        <p><strong><span><span>- Sự tương tự: like (giống)</span></span></strong>
        </p>


        <p><em><span><span
        >Eg: She looks a bit like Queen Victoria </span></span><span
                style="color:#008000"><span
        >(Trông bà ấy hơi giống nữ hoàng Victoria)</span></span></em></p>


        <p><strong><span><span>- Sự liên hệ hoặc đồng hành: with (cùng với)</span></span></strong>
        </p>


        <p><em><span><span
        >Eg: She lives with her uncle and aunt </span></span><span style="color:#008000"><span
        >(Cô ấy sống cùng với chú thím)</span></span></em></p>


        <p><strong><span><span
        >- Sự sở hữu: with (có), of (của)</span></span></strong></p>


        <p><em><span><span
        >Eg: We need a computer with a huge memory </span></span><span
                style="color:#008000"><span
        >(Chúng tôi cần một máy tính có bộ nhớ thật lớn)</span></span></em></p>


        <p>
            <strong><span><span>- Cách thức: by (bằng cách), with (với, bằng), without (không), in (bằng)</span></span></strong>
        </p>


        <p><em><span><span
        >Eg: The thief got in by breaking a window </span></span><span
                style="color:#008000"><span
        >(Tên trộm vào nhà bằng cách đập cửa sổ)</span></span></em></p>

    </div>
</div>
