<meta charset="UTF-8">
<div class="item-active" id="item-1">
    <div class="item-title-active">
        <div class="item-title-active-content">I. KHÁI NIỆM VỀ LIÊN TỪ
        </div>

    </div>
    <div class="item-active-content">
        <p><span><span>Liên từ trong tiếng anh là từ vựng được sử dụng để liên kết 2 từ, cụm từ hoặc mệnh đề lại với nhau.</span></span>
        </p>

        <p><strong><span><span>Liên từ được chia làm 3 loại:</span></span></strong>
        </p>


        <p>&nbsp;&nbsp;&bull; <span><span
        ><em>Liên từ kết hợp (Coordinating Conjunctions)</em></span></span></p>
        <p>&nbsp;&nbsp;&bull; <span><span><em>Liên từ tương quan (Correlative Conjunctions)</em></span></span>
        </p>
        <p>&nbsp;&nbsp;&bull; <span><span><em>Liên từ phụ thuộc (Subordinating Conjunctions)</em></span></span>
        </p>

    </div>
</div>
<div class="item-active" id="item-2">
    <div class="item-title-active">
        <div class="item-title-active-content">II. LIÊN TỪ KẾT HỢP ( Coordinating Conjunctions )
        </div>

    </div>
    <div class="item-active-content">
        <p><span><span><strong>Liên từ kết hợp</strong> được sử dụng để kết nối hai (hoặc nhiều hơn) đơn vị từ tương đương nhau (Eg: kết nối 2 từ vựng, 2 cụm từ hoặc 2 mệnh đề trong câu).</span></span>
        </p>

        <p><span><span>+ Example:</span></span></p>


        <p>
            &nbsp;&nbsp;&bull;
            <span><span><em>I like watching sports <u><strong>and</strong></u> listening to music. </em></span></span><span
                style="color:#008000"><span
        ><em>Tôi thích xem thể thao và nghe nhạc.</em></span></span></p>
        <p>&nbsp;&nbsp;&bull; <span><span
        ><em>I didn’t have enough money <u><strong>so</strong></u> I didn’t buy that car. </em></span></span><span
                style="color:#008000"><span
        ><em>Tôi không có đủ tiền nên tôi không mua xe đó.</em></span></span></p>


        <p><span style="color:#66cc00"><span><strong>- Mẹo giúp nhớ các liên từ kết hợp: </strong></span></span>
        </p>


        <p>
            &nbsp;&nbsp;&bull; <em><span><span><strong>FANBOYS</strong> (F – for, A – and, N – nor, B – but, O – or, Y – yet, S – so)</span></span></em>
        </p>


        <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
            <tbody>
            <tr>
                <td style="text-align:center"><span style="color:#66cc00"><span
                ><strong>Liên từ kết hợp</strong></span></span></td>
                <td style="text-align:center"><span style="color:#66cc00"><span
                ><strong>Ví dụ</strong></span></span></td>
            </tr>
            <tr>
                <td>
                    <p>
                        <span><span>- <strong>FOR</strong>: Giải thích lý do hoặc mục đích (dùng giống because)</span></span>
                    </p>

                    <p><span><span>+ Lưu ý: Khi hoạt động như một liên từ, for chỉ đứng ở giữa câu, sau for phải sử dụng một mệnh đề và trước for phải có dấu phẩy (,)</span></span>
                    </p>
                </td>
                <td>

                    <p>&nbsp;&nbsp;&bull; <em><span><span
                    >I do morning exercise every day, <u><strong>for</strong></u> I want to keep fit.<br>
                        <span  style="color:#008000">Tôi tập thể dục buổi sáng mỗi ngày, vì tôi muốn giữ dáng</span></span></span></em></p>


                    <p>&nbsp;</p>
                </td>
            </tr>
            <tr>
                <td><span><span>- <strong>AND</strong>: Thêm / bổ sung một thứ vào một thứ khác</span></span>
                </td>
                <td>

                    <p>&nbsp;&nbsp;&bull;
                        <span><span><em>I do morning exercise every day to keep fit <u><strong>and</strong></u> relax.<br>
                            <span  style="color:#008000">Tôi tập thể dục buổi sáng mỗi ngày để giữ dáng và thư giãn</span></em></span></span></p>

                </td>
            </tr>
            <tr>
                <td><span><span>- <strong>NOR</strong>: Dùng để bổ sung một ý phủ định vào ý phủ định đã được nêu trước đó.</span></span>
                </td>
                <td>

                    <p>&nbsp;&nbsp;&bull; <span><span
                    ><em>I don’t like listening to music <u><strong>nor</strong></u> playing sports. I’m just keen on reading.<br>
                        <span  style="color:#008000">Tôi không thích nghe nhạc và chơi thể thao. Tôi chỉ yêu thích việc đọc sách.</span></em></span></span></p>

                </td>
            </tr>
            <tr>
                <td><span><span>- <strong>BUT</strong>: Dùng để diễn tả sự đối lập, ngược nghĩa</span></span>
                </td>
                <td>

                    <p>&nbsp;&nbsp;&bull; <span><span
                    ><em>He works quickly <u><strong>but</strong></u> accurately.<br>
                        <span  style="color:#008000">Anh ấy làm việc nhanh nhưng chính xác.</span></em></span></span></p>

                </td>
            </tr>
            <tr>
                <td><span><span>- <strong>OR</strong>: Dùng để trình bày thêm một lựa chọn khác.</span></span>
                </td>
                <td>

                    <p>&nbsp;&nbsp;&bull; <span><span
                    ><em>You can play games <u><strong>or</strong></u> watch TV.<br>
                        <span  style="color:#008000">Bạn có thể chơi trò chơi hoặc xem TV.</span></em></span></span></p>

                </td>
            </tr>
            <tr>
                <td><span><span>- <strong>YET</strong>: Dùng để giới thiệu một ý ngược lại so với ý trước đó (tương tự but)</span></span>
                </td>
                <td>

                    <p>&nbsp;&nbsp;&bull; <em><span><span
                    >I took a book with me on my holiday, <u><strong>yet</strong></u> I didn’t read a single page.<br>
                        <span  style="color:#008000">Tôi cầm theo một cuốn sách vào kỳ nghỉ của tôi, nhưng tôi đã không đọc một trang duy nhất.</span></span></span></em>
                    </p>

                </td>
            </tr>
            <tr>
                <td><span><span>-&nbsp;<strong>SO</strong>: Dùng để nói về một kết quả hoặc một ảnh hưởng của hành động/sự việc được nhắc đến trước đó. &nbsp;</span></span>
                </td>
                <td>

                    <p>&nbsp;&nbsp;&bull; <span><span><em>I’ve started dating one soccer player, <u><strong>so</strong></u> now I can watch the game each week.<br>
                        <span  style="color:#008000">Tôi đã bắt đầu hẹn hò với một cầu thủ bóng đá, vì vậy tôi có thể xem các trận đấu mỗi tuần.</span></em></span></span>
                    </p>

                </td>
            </tr>
            </tbody>
        </table>

        <p><span style="color:#66cc00"><strong><span
        >- Nguyên tắc dùng dấu phẩy (,) với liên từ kết hợp:</span></strong></span></p>

        <p><span><span>+ Nếu liên từ kết hợp được dùng để liên kết 2 mệnh đề độc lập (mệnh đề có thể đứng riêng như một câu) thì giữa hai mệnh đề phải sử dụng dấu phẩy (,).</span></span>
        </p>


        <p>&nbsp;&nbsp;&bull; <em><span><span
        >Eg: I took a book with me on my holiday, <u><strong>yet</strong></u> I didn’t read a single page. </span></span><span
                style="color:#008000"><span>(I took a book with me on my holiday và I didn’t read a single page là mệnh đề độc lập nên phải có dấu phẩy)</span></span></em>
        </p>


        <p><span><span>+ Nếu liên từ được dùng để kết nối 2 cụm từ (câu không hoàn chỉnh) hoặc từ </span></span><span
                style="color:#008000"><span>(ví dụ trong danh sách liệt kê) thì không cần dùng dấu phẩy (,).</span></span>
        </p>


        <p>
            &nbsp;&nbsp;&bull;
            <em><span><span>Eg: I do morning exercise every day to keep fit <u><strong>and</strong></u> relax. </span></span><span
                    style="color:#008000"><span>(keep fit và relax không phải mệnh đề độc lập nên không phải có dấu phẩy)</span></span></em>
        </p>


        <p><span><span>+ Khi liệt kê từ 3 đơn vị trở lên, ta dùng dấu phẩy ở giữa các đơn vị trước; với đơn vị cuối cùng ta có thể dùng hoặc không dùng dấu phẩy.</span></span>
        </p>


        <p>&nbsp;&nbsp;&bull; <span><span><em>Eg: Many fruits are good for your eyes, such as carrots, oranges, tomatoes <strong>(,) and </strong>mango.</em></span></span><br>
            <span style="color:#008000"><span><em>Nhiều loại trái cây rất tốt cho đôi mắt của bạn, chẳng hạn như cà rốt, cam, cà chua (,) và xoài.</em></span></span>
        </p>

    </div>
</div>
<div class="item-active" id="item-3">
    <div class="item-title-active">
        <div class="item-title-active-content">III. LIÊN TỪ TƯƠNG QUAN (Correlative Conjunctions)
        </div>

    </div>
    <div class="item-active-content">
        <p><span><span><strong>Liên từ tương quan</strong> được sử dụng để kết nối 2 đơn vị từ với nhau và luôn đi thành cặp không thể tách rời.</span></span>
        </p>


        <p>&nbsp;&nbsp;&bull;
            <em><span><span>Eg: He’s <u><strong>not only</strong></u> affluent <u><strong>but also</strong></u> good-looking. Anh ấy không chỉ giàu có mà còn đẹp nữa.</span></span></em>
        </p>


        <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
            <tbody>
            <tr>
                <td style="text-align:center"><span
                        style="color:#66cc00"><span><strong>Liên từ tương quan</strong></span></span>
                </td>
                <td style="text-align:center"><span style="color:#66cc00"><span
                ><strong>Ví dụ</strong></span></span></td>
            </tr>
            <tr>
                <td><span><span>- <strong>EITHER … OR:</strong> dùng để diễn tả sự lựa chọn: hoặc là cái này, hoặc là cái kia.</span></span>
                </td>
                <td>

                    <p>&nbsp;&nbsp;&bull; <span><span
                    >I want <em><u><strong>either</strong></u></em> the pizza <em><u><strong>or</strong></u></em> the sandwich.</span></span><br>
                        <span style="color:#008000"><span>Tôi muốn cả pizza lẫn bánh sandwich.</span></span>
                    </p>

                </td>
            </tr>
            <tr>
                <td><span><span>-<strong> NEITHER … NOR</strong>: dùng để diễn tả phủ định kép: không cái này cũng không cái kia.</span></span>
                </td>
                <td>

                    <p>&nbsp;&nbsp;&bull; <span><span><em>I want <strong><u>neither</u></strong> the pizza <u><strong>nor</strong></u> the sandwich. I’ll just need some biscuits.</em></span></span><br>
                        <span style="color:#008000"><span><em>Tôi không muốn cả pizza lẫn bánh sandwich.Tôi chỉ cần một ít bánh quy</em>.</span></span>
                    </p>

                </td>
            </tr>
            <tr>
                <td><span><span>- <strong>BOTH … AND</strong>: dùng để diễn tả lựa chọn kép: cả cái này lẫn cả cái kia.</span></span>
                </td>
                <td>

                    <p>&nbsp;&nbsp;&bull;
                        <span><span><em>I want <u><strong>both</strong></u> the pizza <u><strong>and</strong></u> the sandwich. I’m very hungry now.</em></span></span><br>
                        <span style="color:#008000"><span><em>Tôi muốn cả pizza lẫn bánh sandwich. Bây giờ tôi đang rất đói.</em></span></span>
                    </p>

                </td>
            </tr>
            <tr>
                <td><span><span>- <strong>NOT ONLY … BUT ALSO</strong>: dùng để diễn tả lựa chọn kép: không những cái này mà cả cái kia</span></span>
                </td>
                <td>

                    <p>&nbsp;&nbsp;&bull; <em><span><span
                    >I’ll eat them both: <u><strong>not only</strong></u> the pizza <u><strong>but also</strong></u> the sandwich</span></span><br>
                        <span style="color:#008000"><span>Tôi sẽ ăn cả hai: không chỉ pizza mà còn bánh sandwich</span></span></em>
                    </p>

                </td>
            </tr>
            <tr>
                <td><span><span>- <strong>WHETHER … OR</strong>: dùng để diễn tả nghi vấn giữa 2 đối tượng: liệu cái này hay cái kia.</span></span>
                </td>
                <td>

                    <p>&nbsp;&nbsp;&bull; <em><span><span
                    >I didn’t know <u><strong>whether</strong></u> you’d want the pizza <u><strong>or</strong></u> the sandwich, so I got you both.</span></span><br>
                        <span style="color:#008000"><span>Tôi không biết liệu bạn có muốn bánh pizza hay bánh sandwich, vì vậy tôi chọn cả 2 cho bạn.</span></span></em>
                    </p>

                </td>
            </tr>
            <tr>
                <td><span><span>- <strong>AS …AS</strong>: dùng để so sánh ngang bằng: bằng, như</span></span>
                </td>
                <td>

                    <p>&nbsp;&nbsp;&bull; <span><span
                    ><em>Bowling isn’t <u><strong>as</strong></u> fun <u><strong>as</strong></u> soccer.</em></span></span><br>
                        <span style="color:#008000"><span><em>Bowling không phải là thú vị như đá banh.</em></span></span>
                    </p>

                </td>
            </tr>
            <tr>
                <td><span><span>- <strong>SUCH… THAT / SO … THAT</strong>: dùng để diễn tả quan hệ nhân – quả: quá đến nỗi mà</span></span>
                </td>
                <td>

                    <p>&nbsp;&nbsp;&bull; <em><span><span
                    >The boy has <u><strong>such</strong></u> a good voice <u><strong>that</strong></u> he can easily capture everyone’s attention.</span></span><br>
                        <span style="color:#008000"><span>Cậu bé có một giọng nói tốt mà cậu ấy có thể dễ dàng thu hút sự chú ý của mọi người.</span></span></em>
                    </p>
                    <p>&nbsp;&nbsp;&bull;
                        <em><span><span>His voice is <u><strong>so</strong></u> good <u><strong>that</strong></u> he can easily capture everyone’s attention.</span></span><br>
                            <span style="color:#008000"><span>Giọng của anh ấy rất hay đến nỗi anh ấy có thể thu hút sự chú ý của mọi người.</span></span></em>
                    </p>


                    <p>&nbsp;</p>
                </td>
            </tr>
            <tr>
                <td><span><span
                >- <strong>SCARECELY … WHEN / NO SOONER … THAN:</strong> dùng để diễn tả quan hệ thời gian: ngay khi</span></span>
                </td>
                <td>

                    <p>
                        &nbsp;&nbsp;&bull; <span><span><em>I had <u><strong>scarcely</strong></u> walked in the door <u><strong>when</strong></u> I got the call and had to run right to my office.</em></span></span><br>
                        <span style="color:#008000"><span><em>Tôi vừa bước vào cửa ngay khi tôi nhận cuộc gọi và phải chạy ngay tới văn phòng luôn.</em></span></span>
                    </p>

                </td>
            </tr>
            <tr>
                <td>
                    <span><span>- <strong>RATHER … THAN</strong> : dùng để diễn tả lựa chọn: hơn là, thay vì</span></span>
                </td>
                <td>

                    <p>&nbsp;&nbsp;&bull;
                        <span><span><em>She’d <u><strong>rather</strong></u> play the drums <u><strong>than</strong></u> sing.</em></span></span><br>
                        <span style="color:#008000"><span><em>Cô ấy thích chơi trống hơn là hát.</em></span></span>
                    </p>

                </td>
            </tr>
            </tbody>
        </table>

        <p><span><span><strong>-&nbsp;Lưu ý</strong>: Trong cấu trúc với neither…nor và either…or, động từ chia theo chủ ngữ gần nhất còn trong cấu trúc với both…and và not only …but also, động từ chia theo chủ ngữ kép (là cả 2 danh từ trước đó.)</span></span>
        </p>
    </div>
</div>
<div class="item-active" id="item-4">
    <div class="item-title-active">
        <div class="item-title-active-content">IV. LIÊN TỪ PHỤ THUỘC (Subordinating Conjunctions)
        </div>

    </div>
    <div class="item-active-content">
        <p><span><span><strong>Liên từ phụ thuộc</strong> được sử dụng để bắt đầu mệnh đề phụ thuộc, gắn kết mệnh đề này vào mệnh đề chính trong câu. Mệnh đề phụ thuộc có thể đứng trước hoặc đứng sau mệnh đề chính nhưng phải luôn được bắt đầu bằng liên từ phụ thuộc.</span></span>
        </p>


        <p>&nbsp;&nbsp;&bull; <em><span><span>Eg: <u><strong>Although</strong></u> I studied hard, I couldn’t pass the exam.<br>
	Mặc dù tôi học tập chăm chỉ, nhưng tôi không thể vượt qua kỳ thi</span></span></em></p>


        <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
            <tbody>
            <tr>
                <td style="text-align:center"><span style="color:#66cc00"><strong><span
                >Liên từ phụ thuộc</span></strong></span></td>
                <td style="text-align:center"><span style="color:#66cc00"><strong><span
                >Ví dụ</span></strong></span></td>
            </tr>
            <tr>
                <td><span><span><strong>- AFTER / BEFORE</strong>: dùng để diễn tả thời gian, một việc xảy ra sau/trước một việc khác – sau / trước khi</span></span>
                </td>
                <td>

                    <p>
                        &nbsp;&nbsp;&bull; <span><span><em>He watches TV <u><strong>after</strong></u> he finishes his work.</em></span></span><br>
                        <span style="color:#008000"><span><em>Anh ấy xem TV sau khi hoàn thành công việc của mình.</em></span></span>
                    </p>

                </td>
            </tr>
            <tr>
                <td>
                    <p><span><span
                    >-<strong> ALTHOUGH / THOUGH / EVEN THOUGH:</strong> dùng để biểu thị hai hành động trái ngược nhau về mặt logic – mặc dù</span></span>
                    </p>

                    <p><span><span>+ <strong>Lưu ý</strong>: Although / though / even though dùng với mệnh đề, ngoài ra còn có thể dùng despite và in spite of + phrase, despite the fact that và in spite of the fact that + clause để diễn đạt ý tương đương</span></span>
                    </p>
                </td>
                <td>

                    <p>&nbsp;&nbsp;&bull; <span><span><em><u><strong>Although</strong></u> he is very old, he goes jogging every morning. &nbsp;</em></span></span><br>
                        <span style="color:#008000"><span><em>Mặc dù ông ấy đã già, ông ấy vẫn đi bộ vào mỗi buổi sáng.</em></span></span>
                    </p>
                    <p>&nbsp;&nbsp;&bull; <span><span><em><u><strong>Despite</strong></u> his old age, he goes jogging every morning.</em></span></span><br>
                        <span style="color:#008000"><span><em>Mặc dù tuổi già, ông ấy đi chạy bộ mỗi sáng.</em></span></span>
                    </p>

                </td>
            </tr>
            <tr>
                <td><span><span>- <strong>AS:</strong> dùng để diễn tả hai hành động cùng xảy ra – khi; hoặc diễn tả nguyên nhân – bởi vì</span></span>
                </td>
                <td>

                    <p>&nbsp;&nbsp;&bull; <span><span><em><u><strong>As</strong></u> this is the first time you are here, let me take you around (= because)</em></span></span><br>
                        <span style="color:#008000"><span><em>Vì đây là lần đầu tiên bạn ở đây, hãy để tôi đưa bạn đi dạo.</em></span></span>
                    </p>

                </td>
            </tr>
            <tr>
                <td>
                    <span><span>- <strong>AS LONG AS</strong>: dùng để diễn tả điều kiện –chừng nào mà, miễn là</span></span>
                </td>
                <td>

                    <p>&nbsp;&nbsp;&bull; <span><span><em>&nbsp;“I don’t care who you are, where you’re from, don’t care what you did <u><strong>as long as</strong></u> you love me” (Backstreet boys)</em></span></span><br>
                        <span style="color:#008000"><span><em>Tôi không quan tâm bạn là ai, bạn đến từ đâu, không quan tâm bạn đã làm gì miễn là bạn yêu tôi</em></span></span>
                    </p>

                </td>
            </tr>
            <tr>
                <td>
                    <span><span>- <strong>AS SOON AS</strong>: dùng để diễn tả quan hệ thời gian – ngay khi mà</span></span>
                </td>
                <td>

                    <p>&nbsp;&nbsp;&bull; <span><span><em><u><strong>As soon as</strong></u> the teacher arrived, they started their lesson.</em></span></span><br>
                        <span style="color:#008000"><span><em>Ngay khi giáo viên đến, họ bắt đầu bài học.</em></span></span>
                    </p>

                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        <span><span>- <strong>BECAUSE / SINCE</strong>: dùng để diễn tả nguyên nhân, lý do – bởi vì</span></span>
                    </p>

                    <p><span><span>-<strong> Lưu ý</strong>: Because / since dùng với mệnh đề, ngoài ra có thể dùng because of / due to + phrase để diễn đạt ý tương đương.</span></span>
                    </p>
                </td>
                <td>

                    <p>&nbsp;&nbsp;&bull; <span><span><em>I didn’t go to school today <u><strong>because</strong></u> it rained so heavily. </em></span></span><br>
                        <span style="color:#008000"><span><em>Hôm nay tôi không đi học bởi vì trời mưa rất nhiều.</em></span></span>
                    </p>
                    <p>&nbsp;&nbsp;&bull; <span><span><em>I didn’t go to school today <u><strong>because of</strong></u> the heavy rain.</em></span></span><br>
                        <span style="color:#008000"><span
                        ><em>Hôm nay tôi không đi học vì mưa lớn.</em></span></span></p>

                </td>
            </tr>
            <tr>
                <td>
                    <span><span>- <strong>EVEN IF</strong>: dùng để diễn tả điều kiện giả định mạnh –kể cả khi</span></span>
                </td>
                <td>

                    <p>&nbsp;&nbsp;&bull; <span><span><em>“<u><strong>Even if</strong></u> the sky is falling down, you’ll be my only” (Jay Sean). &nbsp;</em></span></span><br>
                        <span style="color:#008000"><span><em>Ngay cả khi bầu trời xụp đổ, bạn sẽ mãi là người duy nhất của tôi"</em></span></span>
                    </p>

                </td>
            </tr>
            <tr>
                <td>
                    <span><span>- <strong>IF / UNLESS</strong>: dùng để diễn tả điều kiện – nếu / nếu không</span></span>
                </td>
                <td>

                    <p>&nbsp;&nbsp;&bull; <span><span
                    ><em>The crop will die <u><strong>unless</strong></u> it rains soon.</em></span></span><br>
                        <span style="color:#008000"><span><em>Nếu trời không sớm có mưa thì hoa màu sẽ chết</em></span></span>
                    </p>

                </td>
            </tr>
            <tr>
                <td><span><span>- <strong>ONCE</strong>: dùng để diễn tả ràng buộc về thời gian – một khi</span></span>
                </td>
                <td>

                    <p>
                        &nbsp;&nbsp;&bull; <span><span><em><u><strong>Once</strong></u> you’ve tried it, you cannot stop.</em></span></span><br>
                        <span style="color:#008000"><span><em>Một khi bạn đã thử nó, bạn không thể dừng lại.</em></span></span>
                    </p>

                </td>
            </tr>
            <tr>
                <td><span><span>- <strong>NOW THAT:</strong> dùng để diễn tả quan hệ nhân quả theo thời gian – vì giờ đây</span></span>
                </td>
                <td>

                    <p>
                        &nbsp;&nbsp;&bull; <span><span><em>Baby, <strong><u>now that</u></strong> I’ve found you, I won’t let you go.</em></span></span><br>
                        <span style="color:#008000"><span><em>Cưng à, vì bây giờ anh đã tìm thấy em, anh sẽ không để em đi nữa.</em></span></span>
                    </p>

                </td>
            </tr>
            <tr>
                <td><span><span>- <strong>SO THAT / IN ORDER THAT</strong>: dùng để diễn tả mục đích – để</span></span>
                </td>
                <td>

                    <p>&nbsp;&nbsp;&bull; <span><span
                    ><em>We left early <u><strong>so that</strong></u> we wouldn’t be caught in the traffic jam. </em></span></span><br>
                        <span style="color:#008000"><span
                        ><em>Chúng tôi ra sớm để không bị kẹt xe.</em></span></span></p>

                </td>
            </tr>
            <tr>
                <td><span><span>- <strong>UNTIL:</strong> dùng để diễn tả quan hệ thời gian, thường dùng với câu phủ định – cho đến khi</span></span>
                </td>
                <td>

                    <p>&nbsp;&nbsp;&bull; <span><span
                    ><em>He didn’t come home <u><strong>until </strong></u>2.00 a.m. yesterday.</em></span></span><br>
                        <span style="color:#008000"><span><em>Anh ấy đã không về nhà cho đến 2 giờ sáng hôm qua.</em></span></span>
                    </p>

                </td>
            </tr>
            <tr>
                <td><span><span>- <strong>WHEN</strong>: dùng để diễn tả quan hệ thời gian – khi</span></span>
                </td>
                <td>

                    <p>
                        &nbsp;&nbsp;&bull;
                        <span><span><em><u><strong>When</strong></u> she cries, I just can’t think!</em></span></span><br>
                        <span style="color:#008000"><span><em>Khi cô ấy khóc, Tôi không biết nghĩ gì nữa!</em></span></span>
                    </p>

                </td>
            </tr>
            <tr>
                <td><span><span>- <strong>WHERE</strong>: dùng để diễn tả quan hệ về địa điểm – nơi</span></span>
                </td>
                <td>

                    <p>&nbsp;&nbsp;&bull; <span><span
                    ><em>I come back to <u><strong>where</strong></u> I was born.</em></span></span><br>
                        <span style="color:#008000"><span
                        ><em>Tôi trở lại nơi tôi sinh ra.</em></span></span></p>

                </td>
            </tr>
            <tr>
                <td><span><span>- <strong>WHILE:</strong> dùng để diễn tả quan hệ thời gian – trong khi; hoặc sự ngược nghĩa giữa 2 mệnh đề - nhưng (= <strong>WHEREAS</strong>)</span></span>
                </td>
                <td>

                    <p>&nbsp;&nbsp;&bull; <span><span><em>I was washing the dishes <u><strong>while</strong></u> my sister was cleaning the floor.</em></span></span><br>
                        <span style="color:#008000"><span><em>Tôi đang rửa chén đĩa trong khi chị tôi đang dọn dẹp sàn nhà</em></span></span>
                    </p>

                </td>
            </tr>
            <tr>
                <td><span><span>- <strong>IN CASE / IN THE EVENT THAT</strong>: dùng để diễn tả giả định về một hành động có thể xảy ra trong tương lai – trong trường hợp, phòng khi.</span></span>
                </td>
                <td>

                    <p>&nbsp;&nbsp;&bull; <span><span><em><u><strong>In case</strong></u> it will rain, please take an umbrella when you go out.</em></span></span><br>
                        <span style="color:#008000"><span><em>Trong trường hợp trời mưa, vui lòng mang ô dù khi đi ra ngoài.</em></span></span>
                    </p>

                </td>
            </tr>
            </tbody>
        </table>

        <p><span
                style="color:#66cc00"><strong><span>- Nguyên tắc dùng dấu phẩy (,) với liên từ phụ thuộc:</span></strong></span>
        </p>

        <p><span><span>Nếu mệnh đề phụ thuộc đứng trước mệnh đề độc lập thì giữa hai mệnh đề phải sử dụng dấu phẩy. Tuy nhiên khi mệnh đề độc lập đứng trước thì không cần có dấu phẩy giữa hai mệnh đề.</span></span>
        </p>
    </div>
</div>
