<meta charset="UTF-8">
<div class="item-active" id="item-1">
    <div class="item-title-active">
        <div class="item-title-active-content">I. THÁN TỪ LÀ GÌ?
        </div>

    </div>
    <div class="item-active-content">
        <p><span><span><strong>Thán từ</strong> (Interjection) là những từ chỉ sự cảm thán như Oh!, Um hoặc Ah!. Chúng không có giá trị thực sự về mặt ngữ pháp nhưng thường được sử dụng khá thường xuyên và chủ yếu là trong văn nói. Thán từ thường đứng một mình và đôi khi theo sau bởi một dấu chấm than (!) khi viết.</span></span>
        </p>
        <p><span><span>Eg:&nbsp;</span></span></p>
            <p>&nbsp;&nbsp;&bull; <em><span><span
            >Oh my God! You are so beautiful! </span></span><span style="color:#008000"><span
            >(Ôi trời ơi! Em đẹp quá đi à!)</span></span></em></p>
            <p>&nbsp;&nbsp;&bull; <span><span><em>Oh dear! </em></span></span><span
                    style="color:#008000"><span><em>(Ôi em/anh yêu!)</em></span></span></p>
    </div>
</div>
<div class="item-active" id="item-2">
    <div class="item-title-active">
        <div class="item-title-active-content">II. NHỮNG THÁN TỪ PHỔ BIẾN
        </div>

    </div>
    <div class="item-active-content">
        <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
            <tbody>
            <tr>
                <td style="text-align:center"><span style="color:#ff8c00"><strong><span
                >Thán từ </span></strong></span></td>
                <td style="text-align:center"><span style="color:#ff8c00"><strong><span
                >Nghĩa</span></strong></span></td>
                <td style="text-align:center"><span style="color:#ff8c00"><span
                ><strong>Ví dụ</strong></span></span></td>
            </tr>
            <tr>
                <td style="text-align:center"><span><span
                ><strong>Ah</strong></span></span></td>
                <td>
                    <p><span><span>- Bày tỏ niềm vui</span></span></p>

                    <p><span><span>- Bày tỏ sự nhận biết điều gì</span></span></p>

                    <p><span><span>- Thể hiện sự cam chịu</span></span></p>

                    <p><span><span>- Thể hiện sự bất ngờ</span></span></p>
                </td>
                <td>
                    <p><span><span>- Ah, that feels good. </span></span><span
                            style="color:#008000"><span>(Ah, cảm thấy cũng được đấy.)</span></span></p>

                    <p><span><span>- Ah, now I understand. </span></span><span
                            style="color:#008000"><span>(Ah, giờ tôi hiểu rồi.)</span></span></p>

                    <p><span><span
                    >- Ah well, it can’t be helped.</span></span><span style="color:#008000"><span
                    > À vâng, điều đó không thể giúp được.</span></span></p>

                    <p><span><span>- Ah! I’ve won! </span></span><span
                            style="color:#008000"><span>(Ah! Tôi đã thắng!)</span></span></p>

                    <p>&nbsp;</p>
                </td>
            </tr>
            <tr>
                <td style="text-align:center"><span><span
                ><strong>Alas</strong></span></span></td>
                <td>
                    <p><span><span>- Bày tỏ đau buồn hay thương hại</span></span>
                    </p>
                </td>
                <td><span><span>- Alas, she’s dead now. </span></span><span
                        style="color:#008000"><span>(Than ôi, giờ cô ấy đã mất rồi.)</span></span></td>
            </tr>
            <tr>
                <td style="text-align:center"><span><span
                ><strong>Dear</strong></span></span></td>
                <td>
                    <div><span><span>- Bày tỏ sự đáng tiếc&nbsp;</span></span>
                    </div>

                    <div>
                        <div><span><span>- Thể hiện sự bất ngờ&nbsp;</span></span>
                        </div>
                    </div>
                </td>
                <td>
                    <p><span><span>- Oh dear! Does it hurt?</span></span><span
                            style="color:#008000"><span> (Oh không! Có đau không?)</span></span></p>

                    <p><span><span
                    >- Dear me! That’s a surprise! </span></span><span style="color:#008000"><span
                    >(Trời ơi! Thật bất ngờ!)</span></span></p>
                </td>
            </tr>
            <tr>
                <td>
                    <div style="text-align:center"><span><span><strong>Eh</strong>&nbsp;</span></span>
                    </div>
                </td>
                <td>
                    <p><span><span>- Yêu cầu sự lặp lại</span></span></p>

                    <p><span><span>- Thể hiện sự điều tra</span></span></p>

                    <div><span><span>- Thể hiện sự bất ngờ&nbsp;</span></span>
                    </div>

                    <div>&nbsp;</div>

                    <div><span><span>- Thỏa thuận mời</span></span></div>
                </td>
                <td>
                    <p><span><span
                    >- It’s hot today. Eh? I said it’s hot today.</span></span><br>
                        <span style="color:#008000"><span>”Hôm nay trời nóng. Eh? Tôi nói là hôm nay trời nóng.</span></span>
                    </p>

                    <p><span><span
                    >- What do you think of that, eh? </span></span><br>
                        <span style="color:#008000"><span
                        >(&nbsp;Anh nghĩ gì về chuyện đó, eh? )</span></span></p>

                    <p><span><span>- Eh! Really? </span></span><span
                            style="color:#008000"><span>(Eh! Thật á?)</span></span></p>

                    <p><span><span>- Let’s go, eh? </span></span><span
                            style="color:#008000"><span>(Chúng ta đi, eh?)</span></span></p>
                </td>
            </tr>
            <tr>
                <td style="text-align:center"><strong><span><span>Er</span></span></strong>
                </td>
                <td>
                    <div><span><span>- Bày tỏ sự do dự&nbsp;</span></span></div>
                </td>
                <td><span><span
                >- Lima is the capital of…er…Peru. </span></span><br>
                    <span style="color:#008000"><span>(Lima là thủ đô của…er…Peru.)</span></span></td>
            </tr>
            <tr>
                <td style="text-align:center"><span><span
                ><strong>Hello, Hullo</strong></span></span></td>
                <td>
                    <p><span><span>- Thể hiện lời chào</span></span></p>

                    <p><span><span>- Bày tỏ sự ngạc nhiên</span></span></p>
                </td>
                <td>
                    <p><span><span
                    >- Hello John. How are you today? </span></span><br>
                        <span style="color:#008000"><span>(Chào John. Hôm nay anh thế nào?)</span></span>
                    </p>

                    <p><span><span>- Hello! My car’s gone! </span></span><span
                            style="color:#008000"><span>(Úi! Xe của tôi đâu mất rồi!)</span></span></p>
                </td>
            </tr>
            <tr>
                <td style="text-align:center"><span><span
                ><strong>Hey</strong></span></span></td>
                <td>
                    <p><span><span>- Kêu gọi sự chú ý</span></span></p>

                    <p><span><span>- Thể hiện niềm vui, bất ngờ,…</span></span></p>
                </td>
                <td>
                    <p><span><span>- Hey! Look at that! </span></span><span
                            style="color:#008000"><span>(Hey! Nhìn kìa!)</span></span></p>

                    <p><span><span>- Hey! What a good idea! </span></span><span
                            style="color:#008000"><span>(Hey! Ý kiến hay đấy!)</span></span></p>
                </td>
            </tr>
            <tr>
                <td style="text-align:center"><span><span
                ><strong>Hi</strong></span></span></td>
                <td><span><span>- Thể hiện lời chào</span></span></td>
                <td><span><span>- Hi! What’s new? </span></span><span
                        style="color:#008000"><span>(Chào! Có gì mới không?)</span></span></td>
            </tr>
            <tr>
                <td style="text-align:center"><span><span
                ><strong>Hmm</strong></span></span></td>
                <td><span><span
                >- Bày tỏ sự do dự, nghi ngờ hoặc bất đồng</span></span></td>
                <td><span><span>- Hmm. I’m not so sure. </span></span><span
                        style="color:#008000"><span>(Hmm. Tôi không chắc lắm.)</span></span></td>
            </tr>
            <tr>
                <td style="text-align:center"><span><span
                ><strong>Oh, o</strong></span></span></td>
                <td>
                    <p><span><span>- Bày tỏ sự ngạc nhiên</span></span></p>

                    <p><span><span>- Thể hiện nỗi đau</span></span></p>

                    <p><span><span>- Bày tỏ sự cầu xin</span></span></p>
                </td>
                <td>
                    <p><span><span>- Oh! You’re here! </span></span><span
                            style="color:#008000"><span>(Ồ! Bạn đây rồi!)</span></span></p>

                    <p><span><span>- Oh! I’ve got a toothache. </span></span><span
                            style="color:#008000"><span>(Oh! Tôi bị đau răng.)</span></span></p>

                    <p><span><span>- Oh, please say “yes”! </span></span><span
                            style="color:#008000"><span>(Oh, làm ơn nói có đi!)</span></span></p>
                </td>
            </tr>
            <tr>
                <td style="text-align:center"><span><span
                ><strong>Ouch</strong></span></span></td>
                <td><span><span>-Thể hiện nỗi đau</span></span></td>
                <td><span><span>- Ouch! That hurts! </span></span><span
                        style="color:#008000"><span>(Ouch! Đau thật!)</span></span></td>
            </tr>
            <tr>
                <td style="text-align:center"><span><span
                ><strong>Uh</strong></span></span></td>
                <td><span><span>- Bày tỏ sự do dự</span></span></td>
                <td><span><span>- Uh…I don’t know the answer to that.</span></span><br>
                    <span style="color:#008000"><span
                    >(Uh…Tôi không biết câu trả lời về chuyện đó.)</span></span></td>
            </tr>
            <tr>
                <td style="text-align:center"><span><span
                ><strong>Uh-huh</strong></span></span></td>
                <td><span><span>- Thể hiện sự đồng ý</span></span></td>
                <td><span><span
                >&nbsp;- “Shall we go?” “Uh-huh.” </span></span><span style="color:#008000"><span
                >(“Ta đi chứ?” “Uh-huh.”)</span></span></td>
            </tr>
            <tr>
                <td style="text-align:center"><span><span
                ><strong>Well</strong></span></span></td>
                <td>
                    <p><span><span>- Bày tỏ sự ngạc nhiên</span></span></p>

                    <p><span><span>- Đưa ra một nhận xét</span></span></p>
                </td>
                <td>
                    <p><span><span>- Well I never! </span></span><span
                            style="color:#008000"><span>(Ồ tôi không biết!)</span></span></p>

                    <p><span><span>- Well, what did he say? </span></span><span
                            style="color:#008000"><span>(Vâng, anh ấy đã nói gì?)</span></span></p>
                </td>
            </tr>
            <tr>
                <td style="text-align:center"><span><span><strong>Um, umm</strong></span></span>
                </td>
                <td><span><span>- Bày tỏ sự do dự</span></span></td>
                <td><span><span>- 85 divided by 5 is…um…17. </span></span><span
                        style="color:#008000"><span>(85 chia cho 5 là…um…17.)</span></span></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
