<meta charset="UTF-8">
<div class="item-active" id="item-1">
    <div class="item-title-active">
        <div class="item-title-active-content">I. MẠO TỪ LÀ GÌ?
        </div>

    </div>
    <div class="item-active-content">
        <p><span><span><span
        ><strong>- Mạo từ</strong> là từ đứng trước danh từ và cho biết danh từ ấy nhắc đến một đối tượng xác định hay không xác định.&nbsp;</span></span></span>
        </p>

        <p><span><span><span>- Chúng ta sử dụng 'The' khi danh từ chỉ đối tượng/sự vật được cả người nói và người nghe biết rõ đối tượng nào đó. Ngược lại, khi người nói đề cập đến một đối tượng chung hoặc chưa xác định được thì chúng ta dùng Mạo từ bất định A, An.</span></span></span>
        </p>

        <p><strong><span><span><span
        >Có 2 loại Mạo từ chính "Thường Gặp Nhất" trong tiếng Anh:</span></span></span></strong>
        </p>


        <p>&nbsp;&nbsp;&bull; <em><span><span><span
        >Mạo từ xác định: The</span></span></span></em></p>
        <p>&nbsp;&nbsp;&bull; <em><span><span><span
        >Mạo từ bất định: A/An</span></span></span></em></p>

    </div>
</div>
<div class="item-active" id="item-2">
    <div class="item-title-active">
        <div class="item-title-active-content">II. MẠO TỪ XÁC ĐỊNH
        </div>

    </div>
    <div class="item-active-content">
        <p><span><span><span
        ><strong>Mạo từ xác định</strong> (Definite article) THE được dùng trước một danh từ đã được xác định cụ thể về đặc điểm, vị trí hoặc đã được đề cập trước đó, hoặc những khái niệm phổ thông mà người nói và người nghe/người đọc đều biết họ đang nói về ai hay vật gì.</span></span></span>
        </p>

        <p><span><span><span
        ><strong>Example:</strong></span></span></span></p>


        <p>&nbsp;&nbsp;&bull; <span><span><span
        ><em>The man next to Nhi is my friend. </em></span></span></span><span
                style="color:#008000"><span><span><em>(</em></span></span><span
        ><em>Người đàn ông bên cạnh Nhi là bạn của tôi.)</em></span></span><br>
            <span><span><span
            ><em>--&gt; cả người nói và người nghe đều biết đó là người đàn ông nào</em></span></span></span>
        </p>
        <p>&nbsp;&nbsp;&bull; <span><span><span
        ><em>The sun is big. </em></span></span></span><span style="color:#008000"><span
        ><span
        ><em>(</em></span></span><em><span>Mặt trời rất to lớn)</span></em></span><br>
            <span><span><span
            ><em>---&gt; Chỉ có một trái đất, điều này ai cũng biết</em></span></span></span>
        </p>


        <p><span style="color:#ffa500"><span><span
        ><strong>1. Sau đây là các trường hợp thông dụng để dụng "The"</strong></span></span></span>
        </p>

        <p><span><span><span
        ><strong>A.</strong> <strong>Khi vật thể hay nhóm vật thể là duy nhất hoặc được xem là duy nhất</strong><br>
Example:</span></span></span></p>


        <p>&nbsp;&nbsp;&bull; <em><span><span><span
        >The sun (mặt trời); the sea (biển cả)</span></span></span></em></p>
        <p>&nbsp;&nbsp;&bull; <span><span><span
        ><em>The world (thế giới); the earth (quả đất)</em></span></span></span></p>


        <p><span><span><span
        ><strong>B. Trước một danh từ, với điều kiện danh từ này vừa mới được đề cập trước đó.</strong><br>
Example:</span></span></span></p>


        <p>&nbsp;&nbsp;&bull; <span><span><span
        ><em>I saw a cat.The cat ran away.<br>
	Tôi nhìn thấy 1 con mèo. Nó chạy đi xa</em></span></span></span></p>


        <p><span><span><span
        ><strong>C. Trước một danh từ, với điều kiện danh từ này được xác định bằng một cụm từ hoặc một mệnh đề.</strong><br>
Example:</span></span></span></p>


        <p>&nbsp;&nbsp;&bull; <em><span><span><span
        >The girl that I love</span></span></span><br>
            <span style="color:#008000"><span><span>Cô gái mà tôi yêu</span></span></span></em>
        </p>
        <p>&nbsp;&nbsp;&bull; <span><span><span
        ><em>The boy that I hit</em></span></span></span><br>
            <span style="color:#008000"><span><span
            ><em>Cậu bé mà tôi đá</em></span></span></span></p>


        <p><span><span><span
        ><strong>D. Trước một danh từ chỉ một vật riêng biệt</strong><br>
Example:</span></span></span></p>


        <p>&nbsp;&nbsp;&bull; <em><span><span><span
        >Please give me the dictionary.</span></span></span><br>
            <span style="color:#008000"><span><span>Làm ơn đưa quyển quyển tự điển giúp tôi.</span></span></span></em>
        </p>


        <p><span><span><span
        ><strong>E. Trước so sánh cực cấp, Trước first (thứ nhất), second (thứ nhì), only (duy nhất)…. khi các từ này được dùng như tính từ hay đại từ.</strong><br>
Example:&nbsp;</span></span></span></p>


        <p>&nbsp;&nbsp;&bull; <em><span><span><span
        >The first day</span></span></span><br>
            <span style="color:#008000"><span><span>Ngày đầu tiên</span></span></span></em>
        </p>
        <p>&nbsp;&nbsp;&bull; <span><span><span
        ><em>The only moment</em></span></span></span><br>
            <span style="color:#008000"><span><span
            ><em>Khoảnh khắc duy nhất</em></span></span></span></p>


        <p><span><span><span
        ><strong>F. The + Danh từ số ít tượng trưng cho một nhóm thú vật hoặc đồ vật</strong><br>
Example:&nbsp;</span></span></span></p>


        <p>&nbsp;&nbsp;&bull; <em><span><span><span
        >The whale is in danger of becoming extinct.&nbsp;</span></span></span><br>
            <span style="color:#008000"><span><span>Cá voi đang trong nguy cơ tuyệt chủng.</span></span></span></em>
        </p>


        <p><span><span><span
        ><strong>G. The + Danh từ số ít dùng trước một động từ số ít. Đại từ là He / She /It</strong><br>
Example:</span></span></span></p>


        <p>&nbsp;&nbsp;&bull; <em><span><span><span
        >The first-class passenger pays more so that he enjoys some comfort.</span></span></span><br>
            <span style="color:#008000"><span><span>Hành khách đi vé hạng nhất trả tiền nhiều hơn để hưởng tiện nghi thoải mái</span></span></span></em>
        </p>


        <p><span><span><span
        ><strong>H. The + Tính từ tượng trưng cho một nhóm người</strong><br>
Example:</span></span></span></p>


        <p>&nbsp;&nbsp;&bull; <em><span><span><span
        >The old (người già); the rich and the poor (người giàu và người nghèo)</span></span></span></em>
        </p>


        <p><span><span><span
        ><strong>J. The dùng trước những danh từ riêng chỉ biển, sông, quần đảo, dãy núi, tên gọi số nhiều của các nước, sa mạc, miền</strong><br>
Example:</span></span></span></p>


        <p>&nbsp;&nbsp;&bull; <em><span><span><span
        >The Pacific (Thái Bình Dương); The Netherlands (Hà Lan), The Atlantic Ocean</span></span></span></em>
        </p>


        <p><span><span><span
        ><strong>K. The + họ (ở số nhiều) nghĩa là Gia đình …</strong><br>
Example:</span></span></span></p>


        <p>&nbsp;&nbsp;&bull; <em><span><span><span
        >The Lan = Gia đình Lan (vợ chồng Lan và các con)</span></span></span></em></p>


        <p><span style="color:#ffa500"><span><span
        ><strong>2. Không được dùng "The" trong các trường hợp:</strong></span></span></span></p>

        <p><span><span><span
        ><strong>A. Trước tên quốc gia, tên châu lục, tên núi, tên hồ, tên đường.</strong><br>
Eg:</span></span></span></p>


        <p>&nbsp;&nbsp;&bull; <em><span><span><span
        >Europe (Châu Âu), Viet Nam, Ho Xuan Huong Street (Đường Hồ Xuân Hương)</span></span></span></em>
        </p>


        <p><span><span><span
        ><strong>B. Khi danh từ không đếm được hoặc danh từ số nhiều dùng theo nghĩa chung nhất, chứ không chỉ riêng trường hợp nào.</strong><br>
Eg:</span></span></span></p>


        <p>&nbsp;&nbsp;&bull; <em><span><span><span
        >I don’t like noodles</span></span></span><br>
            <span style="color:#008000"><span><span>Tôi không thích mì</span></span></span></em>
        </p>
        <p>&nbsp;&nbsp;&bull; <em><span><span><span
        >I don’t like Sundays</span></span></span><br>
            <span style="color:#008000"><span><span>Tôi chẳng thích ngày chủ nhật</span></span></span></em>
        </p>


        <p><span><span><span
        ><strong>C. Sau sở hữu tính từ (possessive adjective) hoặc sau danh từ ở sở hữu cách (possessive case) .</strong><br>
Eg:</span></span></span></p>


        <p>&nbsp;&nbsp;&bull; <em><span><span><span
        >My friend, chứ không nói My the friend</span></span></span></em></p>
        <p>&nbsp;&nbsp;&bull; <em><span><span><span
        >The girl’s mother = the mother of the girl (Mẹ của cô gái)</span></span></span></em>
        </p>


        <p><span><span><span
        ><strong>D. Trước tên gọi các bữa ăn.</strong><br>
Eg:</span></span></span></p>


        <p>&nbsp;&nbsp;&bull; <em><span><span><span
        >I invited Marry to dinner.</span></span></span><br>
            <span style="color:#008000"><span><span>Tôi mờ Marry đến ăn tối</span></span></span></em>
        </p>


        <p><span><span><span>- Nhưng:</span></span></span>
        </p>


        <p>&nbsp;&nbsp;&bull; <em><span><span><span
        >The wedding breakfast was held in a beautiful garden.</span></span></span><br>
            <span style="color:#008000"><span><span>Bữa tiệc cưới được tổ chức trong một khu vườn xinh đẹp.</span></span></span></em>
        </p>


        <p><span><span><span
        ><strong>E. Trước các tước hiệu.</strong><br>
Example:</span></span></span></p>


        <p>&nbsp;&nbsp;&bull; <em><span><span><span
        >President Nguyen Tan Dung (Thủ tướng Nguyễn Tấn Dũng)</span></span></span></em></p>


        <p><span><span><span
        ><strong>F. Trong các trường hợp dưới đây:</strong></span></span></span></p>


        <p>&nbsp;&nbsp;&bull; <em><span><span><span
        >Men are always fond of soccer.</span></span></span><br>
            <span style="color:#008000"><span><span>Đàn ông luôn thích bóng đá.</span></span></span></em>
        </p>
        <p>&nbsp;&nbsp;&bull; <span><em><span><span
        >In spring/in autumn (Vào mùa xuân/mùa thu), last night (đêm qua), next year (năm tới), from beginning to end (từ đầu tới cuối), from left to right (từ trái sang phải)</span></span></em></span>
        </p>

    </div>
</div>
<div class="item-active" id="item-3">
    <div class="item-title-active">
        <div class="item-title-active-content">IV. MẠO TỪ BẤT ĐỊNH
        </div>

    </div>
    <div class="item-active-content">
        <p style="text-align:center"><span
                style="color:#000000; font-family:arial,helvetica,sans-serif; font-size:16px">Chúng ta dùng a hoặc an trước một danh từ đếm được số ít. Chúng có nghĩa là một. Chúng được dùng trong câu có tính khái quát hoặc đề cập đến một chủ thể chưa được đề cập từ trước.&nbsp;</span>
        </p>

        <p><span><span><span
        >Eg:</span></span></span></p>


        <p>&nbsp;&nbsp;&bull; <em><span><span><span
        >A ball is round ( Nghĩa chung, khái quát, chỉ tất cả các quả bóng )<br>
	Quả bóng hình tròn</span></span></span></em></p>


        <p><span style="color:#ff8c00"><strong><span><span
        >1. Cách dùng Mạo từ "An"</span></span></strong></span></p>

        <p><span><span><span
        >- '<strong>An</strong>' được dùng trước từ bắt đầu bằng nguyên âm (trong cách phát âm, chứ không phải trong cách viết).</span></span></span>
        </p>

        <p><strong><span><span><span
        >- Các từ được bắt đầu bằng các nguyên âm " a, e, i, o" </span></span></span></strong></p>

        <p><span><span><span
        >Eg:</span></span></span></p>


        <p>&nbsp;&nbsp;&bull; <em><span><span><span
        >An apple (một quả táo) , an egg (một quả trứng), an orange (một quả cam)</span></span></span></em>
        </p>


        <p><strong><span><span><span
        >- Một số từ bắt đầu bằng “u“: </span></span></span></strong></p>

        <p><span><span><span
        >Eg:</span></span></span></p>


        <p>&nbsp;&nbsp;&bull; <em><span><span><span
        >An umbrella (một cái ô)</span></span></span></em></p>


        <p><strong><span><span><span
        >- Một số từ bắt đầu bằng “h” câm</span></span></span></strong></p>

        <p><span><span><span
        >Eg:</span></span></span></p>


        <p>&nbsp;&nbsp;&bull; <em><span><span><span
        >An hour (một tiếng)</span></span></span></em></p>


        <p><span style="color:#ff8c00"><strong><span><span
        >2. Cách dụng Mạo từ "A"</span></span></strong></span></p>

        <p><span><span><span>Chúng ta dùng a trước các từ bắt đầu bằng một phụ âm hoặc một nguyên âm có âm là phụ âm. Bên cạnh đó, chúng bao gồm các chữ cái còn lại và một số trường hợp bắt đầu bằng "u, y, h".</span></span></span>
        </p>

        <p><span><span><span
        >Eg:</span></span></span></p>


        <p>&nbsp;&nbsp;&bull; <em><span><span><span
        >A year (một năm), A house (một ngôi nhà), a uniform (một bộ đồng phục), …</span></span></span></em>
        </p>


        <p><strong><span><span><span
        >- Đứng trước một danh từ mở đầu bằng “uni” và "eu" &nbsp;phải dùng “A”&nbsp;</span></span></span></strong>
        </p>

        <p><span><span><span
        >Eg:</span></span></span></p>


        <p>&nbsp;&nbsp;&bull; <em><span><span><span
        >a university (trường đại học), a union (tổ chức), a eulogy (lời ca ngợi), ...·</span></span></span></em>
        </p>


        <p><span><span><span
        >- <strong>Dùng với các đơn vị phân số như 1/3 a/one third – 1/5 a /one fifth.</strong></span></span></span>
        </p>

        <p><span><span><span>Eg:&nbsp;</span></span></span>
        </p>


        <p>&nbsp;&nbsp;&bull; <em><span><span><span
        >I get up at a quarter past six.</span></span></span><br>
            <span style="color:#008000"><span style="font-family:arial,helvetica,sans-serif; font-size:16px">Tôi thức dậy vào lúc 6 giờ 15 phút.</span></span></em>
        </p>


        <p><span><span><span
        >- <strong>Dùng trước “half” (một nửa) khi nó theo sau một đơn vị nguyên vẹn: a kilo and a half, hay khi nó đi ghép với một danh từ khác để chỉ nửa phần (khi viết có dấu gạch nối): </strong>a half – share, a half – day (nửa ngày).</span></span></span>
        </p>

        <p><span><span><span>Eg:&nbsp;</span></span></span>
        </p>


        <p>&nbsp;&nbsp;&bull; <em><span><span><span
        >My mother bought a half kilo of oranges.</span></span></span><br>
            <span style="color:#008000"><span style="font-family:arial,helvetica,sans-serif; font-size:16px">Mẹ tôi mua nửa cân cam.</span></span></em>
        </p>


        <p><span><span><span
        >- <strong>Dùng trong các thành ngữ chỉ giá cả, tốc độ, tỉ lệ: $4 a kilo, 100 kilometers an hour, 2 times a day.</strong></span></span></span>
        </p>

        <p><span><span><span
        >Eg:</span></span></span></p>


        <p>&nbsp;&nbsp;&bull; <em><span><span><span
        >John goes to work three times a week.</span></span></span><br>
            <span style="color:#008000"><span style="font-family:arial,helvetica,sans-serif; font-size:16px">John đi làm 3 lần một tuần.</span></span></em>
        </p>


        <p><span><span><span
        >- <strong>Dùng trong các thành ngữ chỉ số lượng nhất định như: a lot of/ a couple/ a dozen.</strong></span></span></span>
        </p>

        <p><span><span><span
        >Eg:</span></span></span></p>


        <p>&nbsp;&nbsp;&bull; <em><span><span><span
        >I want to buy a dozen eggs.</span></span></span><br>
            <span style="color:#008000"><span style="font-family:arial,helvetica,sans-serif; font-size:16px">Tôi muốn mua 1 tá trứng.</span></span></em>
        </p>


        <p><span><span><span
        >- <strong>Dùng trước những số đếm nhất định thường là hàng ngàn, hàng trăm như a/one hundred – a/one thousand.</strong></span></span></span>
        </p>

        <p><span><span><span
        >Eg:</span></span></span></p>


        <p>&nbsp;&nbsp;&bull; <em><span><span><span
        >My school has a hundred students.</span></span></span><br>
            <span style="color:#008000"><span style="font-family:arial,helvetica,sans-serif; font-size:16px">Trường của tôi có một trăm học sinh.</span></span></em>
        </p>


        <p><span style="color:#ff8c00"><strong><span><span
        >3. Không dùng mạo từ bất định trong các trường hợp</span></span></strong></span>
        </p>

        <p><span><span><span
        ><strong>A. Trước danh từ số nhiều.</strong></span></span></span></p>

        <p><span><span><span>- Lưu ý: &nbsp;A/An không có hình thức số nhiều.</span></span></span>
        </p>

        <p><span style="color:#000000; font-family:arial,helvetica,sans-serif; font-size:16px">Eg:</span></p>


        <p>&nbsp;&nbsp;&bull; <span><span><span
        ><em>Số nhiều của a dog là dogs&nbsp;</em></span></span></span></p>


        <p><span><span><span
        ><strong>B. Trước danh từ không đếm được</strong></span></span></span><br>
            <span style="color:#000000; font-family:arial,helvetica,sans-serif; font-size:16px">Eg:</span></p>


        <p>&nbsp;&nbsp;&bull; <span><span><span
        ><em>My mother gave me good advice. </em></span></span></span><span
                style="color:#008000"><span><span><em>(Mẹ của tôi đã đưa cho tôi những lời khuyên hay)</em></span></span></span>
        </p>


        <p><span><span><span
        ><strong>C. Trước tên gọi các bữa ăn, trừ khi có tính từ đứng trước các tên gọi đó</strong></span></span></span><br>
            <span style="color:#000000; font-family:arial,helvetica,sans-serif; font-size:16px">Eg:</span></p>


        <p>&nbsp;&nbsp;&bull; <em><span><span><span
        >I have dinner at 6 p.m </span></span><span style="color:#008000"><span
        >(tôi ăn cơm trưa lúc 6 giờ tối)</span></span></span></em></p>


        <p><span><span><span
        ><strong>Tuy nhiên, nếu là bữa ăn đặc biệt nhân dịp nào đó, người ta vẫn dùng mạo từ bất định.</strong></span></span></span><br>
            <span style="color:#000000; font-family:arial,helvetica,sans-serif; font-size:16px">Eg:</span></p>


        <p>&nbsp;&nbsp;&bull; <em><span><span><span
        >I was invited to breakfast </span></span></span><span style="color:#008000"><span
        ><span
        >(bữa điểm tâm bình thường)</span></span></span></em></p>

    </div>
</div>
