<meta charset="UTF-8">
<div class="item-active" id="item-1">
    <div class="item-title-active">
        <div class="item-title-active-content">I. SO SÁNH BẰNG
        </div>

    </div>
    <div class="item-active-content">
        <p><span style="color:#66cc00"><strong><span>1. Định nghĩa</span></strong></span></p>

        <p><span><span>So sánh bằng chỉ ra quan hệ&nbsp;giống nhau (bằng nhau hoặc như nhau) của hai đối tượng và ngược lại nếu cấu trúc so sánh ở dạng phủ định.</span></span>
        </p>

        <p><span style="color:#66cc00"><strong><span>2. Cấu Trúc As ... as</span></strong></span>
        </p>

        <p><span style="color:#ff8c00"><strong><span>- Đối với tính từ</span></strong></span></p>

        <p><span><span>Khẳng định (+)&nbsp;: <span
                style="font-size:20px"><strong>S1 + V + as + adj + as +&nbsp;S2</strong></span><br>
Phủ định (-) <strong>: <span style="font-size:20px">S1 + V + not + so/as + adj + as + S2</span></strong></span></span>
        </p>

        <p><span><span>Eg:</span></span></p>


        <p>&nbsp;&nbsp;&bull; <em><span><span>She is </span></span><u><span
                style="color:#ff3399"><span>as beautiful as</span></span></u><span
        ><span><span style="color:#ff3399"><span
        > </span></span>her sister. (Cô ấy xinh như chị mình.)</span></span></em>
        </p>


        <p><span><span><strong>Lưu ý</strong>: &nbsp;Sau “as” thứ hai nhất thiết phải là đại từ tân ngữ, không dùng&nbsp;đại từ chủ&nbsp;ngữ. <em>(Lỗi cơ bản thường gặp)</em></span></span>
        </p>

        <p><span><span>Eg:&nbsp;</span></span></p>


        <p>&nbsp;&nbsp;&bull; <em><span><span>He is as tall as </span></span><u><span
                style="color:#ff3399"><span>I</span></span></u><span
        ><span
        >. (Sai)</span></span></em></p>
        <p>&nbsp;&nbsp;&bull; <em><span><span>He is as tall as </span></span><u><span
                style="color:#ff3399"><span>me</span></span></u><span
        ><span
        >. (Đúng)</span></span></em></p>


        <p><span><span>+ Danh từ cũng có thể dùng so sánh trong trường hợp này nhưng cần đảm bảo danh từ đó phải có tình từ tương đương.<br>
+ Nếu là câu phủ định, “as” thứ nhất có thể thay bằng “so”.</span></span></p>

        <p><span><span>Eg:</span></span></p>


        <p>&nbsp;&nbsp;&bull; <em><span><span>&nbsp;Cuong is not </span></span><u><span
                style="color:#ff3399"><span>so tall as</span></span></u><span
        ><span
        > Thanh. (Cường không cao bằng Thanh)</span></span></em>
        </p>


        <p><span><span>+ Danh từ cũng có thể dùng để so sánh, nhưng cần phải xác định xem đó là danh từ đếm được hay không đếm được và sử dụng công thức sau:</span></span>
        </p>

        <p style="text-align:center"><span style="font-size:20px"><strong><span>S1 + V + as + many/much/little/few + noun(s) + as + S2</span></strong></span>
        </p>

        <p><span><span>Eg:</span></span></p>


        <p>&nbsp;&nbsp;&bull; <em><span><span>Long earns </span></span><u><span
                style="color:#ff3399"><span>as much money as</span></span></u><span
        ><span> his wife. (Long kiếm được nhiều tiền bằng vợ anh ấy.)</span></span></em>
        </p>


        <p><span style="color:#ff8c00"><strong><span>- Đối với trạng từ (adv)</span></strong></span>
        </p>

        <p><span><span>Khẳng định (+)<strong>: <span
                style="font-size:20px">S1 + V + as + adv + as + S2</span></strong><br>
Phủ định (-)<strong>: <span style="font-size:20px">S1+ V + not + so/as + adv + as + S2</span></strong></span></span></p>

        <p><span><span>Eg:</span></span></p>


        <p>&nbsp;&nbsp;&bull; <em><span><span>She runs </span></span><u><span
                style="color:#ff3399"><span>as quickly as</span></span></u><span
        ><span
        > her brother. (Cô ấy chạy nhanh như anh mình.)</span></span></em></p>


        <p><span style="color:#66cc00"><span
        ><strong>3. Cấu trúc the same…as</strong></span></span></p>

        <p style="text-align:center"><span
                style="font-size:20px"><strong><span>S1 + V + the same + (noun) + as + S2</span></strong></span>
        </p>

        <p><span><span>Eg:</span></span></p>


        <p>&nbsp;&nbsp;&bull; <em><span><span>Your house is </span></span><u><span
                style="color:#ff3399"><span>the same height as</span></span></u><span
        ><span> mine.<br>
	<span><span>Ngôi nhà của bạn có chiều cao bằng ngôi nhà của tôi.</span></span></span></span></em>
        </p>


        <p><span><span><strong>Chú ý:</strong><br>
+ Trái nghĩa với “the same…as” là “different from…”, không dùng “different than…”</span></span></p>
    </div>
</div>
<div class="item-active" id="item-2">
    <div class="item-title-active">
        <div class="item-title-active-content">II. SO SÁNH HƠN, KÉM
        </div>

    </div>
    <div class="item-active-content">
        <p><span style="color:#66cc00"><strong><span>1. So sánh hơn</span></strong></span></p>

        <p><span><span><strong>- Đối với tính từ và trạng từ ngắn (Những từ có một âm tiết như <em>old, rich, big, cheap…</em>)</strong></span></span>
        </p>

        <p style="text-align:center"><span
                style="font-size:20px"><strong><span>S1 + V + adj-er + than + S2</span></strong></span>
        </p>

        <p><span><span>Eg: </span></span></p>


        <p>&nbsp;&nbsp;&bull; <em><span><span>He is </span></span><u><span
                style="color:#ff3399"><span
        >older than</span></span></u><span><span
        > my father.&nbsp;(Ông ấy già&nbsp;hơn cả bố tôi.)</span></span></em>
        </p>


        <p><span><span><strong>Chú ý:</strong> Các tính từ có hai âm tiết nhưng tận cùng là “y, ow, er” thì ta vẫn coi là tính từ ngắn và theo cấu trúc như trên, Tuy nhiên, “y” phải đổi thành “i” sau đó mới thêm đuôi “-er”.</span></span>
        </p>

        <p><strong><span><span>- Đối với tính từ dài (Những tính từ có nhiều hơn một âm tiết như <em>beautiful, expensive, intelligent…</em>)</span></span></strong>
        </p>

        <p style="text-align:center"><span
                style="font-size:20px"><strong><span>S1 + V + more + adj + than + S2</span></strong></span>
        </p>

        <p><span><span>+ Eg:</span></span></p>


        <p>&nbsp;&nbsp;&bull; <em><span><span>My son is </span></span><u><span
                style="color:#ff3399"><span>more intelligent than</span></span></u><span
        ><span
        > her son. (Con trai tôi thông minh hơn con trai cô ta.)</span></span></em>
        </p>


        <p><span style="color:#66cc00"><strong><span>2. So sánh kém</span></strong></span></p>

        <p style="text-align:center"><span
                style="font-size:20px"><strong><span>S1 + V + less + adj/adv + than + S2</span></strong></span>
        </p>

        <p><span><span>Eg:</span></span></p>


        <p>&nbsp;&nbsp;&bull; <em><span><span>Nguyen is </span></span><u><span
                style="color:#ff3399"><span>less young than</span></span></u><span
        ><span> me. (Nguyên không trẻ bằng tôi)</span></span></em>
        </p>


        <p><span><span><strong>Chú ý:</strong><br>
+ Sau “than” phải là đại từ tân ngữ, không dùng&nbsp;đại từ chủ ngữ.<br>
+ Cũng tương tự như so sánh bằng, danh từ cũng được dùng để so sánh, nhưng trước khi so sánh cần xác định trước danh từ đó là đếm được hay không đếm được và dùng công thức sau:</span></span>
        </p>

        <p style="text-align:center"><span style="font-size:20px"><strong><span>S1 + V + more/fewer/less + noun(s) + than + S2</span></strong></span>
        </p>
    </div>
</div>
<div class="item-active" id="item-3">
    <div class="item-title-active">
        <div class="item-title-active-content">III. SO SÁNH KÉP ( Càng ... thì càng )
        </div>

    </div>
    <div class="item-active-content">
        <div><span><span>- Là loại so sánh với cấu trúc: Càng... càng... Trong cấu trúc này, tính từ/trạng từ đứng đầu các mệnh đề trong câu và&nbsp;trước chúng phải có The.</span></span>
        </div>

        <div style="text-align:center"><span style="font-size:20px"><span><strong>The + comparative + S1 + V, the + comparative + S2 + V</strong></span></span>
        </div>

        <div><span><span>Eg:</span></span></div>

        <div>

            <p>&nbsp;&nbsp;&bull; <em><span><span>The </span></span><u><span
                    style="color:#ff3399"><span>harder</span></span></u><span
            ><span> you study, the </span></span><u><span
                    style="color:#ff3399"><span>better</span></span></u><span
            ><span> your result will be<br>
	Bạn càng học hành chăm chỉ thì kết quả càng tốt</span></span></em></p>
            <p>&nbsp;&nbsp;&bull; <em><span><span>The </span></span><u><span
                    style="color:#ff3399"><span>sooner </span></span></u><span
            ><span
            >you wake up, the </span></span><u><span style="color:#ff3399"><span
            >earlier</span></span></u><span><span
            > you go to school<br>
	Bạn dậy càng sớm bạn càng đến trường sớm</span></span></em></p>


            <p>
                <span><span>- Nếu chỉ một vế có tính/trạng từ&nbsp;so sánh thì vế còn lại có thể dùng <em>The more</em></span></span>
            </p>
        </div>

        <div style="text-align:center"><span style="font-size:20px"><span><strong>The more + S1 + V,&nbsp;the + comparative + S2 + V</strong></span></span>
        </div>

        <div><span><span>Eg:</span></span></div>


        <p>&nbsp;&nbsp;&bull; <em><u><span style="color:#ff3399"><span>The more</span></span></u><span
        ><span> he eats , </span></span><u><span
                style="color:#ff3399"><span>the fatter</span></span></u><span
        ><span> he is.<br>
	Anh ta ăn càng nhiều thì anh ta càng béo</span></span></em></p>
        <p>&nbsp;&nbsp;&bull; <em><u><span style="color:#ff3399"><span>The more</span></span></u><span
        ><span> I look into your eyes, </span></span><u><span
                style="color:#ff3399"><span>the more</span></span></u><span
        ><span> I love you.<br>
	Càng nhìn vào mắt bạn tôi càng thấy yêu bạn</span></span></em></p>

    </div>
</div>
<div class="item-active" id="item-4">
    <div class="item-title-active">
        <div class="item-title-active-content">IV. SO SÁNH NHẤT
        </div>

    </div>
    <div class="item-active-content">
        <div><span><span>Dùng trong các trường hợp so sánh với ba đối tượng&nbsp;trở lên.</span></span>
        </div>

        <div><span style="color:#66cc00"><span
        ><strong>- Đối với tính từ và trạng từ ngắn</strong></span></span></div>

        <div style="text-align:center"><span style="font-size:20px"><span><strong>S + V + the + adj/adv-est (+ noun/pronoun)</strong></span></span>
        </div>

        <div><span><span>Eg:</span></span></div>


        <p>&nbsp;&nbsp;&bull; <em><span><span>Loc is </span></span><u><span
                style="color:#ff3399"><span>the tallest</span></span></u><span
        ><span
        ><u> </u>in my class.<br>
	Lộc là người cao nhất trong lớp tôi</span></span></em></p>


        <div><strong><span style="color:#66cc00"><span
        >- Đối với tính từ và trạng từ dài</span></span></strong></div>

        <div style="text-align:center"><span style="font-size:20px"><strong><span>S + V + the most + adj/adv (+ noun/pronoun)</span></strong></span>
        </div>

        <div><span><span>Eg:</span></span></div>


        <p>&nbsp;&nbsp;&bull; <em><span><span>This jacket is </span></span><u><span
                style="color:#ff3399"><span>the most</span></span></u><span
        ><span> expensive in our shop.<br>
	Áo khoác này đắt nhất trong cửa hàng của chúng tôi.</span></span></em></p>


        <div><span><span>- <strong>Chú ý</strong>: Dùng “in” với danh từ số ít, dùng “of” với danh từ số nhiều</span></span>
        </div>

        <div><span><span>Eg:</span></span></div>


        <p>&nbsp;&nbsp;&bull; <em><span><span
        >This dress is the most beautiful </span></span><u><span
                style="color:#ff3399"><span
        >of the dresses</span></span></u><span><span
        >.<br>
	Chiếc váy này là đẹp nhất trong tất cả các chiếc váy,</span></span></em></p>


        <div><span style="color:#66cc00"><strong><span
        >- Các tính từ so sánh bất quy tắc:</span></strong></span></div>


        <p>&nbsp;&nbsp;&bull; <em><span><span>Good/better/the best</span></span></em>
        </p>
        <p>&nbsp;&nbsp;&bull; <em><span><span>Bad/worse/the worst</span></span></em></p>
        <p>&nbsp;&nbsp;&bull; <em><span><span
        >Many (much)/more/the most</span></span></em></p>
        <p>&nbsp;&nbsp;&bull; <em><span><span>Little/less/the least</span></span></em>
        </p>
        <p>&nbsp;&nbsp;&bull; <span><span
        ><em>Far/farther (further)/the farthest (the furthest)</em></span></span></p>

    </div>
</div>
