<meta charset="UTF-8">
<div class="item-active" id="item-1">
    <div class="item-title-active">
        <div class="item-title-active-content">I. CÁCH SỬ DỤNG CỦA CÂU BỊ ĐỘNG
        </div>

    </div>
    <div class="item-active-content">
        <p><strong>- Khi không cần thiết phải nhắc đến tác nhân gây hành động (do tình huống đã quá rõ ràng hoặc do
            không quan
            trọng)</strong><br>
            Eg: The road has been repaired.</p>
        <p><strong>- Khi chúng ta không biết hoặc quên người thực hiện hành động</strong><br>
            Eg: The money was stolen.</p>
        <p><strong>- Khi chúng ta quan tâm đến bản thân hành động hơn là người thực hiện hành động</strong><br>
            Eg: This book was published in Vietnam.</p>
        <p><strong>- Khi Chủ ngữ của câu chủ động là Chủ ngữ không xác định như: people, they, someone…</strong><br>
            Eg: People say that he will win.<br>
            It’s said that he will win.</p>
        <p><strong>- Khi người nói không muốn nhắc đến chủ thể gây ra hành động</strong><br>
            Eg: Smoking is not allowed here.</p>
    </div>
</div>

<div class="item-active" id="item-2">
    <div class="item-title-active">
        <div class="item-title-active-content">II. CẤU TRÚC
        </div>
<!--        <div class="item-active-icons">-->
<!--            <div class="item-active-icons-content">-->
<!--                <img class="item-active-forward" src="file:///android_asset/images/cong_thuc_cau_bi_dong.png"/>-->
<!--                <img class="item-active-down" src="file:///android_asset/images/arrow_down.png"/>-->
<!--            </div>-->
<!--        </div>-->
    </div>
    <div class="item-active-content">
        <p><strong>Loại 1: Bị động với các thì không tiếp diễn</strong></p>
        <table border="1" cellpadding="1" cellspacing="1" width="100%">
            <tr>
                <td align="center">
                    <p><strong>BE + PAST PARTICIPLE
                    </strong></p>
                </td>
            </tr>
        </table>
        <p><strong>Loại 2: Bị động với các thì tiếp diễn</strong></p>
        <table border="1" cellpadding="1" cellspacing="1" width="100%">
            <tr>
                <td align="center">
                    <p><strong>BE + BEING + PAST PARTICIPLE
                    </strong></p>
                </td>
            </tr>
        </table>
        <p>
            Câu chủ động ở dạng thì nào, chúng ta chia động từ “to be” theo đúng dạng thì đó. Chúng ta vẫn đảm bảo
            nguyên tắc chủ ngữ số nhiều, động từ “to be” được chia ở dạng số nhiều, chủ ngữ số ít thì động từ “to be”
            được chia ở dạng số ít.
        </p>
        <table border="1" cellpadding="1" cellspacing="1" style="width: 100%;">
            <tbody>
            <tr>
                <td style="width: 20%">
                    <p align="center"><span><strong>Thì</strong></span></p>
                </td>
                <td style="width: 40%">
                    <p align="center"><span><strong>Chủ động</strong></span></p>
                </td>
                <td style="width: 40%">
                    <p align="center"><span><strong>Bị động</strong></span></p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Hiện tại đơn</p>
                </td>
                <td>
                    <p>S + V(s/es) + O</p>
                </td>
                <td>
                    <p>S + am/is/are + P2</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Hiện tại tiếp diễn</p>
                </td>
                <td>
                    <p>S + am/is/are + V-ing + O</p>
                </td>
                <td>
                    <p>S + am/is/are + being + P2</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Hiện tại hoàn thành</p>
                </td>
                <td>
                    <p>S + have/has + P2 + O</p>
                </td>
                <td>
                    <p>S + have/has + been + P2</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Quá khứ đơn</p>
                </td>
                <td>
                    <p>S + V(ed/Ps) + O</p>
                </td>
                <td>
                    <p>S + was/were + P2</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Quá khứ tiếp diễn</p>
                </td>
                <td>
                    <p>S + was/were + V-ing + O</p>
                </td>
                <td>
                    <p>S + was/were + being + P2</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Quá khứ hoàn thành</p>
                </td>
                <td>
                    <p>S + had + P2 + O</p>
                </td>
                <td>
                    <p>S + had + been + P2</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Tương lai đơn</p>
                </td>
                <td>
                    <p>S + will + V-infi + O</p>
                </td>
                <td>
                    <p>S + will + be + P2</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Tương lai hoàn thành</p>
                </td>
                <td>
                    <p>S + will + have + P2 + O</p>
                </td>
                <td>
                    <p>S + will + have + been + P2</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Tương lai gần</p>
                </td>
                <td>
                    <p>S + am/is/are going to + V-infi + O</p>
                </td>
                <td>
                    <p>S + am/is/are going to + be + P2</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Động từ khuyết thiếu</p>
                </td>
                <td>
                    <p>S + ĐTKT + V-infi + O</p>
                </td>
                <td>
                    <p>S + ĐTKT + be + P2</p>
                </td>
            </tr>
            </tbody>
        </table>
        <p><span><span>Trong khi học tiếng Anh, người ta rất hay dùng câu bị động. Khác với ở câu chủ động chủ ngữ thực hiện hành động, trong câu bị động chủ ngữ nhận tác động của hành động.<br>
-Câu bị động được dùng khi muốn nhấn mạnh đến đối tượng chịu tác động của hành động hơn là bản thân hành động đó.<br>
-Thời của động từ ở câu bị động phải tuân theo thời của động từ ở câu chủ động. Nếu là loại động từ có 2 tân ngữ, muốn nhấn mạnh vào tân ngữ nào người ta đưa tân ngữ đó lên làm chủ ngữ nhưng thông thường chủ ngữ hợp lý của câu bị động là tân ngữ gián tiếp.<br>
Ex: I gave him a book = I gave a book to him = He was given a book (by me).<br>
<br>
<strong>- Đối với thì hiện tại đơn&nbsp;hoặc Quá khứ đơn</strong><br>
am&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<br>
is&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<br>
are&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;+ [verb in past participle]<br>
was<br>
were</span></span><br>
            <span><span><u><em>Example:</em></u><br>
Active: Hurricanes destroy a great deal of property each year.<br>
Passive: A great deal of property is destroyed by hurricanes each year.</span></span><br>
            <br>
            <span><span><strong>-Đối với thì hiện tại tiếp diễn hoặc quá khứ tiếp diễn</strong><br>
am<br>
is<br>
are + being + [verb in past participle]<br>
was<br>
were<br>
<u><em>Example:</em></u><br>
Active: The committee is considering several new proposals.<br>
Passive: Several new proposals are being considered by the committee.<br>
&nbsp;<br>
<strong>Đối với thì hiện tại hoàn thành hoặc Quá khứ hoàn thành</strong><br>
has<br>
have + been + [verb in past participle]<br>
had&nbsp;<br>
<u><em>Example:</em></u><br>
Active: The company has ordered some new equipment.<br>
Passive: Some new equipment has been ordered by the company.<br>
&nbsp;<br>
<strong>Đối với trợ động từ</strong><br>
modal + be + [verb in past participle]<br>
<em><u>Example:</u></em><br>
Active: The manager should sign these contracts today.<br>
Passive: These contracts should be signed by the manager today.<br>
&nbsp;<br>
            </span>
            </span>
        </p>
    </div>
</div>

<div class="item-active" id="item-3">
    <div class="item-title-active">
        <div class="item-title-active-content">III. CÁCH CHUYỂN TỪ CÂU CHỦ ĐỘNG SANG CÂU BỊ ĐỘNG

        </div>

    </div>
    <div class="item-active-content">
        <p>Muốn chuyển từ câu chủ động sang câu bị động, học sinh cần nắm chắc các bước chuyển sau đây:</p>
        <p>&nbsp;&nbsp;• Xác định tân ngữ trong câu chủ động, chuyển nó thành Chủ ngữ trong câu bị động.</p>
        <p>&nbsp;&nbsp;• Xác định thì của động từ trong câu chủ động, chia “to be” tương ứng với thì tiếng Anh đó và với
            chủ ngữ mới của câu bị động.</p>
        <p>&nbsp;&nbsp;• Chia động từ chính trong câu chủ động ở dạng past participle trong câu bị động</p>
        <p>&nbsp;&nbsp;• By + tác nhân gây hành động (khi muốn nhấn mạnh tác nhân gây hành động)</p>
        <img src="file:///android_asset/images/bd1.png"/>
        <p>eg:</p>
        <img src="file:///android_asset/images/bd2.png"/>
        <p>Lưu ý:
        <p><strong>- Các trạng từ chỉ cách thức thường được đặt trước động từ phân từ hai trong câu bị
            động.</strong><br>
            Eg: He wrote the book wonderfully.<br>
            The book was wonderfully written.<br></p>
        <p><strong>- By + tác nhân gây hành động đứng sau trạng ngữ chỉ nơi chốn và đứng trước trạng ngữ chỉ thời
            gian.</strong><br>
            Eg1: A passer- by took him home.<br>
            He was taken home by a passer- by.<br>
            Eg2: We will receive the gifts on Monday.<br>
            The gifts will be received by us on Monday.<br></p>

        <p><strong>- Câu bị động phủ định và nghi vấn được tạo giống như cách của câu chủ động.</strong><br>
            Tuy nhiên không phải bất cứ câu nào cũng có thể chuyển từ chủ động sang bị động hoặc ngược lai. Điều kiện để
            chuyển câu chủ động sang bị động là câu đó phải mất transitive verb (động từ ngoại hướng). Câu có
            intransitive verb (động từ nội hướng) thì không thể chuyển sang câu bị động. Động từ ngoại hướng là động từ
            cần mất tân ngữ trực tiếp trong khi động từ nội hướng thì không cần mất tân ngữ trực tiếp.<br>

            Eg:<br> 1) She is making a cake. A cake is being made by her.<br>
            Transitive verb<br>
            2) They run along the beach every morning.<br>
            Intransitive verb<br>
        </p>

    </div>
</div>
<div class="item-active" id="item-4">
    <div class="item-title-active">
        <div class="item-title-active-content">IV. CÁC DẠNG ĐẶC BIỆT
        </div>

    </div>
    <div class="item-active-content">
        <p><span style="color:#ffa500"><strong>1. Mẫu câu: S  +  V +  O  (C, A)</strong></span></p>
        <p>Trong mẫu câu này tân ngữ có thể là một danh từ, cụm từ hoặc đại từ.</p>
        <table border="1" cellpadding="1" cellspacing="1" width="100%">
            <tr>
                <td align="center">
                    <p><strong>S + V + O
                    </strong></p>
                </td>
            </tr>
        </table>
        <p>Eg: Her mother is cleaning the kitchen.<br>
            => The kitchen is being cleaned by her mother.</p>
        <table border="1" cellpadding="1" cellspacing="1" width="100%">
            <tr>
                <td align="center">
                    <p><strong>S + V + O + C
                    </strong></p>
                </td>
            </tr>
        </table>
        <p>Eg: They called him Mr. Angry.<br>
            => He was called Mr. Angry.</p>
        <table border="1" cellpadding="1" cellspacing="1" width="100%">
            <tr>
                <td align="center">
                    <p><strong>S + V + O + A
                    </strong></p>
                </td>
            </tr>
        </table>
        <p>Eg: He put the table in the corner.<br>
            => The table was put in the corner.</p>
        <p><span style="color:#ffa500"><strong>2. Mẫu câu: S	+ V	+   O   +      O</strong></span></p>
        <p>Đối với câu có hai tân ngữ, chúng ta có thể dùng một trong hai tân ngữ chuyển thành chủ ngữ trong câu bị
            động. Tuy nhiên, tân ngữ chỉ người thường hay được sử dụng nhiều hơn.</p>

        <p>Eg: We gave him a nice present on his birthday.</p>
        <p> - Cách chuyển thứ nhất: He was given a nice present on his birthday.<br>
            - Cách chuyển thứ hai: Cần thêm một giới từ
            A nice present was given to him on his birthday.
        </p>
        <p>Có hai giới từ có thể được dùng trong trường hợp này là: to, for<br>
            Một số động từ dùng với ‘to’: give, bring, send, show, write, post, pass…<br>
            Một số động từ dùng với ‘for’: buy, make, cook, keep, find, get, save, order ………..</p>
        <p>Eg1: She didn’t show me this special camera.<br>
            This camera wasn’t shown to me.<br>
            Eg 2: She is making him a cup of tea.<br>
            A cup of tea is being made for him.</p>
        <p><span style="color:#ffa500"><strong>3. Câu bị động với các động từ tường thuật</strong></span></p>
        <p>Các động từ tường thuật thường được dùng để tường thuật lại các câu nói, ý nhĩ, câu hỏi, yêu cầu, lời xin
            lỗi… Một số động từ tường thuật thường gặp là: say, think, know, believe, ask, tell, promise…<br>
            Có hai cấu trúc liên quan đến động từ tường thuật:</p>
        <p style="color:#66cc00">a. Mẫu câu</p>
        <table border="1" cellpadding="1" cellspacing="1" width="100%">
            <tr>
                <td align="center">
                    <p><strong>Active: S + V + Oi + that clause.<br>
                        Passive: S (Oi) + be past participle + that clause.
                    </strong></p>
                </td>
            </tr>
        </table>
        <p>Eg: He told me that you had a new bike.<br>
            => I was told that you had a new bike.</p>
        <p style="color:#66cc00">b. Mẫu câu</p>
        <table border="1" cellpadding="1" cellspacing="1" width="100%">
            <tr>
                <td align="center">
                    <p><strong> S + V + that + clause.
                    </strong></p>
                </td>
            </tr>
        </table>
        <p>Mẫu câu này có hai cách chuyển:</p>

        <p><strong>Cách 1: dùng Chủ ngữ “it”</strong><br>
            Eg: People think that I am the best student in my class.<br>
            It is thought that I am the best student in my class.
        <p>
        <p><strong>Cách 2: dùng chủ ngữ của mệnh đề that và sử dụng dạng nguyên mẫu của động từ.</strong> Ở ví dụ trên,
            có cách chuyển thứ hai là:<br>
            Eg: I am thought to be the best student in my class.
        <p>
        <p>Ở cách chuyển thứ hai, có thể dùng 3 dạng nguyên mẫu của động từ:<br>
            1) To – inf: khi hành động xảy ra ở mệnh đề that diễn ra cùng thì hoặc diễn ra sau hành động ở mệnh đề tường
            thuật.<br>
            2) Nguyên mẫu tiếp diễn: to be ving, khi hành động ở mệnh đề that ở thì tiếp diễn, còn hành động ở mệnh đề
            tường thuật ở thì đơn giản, cùng bậc.<br>
            3) Nguyên mẫu hoàn thành: to have done, khi hành động ở mệnh đề that xảy ra trước hành động ở mệnh đề tường
            thuật.<br>
            Eg1: People say that he is a rich man.<br>
            => He is said to be a rich man.<br>
            Eg2: They think that she is living there.<br>
            => She is thought to be living there.<br>
            Eg3: They said that Tom had left home before the weekend.<br>
            => Tom was said to have left home before the weekend.
        <p>
        <p><span style="color:#ffa500"><strong>4. Câu mệnh lệnh</strong></span></p>
        <p>Khi chuyển câu mệnh lệnh sang câu bị động, ta sẽ sử dụng cấu trúc sau:</p>
        <table border="1" cellpadding="1" cellspacing="1" width="100%">
            <tr>
                <td align="center">
                    <p><strong>Active: V + O + Adjunct<br>
                        Passive: Let +O + be past participle + Adjunct.
                    </strong></p>
                </td>
            </tr>
        </table>
        <p>Eg: Take off your hat!<br>
            Let your hat be taken off!<br>
            Ngoài các trên, còn một cách khác để chuyển câu mệnh lệnh sang câu bị động nhưng ít dùng hơn đó là:</p>
        <table border="1" cellpadding="1" cellspacing="1" width="100%">
            <tr>
                <td align="center">
                    <p><strong>S + am/ is/ are + to be + past participle<br>
                        Hoặc S should be + past participle
                    </strong></p>
                </td>
            </tr>
        </table>
        <p>Eg: Active: Look after the children please!<br>
            Passive: The children should be looked after!<br>
            Hoặc: The children are to be looked after!</p>
        <p><span style="color:#ffa500"><strong>5. WH- question</strong></span>
        <p>Đối với những câu hỏi có từ để hỏi, chúng ta có thể chia làm hai loại:</p>
        <p><strong>Loại 1:</strong> Từ để hỏi có chức năng là tân ngữ trong câu chủ động. Với dạng câu hỏi này việc
            chuyển sang câu bị động rất đơn giản vì từ để hỏi đó sẽ có chức năng là chủ ngữ trong câu bị động.<br>
            Eg: Active: How many languages do they speak in Canada?<br>
            Passive: How many languages are spoken in Canada?</p>
        <p><strong>Loại 2:</strong> Từ để hỏi có chức năng là chủ ngữ trong câu chủ động khi chuyển sang câu bị động, nó
            sẽ có vai trò là tân ngữ trong câu. Khi đó, ta sẽ có hai cách chuyển. Hoặc chuyển By đầu câu (từ để hỏi sẽ ở
            dạng tân ngữ) hoặc để By ở cuối câu.<br>
            Eg: Who wrote this novel ?<br>
            Who was this novel written by?<br>
            Hoặc: By whom was this novel written?</p>
        <p><span style="color:#ffa500"><strong>6. Mẫu câu: S	+ V	+   O   +      Ving</strong></span>

        <p>Có hai trường hợp xảy ra:</p>
        <p><strong>a) Tân ngữ của Ving cùng chỉ một đối tượng với chủ ngữ của câu:</strong><br>
            Eg: He kept me waiting.<br>
            -> I was kept waiting (by him).</p>
        <p><strong>b) Tân ngữ của Ving không chỉ một đối tượng với chủ ngữ của câu:</strong><br>
            Eg: He hates people looking at him.<br>
            => He hates being looked at (by people).</p>
        <p><span style="color:#ffa500"><strong>7. Mẫu câu: S	+ V	+   O(to)   +      V</strong></span></p>

        <table border="1" cellpadding="1" cellspacing="1" width="100%">
            <tr>
                <td align="center">
                    <p><strong> S + V + O + to + V
                    </strong></p>
                </td>
            </tr>
        </table>
        <p><strong>- Khi tân ngữ không cùng đối tượng với chủ ngữ.</strong><br>
            Eg: We asked him to do it.<br>
            -> He was asked to do it.</p>
        <p><strong>- Khi tân ngữ cùng đối tượng với chủ ngữ.</strong><br>
            Eg: She would love someone to take her out to dinner.<br>
            -> She would love to be taken out to dinner.</p>

        <table border="1" cellpadding="1" cellspacing="1" width="100%">
            <tr>
                <td align="center">
                    <p><strong>S + V + O + V(without to)
                    </strong></p>
                </td>
            </tr>
        </table>


        <p><strong>- Khi chuyển sang câu bị động chúng ta để To-infinitive trừ động từ “let”.</strong><br>
            Eg: We heard him sing this song.<br>
            -> He was heard to sing this song.
        </p>
        <p>Nhưng: They let us go home.<br>
            -> We were let go home.<br>
            Hoặc: We were allowed to go home.</p>
        <p><span style="color:#ffa500"><strong>8. Mẫu câu: Have / get something done. (dạng nhờ bảo).</strong></span>
        </p>
        <p style="color:#66cc00">a. Với have.</p>
        <table border="1" cellpadding="1" cellspacing="1" width="100%">
            <tr>
                <td align="center">
                    <p><strong>Active: S + have + Object(person) + bare infinitive + Object.<br>
                        Passive: S + have + Object (thing) + Past Participle (+ by + Object(person))
                    </strong></p>
                </td>
            </tr>
        </table>
        <p>Eg:<br>
            I has him repair my bicycle yesterday.<br>
            -> I had my bicycle repaired yesterday.
        </p>
        <p style="color:#66cc00">b. Với get.</p>
        <table border="1" cellpadding="1" cellspacing="1" width="100%">
            <tr>
                <td align="center">
                    <p><strong>Active: S + get + O (person) + to infinitive + O (thing)<br>
                        Passive: S + get + O (thing) + Past participle (+by + O(person))
                    </strong></p>
                </td>
            </tr>
        </table>
        <p>Eg:<br>
            I get her to make some coffee.<br>
            -> I get some coffee made.
        </p>
    </div>
</div>

