<meta charset="UTF-8">
<div class="item-active" id="item-1">
    <div class="item-title-active">
        <div class="item-title-active-content">I. KHÁI NIỆM
        </div>

    </div>
    <div class="item-active-content">
        <p><strong style="color:#ffa500">Giống: </strong>Luôn có 2 phần: <em>mệnh đề tường thuật</em> và <em>lời nói
            trực tiếp</em> hay <em>lời
            nói
            gián tiếp</em></p>
        <p>Eg: <u>Tom says</u>, “<u>I go to college next summer</u>”</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; MĐTT&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Lời nói trực tiếp</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <u>Tom says </u>(that) <u>he goes to college next summer</u></p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; MĐTT&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Lời nói gián tiếp</p>
        <p><strong style="color:#ffa500">Khác:&nbsp; &nbsp;</strong></p>
        <p><strong><em>+ Direct speech</em></strong>: Là lời nói được thuật lại đúng nguyên văn của người nói. Được viết
            giữa
            dấu trích hay ngoặc kép và ngăn cách với mệnh đề tường thuật bởi dấu phẩy</p>
        <p>eg: John said, <strong><em>“I like reading science books”</em></strong></p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; The teacher said, <strong><em>“I’ll give you a test tomorrow”</em></strong>
        </p>
        <p><strong><em>+ Reported speech / Indirect speech:</em></strong> Là lời nói được thuật lại với ý và từ của
            người
            thuật,
            nhưng vẫn giữ nguyên ý. Không bị ngăn cách bởi dấu phẩy hay dấu ngoặc kép, và luôn tận cùng bằng dấu chấm
            câu.</p>
        <p>Eg: John said (that) he liked reading science books</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; The teacher said (that) he would give us a test the next day</p>
    </div>
</div>
<div class="item-active" id="item-2">
    <div class="item-title-active">
        <div class="item-title-active-content">II. CÁCH CHUYỂN CÂU TRỰC TIẾP SANG CÂU GIÁN TIẾP
        </div>

    </div>
    <div class="item-active-content">
        <p><strong style="color:#ffa500"><em>1. Thay đổi động từ tường thuật: </em></strong></p>
        <p>Động từ tường thuật của lời
            nói trực tiếp phải được đổi phù
            hợp với nghĩa hoặc cấu trúc câu của lời nói gián tiếp</p>
        <p>Eg: He said, “Do you like coffee?” => He asked me if I liked coffee</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp; “If I were you, I’d not buy that coat,” said Mary => Mary advised me not to buy the
            coat</p>
        <p>Chú ý: SAY TO: không bao giờ được dùng ở lời nói gián tiếp. (phải đổi bằng TELL + (O))</p>
        <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;TELL: không bao giờ được dùng ở lời nói trực tiếp.</p>
        <p><strong style="color:#ffa500"><em>2. Thay đổi các ngôi ( đại từ, tính từ, đại từ sở hữu) theo tình huống của
            câu:</em></strong></p>
        <p>&nbsp;VD:&nbsp; Mr Nam said to Hoa, “<strong>You </strong>take your book out and show it to
            <strong>me</strong>”</p>
        <p>– <u>Tình huống 1</u>: Một người bạn của Hoa tường thuật với người bạn khác: Mr Nam told Hoa that
            <strong>she </strong>took <strong>her </strong>book out and showed it to <strong>him.</strong></p>
        <p>– <u>Tình huống 2</u>: Hoa tường thuật với một người bạn khác: Mr Nam told me that
            <strong>I </strong>took<strong>
                my </strong>book out and showed it to <strong>him</strong></p>
        <p>– <u>Tình huống 3:</u> Thầy Nam tường thuật với người khác: I told Hoa that <strong>she</strong> took
            <strong>her </strong>book out and showed it to <strong>me</strong></p>
        <p><strong style="color:#ffa500"><em>3. Thay đổi thời gian, địa điểm, các từ chỉ định</em></strong></p>
        <p><span style="color:#66cc00"><strong>a. Từ chỉ thời gian</strong></span>
        </p>
        <table border="1" cellpadding="1" cellspacing="1">
            <tbody>
            <tr>
                <td>
                    <p><strong>Câu trực tiếp</strong></p>
                </td>
                <td>
                    <p><strong>Câu gián tiếp</strong></p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>– now</p>
                </td>
                <td>
                    <p>&nbsp;then, at that time, at once, immediately</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>– an hour ago</p>
                </td>
                <td>
                    <p>&nbsp;an hour before/an hour earlier</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>– today</p>
                </td>
                <td>
                    <p>&nbsp;that day</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>– tonight</p>
                </td>
                <td>
                    <p>&nbsp;that night</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>– yesterday</p>
                </td>
                <td>
                    <p>&nbsp; the day before/the previous day</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>– tomorrow</p>
                </td>
                <td>
                    <p>&nbsp;the next day/the following day</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>– Yesterday morning/ afternoon</p>
                </td>
                <td>
                    <p>&nbsp;the previous morning/ afternoon</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>– Tomorrow morning</p>
                </td>
                <td>
                    <p>&nbsp;the next/following morning</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>– the day before yesterday</p>
                </td>
                <td>
                    <p>&nbsp;two days before</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>– the day after tomorrow</p>
                </td>
                <td>
                    <p>&nbsp;(in) two days’ time</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>– last year</p>
                </td>
                <td>
                    <p>&nbsp; the year before/the previous year</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>– next month</p>
                </td>
                <td>
                    <p>&nbsp;the month after/the following month</p>
                </td>
            </tr>

            </tbody>
        </table>
        <p><span style="color:#66cc00"><strong>b. Từ chỉ nơi chốn, địa điểm</strong></span>

        <p><strong><em>Từ chỉ nơi chốn, địa điểm:</em></strong></p>
        <p>HERE -&gt; THERE: Khi chỉ một địa điểm xác định</p>
        <p>Eg: “Do you put the pen here?” he said => He asked me if I put the pen there</p>
        <p>HERE&nbsp;=> cụm từ thích hợp tùy theo nghĩa:</p>
        <p>Eg: She said to me, “You sit <em>here</em>” => She told me to sit <em>next to</em> her.</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; “Come <em>here</em>, John,” he said => He told John to <em>come over </em>him.
        </p>
        <p><span style="color:#66cc00"><strong>c. Các đại từ chỉ định</strong></span>
        <p>THIS/ THESE + từ chỉ thời gian => THAT/THOSE</p>
        <p>Eg: “They’re coming this evening,” he said. => He said (that) they were coming that evening</p>
        <p>THIS/THESE + danh từ => THE</p>
        <p>Eg: “Is this book yours?” said Mary => Mary asked me if the book was mine</p>
        <p>THIS/THESE: chỉ thị đại từ => IT/ THEM</p>
        <p>Eg: He said, “I like this” => He said (that) he liked it</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Ann said to Tom, “Please take these into my room” => Ann asked Tom to take
            them into
            her room</p>
        <p><strong style="color:#ffa500"><em>4. Thay đổi thì của động từ</em></strong></p>
        <p><span style="color:#66cc00"><strong>a. Các trường hợp thay đổi thì</strong></span>
        <p>Khi các động từ tường thuật (say, tell, ask…) ở thì quá khứ, động từ trong câu gián tiếp phải lùi về quá khứ
            một thì
            so với câu trực tiếp.</p>
        <table border="1" cellpadding="1" cellspacing="1">
            <tbody>
            <tr>
                <td>
                    <p><strong>Câu trực tiếp</strong></p>
                </td>
                <td>
                    <p><strong>Câu gián tiếp</strong></p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><strong>Simple Present</strong>: “I don’t know this man”</p>
                </td>
                <td>
                    <p><strong>Simple Past:</strong> He said he didn’t know that man</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><strong>Present Continuous</strong>: “I’m working for a foreign company”</p>
                </td>
                <td>
                    <p><strong>Past Continuous:</strong> He said he was working for a foreign company</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><strong>Present Perfect</strong>: “I’ve read a good book”</p>
                </td>
                <td>
                    <p><strong>Past Perfect:</strong> He said he had read a good book</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><strong>Present Perfect Continuous:</strong> “I have been writing my report”.</p>
                </td>
                <td>
                    <p><strong>Past Perfect Continuous:</strong> He said he had been writing his report</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><strong>Simple Past</strong>: “I finished my assignment”</p>
                </td>
                <td>
                    <p><strong>Past Perfect:</strong> He said he had finished his assignment</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><strong>Simple Future</strong>: “I will do it later”</p>
                </td>
                <td>
                    <p><strong>Future in the past:</strong> He said he would do it later.</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><strong>Modal Verbs</strong>:</p>
                    <p>“I can work late today”</p>
                    <p>“I may see her tonight”</p>
                    <p>“I must/have to go now”</p>
                </td>
                <td>
                    <p><strong>Past forms of modals:</strong></p>
                    <p>He said he could work late that day</p>
                    <p>He said he might see her that night</p>
                    <p>He said he had to go then</p>
                </td>
            </tr>
            </tbody>
        </table>
        <p><span style="color:#66cc00"><strong>a. Các trường hợp không thay đổi thì</strong></span>
        <p><strong>&bull; Khi động từ tường thuật (say, tell, ask…) ở thì hiện tại đơn, tương lai đơn hay hiện tại hoàn
            thành:</strong></p>
        <p>Eg: He says, “I don’t know the answer to your question”</p>
        <p>-&gt; He says to me that he doesn’t know the answer to my question</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; They’ll say, “We’ll buy a new house” => They’ll say (that) they will buy a new
            house</p>
        <p><strong>&bull; Khi động từ tường thuật (say, tell, ask…) ở thì quá khứ, động từ trong câu gián tiếp không đổi
            thì
            trong
            các trường hợp sau :</strong></p>
        <p><em>– Tường thuật một sự thật hiển nhiên, một chân lý, định luật khoa học hay vật lý: </em></p>
        <p>Eg: My teacher said, “Russia is the biggest country in the world”</p>
        <p>=> My teacher said that Russia is the biggest country in the world</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; He said, “health is more precious than gold” => He said (that) health is
            more
            precious than gold</p>
        <p><em>– Được tường thuật ngay sau khi nói hay khi thuật lại sự kiện vẫn không đổi:</em></p>
        <p>Eg: (In class): A: What did the teacher say?</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; B:&nbsp; He
            said
            (that) he wants us to do our homework</p>
        <p><em>– Khi động từ trong câu trực tiếp là các động từ như: USED TO, hay các động từ khiếm khuyết: COULD,
            WOULD,
            SHOULD, MIGHT, OUGHT TO, HAD TO, HAD BETTER </em></p>
        <p>Eg: He said, “They <em>might </em>win the game” -&gt; He said to me that they <em>might</em> win the game.
        </p>
        <p>– Với MUST diễn tả lời khuyên:</p>
        <p>Eg: “This book is very useful. You <em>must</em> read it”, Tom said to me.</p>
        <p>-&gt; Tom told me (that) the book was very useful and I <em>must </em>read it.</p>
        <p><em>– Khi động từ trong&nbsp; câu trực tiếp ở các thì: Past Continuous, Past perfect, Past Perfect
            Continuous, (nếu
            thì Simple Past đi kèm một thời gian cụ thể có thể không thay đổi thì).</em></p>
        <p>Eg: He said, “I was eating when he called me” => He told me he was eating when she called him.</p>
        <p><em>– Khi tường thuật mệnh đề ước muốn (wish): theo sau động từ WISH, WOULD RATHER, IF ONLY</em></p>
        <p>&nbsp;&nbsp;&nbsp; Eg:&nbsp; He said, “I wish I were richer” => He told me he wished he were richer</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp; She said, “I wish I had a good memory” => She said she wished she had a good
            memory</p>
        <p>&nbsp;– <em>Các câu điều kiện loại 2, 3 (câu điều kiện không thật)</em></p>
        <p>Eg: He said, “If I had time, I would help you” => He said to me if he had time, he would help me</p>
        <p>– <em>Cấu trúc “It’s (high) time…”</em></p>
        <p>Eg: He said, “It’s time we went” => He said it was time they went.</p>
        <p>He said, “It’s time we changed our way of working” => He said (that) it was time they changed their way of
            working.</p>
    </div>
</div>
<div class="item-active" id="item-3">
    <div class="item-title-active">
        <div class="item-title-active-content">III. CÁC LOẠI CÂU GIÁN TIẾP
        </div>

    </div>
    <div class="item-active-content">
        <p><strong style="color:#ffa500"><em>1. Tường thuật câu trần thuật (statements)</em></strong></p>
        <p>- Dùng <strong>say</strong> hoặc <strong>tell</strong> để tường thuật</p>
        <p>- Thường bắt đầu bằng: He <strong>said that….</strong> / she <strong>said to me that…</strong>/ <strong>they
            told me
            that….</strong>,</p>
        <img src="file:///android_asset/images/gt1.png"/>
        <p>Eg: She said, “I’m happy to see you again”</p>
        <p>=> She said that she was happy to see me again</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;She said to me that she was happy to see me again</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;She told me that she was happy to see me again</p>
        <p>- Chú ý đổi thì, các đại từ, các từ chỉ thời gian, địa điểm…</p>
        <p><strong style="color:#ffa500"><em>2. Tường thuật câu hỏi (questions)</em></strong></p>
        <p><strong style="color:#66cc00"><u>a. Đối với câu hỏi trực tiếp (Wh-question)</u></strong></p>
        <p>- Thường bắt đầu bằng: He <strong>asked (me)</strong> …/ He <strong>wanted to know…/</strong> She
            <strong>wondered…</strong>.</p>
        <img src="file:///android_asset/images/gt2.png"/>
        <p>Eg: She asked, “What is his job?” She asked <u>what</u> his job was.</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;They asked me, “Where did you have lunch?” They asked me <u>where</u> I
            had
            lunch.</p>
        <p>- Không đặt trợ động từ trước chủ ngữ như trong câu hỏi trực tiếp.</p>
        <p>- Không đặt dấu chấm hỏi cuối câu.</p>
        <p>- Thay đổi thì, đại từ, các từ chỉ thời gian, địa điểm…</p>
        <p><strong style="color:#66cc00"><u>b. Đối với câu hỏi “Yes – No” hoặc câu hỏi lựa chọn “Or”</u></strong></p>
        <p>- Phải thêm từ<strong>“if/whether”</strong> để mở đầu câu tường thuật.</p>
        <img src="file:///android_asset/images/gt3.png"/>
        <p>Eg: She asked, “Are you a teacher?” She asked him <u>if/whether</u> he was a teacher</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;They asked me, “Do you want to go or stay at home?” They asked me
            <u>if/whether</u> I wanted to go or stay at home.</p>
        <p>- Câu hỏi đuôi được tường thuật giống câu hỏi Yes/No nhưng bỏ phần đuôi phía sau</p>
        <p>Eg: She asked, “You will stay here, won’t you?” She asked me if/whether I would stay there.</p>
        <p><strong style="color:#ffa500"><em>3. Câu tường thuật với “infinitive”:</em></strong></p>
        <p><strong style="color:#66cc00"><em>a. Tường thuật câu mệnh lệnh, yêu cầu (Imperatives / Commands or
            Requests)</em></strong> <em>dùng cấu trúc: tell/ ask/ request/ order somebody (not) to do something</em></p>
        <p>Eg: “Read carefully before signing the contract,” he said. He told me to read carefully before signing the
            contract)</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;“The commander said to his soldier, "Shoot!" The commander ordered
            his
            soldier to shoot.</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;“Please talk slightly,” they said. They requested us to talk
            slightly.</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;“Listen to me, please” He asked me to listen to him.</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;“Will you help me, please?” He asked me to help him.</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;“Will you lend me your dictionary?” He asked me to lend him my
            dictionary.</p>

        <p style="color:#66cc00"><strong><em>b. Tường thuật lời khuyên (Advice</em></strong>) <em>dùng cấu trúc:</em>
            <em>advise
                somebody (not) to do something</em></p>
        <p>Lời khuyên: – Had better, ought to, should, must</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            –
            Why don’t you + V?</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            –
            If I were you, I’d (not) + V…</p>
        <p>Eg: “Why don’t you take a course in computer?” my teacher said to me.</p>
        <p>=>&nbsp; My teacher <em>advised</em> me <em>to take</em> a course in computer.</p>
        <p style="color:#66cc00"><strong><em>c. Tường thuật lời mời (Invitation) </em></strong><em>dùng cấu trúc: invite
            somebody to do
            something</em></p>
        <p>Eg: “Would you like to have breakfast with me?” Tom said to me.&nbsp; => Tom <em>invited</em> me <em>to
            have</em> breakfast with him.</p>

        <p style="color:#66cc00"><strong><em>d. Tường thuật lời cảnh báo (warn) </em></strong>dùng cấu trúc: warn
            somebody (not) to do
            something
        </p>

        <p><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong>“Don’t touch the red buttons,” said the mom to the child. =>
            The
            mom warns the child not to touch the red buttons</p>

        <p style="color:#66cc00"><strong><em>e. Tường thuật lời nhắc nhở (reminders) </em></strong><em>dùng cấu trúc:
            remind somebody to do
            something</em></p>

        <p>“Don’t forget to turn off the lights before leaving,” Sue told me => Sue reminded me to turn off the lights
            before
            leaving</p>

        <p style="color:#66cc00"><strong><em>f. Tường thuật lời động viên (encouragement) </em></strong><em>dùng cấu
            trúc: encourage / urge
            somebody to do something</em></p>

        <p>“Go on, take part in the competition,” said my father => My father encouraged me to take part in the
            competition</p>

        <p style="color:#66cc00"><strong><em>g. Tường thuật lời cấu khẩn </em></strong><em>dùng cấu trúc: beg/implore
            somebody to do
            something</em>
        </p>

        <p>“Do me a favor, please,” said the servant to his master => The servant begged/implored his master to do him a
            favor.</p>

        <p style="color:#66cc00"><strong><em>h. Tường thuật lời đề nghị , tự nguyện (offers) </em></strong><em>dùng cấu
            trúc: offer to do
            something </em></p>

        <p>Lời đề nghị: – Shall I + V</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            –
            Would you like me + to V</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            –
            Let me + V</p>
        <p>Eg: Mary said to Ann, “Shall I get you a glass of orange juice?”&nbsp;&nbsp; => Mary <em>offered to get</em>
            Anna a
            glass of orange juice.</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; “Shall I bring you some tea?” He asked&nbsp; => &nbsp; He <em>offered to
            bring</em> me some tea</p>

        <p style="color:#66cc00"><strong><em>i. Tường thuật lời hứa (Promises) </em></strong><em>dùng cấu trúc: promise
            (not) to do
            something</em>
        </p>

        <p>Eg: “I’ll give the book back to you tomorrow,” he said => He <em>promised to give</em> the book back to me
            the
            next day.</p>

        <p style="color:#66cc00"><strong><em>j. Tường thuật lời đe dọa (threat)</em></strong> <em>dùng cấu trúc:
            threaten to do
            something.</em>
        </p>

        <p>“I’ll shot if you move,” said the robber => The robber threatened to shoot if I moved</p>
        <p><strong style="color:#ffa500"><em>4. Câu tường thuật với “gerund”</em></strong></p>

        <p>Các cấu trúc của câu tường thuật với danh động từ:</p>
        <p><em>S + V + V-ing: admit, deny, suggest…</em></p>
        <p><em>S + V + preposition + V-ing: apologize for, complain about, confess to, insist on, object to, dream of,
            think
            of…</em></p>
        <p><em>S + V + O + preposition + V-ing: accuse..of, blame…for, congratulate…on, criticize…for,
            warn…about/against,
            praise…for, thank…for, prevent…from…</em></p>
        <p>Eg: “I’ve always wanted to study abroad,” he said.&nbsp; => &nbsp; He’<em>s dreaming
            of </em><strong>studying</strong> abroad.</p>
        <p>&nbsp;“It’s nice of you to give me some fruit. Thanks,” Ann said to Mary => Ann <em>thanked Mary for</em>
            <strong>giving</strong>
            her some fruit</p>
        <p>“I’m sorry, I’m late,” Tom said to the teacher.&nbsp; => Tom <em>apologized to the teacher
            for </em><strong>being</strong>
            late</p>
        <p>&nbsp;“Shall we meet at the theater?” he asked => He <em>suggested meeting</em> at the theater.&nbsp;&nbsp;&nbsp;
        </p>
        <p><strong style="color:#ffa500"><em>5. Câu cảm thán trong lời nói gián tiếp</em></strong></p>
        <p>- Khi đổi câu cảm thán(exclaimation) ra câu gián tiếp ta thường dùng các động từ tường thuật sau:
            greet(chào); cry
            out( thet lên); sigh(thở dài); complain(than phiền); remark(nhận xét); exclaim(thét lên vì đau đớn, giận dữ,
            ngạc
            nhiên)… Ta xem các ví dụ dưới đây:</p>
        <p>EX1: &nbsp;&nbsp;&nbsp;&nbsp; She said:” What a lovely house!”</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; =>&nbsp; She exclaimed that the house was
            lovely.</p>
        <p>Ex2:&nbsp;&nbsp;&nbsp;&nbsp; He said to me: “Hello!. How is work?”</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; => He greeted me and asked me how work was.</p>
        <p>Ex3: &nbsp;&nbsp;&nbsp;&nbsp; The little boy cried out: “Help me! Help me!”</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; =>&nbsp; The little boy cried out for help.</p>
        <p>Ex4: &nbsp;&nbsp;&nbsp;&nbsp; She said: “ My toothache is getting worse!”</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp; =>&nbsp; She complained that her toothache was getting
            worse.</p>
        <p>What a lovely dress! =>&nbsp; &nbsp;She exclaimed that the dress was lovely.</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            She exclaimed that the dress was a lovely one.</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            She exclaimed with admiration at the sight of the dress.</p>
        <p><strong style="color:#ffa500"><em>6. Các hình thức hỗn hợp trong lời nói gián tiếp</em></strong></p>

        <p>She said, “Can you play the piano?” and I said “no”&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
        <p>-&gt;&nbsp; &nbsp; She asked me if I could play the piano and I said that I could not</p>
    </div>
</div>
