<meta charset="UTF-8">
<div class="item-active" id="item-1">
    <div class="item-title-active">
        <div class="item-title-active-content">I. ĐỊNH NGHĨA
        </div>

    </div>
    <div class="item-active-content">
        <p><span><span style="color:#000000"><span
        ><strong>Thì hiện tại tiếp diễn</strong> (present continuous tense) dùng để diễn tả những sự việc xảy ra ngay lúc chúng ta nói hay xung quanh thời điểm nói, và hành động chưa chấm dứt (còn tiếp tục diễn ra).</span></span></span>
        </p>
    </div>
</div>
<div class="item-active" id="item-2">
    <div class="item-title-active">
        <div class="item-title-active-content">II. CẤU TRÚC
        </div>

    </div>
    <div class="item-active-content">
        <p><span style="color:#ffa500"><span><span
        ><strong>1. Khẳng định:</strong></span></span></span></p>

        <p><strong><span><span style="color:#000000"><span
        >- Cấu trúc:&nbsp;</span></span></span></strong></p>

        <p style="text-align:center"><span style="color:#66cc00"><span style="font-size:18px"><strong><span
        >S + am/ is/ are + V-ing</span></strong></span></span></p>

        <p><span><span style="color:#000000"><span
        ><strong>- Trong đó: &nbsp;</strong> &nbsp;</span></span></span></p>

        <p><em><span><span style="color:#000000"><span
        >&nbsp;&nbsp;+ S (subject): Chủ ngữ</span></span></span></em></p>
        <p><em><span><span style="color:#000000"><span
        >&nbsp;&nbsp;+ am/ is/ are: là 3 dạng của động từ “to be”</span></span></span></em></p>
        <p><em><span><span style="color:#000000"><span
        >&nbsp;&nbsp;+ V-ing: là động từ thêm “–ing”</span></span></span></em></p>

        <p><strong><span><span style="color:#000000"><span
        >- Lưu ý:</span></span></span></strong></p>

        <p><em><span><span style="color:#000000"><span
        >&nbsp;&nbsp;+ S = I + am</span></span></span></em></p>
        <p><em><span><span style="color:#000000"><span
        >&nbsp;&nbsp;+ S = He/ She/ It + is</span></span></span></em></p>
        <p><em><span><span style="color:#000000"><span
        >&nbsp;&nbsp;+ S = We/ You/ They + are</span></span></span></em></p>

        <p><span><span style="color:#000000"><span>- Example:</span></span></span>
        </p>

        <p><em><span><span style="color:#000000"><span
        >&nbsp;&nbsp;+ I <u><strong>am playing</strong></u> badminton with my friends . </span></span><span
                style="color:#008000"><span
        >(Tôi đang chơi cầu lông với bạn tôi.)</span></span></span></em></p>
        <p><em><span><span style="color:#000000"><span
        >&nbsp;&nbsp;+ He <u><strong>is cooking</strong></u> with his mother. </span></span><span
                style="color:#008000"><span
        >(Anh ấy đang nấu ăn với mẹ của anh ấy.)</span></span></span></em></p>
        <p><em><span><span style="color:#000000"><span
        >&nbsp;&nbsp;+ We <u><strong>are studying</strong></u> English. </span></span><span
                style="color:#008000"><span
        >(Chúng tôi đang học tiếng Anh.)</span></span></span></em>
        </p>

        <p><span><span style="color:#000000"><span>=&gt; Ta thấy động từ trong câu sử dụng thì hiện tại tiếp diễn cần phải có hai thành phần là: động từ “TO BE” và “V-ing”. Tùy từng chủ ngữ mà động từ “to be” có cách chia khác nhau.</span></span></span>
        </p>

        <p><span style="color:#ffa500"><strong><span><span
        >2. Phủ định:</span></span></strong></span></p>

        <p><strong><span><span style="color:#000000"><span
        >- Cấu trúc:</span></span></span></strong></p>

        <p style="text-align:center"><span style="color:#66cc00"><span style="font-size:18px"><strong><span
        >S + am/ is/ are + not + V-ing</span></strong></span></span></p>

        <p><strong><span><span style="color:#000000"><span
        >- Lưu ý:</span></span></span></strong></p>

        <p><em><span><span style="color:#000000"><span
        >&nbsp;&nbsp;+ Am not: không có dạng viết tắt</span></span></span></em></p>
        <p><em><span><span style="color:#000000"><span
        >&nbsp;&nbsp;+ Is not = isn’t</span></span></span></em></p>
        <p><em><span><span style="color:#000000"><span
        >&nbsp;&nbsp;+ Are not = aren’t</span></span></span></em></p>

        <p><strong><span><span style="color:#000000"><span
        >- Example:</span></span></span></strong></p>

        <p><em><span><span style="color:#000000"><span
        >&nbsp;&nbsp;+ I am not <u><strong>listening to music</strong></u> at the moment. </span></span><span
                style="color:#008000"><span
        >(Tôi không nghe nhạc vào lúc này.)</span></span></span></em></p>
        <p><em><span><span style="color:#000000"><span
        >&nbsp;&nbsp;+ My sister <u><strong>isn’t working</strong></u> now. </span></span><span
                style="color:#008000"><span
        >(Bây giờ chị gái tôi không làm việc)</span></span></span></em>
        </p>
        <p><em><span><span style="color:#000000"><span
        >&nbsp;&nbsp;+ They <u><strong>aren’t watching</strong></u> the TV at present. </span></span><span
                style="color:#008000"><span
        >(Hiện tại họ không xem ti vi.)</span></span></span></em>
        </p>

        <p><span><span style="color:#000000"><span>=&gt; Đối với câu phủ định của thì hiện tại tiếp diễn ta chỉ cần thêm “not” vào sau động từ “to be” rồi cộng động từ đuôi “–ing”.</span></span></span>
        </p>

        <p><span style="color:#ffa500"><strong><span><span
        >3. Câu hỏi:</span></span></strong></span></p>

        <p><strong><span><span style="color:#000000"><span
        >- Cấu trúc:</span></span></span></strong></p>

        <p style="text-align:center"><span style="color:#66cc00"><span style="font-size:18px"><strong><span
        >Am/ Is/ Are + S + V-ing?</span></strong></span></span></p>

        <p><strong><span><span style="color:#000000"><span
        >- Trả lời:</span></span></span></strong></p>

        <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
            <tbody>
            <tr>
                <td style="text-align:center"><span><span
                        style="color:#000000"><span>Yes, I + am</span></span></span></td>
                <td style="text-align:center"><span><span
                        style="color:#000000"><span>Yes, he/ she/ it + is</span></span></span>
                </td>
                <td style="text-align:center"><span><span
                        style="color:#000000"><span
                >Yes, we/ you/ they + are.</span></span></span></td>
            </tr>
            <tr>
                <td style="text-align:center"><span><span
                        style="color:#000000"><span>No, I + am not</span></span></span></td>
                <td style="text-align:center"><span><span
                        style="color:#000000"><span>No, he/ she/ it + isn’t</span></span></span>
                </td>
                <td style="text-align:center"><span><span
                        style="color:#000000"><span
                >No, we/ you/ they + aren’t.</span></span></span></td>
            </tr>
            </tbody>
        </table>

        <p><span><span style="color:#000000"><span>=&gt; Đối với câu hỏi ta chỉ việc đảo động từ “to be” lên trước chủ ngữ.</span></span></span>
        </p>

        <p><strong><span><span style="color:#000000"><span
        >- Example:</span></span></span></strong></p>

        <p><em><span><span style="color:#000000"><span
        >&nbsp;&nbsp;+ <u><strong>Are</strong></u> you <u><strong>doing</strong></u> your homework? </span></span><span
                style="color:#008000"><span
        >(Bạn đang làm bài tập về nhà phải không?)</span></span><br>
	<span style="color:#000000"><span>Yes, I am./ No, I am not.</span></span></span></em></p>
        <p><em><span><span style="color:#000000"><span
        >&nbsp;&nbsp;+ <u><strong>Is</strong></u> he <strong><u>going</u></strong> out with you? </span></span><span
                style="color:#008000"><span
        >(Anh ấy đang đi chơi cùng bạn có phải không?)</span></span><br>
	<span style="color:#000000"><span>Yes, he is./ No, he isn’t.</span></span></span></em></p>
    </div>
</div>
<div class="item-active" id="item-3">
    <div class="item-title-active">
        <div class="item-title-active-content">III. CÁCH SỬ DỤNG
        </div>

    </div>
    <div class="item-active-content">
        <p><span style="color:#ffa500"><strong><span><span
        >1. Diễn tả một hành động đang xảy ra ngay tại thời điểm nói.</span></span></strong></span>
        </p>

        <p><strong><span><span style="color:#000000"><span
        >- Example:</span></span></span></strong></p>

        <p><em><span><span style="color:#000000"><span
        >&nbsp;&nbsp;+ We <u><strong>are studying</strong></u> Maths <u>now</u>. </span></span><span
                style="color:#008000"><span
        >(Bây giờ chúng tôi đang học toán)</span></span></span></em></p>

        <p><span><span style="color:#000000"><span>=&gt; Chúng ta thấy tại thời điểm nói (bây giờ) thì việc học toán đang diễn ra nên ta sử dụng thì hiện tại tiếp diễn để diễn đạt.</span></span></span>
        </p>

        <p><em><span><span style="color:#000000"><span
        >&nbsp;&nbsp;+ She <u><strong>is walking</strong></u> to school <u>at the moment</u>. </span></span><span
                style="color:#008000"><span
        >(Lúc này cô ấy đang đi bộ tới trường.)</span></span></span></em></p>

        <p><span><span style="color:#000000"><span>=&gt; Vào thời điểm nói (lúc này) thì việc cô ấy đi bộ tới trường đang diễn ra nên ta sử dụng thì hiện tại tiếp diễn để diễn đạt.</span></span></span>
        </p>

        <p><span style="color:#ffa500"><strong><span><span
        >2. Diễn tả sự việc đang diễn ra xung quanh thời điểm nói.</span></span></strong></span>
        </p>

        <p><strong><span><span style="color:#000000"><span
        >- Example:</span></span></span></strong></p>

        <p><em><span><span style="color:#000000"><span
        >&nbsp;&nbsp;+ I <u><strong>am looking</strong></u> for a job.</span></span><span
                style="color:#008000"><span> (Tôi đang tìm việc.)</span></span></span></em>
        </p>

        <p><span><span style="color:#000000"><span>=&gt; Tại lúc nói người nói vẫn không đi nộp hồ sơ hay để tìm việc mà trong thời gian đó (có thể bắt đầu trước đó cả tháng) người nói đang tìm kiếm một công việc. Nhưng khi muốn nói chung chung rằng điều gì đang xảy ra xung quanh thời điểm đó ta cũng sử dụng thì hiện tại tiếp diễn.</span></span></span>
        </p>

        <p><em><span><span style="color:#000000"><span
        >&nbsp;&nbsp;+ I <u><strong>am working</strong></u> for BIDV company. </span></span><span
                style="color:#008000"><span
        >(Tôi đang làm việc cho công ty BIDV)</span></span></span></em>
        </p>

        <p><span><span style="color:#000000"><span>=&gt; Tương tự như câu trên, “làm việc cho công ty BIDV không phải mới bắt đầu mà đã bắt đầu trước đó rồi. Nhưng người nói muốn diễn đạt rằng sự việc đó đang diễn ra.</span></span></span>
        </p>

        <p><span style="color:#ffa500"><strong><span><span
        >3. Diễn tả một sự việc sẽ xảy ra trong tương lai theo một kế hoạch đã được lên lịch sẵn.</span></span></strong></span>
        </p>

        <p><strong><span><span style="color:#000000"><span
        >- Example:</span></span></span></strong></p>

        <p><em><span><span style="color:#000000"><span
        >&nbsp;&nbsp;&nbsp;+ I bought the ticket yesterday. I <u><strong>am flying</strong></u> to New York tomorrow.</span></span></span></em>
        </p>

        <p><span><span style="color:#000000"><span>=&gt; Ta thấy có căn cứ, kế hoạch rõ ràng (tôi đã mua vé máy bay) nên ta sử dụng thì hiện tại tiếp diễn để nói về một việc chắc chắn sẽ xảy ra trong tương lai.</span></span></span>
        </p>

        <p><span style="color:#ffa500"><strong><span><span
        >4. Diễn tả sự không hài lòng hay phàn nàn về việc gì trong câu sử dụng “always, continually”.</span></span></strong></span>
        </p>

        <p><strong><span><span style="color:#000000"><span
        >- Example:</span></span></span></strong></p>

        <p><em><span><span style="color:#000000"><span
        >&nbsp;&nbsp;+ He <u><strong>is always coming</strong></u> late. (Anh ta toàn đến muộn.)</span></span></span></em>
        </p>
        <p><em><span><span style="color:#000000"><span
        >&nbsp;&nbsp;+ Why <u><strong>are you always putting</strong></u> your dirty clothes on your bed? </span></span><span
                style="color:#008000"><span
        >(Sao lúc nào con cũng để quần áo bẩn trên giường thế hả?)</span></span></span></em>
        </p>

        <p><span><span style="color:#000000"><span>=&gt; Ta thấy “always” là một trạng từ chỉ tần suất và thường được gặp trong thì hiện tại đơn. Nhưng đó là khi đơn thuần muốn nói đến tần suất diễn ra của một sự việc nào đó. Ví dụ như: “She always goes to school at 7.30 am.” (Cô ấy luôn đi học vào lúc 7h30). Nhưng khi muốn diễn đạt sự khó chịu hay muốn phàn nàn về điều gì ta sử dụng thì hiện tại tiếp diễn để nói.)</span></span></span>
        </p>
    </div>
</div>
<div class="item-active" id="item-4">
    <div class="item-title-active">
        <div class="item-title-active-content">IV. DẤU HIỆU NHẬN BIẾT
        </div>

    </div>
    <div class="item-active-content">
        <p><span style="color:#ffa500"><span><span
        ><strong>- Trong câu có các trạng từ chỉ thời gian:</strong></span></span></span>
        </p>

        <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
            <tbody>
            <tr>
                <td style="text-align:center"><span><span
                        style="color:#000000"><span>Now: bây giờ</span></span></span></td>
                <td style="text-align:center"><span><span
                        style="color:#000000"><span>Right now: Ngay bây giờ</span></span></span>
                </td>
                <td style="text-align:center"><span><span
                        style="color:#000000"><span>At the moment: lúc này</span></span></span>
                </td>
            </tr>
            <tr>
                <td style="text-align:center"><span><span
                        style="color:#000000"><span>At present: hiện tại</span></span></span>
                </td>
                <td style="text-align:center"><span><span
                        style="color:#000000"><span>At + giờ cụ thể (at 12 o’lock)</span></span></span>
                </td>
                <td>&nbsp;</td>
            </tr>
            </tbody>
        </table>

        <p><span style="color:#ffa500"><strong><span><span
        >- Trong câu có các động từ như:</span></span></strong></span></p>

        <p><span><span style="color:#000000"><span
        ><strong>&nbsp;&nbsp;+ Look! (Nhìn kìa!) </strong><br>
	<em>Exp:&nbsp;Look! The train is coming. </em></span></span><span style="color:#008000"><span
        ><em>(Nhìn kia! tàu đang đến.)</em></span></span></span></p>
        <p><span><span style="color:#000000"><span
        ><strong>&nbsp;&nbsp;+ Listen! (Hãy nghe này!) </strong><br>
	<em>Exp: Listen! Someone is crying. </em></span></span><span style="color:#008000"><span><em>(Nghe này! Ai đó đang khóc.)&nbsp;</em></span></span></span>
        </p>
        <p><span><span style="color:#000000"><span
        ><strong>&nbsp;&nbsp;+ Keep silent! (Hãy im lặng) </strong><br>
	<em>Exp:&nbsp;Keep silent! The baby is sleeping. </em></span></span><span style="color:#008000"><span
        ><em>(Hãy im lặng! Em bé đang ngủ.)</em></span></span></span></p>
    </div>
</div>
