<meta charset="UTF-8">
<div class="item-active" id="item-1">
    <div class="item-title-active">
        <div class="item-title-active-content">I. KHÁI NIỆM
        </div>

    </div>
    <div class="item-active-content">
        <p><span><span><span
        >Câu điều kiện trong tiếng Anh dùng để nêu lên một giả định về một sự việc, mà sự việc đó chỉ có thể xảy ra khi điều kiện được nói đến xảy ra.</span></span></span>
        </p>

        <p><span><span><span
        >Eg:&nbsp;</span></span></span>
        </p>


        <p>&nbsp;&nbsp;&bull; <span><span><span
        ><em>If I don’t work hard, I will fail this exam.</em></span></span></span><br>
            <span style="color:#008000"><span><span
            ><em>Nếu tôi không học chăm chỉ thì tôi sẽ trượt kỳ thi này.</em></span></span></span>
        </p>


        <p><span style="color:#ff8c00"><strong><span><span
        >- Câu điều kiện gồm 2 phần (hai mệnh đề)</span></span></strong></span></p>

        <p style="text-align:center"><span><span
        ><span
        ><strong>Mệnh đề chứa if (mệnh đề nêu lên điều kiện) + mệnh đề chính (mệnh đề nêu lên kết quả)</strong></span></span></span>
        </p>

        <p><span style="color:#ff8c00"><strong><span><span
        >- Vị trí của 2 mệnh đề:</span></span></strong></span></p>

        <p><span><span><span
        >+ Khi mệnh đề chứa “<strong>If”</strong> đứng đầu thì giữa hai mệnh đề ngăn cách với nhau bằng '<strong>dấu phẩy</strong>'.</span></span></span>
        </p>

        <p><span><span><span
        >+ Khi mệnh đề chứa “<strong>If</strong>” đứng sau mệnh đề chính thì KHÔNG sử dụng dấu phẩy để ngăn cách hai mệnh đề.</span></span></span>
        </p>

        <p><span><span><span
        >Eg:</span></span></span></p>


        <p>&nbsp;&nbsp;&bull; <em><span><span><span
        >I will go swimming if it is sunny. </span></span></span><span
                style="color:#008000"><span><span
        >(Tôi sẽ đi bơi nếu trời đẹp.)</span></span></span></em>
        </p>
        <p>&nbsp;&nbsp;&bull; <em><span><span><span
        >--&gt; If it is sunny, I will go swimming. </span></span></span><span
                style="color:#008000"><span><span
        >(Nếu trời đẹp, tôi sẽ đi bơi.)</span></span></span></em>
        </p>


        <table border="1" cellpadding="0" cellspacing="0" style="width: auto;"
               class="table table-bordered table-striped">
            <tbody>
            <tr>
                <td style=" background-color: rgb(51, 255, 255);">
                    <p style="text-align: center;"><span style="font-size:16px;"><strong>Loại</strong></span></p>
                </td>
                <td style=" background-color: rgb(51, 255, 255);">
                    <p align="center"><span style="font-size:16px;"><strong>Công thức</strong></span></p>
                </td>
                <td style=" background-color: rgb(51, 255, 255);">
                    <p align="center"><span style="font-size:16px;"><strong>Cách sử dụng</strong></span></p>
                </td>
            </tr>
            <tr>
                <td>
                    <p align="center">0</p>
                </td>
                <td>
                    <p>If + S + V(s,es), S+ V(s,es)/câu mệnh lệnh</p>
                </td>
                <td>
                    <p>&nbsp;Điều kiện diễn tả thói quen, sự thật hiển nhiên</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p style="text-align: center;">1</p>
                </td>
                <td>
                    <p>If + S + V(s,es), S + Will/Can/shall…… + V</p>

                    <p>&nbsp;<strong>- Ví dụ:</strong> If the weather is nice, I will go
                        swimming
                        tomorrow.</p>
                </td>
                <td>
                    <p>&nbsp;Điều kiện có thể xảy ra ở hiện tại ở tương lai</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p style="text-align: center;">2</p>
                </td>
                <td>
                    <p>If + S + V2/ Ved, S +would/ Could/ Should…+ V</p>

                    <p>&nbsp;<strong>- Ví dụ:</strong> If I were you, I would follow her
                        advice.
                    </p>
                </td>
                <td>
                    <p>&nbsp;Điều kiện không có thật ở hiện tại</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p style="text-align: center;">3</p>
                </td>
                <td>
                    <p>If + S + Had + V(pp)/Ved, S + would/ could…+ have + V(pp)/Ved</p>

                    <p><strong>&nbsp;- Ví dụ:</strong> If I had studied the lessons, I
                        could have
                        answered the questions.</p>
                </td>
                <td>
                    <p>&nbsp;Điều kiện không có thật trong quá khứ</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p style="text-align: center;">4</p>
                </td>
                <td>
                    <p>If + S + had + V3/Ved, S + would + V</p>

                    <p>&nbsp;<strong>- Ví dụ:</strong> If she hadn't stayed up late last night, she wouldn't be so tired
                        now.
                    </p>
                </td>
                <td>
                    <p align="center">&nbsp;</p>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="item-active" id="item-2">
    <div class="item-title-active">
        <div class="item-title-active-content">II. CÂU ĐIỀU KIỆN LOẠI 0
        </div>

    </div>
    <div class="item-active-content">
        <p><strong><span><span><span
        >- Cấu trúc:&nbsp;</span></span></span></strong></p>

        <p style="text-align:center"><span style="color:#66cc00"><span
        ><span
        ><strong>IF + S + V (s/es), S + V (s/es)</strong></span></span></span></p>

        <p><span><span><span
        >Trong câu điều kiện loại 0 động từ trong hai mệnh đề đều chia thì HIỆN TẠI ĐƠN.</span></span></span>
        </p>

        <p><strong><span><span><span
        >- Cách sử dụng:</span></span></span></strong></p>

        <p><span><span><span
        >Câu điều kiện loại 0 diễn tả một hành động, sự kiện luôn luôn đúng, kiểu một chân lý.</span></span></span>
        </p>

        <p><span><span><span
        >Eg:</span></span></span></p>


        <p>&nbsp;&nbsp;&bull; <span><span><span
        ><em>If you <strong><u>put</u></strong> ice under the sun, it <u><strong>melts</strong></u>. </em></span></span></span><span
                style="color:#008000"><span><span
        ><em>(Nếu bạn để đá dưới mặt trời, nó sẽ tan chảy.)</em></span></span></span>
        </p>


        <p><span><span><span
        >Đây là một sự thật hiện nhiên, luôn luôn đúng nên ta sẽ sử dụng câu điều kiện loại 0 đề nói.</span></span></span>
        </p>
        <p><strong><span>If + Mệnh đề 1 (thì hiện tại đơn giản), Mệnh đề 2 (thì hiện tại đơn giản) =&gt; Khi muốn nhắn nhủ ai đó:</span></strong>
        </p>


        <p>&nbsp;&nbsp;&bull; <span><em><strong>Ví dụ :</strong></em> If you see Nam, you tell him I’m in Vietnam <span
                style="color:#008000">(Nếu bạn gặp Nam, you hãy nhắn anh ấy rằng tôi đang ở Việt Nam nhé)</span></span>
        </p>


        <p><strong><span>If + Mệnh đề 1 (thì hiện tại đơn giản), Mệnh đề 2 (mệnh lệnh thức) =&gt; Dùng khi muốn nhấn mạnh</span></strong>
        </p>


        <p>&nbsp;&nbsp;&bull; <span><em><strong>Ví dụ:</strong></em> If you have any trouble, please telephone me though 115 <em><span
                style="color:#008000">(Nếu bạn có bất kỳ rắc rối nào, xin hẫy gọi cho tôi qua số điện thoại 115)</span></em></span>
        </p>


        <p><strong><span>Nếu diễn tả thói quen, trong mệnh đề chính thường xuất hiện thêm: often, usually, or always. Ví dụ:</span></strong>
        </p>


        <p>&nbsp;&nbsp;&bull; <span>If water is frozen, it expands. <span
                style="color:#008000">(Nếu nước bị đông đặc nó nở ra.)</span></span></p>
        <p>&nbsp;&nbsp;&bull; <span>I usually walk to school if I have enough time. <span
                style="color:#008000">(Tôi thường đi bộ đến trường nếu tôi có thời gian.)</span></span>
        </p>
        <p>&nbsp;&nbsp;&bull; <span>If you heat ice, it turns to water. <span
                style="color:#008000">(Nếu bạn làm nóng nước đá, nó sẽ chảy ra.)</span></span>
        </p>
        <p>&nbsp;&nbsp;&bull; <span>If we are cold, we shiver. <span
                style="color:#008000">(Nếu bị lạnh, chúng ta sẽ run lên.)</span></span></p>

    </div>
</div>
<div class="item-active" id="item-3">
    <div class="item-title-active">
        <div class="item-title-active-content">III. CÂU ĐIỀU KIỆN LOẠI 1
        </div>

    </div>
    <div class="item-active-content">
        <p><strong><span><span><span
        >- Cấu trúc:&nbsp;</span></span></span></strong></p>

        <p style="text-align:center"><span style="color:#66cc00"><span
        ><span
        ><strong>IF + S + V (s/es), S + will/can/shall... + V (nguyên mẫu)</strong></span></span></span>
        </p>

        <p><span><span><span
        >Trong câu điều kiện loại I, mệnh đề "IF" chúng ta chia ở thì HIỆN TẠI ĐƠN và mệnh đề chính ta chia thì tương lai đơn.</span></span></span>
        </p>

        <p><strong><span><span><span
        >- Cách sử dụng:</span></span></span></strong></p>

        <p><span><span><span
        >Câu điều kiện loại 1 diễn tả sự việc, hiện tượng có thể xảy ra ở hiện tại hoặc tương lai.</span></span></span>
        </p>

        <p><span><span><span
        >Eg:</span></span></span></p>


        <p>&nbsp;&nbsp;&bull; <em><span><span><span
        >If he <u><strong>comes</strong></u>, I <u><strong>will go</strong></u> with him. </span></span></span><span
                style="color:#008000"><span><span
        >(Nếu anh ấy đến, tôi sẽ đi với anh ấy)</span></span></span></em>
        </p>
        <p>&nbsp;&nbsp;&bull; <span>&nbsp;If I find her address, I’ll send her an invitation. <span
                style="color:#008000">( Nếu tôi tìm được địa chỉ của cô ấy, tôi sẽ gửi lời mời tới cô ấy)</span> =&gt; Đổi vị trí 2 mệnh đề quan hệ:&nbsp; I will send her an invitation if I find her address.)</span>
        </p>
        <p>&nbsp;&nbsp;&bull; <span>If John has the money, he will buy a Ferrari. <span
                style="color:#008000">(Nếu John có nhiều tiền, anh ấy sẽ mua chiếc Ferrari)</span></span>
        </p>


        <p><span><span><span
        >Ở ví dụ trên, ta hiểu rằng "hiện tại anh ấy vẫn chưa đến", và chúng ta cũng không biết được rằng anh ấy có đến hay không (hoàn toàn có thể xảy ra). Chính vì vậy, giả định "nếu anh ấy đến" là một giả định hoàn toàn có thể xảy ra nên ta sử dụng câu điều kiện loại I.&nbsp;</span></span></span>
        </p>
    </div>
</div>
<div class="item-active" id="item-4">
    <div class="item-title-active">
        <div class="item-title-active-content">IV. CÂU ĐIỀU KIỆN LOẠI 2
        </div>

    </div>
    <div class="item-active-content">
        <p><strong><span><span><span
        >- Cấu trúc:&nbsp;</span></span></span></strong></p>

        <p style="text-align:center"><span style="color:#66cc00"><span
        ><span
        ><strong>IF + S + V2/ V-ed, S + would/could/should... + V (nguyên mẫu)</strong></span></span></span>
        </p>

        <p><span><span><span
        >Trong câu điều kiện loại 2, mệnh đề "IF" chúng ta chia ở thì QUÁ KHỨ ĐƠN và mệnh đề chính ta sử dụng cấu trúc: Would/could/should... + động từ nguyên mẫu.</span></span></span>
        </p>

        <p><strong><span><span><span
        >- Cách sử dụng:</span></span></span></strong></p>

        <p><span><span><span
        >Câu điều kiện loại 2 diễn tả sự việc, hiện tượng không thể xảy ra ở hiện tại hoặc tương lai.</span></span></span>
        </p>

        <p><span><span><span
        >Eg:</span></span></span></p>

        <p>&nbsp;&nbsp;&bull; <em><span><span><span
        >If they <u><strong>had</strong></u> a lot of money now, they <u><strong>would travel</strong></u> around the world. </span></span></span><br>
            <span style="color:#008000"><span><span
            >(Nếu bây giờ họ có nhiều tiền, họ sẽ đi du lịch vòng quanh thế giới.)</span></span></span></em>
        </p>
        <p>&nbsp;&nbsp;&bull; <span><em>If I had a million USD, I would buy </em>a Ferrari.<br>
        <span style="color:#008000"><em> (Nếu tôi có một triệu đô la, tôi sẽ mua chiếc xe đó.) </em>⇐<em> hiện tại tôi không có</em></span></span>
        </p>
        <p>&nbsp;&nbsp;&bull;
            <span>If he&nbsp;<strong>had</strong>&nbsp;more time, he&nbsp;<strong>would learn</strong>&nbsp;karate.&nbsp;(&nbsp; <br>
            <span style="color:#008000">Nếu anh có nhiều thời gian, anh sẽ học karate.) ⇐ thời gian không có nhiều</span></span>
        </p>
        <p>&nbsp;&nbsp;&bull;
            <span>She&nbsp;<strong>would spend</strong>&nbsp;a year in the USA if it&nbsp;<strong>were</strong>&nbsp;easier to get a green card. <br>
            <span style="color:#008000">Cô ấy sẽ dành một năm ở Mỹ nếu dễ dàng có được thẻ xanh). ⇐ thực tế để lấy được thẻ xanh của Mỹ rất khó</span></span>
        </p>
        <p>&nbsp;&nbsp;&bull;
            <span>If I&nbsp;<strong>lived</strong>&nbsp;on a lonely island, I&nbsp;<strong>would run</strong>&nbsp;around naked all day. <br>
        <span style="color:#008000">(Nếu tôi sống trên một hòn đảo cô đơn, tôi sẽ khỏa thân chạy quanh cả ngày.) ⇐ thực tế bạn không có hòn đảo nào</span></span>
        </p>


        <p><span><span><span
        >Ở ví dụ trên, ta thấy có thời gian ở hiện tại là "now" và hiểu rằng "bây giờ họ không có nhiều tiền" nên mới đưa ra câu giả thiết như vậy. Chính vì vậy ta sử dụng câu điều kiện loại II để diễn đạt một sự việc không có thật ở hiện tại.</span></span></span>
        </p>

        <p><span><span><span
        ><strong>- Lưu ý</strong>: Trong câu điều kiện loại II, nếu mệnh đề "IF" sử dụng động từ "to be" ở thì Quá khứ đơn" thì ta chỉ sử dụng "to be" là "Were" với tất cả các ngôi.</span></span></span>
        </p>

        <p><span><span><span
        >Eg:</span></span></span></p>


        <p>&nbsp;&nbsp;&bull; <span><span><span
        >If I were you, I wouldn’t stay at home now. (Nếu tôi là bạn, tôi sẽ không ở nhà bây giờ.)</span></span></span>
        </p>


        <p><span><span><span
        >Ta thấy chủ ngữ trong mệnh đề “If” là “I” nhưng ta vẫn sử dụng động từ “to be” là “were” vì trong câu điều kiện loại II này “to be” chia quá khứ là “were” với tất cả các chủ ngữ.</span></span></span>
        </p>
    </div>
</div>
<div class="item-active" id="item-5">
    <div class="item-title-active">
        <div class="item-title-active-content">V. CÂU ĐIỀU KIỆN LOẠI 3
        </div>

    </div>
    <div class="item-active-content">
        <p><strong><span><span><span
        >- Cấu trúc:&nbsp;</span></span></span></strong></p>

        <p style="text-align:center"><span style="color:#66cc00"><span
        ><span
        ><strong>IF + S + had + P.P(quá khứ phân từ), S + would + have + P.P</strong></span></span></span>
        </p>

        <p><span><span><span
        >Trong câu điều kiện loại III, động từ của mệnh đề điều kiện chia ở quá khứ phân từ, còn động từ của mệnh đề chính chia ở điều kiện hoàn thành (perfect conditional).</span></span></span>
        </p>

        <p><strong><span><span><span
        >- Cách sử dụng:</span></span></span></strong></p>

        <p><span><span><span
        >Câu điều kiện loại 3 không có thực trong quá khứ.</span></span></span>
        </p>

        <p><span><span><span
        >Eg:</span></span></span></p>

        <p>&nbsp;&nbsp;&bull;<span><span><span
        ><em>If he <u><strong>had told</strong></u> me the truth yesterday, I <u><strong>would have helped</strong></u> him. </em></span></span></span><br>
            <span style="color:#008000"><span><span
            ><em>(Nếu anh ấy nói với tôi sự thật ngày hôm qua, tôi đã giúp anh ấy rồi.)</em></span></span></span>
        </p>
        <p>&nbsp;&nbsp;&bull; <span>If the forwards&nbsp;<strong>had run</strong>&nbsp;faster, they&nbsp;<strong>would have scored</strong>&nbsp;more goals. <br>
        <span style="color:#008000">(Nếu tiền đạo chạy nhanh hơn, họ sẽ ghi được nhiều bàn thắng hơn.)</span></span>
        </p>
        <p>&nbsp;&nbsp;&bull; <span>If it&nbsp;<strong>had been</strong>&nbsp;a home game, our team&nbsp;<strong>would have won</strong>&nbsp;the match. <br>
        <span style="color:#008000">(<em>Nếu đó là trận đấu sân nhà, đội của chúng tôi sẽ thắng.)</em></span></span>
        </p>
        <p>&nbsp;&nbsp;&bull;
            <span>If you&nbsp;<strong>had spoken</strong>&nbsp;English, she&nbsp;<strong>would have</strong> understood.&nbsp;
        <br>
        <span style="color:#008000">(<em>Nếu bạn nói tiếng Anh thì cô ấy đã hiểu)</em></span></span>
        </p>
        <p>&nbsp;&nbsp;&bull; <span>If they&nbsp;<strong>had listened</strong>&nbsp;to me, we&nbsp;<strong>would have been</strong>&nbsp;home earlier.&nbsp;
        <br>
        <span style="color:#008000">( <em>nếu họ đã nghe lời tôi, chúng ta đã về nhà sớm hơn)</em></span></span>
        </p>
        <p>&nbsp;&nbsp;&bull;
            <span>I&nbsp;<strong>would have written</strong>&nbsp;you a postcard if I&nbsp;<strong>had had</strong>&nbsp;your address.&nbsp;
            <br>
            <span style="color:#008000">(<em>Tôi đã viết cho bạn một tấm bưu thiếp nếu tôi có địa chỉ của bạn)</em></span></span>
        </p>
        <p>&nbsp;&nbsp;&bull; <span>If I&nbsp;<strong>had not broken</strong>&nbsp;my leg, I&nbsp;<strong>would have taken</strong> part&nbsp;in the contest.&nbsp;
        <br>
        <span style="color:#008000">(<em>Nếu tôi không bị gãy chân, tôi sẽ tham gia cuộc thi.)</em></span></span>
        </p>


        <p><span><span><span
        >Trong ví dụ này, ta thấy sự thật là ngày hôm qua anh ấy đã KHÔNG nói thật với tôi nên thực tế là tôi không giúp được gì cho anh ấy. Đây là một giả định về một sự việc trái với sự thật trong quá khứ nên ta sử dụng câu điều kiện loại III để nói.</span></span></span>
        </p>
    </div>
</div>

<div class="item-active" id="item-6">
    <div class="item-title-active">
        <div class="item-title-active-content">VI. CÂU ĐIỀU KIỆN HỖN HỢP
        </div>

    </div>
    <div class="item-active-content">
        <p><span><span><span
        >Câu điều kiện hỗn hợp là câu điều kiện kết hợp giữa câu điều kiện loại 2 và câu điều kiện loại 3. Đây là loại câu thường xuyên xuất hiện trong các bài thi THPT, thi năng lực tiếng Anh...</span></span></span>
        </p>

        <p><span><span><span
        ><strong>- Cấu trúc:</strong></span></span></span></p>

        <p style="text-align:center"><span style="color:#66cc00"><span
        ><span
        ><strong>If + S + Had + V3/Ved, S + Would + (Vo)</strong></span></span></span></p>

        <p><span><span><span
        >Ở đây ta thấy, mệnh đề chưa "<strong>If</strong>" sử dụng cấu trúc của câu điều kiện loại 3, còn mệnh đề chính sử dụng cấu trúc của câu điều kiện loại 2.</span></span></span>
        </p>

        <p><span><span><span
        ><strong>- Cách sử dụng:</strong></span></span></span></p>

        <p><span><span><span
        >Dùng để diễn đạt giả thiết về một điều “trái với sự thật trong quá khứ”, nhưng kết quả muốn nói đến trái ngược với sự thật ở hiện tại.</span></span></span>
        </p>

        <p><span><span><span
        >Eg:</span></span></span></p>


        <p>&nbsp;&nbsp;&bull; <span><span><span
        ><em>If she <u><strong>had told</strong></u> me the reason yesterday, I <u><strong>wouldn't be</strong></u> sad now </em></span></span></span><br>
            <span style="color:#008000"><span><span
            ><em>(Nếu hôm qua cô ấy nói với tôi lý do thì bây giờ tôi không buồn như vậy)</em></span></span></span><span
            ><span><span
            ><em> ⇒ sự thật là hôm qua cô ấy&nbsp;đã không nói với tôi lý do, và bây giờ tôi cảm thấy rất buồn.)</em></span></span></span>
        </p>
        <p>&nbsp;&nbsp;&bull;
            <span>If she hadn't stayed up late last night, she wouldn't be so tired now. <span
                    style="color:#008000">(<em>Nếu cô ấy không ở lại muộn vào đêm qua, bây giờ cô ấy sẽ không quá mệt mỏi </em>)</span> ⇒ Thường có trạng từ đi theo (loại 3+ loại 2: giả thiết trái ngược với quá khứ, nhưng kết quả thì trái ngược với hiện tại)</span>
        </p>
        <p>&nbsp;&nbsp;&bull;
            <span>If I were you, I would have learned English earlier. <span style="color:#008000">(<em>Nếu tôi là bạn, tôi đã học tiếng Anh sớm hơn</em>)</span> ⇒&nbsp; (loại 2 + loại 3: giả thiết trái ngược với hiện tại nhưng kết quả trái ngược với quá khứ)</span>
        </p>


        <p><span><span><span
        >Trong ví dụ, ta thấy mệnh đề “<strong>If</strong>” đưa ra một giả định trái với sự thật trong quá khứ, và mệnh đề chính đưa ra giả định về kết quả trái với sự thật ở hiện tại.</span></span></span>
        </p>
    </div>
</div>
<div class="item-active" id="item-7">
    <div class="item-title-active">
        <div class="item-title-active-content">VII. MỘT SỐ BIẾN THỂ KHÁC CỦA CÁC CỤM ĐỘNG TỪ TRONG CÁC VẾ CÂU ĐIỀU
            KIỆN
        </div>

    </div>
    <div class="item-active-content">
        <p><span style="color:#ff8c00;"><span style="font-size:16px;"><strong>1. Câu điều loại I</strong></span></span>
        </p>


        <p>&nbsp;&nbsp;&bull;
            <span>&nbsp;<em><strong>Đối với trường hợp có thể xảy ra trong tương lai và nhấn mạnh trạng thái diễn ra/hoàn thành của sự việc.</strong></em></span>
        </p>
        <p><span>Công thức: If + present simple, future continuous/future perfect.</span>
        </p>

        <p><span>Ví du:&nbsp;If we&nbsp;<u>leave&nbsp;</u>Hanoi&nbsp;for&nbsp;Hue&nbsp;today, we&nbsp;<u>shall be staying&nbsp;</u>in&nbsp;Hue&nbsp;tomorrow. (<em>Nếu chúng ta rời Hà Nội tới Huế hôm nay, chúng ta sẽ ở Huế vào ngày mai</em>)</span>
        </p>

        <p><span>If you&nbsp;<u>do</u>&nbsp;your home work right now, you&nbsp;<u>will have finished&nbsp;</u>it in 2 hours' time. (<em>Nếu bạn làm việc nhà ngay bây giờ, bạn sẽ hoàn thành nó trong 2 giờ)</em></span>
        </p>


        <p>&nbsp;&nbsp;&bull;
            <em><strong><span>&nbsp;Đối với trường hợp thể hiện sự đồng ý, cho phép, gợi ý</span></strong></em>
        </p>


        <p><span>Công thức: If + present simple, ... may/can + V-inf.</span></p>

        <p><span>Ví dụ:&nbsp;If it&nbsp;<u>stops&nbsp;</u>raining, we&nbsp;<u>can</u>&nbsp;go out. (<em>Nếu trời ngừng mưa, chúng tôi sẽ đi ra ngoài</em>)</span>
        </p>


        <p>&nbsp;&nbsp;&bull;
            <em><span>&nbsp;<strong>Đối với câu gợi ý, khuyên răn, đề nghị hoặc yêu cầu nhưng nhấn mạnh về hành động</strong></span></em>
        </p>


        <p><span>Công thức: If + present simple, ... would like to/must/have to/should... + V-inf.</span>
        </p>

        <p><span>Ví dụ:&nbsp;If you&nbsp;<u>go</u>&nbsp;to the library today, I&nbsp;<u>would like to go&nbsp;</u>with you. <em>(</em><em> Nếu bạn đi đến thư viện ngày hôm nay, tôi muốn đi với bạn.</em>)</span>
        </p>

        <p>
            <span>If you&nbsp;<u>want</u>&nbsp;to lose weight, you&nbsp;<u>should do&nbsp;</u>some exercise.</span></p>


        <p>&nbsp;&nbsp;&bull; <em><strong><span>Đối với câu mệnh lệnh (chủ ngữ ẩn ở mệnh đề chính)</span></strong></em>
        </p>


        <p><span>Công thức: If + present simple, (do not) V-inf.</span></p>

        <p><span>Ví dụ:&nbsp;If you are hungry, go to a restaurant. (<em>Nếu bạn đói, hãy đi đến nhà hàng</em>.)<br>
If you feel cold, don't open the door. (<em>Nếu bạn cảm thấy lạnh, đừng mở cửa)</em></span></p>

        <p><span style="color:#ff8c00;"><span
                style="font-size:16px;"><strong>2. Câu điều kiện loại&nbsp;2</strong></span></span>
        </p>

        <p><em><strong><span>&nbsp;a. Mệnh đề chính (main clause)</span></strong></em></p>


        <p>&nbsp;&nbsp;&bull;
            <span><strong>&nbsp;If + past simple, ... would/should/could/might/had to/ought to + be V-ing.</strong></span>
        </p>


        <p><span>Ex. If we left&nbsp;Hanoi&nbsp;for&nbsp;Hue&nbsp;this morning, we would be staying in&nbsp;Hue&nbsp;tomorrow. (<em>Nếu chúng tôi rời Hà Nội vào Huế sáng nay, chúng tôi sẽ ở Huế vào ngày mai</em>)</span>
        </p>


        <p>&nbsp;&nbsp;&bull; <span><strong>&nbsp;If + past simple, past simple</strong>. (việc đã xảy ra)</span>
        </p>


        <p>
            <span>Ex. If the goalkeeper didn't catch the ball, they lost. (<em>Nếu thủ môn không bắt bóng, họ đã thua</em>.)</span>
        </p>


        <p>&nbsp;&nbsp;&bull; <span><strong>&nbsp;If + past simple, ... would be + V-ing.</strong></span>
        </p>


        <p><span>Ex. If I were on holiday with him, I would/might be touring&nbsp;Italy&nbsp;now. (<em>Nếu tôi đi nghỉ cùng anh ấy, tôi sẽ / có thể đi lưu diễn tại Ý bây giờ.)</em></span>
        </p>


        <p>&nbsp;&nbsp;&bull; <span><strong>If dùng như "as, since, because" </strong>có thể kết hợp với động từ ở nhiều thì khác nhau trong mệnh đề chính và không thực sự là một câu điều kiện.</span>
        </p>


        <p><span>Ex. If you knew her troubles, why didn't you tell me? . (nếu bạn biết rắc rối của cô ấy, tại sao bạn không nói cho tôi)</span>
        </p>

        <p><strong><span>b. Mệnh đề phụ (if-clause)</span></strong></p>


        <p>&nbsp;&nbsp;&bull;
            <span><strong>If + past continuous, ... would/could + V-inf.</strong></span></p>


        <p><span>Ex. If we were studying English in&nbsp;London&nbsp;now, we could speak English much better. (<em>Nếu bây giờ chúng ta học tiếng Anh ở London, chúng ta có thể nói tiếng Anh tốt hơn.)</em></span>
        </p>


        <p>&nbsp;&nbsp;&bull;
            <span><strong>&nbsp;If + past perfect, ... would/could + V-inf.</strong></span></p>


        <p><span>Ex. If you had taken my advice, you would be a millionaire now. (<em>Nếu bạn đã lấy lời khuyên của tôi, bây giờ bạn sẽ là một triệu phú)</em></span>
        </p>

        <p><span style="color:#ff8c00;"><span
                style="font-size:16px;"><strong>3. Câu điều kiện loại&nbsp;3</strong></span></span>
        </p>

        <p><span><strong>a. Mệnh đề chính (main clause)</strong></span></p>


        <p>&nbsp;&nbsp;&bull;<span><strong>If + past perfect, ... could/might + present perfect.</strong></span></p>


        <p><span>Ex. If we had found him earlier, we could have saved his life. (<em>Nếu chúng tôi đã tìm thấy anh ta trước đó, chúng tôi có thể đã cứu sống anh ta.)</em></span>
        </p>


        <p>&nbsp;&nbsp;&bull; <span><strong>&nbsp;If + past perfect, present perfect continuous.</strong></span>
        </p>


        <p><span>Ex. If you had left&nbsp;HungYen&nbsp;for&nbsp;ThanhHoa&nbsp;last Saturday, you would have been swimming in SamSon last Sunday. (nếu bạn rời Hưng tới Thanh Hoá và chủ nhật tuần trước, có thể bạn sẽ bơi ở biển Sầm Sownv à chủ nhật tuần trước)</span>
        </p>


        <p>&nbsp;&nbsp;&bull; <span><strong>If + past perfect, ... would + V-inf.</strong></span></p>


        <p><span>Ex. If she had followedmy advice, she would be richer now. (<em>Nếu cô ấy đã làm theo lời khuyên của tôi, bây giờ cô ấy sẽ giàu hơn.</em>)</span>
        </p>

        <p><strong><span>b. Mệnh đề phụ (if-clause)</span></strong></p>


        <p>&nbsp;&nbsp;&bull;
            <span><strong>&nbsp;If + past perfect continuous, ... would + present perfect.</strong></span>
        </p>


        <p><span>Ex. If it hadn't been raining the whole week, I would have finished the laundry (nếu trời không mưa suốt cả tuần, tôi đã hoàn thành xong việc giặt quần áo)</span>
        </p>
    </div>
</div>
<div class="item-active" id="item-8">
    <div class="item-title-active">
        <div class="item-title-active-content">VIII. TRƯỜNG HỢP KHÁC
        </div>

    </div>
    <div class="item-active-content">
        <p>
            <em><strong><span>A. Unless = If...not (Trừ phi, nếu...không)</span></strong></em></p>

        <p><span>Ví dụ:&nbsp; If you don't study hard, you can't pass the exam. = Unless you work hard, you can't pass the exam.</span>
        </p>

        <p><span><em><strong>B.&nbsp;Cụm&nbsp;Từ đồng nghĩa:</strong></em> Suppose / Supposing (giả sử như), in case (trong trường hợp), even if (ngay cả khi, cho dù), as long as, so long as, provided (that), on condition (that) (miễn là, với điều kiện là) có thể thay cho if trong câu điều kiện</span>
        </p>

        <p><span>Ví dụ: Supposing (that) you are wrong, what will you do then?</span></p>

        <p><em><strong><span>C. Without: không có</span></strong></em></p>

        <p><span>Ví dụ&nbsp; Without water, life wouldn't exist.</span></p>

        <p><span>= If there were no water, life wouldn't exist.</span></p>
    </div>
</div>
