<meta charset="UTF-8">
<div class="item-active" id="item-1">
    <div class="item-title-active">
        <div class="item-title-active-content">I. TỪ ĐƠN LẺ
        </div>

    </div>
    <div class="item-active-content">
        <p style="color:#ffa500">
            <span style="font-size:18px;"><strong>1. Danh từ</strong></span>
        </p>
        <p><strong>- Cách thành lập</strong>
        </p>
        <table border="1" cellpadding="1" cellspacing="1">
            <tbody>
            <tr valign="top">
                <td>
                    <br><b>Formation</b>
                    <br></td>
                <td>
                    <br><b>NOUNS</b>
                    <br></td>
            </tr>
            <tr valign="top">
                <td>
                    <br><i>Verb + er/ or/ ant</i>
                    <br></td>
                <td>
                    <br>Teacher, manager, driver, actor, <a href="/tha-qu-bn.html">director</a>, attendant,
                    assistant...................
                    <br></td>
            </tr>
            <tr valign="top">
                <td>
                    <br><i>Verb + ion</i>
                    <br></td>
                <td>
                    <br>Action, invention, construction, direction, revolution, decision..................
                    <br></td>
            </tr>
            <tr valign="top">
                <td>
                    <br><i>Verb + ment/ al</i>
                    <br></td>
                <td>
                    <br>Development, appointment, refusal, removal, approval......................
                    <br></td>
            </tr>
            <tr valign="top">
                <td>
                    <br><i>Verb + ing</i>
                    <br></td>
                <td>
                    <br>Swimming, teaching, jogging, training, building.....................
                    <br></td>
            </tr>
            <tr valign="top">
                <td>
                    <br><i>Adj + ness</i>
                    <br></td>
                <td>
                    <br>Kindness, goodness, happiness, sadness, darkness, illness, sickness.................
                    <br></td>
            </tr>
            <tr valign="top">
                <td>
                    <br><i>Adj + ty</i>
                    <br></td>
                <td>
                    <br>Safety, loyalty, variety, ability, honesty, cruelty,....................
                    <br></td>
            </tr>
            <tr valign="top">
                <td>
                    <br><i>Adj + th</i>
                    <br></td>
                <td>
                    <br>Length, depth, width, truth, warmth, strength......................................
                    <br></td>
            </tr>
            <tr valign="top">
                <td>
                    <br><i>Adj + dom</i>
                    <br></td>
                <td>
                    <br>Freedom, wisdom, boredom..............................
                    <br></td>
            </tr>
            <tr valign="top">
                <td>
                    <br><i>Noun + ist/ ian</i>
                    <br></td>
                <td>
                    <br>Guitarish, novelish, violinist, musician, physician, historian....................
                    <br></td>
            </tr>
            <tr valign="top">
                <td>
                    <br><i>Noun + ism</i>
                    <br></td>
                <td>
                    <br>Patriotism, capitalism, socialism, heroism........................
                    <br></td>
            </tr>
            <tr valign="top">
                <td>
                    <br><i>Noun + ship</i>
                    <br></td>
                <td>
                    <br>Friendship, <a href="/chng-trnh-o-to-general-leadership-tp-on.html">leadership</a>, scholarship,
                    comradeship............................
                    <br></td>
            </tr>
            <tr valign="top">
                <td>
                    <br><i>Noun + hood</i>
                    <br></td>
                <td>
                    <br>Childhood, brotherhood, neighbourhood, parenthood.....................
                    <br></td>
            </tr>
            <tr valign="top">
                <td>
                    <br><i><span id="Super_market,_super_man_over">Super</span>/ over/ sub/ sur + N</i>
                    <br></td>
                <td>
                    <br><b>Super</b>market,<b> super</b>man<b> over</b>expenditure<b> sub</b>way <b>over</b>expenditure
                    <br></td>
            </tr>
            </tbody>
        </table>
        <p><strong>- Vị trí</strong>
        </p>
        <table border="1" cellpadding="1" cellspacing="1">
            <tbody>
            <tr valign="top">
                <td>
                    <br><b><span
                        id="Sau_tính_từ_(adj_+_N)__They_are_interesting_books_.__Sau">Sau tính từ (adj + N)</span></b>
                    <br></td>
                <td>
                    <br>They are interesting <i><u>books</u></i><b>. </b>
                    <br></td>
            </tr>
            <tr valign="top">
                <td>
                    <br><b>Sau</b>- mạo từ:<b> a /an / the</b>
                    <p>- từ chỉ định: <b>this, that, these, those, every, each, …</b></p>

                    <p>- từ chỉ số lượng: <b>many, some, few, little, several</b>...
                    </p>
                    <p>- tính từ sở hữu: <b>my, his, her, your, our, their, its…</b></p>

                    <br></td>
                <td>
                    <p>He is a <i><u>student</u></i><i>. </i></p>

                    <p>These <i><u>flowers</u></i><i> </i>are beautiful.
                    </p>
                    <p>She needs some <i><u>water. </u></i></p>

                    <br></td>
            </tr>
            <tr valign="top">
                <td>
                    <br><b>Sau ngoại động từ (V </b>cần<b> O)</b>
                    <br></td>
                <td>
                    <br>She buys <i><u>books</u></i>.
                    <p>She meets a lot of <i><u>people</u></i>. </p>

                    <br></td>
            </tr>
            <tr valign="top">
                <td>
                    <br><b>Sau giới từ (prep. + N)</b>
                    <br></td>
                <td>
                    <br>He talked about <i><u>the story</u></i> yesterday.
                    <p>He is interested in <i><u>music</u></i>. </p>

                    <br></td>
            </tr>
            <tr valign="top">
                <td>
                    <br><b><span id="Trước_V">Trước V</span> </b>chia thì (N làm chủ từ)
                    <br></td>
                <td>
                    <br><i><u>The main</u></i> has just arrived.
                    <br></td>
            </tr>
            <tr valign="top">
                <td>
                    <br><b>Sau enough (enough + N)</b>
                    <br></td>
                <td>
                    <br>I don’t have enough <i><u>money</u></i> to buy that house.
                    <br></td>
            </tr>
            </tbody>
        </table>
        <p style="color:#ffa500">
            <span style="font-size:18px;"><strong><span>2. Tính từ</span></strong></span>
        </p>
        <p><strong>- Cách thành lập</strong>
        </p>
        <table border="1" cellpadding="1" cellspacing="1">
            <tbody>
            <tr valign="top">
                <td>
                    <br><b>formular</b>
                    <br></td>
                <td>
                    <br><b>Adjectives</b>
                    <br></td>
            </tr>
            <tr valign="top">
                <td>


                    <br><i>ful</i>
                    <br>

                </td>
                <td>
                    <br>Harmful, useful, successful, hopeful, helpful, peaceful, careful......
                    <br></td>
            </tr>
            <tr valign="top">
                <td>
                    <br><i>less</i>
                    <br>

                </td>
                <td>
                    <br>Childless, odourless, careless, hopeless, harmless, useless..............
                    <br></td>
            </tr>
            <tr valign="top">
                <td>


                    <br><i>ly</i>
                    <br>

                </td>
                <td>
                    <br>Manly, worldly, hourly, daily, weekly, monthly, yearly, friendly.......
                    <br></td>
            </tr>
            <tr valign="top">
                <td>


                    <br><i>like</i>
                    <br>

                </td>
                <td>
                    <br>Childlike, godlike, lifelike, ladylike, manlike..............
                    <br></td>
            </tr>
            <tr valign="top">
                <td>


                    <br><i>ish</i>
                    <br>

                </td>
                <td>
                    <br>Childish, boyish, girlish, selfish..............
                    <br></td>
            </tr>
            <tr valign="top">
                <td>


                    <br><i>y</i>
                    <br>

                </td>
                <td>
                    <br>Hearthy, dirty, dusty, snowy, windy, rainy, cloudy, sunny, sandy................
                    <br></td>
            </tr>
            <tr valign="top">
                <td>


                    <br><i>al</i>
                    <br>

                </td>
                <td>
                    <br>Natural, <a href="/k-hoach-khung-dn-tc-thiu-s-cua-tinh-an-giang.html">national</a>, industrial,
                    agricultural, cultural, magical................
                    <br></td>
            </tr>
            <tr valign="top">
                <td>


                    <br><i>ous</i>
                    <br>

                </td>
                <td>
                    <br>Dangerous, courageous, poisonous, mountainous................
                    <br></td>
            </tr>
            <tr valign="top">
                <td>


                    <br><i>ic</i>
                    <br>

                </td>
                <td>
                    <br>Artistic, electric, alcoholic, economic............................
                    <br></td>
            </tr>
            <tr valign="top">
                <td>


                    <br><i>able</i>
                    <br>

                </td>
                <td>
                    <br>Enjoyable, reasonable, respectable......................
                    <br></td>
            </tr>
            <tr valign="top">
                <td>
                    <br><i>Un/ im/ il/ ir/in/ dis + adj</i>
                    <br></td>
                <td>
                    <br>Unimportant, impossible, illegal, irregular, disable...........................
                    <br></td>
            </tr>
            </tbody>
        </table>
        <p><strong>- Vị trí</strong>
        </p>
        <table border="1" cellpadding="1" cellspacing="1">
            <tbody>
            <tr valign="top">
                <td>
                    <br><b>Trước N (Adj + N)</b>
                    <br></td>
                <td>
                    <br>This is an <i><u>interesting</u></i> books.
                    <br></td>
            </tr>
            <tr valign="top">
                <td>
                    <br><b><span id="Sau_TO_BE__I_am_tired_.__Sau:_become,_get,_look,_feel,_taste,_smell,_seem_…">Sau TO BE </span></b>
                    <br></td>
                <td>
                    <br>I am <i><u>tired</u></i>.
                    <br></td>
            </tr>
            <tr valign="top">
                <td>
                    <br><b>Sau: become, get, look, feel, taste, smell, seem … </b>
                    <br></td>
                <td>
                    <br>It becomes <i><u>hot. </u></i>
                    <p>She feels <i><u>sad. </u></i></p>

                    <br></td>
            </tr>
            <tr valign="top">
                <td>
                    <br><b><span id="Sau_trạng_từ_(adv_+_adj)_:_extremely">Sau trạng từ (adv + adj)</span></b>: <b>extremely</b>
                    (cực kỳ), <b>completely </b>(hoàn toàn), <b>really</b> (thực sự), terribly, very, quite, rather, …
                    <br></td>
                <td>
                    <br>It is extremely <i><u>cold</u></i>.
                    <p>I’m terribly <i><u>sorry</u></i>. </p>

                    <p>She is very <i><u>beautiful. </u></i>
                        <br></p></td>
            </tr>
            <tr valign="top">
                <td>
                    <br><b><span id="Sau_keep_/_make)__The_news_made_me_happy.__Sau_too_(be_+_too_+_adj)">Sau keep / make)</span></b>
                    <br></td>
                <td>
                    <br>The news made me <i><u>happy. </u></i>
                    <br></td>
            </tr>
            <tr valign="top">
                <td>
                    <br><b>Sau too (be + too + adj)</b>
                    <br></td>
                <td>
                    <br>That <a href="/bi-tp-vit-li-cu-so-snh-download-com-vn.html">house is
                    too </a><i><u>small. </u></i>
                    <br></td>
            </tr>
            <tr valign="top">
                <td>
                    <br><b><span id="Trước_enough_(be_+_adj_+_enough)">Trước enough (be + adj + enough)</span></b>
                    <br></td>
                <td>
                    <br>The house isn’t <i><u>large</u></i> enough.
                    <br></td>
            </tr>
            <tr valign="top">
                <td>
                    <br><b>Trong cấu trúc: be + so + adj + that</b>
                    <br></td>
                <td>
                    <br>She was so <i><u>angry</u></i> that she can’t speak.
                    <br></td>
            </tr>
            <tr valign="top">
                <td>
                    <br><b><span id="A,_an,_the,_this,_that,_his,_her,_their,_my,_…_+_(Adj_)_+_Noun">A, an, the, this, that, his, her, their, my, …</span></b>
                    + (<b>Adj</b>) + <b>Noun</b>
                    <br></td>
                <td>
                    <br>My <i><u>new</u></i> car is blue.
                    <br></td>
            </tr>
            <tr valign="top">
                <td>
                    <br><b>Trong câu cảm thán:</b>
                    <br>
                    <br><b>- How + adj + S + V</b>
                    <br>
                    <br><b>- What + (a / an) + adj + N</b>
                    <br></td>
                <td>
                    <p></p>
                    <p>How <i><u>beautiful</u></i> the girl is!</p>

                    <p>What an <i><u>interesting</u></i> film!
                        <br></p></td>
            </tr>
            </tbody>
        </table>
        <p><strong>- Chú ý:</strong></p>
        <p>Hình thức hiện tại phân từ (-ING): Diễn tả nhận thức của người nói về người/việc gì đó.<br>
            Ex: That film is interesting. (Bộ phim đó hay.) (Người xem nhận thấy bộ phim hay.)</p>
        <p>Hình thức quá khứ phân từ (-ED): Diễn tả cảm giác của người nói do người/việc gì đó đem lại.<br>
            Ex: I am confused about the question. (Tôi bị bối rối về câu hỏi.) (Câu hỏi làm tôi bối rối.)</p>
        <p style="color:#ffa500">
            <span style="font-size:18px;"><strong><span>3. Động từ</span></strong></span>
        </p>
        <p><strong>- Cách thành lập</strong>
        </p>
        <table border="1" cellpadding="1" cellspacing="1">
            <tbody>
            <tr valign="top">
                <td>
                    <br>formular
                    <br></td>
                <td>
                    <br><u> </u>Verbs
                    <br></td>
            </tr>
            <tr valign="top">
                <td>
                    <br>Dis + verb
                    <br></td>
                <td>
                    <br>Dislike, disagree, discharge, disappear, disappoint...................
                    <br></td>
            </tr>
            <tr valign="top">
                <td>
                    <br>Mis + verb
                    <br></td>
                <td>
                    <br>Mislead, misread, misunderstand,..........................
                    <br></td>
            </tr>
            <tr valign="top">
                <td>
                    <br>Out + verb
                    <br></td>
                <td>
                    <br>Outrun, outlive, outnumber,.............................
                    <br></td>
            </tr>
            <tr valign="top">
                <td>
                    <br>Over + verb
                    <br></td>
                <td>
                    <br>Overweigh, overpay, overturn, overheat, overcharge.........................
                    <br></td>
            </tr>
            <tr valign="top">
                <td>
                    <br>Re + verb
                    <br></td>
                <td>
                    <br>Rewrite, reuse, recycle, return, retell, recall,.............................
                    <br></td>
            </tr>
            <tr valign="top">
                <td>
                    <br>Under + verb
                    <br></td>
                <td>
                    <br>Underdevelop, underdo, underline, undercharge, undersign.....................
                    <br></td>
            </tr>
            <tr valign="top">
                <td>
                    <br>En + adj
                    <br></td>
                <td>
                    <br>Enable, enrich, enlarge, encourage, endanger...............
                    <br></td>
            </tr>
            <tr valign="top">
                <td>
                    <br>ADJ/ noun + en
                    <br></td>
                <td>
                    <br>Weaken, sharpen, tighten, loosen, shorten, soften
                    <br></td>
            </tr>
            <tr valign="top">
                <td>
                    <br>Adj/ noun + ise/ ize
                    <br></td>
                <td>
                    <br>Socialize, memorize, industrialize,sympathise economise..................
                    <br></td>
            </tr>
            </tbody>
        </table>
        <p style="color:#ffa500">
            <span style="font-size:18px;"><strong><span>3. Trạng từ</span></strong></span>
        </p>
        <p>
            <span><span><strong>- Adj + ly</strong>: Phần lớn để tạo nên trạng từ ta cộng thêm đuôi “ly” vào sau tính từ.</span></span>
        </p>
        <p>
            <span><span>Ex : beautifully, quickly, ….</span></span></p>

        <p>
            <span><span>- Một số trường hợp “y” chuyển thành “i” và thêm “ly”.</span></span></p>

        <p>
            <span><span>Ex : lucky -&gt; luckily, happy -&gt; happily,…</span></span></p>

        <p>
            <span><span>- Trạng từ với tính từ viết giống nhau.</span></span></p>

        <p>
            <span><span>Ex: fast, late, early, hard.</span></span></p>

        <p>
            <span><span><strong>- Lưu ý:</strong> “hard”, “harly”, “late”, “lately” đều là trạng từ nhưng nghĩa khác nhau.</span></span>
        </p>
        <table border="1">
            <tr>
                <td><strong>Từ</strong></td>
                <td><strong>Nghĩa</strong></td>
            </tr>
            <tr>
                <td>Hard</td>
                <td>Khó khăn,chật vật, hết sức cố gắn</td>
            </tr>
            <tr>
                <td>Hardly</td>
                <td>Hầu như không</td>
            </tr>
            <tr>
                <td>Late</td>
                <td>Muộn, trễ, chậm</td>
            </tr>
            <tr>
                <td>Lately</td>
                <td>Vào thời gian gần đây, mới đây</td>
            </tr>
        </table>
    </div>
</div>
<div class="item-active" id="item-2">
    <div class="item-title-active">
        <div class="item-title-active-content">II. TỪ GHÉP
        </div>

    </div>
    <div class="item-active-content">
        <p style="color:#ffa500">
            <span style="font-size:18px;"><strong>1. &nbsp; Danh từ ghép</strong></span>
        </p>

        <div>
            <span><span>Các phương thức thông thường nhất là sự ghép tự do hai danh từ với nhau để tạo thành danh từ mới. Cách ghép tự do này có thể áp dụng đối với nhiều trường hợp và danh từ ghép có thể là hai từ hoặc một từ, đôi khi mang một nghĩa mới.</span></span>
        </div>

        <div>
            <span><span>Phần lớn danh từ ghép được tạo thành bởi:</span></span></div>


        <div>
            <span><span>&nbsp;&nbsp;&bull; Danh từ + danh từ:</span></span></div>


        <div>
            <span><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; A tennis club: câu lạc bộ quần vợt</span></span>
        </div>
        <div>
            <span><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; A telephone bill: hóa đơn điện thoại</span></span>
        </div>
        <div>
            <span><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; A train journey: chuyến đi bằng tàu hỏa</span></span>
        </div>


        <div>
            <span><span>&nbsp;&nbsp;&bull; Danh động từ + danh từ</span></span></div>


        <div>
            <span><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; A swimming pool: hồ bơi</span></span></div>
        <div>
            <span><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; A sleeping bag: túi ngủ</span></span></div>
        <div>
            <span><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Washing powder: bột giặt</span></span></div>


        <div>
            <span><span>&nbsp;&nbsp;&bull; Tính từ + danh từ:</span></span></div>


        <div>
            <span><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; A greenhouse: nhà kình</span></span></div>
        <div>
            <span><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; A blackboard: bảng viết</span></span></div>
        <div>
            <span><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Quicksilver: thủy ngân</span></span></div>
        <div>
            <span><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; A black sheep: kẻ hư hỏng</span></span></div>


        <div>
            <span><span>&nbsp;&nbsp;&bull; Một số ít danh từ ghép có thể gồm ba từ hoặc nhiều hơn:</span></span></div>


        <div>
            <span><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Merry- go- round (trò chơi ngựa quay)</span></span>
        </div>
        <div>
            <span><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Forget- me- not (hoa lưu li)</span></span></div>
        <div>
            <span><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Mother- in- law (mẹ chồng/ mẹ vợ)</span></span>
        </div>

        <div>
            <span><span>Danh từ ghép có thể được viết như:</span></span></div>


        <div>
            <span><span>&nbsp;&nbsp;&bull; Hai từ rời:</span> book seller (người bán sách), dog trainer (người huấn luyện chó)</span>
        </div>


        <div>
            <span><span>&nbsp;&nbsp;&bull; Hai từ có gạch nối ở giữa:</span> waste- bin (giỏ rác), living-room (phòng khách)</span>
        </div>


        <div>
            <span><span>&nbsp;&nbsp;&bull; Một từ duy nhất:</span> watchmaker (thợ chế tạo đồng hồ), schoolchildren (học sinh), chairman (chủ tọa).</span>
        </div>


        <div>
            <span><span>Trong cấu tạo “danh từ + danh từ”, danh từ đi trước thường có dạng số ít nhưng cũng có trường hợp ở dạng số nhiều:</span></span>
        </div>
        <div>
            <span><span>A vegetable garden (vườn rau)</span></span></div>
        <div>
            <span><span>An eye test (kiểm tra mắt)</span></span></div>
        <div>
            <span><span>A sports shop (cửa hàng bán đồ thể thao)</span></span></div>
        <div>
            <span><span>A goods train (tàu chở hàng)</span></span></div>

        <p style="color:#ffa500">
            <span style="font-size:18px;"><strong>2.  Tính từ ghép</strong></span>
        </p>

        <div>
            <span><span>Tính từ ghép thường gồm hai hoặc nhiều từ kết hợp với nhau và được dùng như một từ duy nhất. Tính từ ghép có thể được viết thành:</span></span>
        </div>
        <div>
            <span><span>- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Một từ duy nhât:</span></div>
        <div>
            <span><span>&nbsp; Life + long -&gt; lifelong (cả đời)</span></span></div>
        <div>
            <span><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Home + sick -&gt; homesick (nhớ nhà)</span></span>
        </div>
        <div>
            <span><span>- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Hai từ có dấu gạch nối ở giữa :</span>
        </div>
        <div>
            <span><span>&nbsp; After + school -&gt; after- school (sau giờ học)</span></span></div>
        <div>
            <span><span>&nbsp; Back + up -&gt;back-up/ backup (giúp đỡ)</span></span></div>
        <div>
            <span><span>- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Nhiều từ có dấu gạch nối ở giữa</span>
        </div>
        <div>
            <span><span>&nbsp; A two-hour-long test (bài kiểm tra kéo dài hai giờ)</span></span></div>
        <div>
            <span><span>&nbsp; A ten-year-old-boy (cậu bé lên mười)</span></span></div>
        <div>
            <span><span>Tính từ ghép có thể được tạo thành bởi:</span></span></div>
        <div>
            <span><span>- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Danh từ + tính từ:</span></div>
        <div>
            <span><span>&nbsp; Duty-free (miễn thuế) noteworthy (đáng chú ý)</span></span></div>
        <div>
            <span><span>&nbsp; Nationwide (khắp nước) blood-thirsty (khát máu)</span></span></div>
        <div>
            <span><span>- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Danh từ + phân từ:</span></div>
        <div>
            <span><span>&nbsp; Handmade (làm bằng tay) time-consuming (tốn thời gian)</span></span></div>
        <div>
            <span><span>&nbsp; Breath- taking (đáng kinh ngạc) heart- broken (đau khổ)</span></span></div>
        <div>
            <span><span>- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Trạng từ + phân từ:</span></div>
        <div>
            <span><span>&nbsp; ill- equipped (trang bị kém) outspoken (thẳng thắn)</span></span></div>
        <div>
            <span><span>&nbsp; well- behaved (lễ phép) high- sounding (huyên hoang)</span></span></div>
        <div>
            <span><span>- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Tính từ + phân từ:</span></div>
        <div>
            <span><span>&nbsp; Good-looking (xinh xắn) easy-going (thoải mái)</span></span></div>
        <div>
            <span><span>&nbsp; Beautiful-sounding (nghe hay) middle-ranking (bậc trung)</span></span></div>
        <div>
            <span><span>- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Tính từ+ danh từ kết hợp với tận cùng –ed:</span>
        </div>
        <div>
            <span><span>&nbsp; old-fashioned (lỗi thời) absent –minded (đãng trí)</span></span></div>
        <div>
            <span><span>&nbsp; fair-skinned (da trắng) artistic- minded (có óc thẩm mỹ)</span></span></div>
    </div>
</div>
<div class="item-active" id="item-3">
    <div class="item-title-active">
        <div class="item-title-active-content">III. THAY ĐỔI PHỤ TỐ
        </div>

    </div>
    <div class="item-active-content">
        <div>
            <span><span>Bằng cách thêm phụ tố (affixation) bao gồm tiền tố (prefixes) vào đầu một từ gốc hoặc hậu tố (suffixes) vào cuối từ gốc ta có cách cấu tạo một hình thái từ mới rất phổ biến trong tiếng Anh.</span></span>
        </div>

        <p style="color:#ffa500">
            <span style="font-size:18px;"><strong><span>1. Hậu tố tạo động &#8203;từ:</span></strong></span></p>

        <div>
            <span><span>- &nbsp;&nbsp;&nbsp;&nbsp;</span> ise/ -ize: modernize, popularize, industrialize…</span></div>
        <div>
            <span><span>- &nbsp;&nbsp;&nbsp;&nbsp;</span> ify: beautify, purify, simplify</span></div>

        <p style="color:#ffa500">
            <span style="font-size:18px;"><strong><span>2. Tiền tố phủ định của tính từ:</span></strong></span></p>

        <table align="center" border="1">
            <tbody>
            <tr>
                <td>
                    <div>
                        <span><span>Tiền tố phủ định</span></span></div>
                </td>
                <td>
                    <div>
                        <span><span>Ví dụ</span></span></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        <span><span>im- (đứng trước tính từ bắt đầu m hoặc p)</span></span></div>
                </td>
                <td>
                    <div>
                        <span><span>Immature, impatient</span></span></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        <span><span>ir- (đứng trước tính từ bắt đầu r)</span></span></div>
                </td>
                <td>
                    <div>
                        <span><span>Irreplaceable. irregular</span></span></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        <span><span>il- (đứng trước tính từ bắt đầu l)</span></span></div>
                </td>
                <td>
                    <div>
                        <span><span>Illegal, illegible, illiterate</span></span></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        <span><span>in-</span></span></div>
                </td>
                <td>
                    <div>
                        <span><span>Inconvenient, inedible</span></span></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        <span><span>dis-</span></span></div>
                </td>
                <td>
                    <div>
                        <span><span>Disloyal, dissimilar</span></span></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        <span><span>un-</span></span></div>
                </td>
                <td>
                    <div>
                        <span><span>Uncomfortable, unsuccessful</span></span></div>
                </td>
            </tr>
            </tbody>
        </table>
        <div style="clear:both;">
            &nbsp;
        </div>

        <div>
            <span><span>Lưu ý:</span> Đối với các tiền tố in-, im-, ngoài ý nghĩa phủ định chúng còn mang nghĩa ‘bên trong; vào trong”, Ví dụ: internal, income, import..</span>
        </div>


        <div>
            <span><span>&nbsp;&nbsp;&bull; Các tiền tố un- và dis- còn được dùng để thành lập từ trái nghĩa của động từ: tie/untie, appear/disappear..hoặc đảo ngược hành động hành động của động từ: disbelieve, disconnect, dislike, disqualify, unbend, undo, undress, unfold, unload, unlock, unwrap..</span></span>
        </div>


        <div>
            <span><span>Ngoài ra ra còn có tiền tố phủ định de- và non: decentralize, nonsense…</span></span></div>

        <p style="color:#ffa500">
            <span style="font-size:18px;"><strong><span>3. Hậu tố tính từ:</span></strong></span></p>

        <div>
            <span><span>-y: bushy, dirty, hairy…</span></span></div>
        <div>
            <span><span>-ic: atomic, economic, poetic</span></span></div>
        <div>
            <span><span>-al: cultural, agricultural, environmental</span></span></div>
        <div>
            <span><span>-ical: biological, grammatical</span></span></div>
        <div>
            <span><span>-ful: painful, hopeful, careful</span></span></div>
        <div>
            <span><span>-less: painless, hopeless, careless</span></span></div>
        <div>
            <span><span>-able: loveable, washable, breakable</span></span></div>
        <div>
            <span><span>-ive: productive, active</span></span></div>
        <div>
            <span><span>-ous: poisonous, outrageous</span></span></div>
        <div>
            <span><span>* </span>Hậu tố tạo danh từ:</span></div>

        <p style="color:#ffa500">
            <span style="font-size:18px;"><strong><span>4. Các hậu tố hình thành danh từ thường gặp.</span></strong></span>
        </p>

        <table align="center" border="1">
            <tbody>
            <tr>
                <td>
                    <div>
                        <span><span>Hậu tố</span></span></div>
                </td>
                <td>
                    <div>
                        <span><span>Ý nghĩa</span></span></div>
                </td>
                <td>
                    <div>
                        <span><span>Ví dụ</span></span></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        <span><span>-er</span></span></div>
                    <div>
                        <span><span>-or</span></span></div>


                </td>
                <td>
                    <div>
                        <span><span>- chỉ người thực hiện một hành động</span></span></div>
                    <div>
                        <span><span>- ta còn dùng hậu tố này cho rất nhiều động từ để hình thành danh từ</span></span>
                    </div>
                </td>
                <td>
                    <div>
                        <span><span>Writer, painter, worker, actor, operator</span></span></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        <span><span>- er/- or</span></span></div>
                </td>
                <td>
                    <div>
                        <span><span>Dùng chỉ vật thực hiện một công việc nhất định</span></span></div>
                </td>
                <td>
                    <div>
                        <span><span>Pencil- sharpener, grater</span></span></div>
                    <div>
                        <span><span>Bottle-opener, projector</span></span></div>

                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        <span><span>-ee</span></span></div>
                </td>
                <td>
                    <div>
                        <span><span>Chỉ người nhận hoặc trải qua một hành động nào đó</span></span></div>
                </td>
                <td>
                    <div>
                        <span><span>Employee, payee</span></span></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        <span><span>-tion</span></span></div>
                    <div>
                        <span><span>-sion</span></span></div>
                    <div>
                        <span><span>-ion</span></span></div>
                </td>
                <td>
                    <div>
                        <span><span>Dùng để hình thành danh từ từ động từ</span></span></div>
                </td>
                <td>
                    <div>
                        <span><span>Complication, admission, donation, alteration</span></span></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        <span><span>-ment</span></span></div>
                </td>
                <td>
                    <div>
                        <span><span>Chỉ hành động hoặc kết quả</span></span></div>
                </td>
                <td>
                    <div>
                        <span><span>Bombardment, development</span></span></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        <span><span>-ist</span></span></div>
                    <div>
                        <span><span>-ism</span></span></div>
                </td>
                <td>
                    <div>
                        <span><span>Chỉ người</span></span></div>
                    <div>
                        <span><span>Chỉ hoạt động hoặc hệ tư tưởng (hai hậu tố này dùng cho chính trị , niềm tin và hệ tư tưởng hoặc ý thức hệ của con người)</span></span>
                    </div>
                </td>
                <td>
                    <div>
                        <span><span>Buddhist, Marxist</span></span></div>
                    <div>
                        <span><span>Buddhism, communism</span></span></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        <span><span>-ist</span></span></div>
                </td>
                <td>
                    <div>
                        <span><span>Còn dùng để chỉ người chơi một loại nhạc cụ, chuyên gia một lĩnh vực…</span></span>
                    </div>
                </td>
                <td>
                    <div>
                        <span><span>Guitarist, violinist, pianist</span></span></div>
                    <div>
                        <span><span>Economist, biologist</span></span></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        <span><span>-ness</span></span></div>
                </td>
                <td>
                    <div>
                        <span><span>Dùng để hình thành danh từ từ tính từ</span></span></div>
                </td>
                <td>
                    <div>
                        <span><span>Goodness, readiness, forgetfulness, happiness, sadness, weakness</span></span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        <span><span>-hood</span></span></div>
                </td>
                <td>
                    <div>
                        <span><span>Chỉ trạng thái hoặc phẩm chẩt</span></span></div>

                </td>
                <td>
                    <div>
                        <span><span>Childhood, falsehood</span></span></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        <span><span>-ship</span></span></div>
                </td>
                <td>
                    <div>
                        <span><span>Chỉ trạng thái, phẩm chất, tình trạng, khả năng hoặc nhóm</span></span></div>

                </td>
                <td>
                    <div>
                        <span><span>Friendship, citizenship, musicianship, membership</span></span></div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="item-active" id="item-4">
    <div class="item-title-active">
        <div class="item-title-active-content">IV. CÁCH LÀM BÀI TẬP
        </div>

    </div>
    <div class="item-active-content">
        <div>
            <span><span>Khi lựa chọn đáp án đúng cho bài tập </span>các phương thức cấu tạo từ trong tiếng Anh ta cần chú ý những điểm sau:</span>
        </div>
        <div>
            <span><span>- &nbsp;&nbsp;&nbsp;&nbsp;</span> Xác định từ loại của từ cần tìm</span></div>
        <div>
            <span><span>- &nbsp;&nbsp;&nbsp;&nbsp;</span> Danh từ cấn tìm số ít hay số nhiều</span></div>
        <div>
            <span><span>- &nbsp;&nbsp;&nbsp;&nbsp;</span> Dộng từ trong câu chia ở thì nào, theo chủ ngữ số ít hay số nhiều</span>
        </div>
        <div>
            <span><span>- &nbsp;&nbsp;&nbsp;&nbsp;</span> Đáp án cần tìm có nghĩa khẳng định (positive) hay phủ định (negative)</span>
        </div>
        <div>
            <span><span>- &nbsp;&nbsp;&nbsp;&nbsp;</span> Nếu đáp án cần tìm là danh từ thì xác định đó là danh từ chỉ người, vật, hay sự vật</span>
        </div>

        <div>
            <span>Cần cân nhắc về nghĩa trong câu với những từ có cùng từ loại.</span></div>

        <div>
            <span><strong><span>Ví dụ 1</span>: </strong>Chọn từ thích hợp tương ứng với A.,B, C, hoặc D để hoàn thành câu sau:</span>
        </div>
        <div>
            <span><span>&nbsp; He cycled ________and had an accident.</span></span></div>


        <div>
            <span><span>A. careful &nbsp;</span> B. careless C. carefully &nbsp;&nbsp;D. carelessly</span></div>


        <div>
            <span><span>Hướng dẫn</span>: Ta dùng trạng từ bổ nghĩa cho động từ cycle, ta lại chọn carelessly thay vì carefully vì nghĩa của câu.</span>
        </div>
        <div>
            <span><span>&nbsp; -&gt; Đáp án là D.</span></span></div>
        <div>
            <span><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;He cycled carelessly and had an accident</span>. (Anh ấy đi xe máy ẩu và gặp tai nạn)</span>
        </div>

        <div>
            <span><strong><span>Ví dụ 2</span></strong>: Chọn từ thích hợp tương ứng với A.,B, C, hoặc D để hoàn thành câu sau:</span>
        </div>
        <div>
            <span><span>&nbsp; Peter ________ opened the door of cellar, wondering what he might find.</span></span>
        </div>


        <div>
            <span><span>A. cautious B. cautiously C. cautional D. cautionally</span></span></div>


        <div>
            <span><span>Hướng dẫn:</span> Peter ________opened the door of the cellar, wondering what he might find. (Peter mở cửa tầng hầm _____, tự hỏi rằng mình có thể tìm thấy gì).</span>
        </div>
        <div>
            <span><span>&nbsp; B: đáp án đúng:</span> cautiously (trạng từ) = (một cách) thận trọng</span></div>
        <div>
            <span><span>&nbsp; A: Phương án sai: </span>cautious (tính từ) = thận trọng</span></div>
        <div>
            <span><span>&nbsp; C, D Phương án sai: không có các từ này trong tiếng Anh.</span></span></div>

        <div>
            <span><strong><span>Ví dụ 3:</span> </strong>Chọn từ thích hợp tương ứng với A.,B, C, hoặc D để hoàn thành câu sau:</span>
        </div>
        <div>
            <span><span>&nbsp; The new dress makes you more__________.</span></span></div>
        <div>
            <span><span>&nbsp; A. beauty B. beautiful C. beautifully D. beautify</span></span></div>
        <div>
            <span><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Hướng dẫn</span>: make + danh từ/ đại từ + tính từ/ tính từ so sánh hơn: làm cho, khiến cho…</span>
        </div>
        <div>
            <span><span>&nbsp; Đáp án là B. </span>“The new dress makes you more beautiful”. (Chiếc áo đầm mới làm cho bạn xinh đẹp hơn).</span>
        </div>
    </div>
</div>
