<meta charset="UTF-8">
<div class="item-active" id="item-1">
    <div class="item-title-active">
        <div class="item-title-active-content">I. ĐẢO NGỮ LÀ GÌ?
        </div>

    </div>
    <div class="item-active-content">
        <p>-&nbsp;<strong>Câu đảo ngữ</strong>&nbsp;thường được dùng để nhấn mạnh tính đặc biệt của một sự kiện nào đó và thường được mở đầu bằng một trạng từ (phó từ) nhất định. Trạng từ này không đứng ở vị trí bình thường của nó mà đảo lên đứng ở đầu câu nhằm nhấn mạnh vào hành động của chủ ngữ. Người ta gọi đó là câu đảo ngữ.&nbsp;
        </p>

        <p>- Trong câu đảo ngữ, ngữ pháp sẽ thay đổi: Đằng sau phó từ đứng đầu câu là trợ động từ rồi mới đến chủ ngữ và động từ chính:<br>
Eg:</p>
        <p>&nbsp;&nbsp;&bull; <em>Hardly could we understand what he was saying. (Hầu như chúng ta không hiểu những gì ông ấy nói.) &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</em>
        </p>
        <p>&nbsp;&nbsp;&bull; <em>Seldom does she listen to classical music. (Hiếm khi nào cô ấy nghe nhạc cổ điển.)</em>
        </p>

    </div>
</div>
<div class="item-active" id="item-2">
    <div class="item-title-active">
        <div class="item-title-active-content">II. CÁC DẠNG CÂU ĐẢO NGỮ
        </div>

    </div>
    <div class="item-active-content">
        <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
            <tbody>
            <tr>
                <td style="text-align:center"><span style="color:#ffa500"><strong>Dạng Câu Đảo Ngữ</strong></span></td>
                <td style="text-align:center"><span style="color:#ffa500"><strong>Cấu Trúc</strong></span></td>
                <td style="text-align:center"><span style="color:#ffa500"><strong>Ví Dụ</strong></span></td>
            </tr>
            <tr>
                <td><strong>- Đảo ngữ với No và Not</strong></td>
                <td>
                    <p>- No + N + Auxiliary + S + Verb (inf)</p>

                    <p>- Not any + &nbsp;N + Auxiliary + &nbsp;S + Verb (inf)
                    </p>
                </td>
                <td>

                    <p>&nbsp;&nbsp;&bull; <em><u><strong>No</strong></u>&nbsp;books shall I lend you from now on.<br>
				=&nbsp;<u><strong>Not any</strong></u>&nbsp;money shall I lend you from now on.<br>
				(Từ bây giờ tôi sẽ không cho bạn mượn bất cứ quyển sách nào nữa.)</em></p>

                </td>
            </tr>
            <tr>
                <td><strong>- Đảo ngữ với các trạng từ phủ định: Never, Rarely, Seldom, Little, Hardly ever,…..</strong>
                </td>
                <td>- Never/ Rarely/ Seldom /Little/ Hardly ever + Auxiliary + S + V
                </td>
                <td>

                    <p>&nbsp;&nbsp;&bull; <em><span>Peter&nbsp;<u><strong>rarely&nbsp;</strong></u>studies hard.<br>
				=&gt;&nbsp;<u><strong>Rarely</strong></u>&nbsp;does Peter study hard.<br>
                        Hiếm khi Peter học hành chăm chỉ.</span></em></p>

                </td>
            </tr>
            <tr>
                <td><strong>- Đảo ngữ với ONLY</strong>
                </td>
                <td>
                    <p>
                        - Only once/ Only later/ Only in this way/ Only then + Auxiliary + S + V
                    </p>

                    <p>- Only after + N</p>

                    <p>- Only by V_ing/ N</p>

                    <p>- Only when + clause</p>

                    <p>- Only with + N</p>

                    <p>- Only if+ clause</p>

                    <p>- Only in adv of time/ place</p>
                </td>
                <td>

                    <p>&nbsp;&nbsp;&bull;
                        <em><u><strong>Only one</strong></u>&nbsp;time did I meet Obama.<br>
				Tôi chỉ được gặp Obama mỗi một lần.</em></p>
                    <p>&nbsp;&nbsp;&bull; <em><u><strong>Only when</strong></u>&nbsp;I talked to her did I like her.<br>
				(Chỉ khi tôi nói chuyện với cô ấy thì tôi mới quý cô ấy.)</em></p>

                </td>
            </tr>
            <tr>
                <td><strong>- Đảo ngữ với các cụm từ có No</strong></td>
                <td>
                    <p>- At no time</p>

                    <p>- On no condition</p>

                    <p>- On no account + Auxiliary + S + N</p>

                    <p>- Under/ in no circumstances</p>

                    <p>- For no reason</p>

                    <p>- In no way</p>

                    <p>- No longer</p>
                </td>
                <td>

                    <p>&nbsp;&nbsp;&bull; <em><u><strong>Under no&nbsp;case</strong></u>&nbsp;should you leave here.<br>
				<em>Trong bất cứ trường hợp nào bạn cũng không nên rời khỏi đây.</em></em></p>
                    <p>&nbsp;&nbsp;&bull; <em><u><strong>No longer</strong></u>&nbsp;does he live next to me.<br>
				<em>Bây giờ anh ấy không còn là hàng xóm của tôi nữa.</em></em></p>

                </td>
            </tr>
            <tr>
                <td><strong>- Đảo ngữ với SO và SUCH</strong></td>
                <td>- So + Tính từ+ Trợ động từ+ chủ ngữ+ Danh từ<br>
			Such + be + N + that + clause.</td>
                <td>

                    <p>&nbsp;&nbsp;&bull; <em>She worked&nbsp;<u><strong>so</strong></u>&nbsp;hard that he forgot his lunch. (Anh ấy làm việc chăm chỉ để quên bữa trưa.)<br>
				<em>--&gt;&nbsp;<u><strong>So</strong></u>&nbsp;hard did he work that he forgot his lunch.</em></em>
                    </p>
                    <p>&nbsp;&nbsp;&bull; <em>Her anger was&nbsp;<u><strong>such that</strong></u>&nbsp;she broke the vase.<br>
				<em>--&gt;<u><strong>Such</strong></u>&nbsp;was her anger that she broke the vase.</em></em>
                    </p>

                </td>
            </tr>
            <tr>
                <td><strong>- Đảo ngữ với Not only……. but……also…</strong></td>
                <td><br>- Not only + Auxiliary + S + V + but…. also……….</td>
                <td>

                    <p>&nbsp;&nbsp;&bull; <em><u><strong>Not only</strong></u>&nbsp;is he good at History&nbsp;<u><strong>but</strong></u>&nbsp;he&nbsp;<u><strong>also</strong></u>&nbsp;sings very beautifully.<br>
				(Không những anh ấy giỏi lịch sử mà còn hát rất hay.)</em></p>

                </td>
            </tr>
            <tr>
                <td><strong>- Đảo ngữ với NOT UNTIL/TILL (THEN/LATER)</strong></td>
                <td>- Not until/till + Clause + Au + S + V<br>
			Then/later/ Adv of time</td>
                <td>

                    <p>&nbsp;&nbsp;&bull; <em>It was not I became a mother that I knew how my mother loved me.<br>
				=&gt;&nbsp;<u><strong>Not until</strong></u>&nbsp;did I become a mother that I knew how my mother loved me.<br>
				(Mãi cho đến khi tôi làm mẹ tôi mới biết mẹ yêu tôi đến nhường nào.)</em></p>

                </td>
            </tr>
            <tr>
                <td><strong>- Đảo ngữ với NEITHER/NOR và SO</strong></td>
                <td>- Khi NEITHER/NOR đứng ở đầu một mệnh đề thì ta thực hiện đảo ngữ. NEITHER/NOR dùng cho câu phủ định, còn SO dùng cho câu khẳng định.
                </td>
                <td>

                    <p>&nbsp;&nbsp;&bull;
                        <em>They don't like meat, and neither/nor&nbsp;<u><strong>do I</strong></u>.</em>
                    </p>
                    <p>&nbsp;&nbsp;&bull;<em>I don’t like him, nor do I hate him.</em></p>
                    <p>&nbsp;&nbsp;&bull;
                        <em>&nbsp;I can’t sing nor can I play any musical instruments.</em>
                    </p>
                    <p>&nbsp;&nbsp;&bull;
                        <em>&nbsp;She can play the guitar, and so&nbsp;<u><strong>can I</strong></u>.</em>
                    </p>

                </td>
            </tr>
            <tr>
                <td><strong>- Đảo ngữ với câu điều kiện</strong></td>
                <td>
                    <p>-&nbsp;Câu điều kiện loại 1: If-clause = Should +S + V…
                    </p>

                    <p>- Câu điều kiện loại 2: If-clause = Were &nbsp;S + to-V/ Were + S…
                    </p>

                    <p>-Câu điều kiện loại 3 : If-clause = Had + S + V­­3
                    </p>
                </td>
                <td>

                    <p>&nbsp;&nbsp;&bull;
                        <em>Should she come late, she will miss the train. (<strong>ĐK1</strong>)<br>
				<em>(Nếu cô ấy đến muộn, cô ấy sẽ bỏ lỡ chuyến tàu.)</em></em></p>
                    <p>&nbsp;&nbsp;&bull; <em>If I knew her, I would invite her to the party = Were I to know her, I…….. (<strong>ĐK2</strong>)<br>
				(<em>Nếu tôi biết cô ấy, tôi sẽ mời cô ấy vào bữa tiệc = Nếu tôi biết cô ấy, tôi ...... ..)</em></em>
                    </p>
                    <p>&nbsp;&nbsp;&bull;
                        <em>If my parents had encouraged me, I would have passed exam (<strong>ĐK3</strong>)<br>
				(<em>Nếu ba mẹ động viên tôi, tôi sẽ vượt qua kỳ thi.)</em></em></p>

                </td>
            </tr>
            <tr>
                <td><strong>- Đảo ngữ sau các trạng từ chỉ phương hướng hoặc vị trí</strong>
                </td>
                <td>- Khi câu có một từ hoặc một cụm trạng ngữ chỉ phương hướng hoặc vị trí thì nội động từ được đảo lên trước chủ ngữ.
                </td>
                <td>
                    <p>Peter started to open the box. A watch was inside the first.
                    </p>

                    <p>-&gt; Peter started to open the box. Inside the first was a watch.
                    </p>

                    <p>Her cat sat in an armchair.</p>

                    <p>-&gt; In an armchair sat her cat.
                    </p>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
