<meta charset="UTF-8">
<div class="item-active" id="item-1">
    <div class="item-title-active">
        <div class="item-title-active-content">I. ĐỊNH NGHĨA
        </div>

    </div>
    <div class="item-active-content">
        <p>
            <strong>Collocations</strong> là sự kết hợp các từ theo tập quán, qui ước (conventional word combinations),
            hay gọi cách khác
            là sự kết hợp từ tự nhiên.</p>
        <p>Chúng ta có thể nói: "a burning desire" (một khao khát cuồng nhiệt) hay "a blazing row" (một chuỗi, hàng
            sáng rực)... nhưng ta không nói: "a blazing desire" hay "a burning row". Một ai đó có thể là "a heavy
            smoker" (một tay nghiện thuốc lá nặng) hoặc "a devoted friend" (một bằng hữu tận tụy) nhưng không thể nói,
            "a devoted smoker" hoặc "a heavy friend". Theo ngữ nghĩa thì những cách dùng từ như trên cũng được xem là
            những cấu trúc đặc biệt của Anh ngữ.</p>
        <p>Những cách diễn đạt như thế khá dễ hiểu, nhưng thật không dễ dàng cho người học tiếng Anh sử dụng cho đúng.
            Làm thế nào để kết hợp các từ lại cho chính xác, cho "giống như người bản xứ sử dụng"? Chẳng hạn để diễn
            tả một người hút thuốc lá nhiều, ta có thể nghĩ đến một loạt các tính từ để kết hợp với danh
            từ smoker như: strong, hard, big, mad, fierce, devoted... nhưng sự việc đã được người Anh "chọn sẵn" từ lâu
            rồi. Đó là tĩnh từ: heavy, và chỉ những người biết được từ này thì diễn đạt "người hút thuốc lá nhiều, hay
            người ghiền thuốc lá" là heavy smoker mới chính xác thôi. Một người mới học tiếng Anh có thể dùng các tĩnh
            từ liệt kê ở trên để đặt trước smoker như "strong smoker" chẳng hạn để nói thì người nghe vẫn hiểu, nhưng
            câu nói sẽ không được tự nhiên.</p>
        <p>Cách kết hợp từ theo quy ước như trên trong Anh ngữ gọi là collocations và bất cứ ngôn ngữ nào cũng có một
            số rất lớn những collocations này. Thí dụ trong Việt ngữ, con chó đen ta kêu là "chó mực", con mèo có ba màu
            lông ta kêu là "mèo tam thể"... nhưng nếu một người nước ngoài học tiếng Việt nói "chó đen" hay "mèo ba màu"
            thì ta cũng vẫn hiểu.</p>
        <p>Tóm lại, việc học các collocations không có một quy tắc nào rõ rệt, chúng ta cần phải học thuộc lòng (learn
            by heart) rồi thực tập (practice), áp dụng (put in use), dần dần sẽ có thể mở rộng vốn từ.
        </p>
    </div>
</div>
<div class="item-active" id="item-2">
    <div class="item-title-active">
        <div class="item-title-active-content">II. CÁC DẠNG KẾT HỢP TỪ TỰ NHIÊN
        </div>

    </div>
    <div class="item-active-content">
        <p style="color:#ffa500">A. Tính từ + Danh Từ (Adjectives and Nouns)</p>
        <p>Chúng ta cần chú ý rằng, có nhiều tĩnh từ được sử dụng với những danh từ cụ thể.  
        <p>e. g. </p>
        <p> &nbsp;&nbsp;&bull; Jean always wears red or yellow or some other bright color. <span style="color:#008000">(Jean luôn luôn mặc đồ đỏ, đồ vàng, hoặc
            những đồ có màu chói sáng)</span></p>
        <p>&nbsp;&nbsp;&bull; We had a brief chat about the exams but didn't have time to discuss them properly. <span
                style="color:#008000">(Tụi tôi có
            một cuộc nói chuyện phiếm ngắn ngủi về những kì thi, nhưng không có thì giờ thảo luận chúng đúng mực)</span>
        </p>

        <p> &nbsp;&nbsp;&bull; Unemployment is a major problem for the government at the moment. <span
                style="color:#008000">(Thất nghiệp là vấn đề chính yếu đối
            với chính phủ ngay thời điểm này)</span></p>
        <p>&nbsp;&nbsp;&bull; Improving the health service is another key issue for the government. <span
                style="color:#008000">(Việc cải thiện dịch vụ chăm
        sóc
            sức khỏe lại là một vấn đề quan trọng khác đối với chính phủ)</span></p>
        <p style="color:#ffa500">B. Danh từ + Động Từ hoặc Động Từ + Danh từ (Nouns and Verbs)</p>
        <p>Ta hãy để ý cách kết hợp danh từ và động từ trong câu. Tất cả các ví dụ sau đây đều liên quan đến kinh
            tế
            học và thương mại.</p>
        <p>e. g.</p>
        <p>&nbsp;&nbsp;&bull; The economy boomed in the 1990s. (the economy was very strong) <span
                style="color:#008000">(Nền kinh kế này rất
        mạnh vào thập niên 90)</span></p>
        <p>&nbsp;&nbsp;&bull; The company has grown and now employs 50 more people than last year. <span
                style="color:#008000">(Công ty phát triển và giờ thì
        có
            thể tuyển dụng nhiều hơn 50 công nhân so với năm rồi)</span></p>
        <p>&nbsp;&nbsp;&bull; The company has expanded and now has branches in most major cities. The
            company launched the product in
            2002. (introduced the product) <span
                    style="color:#008000">(Công ty giới thiệu sản phẩm này hồi năm 2002)</span></p>
        <p>&nbsp;&nbsp;&bull; The price increase poses a problem for us. (is a problem) <span style="color:#008000">(Sự tăng giá thành là một khó khăn cho
        chúng
            ta)</span></p>
        <p style="color:#ffa500">C. Giữa các danh từ (a + Noun + of + Noun)</p>
        <p>Có rất nhiều sự kết hợp tự nhiên dựa trên mẫu: a... of...</p>
        <p>e. g.</p>
        <p>&nbsp;&nbsp;&bull; As Sam read the lies about him, he felt a surge of anger. (nói một cách văn chương: a
            sudden
            angry feeling) <span style="color:#008000">(Khi Sam đọc được những lời nói láo về nó, nó bỗng nổi cơn giận dữ)</span>
        </p>
        <p>&nbsp;&nbsp;&bull; Every parent feels a sense of pride when their child does well or wins something. <span
                style="color:#008000">(Bất cứ bậc làm
        cha
            mẹ nào cũng có niềm tự hào khi con em họ làm tốt hay thắng được cái gì)</span></p>
        <p>&nbsp;&nbsp;&bull; I felt a pang of nostalgia when I saw the old photos of the village where I grew up. <span
                style="color:#008000">(Lòng tôi trỗi
            dậy một nỗi nhớ quê hương khi xem những bức hình cũ về cái xóm nơi tôi trưởng thành</span></p>
        <p style="color:#ffa500">D. Động từ và những đặc ngữ với giới từ. (Verbs and Expressions With Prepositions)</p>
        <p> Một số động từ liên kết với đặc ngữ (gồm giới từ + danh từ) cụ thể để tạo sự kết hợp tự nhiên.</p>
        <p>e. g.</p>
        <p>&nbsp;&nbsp;&bull; As Jack went on stage to receive his gold medal for the judo competition you could see his
            parents swelling with pride. (looking extremely proud) <span style="color:#008000">(Khi Jack tiến lên sân khấu nhận huy chương vàng
            trong cuộc đấu Nhu đạo, anh có thể thấy ba má nó tràn trề kiêu hãnh)</span></p>
        <p>&nbsp;&nbsp;&bull; I was filled with horror when I read the newspaper report of the explosion. <span
                style="color:#008000">(Tôi thấy kinh sợ khi
        đọc
            mẩu tin báo về vụ nổ)</span></p>
        <p>&nbsp;&nbsp;&bull; When she spilt juice on her new skirt the little girt burst into tears. (suddenly started
            crying)
            <span style="color:#008000">(Khilàm đổ nước trái cây lên cái đầm mới, đứa bẫ gái òa khóc)</span></p>
        <p style="color:#ffa500">E. Động từ và Phó từ (Verbs and Adverbs)</p>
        <p>&nbsp;&nbsp;&bull; She pulled steadily on the rope and helped him to safety. (pulled firmly and evenly) <span
                style="color:#008000">(Nàng nắm chặt
            không buông sợi dây thừng để cứu chàng đến nơi an toàn)</span></p>
        <p>&nbsp;&nbsp;&bull; He placed the beautiful vase gently on the window ledge. <span style="color:#008000">(Hắn đặt nhẹ nhàng cái bình hoa đẹp trên
        cái
            tủ dưới cửa sổ)</span></p>
        <p>&nbsp;&nbsp;&bull; "I love you and want to marry you," Derek whispered softly to Marsha. <span
                style="color:#008000">("Ta yêu nàng và muốn cưới
        nàng
            làm vợ," Derek thì thầm nhẹ nhàng vào tai Marsha)</span></p>
        <p>&nbsp;&nbsp;&bull; She smiled proudly as she looked at the photos of her new grandson. <span
                style="color:#008000">(Bà ta mỉm cười hãnh diện khi
        ngắm
            nhìn những tấm hình chụp thằng cháu mới ra đời)</span></p>
        <p style="color:#ffa500"> F. Phó từ + Tĩnh từ (Adverbs and Adjectives)</p>
        <p>&nbsp;&nbsp;&bull; They are happily married. (Họ kết hôn (và chung sống) trong hạnh phúc)</p>
        <p>&nbsp;&nbsp;&bull; I am fully aware that there are serious problems. (I know well) <span
                style="color:#008000">(Tôi biết rõ rằng đang có những vấn
        đề
            nghiêm trọng)</span></p>
        <p>&nbsp;&nbsp;&bull; Harry was blissfully unaware that he was in danger. (Harry had no idea at all) <span
                style="color:#008000">(Thằng Harry hoàn
        toàn
            không nhận thức được rằng nó đang bị nguy hiểm)</span></p>
    </div>
</div>
<div class="item-active" id="item-3">
    <div class="item-title-active">
        <div class="item-title-active-content">III. MAKE
        </div>

    </div>
    <div class="item-active-content">
        <p>- make arrangements for: sắp đặt, dàn xếp   <br>e. g. The school can make arragements for pupils with special
            needs.
             <span style="color:#008000">Nhà trường có thể sắp đặt cho cho học sinh những nhu cầu đặc biệt.</span></p>
        <p>- make a change / changes: đổi mới   <br>e. g. The new manager is planning to make some changes. <span
                style="color:#008000">Vị
            tân
            giám đốc đang trù hoạch một số thay đổi.</span></p>
        <p>- make a choice: chọn lựa   <br>e. g. Jill had to make a choice between her career and her family.
            <span style="color:#008000">Jill
                phải chọn lựa giữa sự nghiệp và gia đình.</span></p>
        <p>- make a comment / comments (on): bình luận, chú giải   <br>e. g. Would anyone like to make any comments
            on the
            talk?  <span style="color:#008000">Có ai muốn bình luận gì về bài diễn thuyết không ạ?</span></p>
        <p>- make a contribution to: góp phần vào   <br>e. g. She made a useful contribution to the discussion.
             <span style="color:#008000">Cổ đã
                có đóng góp hữu dụng vào cuộc thảo luận.</span></p>
        <p>- make a decision: quyết định   <br>e. g. I'm glad it's you who has to make the decision, not me.
             <span style="color:#008000">Tao mừng
                vì chính mày phải quyết định, chứ không phải tao.</span></p>
        <p>- make an effort: nỗ lực   <br>e. g. Joe is really making an effort with his maths this term. <span
                style="color:#008000">Joe
            đang thực
            sự nỗ lực học toán ở học kì này.</span></p>
        <p>- make friends: làm bạn, kết bạn.   <br>e. g. Karen is very good at making friends.  <span
                style="color:#008000">Karen rất giỏi
            kết giao
            bạn.</span></p>
        <p>- make an improvement: cải thiện   <br>e. g. Repainting the room has really made an improvement.
             <span style="color:#008000">Việc sơn
                lại căn phòng thực sự đã được cải thiện.</span></p>
        <p>- make a mistake: phạm sai lầm, nhầm lẫn    <br>e. g. They've made a mistake in our bill.   <span
                style="color:#008000">Họ đã
            nhầm lẫn
            gì đó trong cái hóa đơn của chúng ta.</span></p>
        <p>- make a phone call: điện thoại   <br>e. g. I've got to make some phone calls before dinner. <span
                style="color:#008000">Tôi
            phải gọi
            một số cuộc điện thoại khi ăn tối.</span></p>
        <p>- make progress: tiến bộ   <br>e. g. Harriet is making progress with all her schoolwork.  <span
                style="color:#008000">Harriet
            đang có
            tiến bộ với việc học ở trường.</span></p>
        <p>- make noise: làm ồn   <br>e. g. Stop making noise!  <span style="color:#008000">Dừng làm ồn coi!  </span>
        </p>
        <p>- make a journey/ a trip / journeys: đi du hành   <br>e. g. I still use my car, but now
            I make fewer journeys.
             <span style="color:#008000">Tôi vẫn còn đi xe hơi, nhưng giờ tôi ít đi du hành hơn trước.</span></p>
        <p>- make a promise: hứa   <br>e. g. She made a promise to visit them once a month.  <span
                style="color:#008000">Nàng hứa đi thăm họ
            mỗi
            tháng một lần.</span></p>
        <p>- make an inquiry / inquiries: đòi hỏi, yêu cầu, hỏi để biết   <br>e. g. I don't know who sent the gift, but
            I'll
            make some inquiries.  <span style="color:#008000">Tôi không biết ai đã gửi món quà này, nhưng tôi sẽ hỏi để biết.</span>
        </p>
        <p>- make a remark: bình luận, nhận xẫt.   <br>e. g. The Senator denied making the remark.  <span
                style="color:#008000">Ngài Thượng
            nghị sĩ
            từ chối bình luận.</span></p>
        <p>- make a speech: đọc diễn văn   <br>e. g. Each child had to make a short speech to the rest of the class.
             <span style="color:#008000">Mỗi đứa trẻ đều phải đọc diễn văn ngắn trước cả lớp.</span></p>
        <p>- make a fuss of / over someone: lộ vẻ quan tâm (bạn nguyenhoaphuong bổ sung)   <br>e. g. They made
            a great fuss
            of the new baby.   <span style="color:#008000">Bọn họ quan tâm nhiều đến đứa bẫ mới đẻ.</span></p>
        <p> - make a fuss / kick up a fuss (about something): cằn nhằn tức giận, phàn nàn (về cái gì đó   <br>e. g.
            Josie made a
            fuss / kicked up a fuss because the soup was too salty.  <span style="color:#008000">Josie phàn nàn vì món canh quá mặn.</span>
        </p>
        <p>- make a plan / plans: trù hoạch, lên kế hoạch (bạn nguyenhoaphuong bổ sung)   <br>e. g. We need to make
            plans for
            the future.  <span style="color:#008000">Chúng ta cần lên kế hoạch cho tương lai.</span></p>
        <p>- make a demand / demands (on): đòi hỏi (bạn nguyenhoaphuong bổ sung)   <br>e. g.
            Flying makes enormous demands
            on pilots.    <span style="color:#008000">Chuyến bay đòi hỏi người phi công rất nhiều.</span></p>
        <p>- make an exception: tạo ngoại lệ, cho phẫp một ngoại lệ (bạn nguyenhoaphuong bổ sung)   <br>e. g. Children
            are not
            usually allowed in, but I'm prepared to make an exception in this case.  <span style="color:#008000">Trẻ em thường không được
            phẫp
                vô đây, nhưng tôi chuẩn bị tạo ngoại lệ trong trường hợp này (tức là cho tụi nó vô.</span></p>
        <p>- make cũng thông dụng với nghĩa: làm, tạo ra, chế tạo ra; như khi ta nói "make a bicycle" (chế tạo ra chiếc
            xe
            đạp), "make a cake" (nướng, làm ra cái bánh),...</p>
    </div>
</div>
<div class="item-active" id="item-4">
    <div class="item-title-active">
        <div class="item-title-active-content">IV. DO
        </div>

    </div>
    <div class="item-active-content">
        <p>- do your best: làm hết sức mình   <br>e. g. All that matters in the exam is to do your best. <span
                style="color:#008000">Điều
            quan
            trọng nhất trong kì thi là hãy làm hết sức mình.</span></p>
        <p>- do damage (to): gây hại đến   <br>e. g. The storm did some damage to our roof.  <span
                style="color:#008000">Cơn bão đã gây
            thiệt hại
            phần nào cho cái trần nhà của chúng tôi.</span></p>
        <p>- do an experiment: làm thí nghiệm   <br>e. g. We are doing an experiment to test how the metal reacts with
            water.
             <span style="color:#008000">Chúng tôi đang làm thí nghiệm để kiểm tra xem kim loại phải ứng với nước như thế nào.</span>
        </p>
        <p>- do exercises: làm bài tập, tập thể dục.   <br>e. g. We'll do some exercises practicing these collocations
            tomorrow.  <span style="color:#008000">Chúng con sẽ làm bài tập thực hành những sự kết hợp tự nhiên này vào ngày mai.</span>
        </p>
        <p>- do someone a good turn / do someone a favor: làm việc tốt, làm ân huệ   <br>e. g. Scouts and guides are
            supposed
            to do someone a good turn every day.  <span style="color:#008000">Các hướng đạo sinh nên làm việc tốt mỗi ngày.</span>
        </p>
        <p>- do harm: có hại, gây hại   <br>e. g. Changing the rules may do more harm than good.  <span
                style="color:#008000">Thay đổi luật
            lệ có
            thể có hại hơn là có lợi.</span></p>
        <p>- do your hair: thay đổi kiểu tóc, làm tóc   <br>e. g. No, I'm not ready. I haven't done my hair yet.
             <span style="color:#008000">Không, mình chưa sẵn sàng. Mình vẫn chưa làm tóc xong mà.</span></p>
        <p>- do your homework: làm bài tập về nhà   <br>e. g. My son has to do his homework straight after school.
            <span style="color:#008000">Con
                trai tôi phải làm phải tập về nhà của nó ngay sau khi đi học về.</span></p>
        <p>- do the ironing / shopping / washing, etc.: ủi đồ, đi mua sắm, giặc giũ...   <br>e. g. I'll do the
            washing if
            you do the ironing.  <span style="color:#008000">Em sẽ giặc giũ nếu anh ủi đồ.</span></p>
        <p>- do research: nghiên cứu.   <br>e. g. I'm still doing research for my thesis.  <span style="color:#008000">Tôi vẫn còn đang
            nghiên cứu
            để làm luận văn.</span></p>
        <p>- do a / the crossword: giải ô chữ (bạn nguyenhoaphuong bổ sung)    <br>e. g. I like doing the crossword.
              <span style="color:#008000">Tôi thích chơi giải ô chữ.</span></p>
         
        <p>Từ các cách kết hợp từ tự nhiên trên, ta có thể thấy, nhiều sự kết hợp giữa DO/MAKE + Danh từ thường có nghĩa
            tương đương với 1 động từ. Thí dụ, do research = (to) research, make a mistake = (to) mistake... Nhưng trên
            thực
            tế, người bản xứ thường sử dụng lối thành lập collocations. Đây là một tập quán hành văn của người Anh, Mĩ
            (styles), thay vì dùng một tiếng động từ, họ ưa chuộng dùng động từ + danh từ để kẫo dài phần vị ngữ
            (predicative) hơn.</p>
    </div>
</div>
<div class="item-active" id="item-5">
    <div class="item-title-active">
        <div class="item-title-active-content">V. HAVE
        </div>

    </div>
    <div class="item-active-content">
        <p>- have an accident: gặp tai nạn.  <br> e. g. Mr. Grey had an accident last night but he's OK now.
             <span style="color:#008000">Ông Grey
                bị tai nạn tối qua nhưng giờ ổng ổn cả rồi.</span></p>
        <p>- have an argument / a row: cãi cọ   <br>e. g. We had an argument / a row about how to fix the car.
            <span style="color:#008000"> Tụi tao
                cãi cọ về cách sửa cái xe hơi.</span></p>
        <p>- have a break: nghỉ giải lao (cũng: take a break)  <br> e. g. Let's have a break when you finish this
            exercise.
             <span style="color:#008000">Chúng ta hãy nghỉ giải lao sau khi anh giải xong bài tập này.</span></p>
        <p>- have a conversation / chat: nói chuyện   <br>e. g. I hope we'll have time to have a chat after the meeting.
            <span style="color:#008000">Tôi mong là chúng ta sẽ có thì giờ nói chuyên sau cuộc họp.</span></p>
        <p>- have difficulty (in) (doing something): gặp khó khăn   <br>e. g. The class had difficulty understanding
            what to
            do.  <span style="color:#008000">Lớp học gặp trở ngại trong việc hiểu được những điều phải làm.</span></p>
        <p>- have a dream / nightmare: mơ / gặp ác mộng   <br>e. g. I had a nightmare last night.  <span
                style="color:#008000">Tao gặp ác
            mộng đêm
            rồi.</span></p>
        <p>- have an experience: trải nghiệm   <br>e. g. I had a frightening experience the other day.  <span
                style="color:#008000">Ngày hôm
            kia
            tao có một trải nghiệm đáng sợ.</span></p>
        <p>- have a feeling: cảm giác rằng   <br>e. g. I have a feeling that something is wrong.  <span
                style="color:#008000">Em cảm giác có
            điều
            gì không ổn.</span></p>
        <p> - have fun / a good time: vui vẻ   <br>e. g. I'm sure you'll have fun on the school trip.  <span
                style="color:#008000">Tôi chắc
            em sẽ
            vui vẻ trong kì nghỉ của trường.</span></p>
        <p> - have a look: ngắm nhìn   <br>e. g. The teacher wanted to have a look at what we were doing. <span
                style="color:#008000">Ông
            thầy muốn
            ngắm nhìn xem chúng tôi đang làm gì.</span></p>
        <p>- have a party: tổ chức tiệc tùng   <br>e. g. Let's have a party at the end of term. <span
                style="color:#008000">Chúng ta hãy tổ
            chức
            tiệc tùng vào cuối học kì.</span></p>
        <p>- have a problem / problems (with): gặp vấn đề, gặp khó khăn   e. g. Ask the teacher if you have problems
            with the exercise. <span style="color:#008000">Hãy hỏi cô giáo nếu như em gặp khó khăn với bài tập.</span>
        </p>
        <p>- have a try / go: thử   <br>e. g. I'll explain what to do and then you can have a go / try.  <span
                style="color:#008000">Tao sẽ
            giải
            thích những gì cần làm và sau đó, mày có thể làm thử.</span></p>
    </div>
</div>
<div class="item-active" id="item-6">
    <div class="item-title-active">
        <div class="item-title-active-content">VI. TAKE
        </div>

    </div>
    <div class="item-active-content">
        <p>- take a holiday: đi nghỉ   <br>e. g. We're so glad we decided to take a holiday here. <span
                style="color:#008000">Chúng tôi rất
            vui vì
            đã quyết định đi nghỉ ở đây.</span></p>
        <p>- take a trip: đi du hành   <br>e. g. Yesterday we took a trip to the mountains. <span style="color:#008000">Hôm qua chúng tôi
            đi du
            hành đến những ngọn núi.</span></p>
        <p>- take a train / bus: đón xe lửa / xe buít   <br>e. g. First we took a train to a little town and then
            we took a
            bus going to various villages.  <span style="color:#008000">Đầu tiên chúng tôi đón xe lửa tới thị trấn nhỏ, và rồi đón xe buít
            đi
                thăm nhiều ngôi làng.</span></p>
        <p>- take a liking to: thấy hứng thú, thấy thích thú   <br>e. g. We got off when we saw one that we took a
            liking to. <span style="color:#008000">Chúng tôi xuống xe khi thấy những thứ gây thích thú.</span></p>
        <p>- take an interest in: thấy hứng thú, thích thú với   <br>e. g. Some kids took an interest in us.
            <span style="color:#008000">Vài em nhỏ thích thú với sự xuất hiện của chúng tôi.</span></p>
        <p>- take a photo / photos: chụp hình   <br>e. g. We took a lot of photos. <span style="color:#008000">Chúng tôi chụp nhiều hình.</span>
        </p>
        <p>- take a chance: mạo hiểm   <br>e. g. I'd take a chance and leave if I were you.  <span
                style="color:#008000">Tao sẽ mạo hiểm và
            rời
            khỏi đó nếu tao là mầy.</span></p>
        <p>- take a dislike to: không thích / ghẫt   <br>e. g. The boss has taken a dislike to you.  <span
                style="color:#008000">Ông chủ
            không
            thích anh từ lâu.</span></p>
        <p>- take advantage of: lợi dụng, tận dụng   <br>e. g. Take advantage of being in London - there are always
            plenty of
            jobs there.   <span style="color:#008000">Hãy tận dụng cơ hội khi anh ở Luân Đôn, nơi đây luôn có rất nhiều việc làm.</span>
        </p>
        <p>- take action: hành động   <br>e. g. You'll soon find something else, so take action, that's my advice!
             <span style="color:#008000">Chẳng bao lâu anh sẽ tìm thấy điều gì khác, lúc đó hãy hành động - lời khuyên của tôi đó!</span>
        </p>
    </div>
</div>
<div class="item-active" id="item-7">
    <div class="item-title-active">
        <div class="item-title-active-content">VII. PAY
        </div>

    </div>
    <div class="item-active-content">
        <p>- pay attention to: chú ý đến   <br>e. g. You must pay attention to the teacher.  <span
                style="color:#008000">Em phải chú ý đến
            giáo
            viên.</span></p>
        <p>- pay (someone) a compliment: khen tặng (ai)   <br>e. g. I was trying to pay her a compliment but she
            misunderstood. <span style="color:#008000">Tôi cố khen tặng cổ nhưng cổ lại hiểu lầm tôi.</span></p>
        <p>- pay your (last) respects: cầu chúc kính cẩn   <br>e. g. At a funeral people pay their last respects to the
            person
            who has died.  <span
                    style="color:#008000">Tại tang lễ, người ta cầu chúc lần cuối cho người đã khuất.</span></p>
        <p>- pay tribute: bài tỏ lòng kính ngưỡng   <br>e. g. When Jack retired, his boss made a speech paying tribute
            to all
            he had done for the company.  <span style="color:#008000">Khi ông Jack hồi hưu, ông chủ của ổng đọc diễn văn bài tỏ lòng biết ơn
            về
                tất cả những gì Jack đã cống hiến cho công ty.</span></p>
    </div>
</div>
<div class="item-active" id="item-8">
    <div class="item-title-active">
        <div class="item-title-active-content">VIII. WEATHER
        </div>

    </div>
    <div class="item-active-content">

        <p style="color:#ffa500">1. Talking about the weather (Nói về thời tiết)</p>
        <p>- unbroken sunshine: trời quang đãng (chỉ có nắng mà không có mây)</p>
        <p>- (be) scorching hot: cực kì nóng, nóng (nắng) cháy da thịt</p>
        <p>- soak up the sunshine: tắm nắng</p>
        <p>- torrential rain: mưa lớn, nặng hạt</p>
        <p style="color:#ffa500">2. Weather conditions (Điều kiện thời tiết)</p>
        <p>- weather + deteriorate (verb): thời tiết trở nên tệ hại (động từ deteriorate rất trang trọng, từ đồng nghĩa
            kém
            trang trọng hơn của nó là: get worse)    <br>e. g. The weather is likely to deteriorate later on today.
             
            <span style="color:#008000">Thời tiết có khả năng trở nên tệ hại vào cuối ngày hôm nay.</span>   Từ phản nghĩa của deteriorate trong ngữ cảnh
            này
            là: improve (dễ chịu hơn)</p>
        <p>- thick / dense fog: màn sương mù dầy đặc   <br>e. g. There is thick fog on the motorway.  <span style="color:#008000">Có sương
            mù dầy
            đặc trên xa lộ.</span></p>
        <p>- patches of fog / mist: khu vực nhỏ có sương mù</p>
        <p>- fog / mist + come down: sương mù che phủ (phản nghĩa: fog / mist + lift (sương mù tan đi))   <br>e. g.
            There
            are patches of fog on the east coast but these should lift by midday.  <span style="color:#008000">Có nhiều khu vực sương mù
            trên
                diện hẹp ở bờ Đông nhưng chúng sẽ tan hết lúc giữa trưa.</span></p>
        <p>- a blanket of fog: vùng có sương mù khá dầy đặc (nhóm từ này dùng trong văn chương)</p>
        <p>- strong sun (phản nghĩa: weak sun): nắng gay gắt   <br>e. g. Avoid going on the beach at midday when the sun
            is strongest. <span style="color:#008000">Tránh đi ra bãi biển lúc giữa trưa, khi nắng gay gắt nhất.</span></p>
        <p>- heavy rain (NOT strong rain): mưa to, nặng hạt</p>
        <p>- driving rain: mưa mau tạnh và nặng hạt   <br>e. g. Road conditions are difficult because of the driving
            rain. <span style="color:#008000">Tình trạng đường xá gặp khó khăn do cơn mưa nặng hạt.</span></p>
        <p>- heavy / fresh / clisp / thick / driving snow: tuyết dầy, đặc cứng   <br>e. g. The snow is lovely
            and crisp this
            morning.  <span style="color:#008000">Tuyết thiệt dễ thương và dầy cứng sáng nay.</span></p>
        <p>- hard frost (phản nghĩa: light frost): sương giá đậm   <br>e. g. There will be a hard frost tonight.
             <span style="color:#008000">Tối nay sẽ có sương giá đậm.</span></p>
        <p>- high / strong / light / biting winds: gió lớn / nhẹ / lạnh lẽo.   the wind + pick up: gió mạnh hơn (phản
            nghĩa: die down (sức gió hạ))   <br>e. g. The wind was light this morning but it's picking up now and will
            be
            very strong by the evening.  <span style="color:#008000">Sáng nay gió nhẹ nhưng đang tăng cường độ và sẽ rất mạnh trước chiều
            tối nay.</span></p>
        <p>- the wind + blow / whistle: gió thổi / vi vu.   <br>e. g. The wind was whistling through the trees.
             <span style="color:#008000">Nàng
                gió đang vi vu xuyên qua cây cối.</span></p>
        <p> 
            Practice: Change the underlined words so that each sentence has the opposite meaning.<br>
            1. There was a light wind yesterday.<br>
            2. The wind picked up in the evening.<br>
            3. The weather is likely to improve tomorrow.<br>
            4. It was scorching hot here yesterday.<br>
            5. There may be some light rain later on today.<br>
            6. The mist came down at about midday.<br>
             </p>
        <p>KEY  1. strong 2. died down 3. deteriorate / get worse 4. freezing cold 5. heavy / driving 6. lifted</p>
    </div>
</div>
<div class="item-active" id="item-9">
    <div class="item-title-active">
        <div class="item-title-active-content">IX. RELATIONSHIPS (NHỮNG MỐI QUAN HỆ TRONG ĐỜI SỐNG)
        </div>

    </div>
    <div class="item-active-content">
        <p style="color:#ffa500">1. Friendship (Tình bằng hữu)</p>
        <p>- make friends (with someone): đánh bạn (với)   <br>e. g. When you go to university you will make a lot of
            new friends.  <span style="color:#008000">Khi em lên Đại học, em sẽ quen nhiều bạn mới.</span></p>
        <p>- strike up a friendship: bắt đầu làm bạn (start a friendship)   <br>e. g. Jack struck up a friendship with a
            girl
            he met on holiday.  <span style="color:#008000">Thằng Jack bắt đầu đánh bạn với một cô gái nó gặp trong kì nghỉ.</span></p>
        <p>- form / develop a friendship: dựng xây tình bạn / phát triển tình bạn   <br>e. g. Juliet formed a lasting
            friendship with the boy she sat next to at primary school.  <span style="color:#008000">Juliet dựng xây tình bạn dài lâu với
            thằng
                con trai mà nó ngồi sát bên hồi tiểu học.</span></p>
        <p>- cement / spoil a friendship: bồi dưỡng tình bạn / làm rạn vỡ tình bạn.   <br>e. g. Spending several weeks
            on
            holiday together has cemented their friendship.  <span style="color:#008000">Ở chung nhau nhiều tuần trong kì nghỉ đã bồi đắp
            thêm
                tình bạn của họ.</span></p>
        <p>- a friendship + grow: tình bạn bền vững hơn   <br>e. g. We were at school together, but our friendship
            grew after
            we'd left school.  <span style="color:#008000">Tụi tôi học chung trường, nhưng sau khi ra trường tình bạn bền vững hơn.</span></p>
        <p>- close / special friends: bạn thân thiết / bạn đặc biệt   <br>e. g. I glad that our children are such close
            friends, aren't you? <span style="color:#008000">Mình vui vì con em chúng ta là bạn thân thiết của nhau, còn bạn thì sao?</span>
        <p>- mutual friends: bạn bè chung (trong một nhóm)</p>
        <p>- a casual acquaintance: bạn xã giao (biết mặt)   <br>e. g. I don't know Rod well. We're just casual
            acquaintances.
             <span style="color:#008000">Tôi không rành Rod lắm. Chúng tôi chỉ là bạn xã giao.</span></p>
        <p>- have a good relationship with someone: có mối giao hảo tốt với ai   <br>e. g. Anna and Marie have
            a very good
            relationship. They love doing things together.  <span style="color:#008000">Anna và Marie có mối giao hảo rất tốt. Họ thích làm
            các
                thứ cùng nhau.</span></p>
        <p>- keep in contact / touch: giữ liên lạc (phản nghĩa: lose contact / touch)   <br>e. g. We must keep in
            contact when
            the course ends.  <span style="color:#008000">Tụi mình phải giữ liên lạc sau khi khóa học kết thúc nhe.</span></p>

        <p style="color:#ffa500">2. More than just good friends. (Còn hơn cả bạn bè tốt)</p>
        <p>
        <p>I fell madly in love with Anton from the moment I met him. It was certainly love at first sight. I knew
            at
            once that he was the love of my life but at first I was not sure if my love was returned or not. Within a
            few
            days, however, he had told me that he was desperately in love with me too. A couple of weeks later, we
            realized
            that we wanted to make a commitment to each other and, when Anton asked me to marry him, I
            immediately accepted
            his proposal. I'm sure we will always love each other unconditionally. Neither of us would ever
            consider having
            an affair with someone else.</p>
        <p>- fall madly in love with: yêu điên cuồng, say đắm, không thay đổi</p>
        <p>- love at first sight: ái tình sẫt đánh (tức là mối tình mới gặp đã yêu)</p>
        <p>- the love of one's life: người tình của đời một ai đó</p>
        <p>- love is / were returned: tình cảm được đáp lại (tức là người mình yêu thích cũng yêu thích mình)</p>
        <p>- desperately in love: rất yêu...</p>
        <p>- make a commitment: hứa hẹn</p>
        <p>- accept one's proposal: chấp nhận lời đề nghị của ai (ở đây là chấp nhận lời cầu hôn)</p>
        <p>- love each other unconditionally: yêu nhau vô điều kiện</p>
        <p>- have an affair (with someone): ngoại tình</p>
        <p>
            Practice:<br>
            I. Look at A. Choose an approriate word to complete each sentence.<br>
            1. Kay is quite a shy person and finds it hard to _____ friends.<br>
            2. Do Paul and Sophie _____ a good relationship?<br>
            3. Sam is always _____ up friends with people he meets on trains and planes.<br>
            4. I hope their disagreement over the bill won't _____ their relationship.<br>
            5. It's amazing, when you meet someone new, how often you find that you have some _____ friends.<br>
            6. Apparently, people _____ most of their closest friendships when they are young.<br>
            7. I wouldn't call Graham a close friend, more a casual _____.<br>
            8. We didn't really like each other at first, but our friendship _____ as we got to know each other
            better.<br>
            II. Complete these questions.<br>
            1. Have you ever fallen in love at first _____?<br>
            2. Do you think it's true that men are more reluctant to _____ a commitment than women?<br>
            3. How old were you when you _____ in love for the first time?<br>
            4. Do you think it is possible to have one person who is the love of your _____?<br>
            5. Have you ever been in love with someone who has not _____ your love?<br>
            6. Do you think that men or women are more likely to be tempted to _____ an affair?<br>
        </p>
        <p>KEY  I. 1. make 2. have 3. striking 4. spoil 5. mutual 6. form 7. acquaintance 8. grew</p>
        <p>II. 1. sight 2. make 3. fell 4. life 5. returned 6. have</p>

    </div>
</div>
<div class="item-active" id="item-10">
    <div class="item-title-active">
        <div class="item-title-active-content">X. HEALTH AND ILLNESS
        </div>

    </div>
    <div class="item-active-content">
        <p>Verb collocations referring to illnesses and injuries. (Sự kết hợp tự nhiên của động từ với những căn
            bệnh
            và chấn thương)</p>
        <p>- catch [ a cold, the flu, a chill, pneumonia ]: bị [ cảm, cúm, cảm lạnh, viêm phổi ]   <br>e. g. I got
            soaking wet
            and caught a cold. <span style="color:#008000">Tôi ướt sũng và rồi bị cảm.</span></p>
        <p>- contract [ a disease, malaria, typhoid ]: nhiễm [ một bệnh, bệnh sốt rẫt, bệnh thương hàn ] (formal)   <br>e.
            g.
            Uncle Jess contracted malaria while he was working in Africa.  <span style="color:#008000">Ông cậu Jess nhiễm sốt rẫt khi đang
            làm
                việc ở Phi châu.</span></p>
        <p>- develop [ (lung / breast) cancer, diabetes, AIDS, arthritis, Alzheimer's disease ]: phát (bệnh) [ ung thư
            (phổi / vú, bệnh đái đường, bệnh Si đa, bệnh thoái hóa não bộ ] (formal)   <br>e. g. My
            grandfather developed
            Alzheimer's disease and could no longer remember things or recognize people. <span style="color:#008000">Ông của tôi phát bệnh
                thoái hóa não bộ và không còn nhớ gì hay nhận ra ai nữa.</span></p>
        <p>- suffer from [ asthma, hay fever, backache ]: bị [ hen suyễn, sốt mùa hè, đau lưng ]  <br> e. g. She
            has suffered
            from asthma all her life.  <span style="color:#008000">Cổ bị hen suyễn suốt đời.</span></p>
        <p>- have an attack of [ bronchitis, asthma, hay fever, diarrhoea ]: lên cơn [ viêm cuống phổi, sốt mùa hè, hen
            suyễn, tiêu chảy ]   <br>e. g. She had an attack of hay fever and was sneezing non-stop.  <span style="color:#008000">Cổ lên cơ
            sốt mùa
                hè và hắt hơi không ngừng</span></p>
        <p>- be diagnosed with [ (lung / breast) cancer, AIDS, leukaemia, autism ]: được chẩn đoán là bệnh [ ung thư
            (phổi
            / vú, Si đa, bệnh bạch cầu, bệnh tự kỉ ]   <br>e. g. He was diagnosed with lung cancer and died a year
            later. <span style="color:#008000">Hắn được chẩn đoán là bị ung thư phổi, rồi một năm sau hắn chết.</span></p>
        <p>- suffer / sustain [ (major / minor / serious / head) injuries ]: chịu đựng [ chấn thương (nặng / nhẹ /
            nghiêm
            trọng / ở đầu ]   <br>e. g. The driver sustained serious head injuries in the crash.  <span style="color:#008000">Người tài xế
            chịu chấn
                thương ở đầu nghiêm trọng trong vụ đụng xe.</span></p>
         
         
        <p> Practice: Look at the lesson. Match the verbs and expressions on the left with their collocations on the
            right.<br>
            1. sustain diarrhoea<br>
            2. contract   a cold<br>
            3. have an attack of breast cancer<br>
            4. develop   minor injuries<br>
            5. be diagnosed with   typhoid<br>
            6. catchautism<br>
             </p>
        <p>KEY  1. sustain minor injuries 2. contract typhoid 3. have an attack of diarrhoea 4. develop breast cancer
        <p>5. be diagnosed with autism / breast cancer 6. catch a cold</p>
    </div>
</div>
<div class="item-active" id="item-11">
    <div class="item-title-active">
        <div class="item-title-active-content">XI. NEWS (TIN TỨC, THỜI SỰ)
        </div>

    </div>
    <div class="item-active-content">

        <p>- a news / story + break: tin tức / chuyện bị lộ   <br>e. g. The singer was out of the country when the
            story about
            his wife broke.  <span style="color:#008000">Chàng ca sĩ rời nước khi câu chuyện về vợ chàng bị lộ.</span></p>
        <p>- news + come in: tin tức có liên quan đến...   <br>e. g. TV newscaster: News has just come in of an
            earthquake.
             <span style="color:#008000">Phát thanh viên truyền hình nói: Vừa có tin tức liên quan đến một vụ động đất.</span></p>
        <p>- news + leak out: thông tin bị rò rỉ   <br>e. g. Although the two stars tried to keep their relationship
            secret,
            news of it soon leaked out.  <span style="color:#008000">Dầu rằng hai ngôi sao đó đã cố giữ kính quan hệ của họ, nhưng tin tức
            về họ
                đã sớm bị rò rỉ.</span></p>
        <p>- hit the headlines: làm nóng mặt báo   <br>e. g. The scandal is expected to hit the headlines tomorrow.
             <span style="color:#008000">Người ta tin rằng vụ tai tiếng sẽ làm nóng mặt báo ngày mai.</span></p>
        <p>- make headlines: được đăng tải rộng rãi   <br>e. g. A dramatic story like that will make
            headlines world-wide
             <span style="color:#008000">Một câu chuyện kịch tính như thế sẽ lên trang nhất khắp thế giới.</span></p>
        <p>- front-page headline: lên trang nhất  <br> e. g. The scandal was the front-page headline in all the
            newspapers.
             <span style="color:#008000">Vụ tai tiếng lên trang nhất khắp các mặt báo.</span></p>
        <p>- the lastest news: tin mới nhứt   <br>e. g. The lastest news from the earthquake zone is more hopeful.
             <span style="color:#008000">Tin mới nhứt về vùng động đất trở nên lạc quan hơn.</span></p>
        <p>- be headline / front-page news: lên trang nhất (được đăng tải rộng rãi)   <br>e. g. Any story about the
            Royal
            Family will be the headline / front-page news in Britain.  <span style="color:#008000">Bất kỳ câu chuyện nào về Hoàng tộc đều
            được
                đăng tải rộng rãi ở Anh quốc.</span></p>
        <p>- item of news: mục tin   <br>e. g. The main item of news today is the earthquake in Broskva City.
             <span style="color:#008000">Mục tin
                chánh ngầy hôm nay là vụ động đất ở thành phố Broskva.</span></p>
        <p>- run a story (= publish a story): tường thuật tin tức   <br>e. g. The Daily Times recently ran a story about
            an
            affair between a famous rock star and a politician.  <span style="color:#008000">Tờ Nhật báo vừa mới tường thuật chuyện ngoại
            tình
                giữa một siêu sao nhạc Rốc và một chánh trị gia.</span></p>
        <p>- flick through the newspaper: sơ lược trang báo<br>
            e. g. He flicked through the newspaper as he didn't have time
            to read it properly.  <span
                    style="color:#008000">Hắn sơ lượt mặt báo vì hắn không có đủ thì giờ coi hết.</span>
        </p>
    </div>
</div>
