<meta charset="UTF-8">
<div class="item-active" id="item-1">
    <div class="item-title-active">
        <div class="item-title-active-content">I. ĐỊNH NGHĨA VỀ MỆNH ĐỀ
        </div>

    </div>
    <div class="item-active-content">
        <p><span><span>Mệnh đề trong tiếng Anh&nbsp;là một nhóm từ có chứa một động từ đã chia và chủ từ của nó. Động từ đã chia là động từ hòa hợp với chủ từ của nó về ngôi và số.</span></span>
        </p>

        <p><span><span><strong>- Eg:</strong></span></span></p>


        <p>&nbsp;&nbsp;&bull; <em><span><span
        >This is the man Lan saw yesterday. </span></span><span style="color:#008000"><span
        >(Đây là người đàn ông Lan đã nhìn thấy ngày hôm qua)</span></span></em></p>


        <p><span><span>=&gt; Câu này có 2 mệnh đề</span></span></p>


        <p>&nbsp;&nbsp; <em><span><span
        >(1) This is the man (động từ chia là is)</span></span></em></p>
        <p>&nbsp;&nbsp; <em><span><span
        >(2) Lan saw yesterday (động từ đã chia là saw).</span></span></em></p>

    </div>
</div>
<div class="item-active" id="item-2">
    <div class="item-title-active">
        <div class="item-title-active-content">II. MỆNH ĐỀ CHÍNH
        </div>

    </div>
    <div class="item-active-content">
        <p><span style="color:#FFA500"><strong><span>1. Định nghĩa</span></strong></span></p>

        <p><span><span><strong>Mệnh đề chính</strong> là mệnh đề mà ý nghĩa của nó không phụ thuộc vào một mệnh đề khác trong cùng một câu. Trong một câu, có thể có hai hoặc nhiều mệnh đề chính. Chúng được nối với nhau bằng liên từ kết hợp (coordinating conjunction).</span></span>
        </p>

        <p><span><span>- Eg:&nbsp;</span></span></p>


        <p>&nbsp;&nbsp;&bull; <em><span><span>He smiled when he saw his wife. </span></span><span
                style="color:#008000"><span>(Anh ấy mỉm cười khi thấy vợ mình)</span></span></em>
        </p>


        <p><span style="color:#FFA500"><strong><span>2. Có thể trong cùng một câu, các mệnh đề chính cách nhau bằng dấu phẩy hoặc dấu chấm phẩy.</span></strong></span>
        </p>

        <p><span><span>- Eg:</span></span></p>


        <p>&nbsp;&nbsp;&bull; <em><span><span>The class is over, all the pupils go out of the room</span></span><br>
            <span style="color:#008000"><span
            >(Lớp học kết thúc, tất cả học sinh đi ra khỏi phòng)</span></span></em></p>

    </div>
</div>
<div class="item-active" id="item-3">
    <div class="item-title-active">
        <div class="item-title-active-content">III. MỆNH ĐỀ PHỤ
        </div>

    </div>
    <div class="item-active-content">
        <p><span style="color:#FFA500"><strong><span>1. Định nghĩa</span></strong></span></p>

        <p><span><span><strong>Mệnh đề phụ</strong> là mệnh đề không thể đứng riêng một mình. Ý nghĩa của nó phụ thuộc vào mệnh đề chính.</span></span>
        </p>

        <p><span style="color:#FFA500"><strong><span>2.&nbsp;Về mặt cấu trúc, mệnh đề phụ được liên kết với mệnh đề chính bằng:</span></strong></span>
        </p>

        <p><span><span>– <strong>Các đại từ liên hệ</strong>: <em>who, whom, which, whose, that, …..</em></span></span>
        </p>

        <p><span><span>+ Eg:</span></span></p>


        <p>&nbsp;&nbsp;&bull; <em><span><span
        >The girl who works at the cafe is John’s sister.</span></span><br>
            <span style="color:#008000"><span><span>Cô gái đó làm việc tại quán cà phê là em gái của John.</span></span></span></em>
        </p>


        <p><span><span>– <strong>Các phó từ liên hệ:</strong>&nbsp;<em>why, when, where.</em></span></span>
        </p>


        <p>&nbsp;&nbsp;&bull; <em><span><span
        >I remember the house where I was born.</span></span><br>
            <span style="color:#008000"><span><span>Tôi nhớ ngôi nhà nơi tôi đã sinh ra.</span></span></span></em>
        </p>


        <p><span><span><strong>- Các liên từ phụ thuộc</strong>: <em>when, while, as, as soon as, because, though, although, till, until, if, unless, wherever, whenever…</em></span></span>
        </p>

        <p><span><span>- Eg:</span></span></p>


        <p>&nbsp;&nbsp;&bull; <em><span><span
        >When we lived in town we often went to the theatre.</span></span><br>
            <span style="color:#008000"><span><span>Lúc chúng tôi sống trong thị trấn chúng tôi thường đi đến nhà hát.</span></span></span></em>
        </p>

    </div>
</div>
<div class="item-active" id="item-4">
    <div class="item-title-active">
        <div class="item-title-active-content">IV. CÁC LOẠI MỆNH ĐỀ
        </div>

    </div>
    <div class="item-active-content">
        <p><span><span>Có 3 loại mệnh đề phụ:</span></span></p>

        <p><span style="color:#66cc00"><span>- <strong>Mệnh đề tính ngữ</strong>:</span></span><span
        ><span> có chức năng như một tính từ, để phẩm định cho danh từ được trước nó. Các mệnh đề này thường bắt đầu bằng các đại từ liên hệ như: who, whom, that, whose, hoặc các phó từ liên hệ như why, where, when.</span></span>
        </p>

        <p><span><span>- Eg:</span></span></p>


        <p>&nbsp;&nbsp;&bull;
            <em><span><span>This is the bicycle <u><strong>that</strong></u> I would like to buy.</span></span><br>
                <span style="color:#008000"><span><span>Đây là chiếc xe đạp mà tôi muốn mua.</span></span></span></em>
        </p>
        <p>&nbsp;&nbsp;&bull; <em><span><span>The man <u><strong>who</strong></u> saw the accident yesterday is my neighbor.</span></span><br>
            <span style="color:#008000"><span><em><span>Người đàn ông đã chứng kiến ​​vụ tai nạn ngày hôm qua là hàng xóm của tôi.</span></em></span></span></em>
        </p>


        <p><span style="color:#66cc00"><span>- <strong>Mệnh đề trạng ngữ</strong></span></span><span
        ><span
        >: làm chức năng của một trạng từ hay phó từ.&nbsp;</span></span></p>

        <p><span><span>+ Mệnh đề gồm<strong>: </strong>Mệnh đề trạng ngữ chỉ mục đích, mệnh đề trạng ngữ chỉ nguyên nhân, mệnh đề trạng ngữ chỉ nơi chốn, mệnh đề trạng ngữ chỉ thời gian, mệnh đề trạng ngữ chỉ cách thức, mệnh đề trạng ngữ chỉ kết quả, mệnh đề trạng ngữ chỉ sự tương phản, mệnh đề trạng ngữ chỉ sự so sánh, mệnh đề trạng ngữ chỉ điều kiện.</span></span>
        </p>

        <p><span><span>+ Eg:&nbsp;</span></span></p>


        <p>&nbsp;&nbsp;&bull; <span><em><span>Some people eat <u><strong>so that</strong></u> they may live. Others seem to live in order that they may eat.</span></em></span><br>
            <span style="color:#008000"><em><span>Một số người ăn để họ có thể sống. Những người khác dường như sống để họ có thể ăn.</span></em></span>
        </p>
        <p>&nbsp;&nbsp;&bull;
            <em><span><span>He sold the car <u><strong>because</strong></u> it was too small.</span></span><br>
                <span style="color:#008000"><span><span><em>Ông ta đã bán chiếc xe bởi vì nó quá nhỏ.</em></span></span></span></em>
        </p>
        <p>&nbsp;&nbsp;&bull; <span><span><em>Sit <u><strong>wherever</strong></u> you like.</em></span></span><br>
            <span style="color:#008000"><span><span><em>Ngồi bất cứ nơi nào bạn muốn.</em></span></span></span>
        </p>
        <p>&nbsp;&nbsp;&bull; <em><span><span>He came <u><strong>after</strong></u> night had fallen.</span></span><br>
            <span style="color:#008000"><span>Ông ta đã đến sau khi đêm xuống.</span></span></em>
        </p>
        <p>&nbsp;&nbsp;&bull;
            <em><span><span>You look <u><strong>as</strong></u> if you have seen a ghost.</span></span><br>
                <span style="color:#008000"><span>Anh nhìn cứ như thể anh thấy một bóng ma vậy đó.</span></span></em>
        </p>
        <p>&nbsp;&nbsp;&bull; <em><span><span
        >The coffee is <strong><u>so</u></strong> hot <u><strong>that</strong></u> I can't drink it.</span></span><br>
            <span style="color:#008000"><span>Cà phê rất nóng mà tôi không thể uống nó.</span></span></em>
        </p>
        <p>&nbsp;&nbsp;&bull;
            <em><span><span>Rich <u><strong>as</strong></u> he is, he never gives anybody anything.</span></span><br>
                <span style="color:#008000"><span
                >Giàu như ông ta vậy mà ông ta chưa từng cho ai cái gì.</span></span></em></p>
        <p>&nbsp;&nbsp;&bull; <em><span><span
        >This exercise is not so easy as you think.</span></span><br>
            <span style="color:#008000"><span
            >Bài tập này không quá dễ như bạn tưởng đâu.</span></span></em></p>
        <p>&nbsp;&nbsp;&bull; <em><span><span
        >If it rains we shall stay at home.</span></span><br>
            <span style="color:#008000"><span>Nếu trời mưa chúng ta sẽ ở nhà.</span></span></em></p>


        <p><span style="color:#66cc00"><span>-<strong> Mệnh đề danh từ</strong></span></span><span
        ><span>: Mệnh đề danh từ làm chức năng của một danh từ: Làm tân ngữ của động từ, chủ từ của động từ; Tân ngữ cho giới từ; bổ ngữ cho câu; đồng cách cho danh từ.</span></span>
        </p>

        <p><span><span>+ Eg:</span></span></p>


        <p>&nbsp;&nbsp;&bull; <em><span><span><u><strong>That</strong></u> a majority of shareholders didn't attend the meeting is natural.</span></span><br>
            <span style="color:#008000"><span>Đa số cổ đông không đến tham dự buổi họp là điều bình thường thôi.</span></span></em>
        </p>
        <p>&nbsp;&nbsp;&bull; <em><span><span>We know <u><strong>that</strong></u> the astronauts were very tired after their long trip.</span></span><br>
            <span style="color:#008000"><span>Chúng ta biết rằng các phi hành gia đã rất mệt mỏi sau chuyến đi dài.</span></span></em>
        </p>
        <p>&nbsp;&nbsp;&bull; <span><span><em>It seems <u><strong>that</strong></u> the company has made a mistake in its marketing strategy.</em></span></span><br>
            <span style="color:#008000"><span><em>Có vẻ như công ty đã mắc sai lầm trong chiến lược tiếp thị của nó.</em></span></span>
        </p>

    </div>
</div>
