<meta charset="UTF-8">
<div class="item-active" id="item-1">
    <div class="item-title-active">
        <div class="item-title-active-content">I. ĐỊNH NGHĨA VỀ CỤM ĐỘNG TỪ (PHRASAL VERBS)
        </div>

    </div>
    <div class="item-active-content">
        <p><span><span><strong>Cụm động từ </strong>(Phrasal verbs) là sự kết hợp giữa một động từ và một từ nhỏ (particle). Từ nhỏ, particle(s), này có thể là một trạng từ (adverb), hay là một giới từ (preposition), hoặc là cả hai:</span></span>
        </p>

        <p><strong><span><span>VD: </span></span></strong></p>


        <p>&nbsp;&nbsp;&bull; <span><span
        ><em>The rich man gave away most of his fortune.</em></span></span><br>
            <span style="color:#008000"><span><span><em>( Người đàn ông giàu có ấy đã tặng hầu hết tài sản của ông ta cho người nghèo.)</em></span></span></span>
        </p>

    </div>
</div>
<div class="item-active" id="item-2">
    <div class="item-title-active">
        <div class="item-title-active-content">II. CÁCH SỬ DỤNG CỤM ĐỘNG TỪ
        </div>

    </div>
    <div class="item-active-content">
        <p><span style="color:#66cc00"><span><strong>Vai trò của Cụm Động Từ:</strong></span></span></p>

        <p><span><span>- <strong>Ngoại động từ</strong> (transitive): theo sau là một danh từ hoặc là một đại danh từ với chức năng là túc từ (object) của động từ.<br>
– <strong>Nội động từ</strong> (intransitive): không có túc từ theo sau.</span></span></p>

        <p><span style="color:#ff8c00"><span><strong>A. NỘI ĐỘNG TỪ: Intransitive phrasal verbs</strong></span></span>
        </p>

        <p>
            <span><span>– Không có túc từ – động từ cùng particle (thường là trạng từ- adverb) luôn đi sát nhau:</span></span>
        </p>

        <p><span><span>VD:&nbsp;</span></span></p>


        <p>&nbsp;&nbsp;&bull; <span><span
        ><em>The magazine Time comes out once a week.</em></span></span><br>
            <span style="color:#008000"><span><em><span><em>( Báo Time được phát hành mỗi tuần một lần.)</em></span></em></span></span>
        </p>
        <p>&nbsp;&nbsp;&bull; <span><span
        ><em>Our car broke down and had to be towed to a garage.</em></span></span><br>
            <span style="color:#008000"><span><em><span><em>( Xe chúng tôi bị hư và phải kéo về chỗ sửa.)</em></span></em></span></span>
        </p>


        <p><span><span>– Cũng như các nội động từ thường, không có túc từ đi theo, loại phrasal verb này không dùng ở thể thụ động (passive) nên bạn không nghe dân bản xứ nói “Our car was broken down…”, “ The magazine Time is come out…”<br>
– Một số intransitive phrasal verbs thông dụng: break down, come back, fall through, get by, get up, go on, grow up, look out, show up, shut up, sit down, stand up, stay on, take off, turn up, watch out…</span></span>
        </p>

        <p><span style="color:#ff8c00"><span><strong>B. NGOẠI ĐỘNG TỪ: Transitive phrasal verbs</strong></span></span>
        </p>

        <p><span><span
        >Được chia làm HAI NHÓM, tùy theo vị trí của túc từ:</span></span></p>

        <p><span><span>– <strong>NHÓM 1</strong>: có thể ở giữa động từ và ‘particle’ hoặc đi sau ‘particle’:<br>
VD:&nbsp;</span></span></p>


        <p>&nbsp;&nbsp;&bull; <span><em><span
        >I took my shoes off./ I took off my shoes.</span></em></span><br>
            <span style="color:#008000"><em><span><em><span>( Tôi cởi giầy ra.)</span></em></span></em></span>
        </p>
        <p>&nbsp;&nbsp;&bull; <span><em><span>He admitted he’d made up the whole thing./ He admitted he’d made the whole thing up.</span></em></span><br>
            <span style="color:#008000"><em><span><span><em>( Anh ta thú nhận rằng đã bịa ra mọi chuyện.)</em></span></span></em></span>
        </p>


        <p><span><span>– <strong>NHÓM 2</strong>: Nhưng khi túc từ là một đại danh từ (những chữ như this, that, it, them,me,her và him thì đại danh từ này sẽ đứng ở giữa động từ và ‘particle’:</span></span>
        </p>

        <p><span><span>VD:&nbsp;</span></span></p>


        <p>&nbsp;&nbsp;&bull; <em><span><span
        >I took them off. (NOT I took off them)</span></span></em></p>
        <p>&nbsp;&nbsp;&bull; <span><span><em>He admitted he’d made it up. (NOT He admitted he’d made up it)</em></span></span>
        </p>


        <p><span><span><strong>NGOẠI LỆ:</strong><br>
Có nhiều phrasal verbs vừa có thể là transitive hoặc intransitive. Ngữ cảnh sẽ cho chúng ta biết chức năng cùng với nghĩa của chúng:</span></span>
        </p>

        <p><span><span>VD: </span></span></p>


        <p>&nbsp;&nbsp;&bull; <em><span><span
        >The plane took off at seven o’clock.</span></span><br>
            <span style="color:#008000"><span>(Máy bay cất cánh lúc 7 giờ.)</span></span></em></p>
        <p>&nbsp;&nbsp;&bull;
            <em><span><span>He took off his hat and bowed politely as the teacher passed. </span></span><br>
                <span style="color:#008000"><span
                >(Nó cất mũ cúi mình chào lễ phép khi thầy đi ngang.)</span></span></em></p>
        <p>&nbsp;&nbsp;&bull;
            <em><span><span>I am taking this Friday off to get something done around the house. </span></span><br>
                <span style="color:#008000"><span
                >( Tôi sẽ nghỉ thứ sáu để làm việc nhà)</span></span></em></p>
        <p>&nbsp;&nbsp;&bull; <em><span><span
        >He’s been taken off the medication. </span></span><br>
            <span style="color:#008000"><span>(Nó vừa được ngừng uống thuốc.)</span></span></em></p>
        <p>&nbsp;&nbsp;&bull; <em><span><span
        >Son takes off his English teacher perfectly. </span></span><br>
            <span style="color:#008000"><span
            >( Sơn bắt chước ông thầy người Anh rất tài.)</span></span></em></p>

    </div>
</div>
<div class="item-active" id="item-3">
    <div class="item-title-active">
        <div class="item-title-active-content">III. NHỮNG CỤM ĐỘNG TỪ (PHRASAL VERB) THÔNG DỤNG NHẤT
        </div>

    </div>
    <div class="item-active-content">
        <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
            <tbody>
            <tr>
                <td style="text-align:center"><span style="color:#ff8c00"><span><strong>Cụm Động Từ &amp; Ví Dụ</strong></span></span>
                </td>
                <td style="text-align:center"><span style="color:#ff8c00"><span
                ><strong>Nghĩa</strong></span></span></td>
            </tr>
            <tr>
                <td style="text-align:center"><span><span><strong>Bear out = confirm</strong></span></span><br>
                    <span style="color:#008000"><span>The other witnesses will bear out what I say</span></span>
                </td>
                <td style="text-align:center"><span><span>Xác nhận</span></span>
                </td>
            </tr>
            <tr>
                <td style="text-align:center"><span><span><strong>Bring in = introduce</strong></span></span><br>
                    <span style="color:#008000"><span
                    >They want to bring in a bill to limit arms exports</span></span></td>
                <td style="text-align:center"><span><span>Giới thiệu</span></span>
                </td>
            </tr>
            <tr>
                <td style="text-align:center"><span><span><strong>Gear up for = prepare for</strong></span></span><br>
                    <span style="color:#008000"><span>Cycle organizations are gearing up for National Bike Week.</span></span>
                </td>
                <td style="text-align:center"><span><span>Chuẩn bị</span></span>
                </td>
            </tr>
            <tr>
                <td style="text-align:center"><span><span><strong>Pair up with = team up with</strong></span></span><br>
                    <span style="color:#008000"><span>Sally decided to pair up with Jason for the dance contest.</span></span>
                </td>
                <td style="text-align:center"><span><span>Hợp tác</span></span>
                </td>
            </tr>
            <tr>
                <td style="text-align:center"><span><span
                ><strong>Cut down = reduce</strong></span></span><br>
                    <span style="color:#008000"><span
                    >We need to cut the article down to 1 000 words.</span></span></td>
                <td style="text-align:center"><span><span>Cắt giảm</span></span>
                </td>
            </tr>
            <tr>
                <td style="text-align:center"><span><span><strong>Look back on = remember</strong></span></span><br>
                    <span style="color:#008000"><span
                    >She usually looks back on her childhood.</span></span></td>
                <td style="text-align:center"><span><span>Nhớ lại</span></span>
                </td>
            </tr>
            <tr>
                <td style="text-align:center"><span><span
                ><strong>Bring up = raise</strong></span></span><br>
                    <span style="color:#008000"><span>He was brought up by his aunt</span></span></td>
                <td style="text-align:center"><span><span>Nuôi dưỡng</span></span>
                </td>
            </tr>
            <tr>
                <td style="text-align:center"><span><span
                ><strong>Hold on = wait</strong></span></span><br>
                    <span style="color:#008000"><span>Hold on a minute while I get my breath back</span></span>
                </td>
                <td style="text-align:center"><span><span>Chờ đợi</span></span>
                </td>
            </tr>
            <tr>
                <td style="text-align:center"><span><span><strong>Turn down = refuse</strong></span></span><br>
                    <span style="color:#008000"><span>He has been turned down for ten jobs so far</span></span>
                </td>
                <td style="text-align:center"><span><span>Từ chối</span></span>
                </td>
            </tr>
            <tr>
                <td style="text-align:center"><span><span><strong>Talk over = discuss</strong></span></span><br>
                    <span style="color:#008000"><span>They talked over the proposal and decided to give it their approval.</span></span>
                </td>
                <td style="text-align:center"><span><span>Thảo luận</span></span>
                </td>
            </tr>
            <tr>
                <td style="text-align:center">
                    <span><span><strong>Leave out = not include, omit</strong></span></span><br>
                    <span style="color:#008000"><span>&nbsp;If you are a student, you can omit questions 16–18.</span></span>
                </td>
                <td style="text-align:center"><span><span>Bỏ qua</span></span></td>
            </tr>
            <tr>
                <td style="text-align:center"><span><span
                ><strong>Break down</strong></span></span><br>
                    <span style="color:#008000"><span>The telephone system has broken down.</span></span>
                </td>
                <td style="text-align:center"><span><span
                >Đổ vỡ, hư hỏng</span></span></td>
            </tr>
            <tr>
                <td style="text-align:center"><span><span><strong>Put forward = suggest</strong></span></span><br>
                    <span style="color:#008000"><span
                    >Can I put you forward for club secretary</span></span></td>
                <td style="text-align:center"><span><span
                >Đề xuất, gợi ý</span></span></td>
            </tr>
            <tr>
                <td style="text-align:center"><span><span><strong>Dress up</strong></span></span><br>
                    <span style="color:#008000"><span>There’s no need to dress up—come as you are.</span></span>
                </td>
                <td style="text-align:center"><span><span
                >Ăn vận (trang trọng)</span></span></td>
            </tr>
            <tr>
                <td style="text-align:center"><span><span
                ><strong>Stand for</strong></span></span><br>
                    <span style="color:#008000"><span>‘The book’s by T.C. Smith.’ ‘What does the ‘T.C.’ stand for?’</span></span>
                </td>
                <td style="text-align:center"><span><span
                >Viết tăt cho</span></span></td>
            </tr>
            <tr>
                <td style="text-align:center"><span><span><strong>Keep up = continue</strong></span></span><br>
                    <span style="color:#008000"><span>Well done! Keep up the good work/Keep it up</span></span>
                </td>
                <td style="text-align:center"><span><span>Tiếp tục</span></span>
                </td>
            </tr>
            <tr>
                <td style="text-align:center"><span><span><strong>Look after = take care of</strong></span></span><br>
                    <span style="color:#008000"><span>Who’s going to look after the children while you’re away?</span></span>
                </td>
                <td style="text-align:center"><span><span
                >Trông nom, chăm sóc</span></span></td>
            </tr>
            <tr>
                <td style="text-align:center"><span><span><strong>Work out = calculate</strong></span></span><br>
                    <span style="color:#008000"><span
                    >&nbsp;It’ll work out cheaper to travel by bus.</span></span></td>
                <td style="text-align:center"><span><span>Tính toán</span></span>
                </td>
            </tr>
            <tr>
                <td style="text-align:center"><span><span
                ><strong>Show up = arrive</strong></span></span><br>
                    <span style="color:#008000"><span
                    >It was getting late when she finally showed up</span></span></td>
                <td style="text-align:center"><span><span>Tới, đến</span></span>
                </td>
            </tr>
            <tr>
                <td style="text-align:center"><span><span><strong>Come about = happen</strong></span></span><br>
                    <span style="color:#008000"><span>Can you tell me how the accident came about</span></span>
                </td>
                <td style="text-align:center"><span><span>Xảy ra</span></span></td>
            </tr>
            <tr>
                <td style="text-align:center"><span><span><strong>Hold up = stop, delay</strong></span></span><br>
                    <span style="color:#008000"><span>An accident is holding up traffic</span></span>
                </td>
                <td style="text-align:center"><span><span>Dừng lại, hoãn lại</span></span>
                </td>
            </tr>
            <tr>
                <td style="text-align:center"><span><span
                ><strong>Call off = cancel</strong></span></span><br>
                    <span style="color:#008000"><span
                    >The game was called off because of bad weather</span></span></td>
                <td style="text-align:center"><br>
                    <span><span>Hoãn, Hủy bỏ</span></span></td>
            </tr>
            <tr>
                <td style="text-align:center"><span><span><strong>Look for = expect, hope for</strong></span></span><br>
                    <span style="color:#008000"><span>We shall be looking for an improvement in your work this term</span></span>
                </td>
                <td style="text-align:center"><br>
                    <span><span>Trông đợi</span></span></td>
            </tr>
            <tr>
                <td style="text-align:center"><span><span
                ><strong>Fix up = arrange</strong></span></span><br>
                    <span style="color:#008000"><span>I’ll fix you up with a place to stay.</span></span>
                </td>
                <td style="text-align:center"><br>
                    <span><span>Sắp xếp</span></span></td>
            </tr>
            <tr>
                <td style="text-align:center"><span><span><strong>Get by = manage to live</strong></span></span><br>
                    <span style="color:#008000"><span>How does she get by on such a small salary?</span></span>
                </td>
                <td style="text-align:center"><span><span>Sống bằng</span></span>
                </td>
            </tr>
            <tr>
                <td style="text-align:center"><span><span><strong>Check in</strong></span></span><br>
                    <span style="color:#008000"><span
                    >Please check in at least an hour before departure.</span></span></td>
                <td style="text-align:center"><span><span
                >Làm thủ tục vào cửa</span></span></td>
            </tr>
            <tr>
                <td style="text-align:center"><span><span
                ><strong>Check out</strong></span></span><br>
                    <span style="color:#008000"><span
                    >Please check out at the reception area</span></span></td>
                <td style="text-align:center"><span><span
                >Làm thủ tục ra</span></span></td>
            </tr>
            <tr>
                <td style="text-align:center"><span><span><strong>Drop by (drop in on)</strong></span></span><br>
                    <span style="color:#008000"><span
                    >I thought I’d drop in on you while I was passing.</span></span></td>
                <td style="text-align:center"><span><span>Ghé qua</span></span>
                </td>
            </tr>
            <tr>
                <td style="text-align:center"><span><span
                ><strong>Come up with</strong></span></span><br>
                    <span style="color:#008000"><span
                    >She came up with a new idea for increasing sales.</span></span></td>
                <td style="text-align:center"><br>
                    <span><span>Nghĩ ra</span></span></td>
            </tr>
            <tr>
                <td>
                    <p style="text-align:center"><span><span><strong>Call up = phone</strong></span></span><br>
                        <span style="color:#008000"><span
                        >She’s out for lunch. Please call up later</span></span></p>
                </td>
                <td style="text-align:center"><span><span>Gọi điện</span></span>
                </td>
            </tr>
            <tr>
                <td>
                    <p style="text-align:center"><span><span><strong>Call on = visit</strong></span></span><br>
                        <span style="color:#008000"><span>My mother’s friends call upon her everyWednesday</span></span>
                    </p>
                </td>
                <td style="text-align:center"><span><span>Thăm</span></span></td>
            </tr>
            <tr>
                <td>
                    <p style="text-align:center"><span><span><strong>Think over = consider</strong></span></span><br>
                        <span style="color:#008000"><span
                        >Let me think over your request for a day or so.</span></span></p>
                </td>
                <td style="text-align:center"><span><span>Xem xét, cân nhắc</span></span>
                </td>
            </tr>
            <tr>
                <td>
                    <p style="text-align:center"><span><span><strong>Talk over = discuss</strong></span></span><br>
                        <span style="color:#008000"><span>They talked over the proposal and decided to give it their approval</span></span>
                    </p>
                </td>
                <td style="text-align:center"><span><span>Thảo luận</span></span>
                </td>
            </tr>
            <tr>
                <td>
                    <p style="text-align:center"><span><span
                    ><strong>Move on</strong></span></span><br>
                        <span style="color:#008000"><span
                        >Can we move on to the next item on the agenda?</span></span></p>
                </td>
                <td style="text-align:center"><span><span>Chuyển sang</span></span>
                </td>
            </tr>
            <tr>
                <td>
                    <p style="text-align:center"><span><span><strong>Go over = examine</strong></span></span><br>
                        <span style="color:#008000"><span>Go over your work before you hand it in.</span></span>
                    </p>
                </td>
                <td style="text-align:center"><span><span>Xem xét</span></span>
                </td>
            </tr>
            <tr>
                <td>
                    <p style="text-align:center"><span><span><strong>Clear up = tidy</strong></span></span><br>
                        <span style="color:#008000"><span
                        >I’m fed up with clearing up after you!</span></span></p>
                </td>
                <td style="text-align:center"><span><span>Dọn dẹp</span></span>
                </td>
            </tr>
            <tr>
                <td>
                    <p style="text-align:center"><span><span><strong>Carry out = execute</strong></span></span><br>
                        <span style="color:#008000"><span>Extensive tests have been carried out on the patient.</span></span>
                    </p>
                </td>
                <td style="text-align:center"><span><span>Tiến hành</span></span>
                </td>
            </tr>
            <tr>
                <td>
                    <p style="text-align:center"><span><span
                    ><strong>Break in</strong></span></span><br>
                        <span style="color:#008000"><span
                        >Burglars had broken in while we were away.</span></span></p>
                </td>
                <td style="text-align:center"><span><span>Đột nhập</span></span>
                </td>
            </tr>
            <tr>
                <td>
                    <p style="text-align:center"><span><span
                    ><strong>Back up</strong></span></span><br>
                        <span style="color:#008000"><span
                        >I’ll back you up if they don’t believe you.</span></span></p>
                </td>
                <td style="text-align:center"><span><span>Ủng hộ</span></span></td>
            </tr>
            <tr>
                <td>
                    <p style="text-align:center"><span><span><strong>Turn away = turn down</strong></span></span><br>
                        <span style="color:#008000"><span>They had nowhere to stay so I couldn’t turn them away</span></span>
                    </p>
                </td>
                <td style="text-align:center"><span><span>Từ chối</span></span>
                </td>
            </tr>
            <tr>
                <td>
                    <p style="text-align:center"><span><span><strong>Wake up = get up</strong></span></span><br>
                        <span style="color:#008000"><span>Wake up and listen!</span></span></p>
                </td>
                <td style="text-align:center"><span><span>Thức dậy</span></span>
                </td>
            </tr>
            <tr>
                <td>
                    <p style="text-align:center"><span><span
                    ><strong>Warm up</strong></span></span><br>
                        <span style="color:#008000"><span
                        >Let’s warm up before entering the main part</span></span></p>
                </td>
                <td style="text-align:center"><span><span>Khởi động</span></span>
                </td>
            </tr>
            <tr>
                <td>
                    <p style="text-align:center"><span><span
                    ><strong>Turn off</strong></span></span><br>
                        <span style="color:#008000"><span>They’ve turned off the water while they repair a burst pipe.</span></span>
                    </p>
                </td>
                <td style="text-align:center"><span><span>Tắt</span></span></td>
            </tr>
            <tr>
                <td>
                    <p style="text-align:center"><span><span
                    ><strong>Turn on</strong></span></span><br>
                        <span style="color:#008000"><span>I’ll turn the television on.</span></span></p>
                </td>
                <td style="text-align:center"><span><span>Bật</span></span></td>
            </tr>
            <tr>
                <td>
                    <p style="text-align:center"><span><span
                    ><strong>Fall down</strong></span></span><br>
                        <span style="color:#008000"><span>Many buildings in the old part of the city are falling down.</span></span>
                    </p>
                </td>
                <td style="text-align:center"><span><span>Xuống cấp</span></span>
                </td>
            </tr>
            <tr>
                <td>
                    <p style="text-align:center"><span><span
                    ><strong>Find out</strong></span></span><br>
                        <span style="color:#008000"><span
                        >I haven’t found anything out about him yet.</span></span></p>
                </td>
                <td style="text-align:center"><span><span>Tìm ra</span></span></td>
            </tr>
            <tr>
                <td>
                    <p style="text-align:center"><span><span
                    ><strong>Get off</strong></span></span><br>
                        <span style="color:#008000"><span
                        >We got off straight after breakfast.</span></span></p>
                </td>
                <td style="text-align:center"><span><span>Khởi hành</span></span>
                </td>
            </tr>
            <tr>
                <td>
                    <p style="text-align:center"><span><span
                    ><strong>Give up</strong></span></span><br>
                        <span style="color:#008000"><span>They gave up without a fight</span></span></p>
                </td>
                <td style="text-align:center"><span><span>Từ bỏ</span></span></td>
            </tr>
            <tr>
                <td>
                    <p style="text-align:center"><span><span><strong>Go up = increase</strong></span></span><br>
                        <span style="color:#008000"><span
                        >The price of cigarettes is going up</span></span></p>
                </td>
                <td style="text-align:center"><span><span>Tăng lên</span></span>
                </td>
            </tr>
            <tr>
                <td>
                    <p style="text-align:center"><span><span><strong>Pick someone up</strong></span></span><br>
                        <span style="color:#008000"><span>I’ll pick you up at five</span></span></p>
                </td>
                <td style="text-align:center"><span><span>Đón ai đó</span></span>
                </td>
            </tr>
            <tr>
                <td>
                    <p style="text-align:center"><span><span
                    ><strong>Speed up</strong></span></span><br>
                        <span style="color:#008000"><span
                        >Can you try and speed things up a bit?</span></span></p>
                </td>
                <td style="text-align:center"><span><span>Tăng tốc</span></span>
                </td>
            </tr>
            <tr>
                <td>
                    <p style="text-align:center"><span><span
                    ><strong>Grow up</strong></span></span><br>
                        <span style="color:#008000"><span>Their children have all grown up and left home now</span></span>
                    </p>
                </td>
                <td style="text-align:center"><span><span>Lớn lên</span></span>
                </td>
            </tr>
            <tr>
                <td>
                    <p style="text-align:center"><span><span
                    ><strong>Catch up with</strong></span></span><br>
                        <span style="color:#008000"><span
                        >Go on ahead. I’ll catch up with you</span></span></p>
                </td>
                <td style="text-align:center"><span><span>Theo kịp</span></span>
                </td>
            </tr>
            <tr>
                <td>
                    <p style="text-align:center"><span><span
                    ><strong>Cut off</strong></span></span><br>
                        <span style="color:#008000"><span>He had his finger cut off in an accident at work.</span></span>
                    </p>
                </td>
                <td style="text-align:center"><span><span
                >Cắt bỏ cái gì đó</span></span></td>
            </tr>
            <tr>
                <td>
                    <p style="text-align:center"><span><span
                    ><strong>Account for</strong></span></span><br>
                        <span style="color:#008000"><span
                        >How do you account for the show’s success?</span></span></p>
                </td>
                <td style="text-align:center"><span><span>Giải thích</span></span>
                </td>
            </tr>
            <tr>
                <td>
                    <p style="text-align:center"><span><span
                    ><strong>Belong to</strong></span></span><br>
                        <span style="color:#008000"><span>Who does this watch belong to?</span></span>
                    </p>
                </td>
                <td style="text-align:center"><span><span>Thuộc về</span></span>
                </td>
            </tr>
            <tr>
                <td>
                    <p style="text-align:center"><span><span
                    ><strong>Break away</strong></span></span><br>
                        <span style="color:#008000"><span>The prisoner broke away from his guards.</span></span>
                    </p>
                </td>
                <td style="text-align:center"><span >Bỏ trồn</span></td>
            </tr>
            <tr>
                <td>
                    <p style="text-align:center"><span><span
                    ><strong>Delight in</strong></span></span><br>
                        <span style="color:#008000"><span>She delights in walking</span></span></p>
                </td>
                <td style="text-align:center"><span><span
                >Thích thú về</span></span></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
