<meta charset="UTF-8">
<div class="item-active" id="item-1">
    <div class="item-title-active">
        <div class="item-title-active-content">I. ĐỊNH NGHĨA
        </div>

    </div>
    <div class="item-active-content">
        <p><span><span style="color:#000000"><span
        ><strong>Thì hiện tại hoàn thành</strong> (present perfect tense) dùng để diễn tả về một hành động đã hoàn thành cho tới thời điểm hiện tại mà không bàn về thời gian diễn ra nó.</span></span></span>
        </p>
    </div>
</div>
<div class="item-active" id="item-2">
    <div class="item-title-active">
        <div class="item-title-active-content">II. CẤU TRÚC
        </div>

    </div>
    <div class="item-active-content">
        <p><span><span style="color:#ffa500"><span
        ><strong>1. Khẳng định:</strong></span></span><br>
<span style="color:#000000"><span><strong>- Cấu trúc:&nbsp;</strong></span></span></span></p>

        <p style="text-align:center"><span style="color:#66cc00"><span style="font-size:20px"><strong><span
        >S + have/ has + Vpp</span></strong></span></span></p>

        <p><strong><span><span style="color:#000000"><span
        >- Trong đó: &nbsp; &nbsp; &nbsp;</span></span></span></strong></p>

        <p><em><span><span style="color:#000000"><span
        >&nbsp;&nbsp;+ S (subject): chủ ngữ</span></span></span></em></p>
        <p><em><span><span style="color:#000000"><span
        >&nbsp;&nbsp;+ Have/ has: trợ động từ</span></span></span></em></p>
        <p><em><span><span style="color:#000000"><span
        >&nbsp;&nbsp;+ Vpp:&nbsp;Quá khứ phân từ&nbsp;</span></span></span></em></p>

        <p><strong><span><span style="color:#000000"><span
        >- Lưu ý:&nbsp;</span></span></span></strong></p>

        <p><em><span><span style="color:#000000"><span
        >&nbsp;&nbsp;+ S = I/ We/ You/ They + have</span></span></span></em></p>
        <p><em><span><span style="color:#000000"><span
        >&nbsp;&nbsp;+ S = He/ She/ It + has</span></span></span></em></p>

        <p><span><span style="color:#000000"><span
        >- Eg:</span></span></span></p>

        <p><em><span><span style="color:#000000"><span
        >&nbsp;&nbsp;+ I <u><strong>have graduated</strong></u> from my university since 2013. </span></span><span
                style="color:#008000"><span
        >(Tôi tốt nghiệp đại học từ năm 2013.)</span></span></span></em></p>
        <p><em><span><span style="color:#000000"><span
        >&nbsp;&nbsp;+ She <u><strong>has lived</strong></u> here for one year. </span></span><span
                style="color:#008000"><span>(Cô ấy sống ở đây được một năm rồi.)</span></span></span></em>
        </p>

        <p><span><span style="color:#ffa500"><span
        ><strong>2. Phủ định:</strong></span></span><br>
<span style="color:#000000"><span><strong>- Cấu trúc:&nbsp;</strong></span></span></span></p>

        <p style="text-align:center"><span style="color:#66cc00"><span style="font-size:20px"><strong><span
        >S + haven’t / hasn’t + Vpp</span></strong></span></span></p>

        <p><span><span style="color:#000000"><span>=&gt; Câu phủ định trong thì hiện tại hoàn thành ta chỉ cần thêm “not” vào sau “have/ has”.</span></span></span>
        </p>

        <p><strong><span><span style="color:#000000"><span
        >- Lưu ý:</span></span></span></strong></p>

        <p><em><span><span style="color:#000000"><span
        >&nbsp;&nbsp;+ haven’t = have not</span></span></span></em></p>
        <p><em><span><span style="color:#000000"><span
        >&nbsp;&nbsp;+ hasn’t = has not</span></span></span></em></p>

        <p><span><span style="color:#000000"><span
        >- Eg:</span></span></span></p>

        <p><em><span><span style="color:#000000"><span
        >&nbsp;&nbsp;+ We <u><strong>haven’t met</strong></u> each other for a long time. </span></span><span
                style="color:#008000"><span
        >(Chúng tôi không gặp nhau trong một thời gian dài rồi.)</span></span></span></em>
        </p>
        <p><em><span><span style="color:#000000"><span
        >&nbsp;&nbsp;+ He <u><strong>hasn’t come</strong></u> back his hometown since 1995. </span></span><span
                style="color:#008000"><span>(Anh ấy không quay trở lại quê hương của mình từ năm 1995.)</span></span></span></em>
        </p>

        <p>&nbsp;</p>

        <p><span style="color:#ffa500"><strong><span><span
        >3. Câu hỏi:</span></span></strong></span></p>

        <p style="text-align:center"><span style="color:#66cc00"><span style="font-size:20px"><strong><span
        >Have/ Has + S + Vpp ?</span></strong></span></span></p>

        <p><strong><span style="color:#000000"><span><span
        >- Trả lời:&nbsp;</span></span></span></strong></p>

        <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
            <tbody>
            <tr>
                <td style="text-align:center"><span
                        style="color:#000000; font-family:arial,helvetica,sans-serif; font-size:16px">Yes, I/ we/ you/ they + have</span>
                </td>
                <td style="text-align:center"><span
                        style="color:#000000; font-family:arial,helvetica,sans-serif; font-size:16px">Yes, he/ she/ it + has.</span>
                </td>
            </tr>
            <tr>
                <td style="text-align:center"><span
                        style="color:#000000; font-family:arial,helvetica,sans-serif; font-size:16px">No, I/ we/ you/ they + haven't</span>
                </td>
                <td style="text-align:center"><span
                        style="color:#000000; font-family:arial,helvetica,sans-serif; font-size:16px">No, he/ she/ it + hasn't.</span>
                </td>
            </tr>
            </tbody>
        </table>

        <p><span><span style="color:#000000"><span>=&gt; Câu hỏi trong thì hiện tại hoàn thành ta chỉ cần đảo trợ động từ “have/ has” lên trước chủ ngữ, động từ theo sau ở dạng quá khứ phân từ.</span></span></span>
        </p>

        <p><span><span style="color:#000000"><span>- Eg:&nbsp;</span></span></span>
        </p>

        <p><em><span><span style="color:#000000"><span
        >&nbsp;&nbsp;+ <u><strong>Have</strong></u> you ever <u><strong>travelled</strong></u> to Thailand? </span></span><span
                style="color:#008000"><span
        >(Bạn đã từng du lịch tới Thái Lan bao giờ chưa?)</span></span><br>
	<span style="color:#000000"><span><span><span
            style="color:#000000"><span>Yes, I have./ No, I haven't.</span></span></span></span></span></span></em>
        </p>
        <p><em><span><span style="color:#000000"><span
        >&nbsp;&nbsp;+ <u><strong>Has</strong></u> she <u><strong>arrived</strong></u> London yet? </span></span><span
                style="color:#008000"><span>(Cô ấy đã tới Luân Đôn chưa?)</span></span><br>
	<span style="color:#000000"><span><span><span
            style="color:#000000"><span
    >Yes, she has./ No, she hasn't.</span></span></span></span></span></span></em></p>
    </div>
</div>
<div class="item-active" id="item-3">
    <div class="item-title-active">
        <div class="item-title-active-content">III. CÁCH SỬ DỤNG
        </div>

    </div>
    <div class="item-active-content">
        <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
            <tbody>
            <tr>
                <td style="text-align:center">
                    <p><span><span style="color:#000000"><span
                    ><strong>Cách dùng thì Hiện tại hoàn thành</strong></span></span></span></p>
                </td>
                <td style="text-align:center"><span><span
                        style="color:#000000"><span><strong>Ví Dụ</strong></span></span></span></td>
            </tr>
            <tr>
                <td style="text-align:justify">
                    <p><span><span style="color:#000000"><span
                    >Hành động đã hoàn thành cho tới thời điểm hiện tại mà không đề cập tới nó xảy ra khi nào.</span></span></span>
                    </p>
                </td>
                <td style="text-align:justify">
                    <p><em><span><span style="color:#000000"><span
                    >&nbsp;I’ve done all my homeworks</span></span><br>
				<span style="color:#008000"><span><span
                ><span>( Tôi đã làm hết bài tập về nhà )</span></span></span></span></span></em>
                    </p>
                </td>
            </tr>
            <tr>
                <td style="text-align:justify"><span><span style="color:#000000"><span
                >Hành động bắt đầu ở quá khứ và đang tiếp tục ở hiện tại</span></span></span>
                </td>
                <td>
                    <p style="text-align:justify"><em><span><span
                            style="color:#000000"><span
                    >&nbsp;&nbsp;+ They’ve been married for nearly Forty years</span></span><br>
				<span style="color:#008000"><span
                >( Họ đã kết hôn được 40 năm. )</span></span></span></em></p>
                    <p style="text-align:justify"><em><span><span
                            style="color:#000000"><span>&nbsp;&nbsp;+ He has lived in Liverpool all his life</span></span><br>
				<span style="color:#008000"><span
                >(Anh ấy đã sống cả đời ở Liverpool. )</span></span></span></em></p>
                </td>
            </tr>
            <tr>
                <td style="text-align:justify">
                    <p><span><span style="color:#000000"><span
                    >Hành động đã từng làm trước đây và bây giờ vẫn còn làm</span></span></span>
                    </p>
                </td>
                <td style="text-align:justify">
                    <p><em><span><span style="color:#000000"><span
                    >She has written three books and she is working on another book </span></span></span><br>
                        <span style="color:#008000"><span><span
                        >Cô ấy đã viết được 3 cuốn sách và đang viết cuốn tiếp theo</span></span></span></em>
                    </p>
                </td>
            </tr>
            <tr>
                <td style="text-align:justify">
                    <p><span><span style="color:#000000"><span
                    >Một kinh nghiệm cho tới thời điểm hiện tại (thường dùng trạng từ ever )</span></span></span>
                    </p>
                </td>
                <td style="text-align:justify">
                    <p><span><span style="color:#000000"><span
                    ><em>My last birthday was the worst day I’ve ever had </em></span></span><br>
				<span style="color:#008000"><span><span
                ><span><em>Sinh nhật năm ngoái là ngày tệ nhất đời tôi</em></span></span></span></span></span>
                    </p>
                </td>
            </tr>
            <tr>
                <td style="text-align:justify">
                    <p><span><span style="color:#000000"><span
                    >Về một hành động trong quá khứ nhưng quan trọng tại thời điểm nói</span></span></span>
                    </p>
                </td>
                <td style="text-align:justify">
                    <p><span><span style="color:#000000"><span
                    ><em>I can’t get my house. I’ve lost my keys.</em></span></span><br>
				<span style="color:#008000"><span><em>(Tôi không thể vào nhà được.Tôi đánh mất chùm chìa khóa của mình rồi )</em></span></span></span>
                    </p>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="item-active" id="item-4">
    <div class="item-title-active">
        <div class="item-title-active-content">IV. DẤU HIỆU NHẬN BIẾT
        </div>

    </div>
    <div class="item-active-content">
        <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
            <tbody>
            <tr>
                <td>
                    <p><span><span style="color:#000000"><span
                    >Just, recently, lately: gần đây, vừa mới</span></span></span></p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><span><span style="color:#000000"><span
                    >For + N – quãng thời gian: trong khoảng (for a year, for a long time, …)</span></span></span>
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><span><span style="color:#000000"><span
                    >Already: rồi</span></span></span></p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><span><span style="color:#000000"><span
                    >Since + N – mốc/điểm thời gian: từ khi (since 1992, since June, …)</span></span></span>
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><span><span style="color:#000000"><span
                    >Before: trước đây</span></span></span></p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><span><span style="color:#000000"><span
                    >Yet: chưa (dùng trong câu phủ định và câu hỏi)</span></span></span></p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><span><span style="color:#000000"><span
                    >Ever: đã từng</span></span></span></p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><span><span style="color:#000000"><span
                    >So far = until now = up to now = up to the present: cho đến bây giờ</span></span></span>
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><span><span style="color:#000000"><span
                    >Never: chưa từng, không bao giờ</span></span></span></p>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
