<meta charset="UTF-8">
<div class="item-active" id="item-1">
    <div class="item-title-active">
        <div class="item-title-active-content">I. Need
        </div>

    </div>
    <div class="item-active-content">
        <p><span style="color: #ffa500;"><a>1.</a>&nbsp;Need d&ugrave;ng như một động từ thường:</span>
        </p>
        <p>a) Động từ đi sau need chỉ ở dạng nguy&ecirc;n thể khi chủ ngữ l&agrave; một&nbsp;<em>vật
            thể sống</em>:</p>
        <blockquote>
            <p>My friend&nbsp;<span style="text-decoration: underline;">needs</span>&nbsp;<span
                    style="text-decoration: underline;">to learn</span>&nbsp;Spanish.<br/>
                He will&nbsp;<span style="text-decoration: underline;">need</span>&nbsp;<span
                        style="text-decoration: underline;">to drive</span>&nbsp;alone tonight.<br/>
                John&nbsp;<span style="text-decoration: underline;">needs</span>&nbsp;<span style="text-decoration: underline;">to paint</span>&nbsp;his
                house.</p>
        </blockquote>
        <p>b) Động từ đi sau need phải ở dạng verb-ing hoặc dạng bị động nếu chủ ngữ kh&ocirc;ng phải
            l&agrave; vật thể sống.</p>
        <blockquote>
            <p>The grass&nbsp;<span style="text-decoration: underline;">needs</span>&nbsp;<span
                    style="text-decoration: underline;">cutting</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                OR The grass needs to be cut.<br/>
                The telivision&nbsp;<span style="text-decoration: underline;">needs</span>&nbsp;<span
                        style="text-decoration: underline;">repairing</span>&nbsp;&nbsp; OR The TV needs to be repaired.<br/>
                Your thesis&nbsp;<span style="text-decoration: underline;">needs</span>&nbsp;<span
                        style="text-decoration: underline;">rewriting</span>&nbsp;&nbsp;&nbsp;&nbsp; OR Your thesis needs to be
                rewritten.</p>
        </blockquote>
        <p><strong>Ch&uacute; &yacute;</strong>:</p>
        <div style="text-align: center;">
            <center>
                <table border="1" width="100%">
                    <tbody>
                    <tr>
                        <td>
                            <p style="text-align: center;"><em>need</em>&nbsp;+ noun =&nbsp;<em>to be in need of</em>&nbsp;+
                                noun</p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </center>
        </div>
        <blockquote>
            <p>Jill&nbsp;<span style="text-decoration: underline;">is</span>&nbsp;<span
                    style="text-decoration: underline;">in need of</span>&nbsp;money. = Jill needs money.<br/>
                The roof&nbsp;<span style="text-decoration: underline;">is</span>&nbsp;<span
                        style="text-decoration: underline;">in need of</span>&nbsp;repair. = The roof needs repairing.</p>
        </blockquote>
        <p>Want v&agrave; Require cũng đ&ocirc;i khi được d&ugrave;ng theo mẫu c&acirc;u n&agrave;y
            nhưng kh&ocirc;ng phổ biến:</p>
        <blockquote>
            <p>Your hair&nbsp;<span style="text-decoration: underline;">wants</span>&nbsp;<span
                    style="text-decoration: underline;">cutting</span><br/>
                All cars&nbsp;<span style="text-decoration: underline;">require</span>&nbsp;<span
                        style="text-decoration: underline;">servicing</span>&nbsp;regularly</p>
        </blockquote>
        <p><span style="color: #ffa500;"><a>2.</a>&nbsp;Need d&ugrave;ng như một trợ động từ</span>
        </p>
        <p><em>Chỉ d&ugrave;ng ở thể nghi vấn hoặc phủ định thời hiện tại</em>. Ng&ocirc;i thứ ba số
            &iacute;t kh&ocirc;ng c&oacute; "s" tận c&ugrave;ng. Kh&ocirc;ng d&ugrave;ng với trợ động từ to do. Sau need (trợ
            động từ) l&agrave; một động từ bỏ to:<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; We&nbsp;<span
                    style="text-decoration: underline;">needn't</span>&nbsp;<span
                    style="text-decoration: underline;">reserve</span>&nbsp;seats - there will be plenty of rooms.<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
                    style="text-decoration: underline;">Need</span>&nbsp;I&nbsp;<span
                    style="text-decoration: underline;">fill</span>&nbsp;out the form?</p>
        
            <p>&nbsp;&nbsp;&bull; Thường d&ugrave;ng sau c&aacute;c từ như&nbsp;<em>if/ whether/ only/ scarcely/
                    hardly/ no one</em>&nbsp;<br/>
                    &nbsp;&nbsp;&nbsp; I wonder&nbsp;<span style="text-decoration: underline;">if</span>&nbsp;I&nbsp;<span
                            style="text-decoration: underline;">need</span>&nbsp;fill out the form.<br/>
                    &nbsp;&nbsp;&nbsp; This is the&nbsp;<span style="text-decoration: underline;">only</span>&nbsp;form you&nbsp;<span
                            style="text-decoration: underline;">need</span>&nbsp;fill out.</p>
            <p>&nbsp;&nbsp;&bull; <em>Needn 't + have + P2</em>&nbsp;: Lẽ ra kh&ocirc;ng cần phải&nbsp;<br/>
                    &nbsp;&nbsp;&nbsp; You needn't have come so early - only waste your time.</p>
            <p>&nbsp;&nbsp;&bull; <em>Needn't</em>&nbsp;= kh&ocirc;ng cần phải; trong khi&nbsp;<em>mustn't</em>&nbsp;=
                    kh&ocirc;ng được ph&eacute;p.&nbsp;<br/>
                    &nbsp;&nbsp;&nbsp; You&nbsp;<span style="text-decoration: underline;">needn&rsquo;t</span>&nbsp;apply for a
                    visa to visit France if you hold a EU passport, but if you are not an EU citizen, you&nbsp;<span
                            style="text-decoration: underline;">mustn&rsquo;t</span>&nbsp;unless you have a visa.</p>

    </div>
</div>
<div class="item-active" id="item-2">
    <div class="item-title-active">
        <div class="item-title-active-content">II. Dare (d&aacute;m)
        </div>

    </div>
    <div class="item-active-content">
        <p><span style="color: #ffa500;"><a>1.</a>&nbsp;D&ugrave;ng như một nội động từ</span>
        </p>
        <p>Kh&ocirc;ng d&ugrave;ng ở thể khẳng định, chỉ d&ugrave;ng ở thể nghi vấn v&agrave; phủ
            định.&nbsp;<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Did they dare (to) do such a thing? = Dared they do such a thing? (Họ d&aacute;m
            l&agrave;m như vậy sao?)<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; He didn't dare (to) say anything = He dared not say anything. (Anh ta kh&ocirc;ng
            d&aacute;m n&oacute;i g&igrave;.)</p>
        
            <p>&nbsp;&nbsp;&bull; Dare kh&ocirc;ng được d&ugrave;ng ở thể khẳng định ngoại trừ th&agrave;nh ngữ I
                    dare say/ I daresay với 2 nghĩa sau:&nbsp;<br/>
                    &nbsp;&nbsp;&nbsp; T&ocirc;i cho rằng: I dare say there is a restaurant at the end of the train.<br/>
                    &nbsp;&nbsp;&nbsp; T&ocirc;i thừa nhận l&agrave;: I daresay you are right.</p>
            <p>&nbsp;&nbsp;&bull; How dare/ dared + S + Verb in simple form: Sao ... d&aacute;m (tỏ sự giận giữ)&nbsp;<br/>
                    &nbsp;&nbsp;&nbsp; How dared you open my letter: Sao m&agrave;y d&aacute;m mở thư của tao.</p>
        <p><span style="color: #ffa500;"><a>2.</a>&nbsp;D&ugrave;ng như một ngoại động từ</span>
        </p>
        <p>Mang nghĩa &ldquo;th&aacute;ch thức&rdquo;: Dare sb to do smt = Th&aacute;ch ai l&agrave;m
            g&igrave;<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; They&nbsp;<span style="text-decoration: underline;">dare</span>&nbsp;the
            boy&nbsp;<span style="text-decoration: underline;">to swim</span>&nbsp;across the river in such a cold weather.<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; I&nbsp;<span style="text-decoration: underline;">dare</span>&nbsp;you&nbsp;<span
                    style="text-decoration: underline;">to touch</span>&nbsp;my toes = Tao th&aacute;ch m&agrave;y d&aacute;m
            động đến một sợi l&ocirc;ng của tao.</p>
    </div>
</div>
<div class="item-active" id="item-3">
    <div class="item-title-active">
        <div class="item-title-active-content">III. C&aacute;ch sử dụng to be trong một số trường hợp
        </div>

    </div>
    <div class="item-active-content">
        
            <p>&nbsp;&nbsp;&bull; To be of + noun = to have: c&oacute; (d&ugrave;ng để chỉ t&iacute;nh chất hoặc t&igrave;nh
                    cảm)&nbsp;<br/>
                    Mary&nbsp;<span style="text-decoration: underline;">is of a gentle nature</span>&nbsp;= Mary c&oacute; một
                    bản chất tử tế.</p>
            <p>&nbsp;&nbsp;&bull; To be of + noun: Nhấn mạnh cho danh từ đứng đằng sau&nbsp;<br/>
                    The newly-opened restaurant&nbsp;<span style="text-decoration: underline;">is of</span>&nbsp;(ở ngay) the
                    Leceister Square.</p>
            <p>&nbsp;&nbsp;&bull; To be + to + verb: l&agrave; dạng cấu tạo đặc biệt, sử dụng trong trường hợp:&nbsp;<br/>
                    - Để truyền đạt c&aacute;c mệnh lệnh hoặc c&aacute;c chỉ dẫn từ ng&ocirc;i thứ nhất qua ng&ocirc;i thứ hai
                    đến ng&ocirc;i thứ ba.<br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; No one&nbsp;<span style="text-decoration: underline;">is</span>&nbsp;<span
                            style="text-decoration: underline;">to leave</span>&nbsp;this building without the permission of the
                    police.<br/>
                    - D&ugrave;ng với mệnh đề&nbsp;<em>if</em>&nbsp;khi mệnh đề ch&iacute;nh diễn đạt một c&acirc;u điều kiện:
                    Một điều phải xảy ra trước nếu muốn một điều kh&aacute;c xảy ra. (Nếu muốn... th&igrave; phải..)<br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; If we&nbsp;<span
                            style="text-decoration: underline;">are to get</span>&nbsp;there by lunch time we had better
                    hurry.<br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Something must be done quickly if the endangered birds&nbsp;<span
                            style="text-decoration: underline;">are to be saved</span>.<br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; He knew he would have to work hard if he&nbsp;<span
                            style="text-decoration: underline;">was to pass</span>&nbsp;his exam<br/>
                    - Được d&ugrave;ng để th&ocirc;ng b&aacute;o những y&ecirc;u cầu xin chỉ dẫn:<br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; He asked the air traffic control where he&nbsp;<span
                            style="text-decoration: underline;">was to land</span>.<br/>
                    - Được d&ugrave;ng kh&aacute; phổ biến để truyền đạt một dự định, một sự sắp đặt, đặc biệt khi n&oacute; l&agrave;
                    ch&iacute;nh thức.<br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; She&nbsp;<span style="text-decoration: underline;">is to get married</span>&nbsp;next
                    month.<br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; The expedition&nbsp;<span style="text-decoration: underline;">is to start</span>&nbsp;in
                    a week.<br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; We&nbsp;<span
                            style="text-decoration: underline;">are to get</span>&nbsp;a ten percent wage rise in June.<br/>
                    - Cấu tr&uacute;c n&agrave;y th&ocirc;ng dụng tr&ecirc;n b&aacute;o ch&iacute;, khi l&agrave; tựa đề b&aacute;o
                    th&igrave; to be được bỏ đi.<br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; The Primer Minister (<span
                            style="text-decoration: line-through;">is</span>)&nbsp;<span style="text-decoration: underline;">to make</span>&nbsp;a
                    statement tomorrow.</p>
            <p>&nbsp;&nbsp;&bull; were + S + to + verb = if + S + were + to + verb = thế nếu (một giả
                    thuyết)&nbsp;<br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
                            style="text-decoration: underline;">Were</span>&nbsp;<span
                            style="text-decoration: underline;">I</span>&nbsp;<span
                            style="text-decoration: underline;">to tell</span>&nbsp;you that he passed his exams, would you
                    believe me.</p>
            <p>&nbsp;&nbsp;&bull; was/ were + to + verb: Để diễn đạt &yacute; tưởng về một số mệnh đ&atilde; định sẵn&nbsp;<br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; They said goodbye without knowing that they&nbsp;<span
                            style="text-decoration: underline;">were</span>&nbsp;<span style="text-decoration: underline;">never to meet</span>&nbsp;again.<br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Since 1840, American Presidents elected in years ending in zero&nbsp;<span
                            style="text-decoration: underline;">were</span>&nbsp;<span style="text-decoration: underline;">to be died</span>&nbsp;(have
                    been destined to die) in office.</p>
            <p>&nbsp;&nbsp;&bull; to be about to + verb = near future (sắp sửa)&nbsp;<br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; They&nbsp;<span style="text-decoration: underline;">are</span>&nbsp;<span
                            style="text-decoration: underline;">about to leave</span>.</p>
            <p>&nbsp;&nbsp;&bull; Be + adj ... (mở đầu cho một ngữ) = tỏ ra...&nbsp;<br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="text-decoration: underline;">Be careless</span>&nbsp;in
                    a national park where there are bears around and the result are likely to be tragical indeed.</p>
            <p>&nbsp;&nbsp;&bull; Be + subject + noun/ noun phrase/ adjective = cho d&ugrave; l&agrave;
                    ...&nbsp;<br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Societies have found various methods to support and train their
                    artists,&nbsp;<span style="text-decoration: underline;">be it</span>&nbsp;the Renaissance system of royal
                    support of the sculptors and painters of the period or the Japanese tradition of passing artistic knowledge
                    from father to son. (Ở c&aacute;c x&atilde; hội đều t&igrave;m thấy một số phương ph&aacute;p hỗ trợ v&agrave;
                    đ&agrave;o tạo c&aacute;c nghệ sỹ, cho d&ugrave; l&agrave; hệ thống hỗ trợ c&aacute;c nh&agrave; đi&ecirc;u
                    khắc v&agrave; hoạ sỹ của c&aacute;c ho&agrave;ng gia thời kỳ Phục hưng hay phương ph&aacute;p truyền thụ
                    hiểu biết nghệ thuật từ cha sang con theo truyền thống Nhật Bản)<br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; To have technique is to possess the physical expertise to perform
                    whatever steps a given work may contain,&nbsp;<span style="text-decoration: underline;">be</span>&nbsp;<span
                            style="text-decoration: underline;">they</span>&nbsp;<span style="text-decoration: underline;">simple</span>&nbsp;or&nbsp;<span
                            style="text-decoration: underline;">complex</span>. (C&oacute; được kỹ thuật l&agrave; sẽ c&oacute;
                    được sự đi&ecirc;u luyện để thực hiện bất kỳ thao t&aacute;c n&agrave;o m&agrave; một c&ocirc;ng việc đ&ograve;i
                    hỏi, cho d&ugrave; l&agrave; ch&uacute;ng đơn giản hay phức tạp)</p>

    </div>
</div>
<div class="item-active" id="item-4">
    <div class="item-title-active">
        <div class="item-title-active-content">IV. C&aacute;ch sử dụng to get trong một số trường hợp
        </div>

    </div>
    <div class="item-active-content">
        <p><span style="color: #ffa500;"><a>1</a>. To get + P2</span></p>
        <p><em>get washed/ dressed/ prepared/ lost/ drowned/ engaged/ married/ divorced.</em><br/>
            Chỉ việc chủ ngữ tự l&agrave;m lấy một việc g&igrave; hoặc t&igrave;nh huống m&agrave; chủ ngữ đang gặp phải.<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; You will have 5 minutes to&nbsp;<span
                    style="text-decoration: underline;">get dressed</span>.(Em c&oacute; 5 ph&uacute;t để mặc quần
            &aacute;o)<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; He&nbsp;<span style="text-decoration: underline;">got lost</span>&nbsp;in
            old Market Street yesterday. (t&igrave;nh huống bị lạc đường)<br/>
            Tuyệt nhi&ecirc;n kh&ocirc;ng được lẫn trường hợp n&agrave;y với dạng bị động.</p>
        <p><span style="color: #ffa500;"><a>2</a>. Get + V-ing = Start + V-ing: Bắt đầu l&agrave;m g&igrave;</span>
        </p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; We'd better&nbsp;<span
                style="text-decoration: underline;">get moving</span>, it's late.</p>
        <p><span style="color: #ffa500;"><a>3</a>. Get sb/smt +V-ing: L&agrave;m cho ai/ c&aacute;i g&igrave; bắt đầu.</span>
        </p>
        <blockquote>
            <p>Please&nbsp;<span style="text-decoration: underline;">get him talking</span>&nbsp;about
                the main task. (L&agrave;m ơn bảo anh ta h&atilde;y bắt đầu đi v&agrave;o vấn đề ch&iacute;nh)&nbsp;<br/>
                When we&nbsp;<span style="text-decoration: underline;">get the heater running</span>, the whole car will start
                to warm up. (Khi ch&uacute;ng ta cho m&aacute;y sưởi bắt đầu chạy..)</p>
        </blockquote>
        <p><span style="color: #ffa500;"><a>4</a>. Get + to + verb</span></p>
        <p>- T&igrave;m được c&aacute;ch.&nbsp;<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; We could&nbsp;<span
                    style="text-decoration: underline;">get to enter</span>&nbsp;the stadium without tickets.(Ch&uacute;ng t&ocirc;i
            đ&atilde; t&igrave;m được c&aacute;ch lọt v&agrave;o...)<br/>
            - C&oacute; cơ may&nbsp;<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; When do I&nbsp;<span
                    style="text-decoration: underline;">get to have</span>&nbsp;a promotion? (Khi n&agrave;o t&ocirc;i c&oacute;
            cơ may được tăng lương đ&acirc;y?)<br/>
            - Được ph&eacute;p&nbsp;<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; At last we&nbsp;<span
                    style="text-decoration: underline;">got to meet</span>&nbsp;the general director. (Cuối c&ugrave;ng th&igrave;
            rồi ch&uacute;ng t&ocirc;i cũng được ph&eacute;p gặp tổng đạo diễn)</p>
        <p><span style="color: #ffa500;"><a>5</a>. Get + to + Verb (về h&agrave;nh động) = Come + to + Verb (về nhận thức) = Gradually = dần dần</span>
        </p>
        <blockquote>
            <p>We will&nbsp;<span style="text-decoration: underline;">get to speak</span>&nbsp;English
                more easily as time goes by.<br/>
                He&nbsp;<span style="text-decoration: underline;">comes to understand</span>&nbsp;that learning English is not
                much difficult.<br/>
                <br/>
                <br/>
            </p>
        </blockquote>
    </div>
</div>
