<meta charset="UTF-8">
<div class="first-content"><p style="text-align:justify"> </p>
    <p style="text-align:justify"><span style="font-size:14px"><span
            style="color:#3498db"><strong>I.    Ý nghĩa</strong></span></span></p>
    <p style="text-align:justify"><span style="font-size:14px">Cấu trúc <strong>“In order to”</strong> và <strong>“So as to” </strong>đều mang nghĩa là <em>“để, để mà”</em>. Được dùng trong câu nhằm thể hiện mục đích của hành động đã được nhắc đến ngay trước đó.</span>
    </p></div>
<div class="last-content">
    <ul>
        <li style="text-align:justify"><em><span
                style="font-size:14px"><strong>We went early so as to get good seats.</strong> (Chúng tôi đến sớm để có chỗ ngồi đẹp.)</span></em>
        </li>
        <li style="text-align:justify"><em><span
                style="font-size:14px"><strong>I study hard in order to pass the exam.</strong> (Tôi học hành chăm chỉ để thi đậu.)</span></em>
        </li>
    </ul>
    <p style="text-align:justify"><span style="font-size:14px"><strong><span style="color:#3498db">II.    Cấu trúc và cách sử dụng</span></strong></span>
    </p>
    <p style="text-align:justify"><span
            style="font-size:14px">Chúng ta sử dụng <strong>In order to</strong> hay <strong>So as to</strong> kết hợp cùng <em>động từ nguyên mẫu</em> để thể hiện mục đích của một hành động nào đó. Cấu trúc trên được sử dụng để giới thiệu mệnh đề phụ/ mệnh đề bổ sung trong câu.</span>
    </p>
    <p style="text-align:justify"><span style="font-size:14px">Những cấu trúc trên được sử dụng thông dụng trong văn bản học thuật hơn trong giao tiếp thường ngày.</span>
    </p>
    <p style="text-align:justify"><span style="font-size:14px">     <strong>1.    <u>Cấu trúc 1</u></strong></span></p>
    <p style="text-align:justify"><span style="font-size:14px">Cấu trúc trên được sử dụng khi mục đích của hành động hướng tới chính chủ thể của hành động được nêu ở phía trước</span>
    </p>
    <div class="dv_spectial_content"
         style="background:#fff6e6; border:1px solid #f6bd00; padding:15px; text-align:center"><span
            style="font-size:14px"><strong>S + V + in order/so as + (not) + to + V_bare</strong></span></div>
    <ul>
        <li style="text-align:justify"><strong><em><span style="font-size:14px">They never parked the big van in front of the house <u>in order not to upset</u> the neighbors. </span></em></strong><em><span
                style="font-size:14px">(Họ không bao giờ đậu chiếc xe tải lớn trước nhà để không làm phiền hàng xóm.)</span></em>
        </li>
        <li style="text-align:justify"><strong><em><span style="font-size:14px">She works hard <u>so as to have</u> a better life in the future. </span></em></strong><em><span
                style="font-size:14px">(Cô ấy làm việc chăm chỉ để có một cuộc sống tốt hơn trong tương lai.)</span></em>
        </li>
    </ul>
    <p style="text-align:justify"><span style="font-size:14px">    <strong> 2.    <u>Cấu trúc 2</u></strong></span></p>
    <p style="text-align:justify"><span style="font-size:14px">Cấu trúc trên được sử dụng khi mục đích của hành động hướng tới đối tượng khác với chủ thể của hành động được nêu ở phía trước. </span>
    </p>
    <div class="dv_spectial_content"
         style="background:#fff6e6; border:1px solid #f6bd00; padding:15px; text-align:center"><span
            style="font-size:14px"><strong>S + V + in order + for O + (not) + to + V_bare</strong></span></div>
    <ul>
        <li style="text-align:justify"><em><strong><span style="font-size:14px">She works hard <u>in order for her kid to have</u> a better life. </span></strong><span
                style="font-size:14px">(Cô ấy làm việc chăm chỉ để con mình có cuộc sống tốt hơn.)</span></em></li>
        <li style="text-align:justify"><em><strong><span style="font-size:14px">June spent all his money <u>so as for his son to buy</u> a new apartment.</span></strong><span
                style="font-size:14px"> (June đã tiêu hết tiền để cho con trai mua một căn hộ mới.)</span></em></li>
    </ul>
    <p style="text-align:justify"><span style="font-size:14px"><span
            style="color:#3498db"><strong>III.    Lưu ý</strong></span></span></p>
    <p style="text-align:justify"><span style="font-size:14px">Hai cấu trúc <strong>In order to</strong> và <strong>So as to </strong>thường xuất hiện trong các dạng bài tập nối câu hay viết lại câu.</span>
    </p>
    <blockquote><p style="text-align:justify"><span style="font-size:14px">Khi nối câu, ta tiến hành <em>loại bỏ chủ ngữ câu sau</em> (đối với những câu có cùng chủ ngữ) hay thay đổi thành <strong>For someone</strong> (đối với những câu khác chủ ngữ).</span>
    </p></blockquote>
    <blockquote><p style="text-align:justify"><span style="font-size:14px">Bỏ các động từ như <strong>like, want, hope, … </strong>và giữ lại động từ chính sau đó.</span>
    </p></blockquote>
    <ul>
        <li style="text-align:justify"><strong><em><span style="font-size:14px">I always get up early. I don’t want to go to school late. => </span></em></strong><em><span
                style="font-size:14px">I always get up early <strong>in order not to go</strong> to school late.</span></em>
        </li>
        <li style="text-align:justify"><strong><em><span style="font-size:14px">Linda wears warm clothes in winter. She doesn’t want to have a cold. => </span></em></strong><em><span
                style="font-size:14px">Linda wears warm clothes in winter <strong>so as not to have</strong> a cold.</span></em>
        </li>
    </ul>
    </p>                                </div>