<meta charset="UTF-8">
<div class="item-active" id="item-1">
    <div class="item-title-active">
        <div class="item-title-active-content">I. ĐỊNH NGHĨA
        </div>

    </div>
    <div class="item-active-content">
        <p><span><span><span
                style="color:#000000"><strong>Thì hiện tại hoàn thành tiếp diễn</strong>&nbsp;(Present perfect continuous) được sử dụng để chỉ sự việc xảy ra trong quá khứ nhưng vẫn còn tiếp tục ở hiện tại và có thể vẫn còn tiếp diễn trong tương lai. Chúng ta sử dụng thì này để nói về sự việc đã kết thúc nhưng chúng ta vẫn còn thấy ảnh hưởng.</span></span></span>
        </p>
    </div>
</div>
<div class="item-active" id="item-2">
    <div class="item-title-active">
        <div class="item-title-active-content">II. CẤU TRÚC
        </div>

    </div>
    <div class="item-active-content">
        <p><span><span style="color:#ffa500"><span
        ><strong>1. Khẳng định:</strong></span></span></span></p>

        <p><span><span><span
                style="color:#000000"><strong>- Cấu Trúc:</strong></span></span></span></p>

        <p style="text-align:center"><span><span style="color:#66cc00"><strong><span
        >S + have/ has + been + V-ing</span></strong></span></span></p>

        <p><span><span><span
                style="color:#000000"><strong>- Trong đó: &nbsp; &nbsp;</strong> &nbsp;&nbsp;</span></span></span></p>

        <p><span><em><span><span
                style="color:#000000">&nbsp;&nbsp;+ S (subject): chủ ngữ</span></span></em></span></p>
        <p><span><em><span><span
                style="color:#000000">&nbsp;&nbsp;+ Have/ has: trợ động từ</span></span></em></span></p>
        <p><span><em><span><span
                style="color:#000000">&nbsp;&nbsp;+ Been: Phân từ II của “to be”</span></span></em></span></p>
        <p><span><em><span><span
                style="color:#000000">&nbsp;&nbsp;+ V-ing: Động từ thêm “-ing”</span></span></em></span></p>

        <p><span><strong><span><span
                style="color:#000000">- Lưu ý</span></span></strong></span></p>

        <p><span><span><span style="color:#000000">&nbsp;&nbsp;+ S = I/ We/ You/ They + have</span></span></span>
        </p>
        <p><span><span><span
                style="color:#000000">&nbsp;&nbsp;+ S = He/ She/ It + has</span></span></span>
        </p>

        <p><span><span><span
                style="color:#000000">- Eg:</span></span></span></p>

        <p><span><em><span><span
                style="color:#000000">&nbsp;&nbsp;+ It <u><strong>has been raining</strong></u> for three days.</span><span
                style="color:#008000"> (Trời mưa 3 ngày rồi.)</span></span></em></span></p>
        <p><span><em><span><span
                style="color:#000000">&nbsp;&nbsp;+ They <u><strong>have been working</strong></u> for this company for 7 years.</span><span
                style="color:#008000"> (Họ làm việc cho công ty này 7 năm rồi.)</span></span></em></span></p>

        <p><span><span style="color:#ffa500"><span
        ><strong>2. Phủ định:</strong></span></span></span></p>

        <p><span><span><span
                style="color:#000000"><strong>- Cấu trúc:</strong></span></span></span></p>

        <p style="text-align:center"><span><span style="color:#66cc00"><strong><span
        >S + haven’t/ hasn’t + been + V-ing</span></strong></span></span>
        </p>

        <p><span><span><span style="color:#000000">=&gt; Câu phủ định ta chỉ cần thêm “not” ngay sau trợ động từ “have/ has”.</span></span></span>
        </p>

        <p><span><strong><span><span
                style="color:#000000">- Lưu ý:</span></span></strong></span></p>

        <p><span><span><span style="color:#000000">&nbsp;&nbsp;+ haven’t = have not</span></span></span>
        </p>
        <p><span><span><span
                style="color:#000000">&nbsp;&nbsp;+ hasn’t = has not</span></span></span>
        </p>

        <p><span><span><span
                style="color:#000000">- Eg:</span></span></span></p>

        <p><span><em><span><span
                style="color:#000000">&nbsp;&nbsp;+ I <u><strong>haven’t been studying</strong></u> English for 4 years. </span><span
                style="color:#008000">(Tôi không học tiếng Anh được 4 năm rồi.)</span></span></em></span></p>
        <p><span><em><span><span
                style="color:#000000">&nbsp;&nbsp;+ She <u><strong>hasn’t been watching</strong></u> films since last year. </span><span
                style="color:#008000">(Cô ấy không xem phim từ năm ngoái.)</span></span></em></span></p>

        <p><span><span style="color:#ffa500"><span
        ><strong>3. Câu hỏi:</strong></span></span></span></p>

        <p><span><span><span
                style="color:#000000"><strong>- Cấu Trúc</strong></span></span></span></p>

        <p style="text-align:center"><span><span style="color:#66cc00"><strong><span
        >Have/ Has + S + been + V-ing ?</span></strong></span></span></p>

        <p><span><span><span
                style="color:#000000"><strong>- Trả lời: &nbsp; </strong>&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span></span><span
                style="color:#000000; font-family:arial,helvetica,sans-serif">&nbsp;&nbsp;</span></span></p>

        <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
            <tbody>
            <tr>
                <td style="text-align:center"><span><span
                        style="color:#000000; font-family:arial,helvetica,sans-serif">Yes, I/ we/ you/ they + have</span></span>
                </td>
                <td style="text-align:center"><span><span
                        style="color:#000000; font-family:arial,helvetica,sans-serif">Yes, he/ she / it + has.</span></span>
                </td>
            </tr>
            <tr>
                <td style="text-align:center"><span><span
                        style="color:#000000; font-family:arial,helvetica,sans-serif">No, I/ we/ you/ they + haven’t</span></span>
                </td>
                <td style="text-align:center"><span><span
                        style="color:#000000; font-family:arial,helvetica,sans-serif">No, he/ she/ it + hasn’t</span></span>
                </td>
            </tr>
            </tbody>
        </table>

        <p><span><span><span style="color:#000000">=&gt; Câu hỏi ta chỉ cần đảo trợ động từ “have/has” lên trước chủ ngữ”.</span></span></span>
        </p>

        <p><span><span><span
                style="color:#000000">- Eg:</span></span></span></p>

        <p><span><em><span><span
                style="color:#000000">&nbsp;&nbsp;+ <u><strong>Have</strong></u> you <u><strong>been standing</strong></u> in the rain for more than 2 hours? </span><span
                style="color:#008000">(Bạn đứng dưới mưa hơn 2 tiếng đồng hồ rồi phải không?)</span></span></em></span>
        </p>
        <p><span><em><span><span
                style="color:#000000"><span><span
                style="color:#000000">&nbsp;&nbsp;+ Yes, I have./ No, I haven’t.</span></span></span></span></em></span>
        </p>
        <p><span><em><span><span
                style="color:#000000">&nbsp;&nbsp;+ <u><strong>Has</strong></u> he <u><strong>been typing</strong></u> the report since this morning? </span><span
                style="color:#008000">(Anh ấy đánh máy bài báo cáo từ sáng rồi rồi phải không?)</span><br>
	<span style="color:#000000"><span><span
            style="color:#000000">Yes, he has./ No, he hasn’t.</span></span></span></span></em></span>
        </p>
    </div>
</div>
<div class="item-active" id="item-3">
    <div class="item-title-active">
        <div class="item-title-active-content">III. CÁCH SỬ DỤNG
        </div>

    </div>
    <div class="item-active-content">
        <p><span><span style="color:#ffa500"><strong><span
        >1. Dùng để diễn tả một hành động bắt đầu trong quá khứ diễn ra liên tục và kéo dài đến hiện tại (Nhấn mạnh tính “liên tục” của hành động)</span></strong></span></span>
        </p>

        <p><span><span><span
                style="color:#000000">- Eg:</span></span></span></p>

        <p><span><em><span><span
                style="color:#000000">&nbsp;&nbsp;+ <u><strong>I have been typing</strong></u> this letter for 3 hours. </span><span
                style="color:#008000">(Tôi đã đánh máy bức thư này được 3 tiếng đồng hồ rồi.)</span></span></em></span>
        </p>

        <p><span><span><span style="color:#000000">=&gt; Ta hiểu là việc đánh máy đã bắt đầu cách đây 3 tiếng và liên tục diễn ra kéo dài cho tới bây giờ và vẫn chưa kết thúc.</span></span></span>
        </p>

        <p><span><span style="color:#ffa500"><span
        ><strong>2.&nbsp;Dùng để diễn tả hành động đã xảy ra, vừa mới kết thúc nhưng kết quả của hành động vẫn có thể nhìn thấy được ở hiện tại.</strong></span></span></span>
        </p>

        <p><span><span><span
                style="color:#000000">- Eg:&nbsp;</span></span></span>
        </p>

        <p><span><span><span
                style="color:#000000"><em>&nbsp;&nbsp;+ I am very tired now because <u><strong>I have been working</strong></u> hard for 8 hours. </em></span><span
                style="color:#008000"><em>(Bây giờ tôi rất mệt vì tôi đã làm việc vất vả trong 8 tiếng đồng hồ.)</em></span></span></span>
        </p>

        <p><span><span><span style="color:#000000">=&gt; Ta thấy việc “làm việc vất vả 8h đồng hồ” vừa mới kết thúc nhưng kết quả của nó thì vẫn có thể thấy được ở hiện tại (đang rất mệt.)</span></span></span>
        </p>
    </div>
</div>
<div class="item-active" id="item-4">
    <div class="item-title-active">
        <div class="item-title-active-content">IV. DẤU HIỆU ĐỂ NHẬN BIẾT
        </div>

    </div>
    <div class="item-active-content">
        <p><span><span style="color:#ffa500"><strong><span
        >- Since + mốc thời gian</span></strong></span></span></p>

        <p><span><span><span
                style="color:#000000">- Eg:</span></span></span></p>

        <p><span><em><span><span
                style="color:#000000">&nbsp;&nbsp;+ She <u><strong>has been working</strong></u> <u>since</u> the early morning. </span><span
                style="color:#008000">(Cô ấy làm việc từ sáng sớm.)</span></span></em></span></p>

        <p><span><span style="color:#ffa500"><strong><span
        >- For + khoảng thời gian</span></strong></span></span></p>

        <p><span><span><span
                style="color:#000000">- Eg:</span></span></span></p>

        <p><span><em><span><span
                style="color:#000000">&nbsp;&nbsp;+ They <u><strong>have been listening</strong></u> to the radio <u>for</u> 3 hours.</span><span
                style="color:#008000"> (Họ nghe đài được 3 tiếng đồng hồ rồi.)</span></span></em></span></p>

        <p><span><span style="color:#ffa500"><strong><span
        >- All + thời gian (all the morning, all the afternoon, all day, …)</span></strong></span></span>
        </p>

        <p><span><span><span
                style="color:#000000">- Eg:</span></span></span></p>

        <p><span><em><span><span
                style="color:#000000">&nbsp;&nbsp;+ They <u><strong>have been working</strong></u> in the field <u>all</u> the morning. </span><span
                style="color:#008000">(Họ làm việc ngoài đồng cả buổi sáng.)</span></span></em></span></p>
    </div>
</div>
