<meta charset="UTF-8">
<div class="first-content"><p style="text-align:justify"><span style="font-size:14px"><span
        style="color:#3498db"><strong>I.    Ý nghĩa</strong></span></span></p>
    <p style="text-align:justify"><span style="font-size:14px"><strong>WANT </strong><em>/wɒnt/</em> trong tiếng Anh có thể sử dụng như một danh từ cũng như một động từ với ý nghĩa hoàn toàn khác nhau. </span>
    </p>
    <p style="text-align:justify"><span
            style="font-size:14px">     <strong>1.    <u>Want khi là một danh từ</u></strong></span></p>
    <p style="text-align:justify"> </p></div>
<div class="last-content">
    <ul>
        <li style="text-align: justify;"><span style="font-size:14px"><em><strong>She spent her life pandering to the wants of her children. </strong>(Bà đã dành cả cuộc đời của mình để chiều theo ý muốn của các con.)</em></span>
        </li>
    </ul>
    <p style="text-align:justify"> </p>
    <ul>
        <li style="text-align: justify;"><span style="font-size:14px"><strong><em>There is a want of adequate medical facilities. </em></strong><em>(Cần có đầy đủ cơ sở y tế.)</em></span>
        </li>
    </ul>
    <p style="text-align:justify"> </p>
    <ul>
        <li style="text-align: justify;"><em><strong><span style="font-size:14px">Thousands of children are living in want. </span></strong><span
                style="font-size:14px">(Hàng nghìn trẻ em đang phải sống trong cảnh nghèo khó.)</span></em></li>
        <li style="text-align: justify;"><em><strong><span style="font-size:14px">Visitors to the slums were clearly shocked to see so many families living in want. </span></strong><span
                style="font-size:14px">(Du khách đến tham quan các khu nhà ổ chuột hoàn toàn bị sốc khi chứng kiến rất nhiều gia đình đang sống trong tình trạng nghèo khó.)</span></em>
        </li>
    </ul>
    <p style="text-align:justify"><span
            style="font-size:14px">     <strong>2.    <u>Want khi là một động từ</u></strong></span></p>
    <p style="text-align:justify"><span
            style="font-size:14px">Động từ <strong>Want </strong>có ý nghĩa là <em>“muốn”</em>. Động từ <strong>Want </strong>được sử dụng thường xuyên với mục đích diễn tả việc <em>mong muốn điều gì, nhu cầu hay đưa ra lời khuyên</em> nào đó.</span>
    </p>
    <ul>
        <li style="text-align: justify;"><strong><em><span style="font-size:14px">What do you want for dinner tonight? (wish or desire) - </span></em></strong><em><span
                style="font-size:14px">Tối nay con muốn ăn gì nào? (Thể hiện mong muốn)</span></em></li>
        <li style="text-align: justify;"><strong><em><span
                style="font-size:14px">The kitchen wants painting. (needs) - </span></em></strong><em><span
                style="font-size:14px">Nhà bếp cần phải được sơn sửa lại. (Thể hiện nhu cầu)</span></em></li>
        <li style="text-align: justify;"><strong><em><span style="font-size:14px">You want to get your tickets soon before they’re all sold out. (I advise you to) - </span></em></strong><em><span
                style="font-size:14px">Cậu nên lấy vé sớm trước khi hết vé. (Thể hiện lời khuyên)</span></em></li>
    </ul>
    <p style="text-align:justify"><span style="font-size:14px"><span style="color:#3498db"><strong>II.    Cấu trúc và cách sử dụng</strong></span></span>
    </p>
    <blockquote><p style="text-align:justify"><span style="font-size:14px">    <strong> 1.    <u>Cấu trúc 1</u> – Mong muốn</strong></span>
    </p></blockquote>
    <p style="text-align:justify"><span style="font-size:14px">Khi động từ <strong>Want </strong>được sử dụng để thể hiện mong ước hay ước muốn thực hiện hành động nào đó của người nói. </span>
    </p>
    <p style="text-align:justify"><span style="font-size:14px">Trong trường hợp trên, <strong>want </strong>được sử dụng với <strong><em>mệnh đề bổ ngữ (complement)</em></strong> – <em>mệnh đề bổ sung hoàn thiện ý nghĩa cho toàn bộ câu văn</em>.</span>
    </p>
    <p style="text-align:justify"><span style="font-size:14px">Mệnh đề bổ ngữ trong câu có thể danh từ hay cụm danh từ với vai trò <em>tân ngữ (object), động từ nguyên mẫu có _to (V_to) hay tân ngữ kết hợp cùng động từ nguyên mẫu có _to</em>.</span>
    </p>
    <div class="dv_spectial_content"
         style="background:#fff6e6; border:1px solid #f6bd00; padding:15px; text-align:center"><span
            style="font-size:14px"><strong>S + want + Noun/ Noun Phrase</strong></span></div>
    <p style="text-align:center"><span style="font-size:14px"><strong><em>(Ai đó muốn gì đó)</em></strong></span></p>
    <ul>
        <li style="text-align: justify;"><em><strong><span style="font-size:14px">Do you want <u>a drink</u>? (noun object) - </span></strong><span
                style="font-size:14px">Anh có muốn uống gì đó không?</span><strong><span style="font-size:14px"> (<u>A drink</u> đóng vai trò danh từ tân ngữ)</span></strong></em>
        </li>
        <li style="text-align: justify;"><em><strong><span style="font-size:14px">She said I could have her old bike, but I don’t want <u>it</u>. (pronoun object) - </span></strong><span
                style="font-size:14px">Cô ấy nói rằng mình có thể lấy chiếc xe đạp cũ của cô ấy, nhưng mình không muốn. </span><strong><span
                style="font-size:14px">(<u>It</u> đóng vai trò đại từ tân ngữ)</span></strong></em></li>
    </ul>
    <div class="dv_spectial_content"
         style="background:#fff6e6; border:1px solid #f6bd00; padding:15px; text-align:center"><span
            style="font-size:14px"><strong>S + want + (Object) to + Verb</strong></span></div>
    <p style="text-align:center"><em><strong><span
            style="font-size:14px">(Ai đó muốn (ai) thực hiện hành động nào đó)</span></strong></em></p>
    <ul>
        <li style="text-align: justify;"><strong><em><span style="font-size:14px">This is a new kind of fruit juice I got. Do you want <u>to try</u> it? (to-infinitive) - </span></em></strong><em><span
                style="font-size:14px">Đây là loại nước trái cây tớ mới nhận được. Cậu có muốn uống thử không? </span></em>
        </li>
        <li style="text-align: justify;"><strong><span
                style="font-size:14px"><em>The teacher wants <u>her</u> <u>to do</u> the exams again next year. (object + to-infinitive) - </em></span></strong><span
                style="font-size:14px"><em>Cô giáo muốn cô ấy thi lại vào năm sau.</em> </span></li>
    </ul>
    <p style="text-align:justify"> </p>
    <blockquote><p style="text-align:justify"><span style="font-size:14px">Trong mệnh đề rút gọn hay câu trả lời ngắn, chúng ta có thể sử dụng cụm từ <strong>“want to”</strong> mà không cần đề cập đến động từ.</span>
    </p></blockquote>
    <ul>
        <li style="text-align: justify;"><strong><em><span style="font-size:14px">Is Elsa going to France with you? - No. She doesn’t <u>want to</u>. </span></em></strong><em><span
                style="font-size:14px">(Elsa sẽ đi Pháp cùng với cậu à? - Không. Cô ấy không muốn đi.)</span></em></li>
        <li style="text-align: justify;"><strong><em><span style="font-size:14px">He wanted to leave school at sixteen, but his parents didn’t <u>want him to</u>. </span></em></strong><em><span
                style="font-size:14px">(Cậu ấy muốn nghỉ học khi 16 tuổi, nhưng bố mẹ cậu không đồng ý.)</span></em>
        </li>
    </ul>
    <blockquote><p style="text-align:justify"><span
            style="font-size:14px">Ta không sử dụng động từ <strong>Want </strong>với mệnh đề <strong>That.</strong></span>
    </p></blockquote>
    <ul>
        <li style="text-align: justify;"><em><strong><span style="font-size:14px">I want you <u>to tidy</u> your room before the visitors come. -<s> I want that you tidy your room before the visitors come</s>. </span></strong><span
                style="font-size:14px">(Mẹ muốn con dọn dẹp phòng thật gọn gàng trước khi khách đến.)</span></em></li>
    </ul>
    <blockquote><p style="text-align:justify"><span style="font-size:14px">    <strong> 2.    <u>Cấu trúc 2</u> – Nhu cầu</strong></span>
    </p></blockquote>
    <p style="text-align:justify"><span style="font-size:14px">Chúng ta sử dụng động từ <strong>Want </strong>kết hợp với dạng động từ hình thức tiếp diễn để thể hiện sự cần thiết hay phải thực hiện một hành động nào đó. </span>
    </p>
    <p style="text-align:justify"><span style="font-size:14px">Cách sử dụng này được sử dụng gián tiếp và thể hiện tính chất thân mật.</span>
    </p>
    <div class="dv_spectial_content"
         style="background:#fff6e6; border:1px solid #f6bd00; padding:15px; text-align:center"><span
            style="font-size:14px"><strong>S + want + V_ing</strong></span></div>
    <ul>
        <li style="text-align: justify;"><strong><em><span
                style="font-size:14px">Your hair wants <u>cutting</u>. - </span></em></strong><em><span
                style="font-size:14px">Con cần phải đi cắt tóc rồi đó.</span></em></li>
        <li style="text-align: justify;"><strong><em><span style="font-size:14px">That cupboard wants <u>clearing</u> out. - </span></em></strong><em><span
                style="font-size:14px">Mình phải dọn dẹp cái tủ đó thật sạch rồi.</span></em></li>
    </ul>
    <p style="text-align:justify"><span style="font-size:14px">Trong những tình huống thân mật, chúng ta có thể sử dụng cấu trúc trên với ý nghĩa tương tự như cấu trúc hoàn thành thực hiện sự việc hay hành động nào đó - <em>“want to have something done.</em>”</span>
    </p>
    <ul>
        <li style="text-align: justify;"><em><span style="font-size:14px"><strong>Have you got any shirts you want <u>washing</u>? (which you want to have washed)</strong> - Con có cái áo sơ mi nào cần giặt không?</span></em>
        </li>
    </ul>
    <blockquote><p style="text-align:justify"><span style="font-size:14px">     <strong>3.    <u>Cấu trúc 3</u> – Lời khuyên</strong></span>
    </p></blockquote>
    <p style="text-align:justify"><span style="font-size:14px">Trong những tình huống giao tiếp thông dụng và thân mật, chúng ta có thể sử dụng động từ <strong>Want </strong>kết hợp cùng <em>động từ nguyên mẫu có _to</em> để đưa ra <em>lời khuyên, lời đề nghị hay cảnh báo</em>. </span>
    </p>
    <p style="text-align:justify"><span style="font-size:14px">Cấu trúc trên thường được sử dụng trong cấu trúc thì hiện tại đơn. Tuy nhiên, đôi khi ta có thể sử dụng với thì tương lai đơn với <strong>will </strong>hay <strong>‘ll</strong> (dạng thức rút gọn của <strong>will</strong>).</span>
    </p>
    <div class="dv_spectial_content"
         style="background:#fff6e6; border:1px solid #f6bd00; padding:15px; text-align:center"><span
            style="font-size:14px"><strong>S + want + to + V</strong></span></div>
    <ul>
        <li style="text-align: justify;"><em><strong><span style="font-size:14px">If possible, you want <u>to avoid</u> alcohol. </span></strong><span
                style="font-size:14px">(Nếu được thì cậu nên hạn chế bia rượu đi.)</span></em></li>
        <li style="text-align: justify;"><em><strong><span
                style="font-size:14px">He wants <u>to be</u> more careful. </span></strong><span style="font-size:14px">(Anh ấy nên cẩn thận hơn.)</span></em>
        </li>
    </ul>
    <p style="text-align:justify"><span style="font-size:14px"><span style="color:#3498db"><strong>III.    Lưu ý khi sử dụng</strong></span></span>
    </p>
    <blockquote><p style="text-align:justify"><span style="font-size:14px">     <strong>1.    Cấu trúc Want trong hình thức tiếp diễn</strong></span>
    </p></blockquote>
    <p style="text-align:justify"><span style="font-size:14px">Hầu hết các cách sử dụng động từ <strong>Want </strong>trong câu đều sử dụng các cấu trúc đơn của động từ <em><strong>(want, wants, wanted)</strong></em>. </span>
    </p>
    <p style="text-align:justify"><span style="font-size:14px">Tuy nhiên, khi sử dụng động từ <strong>Want</strong> để thể hiện mong muốn hay ước muốn nào đó, ta có thể sử dụng cấu trúc động từ tiếp diễn của động từ <strong>(is wanting, was wanting, will be wanting)</strong>.</span>
    </p>
    <p style="text-align:justify"> </p>
    <ul>
        <li style="text-align: justify;"><em><strong><span style="font-size:14px">I was wanting to ask you something. Are you free right now? </span></strong><span
                style="font-size:14px">(Anh có điều muốn hỏi em. Giờ em có chút thời gian không?)</span></em></li>
        <li style="text-align: justify;"><em><strong><span style="font-size:14px">We’re wanting to buy a new TV, but we’re not sure what to get. </span></strong><span
                style="font-size:14px">(Chúng tôi muốn mua một cái TV mới, nhưng không biết mua loại nào.)</span></em>
        </li>
    </ul>
    <p style="text-align:justify"> </p>
    <ul>
        <li style="text-align: justify;"><strong><em><span style="font-size:14px">We’d been <u>wanting</u> to go to New Zealand for years, so his sixtieth birthday was a good excuse. </span></em></strong><em><span
                style="font-size:14px">(Trong nhiều năm nay chúng tôi luôn muốn được đặt chân đến New Zealand, vì vậy sinh nhật lần thứ sáu mươi của anh ấy là một cái cớ chính đáng.)</span></em>
        </li>
        <li style="text-align: justify;"><strong><em><span style="font-size:14px">Now that she’s a teenager, she’s <u>wanting</u> expensive things, you know, computers, clothes, sports stuff. </span></em></strong><em><span
                style="font-size:14px">(Bây giờ cô ấy đã là một thiếu nữa rồi, cô ấy muốn những thứ đắt tiền, cậu biết đấy, như máy tính, quần áo, đồ thể thao.)</span></em>
        </li>
    </ul>
    <blockquote><p style="text-align:justify"><span style="font-size:14px">     <strong>2.    Cấu trúc Want với "wh-question"</strong></span>
    </p></blockquote>
    <p style="text-align:justify"><span style="font-size:14px">Chúng ta có thể sử dụng từ để hỏi <strong>(what, when, whenever, wherever, whoever) </strong>trước động từ <strong>Want</strong>.</span>
    </p>
    <p style="text-align:justify"><span style="font-size:14px">Trong những trường hợp trên, chúng ta không cần thiết sử dụng động từ chính sau động từ <strong>Want</strong>.</span>
    </p>
    <ul>
        <li style="text-align: justify;"><strong><em><span style="font-size:14px">I can do whatever I want. </span></em></strong><em><span
                style="font-size:14px">(Tôi có thể làm bất cứ điều gì tôi thích.)</span></em></li>
        <li style="text-align: justify;"><strong><em><span
                style="font-size:14px">I want people to know what I've done. </span></em></strong><em><span
                style="font-size:14px">(Tôi muốn mọi người đều biết tôi đã làm được những gì.)</span></em></li>
        <li style="text-align: justify;"><strong><em><span style="font-size:14px">You don’t have to stay for the whole lecture. You can leave whenever you want. </span></em></strong><em><span
                style="font-size:14px">(Em không cần phải ngồi lại trong suốt bài giảng đâu. Em có thể đi bất cứ khi nào em muốn.)</span></em>
        </li>
    </ul>
    <blockquote><p style="text-align:justify"><span
            style="font-size:14px">    <strong> 3.    Cấu trúc Want với “if”</strong></span></p></blockquote>
    <p style="text-align:justify"><span style="font-size:14px">Trong cấu trúc <strong>If </strong>với động từ <strong>Want</strong>, chúng ta không cần sử dụng <strong>TO </strong>sau động từ <strong>Want</strong>.</span>
    </p>
    <ul>
        <li style="text-align: justify;"><span style="font-size:14px"><em><strong>She can park her car at our house, <u>if she wants</u>.</strong> (Cô ấy có thể đậu xe ở nhà của tôi nếu cô ấy muốn.)</em></span>
        </li>
    </ul>
    <p style="text-align:justify"><span
            style="font-size:14px">Tuy nhiên, chúng ta sử dụng <strong>TO </strong>sau <strong>Want </strong>với mệnh đề phủ định của <strong>IF</strong>.</span>
    </p>
    <ul>
        <li style="text-align: justify;"><span style="font-size:14px"><em><strong>He doesn’t have to stay the night <u>if he doesn’t want to</u>.</strong> (Anh ấy không cần phải ở lại qua đêm nếu anh ấy không muốn.)</em></span>
        </li>
    </ul>
    <p style="text-align:justify"> </p>
    <p style="text-align:justify"> </p></p>                                </div>