<meta charset="UTF-8">
<div class="first-content"><p style="text-align:justify"><span style="color:#3498db"><strong><span
        style="font-size:14px">I.    Ý nghĩa</span></strong></span></p>
    <p style="text-align:justify"><span style="font-size:14px">Tính từ <em><strong>“Responsible”</strong></em> có nhiều ý nghĩa khác nhau dựa trên cấu trúc, cách sử dụng và ngữ cảnh sử dụng đặc trưng.</span>
    </p>
    <p style="text-align:justify"> </p>
    <ul>
        <li style="text-align:justify"><em><strong><span style="font-size:14px">Mike is responsible for designing the entire project. </span></strong><span
                style="font-size:14px">(Mike phụ trách thiết kế toàn bộ dự án này.)</span></em></li>
    </ul>
    <p style="text-align:justify"> </p></div>
<div class="last-content">
    <ul>
        <li style="text-align:justify"><em><strong><span style="font-size:14px">Who's responsible for this mess? </span></strong><span
                style="font-size:14px">(Ai gây ra đống bừa bộn này vậy?)</span></em></li>
    </ul>
    <p style="text-align:justify"> </p>
    <ul>
        <li style="text-align:justify"><span style="font-size:14px"><em><strong>Cigarette smoking is responsible for about 90 per cent of deaths from lung cancer.</strong> (Hút thuốc lá là nguyên nhân gây ra khoảng 90% các ca tử vong do ung thư phổi.)</em></span>
        </li>
    </ul>
    <p style="text-align:justify"> </p>
    <ul>
        <li style="text-align:justify"><em><strong><span style="font-size:14px">The child should be accompanied by a parent or other responsible adult.</span></strong><span
                style="font-size:14px"> (Trẻ em phải được đi cùng với cha mẹ hoặc người lớn đáng tin cậy khác.)</span></em>
        </li>
    </ul>
    <p style="text-align:justify"><span style="color:#3498db"><strong><span style="font-size:14px">II.    Cấu trúc và cách dùng</span></strong></span>
    </p>
    <p style="text-align:justify"><span style="font-size:14px"><strong>RESPONSIBLE </strong>có những cấu trúc và cách sử dụng khác nhau. Mỗi cấu trúc mang một ý nghĩa hoàn toàn khác nhau.</span>
    </p>
    <p style="text-align:justify"><span style="font-size:14px"><strong>RESPONSIBLE </strong>có thể đứng riêng trong câu hay đứng trước bổ nghĩa cho danh từ.</span>
    </p>
    <p style="text-align:justify"><span style="font-size:14px">     <strong>1.    <u>Cấu trúc 1</u></strong></span></p>
    <p style="text-align:justify"><span style="font-size:14px">Cấu trúc trên được sử dụng để nói đến ai đó phải chịu trách nhiệm thực hiện một công việc hay nhiệm vụ nào đó</span>
    </p>
    <div class="dv_spectial_content"
         style="background:#fff6e6; border:1px solid #f6bd00; padding:15px; text-align:center"><strong><span
            style="font-size:14px">S + be responsible for + Ving</span></strong></div>
    <ul>
        <li style="text-align:justify"><em><strong><span style="font-size:14px">Her department is responsible for overseeing the councils. </span></strong><span
                style="font-size:14px">(Bộ phận của cô ấy chịu trách nhiệm giám sát các hội đồng.)</span></em></li>
        <li style="text-align:justify"><em><strong><span style="font-size:14px">The city council is responsible for keeping the streets clean. </span></strong><span
                style="font-size:14px">(Hội đồng thành phố chịu trách nhiệm giữ cho đường phố sạch sẽ.)</span></em></li>
    </ul>
    <p style="text-align:justify"><span style="font-size:14px">   <strong>  2.    <u>Cấu trúc 2</u></strong></span></p>
    <p style="text-align:justify"><span style="font-size:14px">Cấu trúc trên cũng có thể sử dụng cùng với danh từ hoặc cụm danh từ khi muốn nói ai hay cái gì chịu trách cho sự việc hay đối tượng nào đó.</span>
    </p>
    <div class="dv_spectial_content"
         style="background:#fff6e6; border:1px solid #f6bd00; padding:15px; text-align:center"><strong><span
            style="font-size:14px">S + be responsible for + something/ Someone</span></strong></div>
    <ul>
        <li style="text-align:justify"><em><strong><span style="font-size:14px">Even where parents no longer live together, they each continue to be responsible for their children. </span></strong><span
                style="font-size:14px">(Ngay cả khi cha mẹ không còn sống cùng nhau, họ vẫn tiếp tục có trách nhiệm với con cái.)</span></em>
        </li>
        <li style="text-align:justify"><em><strong><span style="font-size:14px">Paul is directly responsible for the efficient running of the office. </span></strong><span
                style="font-size:14px">(Paul chịu trách nhiệm trực tiếp về việc vận hành văn phòng hiệu quả.)</span></em>
        </li>
    </ul>
    <p style="text-align:justify"><span style="font-size:14px">   <strong>  3.    <u>Cấu trúc 3</u></strong></span></p>
    <p style="text-align:justify"><span style="font-size:14px">Cấu trúc trên cũng có thể được sử dụng để thể hiện trách nhiệm trước ai hay làm việc cho ai trong một nhóm hoặc tổ chức được phân chia cấp bậc.</span>
    </p>
    <div class="dv_spectial_content"
         style="background:#fff6e6; border:1px solid #f6bd00; padding:15px; text-align:center"><strong><span
            style="font-size:14px">S + be responsible + to someone/something + (for Noun/ Noun Phrase)</span></strong>
    </div>
    <ul>
        <li style="text-align:justify"><strong><em><span style="font-size:14px">The Council of Ministers is responsible to the Assembly. </span></em></strong><em><span
                style="font-size:14px">(Hội đồng Bộ trưởng chịu trách nhiệm trước Hội đồng.)</span></em></li>
        <li style="text-align:justify"><strong><em><span style="font-size:14px">In Australia, the prime minister and the Cabinet are responsible to the House of Representatives. </span></em></strong><em><span
                style="font-size:14px">(Ở Úc, thủ tướng và Nội các chịu trách nhiệm trước Hạ viện.)</span></em></li>
    </ul>
    <p style="text-align:justify"><span style="font-size:14px">  <strong>   4.    <u>Cấu trúc 4</u></strong></span></p>
    <p style="text-align:justify"><span
            style="font-size:14px">Cấu trúc trên sử dụng tính từ <strong><em>“responsible”</em></strong> đứng trước và bổ sung ý nghĩa cho một danh từ nào đó với ý nghĩa <em>“(nói về người) đáng tin cậy; có (tinh thần) trách nhiệm”</em></span>
    </p>
    <div class="dv_spectial_content"
         style="background:#fff6e6; border:1px solid #f6bd00; padding:15px; text-align:center"><strong><span
            style="font-size:14px">S + V + responsible + Noun/ Noun phrase</span></strong></div>
    <ul>
        <li style="text-align:justify"><strong><em><span style="font-size:14px">The child should be accompanied by a parent or other responsible adult. </span></em></strong><em><span
                style="font-size:14px">(Trẻ em phải được đi cùng với cha mẹ hoặc người lớn đáng tin cậy khác.)</span></em>
        </li>
        <li style="text-align:justify"><strong><em><span style="font-size:14px">We need to teach our children to act as responsible citizens. </span></em></strong><em><span
                style="font-size:14px">(Chúng ta cần dạy con cái chúng ta hành động như những công dân có trách nhiệm.)</span></em>
        </li>
    </ul>
    <p style="text-align:justify"><span style="font-size:14px">Giờ thì hãy tận dụng triệt để những gì mình đã học được để có thể diễn đạt thật nhuần nhuyễn và tự tin bạn nhé!</span>
    </p>
    <p style="text-align:justify"> </p></p>                                </div>