<meta charset="UTF-8">
<div class="first-content"><p style="text-align:justify"><span style="color:#3498db"><strong><span
        style="font-size:14px">I.    Tổng quan và ý nghĩa</span></strong></span></p>
    <p style="text-align:justify"><span style="font-size:14px"><strong>Demand </strong>được sử dụng khá thông dụng và phổ biến trong tiếng Anh. Điều khiến <strong>Demand </strong>trở nên đặc biệt chính là: <span
            style="color:#3498db"><em>Demand vừa được sử dụng như một danh từ hay một động từ</em></span>.</span></p>
    <p style="text-align:justify"><span style="font-size:14px"><strong>Demand </strong>khi là một danh từ mang ý nghĩa là <span
            style="color:#3498db"><em>sự đòi hỏi, sự yêu cầu; nhu cầu</em></span>.</span></p>
    <p style="text-align:justify"><span style="font-size:14px"><strong>Demand </strong>khi là một động từ mang ý nghĩa là <span
            style="color:#3498db">đòi hỏi, yêu cầu ai đó thực hiện một hành động nào đó</span>.</span></p></div>
<div class="last-content">
    <ul>
        <li style="text-align: justify;"><em><strong><span
                style="font-size:14px">I demanded an explanation. </span></strong><span style="font-size:14px">(Tôi cần một lời giải thích.)</span></em>
        </li>
        <li style="text-align: justify;"><em><strong><span style="font-size:14px">A federal judge rejected their demands. </span></strong><span
                style="font-size:14px">(Một thẩm phán liên bang đã bác bỏ yêu cầu của họ.)</span></em></li>
    </ul>
    <p style="text-align:justify"><span style="color:#3498db"><strong><span style="font-size:14px">II.    Cấu trúc và cách dùng</span></strong></span>
    </p>
    <p style="text-align:justify"><span
            style="font-size:14px">        <strong>  1.    <u>Động từ Demand</u></strong></span></p>
    <blockquote><p style="text-align:justify"><span style="font-size:14px">Động từ <strong>Demand </strong>được sử dụng để đưa ra yêu cầu hay mệnh lệnh về điều gì hay thực hiện một hành động nào đó.</span>
    </p></blockquote>
    <div class="dv_spectial_content"
         style="background:#fff6e6; border:1px solid #f6bd00; padding:15px; text-align:center"><strong><span
            style="font-size:14px">S + demand + something (of/from somebody)</span></strong></div>
    <ul>
        <li style="text-align: justify;"><em><strong><span style="font-size:14px">You should demand an apology in writing. </span></strong><span
                style="font-size:14px">(Bạn nên yêu cầu một lời xin lỗi bằng văn bản.)</span></em></li>
        <li style="text-align: justify;"><em><strong><span
                style="font-size:14px">We demand a lot of our teachers.</span></strong><span style="font-size:14px"> (Chúng tôi yêu cầu rất nhiều từ giáo viên của mình.)</span></em>
        </li>
        <li style="text-align: justify;"><em><strong><span
                style="font-size:14px">He had demanded money from her. </span></strong><span style="font-size:14px">(Anh ta đã đòi tiền từ cô ấy.)</span></em>
        </li>
    </ul>
    <div class="dv_spectial_content"
         style="background:#fff6e6; border:1px solid #f6bd00; padding:15px; text-align:center"><strong><span
            style="font-size:14px">S + demand + to V</span></strong></div>
    <ul>
        <li style="text-align: justify;"><em><strong><span
                style="font-size:14px">I demand to see the manager. </span></strong><span style="font-size:14px">(Tôi muốn được gặp quản lý.)</span></em>
        </li>
        <li style="text-align: justify;"><em><strong><span style="font-size:14px">I demand to work with Amelie’s team in this project. </span></strong><span
                style="font-size:14px">(Tôi yêu cầu làm việc với đội của Amelie trong dự án này.)</span></em></li>
    </ul>
    <div class="dv_spectial_content"
         style="background:#fff6e6; border:1px solid #f6bd00; padding:15px; text-align:center"><strong><span
            style="font-size:14px">S + demand + (that) + S + V</span></strong></div>
    <ul>
        <li style="text-align: justify;"><strong><em><span style="font-size:14px">The UN has demanded that all troops be withdrawn. </span></em></strong><em><span
                style="font-size:14px">(Liên Hợp Quốc đã yêu cầu rút hết quân đội.)</span></em></li>
        <li style="text-align: justify;"><strong><em><span style="font-size:14px">The judge demanded that we turn off our phones. </span></em></strong><em><span
                style="font-size:14px">(Thẩm phán yêu cầu chúng tôi tắt điện thoại.)</span></em></li>
    </ul>
    <blockquote><p style="text-align:justify"><span style="font-size:14px">Động từ <strong>Demand </strong>được sử dụng trong câu tường thuật trực tiếp để đưa ra câu hỏi và thể hiện thái độ nóng giận và hung hăng.</span>
    </p></blockquote>
    <ul>
        <li style="text-align: justify;"><span style="font-size:14px"><em><strong>‘Who the hell are you?’ he demanded angrily. </strong>(“Cô là cái thá gì?” Anh giận dữ hỏi.)</em></span>
        </li>
    </ul>
    <blockquote><p style="text-align:justify"><span style="font-size:14px">Động từ <strong>Demand </strong>được sử dụng trong kinh doanh (áp chỉ khách hàng), thể hiện hành động yêu cầu được đáp ứng về hàng hóa hay dịch vụ.</span>
    </p></blockquote>
    <ul>
        <li style="text-align: justify;"><strong><em><span style="font-size:14px">Today's consumers are demanding a greater variety of produce. </span></em></strong><em><span
                style="font-size:14px">(Người tiêu dùng ngày nay đang đòi hỏi nhiều sản phẩm đa dạng hơn.)</span></em>
        </li>
        <li style="text-align: justify;"><strong><em><span style="font-size:14px">Our customers demand quality and reliability most of all. </span></em></strong><em><span
                style="font-size:14px">(Khách hàng của chúng tôi yêu cầu hơn hết là chất lượng và độ tin cậy.)</span></em>
        </li>
    </ul>
    <blockquote><p style="text-align:justify"><span style="font-size:14px">Động từ <strong>Demand </strong>được sử dụng để nói về yêu cầu hay đòi hỏi về tố chất hay yếu tố nào đó để đạt thành công trong một lĩnh vực nào đó.</span>
    </p></blockquote>
    <ul>
        <li style="text-align: justify;"><strong><em><span style="font-size:14px">This is music that demands great technical skill. </span></em></strong><em><span
                style="font-size:14px">(Đây là loại nhạc đòi hỏi kỹ năng kỹ thuật cao.)</span></em></li>
        <li style="text-align: justify;"><strong><em><span style="font-size:14px">She can be a very tough negotiator when the situation demands it. </span></em></strong><em><span
                style="font-size:14px">(Cô ấy có thể là một nhà đàm phán rất cứng rắn khi tình hình đòi hỏi điều đó.)</span></em>
        </li>
    </ul>
    <p style="text-align:justify"><strong><span
            style="font-size:14px">          2.    <u>Danh từ Demand</u></span></strong></p>
    <blockquote><p style="text-align:justify"><span style="font-size:14px">Danh từ <strong>Demand </strong>được sử dụng để nói về yêu cầu hay đòi hỏi về điều gì đó, yêu cầu hay những gì một đối tượng nào đó cần.</span>
    </p></blockquote>
    <ul>
        <li style="text-align: justify;"><strong><em><span style="font-size:14px">A federal judge rejected their demands. </span></em></strong><em><span
                style="font-size:14px">(Một thẩm phán liên bang đã bác bỏ yêu cầu của họ.)</span></em></li>
        <li style="text-align: justify;"><strong><em><span style="font-size:14px">The management had no intention of meeting union demands. </span></em></strong><em><span
                style="font-size:14px">(Ban quản lý không có ý định đáp ứng các yêu cầu của công đoàn.)</span></em></li>
    </ul>
    <blockquote><p style="text-align:justify"><span style="font-size:14px">Danh từ <strong>Demand </strong>được sử dụng để nói về những việc mà ai đó / điều gì đó khiến bạn phải làm, đặc biệt là những việc khó, khiến bạn mệt mỏi, lo lắng, v.v.</span>
    </p></blockquote>
    <ul>
        <li style="text-align: justify;"><strong><em><span style="font-size:14px">She shouldn't always give in to his demands. </span></em></strong><em><span
                style="font-size:14px">(Không phải lúc nào cô ấy cũng nên nhượng bộ những yêu cầu của anh ấy.)</span></em>
        </li>
        <li style="text-align: justify;"><strong><em><span style="font-size:14px">As a director he makes huge demands on his actors. </span></em></strong><em><span
                style="font-size:14px">(Là một đạo diễn, anh ấy đặt ra những yêu cầu rất lớn đối với các diễn viên của mình.)</span></em>
        </li>
    </ul>
    <blockquote><p style="text-align:justify"><span style="font-size:14px">Danh từ <strong>Demand </strong>được sử dụng để nói về mong muốn hoặc nhu cầu của khách hàng đối với hàng hóa hoặc dịch vụ mà họ muốn mua hoặc sử dụng</span>
    </p></blockquote>
    <ul>
        <li style="text-align: justify;"><strong><em><span style="font-size:14px">Consumer demand for organic foods continues to increase rapidly. </span></em></strong><em><span
                style="font-size:14px">(Nhu cầu của người tiêu dùng đối với thực phẩm hữu cơ tiếp tục tăng nhanh.)</span></em>
        </li>
        <li style="text-align: justify;"><strong><em><span style="font-size:14px">We are seeing an increased demand for housing in the area. </span></em></strong><em><span
                style="font-size:14px">(Chúng tôi nhận thấy nhu cầu về nhà ở trong khu vực ngày càng tăng.)</span></em>
        </li>
    </ul>
    <p style="text-align:justify"><span style="color:#3498db"><strong><span style="font-size:14px">III.    Lưu ý khi sử dụng</span></strong></span>
    </p>
    <p style="text-align:justify"><span style="font-size:14px">Ngoài ra có một số cụm từ đi với <strong>Demand </strong>phổ biển mà chúng ta cần biết: </span>
    </p>
    <blockquote><p style="text-align:justify"><strong><span
            style="font-size:14px">*** ON demand = theo yêu cầu</span></strong></p></blockquote>
    <ul>
        <li style="text-align: justify;"><strong><em><span style="font-size:14px">The service allows you to watch video on demand. </span></em></strong><em><span
                style="font-size:14px">(Dịch vụ cho phép bạn xem video theo yêu cầu.)</span></em></li>
        <li style="text-align: justify;"><strong><em><span style="font-size:14px">Campaigners insist that abortion should be available on demand. </span></em></strong><em><span
                style="font-size:14px">(Các nhà vận động nhấn mạnh rằng nên cung cấp dịch vụ phá thai theo yêu cầu.)</span></em>
        </li>
    </ul>
    <blockquote><p style="text-align:justify"><strong><span
            style="font-size:14px">*** IN demand = đang có nhu cầu</span></strong></p></blockquote>
    <ul>
        <li style="text-align: justify;"><span
                style="font-size:14px"><strong><em>Good secretaries are always in demand. </em></strong><em>(Công ty luôn có nhu cầu tuyển dụng thư ký có năng lực.)</em></span>
        </li>
    </ul>
    <p style="text-align:justify"><span style="color:#e74c3c"><strong><span style="font-size:14px">You can do it!</span></strong></span>
    </p>                </p>                                </div>