<meta charset="UTF-8">
<div class="first-content"><p style="text-align:justify"><span style="font-size:14px">Ai ai cũng đã biết, để dịch được câu trên, ta sử dụng động từ <strong>FORGET </strong>để diễn tả hành động “quên làm gì đó/ quên về việc gì đó”. Vậy <strong>FORGET </strong>có những ý nghĩa và cấu trúc như thế nào? Cùng mình tìm hiểu nhé!</span>
</p>
    <p style="text-align:justify"><span style="color:#3498db"><strong><span style="font-size:14px">I.    Tổng quan ý nghĩa cấu trúc Forget</span></strong></span>
    </p>
    <p style="text-align:justify"><span style="font-size:14px"><em><strong>Forget </strong>/fəˈɡet/</em> trong tiếng Anh được sử dụng như một động từ với ý nghĩa <em><span
            style="color:#3498db">“quên, không nhớ”</span></em> về điều gì đó hay <em><span style="color:#3498db">"quên, không nhớ”</span></em> thực hiện một hành động nào đó.</span>
    </p>
    <ul>
        <li style="text-align: justify;"><strong><em><span
                style="font-size:14px">Take care, and don't forget to write. </span></em></strong><em><span
                style="font-size:14px">(Giữ gìn sức khỏe và đừng quên viết thư cho mình nhé.)</span></em></li>
        <li style="text-align: justify;"><strong><em><span
                style="font-size:14px">I forgot my purse. </span></em></strong><em><span style="font-size:14px">(Tôi để quên ví mất rồi.)</span></em>
        </li>
    </ul>
    <p style="text-align:justify"><span style="font-size:14px"><span style="color:#3498db"><strong>II.    Cấu trúc và cách dùng Forget</strong></span></span>
    </p></div>
<div class="last-content"><p style="text-align:justify"><strong><em><span style="font-size:14px"><span
        style="color:#3498db">     </span></span></em><span style="font-size:14px"><span
        style="color:#3498db">     </span>1.    <u>Cách dùng 1</u></span></strong></p>
    <blockquote><p style="text-align:justify"><span style="font-size:14px">Cấu trúc trên được sử dụng để thể hiện hành động quên hay không nhớ làm điều gì đó mà bạn phải làm, hoặc quên mang hoặc mua một thứ gì đó mà bạn phải mang theo hoặc mua.</span>
    </p></blockquote>
    <div class="dv_spectial_content"
         style="background:#fff6e6; border:1px solid #f6bd00; padding:15px; text-align:center"><strong><span
            style="font-size:14px">S + forget + to V</span></strong></div>
    <ul>
        <li style="text-align: justify;"><strong><em><span style="font-size:14px">He forgot <u>to mention</u> he was bringing a guest. </span></em></strong><em><span
                style="font-size:14px">(Anh ta quên đề cập đến việc anh ta có đưa đến một vị khách.)</span></em></li>
        <li style="text-align: justify;"><strong><em><span style="font-size:14px">I forgot <u>to ask</u> him for his address. </span></em></strong><em><span
                style="font-size:14px">(Tôi quên hỏi địa chỉ nhà anh ấy mất rồi.)</span></em></li>
    </ul>
    <div class="dv_spectial_content"
         style="background:#fff6e6; border:1px solid #f6bd00; padding:15px; text-align:center"><strong><span
            style="font-size:14px">S + forget + something/somebody</span></strong></div>
    <ul>
        <li style="text-align: justify;"><strong><em><span style="font-size:14px">I forgot <u>my keys</u>. </span></em></strong><em><span
                style="font-size:14px">(Tôi quên mang theo chìa khóa rồi.)</span></em></li>
        <li style="text-align: justify;"><strong><em><span
                style="font-size:14px">Hey, don't forget <u>me</u>! </span></em></strong><em><span
                style="font-size:14px">(Này, đừng quên mình nhé!)</span></em></li>
    </ul>
    <p style="text-align:justify"><span
            style="font-size:14px">         <strong> 2.  <em>  </em><u>Cách dùng 2</u></strong></span></p>
    <blockquote><p style="text-align:justify"><span style="font-size:14px">Cấu trúc trên được sử dụng để thể hiện hành động quên hay không còn nghĩ về một ai đó hay một điều gì đó.</span>
    </p></blockquote>
    <div class="dv_spectial_content"
         style="background:#fff6e6; border:1px solid #f6bd00; padding:15px; text-align:center"><strong><span
            style="font-size:14px">S + forget + about something</span></strong></div>
    <ul>
        <li style="text-align: justify;"><strong><em><span style="font-size:14px">In the excitement I forgot all <u>about my little brother</u>. </span></em></strong><em><span
                style="font-size:14px">(Trong cơn phấn khích tôi đã quên đi tất cả về đứa em trai nhỏ của mình.)</span></em>
        </li>
        <li style="text-align: justify;"><strong><em><span style="font-size:14px">I’m afraid we’ll have to forget <u>about going to the beach.</u> – it’s raining. </span></em></strong><em><span
                style="font-size:14px">(Tôi e rằng chúng ta sẽ phải quên việc đi biển đi - trời đang mưa kìa.)</span></em>
        </li>
    </ul>
    <p style="text-align:justify"><span
            style="font-size:14px">   <strong>       3.    <u>Cách dùng 3</u></strong></span></p>
    <blockquote><p style="text-align:justify"><span style="font-size:14px">Cấu trúc trên được sử dụng để thể hiện hành động quên hay không thể nhớ điều gì đó đã xảy ra trong quá khứ hoặc thông tin mà bạn đã biết trong quá khứ.</span>
    </p></blockquote>
    <div class="dv_spectial_content"
         style="background:#fff6e6; border:1px solid #f6bd00; padding:15px; text-align:center"><strong><span
            style="font-size:14px">S + forget + (about) + something</span></strong></div>
    <ul>
        <li style="text-align: justify;"><strong><em><span style="font-size:14px">I'd completely forgotten <u>about the money he owed me</u>. </span></em></strong><em><span
                style="font-size:14px">(Tôi hoàn toàn quên mấy số tiền anh ấy đã nợ tôi.)</span></em></li>
        <li style="text-align: justify;"><strong><em><span style="font-size:14px">I never forget <u>a face</u>. </span></em></strong><em><span
                style="font-size:14px">(Tôi không bao giờ quên đi khuôn mặt ấy.)</span></em></li>
    </ul>
    <div class="dv_spectial_content"
         style="background:#fff6e6; border:1px solid #f6bd00; padding:15px; text-align:center"><strong><span
            style="font-size:14px">S + forget + (that) + S + V</span></strong></div>
    <ul>
        <li style="text-align: justify;"><strong><em><span style="font-size:14px">She keeps forgetting (that) <u>I’m not a child any more</u>. </span></em></strong><em><span
                style="font-size:14px">(Bà ấy cứ quên rằng tôi không còn là một đứa trẻ nữa.)</span></em></li>
        <li style="text-align: justify;"><strong><em><span style="font-size:14px">It is easy to forget <u>that not all countries have these advantages</u>. </span></em></strong><em><span
                style="font-size:14px">(Dễ dàng quên rằng không phải quốc gia nào cũng có những lợi thế này.)</span></em>
        </li>
    </ul>
    <div class="dv_spectial_content"
         style="background:#fff6e6; border:1px solid #f6bd00; padding:15px; text-align:center"><strong><span
            style="font-size:14px">S + forget + Wh_ + S + V</span></strong></div>
    <ul>
        <li style="text-align: justify;"><strong><em><span style="font-size:14px">I've forgotten <u>where they live exactly</u>. </span></em></strong><em><span
                style="font-size:14px">(Tôi không còn nhớ chính xác họ sống ở đâu nữa.)</span></em></li>
        <li style="text-align: justify;"><strong><em><span
                style="font-size:14px">I forget <u>how much they paid for it</u>. </span></em></strong><em><span
                style="font-size:14px">(Tôi quên họ đã trả bao nhiêu tiền rồi.)</span></em></li>
    </ul>
    <div class="dv_spectial_content"
         style="background:#fff6e6; border:1px solid #f6bd00; padding:15px; text-align:center"><strong><span
            style="font-size:14px">S + forget + (O) + V_ing</span></strong></div>
    <ul>
        <li style="text-align: justify;"><strong><em><span style="font-size:14px">I'll never forget <u>hearing</u> this piece of music for the first time. </span></em></strong><em><span
                style="font-size:14px">(Tôi sẽ không bao giờ quên đi giai điệu lần đầu tiên tôi thưởng thức.)</span></em>
        </li>
        <li style="text-align: justify;"><strong><em><span style="font-size:14px">I'll never forget <u>him sobbing</u> uncontrollably at the funeral. </span></em></strong><em><span
                style="font-size:14px">(Tôi sẽ không bao giờ quên khoảnh khắc anh ấy đã khóc nức nở trong đám tang.)</span></em>
        </li>
    </ul>
    <p style="text-align:justify"><span
            style="font-size:14px">    <strong>      4.    <u>Cách dùng 4</u></strong></span></p>
    <blockquote><p style="text-align:justify"><span style="font-size:14px">Cấu trúc trên được sử dụng để đưa ra lời đề nghị hay lời khuyên.</span>
    </p></blockquote>
    <div class="dv_spectial_content"
         style="background:#fff6e6; border:1px solid #f6bd00; padding:15px; text-align:center"><strong><span
            style="font-size:14px">Do not forget + V_to</span></strong></div>
    <ul>
        <li style="text-align: justify;"><strong><em><span style="font-size:14px">Don’t forget <u>to bring</u> your passport. </span></em></strong><em><span
                style="font-size:14px">(Đừng quên mang theo hộ chiếu nhé.)</span></em></li>
    </ul>
    <div class="dv_spectial_content"
         style="background:#fff6e6; border:1px solid #f6bd00; padding:15px; text-align:center"><strong><span
            style="font-size:14px">It + be + forgotten that + S + V</span></strong></div>
    <ul>
        <li style="text-align: justify;"><strong><em><span style="font-size:14px">It should not be forgotten that <u>people used to get much more exercise</u>. </span></em></strong><em><span
                style="font-size:14px">(Không nên quên rằng mọi người trước kia đã từng tập thể dục nhiều hơn.)</span></em>
        </li>
    </ul>
    <p style="text-align:justify"><strong><span
            style="font-size:14px">          5.    <u>Cách dùng 5</u></span></strong></p>
    <blockquote><p style="text-align:justify"><span style="font-size:14px">Cấu trúc trên được sử dụng để nói về khả năng không thể xảy ra sự kiện hay hoạt động nào đó.</span>
    </p></blockquote>
    <div class="dv_spectial_content"
         style="background:#fff6e6; border:1px solid #f6bd00; padding:15px; text-align:center"><strong><span
            style="font-size:14px">S + forget + (about) + something</span></strong></div>
    <ul>
        <li style="text-align: justify;"><strong><em><span style="font-size:14px">If I lose this job, we can forget <u>about buying a new car</u>. </span></em></strong><em><span
                style="font-size:14px">(Nếu anh mất việc, thì mình quên đi việc mua xe mới đi nhé.)</span></em></li>
        <li style="text-align: justify;"><strong><em><span style="font-size:14px">‘I was hoping you might be able to lend me the money.’ </span></em></strong><em><span
                style="font-size:14px"><strong>‘You can forget <u>that</u>!’ </strong>('Hy vọng cậu có thể cho mình mượn ít tiền' - 'Quên chuyện đó đi!'</span></em>
        </li>
    </ul>
    <p style="text-align:justify"> </p></p>                                </div>