<meta charset="UTF-8">
<div class="first-content"><p style="text-align:justify"><span style="color:#3498db"><strong><span
        style="font-size:14px">I.    Tổng quan và cách dùng</span></strong></span></p>
    <p style="text-align:justify"><span style="font-size:14px">Giới từ <strong>in, on, at </strong>là những giới từ phổ biến nhất trong tiếng Anh. Các giới từ này đóng vai trò kết nối hai từ hoặc nhiều từ trong một câu, được sử dụng để chỉ thời gian hoặc địa điểm.</span>
    </p>
    <p style="text-align:justify"><span style="font-size:14px">Giới từ <strong>in, on, at</strong> đứng trước các danh từ hoặc cụm danh từ chỉ địa điểm, thời gian, thường nằm ở cuối câu hoặc đầu câu.</span>
    </p></div>
<div class="last-content"><p style="text-align:justify"><span style="font-size:14px">Giới từ <strong>in, on, at</strong> được sử dụng với quy mô tăng dần theo trình từ: <strong><em><span
        style="color:#e74c3c">at => on => in</span></em></strong>. Nghĩa là <strong>in </strong>được dùng để chỉ thời gian và địa điểm với phạm vi rộng lớn nhất, có tính khái quát, chung chung. Còn <strong>at </strong>và <strong>on </strong>được dùng với những mốc thời gian và địa điểm cụ thể.</span>
</p>
    <ul>
        <li style="text-align:justify"><em><strong><span
                style="font-size:14px">The kids were playing <u>in the street</u>. </span></strong><span
                style="font-size:14px">(Tụi trẻ con đang chơi đùa trên đường phố.)</span></em></li>
        <li style="text-align:justify"><em><strong><span
                style="font-size:14px">I haven't seen him <u>in years</u>. </span></strong><span style="font-size:14px">(Đã nhiều năm rồi tôi không gặp anh ấy.)</span></em>
        </li>
        <li style="text-align:justify"><em><strong><span
                style="font-size:14px">We meet <u>on Tuesdays</u>. </span></strong><span style="font-size:14px">(Chúng tôi gặp nhau vào mỗi thứ Ba hàng tuần.)</span></em>
        </li>
        <li style="text-align:justify"><em><strong><span
                style="font-size:14px">There's a mark <u>on your skirt</u>. </span></strong><span
                style="font-size:14px">(Trên váy của bạn dính một vệt gì đó.)</span></em></li>
        <li style="text-align:justify"><em><strong><span style="font-size:14px">They arrived late <u>at the airport</u>. </span></strong><span
                style="font-size:14px">(Họ đến sân bay trễ.)</span></em></li>
        <li style="text-align:justify"><em><strong><span style="font-size:14px"><u>At night</u> you can see the stars. </span></strong><span
                style="font-size:14px">(Bạn có thể nhìn thấy những vì sao vào ban đêm.)</span></em></li>
    </ul>
    <p style="text-align:justify"><span style="font-size:14px"><span style="color:#3498db"><strong>II.    Nói về thời gian</strong></span></span>
    </p>
    <p style="text-align:justify"><strong><span style="font-size:14px">          1.    AT</span></strong></p>
    <blockquote><p style="text-align:justify"><span style="font-size:14px">Chúng ta sử dụng giới từ <strong>AT </strong>để nói về <strong>giờ đúng theo đồng hồ</strong>.</span>
    </p></blockquote>
    <ul>
        <li style="text-align:justify"><strong><em><span
                style="font-size:14px">I’ll see you <u>at five o’clock</u>. </span></em></strong><em><span
                style="font-size:14px">(Mình sẽ gặp cậu lúc 5 giờ.)</span></em></li>
    </ul>
    <blockquote><p style="text-align:justify"><span style="font-size:14px">Chúng ta sử dụng giới từ <strong>AT </strong>để nói về <strong>một thời điểm cụ thể trong ngày</strong>.</span>
    </p></blockquote>
    <ul>
        <li style="text-align:justify"><span style="font-size:14px"><em><strong>The helicopter took off <u>at midday</u> and headed for the island. </strong>(Máy bay trực thăng cất cánh vào giữa trưa và hướng đến hòn đảo.)</em></span>
        </li>
    </ul>
    <blockquote><p style="text-align:justify"><span style="font-size:14px">Chúng ta sử dụng giới từ <strong>AT </strong>để nói về <strong>một thời điểm cụ thể trong tuần</strong>.</span>
    </p></blockquote>
    <ul>
        <li style="text-align:justify"><strong><em><span style="font-size:14px">What are you doing <u>at the weekend</u>? </span></em></strong><em><span
                style="font-size:14px">(Cậu làm gì vào cuối tuần vậy?)</span></em></li>
    </ul>
    <blockquote><p style="text-align:justify"><span style="font-size:14px">Chúng ta sử dụng giới từ <strong>AT </strong>để nói về <strong>những sự kiện đặc biệt và quan trọng</strong>.</span>
    </p></blockquote>
    <ul>
        <li style="text-align:justify"><span style="font-size:14px"><em><strong><u>At the New Year</u>, millions of people travel home to be with their families. </strong>(Vào dịp năm mới, hàng triệu người về quê sum họp với gia đình.)</em></span>
        </li>
    </ul>
    <p style="text-align:justify"> </p>
    <ul>
        <li style="text-align:justify"><em><strong><span
                style="font-size:14px">What time are you leaving? => </span></strong><span
                style="font-size:14px"><s>At</s> what time are you leaving?</span></em></li>
    </ul>
    <p style="text-align:justify"><strong><span style="font-size:14px">          2.    ON</span></strong></p>
    <blockquote><p style="text-align:justify"><span style="font-size:14px">Ta sử dụng giới từ <strong>ON </strong>để nói về <strong><em>ngày, tháng, năm</em></strong>.</span>
    </p></blockquote>
    <ul>
        <li style="text-align:justify"><span style="font-size:14px"><strong><em>We moved into this house <u>on 25 October 1987</u>. </em></strong><em>(Chúng tôi chuyển đến ngôi nhà này vào ngày 25 tháng 10 năm 1987.)</em></span>
        </li>
    </ul>
    <blockquote><p style="text-align:justify"><span style="font-size:14px">Ta sử dụng giới từ <strong>ON </strong>để nói về <strong>một thứ cụ thể trong tuần (diễn tả sự kiện đặc biệt nào đó)</strong>.</span>
    </p></blockquote>
    <ul>
        <li style="text-align:justify"><span
                style="font-size:14px"><strong><em>I’ve got to go to London <u>on Friday</u>. </em></strong><em>(Tôi phải đi Luân Đôn vào thứ Sáu.)</em></span>
        </li>
    </ul>
    <blockquote><p style="text-align:justify"><span style="font-size:14px">Ta sử dụng giới từ <strong>ON </strong>để nói về<strong> những ngày giống nhau trong tuần (diễn tả một sự kiện lặp đi lặp lại)</strong>.</span>
    </p></blockquote>
    <ul>
        <li style="text-align:justify"><strong><em><span style="font-size:14px">The office is closed <u>on Fridays</u>. </span></em></strong><em><span
                style="font-size:14px">(Văn phòng đóng cửa vào thứ Sáu hàng tuần.)</span></em></li>
        <li style="text-align:justify"><strong><em><span style="font-size:14px">Do you work <u>on Saturdays</u>? </span></em></strong><em><span
                style="font-size:14px">(Bạn có làm việc vào thứ Bảy không?)</span></em></li>
    </ul>
    <blockquote><p style="text-align:justify"><span style="font-size:14px">Ta sử dụng giới từ <strong>ON </strong>để nói về <strong>những ngày đặc biệt</strong>.</span>
    </p></blockquote>
    <ul>
        <li style="text-align:justify"><strong><em><span style="font-size:14px">What do you normally do <u>on your birthday</u>? </span></em></strong><em><span
                style="font-size:14px">(Cậu thường làm gì vào ngày sinh nhật?)</span></em></li>
    </ul>
    <p style="text-align:justify"><span style="font-size:14px">        <strong>  3.    IN</strong></span></p>
    <blockquote><p style="text-align:justify"><span style="font-size:14px">Ta sử dụng giới từ <strong>IN </strong>để nói về <strong>những buổi trong ngày</strong>.</span>
    </p></blockquote>
    <ul>
        <li style="text-align:justify"><span
                style="font-size:14px"><strong><em>I’ll come and see you <u>in the morning</u> for a cup of coffee, okay? </em></strong><em>(Tớ sẽ đến uống cùng cậu một tách cà phê vào buổi sáng, được chứ?)</em></span>
        </li>
    </ul>
    <blockquote><p style="text-align:justify"><span style="font-size:14px">Ta sử dụng giới từ <strong>IN </strong>để nói về <strong>tháng trong năm</strong>.</span>
    </p></blockquote>
    <ul>
        <li style="text-align:justify"><span style="font-size:14px"><strong><em>We usually go camping <u>in July or August</u>. </em></strong><em>(Chúng tôi thường đi cắm trại vào tháng Bảy hoặc tháng Tám.)</em></span>
        </li>
    </ul>
    <blockquote><p style="text-align:justify"><span style="font-size:14px">Ta sử dụng giới từ <strong>IN </strong>để nói về <strong>năm</strong>.</span>
    </p></blockquote>
    <ul>
        <li style="text-align:justify"><strong><em><span
                style="font-size:14px">The house was built <u>in 1835</u>. </span></em></strong><em><span
                style="font-size:14px">(Ngôi nhà đã được xây dựng vào năm 1835.)</span></em></li>
    </ul>
    <blockquote><p style="text-align:justify"><span style="font-size:14px">Ta sử dụng giới từ <strong>IN </strong>để nói về <strong>mùa</strong>.</span>
    </p></blockquote>
    <ul>
        <li style="text-align:justify"><span
                style="font-size:14px"><strong><em>The garden is wonderful <u>in the spring</u> when all the flowers come out. </em></strong><em>(Khu vườn trông tuyệt đẹp vào mùa xuân khi tất cả các loài hoa đua nhau khoe sắc.)</em></span>
        </li>
    </ul>
    <blockquote><p style="text-align:justify"><span style="font-size:14px">Ta sử dụng giới từ <strong>IN </strong>để nói về <strong>những quãng thời gian dài</strong>.</span>
    </p></blockquote>
    <ul>
        <li style="text-align:justify"><span style="font-size:14px"><strong><em>The population of Europe doubled <u>in the nineteenth century</u>. </em></strong><em>(Dân số châu Âu tăng gấp đôi vào thế kỷ XIX.)</em></span>
        </li>
    </ul>
    <blockquote><p style="text-align:justify"><span style="font-size:14px">Ta sử dụng giới từ <strong>IN </strong>để nói về <strong>quãng thời gian ai đó dành ra để thực hiện một hành động nào đó</strong>.</span>
    </p></blockquote>
    <ul>
        <li style="text-align:justify"><strong><em><span style="font-size:14px">He was such a clever musician. He could learn a song <u>in about five minutes</u>. </span></em></strong><em><span
                style="font-size:14px">(Anh ấy thật là một nhạc sĩ thông thái. Anh ấy có thể học một bài hát trong khoảng năm phút.)</span></em>
        </li>
    </ul>
    <p style="text-align:justify"> </p>
    <p style="text-align:justify"><span style="font-size:14px">Chúng ta có thể sử dụng <strong>AT </strong>để nói về những ngày kỳ nghỉ quốc gia hay trước <strong><em>weekends</em></strong>, nhưng chúng ta sử dụng <strong>ON </strong>khi nói về một ngày đặc biệt cụ thể hay trước <strong>weekend</strong>.</span>
    </p>
    <ul>
        <li style="text-align:justify"><strong><em><span style="font-size:14px">We never go away <u>at the New Year</u> because the traffic is awful. => <u>On New Year’s Day</u>, the whole family gets together.</span></em></strong>
        </li>
        <li style="text-align:justify"><strong><em><span style="font-size:14px">I’ll go and see my mother <u>at the weekend</u> if the weather’s okay. => The folk festival is always held <u>on the last weekend</u> in July.</span></em></strong>
        </li>
    </ul>
    <p> </p>
    <p><span
            style="font-size:14px">Chúng ta sử dụng <strong>IN </strong>trước <strong><em>morning, afternoon, evening </em></strong>hay <strong><em>night</em></strong> nói chung, nhưng chúng ta sử dụng <strong>ON </strong>khi nói về những buổi <strong><em>morning, afternoon, evening </em></strong>hay <strong><em>night</em></strong> cụ thể.</span>
    </p>
    <ul>
        <li style="text-align:justify"><strong><em><span style="font-size:14px">I always work best <u>in the morning</u>. => The ship left the harbour <u>on the morning of the ninth of November.</u></span></em></strong>
        </li>
        <li style="text-align:justify"><strong><em><span style="font-size:14px"><u>In the evening</u> they used to sit outside and watch the sun going down. => It happened <u>on a beautiful summer’s evening</u>.</span></em></strong>
        </li>
    </ul>
    <p> </p>
    <p><span style="font-size:14px"><strong>In the night</strong> được sử dụng để nói về một buổi tối cụ thể, <strong>at night</strong> được sử dụng để nói về bất kỳ những buổi tối nào nói chung.</span>
    </p>
    <ul>
        <li><strong><em><span style="font-size:14px">I was awake <u>in the night</u>, thinking about all the things that have happened. </span></em></strong><em><span
                style="font-size:14px">(Tôi thức trắng đêm, nghĩ về tất cả những điều đã xảy ra.)</span></em></li>
        <li><strong><em><span
                style="font-size:14px">‘It’s not safe to travel <u>at night</u>,’ the officer said. </span></em></strong><em><span
                style="font-size:14px">(Viên cảnh sát nói: "Đi lại vào ban đêm không an toàn đâu.")</span></em></li>
    </ul>
    <p style="text-align:justify"><span style="color:#3498db"><strong><span style="font-size:14px">III.    Nói về nơi chốn</span></strong></span>
    </p>
    <p style="text-align:justify"><span style="font-size:14px">      <strong>    1.    AT</strong></span></p>
    <blockquote><p style="text-align:justify"><span style="font-size:14px">Chúng ta sử dụng giới từ <strong>AT </strong>để nói về <strong>định vị một địa điểm một cách cụ thể, chính xác</strong>.</span>
    </p></blockquote>
    <ul>
        <li style="text-align:justify"><strong><em><span style="font-size:14px">I was sitting <u>at my desk</u>. </span></em></strong><em><span
                style="font-size:14px">(Tôi đang ngồi ở bàn học.)</span></em></li>
    </ul>
    <blockquote><p style="text-align:justify"><span style="font-size:14px">Chúng ta sử dụng giới từ <strong>AT </strong>để nói về <strong>vị trí hay địa chỉ của một nơi diễn ra hoạt động hay sự kiện nhất định</strong>.</span>
    </p></blockquote>
    <ul>
        <li style="text-align:justify"><span style="font-size:14px"><strong><em>How many people are working <u>at Microsoft</u>? </em></strong><em>(Có bao nhiêu nhân viên hiện đang làm việc tại Microsoft?)</em></span>
        </li>
    </ul>
    <blockquote><p style="text-align:justify"><span style="font-size:14px">Chúng ta sử dụng giới từ <strong>AT </strong>để nói về <strong>nơi diễn ra hoạt động của một nhóm người</strong>.</span>
    </p></blockquote>
    <ul>
        <li style="text-align:justify"><em><span
                style="font-size:14px"><strong>Were you <u>at Lisa’s party</u>?</strong> (Cậu có đến bữa tiệc của Lisa không?)</span></em>
        </li>
    </ul>
    <blockquote><p style="text-align:justify"><span style="font-size:14px">Chúng ta sử dụng giới từ <strong>AT </strong>để nói về <strong>trường học</strong>.</span>
    </p></blockquote>
    <ul>
        <li style="text-align:justify"><strong><em><span
                style="font-size:14px">She always did well <u>at school</u>. </span></em></strong><em><span
                style="font-size:14px">(Cô ấy luôn học rất tốt ở trường.)</span></em></li>
    </ul>
    <blockquote><p style="text-align:justify"><span style="font-size:14px">Chúng ta sử dụng giới từ <strong>AT </strong>để nói về <strong>địa chỉ cụ thể</strong>.</span>
    </p></blockquote>
    <ul>
        <li style="text-align:justify"><span style="font-size:14px"><strong><em>They once lived <u>at number 12 South George’s Street</u>. </em></strong><em>(Họ từng sống ở số 12 Phố Nam George.)</em></span>
        </li>
    </ul>
    <blockquote><p style="text-align:justify"><span style="font-size:14px">Chúng ta sử dụng giới từ <strong>AT </strong>để nói về <strong>nơi công cộng diễn ra các dịch vụ như cắt tóc, nha khoa, …</strong></span>
    </p></blockquote>
    <ul>
        <li style="text-align:justify"><em><strong><span style="font-size:14px">I can’t meet at four. I’ll be <u>at the hairdresser’s</u> until five. </span></strong><span
                style="font-size:14px">(Tôi không thể gặp lúc bốn giờ. Tôi sẽ ở tiệm làm tóc cho đến năm giờ.)</span></em>
        </li>
    </ul>
    <blockquote><p style="text-align:justify"><span style="font-size:14px">Chúng ta sử dụng giới từ <strong>AT </strong>để nói về <strong>các thể loại cửa hàng.</strong></span>
    </p></blockquote>
    <ul>
        <li style="text-align:justify"><strong><em><span
                style="font-size:14px">Look what I bought <u>at the butcher’s</u> today. </span></em></strong><em><span
                style="font-size:14px">(Nhìn xem hôm nay mình mua được gì tại hàng thịt này.)</span></em></li>
    </ul>
    <blockquote><p style="text-align:justify"><span style="font-size:14px">Chúng ta sử dụng giới từ <strong>AT </strong>để nói về <strong>vị trí ở phía cuối hay ở đáy</strong>.</span>
    </p></blockquote>
    <ul>
        <li style="text-align:justify"><span style="font-size:14px"><strong><em>That's his wife sitting <u>at the far end</u> of the table. </em></strong><em>(Vợ anh ta ngồi ở cuối bàn.)</em></span>
        </li>
    </ul>
    <p style="text-align:justify"><span style="font-size:14px">      <strong>    2.    ON</strong></span></p>
    <blockquote><p style="text-align:justify"><span style="font-size:14px">Chúng ta sử dụng <strong>ON </strong>để nói về <strong>vị trí trên một bề mặt phẳng</strong>.</span>
    </p></blockquote>
    <ul>
        <li style="text-align:justify"><em><span
                style="font-size:14px"><strong>I know I left my wallet <u>on the table</u>.</strong> (Tôi biết mình đã để ví trên bàn.)</span></em>
        </li>
    </ul>
    <blockquote><p style="text-align:justify"><span style="font-size:14px">Chúng ta sử dụng <strong>ON </strong>để nói về <strong>vị trí dọc theo con đường hay con sông/ biển/ hồ…</strong></span>
    </p></blockquote>
    <ul>
        <li style="text-align:justify"><span style="font-size:14px"><strong><em>Dublin is <u>on the east coast</u> of Ireland.</em></strong><em> (Dublin nằm trên bờ biển phía đông của Ireland.)</em></span>
        </li>
    </ul>
    <blockquote><p style="text-align:justify"><span style="font-size:14px">Chúng ta sử dụng <strong>ON </strong>để nói về <strong>tầng/ lầu của một tòa nhà.</strong></span>
    </p></blockquote>
    <ul>
        <li style="text-align:justify"><strong><em><span
                style="font-size:14px">They live <u>on the 15th floor</u>! </span></em></strong><em><span
                style="font-size:14px">(Họ sống ở tầng thứ 15.)</span></em></li>
    </ul>
    <blockquote><p style="text-align:justify"><span style="font-size:14px">Chúng ta sử dụng <strong>ON </strong>để nói về <strong>phương tiện giao thông công cộng.</strong></span>
    </p></blockquote>
    <ul>
        <li style="text-align:justify"><span style="font-size:14px"><strong><em>I was <u>on the train</u> when she phoned. </em></strong><em>(Tôi đang ở trên tàu khi cô ấy gọi điện.)</em></span>
        </li>
    </ul>
    <p style="text-align:justify"><span style="font-size:14px">        <strong>  3.    IN</strong></span></p>
    <blockquote><p style="text-align:justify"><span style="font-size:14px">Chúng ta sử dụng <strong>IN </strong>để nói về <strong>những khu vực có quy mô rộng lớn.</strong></span>
    </p></blockquote>
    <ul>
        <li style="text-align:justify"><span style="font-size:14px"><em><strong>I know my book is somewhere <u>in this room</u>. Can anyone see it? </strong>(Tôi biết cuốn sách của tôi ở đâu đó trong phòng này. Có ai thấy không?)</em></span>
        </li>
    </ul>
    <blockquote><p style="text-align:justify"><span style="font-size:14px">Chúng ta sử dụng <strong>IN </strong>để nói về <strong>vị trí/ nơi làm việc cụ thể.</strong></span>
    </p></blockquote>
    <ul>
        <li style="text-align:justify"><strong><em><span style="font-size:14px">She works <u>in an open-plan office</u>. </span></em></strong><em><span
                style="font-size:14px">(Cô ấy làm việc trong một văn phòng không gian mở.)</span></em></li>
    </ul>
    <blockquote><p style="text-align:justify"><span style="font-size:14px">Chúng ta sử dụng <strong>IN </strong>để nói về <strong>vị trí trong lòng một cái gì đó (không gian kín).</strong></span>
    </p></blockquote>
    <ul>
        <li style="text-align:justify"><span style="font-size:14px"><strong><em>It's in that drawer. </em></strong><em>(Nó ở trong ngăn kéo đó.)</em></span>
        </li>
    </ul>
    <blockquote><p style="text-align:justify"><span
            style="font-size:14px">Chúng ta sử dụng <strong>IN </strong>trước <strong>class.</strong></span></p>
    </blockquote>
    <ul>
        <li style="text-align:justify"><strong><em><span style="font-size:14px">He found it difficult to concentrate <u>in class</u>. </span></em></strong><em><span
                style="font-size:14px">(Cậu bé thấy rất khó tập trung trong lớp học.)</span></em></li>
    </ul>
    </p>                                </div>