<meta charset="UTF-8">
<div class="first-content"><p style="text-align:justify"><span style="font-size:14px">Chắc ai ai cũng biết rằng <strong>Make </strong>mang ý nghĩa <strong><em>làm, tạo, chế tạo nên một vật gì đó</em></strong>. Tuy nhiên, <strong>MAKE </strong>có rất nhiều tầng nghĩa, công thức cũng như cách sử dụng khác nhau. Đồng thời, việc nắm rõ ý nghĩa và cách sử dụng động từ <strong>MAKE </strong>có thể giúp ích cho bạn rất nhiều trong giao tiếp cũng như học thuật đấy nhé!</span>
</p>
    <p style="text-align:justify"><span style="font-size:14px"><span
            style="color:#3498db"><strong>I.    Ý nghĩa</strong></span></span></p>
    <p style="text-align:justify"><span style="font-size:14px">Động từ <strong>Make </strong><em>/meɪk/</em> mang khá nhiều tầng nghĩa khác nhau, tùy thuộc vào ngữ cảnh cũng như sự kết hợp từ với những động từ hay danh từ khác nhau:</span>
    </p>
    <blockquote><p style="text-align:justify"><span style="font-size:14px"><strong>Make (noun)</strong>: Hình dáng, cấu tạo, kiểu</span>
    </p>
    </blockquote>
</div>
<div class="last-content">
    <p style="text-align:justify"> </p>
    <ul>
        <li style="text-align:justify"><em><strong><span style="font-size:14px">There are so many different makes to choose from. </span></strong><span
                style="font-size:14px">(Có rất nhiều mẫu mã khác nhau để chọn lựa.)</span></em></li>
        <li style="text-align:justify"><em><strong><span style="font-size:14px">We need to know the make, model and year of your car. </span></strong><span
                style="font-size:14px">(Chúng ta cần biết kiểu dáng, mẫu mã cũng như niên đại của ô tô.)</span></em>
        </li>
    </ul>
    <blockquote><p style="text-align:justify"><span style="font-size:14px"><strong>Make (verb)</strong>: làm, gây, bổ nhiệm, sai khiến</span>
    </p></blockquote>
    <p> </p>
    <p style="text-align:justify"> </p>
    <ul>
        <li style="text-align:justify"><strong><em><span
                style="font-size:14px">She makes her own clothes.</span></em></strong><em><span style="font-size:14px"> (Cô ấy tự may quần áo cho riêng mình.)</span></em>
        </li>
        <li style="text-align:justify"><strong><em><span style="font-size:14px">She made coffee for us all. </span></em></strong><em><span
                style="font-size:14px">(Cô ấy đã pha cà phê cho tất cả chúng tôi.)</span></em></li>
        <li style="text-align:justify"><strong><em><span style="font-size:14px">My lawyer has been urging me to make a will. </span></em></strong><em><span
                style="font-size:14px">(Luật sư của tôi đã thúc giục tôi lập di chúc.)</span></em></li>
    </ul>
    <p style="text-align:justify"> </p>
    <ul>
        <li style="text-align:justify"><strong><em><span style="font-size:14px">The stone made a dent in the roof of the car. </span></em></strong><em><span
                style="font-size:14px">(Đá tạo vết lõm trên mui ô tô.)</span></em></li>
        <li style="text-align:justify"><strong><em><span style="font-size:14px">The holes in the cloth were made by moths. </span></em></strong><em><span
                style="font-size:14px">(Các lỗ trên tấm vải được tạo ra bởi những con bướm đêm.)</span></em></li>
    </ul>
    <p style="text-align:justify"> </p>
    <ul>
        <li style="text-align:justify"><strong><em><span
                style="font-size:14px">They made me repeat the whole story. </span></em></strong><em><span
                style="font-size:14px">(Họ bắt tôi lặp lại toàn bộ câu chuyện.)</span></em></li>
        <li style="text-align:justify"><strong><em><span style="font-size:14px">He never cleans his room and his mother never tries to make him. </span></em></strong><em><span
                style="font-size:14px">(Cậu ấy chưa bao giờ dọn dẹp phòng mình và mẹ cậu cũng chưa bao giờ ép cậu làm.)</span></em>
        </li>
    </ul>
    <p style="text-align:justify"> </p>
    <ul>
        <li style="text-align:justify"><strong><em><span style="font-size:14px">She made him her assistant. </span></em></strong><em><span
                style="font-size:14px">(Cô ấy đã chỉ định anh làm trợ lý cho mình.)</span></em></li>
    </ul>
    <p style="text-align:justify"> </p>
    <ul>
        <li style="text-align:justify"><strong><em><span style="font-size:14px">She would have made an excellent teacher. </span></em></strong><em><span
                style="font-size:14px">(Cô ấy sẽ trở thành một giáo viên xuất sắc.)</span></em></li>
        <li style="text-align:justify"><strong><em><span
                style="font-size:14px">This room would make a nice office. </span></em></strong><em><span
                style="font-size:14px">(Căn phòng này sẽ trở thành một văn phòng đẹp.)</span></em></li>
    </ul>
    <p style="text-align:justify"> </p>
    <ul>
        <li style="text-align:justify"><strong><em><span
                style="font-size:14px">We just managed to make the deadline. </span></em></strong><em><span
                style="font-size:14px">(Chúng tôi chỉ cố gắng thực hiện đúng thời hạn.)</span></em></li>
        <li style="text-align:justify"><strong><em><span style="font-size:14px">I'm sorry I couldn't make your party last night. </span></em></strong><em><span
                style="font-size:14px">(Mình xin lỗi vì đêm qua không đến được bữa tiệc sinh nhật của cậu.)</span></em>
        </li>
    </ul>
    <p style="text-align:justify"><span style="color:#3498db"><strong><span
            style="font-size:14px">II.    Cấu trúc</span></strong></span></p>
    <p style="text-align:justify"><span style="font-size:14px">Cấu trúc động từ với <strong>MAKE </strong>có thể được sử dụng với nhiều ý nghĩa cũng như công thức khác nhau.</span>
    </p>
    <blockquote><p style="text-align:justify"><span style="font-size:14px">     <strong>1.    Tân ngữ</strong></span>
    </p></blockquote>
    <p style="text-align:justify"><span style="font-size:14px">Ta sử dụng cấu trúc trên để nói về hành động chế tạo hay làm nên một vật dụng nào đó (dành cho ai đó).</span>
    </p>
    <div class="dv_spectial_content"
         style="background:#fff6e6; border:1px solid #f6bd00; padding:15px; text-align:center"><strong><span
            style="font-size:14px">Make + object</span></strong></div>
    <p style="text-align:justify"> </p>
    <ul>
        <li style="text-align:justify"><strong><em><span
                style="font-size:14px">She made some coffee. </span></em></strong><em><span style="font-size:14px">(Cô ấy đã pha một ít cà phê.)</span></em>
        </li>
        <li style="text-align:justify"><strong><em><span style="font-size:14px">Did you really make this table? </span></em></strong><em><span
                style="font-size:14px">(Con đã thật sự dọn bàn này sao?)</span></em></li>
    </ul>
    <p style="text-align:justify"><strong><span style="font-size:14px">Ngoài ra, còn có rất nhiều cách diễn đạt khác nhau sử dụng công thức và ý nghĩa trên:</span></strong>
    </p>
    <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
        <tbody>
        <tr>
            <td style="text-align:justify"><strong>make a claim</strong></td>
            <td style="text-align:justify"><strong>make a mess</strong></td>
            <td style="text-align:justify"><strong>make a speech</strong></td>
        </tr>
        <tr>
            <td style="text-align:justify"><strong>make a complaint</strong></td>
            <td style="text-align:justify"><strong>make a mistake</strong></td>
            <td style="text-align:justify"><strong>make a start</strong></td>
        </tr>
        <tr>
            <td style="text-align:justify"><strong>make a concession</strong></td>
            <td style="text-align:justify"><strong>make a note</strong></td>
            <td style="text-align:justify"><strong>make a statement</strong></td>
        </tr>
        <tr>
            <td style="text-align:justify"><strong>make a date</strong></td>
            <td style="text-align:justify"><strong>make a phone call</strong></td>
            <td style="text-align:justify"><strong>make a wish</strong></td>
        </tr>
        <tr>
            <td style="text-align:justify"><strong>make a difference</strong></td>
            <td style="text-align:justify"><strong>make a point</strong></td>
            <td style="text-align:justify"><strong>make an appointment</strong></td>
        </tr>
        <tr>
            <td style="text-align:justify"><strong>make a fuss</strong></td>
            <td style="text-align:justify"><strong>make a profit/ loss</strong></td>
            <td style="text-align:justify"><strong>make an effort</strong></td>
        </tr>
        <tr>
            <td style="text-align:justify"><strong>make a list</strong></td>
            <td style="text-align:justify"><strong>make a sound</strong></td>
            <td> </td>
        </tr>
        </tbody>
    </table>
    <p style="text-align:center"> </p>
    <div class="dv_spectial_content"
         style="background:#fff6e6; border:1px solid #f6bd00; padding:15px; text-align:center"><span
            style="font-size:14px"><strong>Make + Indirect Object (IO) + Direct Object (DO)</strong></span></div>
    <p> </p>
    <ul>
        <li><span style="font-size:14px"><strong><em>Can I make you a cup of tea or coffee? </em></strong><em>(Em pha cho anh một cốc trà hay cà phê nhé?)</em></span>
        </li>
        <li><span style="font-size:14px"><strong><em>The chef made him a special cake. </em></strong><em>(Đầu bếp đã làm anh ấy một chiếc bánh rất đặc biệt.)</em></span>
        </li>
    </ul>
    <div class="dv_spectial_content"
         style="background:#fff6e6; border:1px solid #f6bd00; padding:15px; text-align:center"><span
            style="font-size:14px"><strong>Make + Object (o) + Pepositional phrase (pp) with for</strong></span></div>
    <p> </p>
    <ul>
        <li><span style="font-size:14px"><em><strong>I’ve made an appointment for you at the dentist’s.</strong> (Anh đặt lịch hẹn nha sĩ cho em rồi.)</em></span>
        </li>
        <li><span style="font-size:14px"><em><strong>Can you make a sandwich for Lisa as well? </strong>(Mẹ cũng làm cho Lisa một cái bánh kẹp nữa được không?)</em></span>
        </li>
    </ul>
    <p><span style="font-size:14px"><span style="color:#e74c3c"><em>          *** Trong trường hợp này, ta không sử dụng giới từ <strong>TO </strong>thay cho <strong>FOR</strong>:</em></span></span>
    </p>
    <ul>
        <li><span style="font-size:14px"><strong><em>I made pasta for our guests. => <s>I made pasta to our guests.</s></em></strong></span>
        </li>
    </ul>
    <blockquote><p><span style="font-size:14px"><strong>2.    Động từ</strong></span></p></blockquote>
    <p><span style="font-size:14px">Ta sử dụng cấu trúc trên để nói về hành động sai khiến hay bắt buộc ai đó hay đối tượng nào đó thực hiện một hành động nào đó.</span>
    </p>
    <p><span style="font-size:14px">Trong câu chủ động, ta sử dụng cấu trúc <strong>make </strong>với động từ nguyên mẫu không <strong>–to</strong>:</span>
    </p>
    <div class="dv_spectial_content"
         style="background:#fff6e6; border:1px solid #f6bd00; padding:15px; text-align:center"><strong><span
            style="font-size:14px">S + Make + somebody + do something</span></strong></div>
    <p> </p>
    <ul>
        <li><strong><em><span style="font-size:14px">The boss made me work an extra day. </span></em></strong><em><span
                style="font-size:14px">(Sếp bắt tôi phải làm thêm giờ.)</span></em></li>
        <li><strong><em><span style="font-size:14px">He makes her do all the housework. </span></em></strong><em><span
                style="font-size:14px">(Ông ấy bắt cô làm tất cả việc nhà.)</span></em></li>
    </ul>
    <p><span style="font-size:14px">Trong câu bị động, ta sử dụng cấu trúc <strong>make </strong>với động từ nguyên mẫu có <strong>–to</strong>:</span>
    </p>
    <div class="dv_spectial_content"
         style="background:#fff6e6; border:1px solid #f6bd00; padding:15px; text-align:center"><span
            style="font-size:14px"><strong>S + be made + to do something</strong></span></div>
    <p> </p>
    <ul>
        <li><span style="font-size:14px"><strong><em>The people were made to wait outside while the committee reached its decision. </em></strong><em>(Mọi người phải đợi bên ngoài trong khi ủy ban đưa ra quyết định.)</em></span>
        </li>
    </ul>
    <p> </p>
    <blockquote><p><span style="font-size:14px"><strong>3.    Tính từ</strong></span></p></blockquote>
    <p><span style="font-size:14px">Ta sử dụng cấu trúc trên để nói về việc hành động hay sự kiện nào đó khiến/ làm cho ai đó trở nên như thế nào.</span>
    </p>
    <div class="dv_spectial_content"
         style="background:#fff6e6; border:1px solid #f6bd00; padding:15px; text-align:center"><strong><span
            style="font-size:14px">S + make + somebody/something + Adj</span></strong></div>
    <p> </p>
    <ul>
        <li><em><strong><span style="font-size:14px">Music makes me happy. </span></strong><span style="font-size:14px">(Âm nhạc khiến tôi hạnh phúc.)</span></em>
        </li>
        <li><em><strong><span style="font-size:14px">His gift makes me very happy. </span></strong><span
                style="font-size:14px">(Món quà của cô ấy làm tôi rất vui.)</span></em></li>
    </ul>
    <div class="dv_spectial_content"
         style="background:#fff6e6; border:1px solid #f6bd00; padding:15px; text-align:center"><strong><span
            style="font-size:14px">Make + object + adjective (or noun) complement + prepositional phrase with for</span></strong>
    </div>
    <p> </p>
    <ul>
        <li><strong><em><span style="font-size:14px">He made life difficult for me. </span></em></strong><em><span
                style="font-size:14px">(Anh ta khiến cuộc sống tôi rất khó khăn.)</span></em></li>
    </ul>
    <p> </p>
    <blockquote><p><strong><span style="font-size:14px">4.    Possible/ Impossible</span></strong></p></blockquote>
    <p><span style="font-size:14px">Ta sử dụng cấu trúc trên để nói về khả năng diễn ra một sự kiện hay hoạt động nào đó.</span>
    </p>
    <p><span
            style="font-size:14px">Ngoài ra, ở cấu trúc trên, bạn cũng có thể thay từ <strong>possible/ impossible</strong> bằng các từ khác như <strong>difficult, easy…</strong></span>
    </p>
    <div class="dv_spectial_content"
         style="background:#fff6e6; border:1px solid #f6bd00; padding:15px; text-align:center"><span
            style="font-size:14px"><strong>Make it possible/impossible (for sb) + to V</strong></span></div>
    <p> </p>
    <ul>
        <li><strong><em><span style="font-size:14px">Technology has made it possible to move many jobs away from high-cost locations. </span></em></strong><em><span
                style="font-size:14px">(Công nghệ đã khiến việc luân chuyển những công việc ra khỏi những khu vực có chi phí cao trở nên khả thi.)</span></em>
        </li>
    </ul>
    <div class="dv_spectial_content"
         style="background:#fff6e6; border:1px solid #f6bd00; padding:15px; text-align:center"><strong><span
            style="font-size:14px">Make possible/ impossible + N/ cụm N</span></strong></div>
    <p> </p>
    <ul>
        <li><strong><em><span style="font-size:14px">The Internet makes possible much faster communication.</span></em></strong><em><span
                style="font-size:14px"> (Internet giúp truyền thông nhanh hơn nhiều.)</span></em></li>
    </ul>
    <p><span style="color:#3498db"><strong><span style="font-size:14px">III.    Do hay Make</span></strong></span></p>
    <p><span style="font-size:14px">Chúng ta sử dụng <strong>DO </strong>và <strong>MAKE </strong>cùng <em>danh từ/ cụm danh từ</em>. <strong>DO </strong>nhấn mạnh quá trình hoạt động hay sự kiện diễn ra. <strong>MAKE </strong>nhấn mạnh hơn vào thành quả hay sản phẩm tạo ra sau quá trình trên.</span>
    </p>
    <ul>
        <li><strong><em><span style="font-size:14px">When I was <u>doing</u> the calculations, I <u>made</u> two mistakes.</span></em></strong>
        </li>
        <li><span style="font-size:14px"><strong><em>I <u>did</u> some work for her last summer, I <u>made</u> a pond in her garden.</em></strong></span>
        </li>
    </ul>
    <p><span style="font-size:14px">Các bạn thấy đấy, <strong>MAKE </strong>có thể mang một hay nhiều ý nghĩa tùy vào cấu trúc cũng như sự kết hợp từ cùng những yếu tố khác. Việc hiểu rõ và nắm bắt tất cả các tầng nghĩa và cấu trúc MAKE có thể mất khá nhiều thời gian, nhưng với bài viết này, cũng không quá khó để ghi nhớ đúng không nào?</span>
    </p>
    <p> </p></p>                                </div>