<meta charset="UTF-8">
<div class="first-content"><p style="text-align:justify"><strong><span style="color:#3498db"><span
        style="font-size:14px">I. DURING có ý nghĩa gì?</span></span></strong></p>
    <p style="text-align:justify"><span style="font-size:14px"><strong>During<em> </em></strong><em>/ˈdjʊərɪŋ/</em> là một trong những giới từ chính và được sử dụng thường xuyên nhất trong tiếng Anh. <strong>During </strong>mang ý nghĩa: <span
            style="color:#3498db"><em>trong thời gian, trong lúc, trong một khoảng thời gian.</em></span></span></p>
    <ul>
        <li style="text-align:justify"><strong><em><span style="font-size:14px">There are extra flights to Colorado during the winter. </span></em></strong><em><span
                style="font-size:14px">(Có thêm những chuyến bay khởi hành đến Colorado trong mùa đông.)</span></em>
        </li>
        <li style="text-align:justify"><strong><em><span style="font-size:14px">He was taken to the hospital during the night. </span></em></strong><em><span
                style="font-size:14px">(Ông ấy được đưa đến bệnh viên ngay trong đêm.)</span></em></li>
    </ul>
    <p style="text-align:justify"><span style="color:#3498db"><strong><span style="font-size:14px">II. DURING sử dụng như thế nào?</span></strong></span>
    </p></div>
<div class="last-content"><p style="text-align:justify"><strong><span style="font-size:14px">     1.    During được sử dụng trước danh từ và cụm danh từ để biểu đạt một sự kiện hay hoạt động nào đó diễn ra trong suốt một khoảng thời gian nhất định nào đó. </span></strong>
</p>
    <blockquote><p style="text-align:justify"><span
            style="font-size:14px"><strong>***</strong> Trong trường hợp này, <strong>During</strong> thể hiện ý nghĩa: toàn bộ từ gian sự kiện diễn ra.</span>
    </p></blockquote>
    <ul>
        <li style="text-align:justify"><strong><em><span style="font-size:14px">You are not allowed to use your mobile phone during class. </span></em></strong><em><span
                style="font-size:14px">(Em không được phép sử dụng điện thoại di động trong lớp => trong toàn bộ thời gian lớp học diễn ra.)</span></em>
        </li>
        <li style="text-align:justify"><strong><em><span style="font-size:14px">I have to have my window open during the night. </span></em></strong><em><span
                style="font-size:14px">(Tôi phải mở cửa sổ suốt cả đêm => trong toàn bộ thời gian một đêm.)</span></em>
        </li>
    </ul>
    <blockquote><p style="text-align:justify"><span
            style="font-size:14px"><strong>*** </strong>Trong trường hợp trên, <strong>During </strong>được sử dụng với ý nghĩa tương tự giới từ <strong>IN</strong>:</span>
    </p></blockquote>
    <ul>
        <li style="text-align:justify"><em><span style="font-size:14px"><strong>His grandfather fought in the army during/in the First World War.</strong> (Ông của anh ấy đã chiến đấu trong quân đội trong Thế Chiến thứ nhất.)</span></em>
        </li>
        <li style="text-align:justify"><em><span style="font-size:14px"><strong>When I was a kid, our cousins often came to stay with us during/in the summer.</strong> (Khi tôi còn bé, chị họ tôi thường đến sống cùng chúng tôi vào mùa hè.)</span></em>
        </li>
    </ul>
    <p style="text-align:justify"><span style="font-size:14px"><strong>     2.    During được sử dụng để diễn ra một sự kiện hay hành động nào đó xảy đến trong khi một sự kiện hay hành động chính khác đang diễn ra.</strong></span>
    </p>
    <blockquote><p style="text-align:justify"><span style="font-size:14px"><strong>***</strong> Trong trường hợp này, During mang ý nghĩa: mộtsố thời điểm cụ thể chưa xác định.<br/>  <strong>*** </strong>Trong trường hợp này, During được sử dụng thường xuyên và thông dụng hơn giới từ <strong>IN</strong>:</span>
    </p></blockquote>
    <ul>
        <li style="text-align:justify"><em><strong><span style="font-size:14px">What was that noise I heard during/ in the night, I wonder? </span></strong><span
                style="font-size:14px">(Không biết âm thanh tôi nghe được trong đêm là gì nhỉ?)</span></em></li>
        <li style="text-align:justify"><em><strong><span style="font-size:14px">One day, during/in the Second World War, her father just disappeared. </span></strong><span
                style="font-size:14px">(Vào một ngày nào đó ở Thế Chiến thứ Hai, bố của anh ấy đã biến mất.)</span></em>
        </li>
    </ul>
    <p style="text-align:justify"><span style="font-size:14px"><span style="color:#3498db"><strong>III.    DURING có công thức như thế nào?</strong></span></span>
    </p>
    <div class="dv_spectial_content"
         style="background:#fff6e6; border:1px solid #f6bd00; padding:15px; text-align:center"><strong><span
            style="font-size:14px">DURING + Noun/ Noun phrase</span></strong></div>
    <blockquote><p><span style="font-size:14px">Mệnh đề chứa giới từ During có thể đứng ở cuối câu hay đầu câu (được ngăn cách với mệnh đề chính bằng dấu phẩy.</span>
    </p></blockquote>
    <ul>
        <li><em><strong><span style="font-size:14px">Please remain seated during the performance. </span></strong><span
                style="font-size:14px">(Vui lòng ngồi tại chỗ trong suốt buổi biểu diễn.)</span></em></li>
        <li><em><strong><span style="font-size:14px">I only saw her once during my stay in Rome. </span></strong><span
                style="font-size:14px">(Tôi chỉ nhìn thấy cô ấy một lần khi ở Rome.)</span></em></li>
        <li><em><strong><span style="font-size:14px">During the exam, you’re not allowed to talk. </span></strong><span
                style="font-size:14px">(Bạn không được phép nói chuyện trong suốt buổi kiểm tra.)</span></em></li>
    </ul>
    <p style="text-align:justify"><span style="color:#3498db"><strong><span style="font-size:14px">IV.    Các lỗi thường gặp khi sử dụng DURING là gì?</span></strong></span>
    </p>
    <blockquote><p style="text-align:justify"><span
            style="font-size:14px">Ta không sử dụng giới từ <strong>DURING </strong>khi muốn đề cập đến một con số cụ thể hay độ dài quãng thời gian cụ thể. Trong trường hợp này, ta có thể sử dụng giới từ <strong>FOR</strong>.</span>
    </p></blockquote>
    <ul>
        <li style="text-align:justify"><strong><em><span style="font-size:14px">They lived in Edinburgh <u>for </u>four years. => <s>They lived in Edinburgh <u>during</u> four years.</s></span></em></strong>
        </li>
    </ul>
    <p> </p>
    <ul>
        <li><strong><em><span style="font-size:14px">During the first three years of the war, 50,000 civilians were killed. </span></em></strong><em><span
                style="font-size:14px">(Trong ba năm đầu của cuộc chiến, 50.000 thường dân đã thiệt mạng.)</span></em>
        </li>
        <li><strong><em><span
                style="font-size:14px">I haven’t done any exercise during the last week. </span></em></strong><em><span
                style="font-size:14px">(Tôi đã không thực hiện bất kỳ động tác thể dục nào trong tuần qua.)</span></em>
        </li>
    </ul>
    <blockquote><p style="text-align:justify"><span style="font-size:14px">Ta sử dụng giới từ <strong>DURING </strong>trước danh từ hay cụm danh từ, không sử dụng trước động từ.</span>
    </p></blockquote>
    <ul>
        <li style="text-align:justify"><strong><em><span style="font-size:14px"><u>While</u> I was waiting for the bus, I phoned some friends. => <s><u>During</u> I was waiting for the bus, I phoned some friends.</s></span></em></strong>
        </li>
    </ul>
    <p> </p>            </p>                                </div>