<meta charset="UTF-8">
<div class="first-content"><p style="text-align:center"><span style="color:#000000">Danh sách 20 cặp từ ghép trong tiếng Anh</span>
</p>
    <p style="text-align:center">
        <img alt="" src="file:///android_asset/images/cac-cap-tu-ghep.jpeg"/></p>
    <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
        <tbody>
        <tr>
            <td style="text-align:center"><strong>STT</strong></td>
            <td style="text-align:center"><strong>Danh sách từ ghép</strong></td>
        </tr>
        <tr>
            <td>1</td>
            <td><p>1. Say (V): Nói<br/> 2. Uncle (N): Chú, bác</p>
                <p><strong>>> Say uncle (idiom): Chấp nhận thua cuộc, chịu thua</strong></p>
                <p><em><strong>Ex</strong>: Two children were fighting on the playground. The girl grabbed the boy by
                    the hair. The girl told the boy that she wouldn’t let him go until he <strong><u>said
                        uncle</u></strong>. => Hai đứa trẻ đánh nhau trong khu vui chơi. Đứa bé gái túm lấy tóc đứa bé
                    trai và nói rằng con bé sẽ không buông cậu bé ra nếu cậu ta không chịu thua.)</em></p>
</div>
<div class="last-content">                                                </td>        </tr>
    <tr>
        <td>2</td>
        <td><p>1. Family (N): Gia đình<br/> 2. Way (N): Cách thức, phương pháp</p>
            <p><strong>>> In the family way (idiom): Mang thai</strong></p>
            <p><em><u><strong>Ex</strong></u>: I've heard that Mrs. Smith is <u><strong>in a family way</strong></u>.
                (Tôi nghe nói bà Smith đang mang thai.)</em></p></td>
    </tr>
    <tr>
        <td>3</td>
        <td><p>1. Bread (N): Bánh mì<br/> 2. Winner (N): Người chiến thắng</p>
            <p><strong>>> Breadwinner (N): Người trụ cột trong gia đình</strong></p>
            <p><strong><u><em>Ex</em></u></strong>: <em>When the baby was born, I became the sole
                <u><strong>breadwinner</strong></u>. (Khi đứa con chào đời, tôi trở thành trụ cột duy nhất trong gia
                đình.)</em></p></td>
    </tr>
    <tr>
        <td>4</td>
        <td><p>1. Bad (Adj): Xấu xa, tồi tệ<br/> 2. Egg (N): Quả trứng</p>
            <p><strong>>> A bad egg (N): Người xấu, kẻ bất hảo</strong></p>
            <p><em><u><strong>Ex</strong></u>: That man is <u><strong>a bad egg</strong></u> so you should try and avoid
                him if you can. (Người đàn ông đó là một kẻ xấu xa, nên cậu nên cố gắng tránh anh ta nhiều nhất có thể.)</em>
            </p></td>
    </tr>
    <tr>
        <td>5</td>
        <td><p>1. Book (N): Cuốn sách<br/> 2. Worm (N): Giun, sâu, trùng</p>
            <p><strong>>>Bookworm (N): Mọt sách</strong></p>
            <p><em><u><strong>Ex</strong></u>: At an early age the child began to read extensively and soon became a
                veritable <u><strong>bookworm</strong></u>. (Ngay từ khi còn nhỏ, đứa trẻ đã bắt đầu đọc nhiều và nhanh
                chóng trở thành một con mọt sách thực sự.)</em></p></td>
    </tr>
    <tr>
        <td>6</td>
        <td><p>1. Dog (N): Con chó<br/> 2. Day (N): Ngày</p>
            <p><strong>>>Dog days (N): Những ngày nắng nhất trong năm</strong></p>
            <p><em><u><strong>Ex</strong></u>: Are we going to meet before <u><strong>the dog days</strong></u>? (Chúng
                ta sẽ gặp nhau trước những ngày oi bức nhất của mùa hè chứ?)</em></p></td>
    </tr>
    <tr>
        <td>7</td>
        <td><p>1. Big (Adj): Lớn, to lớn<br/> 2. Fish (N): Con cá</p>
            <p><strong>>>  A big fish (N): Người quan trọng</strong></p>
            <p><em><u><strong>Ex</strong></u>: They are not <u><strong>big fish</strong></u> in the financial world; but
                they do an incredible amount of sound local community social work. (Họ không phải là những người quan
                trọng trong thế giới tài chính; nhưng họ thực hiện một lượng lớn công việc xã hội cộng đồng địa phương
                đáng kinh ngạc.)</em></p></td>
    </tr>
    <tr>
        <td>8</td>
        <td><p>1. Big (Adj): To lớn<br/> 2. Cheese (N): Phô mai</p>
            <p><strong>>> A big cheese (N): Ông lớn, người quan trọng nhất hoặc quyền lực nhất (trong một nhóm hoặc một
                tổ chức)</strong></p>
            <p><em><u><strong>Ex</strong></u>: He left business school and became <u><strong>a big cheese</strong></u>
                in the City. (Anh rời trường kinh doanh và trở thành một ông lớn ở Thành phố.)</em></p></td>
    </tr>
    <tr>
        <td>9</td>
        <td><p>1. Cold (Adj): Lạnh lùng, lạnh lẽo<br/> 2. Fish (N): Con cá</p>
            <p><strong>>> A cold fish (N): Người vô cảm</strong></p>
            <p><em><u><strong>Ex</strong></u>: Lewis was <u><strong>a cold fish</strong></u>. (Lewis là một người vô
                cảm.)</em></p></td>
    </tr>
    <tr>
        <td>10</td>
        <td><p>1. Top (Adj): Cao nhất, tối đa<br/> 2. Dog (N): Con chó</p>
            <p><strong>>> Top dog (N): Người có quyền lực nhất, sức ảnh hưởng lớn trong nhóm, tổ chức</strong></p>
            <p><em><u><strong>Ex</strong></u>: The team wanted to prove that they were <u><strong>top dogs</strong></u>
                in the region. (Nhóm nghiên cứu muốn chứng minh rằng chúng là những người dẫn đầu trong khu vực.)</em>
            </p></td>
    </tr>
    <tr>
        <td>11</td>
        <td><p>1. Plum (N): Quả mận<br/> 2. Job (N): Công việc, việc làm</p>
            <p><strong>>> A plum job (N): Một công việc nhẹ nhàng lương cao</strong></p>
            <p><em><u><strong>Ex</strong></u>: He got <u><strong>a plum job</strong></u> in an insurance company. (Ông
                ấy có được một công việc nhàn hạ, lương cao ở công ty bảo hiểm.)</em></p></td>
    </tr>
    <tr>
        <td>12</td>
        <td><p>1. Two (Num): Hai, số hai<br/> 2. Timer (N): người bấm giờ; thiết bị bấm giờ</p>
            <p><strong>>> Two-timer (N): Kẻ bắt cá hai tay</strong></p>
            <p><em>Ex: Thomas is a <u><strong>two-timer</strong></u> and has not separated from his wife. (Thomas là một
                kẻ bắt cá hai tay và vẫn chưa chia tay với vợ của mình.)</em></p></td>
    </tr>
    <tr>
        <td>13</td>
        <td><p>1. Throw (V): Ném, vứt, quăng<br/> 2. Shade (N): Bóng tối, bóng đêm</p>
            <p><strong>>> To throw shade (V): Mỉa mai, cà khịa</strong></p>
            <p><em><u><strong>Ex</strong></u>: I get annoyed when people <u><strong>throw shade </strong></u>on his
                recent work. (Tôi cảm thấy khó chịu khi mọi người mỉa mai về công việc gần đây của anh ấy.)</em></p>
        </td>
    </tr>
    <tr>
        <td>14</td>
        <td><p>1. Red (Adj): Đỏ, có màu đỏ<br/> 2. Hot (Adj): Nóng, nóng bỏng</p>
            <p><strong>>> Red-hot (Adj): nóng hổi, chóng mặt, bừng bừng</strong></p>
            <p>Ex: The news sent the company's <u><strong>red-hot</strong></u> stock surging upwards more than 21%. (Tin
                tức này đã khiến cổ phiếu của công ty tăng chóng mặt hơn 21%.)</p></td>
    </tr>
    <tr>
        <td>15</td>
        <td><p>1. Call (N): Tiếng gọi, cuội gọi<br/> 2. Nature (N): Thiên nhiên, tự nhiên</p>
            <p><strong>>> A call of nature (N): Đi vệ sinh</strong></p>
            <p><em><u><strong>Ex</strong></u>: Stop the car here! I have to answer <u><strong>the
                <strong><u>c</u></strong>all of nature</strong></u>. (Dừng xe lại đi! Mình phải đi vệ sinh.)</em></p>
        </td>
    </tr>
    <tr>
        <td>16</td>
        <td><p>1. Back (N): Cái lưng<br/> 2. Break (V): Làm gãy, làm hỏng</p>
            <p><strong>>> Back-breaking (Adj): Cực nhọc, mệt mỏi</strong></p>
            <p><em><u><strong>Ex</strong></u>: She realized with dismay that the task would take weeks of <u><strong>back-breaking</strong></u>
                work. (Cô thất vọng nhận ra rằng nhiệm vụ này sẽ khiến cô cực nhọc hàng tuần liền.)</em></p></td>
    </tr>
    <tr>
        <td>17</td>
        <td><p>1. Break (V): Làm gãy, làm hỏng<br/> 2. Leg (N): Cái chân</p>
            <p><strong>>> Break a leg! (Idiom): Chúc may mắn!</strong></p>
            <p><em><u><strong>Ex</strong></u>: Hey Tom, <strong><u>break a leg</u></strong> in your test today! (Này
                Tom, chúc cậu hôm nay làm bài kiểm tra tốt nhé!)</em></p></td>
    </tr>
    <tr>
        <td>18</td>
        <td><p>1. Gut (N): Ruột<br/> 2. Wrench (V): Vặn mạnh, giật mạnh</p>
            <p><strong>>> Gut-wrenching (Adj): Đau khổ, đau lòng</strong></p>
            <p><em><u><strong>Ex</strong></u>: The movie ends with a <u><strong>gut-wrenching</strong></u> scene where
                the friends part forever. (Bộ phim kết thúc với một cảnh tượng đau lòng khi những người bạn phải chia xa
                mãi mãi.)</em></p></td>
    </tr>
    <tr>
        <td>19</td>
        <td><p>1. Over (Adv): Ở trên<br/> 2. Moon (N): Mặt trăng</p>
            <p><strong>>> Over the moon (Adj): rất sung sướng, hạnh phúc.</strong></p>
            <p><em>Ex: They’re <u><strong>over the moon</strong></u> about their trip to Japan. (Họ đang rất háo hức về
                chuyến đi của họ đến Nhật Bản.)</em></p></td>
    </tr>
    <tr>
        <td>20</td>
        <td><p>1. Weather (V): Thay đổi (do tác động của thời tiết)s<br/> 2. Storm (N): Cơn bão</p>
            <p><strong>>> Weather the storm (Idiom): Vượt qua khó khăn</strong></p>
            <p><em>Ex: Will the ambassador be able to <u><strong>weather the storm</strong></u> caused by his remarks?
                (Liệu đại sứ có thể vượt qua khó khăn gây ra bởi những nhận xét của chính mình hay không?) </em></p>
        </td>
    </tr>
    </tbody>  </table>
</div>