<meta charset="UTF-8">
<div class="first-content"><p><strong><span style="color:#000000">I. Định nghĩa trạng từ</span></strong></p>
    <p><span style="color:#000000">Trạng từ dùng để chỉ tính chất/phụ nghĩa cho một từ loại khác trừ danh từ và đại danh từ.</span>
    </p>
    <p><span style="color:#000000"><strong>Trạng từ</strong> (hay còn gọi là phó từ) trong tiếng Anh gọi là <strong>adverb</strong>. Trạng từ là những từ dùng để bổ nghĩa cho động từ, tính từ, một trạng từ khác hay cho cả câu. Trạng từ thường đứng trước từ hay mệnh đề mà nó cần bổ nghĩa. Nhưng cũng tùy trường hợp câu nói mà ngưới ta có thể đặt nó đứng sau hay cuối câu.</span>
    </p>
    <p style="text-align:center"><span style="color:#000000">
        <img alt="" src="file:///android_asset/images/trat-tu-trang-tu-trong-tieng-anh.jpeg"/><br/>  <span
            class="content_image_note">Trạng từ trong tiếng Anh.</span></span></p>
    <p><span
            style="color:#000000"><strong><u>Ex</u>: <br/>  <em>     • The disease spreads <u>quickly</u>.</em></strong><em> (Dịch bệnh nhanh chóng lan rộng.)<br/>       • <strong>I couldn't sleep so I went <u>downstairs</u> and watched TV.</strong> (Tôi không ngủ được nên đi xuống lầu xem TV.)</em></span>
    </p></div>
<div class="last-content"><p><strong><span style="color:#000000">II. Phân loại trạng từ</span></strong></p>
    <p><span
            style="color:#000000">Trạng từ có thể được phân loại theo ý nghĩa hoặc theo vị trí của chúng trong câu. </span>
    </p>
    <p><strong><span style="color:#000000">1. Trạng từ chỉ cách thức (Manner)</span></strong></p>
    <p><span style="color:#000000">Trạng từ chỉ cách thức được sử dụng để diễn tả cách thức hay phương pháp thực hiện một hành động nào đó.</span>
    </p>
    <p><span style="color:#000000">Trạng từ chỉ cách thức được sử dụng để trả lời câu hỏi <strong>“How?”</strong></span>
    </p>
    <p><span style="color:#000000">Vị trí của trạng từ chỉ cách thức trong tiếng Anh thường đứng sau động từ hoặc đứng sau tân ngữ (nếu như có tân ngữ).</span>
    </p>
    <p><span style="color:#000000"><strong><u>Ex</u>:</strong><br/>  <em><strong>     • The kids all behaved <u>well</u>.</strong> (Tất cả những đứa trẻ đều rất ngoan.)<br/>  <strong>     •  I miss her <u>badly</u>.</strong> (Tôi thật sự rất nhớ cô ấy.)</em></span>
    </p>
    <p><strong><span style="color:#000000">2. Trạng từ chỉ thời gian (Time)</span></strong></p>
    <p><span style="color:#000000">Trạng từ chỉ thời gian được sử dụng để diễn tả thời gian thực hiện một hành động nào đó.</span>
    </p>
    <p><span
            style="color:#000000">Trạng từ chỉ thời gian được sử dụng để trả lời câu hỏi <strong>“When?”</strong></span>
    </p>
    <p><span style="color:#000000">Vị trí của trạng từ chỉ thời gian trong tiếng Anh thường đặt ở cuối câu (vị trí thông thường) hoặc vị trí đầu câu (vị trí nhấn mạnh)</span>
    </p>
    <p><span style="color:#000000"><strong><u>Ex</u>:</strong><br/>  <em><strong>     • Where are you living <u>now</u>? </strong>(Hiện giờ bạn đang sống ở đâu?)<br/>  <strong>     • They arrived <u>yesterday</u>. </strong>(Họ đã đến nơi từ hôm qua.)</em></span>
    </p>
    <p><strong><span style="color:#000000">3. Trạng từ chỉ tần suất (Frequency)</span></strong></p>
    <p><span style="color:#000000">Trạng từ chỉ tần suất được sử dụng để diễn tả mức độ thường xuyên của một hành động (thỉng thoảng, thường thường, luôn luôn, ít khi ..). </span>
    </p>
    <p><span
            style="color:#000000">Trạng từ chỉ tần suất được sử dụng để trả lời câu hỏi “<strong>How often?</strong>”</span>
    </p>
    <p><span style="color:#000000">Vị trí của trạng từ chỉ tần suất trong tiếng Anh thường được đặt sau động từ "to be" hoặc trước động  từ chính</span>
    </p>
    <p><span style="color:#000000"><strong><u>Ex</u>:</strong><br/>  <em>   <strong>  • The children <u>always</u> seem to be hungry.</strong> (Bọn trẻ lúc nào cũng có vẻ đói bụng.)<br/>      <strong> • They <u>seldom</u> watch television these days.</strong> (Ngày nay học rất hiếm khi xem TV.)</em></span>
    </p>
    <p><strong><span style="color:#000000">4. Trạng từ chỉ nơi chốn (Place)</span></strong></p>
    <p><span style="color:#000000">Trạng từ chỉ nơi chốn được sử dụng để diễn tả nơi chốn hay địa điểm thực hiện một hành động nào đó.</span>
    </p>
    <p><span
            style="color:#000000">Trạng từ chỉ nơi chốn được sử dụng để trả lời câu hỏi<strong> “Where?”</strong></span>
    </p>
    <p><span style="color:#000000">Vị trí của trạng từ chỉ nơi chốn trong tiếng Anh thường đặt ở cuối câu (vị trí thông thường) hoặc vị trí đầu câu (vị trí nhấn mạnh) hay cả giữa câu.</span>
    </p>
    <p><span style="color:#000000"><u><strong>Ex</strong></u>:<br/>  <em>  <strong>   • The young child rode a bike <u>right</u> into the house. </strong>(Đứa trẻ đạp xe đạp vào bên trong ngôi nhà.)<br/>      <strong> • I read <u>somewhere</u> that she refuses to do interviews.</strong> (Tôi đọc được ở đâu đó rằng cô ấy từ chối phỏng vấn.)</em></span>
    </p>
    <p><strong><span style="color:#000000">5. Trạng từ chỉ mức độ (Grade)</span></strong></p>
    <p><span
            style="color:#000000">Trạng từ chỉ mức độ được sử dụng để diễn tả mức độ (khá, nhiều, ít, quá..)<strong> </strong>của một tính chất hoặc đặc tính.</span>
    </p>
    <p><span
            style="color:#000000">Các trạng từ chỉ mức độ thường đứng trước động từ, tính từ, trạng từ mà nó bổ nghĩa.</span>
    </p>
    <p><span style="color:#000000"><strong><u>Ex</u>:</strong><br/>  <em>    <strong> • My sister is <u>very</u> beautiful. </strong>(Chị gái tôi rất xinh đẹp.)<br/>  <strong>     • Is her tea cup hot <u>enough</u>? </strong>(Ly trà của cô ấy có đủ nóng không?)</em></span>
    </p>
    <p><strong><span style="color:#000000">6. Trạng từ chỉ số lượng (Quantity)</span></strong></p>
    <p><span
            style="color:#000000">Trạng từ chỉ số lượng được sử dụng để diễn tả số lượng của sự vật hay sự việc nào đó.</span>
    </p>
    <p><span
            style="color:#000000">Trạng từ chỉ số lượng được sử dụng để trả lời câu hỏi <strong>“How many?”</strong></span>
    </p>
    <p><span style="color:#000000"><strong><u>Ex</u></strong>:<br/>  <em>    <strong> • He managed to score <u>twice</u> in the match.</strong> (Anh ấy đã ghi được hai bàn trong trận đấu.)<br/>   <strong>    • I've only been there <u>once</u>.</strong> (Tôi chỉ mới đến đó một lần.)</em></span>
    </p>
    <p><strong><span style="color:#000000">7. Trạng từ nghi vấn (Questions)</span></strong></p>
    <p><span style="color:#000000">Trạng từ nghi vấn là những trạng từ đứng đầu câu dùng để hỏi, gồm: <strong>When, where, why, how, …</strong></span>
    </p>
    <p><span style="color:#000000"><strong><u>Ex</u></strong>:<br/>  <em>    <strong> • <u>When</u> did you last see him?</strong> (Lần cuối cùng bạn nhìn thấy anh ấy là khi nào?)<br/>    <strong>   • <u>How</u> are you feeling now?</strong> (Bây giờ bạn cảm thấy như thế nào?)</em></span>
    </p>
    <p><strong><span style="color:#000000">8. Trạng từ liên hệ (Relation)</span></strong></p>
    <p><span style="color:#000000">Trạng từ liên là những trạng từ dùng để nối hai mệnh đề với nhau. Chúng có thể diễn tả <strong>địa điểm (where), thời gian (when) </strong>hoặc <strong>nguyên do (why)</strong>.</span>
    </p>
    <p><span style="color:#000000"><u><strong>Ex</strong></u>:<br/>  <em>  <strong>   • I remember the day <u>when</u> I met her on the beach. </strong>(Tôi nhớ như in ngày tôi gặp cô ấy trên bãi biển.)<br/>  <strong>     • This is the room <u>where</u> I was born. </strong>(Đây chính là căn phòng nơi tôi sinh ra.)</em></span>
    </p>
    <p><strong><span style="color:#000000">III. Vị trí trạng từ</span></strong></p>
    <p><span style="color:#000000">Trạng từ thường đứng trước từ hay mệnh đề mà nó cần bổ nghĩa. Nhưng cũng tùy trường hợp câu nói mà ngưới ta có thể đặt nó đứng sau hay cuối câu.</span>
    </p>
    <p><span style="color:#000000">Trạng từ trong tiếng Anh có 3 vị trí cơ bản như sau đây:</span></p>
    <p><span style="color:#000000"><strong>1. Front position- Đầu câu</strong><br/>  Các trạng từ nối hay trạng từ liên kết được sử dụng để nối một câu hay mệnh đề với câu hay mệnh đề đã được đề cập trước đó. Những trạng từ dạng này thường được đặt ở đầu câu.</span>
    </p>
    <p><span style="color:#000000"><strong><u>Ex</u>: </strong><br/>  <em> <strong>    • <u>Unfortunately</u>, we could not see the sun set on the beach.</strong> ( Thật không may, chúng ta đã không thể ngắm hoàng hôn trên biển).<br/>     <strong>  • <u>Personally</u>, I think she was practicing very hard. </strong>(Theo tôi, tôi nghĩ cô ấy đã luyện tập rất chăm chỉ.)</em></span>
    </p>
    <p><strong><span style="color:#000000">2. Mid position- Giữa câu</span></strong></p>
    <p><span style="color:#000000"><strong><u>Ex</u>:</strong> <br/>  <em>    <strong> • The issues are <u>very</u> complicated.</strong> ( Vấn đề này rất phức tạp)<br/>      <strong> • Diet and exercise are <u>obviously</u> important.</strong> (Chế độ ăn uống và luyện tập thật sự rất quan trọng.)</em></span>
    </p>
    <p><strong><span style="color:#000000">3. End position- Cuối câu</span></strong></p>
    <p><span style="color:#000000"><strong><u>Ex</u>: </strong><br/>  <em>  <strong>   • It’s heavy rain. We couldn’t see anything <u>outside</u>.</strong> (Trời mưa rất to, chúng tôi không thể nhìn thấy gì ngoài đó).<br/>       <strong>• I am busy <u>now</u>. </strong>(Bây giờ tôi đang bận.)</em></span>
    </p>
    <p><span style="color:#000000"><strong>IV. Trật tự trạng từ</strong></span></p>
    <p><span style="color:#000000">     A. Khi trong câu có nhiều hơn một trạng từ bổ nghĩa cho động từ, chúng sẽ được sắp xếp theo trật tự sau:</span>
    </p>
    <div class="dv_spectial_content"
         style="background:#fff6e6; border:1px solid #f6bd00; padding:15px; text-align:center"><strong><span
            style="color:#000000">Adverb of manner →  Adverb of place →  Adverb of frequency →  Adverb of time →  Adverb of purpose/reason</span></strong><br/>
        <span style="color:#000000">Trạng từ chỉ cách thức →  Trạng từ chỉ nơi chốn →  Trạng từ chỉ tần suất →  Trạng từ chỉ thời gian →  Trạng từ chỉ mục đích/lí do</span>
    </div>
    <p><em><span
            style="color:#000000">          • I have to run quickly <strong>(manner)</strong> down the street <strong>(place) </strong>each morning <strong>(frequency)</strong> after breakfast <strong>(time)</strong> in order to catch my bus to school <strong>(purpose)</strong>.</span></em><br/>
        <span style="color:#000000"><em>          =>  Tôi phải chạy thật nhanh <strong>(cách thức)</strong> xuống phố <strong>(nơi chốn)</strong> vào mỗi buổi sáng <strong>(mức độ)</strong> sau bữa ăn sáng <strong>(thời gian) </strong>để kịp bắt chuyến xe buýt đến trường <strong>(mục đích)</strong>.</em></span>
    </p>
    <p><span style="color:#000000">Nếu thay đổi trật tự trạng từ của câu trên, ta sẽ khiến ý nghĩa câu trên thay đổi, hay ít nhất khiến ý nghĩa gốc của câu trên trở nên không hoàn chỉnh. <br/>  <em>          • I have to run each morning <strong>(frequency)</strong> quickly <strong>(manner)</strong> after breakfast <strong>(time)</strong> in order to catch my bus to school <strong>(purpose) </strong>down the street <strong>(place)</strong>.</em></span><br/>
        <em><span
                style="color:#000000">          => Tôi phải chạy mỗi buổi sáng <strong>(mức độ)</strong> thật nhanh <strong>(cách thức)</strong> sau bữa sáng <strong>(thời gian)</strong> để bắt chuyến xe buýt đến trường <strong>(mục đích)</strong> dưới phố <strong>(nơi chốn)</strong>.</span></em>
    </p>
    <p><span style="color:#000000">     B. Thông thường, chúng ta đặt những trạng từ ngắn trước những trạng từ dài dù nó thuộc nhóm trạng từ nào.<br/>  <em>          • I lived with my parents <strong>(place)</strong> to save money <strong>(purpose)</strong> while I was working on my doctorate <strong>(time)</strong>.<br/>            • He dances every night <strong>(frequency)</strong> in the most extraordinary way <strong>(manner)</strong>.</em></span>
    </p>
    <p><span style="color:#000000">     C. Khi sử dụng những trạng từ cùng loại để bổ sung nghĩa cho một động từ, ta sắp xếp chúng theo thứ tự theo mức độ cụ thể của thông tin đưa ra. Nói cách khác, những trạng từ càng cụ thể sẽ được đặt đầu tiên.</span>
    </p>
    <p><span style="color:#000000"><em>          • On my father’s ranch <strong>(place)</strong>, I often <strong>(frequency)</strong> helped gather the animals at the end of the day <strong>(specific time)</strong> when I was younger <strong>(non-specific time)</strong>.</em><br/>            => Trong câu trên, ta thấy trạng từ chỉ thời gian “at the end of the day” cụ thể hơn “when I was younger” nên được đặt trước.</span>
    </p>
    <p><span style="color:#000000"><em>          •  I lived at home <strong>(more specific place)</strong> with my parents <strong>(less specific place)</strong> to save money <strong>(purpose)</strong> while I was working on my doctorate <strong>(time)</strong>.</em><br/>            => Trong câu trên, ta thấy “<strong>home</strong>” cụ thể hơn trạng từ “<strong>with my parents</strong>” nên được đặt ở vị trí trước trạng từ cùng loại.</span>
    </p>
    <p><span style="color:#000000"><strong>V. Lưu ý</strong></span></p>
    <p><span style="color:#000000">Trạng từ chỉ mục đích có thể được đặt ở đầu câu mà không làm thay đổi ý nghĩa của câu, thay vào đó, nó giúp nhấn mạnh mục đích của toàn bộ câu văn.<br/>  <em>     • In order to catch my bus to school <strong>(purpose)</strong>, I have to run quickly <strong>(manner)</strong> down the street <strong>(place)</strong> each morning <strong>(frequency) </strong>after breakfast <strong>(time)</strong>.</em></span>
    </p>
    <p><span style="color:#000000">Đồng thời, ta có thể đưa trạng từ chỉ tần suất lên đầu câu và ngăn cách với toàn câu bằng dấu phẩy.<br/>  <em>     • Each morning <strong>(frequency)</strong>, I have to run quickly<strong> (manner) </strong>down the street <strong>(place) </strong>after breakfast <strong>(time) </strong>in order to catch my bus to school <strong>(purpose)</strong>.</em></span>
    </p>
    <p><span style="color:#000000">Ta cũng có thể thực hiện tương tự với trạng từ chỉ thời gian. Nhưng trong trường hợp này, trạng thời chỉ thời gian được đưa ra đầu câu với trạng từ chỉ tần suất.<br/>  <em>     • Each morning<strong> (frequency)</strong> after breakfast <strong>(time)</strong>, I have to run quickly<strong> (manner) </strong>down the street <strong>(place) </strong>in order to catch my bus to school <strong>(purpose)</strong>.    </em></span>
    </p>
    <p><span style="color:#000000">Trạng từ chỉ cách thức và tần suất đôi khi được đặt ở đầu câu, nhưng cần chú ý về ý nghĩa của toàn bộ câu để sắp xếp trạng từ một cách thích hợp.<br/>  <em>     • On my father’s ranch <strong>(place)</strong>, I often <strong>(frequency)</strong> helped gather the animals at the end of the day <strong>(time)</strong>.<br/>       • Impatiently <strong>(manner)</strong>, I waited by the bank <strong>(place) </strong>for my father to arrive <strong>(purpose)</strong>.</em></span>
    </p>                </p>                                </div>