<meta charset="UTF-8">
<div class="item-active" id="item-1">
    <div class="item-title-active">
        <div class="item-title-active-content">I. ĐỊNH NGHĨA
        </div>

    </div>
    <div class="item-active-content">
        <p style="text-align:justify"><span><span style="color:#000000"><span
                style="font-size:16px"><strong>Thì quá khứ đơn</strong>&nbsp;(Simple past) dùng để diễn tả hành động sự vật xác định trong quá khứ hoặc vừa mới kết thúc.</span></span></span>
        </p>
    </div>
</div>
<div class="item-active" id="item-2">
    <div class="item-title-active">
        <div class="item-title-active-content">II. CẤU TRÚC
        </div>

    </div>
    <div class="item-active-content">
        <p style="text-align:justify"><span style="color:#ffa500"><strong><span
        ><span style="font-size:16px">1.&nbsp;THÌ QUÁ KHỨ ĐƠN VỚI ĐỘNG TỪ “TO BE”</span></span></strong></span>
        </p>

        <p style="text-align:justify"><span><span style="color:#000000"><span
                style="font-size:16px">Động từ “to be” ở thì quá khứ đơn có hai dạng là “was” và “were”.</span></span></span>
        </p>

        <p style="text-align:justify"><span style="color:#66cc00"><strong><span
        ><span
                style="font-size:16px">A. Khẳng định:</span></span></strong></span></p>

        <p style="text-align:justify"><strong><span><span
                style="color:#000000"><span style="font-size:16px">- Cấu trúc:</span></span></span></strong></p>

        <p style="text-align:center"><span style="font-size:20px"><strong><span
        ><span style="color:#000000">S + was/ were</span></span></strong></span>
        </p>

        <p style="text-align:justify"><span><span style="color:#000000"><span
                style="font-size:16px"><strong>- Trong đó:&nbsp;</strong></span></span></span></p>

            <p style="text-align:justify"><em><span><span style="color:#000000"><span
                    style="font-size:16px">&nbsp;&nbsp;+ S (subject): chủ ngữ</span></span></span></em></p>

        <p style="text-align:justify"><strong><span><span
                style="color:#000000"><span style="font-size:16px">- Lưu ý</span></span></span></strong></p>

            <p style="text-align:justify"><em><span><span style="color:#000000"><span
                    style="font-size:16px">&nbsp;&nbsp;+ S = I/ He/ She/ It (số ít) + was</span></span></span></em></p>
            <p style="text-align:justify"><em><span><span style="color:#000000"><span
                    style="font-size:16px">&nbsp;&nbsp;+ S = We/ You/ They (số nhiều) + were</span></span></span></em></p>

        <p style="text-align:justify"><span><span style="color:#000000"><span
                style="font-size:16px">- Eg:</span></span></span></p>

            <p style="text-align:justify"><em><span><span style="color:#000000"><span
                    style="font-size:16px">&nbsp;&nbsp;+ I&nbsp;<u><strong>was</strong></u>&nbsp;at my friend’s house yesterday morning. </span></span><span
                    style="color:#008000"><span
                    style="font-size:16px">(Tôi đã ở nhà bạn tôi sang hôm qua.)</span></span></span></em>
            </p>
            <p style="text-align:justify"><em><span><span style="color:#000000"><span
                    style="font-size:16px">&nbsp;&nbsp;+ They&nbsp;<u><strong>were</strong></u>&nbsp;in Bangkok on their summer holiday last year. </span></span><span
                    style="color:#008000"><span
                    style="font-size:16px">(Họ ở Băng Cốc vào kỳ nghỉ hè năm ngoái.)</span></span></span></em></p>

        <p style="text-align:justify"><span style="color:#66cc00"><span><span
                style="font-size:16px"><strong>B. Phủ định:</strong></span></span></span></p>

        <p style="text-align:justify"><strong><span><span
                style="color:#000000"><span style="font-size:16px">- Cấu trúc:</span></span></span></strong></p>

        <p style="text-align:center"><strong><span style="font-size:20px"><span
        ><span
                style="color:#000000">S + was/were + not</span></span></span></strong></p>

        <p style="text-align:justify"><span><span style="color:#000000"><span
                style="font-size:16px">=&gt; Đối với câu phủ định ta chỉ cần thêm “not” vào sau động từ “to be”.</span></span></span>
        </p>

        <p style="text-align:justify"><strong><span><span
                style="color:#000000"><span style="font-size:16px">- Lưu ý:</span></span></span></strong></p>

            <p style="text-align:justify"><em><span><span style="color:#000000"><span
                    style="font-size:16px">&nbsp;&nbsp;+ was not = wasn’t</span></span></span></em></p>
            <p style="text-align:justify"><em><span><span style="color:#000000"><span
                    style="font-size:16px">&nbsp;&nbsp;+ were not = weren’t</span></span></span></em></p>

        <p style="text-align:justify"><span><span style="color:#000000"><span
                style="font-size:16px">- Eg:</span></span></span></p>

            <p style="text-align:justify"><em><span><span style="color:#000000"><span
                    style="font-size:16px">&nbsp;&nbsp;+ He&nbsp;<u><strong>wasn’t</strong></u>&nbsp;very happy last night because of having lost money. </span></span><br>
	<span style="color:#008000"><span style="font-size:16px">(Tối qua anh ấy không vui vì mất tiền)</span></span></span></em>
            </p>
            <p style="text-align:justify"><em><span><span style="color:#000000"><span
                    style="font-size:16px">&nbsp;&nbsp;+ We&nbsp;<u><strong>weren’t</strong></u>&nbsp;at home yesterday. </span></span><span
                    style="color:#008000"><span
                    style="font-size:16px">(Hôm qua chúng tôi không ở nhà.)</span></span></span></em></p>

        <p style="text-align:justify"><span style="color:#66cc00"><span><span
                style="font-size:16px"><strong>C. Câu hỏi:</strong></span></span></span></p>

        <p style="text-align:justify"><strong><span><span
                style="color:#000000"><span style="font-size:16px">- Cấu trúc:</span></span></span></strong></p>

        <p style="text-align:center"><strong><span style="font-size:20px"><span
        ><span
                style="color:#000000">Were/ Was + S &nbsp;?</span></span></span></strong></p>

        <p style="text-align:justify"><strong><span><span
                style="color:#000000"><span style="font-size:16px">- Trả lời:&nbsp;</span></span></span></strong></p>

        <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
            <tbody>
            <tr>
                <td style="text-align:center"><span
                        style="color:#000000; font-family:arial,helvetica,sans-serif; font-size:16px">Yes, I/ he/ she/ it + was</span>
                </td>
                <td style="text-align:center"><span
                        style="color:#000000; font-family:arial,helvetica,sans-serif; font-size:16px">No, I/ he/ she/ it + wasn’t</span>
                </td>
            </tr>
            <tr>
                <td style="text-align:center"><span
                        style="color:#000000; font-family:arial,helvetica,sans-serif; font-size:16px">Yes, we/ you/ they + were</span>
                </td>
                <td style="text-align:center"><span
                        style="color:#000000; font-family:arial,helvetica,sans-serif; font-size:16px">No, we/ you/ they + weren’t</span>
                </td>
            </tr>
            </tbody>
        </table>

        <p style="text-align:justify"><span><span style="color:#000000"><span
                style="font-size:16px">=&gt; Câu hỏi ta chỉ cần đảo động từ “to be” lên trước chủ ngữ.</span></span></span>
        </p>

        <p style="text-align:justify"><span><span style="color:#000000"><span
                style="font-size:16px">- Eg:</span></span></span></p>

            <p style="text-align:justify"><em><span><span style="color:#000000"><span
                    style="font-size:16px">&nbsp;&nbsp;+ <u><strong>Was</strong></u>&nbsp;she tired of hearing her customer’s complaint yesterday? </span></span><br>
	<span style="color:#008000"><span style="font-size:16px">(Cô ấy có bị mệt vì nghe khách hàng phàn nàn ngày hôm qua không?)</span></span></span><br>
                <span style="color:#000000; font-family:arial,helvetica,sans-serif; font-size:16px">Yes, she was./ No, she wasn’t.&nbsp;</span></em>
            </p>
            <p style="text-align:justify"><em><span><span style="color:#000000"><span
                    style="font-size:16px">&nbsp;&nbsp;+ <u><strong>Were</strong></u>&nbsp;they at work yesterday? </span></span><span
                    style="color:#008000"><span
                    style="font-size:16px">(Hôm qua họ có làm việc không?)</span></span></span><br>
                <span style="color:#000000; font-family:arial,helvetica,sans-serif; font-size:16px">Yes, they were./ No, they weren’t.&nbsp;</span></em>
            </p>

        <p style="text-align:justify"><span style="color:#ffa500"><strong><span
        ><span style="font-size:16px">2. CÔNG THỨC THÌ QUÁ KHỨ ĐƠN VỚI ĐỘNG TỪ THƯỜNG</span></span></strong></span>
        </p>

        <p style="text-align:justify"><span style="color:#66cc00"><span><span
                style="font-size:16px"><strong>A. Khẳng định:</strong></span></span></span></p>

        <p style="text-align:justify"><strong><span><span
                style="color:#000000"><span style="font-size:16px">- Cấu trúc:</span></span></span></strong></p>

        <p style="text-align:center"><strong><span style="color:#000000"><span
                style="font-size:20px">S + V-ed</span></span></strong></p>

        <p style="text-align:justify"><span><span style="color:#000000"><span
                style="font-size:16px"><strong>- Trong đó: &nbsp;&nbsp;</strong>&nbsp; &nbsp;&nbsp;</span></span></span>
        </p>

            <p style="text-align:justify"><span style="color:#000000"><span
            ><span
                    style="font-size:16px"><em>&nbsp;&nbsp;+ S: Chủ ngữ</em></span></span></span></p>
            <p style="text-align:justify"><span style="color:#000000"><span
            ><span style="font-size:16px"><em>&nbsp;&nbsp;+ V-ed: Động từ chia thì quá khứ đơn (theo qui tắc hoặc bất qui tắc)</em></span></span></span>
            </p>

        <p style="text-align:justify"><span><span style="color:#000000"><span
                style="font-size:16px">- Eg:</span></span></span></p>

            <p style="text-align:justify"><em><span><span style="color:#000000"><span
                    style="font-size:16px">&nbsp;&nbsp;+ We&nbsp;<u><strong>studied</strong></u>&nbsp;English last night. </span></span><span
                    style="color:#008000"><span
                    style="font-size:16px">(Tối qua chúng tôi đã học tiếng Anh.)</span></span></span></em></p>
            <p style="text-align:justify"><em><span><span style="color:#000000"><span
                    style="font-size:16px">&nbsp;&nbsp;+ She&nbsp;<u><strong>met</strong></u>&nbsp;his old friend near his house yesterday. </span></span><span
                    style="color:#008000"><span style="font-size:16px">(Cô ấy đã gặp người bạn cũ của mình ngay gần nhà ngày hôm qua.)</span></span></span></em>
            </p>

        <p style="text-align:justify"><span style="color:#66cc00"><span><span
                style="font-size:16px"><strong>B. Phủ định:</strong></span></span></span></p>

        <p style="text-align:justify"><strong><span><span
                style="color:#000000"><span style="font-size:16px">- Cấu trúc</span></span></span></strong></p>

        <p style="text-align:center"><span style="font-size:20px"><strong><span
        ><span
                style="color:#000000">S + did not + V (nguyên mẫu)</span></span></strong></span></p>

        <p style="text-align:justify"><span><span style="color:#000000"><span
                style="font-size:16px">=&gt; Trong thì quá khứ đơn câu phủ định ta mượn trợ động từ “did + not” (viết tắt là “didn’t), động từ theo sau ở dạng nguyên mẫu.)</span></span></span>
        </p>

        <p style="text-align:justify"><span><span style="color:#000000"><span
                style="font-size:16px">- Eg:</span></span></span></p>

            <p style="text-align:justify"><em><span><span style="color:#000000"><span
                    style="font-size:16px">&nbsp;&nbsp;+ She&nbsp;<u><strong>didn’t come</strong></u>&nbsp;to school last week. </span></span><span
                    style="color:#008000"><span
                    style="font-size:16px">(Tuần trước cô ấy không đến trường.)</span></span></span></em>
            </p>
            <p style="text-align:justify"><em><span><span style="color:#000000"><span
                    style="font-size:16px">&nbsp;&nbsp;+ We&nbsp;<u><strong>didn’t see</strong></u>&nbsp;her at the cinema last night. </span></span><span
                    style="color:#008000"><span style="font-size:16px">(Chúng tôi không trông thấy cô ấy tại rạp chiếu phim tối hôm qua.)</span></span></span></em>
            </p>

        <p style="text-align:justify"><span style="color:#66cc00"><span><span
                style="font-size:16px"><strong>3. Câu hỏi:</strong></span></span></span></p>

        <p style="text-align:justify"><span><span style="color:#000000"><span
                style="font-size:16px"><strong>- Cấu trúc</strong></span></span></span></p>

        <p style="text-align:center"><span style="font-size:20px"><strong><span
        ><span
                style="color:#000000">Did + S + V(nguyên thể)?</span></span></strong></span></p>

        <p style="text-align:justify"><span><span style="color:#000000"><span
                style="font-size:16px">=&gt; Trong thì quá khứ đơn với câu hỏi ta mượn trợ động từ “did” đảo lên trước chủ ngữ, động từ theo sau ở dạng nguyên thể.</span></span></span>
        </p>

        <p style="text-align:justify"><span><span style="color:#000000"><span
                style="font-size:16px">- Eg:</span></span></span></p>

            <p style="text-align:justify"><em><span><span style="color:#000000"><span
                    style="font-size:16px">&nbsp;&nbsp;+ <u><strong>Did</strong></u>&nbsp;you&nbsp;<u><strong>visit</strong></u>&nbsp;Ho Chi Minh Museum with your class last weekend? </span></span><span
                    style="color:#008000"><span style="font-size:16px">(Bạn có đi thăm bảo tàng Hồ Chí Minh với lớp của bạn cuối tuần trước hay không?)</span></span><br>
	<span style="color:#000000"><span style="font-size:16px">Yes, I did./ No, I didn’t.&nbsp;</span></span></span></em>
            </p>
            <p style="text-align:justify"><em><span><span style="color:#000000"><span
                    style="font-size:16px">&nbsp;&nbsp;+ <u><strong>Did</strong></u>&nbsp;he&nbsp;<u><strong>miss</strong></u>&nbsp;the train yesterday? </span></span><span
                    style="color:#008000"><span
                    style="font-size:16px">(Cậu ta có lỡ chuyến tàu ngày hôm qua hay không?)</span></span><br>
	<span style="color:#000000"><span style="font-size:16px">Yes, he did./ No, he didn’t.</span></span></span></em></p>
    </div>
</div>
<div class="item-active" id="item-3">
    <div class="item-title-active">
        <div class="item-title-active-content">III. CÁCH SỬ DỤNG
        </div>

    </div>
    <div class="item-active-content">
        <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
            <tbody>
            <tr>
                <td style="text-align:center"><span style="color:#ffa500"><span
                ><span style="font-size:16px"><strong>Cách dùng quá khứ đơn</strong></span></span></span>
                </td>
                <td style="text-align:center"><span style="color:#ffa500"><span
                ><span
                        style="font-size:16px"><strong>Ví dụ</strong></span></span></span></td>
            </tr>
            <tr>
                <td style="text-align:justify"><span><span style="color:#000000"><span
                        style="font-size:16px">Diễn đạt một hành động xảy ra và chấm dứt hoàn toàn trong quá khứ</span></span></span>
                </td>
                <td>
                        <p style="text-align:justify"><span><span
                                style="color:#000000"><span
                                style="font-size:16px"><em>They&nbsp;<u><strong>went</strong></u>&nbsp;to the concert last night. </em></span></span><br>
				<span style="color:#008000"><span
                        style="font-size:16px"><em>(Họ đã tới rạp hát tối hôm qua.)</em></span></span></span></p>
                </td>
            </tr>
            <tr>
                <td style="text-align:justify"><span><span style="color:#000000"><span
                        style="font-size:16px">Diễn đạt các hành động xảy ra liên tiếp trong quá khứ</span></span></span>
                </td>
                <td>
                        <p style="text-align:justify"><span><span
                                style="color:#000000"><span style="font-size:16px"><em>She&nbsp;<u><strong>came</strong></u>&nbsp;home,&nbsp;<u><strong>switched</strong></u>&nbsp;on the computer and&nbsp;<u><strong>checked</strong></u>&nbsp;her e-mails.</em></span></span><br>
				<span style="color:#008000"><span style="font-size:16px"><em>(Cô ấy đã trở về nhà, bật máy tính và kiểm tra hộp thư điện tử)</em></span></span></span>
                        </p>
                </td>
            </tr>
            <tr>
                <td style="text-align:justify"><span><span style="color:#000000"><span
                        style="font-size:16px">Diễn đạt một thói quen trong quá khứ</span></span></span></td>
                <td>
                            <p><span><span style="color:#000000"><span
                                    style="font-size:16px"><em>I&nbsp;<u><strong>used</strong></u>&nbsp;to play volleyball with my friends when I was young.</em></span></span><br>
				<span style="color:#008000"><span style="font-size:16px"><em>(Tôi thường chơi bóng chuyền với bạn bè của mình khi tôi còn trẻ)</em></span></span></span>
                            </p>
                </td>
            </tr>
            <tr>
                <td style="text-align:justify"><span><span style="color:#000000"><span
                        style="font-size:16px">Dùng trong câu điều kiện loại II</span></span></span></td>
                <td>
                        <p style="text-align:justify"><span><span
                                style="color:#000000"><span style="font-size:16px"><em>If I&nbsp;<u><strong>had</strong></u>&nbsp;a million USD, I would buy that car.</em></span></span><br>
				<span style="color:#008000"><span style="font-size:16px"><em>(Nếu tôi có một triệu đô, tôi sẽ mua chiếc xe ô tô đó)</em></span></span></span>
                        </p>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="item-active" id="item-4">
    <div class="item-title-active">
        <div class="item-title-active-content">IV.&nbsp;DẤU HIỆU NHẬN BIẾT
        </div>

    </div>
    <div class="item-active-content">
        <p style="text-align:justify"><span style="color:#ffa500"><span><span
                style="font-size:16px"><strong>- Trong câu có các trạng từ chỉ thời gian trong quá khứ:</strong></span></span></span>
        </p>
            <p style="text-align:justify"><em><span><span style="color:#000000"><span
                    style="font-size:16px">&nbsp;&nbsp;+ Yesterday (hôm qua)</span></span></span></em></p>
            <p style="text-align:justify"><em><span><span style="color:#000000"><span
                    style="font-size:16px">&nbsp;&nbsp;+ Last night/ last week/ last month/ last year: tối qua/ tuần trước/ tháng trước/ năm ngoái</span></span></span></em>
            </p>
            <p style="text-align:justify"><em><span><span style="color:#000000"><span
                    style="font-size:16px">&nbsp;&nbsp;+ 3 years ago: Ba năm trước</span></span></span></em></p>
            <p style="text-align:justify"><em><span><span style="color:#000000"><span
                    style="font-size:16px">&nbsp;&nbsp;+ When: khi (trong câu kể)</span></span></span></em></p>
            <p style="text-align:justify"><em><span><span style="color:#000000"><span
                    style="font-size:16px">&nbsp;&nbsp;+ in 2010: vào năm 2010</span></span></span></em></p>
    </div>
</div>
