<meta charset="UTF-8">
<div class="first-content"><p><span style="color:#3498db"><strong><span style="font-size:14px">I.    Tổng quan và ý nghĩa</span></strong></span>
</p>
    <p><span style="font-size:14px">Trong tiếng Anh, <strong>Propose </strong>là một động từ rất đa năng với nhiều tầng nghĩa và cách sử dụng khác nhau. 4 nghĩa chính của Propose là <strong><em>“dự định”, “đề xuất”, “cầu hôn”, “tiến c</em></strong>ử”.</span>
    </p>
    <p><em><span
            style="font-size:14px">          o    <strong>The government proposed changes to the voting system.</strong> (Chính phủ đề xuất những thay đổi đối với hệ thống bỏ phiếu.)<br/>            o    <strong>We do not propose to take any further action in the matter.</strong> (Chúng tôi không dự định có bất cứ hành động nào về vấn đề này.)<br/>            o    <strong>He was afraid that if he proposed she might refuse.</strong> (Anh ấy sợ rằng nếu anh cầu hôn thì cô ấy có thể sẽ từ chối.)<br/>            o    <strong>I propose Tom Ellis for chairman. </strong>(Tôi tiến cử Tom Ellis cho vị trí chủ tịch.)</span></em>
    </p>
    <p><span style="color:#3498db"><strong><span
            style="font-size:14px">II.    Cấu trúc và cách dùng</span></strong></span></p></div>
<div class="last-content"><p><span style="font-size:14px">Với những ý nghĩa trên, Propose có những cấu trúc sau:</span>
</p>
    <p><em><span style="font-size:14px">     1.    <u>Propose + V_to</u></span></em></p>
    <p><span style="color:#1abc9c"><span style="font-size:14px">Cấu trúc <strong>Propose </strong>kết hợp cùng động từ nguyên mẫu có ý nghĩa có ý định thực hiện môt hành động nào đó.</span></span>
    </p>
    <div class="dv_spectial_content"
         style="background:#fff6e6; border:1px solid #f6bd00; padding:15px; text-align:center"><strong><span
            style="font-size:14px">S + Propose + to + V + O</span></strong></div>
    <p><span style="font-size:14px"> <em><strong>         o    What do you propose to do now?</strong> (Bây giờ bạn định làm gì?)<br/>  <strong>          o    How do you propose to complete the project in such a short time?</strong> (Bạn định làm như thế nào để hoàn thành dự án trong thời gian ngắn như vậy?) </em></span>
    </p>
    <p><span style="font-size:14px"><em>     2.    <u>Propose + V_ing</u></em></span></p>
    <p><span style="color:#1abc9c"><span style="font-size:14px">Cấu trúc <strong>Propose </strong>kết hợp cùng động từ nguyên mẫu thêm <strong>_ing</strong> có ý nghĩa đề nghị, đề xuất thực hiện một hành động nào đó.</span></span>
    </p>
    <div class="dv_spectial_content"
         style="background:#fff6e6; border:1px solid #f6bd00; padding:15px; text-align:center"><strong><span
            style="font-size:14px">S + Propose + V_ing + O</span></strong></div>
    <p><span style="font-size:14px"><strong>        </strong><em><strong>  o    The Board of Directors is proposing an amendment to Article I. </strong>(Hội đồng quản trị đang đề xuất sửa đổi Điều I.) <br/>       <strong>     o    He proposed dealing directly with the suppliers.</strong> (Anh ấy đề nghị thương lượng trực tiếp với nhà cung cấp.)</em></span>
    </p>
    <p><span style="font-size:14px">   <em>  3.    <u>Propose + Noun/ Noun Phrase</u></em></span></p>
    <p><span style="color:#1abc9c"><span style="font-size:14px">Cấu trúc <strong>Propose </strong>kết hợp cùng danh từ, cụm danh từ có ý nghĩa đề nghị một việc gì đó.</span></span>
    </p>
    <div class="dv_spectial_content"
         style="background:#fff6e6; border:1px solid #f6bd00; padding:15px; text-align:center"><strong><span
            style="font-size:14px">S + Propose + Noun/ Noun Phrase</span></strong></div>
    <p><span style="font-size:14px">      <em>  <strong>  o    The three countries had proposed a plan for him to hand over power to a chosen successor.</strong> (Ba nước đã đề xuất một kế hoạch để ông giao quyền lực cho một người kế vị đã được lựa chọn.)<br/>        <strong>    o    She proposed a boycott of the meeting. </strong>(Cô ấy đề xuất tẩy chay cuộc họp.) </em></span>
    </p>
    <p><em><span style="font-size:14px">     4.    <u>Propose to Somebody</u></span></em></p>
    <p><span style="color:#1abc9c"><span style="font-size:14px">Cấu trúc <strong>Propose </strong>kết hợp cùng danh từ hay đại từ mang ý nghĩa cầu hôn ai đó.</span></span>
    </p>
    <div class="dv_spectial_content"
         style="background:#fff6e6; border:1px solid #f6bd00; padding:15px; text-align:center"><strong><span
            style="font-size:14px">S + Propose + (Something) + to + Noun/ Pronoun</span></strong></div>
    <p><span style="font-size:14px">    <strong>    </strong><em><strong>  o    She proposed to me! </strong>(Cô ấy đã cầu hôn tôi.)<br/>    <strong>        o    I remember the night your father proposed to me. </strong>(Mẹ nhớ như in cái đêm mà bố con cầu hôn mẹ.)</em></span>
    </p>
    <p><span style="font-size:14px">  <em>   5.    <u>Propose Somebody</u></em></span></p>
    <p><span style="color:#1abc9c"><span style="font-size:14px">Cấu trúc <strong>Propose </strong>này được sử dụng để đề xuất hay tiến cử ai vào một vị trí nào đó.</span></span>
    </p>
    <div class="dv_spectial_content"
         style="background:#fff6e6; border:1px solid #f6bd00; padding:15px; text-align:center"><strong><span
            style="font-size:14px">S + Propose + Somebody + (For/ As + Something)</span></strong></div>
    <p><span style="font-size:14px">      <em> <strong>   o    He was proposed for the job of treasurer.</strong> (Ông đã được tiến cử cho công việc thủ quỹ.)<br/>         <strong>   o    To be nominated for union president you need one person to propose you and another to second you. </strong>(Để được đề cử làm chủ tịch công đoàn, bạn cần một người tiến cử bạn và một người khác biệt phái bạn.) </em></span>
    </p>
    <p><span style="color:#3498db"><strong><span
            style="font-size:14px">III.    Propose, Agree và Mean</span></strong></span></p>
    <p><span style="font-size:14px">Trong tiếng Anh, cả ba từ <strong>Propose, Agree </strong>và <strong>Mean</strong> đều có một tầng nghĩa là<em><strong> “có ý định làm gì”</strong></em>.</span>
    </p>
    <p><em><span style="font-size:14px">     1.    <u>Cấu trúc Propose</u></span></em></p>
    <p><span style="font-size:14px">Cấu trúc <strong>Propose </strong>thường sẽ được sử dụng trong trường hợp dự định làm một việc có sự tham gia của người khác với ý nghĩa <strong><em>“ai đó dự định thực hiện hành động nào đó”</em></strong>.</span>
    </p>
    <p><em><span style="font-size:14px">       <strong>   o    Don’t tell me you propose to quit your job.</strong> (Đừng bảo mình là bạn định nghỉ việc đấy nhé!)</span></em>
    </p>
    <p><span style="font-size:14px">  <em>   2.    <u>Cấu trúc Agree</u></em></span></p>
    <p><span style="font-size:14px">Cấu trúc <strong>Agree </strong>sẽ mang ý nghĩa <strong><em>“ai đó đồng ý thực hiện hành động nào đó”</em> </strong>hay <strong><em>“đồng ý cho ai thực hiện một hành động nào đó”</em></strong>.</span>
    </p>
    <p><span style="font-size:14px">     <strong> </strong><em><strong>    o    She agreed to go camping.</strong> (Cô ấy đã đồng ý đi cắm trại.)</em></span>
    </p>
    <p><em><span style="font-size:14px">     3.    <u>Cấu trúc Mean</u></span></em></p>
    <p><span style="font-size:14px">Cấu trúc <strong>Mean </strong>được sử dụng với ý nghĩa <strong><em>“ai đó dự định thực hiện một hành động nào đó”</em></strong>. Cấu trúc này thường được sử dụng trong giao tiếp thông dụng và thường nhấn mạnh đến những ý định cá nhân hơn là ý định với sự tham gia của đối tượng khác.</span>
    </p>
    <p><span style="font-size:14px">     <em> <strong>    o    He never meant to be a doctor.</strong> (Anh ấy chưa bao giờ có ý định trở thành một bác sĩ.)</em></span>
    </p>                    </p>                                </div>