<meta charset="UTF-8">
<div class="first-content"><p style="text-align:justify"><span style="color:#3498db"><strong><span
        style="font-size:14px">I.    Tổng quan và ý nghĩa</span></strong></span></p>
    <p style="text-align:justify"><span style="font-size:14px"><strong>CAN </strong>khi đứng một mình sẽ đóng vai trò như một động từ khiếm khuyết thể hiện khả năng thực hiện một hành động nào đó, với ý nghĩa <em><strong>“có thể làm gì đó, có khả năng thực hiện một hành động nào đó</strong>”</em>.</span>
    </p>
    <p style="text-align:justify"><span style="font-size:14px"><strong>CAN'T STAND</strong> mang ý nghĩa không thể chịu được (điều gì đó)</span>
    </p>
    <p style="text-align:justify"><em><span
            style="font-size:14px">  <strong>        o    I can't stand his brother. </strong>(Tôi không thể chịu đựng được anh trai của anh ấy nữa.)<br/>  <strong>          o    She couldn't stand being kept waiting.</strong> (Cô ấy không thể chịu đựng được việc cứ phải chờ đợi.)</span></em>
    </p></div>
<div class="last-content"><p style="text-align:justify"><span style="color:#3498db"><strong><span
        style="font-size:14px">II.    Cấu trúc và cách dùng</span></strong></span></p>
    <p style="text-align:justify"><span style="font-size:14px">Trong tiếng Anh, <strong>Can't stand </strong>có thể đi với <em><strong>đại từ, danh từ, hoặc V-ing.</strong></em></span>
    </p>
    <p style="text-align:justify"><span style="font-size:14px">  <em>   1.    <u>Cấu trúc Cant stand với đại từ và danh từ</u></em></span>
    </p>
    <p style="text-align:justify"><span style="color:#1abc9c"><span
            style="font-size:14px">Cấu trúc <strong>Can't stand</strong> được sử dụng để diễn tả việc không thể chịu đựng nổi hay cực kỳ không thích ai đó hay việc gì đó.</span></span>
    </p>
    <div class="dv_spectial_content"
         style="background:#fff6e6; border:1px solid #f6bd00; padding:15px; text-align:center"><strong><span
            style="font-size:14px">S + Can’t stand + Đại từ/Danh từ</span></strong></div>
    <p style="text-align:justify"><span
            style="font-size:14px">    <em>   <strong>   o    I can't stand her voice. </strong>(Tôi không thích giọng nói của cô ta.)<br/>         <strong>   o    I can't stand it when you do that.</strong> (Tôi không thể chịu được khi bạn làm điều đó.)</em></span>
    </p>
    <p style="text-align:justify"><em><span
            style="font-size:14px">     2.    <u>Cấu trúc Can’t stand với V-ing</u></span></em></p>
    <p style="text-align:justify"><span style="color:#1abc9c"><span
            style="font-size:14px">Cấu trúc <strong>Can't stand</strong> được sử dụng để diễn tả việc không thể chịu đựng nổi hay cực kỳ không thích việc gì đó.</span></span>
    </p>
    <p style="text-align:justify"><span style="font-size:14px">Cấu trúc này có thể được thay thế bằng cấu trúc <span
            style="color:#1abc9c"><strong><em>Can't bear + V_ing</em></strong></span>.</span></p>
    <div class="dv_spectial_content"
         style="background:#fff6e6; border:1px solid #f6bd00; padding:15px; text-align:center"><strong><span
            style="font-size:14px">S + Can’t stand + V_ing/ Gerund</span></strong></div>
    <p style="text-align:justify"><span style="font-size:14px">        <em> <strong> o    Sarah can't stand wearing this thick coat.</strong> (Sarah không thể chịu đựng được việc mặc chiếc áo khoác dày này.)<br/>        <strong>    o    Do you know I can't stand drinking alcohol or beer?</strong> (Bạn có biết rằng tôi không thích uống rượu hay uống bia không?)</em></span>
    </p>
    <p style="text-align:justify"><span style="color:#3498db"><strong><span style="font-size:14px">III.    Can't stand, Can't help và Can't wait</span></strong></span>
    </p>
    <p style="text-align:justify"><span style="font-size:14px"><strong>Can't stand, Can't help và Can't wait</strong> là ba cấu trúc rất thông dụng nhưng cũng rất dễ nhầm lẫn, nhưng có cách để giúp bạn phân biệt nhanh và hiệu quả ba cấu trúc khó nhằn này:</span>
    </p>
    <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
        <tbody>
        <tr>
            <td style="text-align:center"><strong>Cấu trúc</strong></td>
            <td style="text-align:center"><strong>Ý nghĩa</strong></td>
            <td style="text-align:center"><strong>Ví dụ</strong></td>
        </tr>
        <tr>
            <td style="text-align:justify"><strong>S + can’t stand + V-ing</strong></td>
            <td style="text-align:justify">không thể chịu đựng được việc gì, hành động gì đó (cực lỳ không thích)</td>
            <td style="text-align:justify"><strong>She can’t stand running 100 laps a day.</strong> (Cô ấy không thể
                chịu đựng được việc chạy bộ 100 vòng mỗi ngày).
            </td>
        </tr>
        <tr>
            <td style="text-align:justify"><strong>S + can’t help + V-ing</strong></td>
            <td style="text-align:justify">không thể không làm gì được (cực kỳ mong muốn làm)</td>
            <td style="text-align:justify"><strong>I couldn’t help giving money to that person. He looks so
                pitiful. </strong>(Tôi không thể không đưa tiền cho người đó. Anh ấy trông thật đáng thương).
            </td>
        </tr>
        <tr>
            <td style="text-align:justify"><strong>S + can’t wait + to V</strong></td>
            <td style="text-align:justify">mong chờ làm việc gì, cái gì</td>
            <td style="text-align:justify"><strong>I can’t wait to eat this durian. It looks so great. </strong>(Tôi
                không thể chờ đợi được ăn quả sầu riêng này. Nó trong thật tuyệt vời).
            </td>
        </tr>
        </tbody>
    </table>
    <p style="text-align:justify"><strong>I can't stand it anymore!</strong></span> - <em><span style="color:#c0392b">Tôi không thể đứng đó thêm nữa???</span></em></p>
</div>