<meta charset="UTF-8">
<div class="item-active" id="item-1">
    <div class="item-title-active">
        <div class="item-title-active-content">I. ĐỊNH NGHĨA
        </div>

    </div>
    <div class="item-active-content">
        <p style="text-align:justify"><span style="color:#000000"><span><span
        ><strong>Thì quá khứ tiếp diễn&nbsp;</strong>(Past continuous tense) </span>dùng khi muốn nhấn mạnh diễn biến hay quá trình của sự vật hay sự việc hoăc thời gian sự vật hay sự việc đó diễn ra.</span></span>
        </p>
    </div>
</div>
<div class="item-active" id="item-2">
    <div class="item-title-active">
        <div class="item-title-active-content">II. CẤU TRÚC
        </div>

    </div>
    <div class="item-active-content">
        <p><span style="color:#ffa500"><span><strong>1. Khẳng định:</strong></span></span></p>

        <p><span style="color:#000000"><span><strong>- Cấu Trúc</strong></span></span></p>

        <p style="text-align:center"><span style="color:#66cc00"><span
                style="font-size:20px"><strong>S + was/were + V-ing</strong></span></span></p>

        <p><strong><span style="color:#000000"><span>- Trong đó:&nbsp;</span></span></strong></p>

        <p><em><span style="color:#000000"><span>&nbsp;&nbsp;+ S (subject): chủ ngữ</span></span></em>
        </p>
        <p><em><span style="color:#000000"><span
        >&nbsp;&nbsp;+ V-ing: động từ thêm “–ing”</span></span></em></p>

        <p><strong><span style="color:#000000"><span>- Lưu ý</span></span></strong></p>

        <p><em><span style="color:#000000"><span
        >&nbsp;&nbsp;+ S = I/ He/ She/ It &nbsp;+ was</span></span></em>
        </p>
        <p><em><span style="color:#000000"><span>&nbsp;&nbsp;+ S = We/ You/ They + were</span></span></em>
        </p>

        <p><strong><span style="color:#000000"><span>- Eg:</span></span></strong></p>

        <p><em><span style="color:#000000"><span>&nbsp;&nbsp;+ He <u><strong>was cooking</strong></u> dinner at 4 p.m yesterday.(Anh ấy đang nấu bữa tối vào lúc 4h chiều hôm qua)</span></span></em>
        </p>
        <p><em><span style="color:#000000"><span>&nbsp;&nbsp;+ They <u><strong>were playing</strong></u> soccer when I came yesterday. (Họ đang chơi đá banh khi tôi đến ngày hôm qua.)</span></span></em>
        </p>

        <p><span style="color:#ffa500"><span><strong>2. Phủ định:</strong></span></span></p>

        <p><strong><span style="color:#000000"><span>- Cấu trúc:</span></span></strong></p>

        <p style="text-align:center"><span style="color:#66cc00"><span style="font-size:20px"><strong>S + wasn’t/ weren’t + V-ing</strong></span></span>
        </p>

        <p><span style="color:#000000"><span
        >=&gt; Câu phủ định tả chỉ cần thêm “not” ngay sau “to be”.</span></span></p>

        <p><strong><span style="color:#000000"><span>- Lưu ý</span></span></strong></p>

        <p><em><span style="color:#000000"><span>&nbsp;&nbsp;+ was not = wasn’t</span></span></em></p>
        <p><em><span style="color:#000000"><span>&nbsp;&nbsp;+ were not = weren’t</span></span></em></p>

        <p><strong><span style="color:#000000"><span>- Eg:</span></span></strong></p>

        <p><span style="color:#000000"><em><span>&nbsp;&nbsp;+ He <u><strong>wasn’t working</strong></u> when his boss came yesterday.&nbsp;(Anh ấy đã không làm việc khi ông chủ đến hôm qua)</span></em></span>
        </p>
        <p><span style="color:#000000"><em><span>&nbsp;&nbsp;+ We <u><strong>weren’t watching</strong></u> TV at 9 p.m yesterday.&nbsp;(Chúng tôi không xem TV vào 9 giờ tối hôm qua)</span></em></span>
        </p>

        <p><span style="color:#ffa500"><span><strong>3. Câu hỏi:</strong></span></span></p>

        <p><strong><span style="color:#000000"><span>- Cấu Trúc</span></span></strong></p>

        <p style="text-align:center"><span style="color:#66cc00"><strong><span
                style="font-size:20px">Was/ Were + S + V-ing ?</span></strong></span></p>

        <p><span style="color:#000000"><span><strong>- Trả lời:&nbsp;</strong></span></span></p>

        <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
            <tbody>
            <tr>
                <td style="text-align:center"><span
                        style="color:#000000; font-size:16px">Yes, I/ he/ she/ it + was</span></td>
                <td style="text-align:center"><span
                        style="color:#000000; font-size:16px">No, I/ he/ she/ it + wasn’t</span>
                </td>
            </tr>
            <tr>
                <td style="text-align:center"><span
                        style="color:#000000; font-size:16px">Yes, we/ you/ they + were</span></td>
                <td style="text-align:center"><span
                        style="color:#000000; font-size:16px">No, we/ you/ they + weren’t</span>
                </td>
            </tr>
            </tbody>
        </table>

        <p><span style="color:#000000"><span
        >=&gt; Câu hỏi ta chỉ cần đảo “to be” lên trước chủ ngữ.</span></span></p>

        <p><strong><span style="color:#000000"><span>- Example:&nbsp;</span></span></strong></p>

        <p><span
                style="color:#000000"><em><span>&nbsp;&nbsp;+ <u><strong>Was</strong></u> your mother <u><strong>going</strong></u> to the market at 7 a.m yesterday?&nbsp;</span><br>
	<span>Yes, she was./ No, she wasn’t.</span></em></span></p>
        <p><span style="color:#000000"><em><span
        >&nbsp;&nbsp;+ <u><strong>Were</strong></u> they <u><strong>staying</strong></u> with you when I called you yesterday?&nbsp;</span><br>
	<span>Yes, they were./ No, they weren’t.</span></em></span></p>
    </div>
</div>
<div class="item-active" id="item-3">
    <div class="item-title-active">
        <div class="item-title-active-content">III. CÁCH SỬ DỤNG
        </div>

    </div>
    <div class="item-active-content">
        <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
            <tbody>
            <tr>
                <td style="text-align:center"><span style="color:#ffa500"><strong><span
                >Cách Sử Dụng</span></strong></span></td>
                <td style="text-align:center">
                    <p><span style="color:#ffa500"><strong><span>Ví Dụ</span></strong></span></p>
                </td>
            </tr>
            <tr>
                <td><span style="color:#000000"><span>Diễn đạt hành động đang xảy ra tại một thời điểm trong quá khứ tiếp diễn</span></span>
                </td>
                <td>
                    <p><span style="color:#000000"><span
                    ><em>&nbsp;&nbsp;+ When my sister got there, he <u><strong>was waiting</strong></u> for her.<br>&nbsp;&nbsp;&nbsp;&nbsp; Khi chị tôi tới, anh ta đã đợi ở đây rồi.</em></span></span></p>
                </td>
            </tr>
            <tr>
                <td><span
                        style="color:#000000"><span>Diễn đạt hai hành động xảy ra đồng thời trong quá khứ</span></span>
                </td>
                <td>
                    <p><span style="color:#000000"><span
                    ><em>&nbsp;&nbsp;+ While I <u><strong>was taking</strong></u> a bath, she <u><strong>was using</strong></u> the computer.<br>&nbsp;&nbsp;&nbsp;&nbsp; Trong khi tôi đang tắm thì cô ấy dùng máy tính.</em></span></span>
                    </p>
                    <p><span style="color:#000000"><span
                    ><em>&nbsp;&nbsp;+ While I <u><strong>was driving</strong></u> home, Peter <u><strong>was trying</strong></u> desperately to contact me.<br>&nbsp;&nbsp;&nbsp;&nbsp; Peter đã cố gắng liên lạc với tôi trong lúc tôi đang lái xe về nhà.</em></span></span>
                    </p>
                </td>
            </tr>
            <tr>
                <td><span
                        style="color:#000000"><span>Diễn đạt hành động đang xảy ra thì có hành động khác xen vào</span></span>
                </td>
                <td>
                    <p><span style="color:#000000"><span
                    ><em>&nbsp;&nbsp;+ I <u><strong>was listening</strong></u> to the news when she phoned.<br>&nbsp;&nbsp;&nbsp;&nbsp; Tôi đang nghe tin tức thì cô ấy gọi tới.</em></span></span>
                    </p>
                    <p><span style="color:#000000"><span
                    ><em>&nbsp;&nbsp;+ They <u><strong>were still waiting </strong></u>for the plane when I spoke to them.<br>&nbsp;&nbsp;&nbsp;&nbsp; Khi tôi nói chuyện với họ thì họ vẫn đang chờ máy bay.</em></span></span>
                    </p>
                </td>
            </tr>
            <tr>
                <td><span
                        style="color:#000000"><span>Hành động lặp đi lặp lại trong quá khứ và làm phiền đến người khác</span></span>
                </td>
                <td>
                    <p><span style="color:#000000"><span
                    ><em>&nbsp;&nbsp;+ When he worked here, he <u><strong>was always making</strong></u> noise.<br>&nbsp;&nbsp;&nbsp;&nbsp; Khi anh ta còn làm việc ở đây, anh ta thường xuyên làm ồn.</em></span></span>
                    </p>
                    <p><span style="color:#000000"><span
                    ><em>&nbsp;&nbsp;+ My mom <u><strong>was always complaning</strong></u> about my room when she got there.<br>&nbsp;&nbsp;&nbsp;&nbsp; Mẹ tôi luôn than phiền về phòng tôi khi bà ấy ở đó.</em></span></span>
                    </p>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="item-active" id="item-4">
    <div class="item-title-active">
        <div class="item-title-active-content">IV. DẤU HIỆU ĐỂ NHẬN BIẾT
        </div>

    </div>
    <div class="item-active-content">
        <p><span style="color:#ffa500"><strong><span>Trong câu có các trạng từ chỉ thời gian trong quá khứ kèm theo thời điểm xác định.</span></strong></span>
        </p>

        <p><em><span style="color:#000000"><span>&nbsp;&nbsp;+ At + giờ + thời gian trong quá khứ (at 10 o’clock last night,…)</span></span></em>
        </p>
        <p><em><span style="color:#000000"><span>&nbsp;&nbsp;+ At this time + thời gian trong quá khứ. (at this time two weeks ago, …)</span></span></em>
        </p>
        <p><em><span style="color:#000000"><span
        >&nbsp;&nbsp;+ In + năm (in 1995, in 2000)</span></span></em></p>
        <p><em><span style="color:#000000"><span
        >&nbsp;&nbsp;+ In the past (trong quá khứ)</span></span></em></p>

        <p><span style="color:#ffa500"><strong><span>Trong câu có “when” khi diễn tả một hành động đang xảy ra và một hành động khác xen vào.</span></strong></span>
        </p>

        <p><em><span style="color:#000000"><span>- Ngoài việc dựa vào cách dùng của thì Quá khứ tiếp diễn, ngữ cảnh của câu thì các bạn cũng hãy cân nhắc sử dụng thì Quá khứ tiếp diễn khi có xuất hiện các từ như: While (trong khi); When (Khi); at that time (vào thời điểm đó);…</span></span></em>
        </p>
    </div>
</div>
