<meta charset="UTF-8">
<div class="first-content">
    <p><span style="color:#3498db"><strong><span style="font-size:14px">I. Ý nghĩa</span></strong></span></p>
    <p><span style="font-size:14px"><strong>PRETEND </strong>có ý nghĩa <strong><em>giả vờ, giả bộ hay ngụy tạo một điều gì đó</em></strong>. </span>
    </p></div>
<div class="last-content"><p><span style="font-size:14px"><em>     o    <strong>He pretended that he didn't mind, but I knew that he did.</strong> (Anh ấy giải bộ như mình chẳng hề quan tâm, nhưng mình biết anh ấy có để tâm đến.)<br/>       o    <strong>Were you just pretending to be interested?</strong> (Anh chỉ đang giả bộ để tâm đến thôi đúng không?)<br/>       o    <strong>I'm tired of having to pretend all the time. </strong>(Em thật sự mệt mỏi khi cứ mãi giả bộ.)</em></span>
</p>
    <p><span
            style="font-size:14px">Ngoài ta, <strong>PRETEND </strong>còn được sử dụng như một tính từ để chỉ những <strong><em>thứ giả tưởng, không có thật, chỉ có trong tưởng tượng</em></strong>.</span>
    </p>
    <p><em><span style="font-size:14px">     o   <strong> "Do you want a cup of tea?" she asks, offering me a pretend cup.</strong> (“Bố có muốn uống một cốc trà không?” – con bé hỏi và đưa cho tôi một chiếc cốc tưởng tượng.)<br/>       o   <strong> They knew the argument was only pretend, but they still got upset. </strong>(Họ biết rằng cuộc tranh luận chỉ là giả tưởng, nhưng họ vẫn buồn.)</span></em>
    </p>
    <p><span style="font-size:14px"><strong><span style="color:#3498db">II. Cấu trúc</span></strong></span></p>
    <p><span style="font-size:14px"><strong>     1. <u>To verb</u></strong></span></p>
    <div class="dv_spectial_content"
         style="background:#fff6e6; border:1px solid #f6bd00; padding:15px; text-align:center"><strong><span
            style="font-size:14px">S + pretend + to + V</span></strong></div>
    <ul>
        <li><span style="font-size:14px"><span style="color:#1abc9c"><strong>Lưu ý</strong>, khi sử dụng cấu trúc này ở thể phủ định, ta đảo <strong>NOT </strong>lên trước <strong>TO</strong>.</span></span>
        </li>
    </ul>
    <p><span style="font-size:14px"><u><strong>Ví dụ</strong></u>:</span></p>
    <p><em><span
            style="font-size:14px"><strong>     o    I pretended to be asleep. </strong>(Tôi giả bộ ngủ.)<br/>  <strong>     o    She didn't love him, though she pretended to.</strong> (Cô ta không yêu anh ấy, dù cho cô ta giả vờ yêu.)</span></em>
    </p>
    <p><span style="font-size:14px"><strong>     2. <u>That clause</u></strong></span></p>
    <div class="dv_spectial_content"
         style="background:#fff6e6; border:1px solid #f6bd00; padding:15px; text-align:center"><strong><span
            style="font-size:14px">S + pretend + (to + somebody) + (that) + S + V</span></strong></div>
    <p><span style="font-size:14px"><u><strong>Ví dụ</strong></u>:</span></p>
    <p><em><span style="font-size:14px"><strong>     o    We pretended (that) nothing had happened. </strong>(Chúng tôi đã giả bộ như không có chuyện gì xảy ra cả.)<br/>  <strong>     o    He pretended to his family that everything was fine.</strong> (Anh ấy giả bộ với gia đình anh rằng mọi chuyện đều ổn cả.)</span></em>
    </p>
    <p><strong><span style="font-size:14px">     3. <u>Noun/ Noun Phrase</u></span></strong></p>
    <div class="dv_spectial_content"
         style="background:#fff6e6; border:1px solid #f6bd00; padding:15px; text-align:center"><strong><span
            style="font-size:14px">S + pretend + Noun/ Noun Phrase</span></strong></div>
    <p><strong><span style="font-size:14px"><u>Ví dụ</u>:</span></strong></p>
    <p><em><span style="font-size:14px"><strong>     o    She pretended an interest she did not feel.</strong> (Cô ấy tỏ vẻ thích thú với những điều cô ấy không thích.)<br/>     <strong>  o    I can't pretend to any great musical talent. </strong>(Tôi chắc chắn không hề có chút tài năng âm nhạc nào.)</span></em>
    </p>
    <p><span style="color:#3498db"><strong><span style="font-size:14px">III. Cách dùng</span></strong></span></p>
    <p><span style="font-size:14px"><span style="color:#1abc9c">i.    Cấu trúc <strong>Pretend </strong>được dùng để diễn tả việc ai đó giả vờ điều gì một cách có mục đích và mong muốn người khác tin rằng điều đó là sự thật.</span><br/>  <em><strong>     o    Couldn't you at least pretend to enjoy it?</strong> (Ít nhất bạn giả vờ thích nó cũng không được sao?)</em></span>
    </p>
    <p><span style="font-size:14px"><span style="color:#1abc9c">ii.    Cấu trúc <strong>Pretend </strong>được sử dụng để tuyên bố, đòi hỏi, giả vờ hay làm một việc gì đó.</span><br/>  <em><strong>     o    The book doesn't pretend to be a great work of literature. </strong>(Cuốn sách này không phải là một tác phẩm văn học tuyệt vời.)</em></span>
    </p>
    <p><span style="font-size:14px"><span
            style="color:#1abc9c">iii.    <strong>(Đối với trẻ em) </strong>Cấu trúc <strong>Pretend </strong>được sử dụng để diễn tả một hành động hay vật dụng giả tưởng nào đó là thật như một phần của trò chơi.</span><br/>  <em>  <strong>   o    The children pretended (that) they were dinosaurs.</strong> (Bọn trẻ giải bộ làm khủng long.)</em></span>
    </p>                    </p>                                </div>