<meta charset="UTF-8">
<div class="first-content">
    <p style="text-align:justify"><span style="color:#3498db"><strong><span
            style="font-size:14px">I. Ý nghĩa</span></strong></span></p>
    <p style="text-align:justify"><span style="font-size:14px"><strong>Since</strong> và <strong>For</strong> là hai giới từ được dùng rất nhiều trong ngữ pháp tiếng Anh và đặc biệt trong các bài liên quan tới thi, về thì quá khứ đơn và các thì hoàn thành.</span>
    </p>
    <p style="text-align:justify"><span style="font-size:14px"><strong>Since</strong> và <strong>For</strong> đều được sử dụng để diễn tả một mốc thời gian hay một khoảng thời gian nào đó. Tuy nhiên, mỗi từ đều có ý nghĩa và cách sử dụng khác nhau.</span>
    </p></div>
<div class="last-content">
    <div class="dv_spectial_content"
         style="background:#fff6e6; border:1px solid #f6bd00; padding:15px; text-align:center"><span
            style="font-size:14px"><strong>Since</strong>: Từ khi, khi, tính từ lúc khi</span></div>
    <div class="dv_spectial_content"
         style="background:#fff6e6; border:1px solid #f6bd00; padding:15px; text-align:center"><span
            style="font-size:14px"><strong>For</strong>: Trong khoảng</span></div>
    <p style="text-align:justify"><span style="font-size:14px"><strong><u>Ví dụ</u>:</strong></span></p>
    <p style="text-align:justify"><em><span style="font-size:14px"><strong>     o    We've lived here <u>since</u> 2006.</strong> (Chúng tôi đã sống ở đây kể từ năm 2006.)<br/>  <strong>     o    That house on the corner has been empty <u>for</u> three years. </strong>(Căn nhà ở góc đường đã bị bỏ trong trong khoảng 3 năm.)</span></em>
    </p>
    <p style="text-align:justify"> </p>
    <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
        <tbody>
        <tr>
            <td colspan="3" rowspan="1" style="text-align:center"><strong><span
                    style="font-size:14px">Since</span></strong></td>
            <td colspan="3" rowspan="1" style="text-align:center"><strong><span
                    style="font-size:14px">For</span></strong></td>
        </tr>
        <tr>
            <td style="text-align:center"><span style="font-size:14px">10 o'clock</span></td>
            <td style="text-align:center"><span style="font-size:14px">February</span></td>
            <td style="text-align:center"><span style="font-size:14px">Lunchtime</span></td>
            <td style="text-align:center"><span style="font-size:14px">Two months</span></td>
            <td style="text-align:center"><span style="font-size:14px">Four days</span></td>
            <td style="text-align:center"><span style="font-size:14px">2 months</span></td>
        </tr>
        <tr>
            <td style="text-align:center"><span style="font-size:14px">Sunday</span></td>
            <td style="text-align:center"><span style="font-size:14px">2022</span></td>
            <td style="text-align:center"><span style="font-size:14px">They left</span></td>
            <td style="text-align:center"><span style="font-size:14px">20 minutes</span></td>
            <td style="text-align:center"><span style="font-size:14px">5 years</span></td>
            <td style="text-align:center"><span style="font-size:14px">Years</span></td>
        </tr>
        <tr>
            <td style="text-align:center"><span style="font-size:14px">June 22nd</span></td>
            <td style="text-align:center"><span style="font-size:14px">New year</span></td>
            <td style="text-align:center"><span style="font-size:14px">She got up</span></td>
            <td style="text-align:center"><span style="font-size:14px">Two weeks</span></td>
            <td style="text-align:center"><span style="font-size:14px">Ages</span></td>
            <td style="text-align:center"><span style="font-size:14px">A long time</span></td>
        </tr>
        </tbody>
    </table>
    <p style="text-align:justify"><span style="color:#3498db"><strong><span
            style="font-size:14px">II. Cấu trúc</span></strong></span></p>
    <p style="text-align:justify"><span style="font-size:14px"><strong>     1. <u>Cấu trúc Since</u></strong></span></p>
    <p style="text-align:justify"><span style="font-size:14px"><strong>Since</strong> được sử dụng để chỉ mốc thời gian mà sự việc hoặc hành động bắt đầu xảy ra. Thường thì sẽ trả lời cho câu hỏi <strong>When,</strong> đồng thời dùng nhiều trong các thì hoàn thành.</span>
    </p>
    <p style="text-align:justify"><span style="font-size:14px"><span style="color:#1abc9c"><em><strong>Since: Từ khi, khi, kể từ khi</strong></em></span></span>
    </p>
    <div class="dv_spectial_content"
         style="background:#fff6e6; border:1px solid #f6bd00; padding:15px; text-align:center"><em><strong><span
            style="font-size:14px">Since + Thời điểm trong quá khứ/ Sự kiện trong quá khứ</span></strong></em></div>
    <ul>
        <li style="text-align:justify"><span style="font-size:14px"><strong><u>Khi Since đứng giữa câu</u></strong>: Được dùng để chỉ 1 mốc thời gian mà sự việc, hành động xảy ra</span>
        </li>
        <li style="text-align:justify"><span style="font-size:14px"><strong><u>Khi Since đứng đầu câu</u></strong>: Được dùng để chỉ lý do của một hành động hay chỉ 1 mốc thời gian (kể từ khi).</span>
        </li>
    </ul>
    <p style="text-align:justify"><strong><span style="font-size:14px">Ví dụ:</span></strong></p>
    <p style="text-align:justify"><em><span style="font-size:14px"><strong>     o    She's been off work <u>since Tuesday</u>. </strong>(Cô ấy đã nghỉ làm kể từ thứ Năm.)<br/>  <strong>     o    <u>Since the party</u>, she had only spoken to him once.</strong> (Cô ấy chỉ mới nói chuyện với anh được một lần kể từ bữa tiệc.)</span></em>
    </p>
    <p style="text-align:justify"><span style="color:#1abc9c"><em><strong><span style="font-size:14px">Since: Từ khi, khi, kể từ khi</span></strong></em></span>
    </p>
    <div class="dv_spectial_content"
         style="background:#fff6e6; border:1px solid #f6bd00; padding:15px; text-align:center"><span
            style="font-size:14px"><strong>Since + Simple Past</strong></span></div>
    <p style="text-align:justify"><strong><span style="font-size:14px">Ví dụ: </span></strong></p>
    <p style="text-align:justify"><em><span style="font-size:14px"><strong>     o    They haven’t received any junk mail <u>since they moved house</u>.</strong> (Họ chưa nhận được bức thư rác nào kể từ khi họ chuyển nhà.)<br/>  <strong>     o    Cath hasn't phoned <u>since she went to Berlin</u>. </strong>(Cath chưa từng gọi điện thoại kể từ khi cô ấy chuyển đến Berlin.)</span></em>
    </p>
    <p style="text-align:justify"><span style="color:#1abc9c"><strong><span
            style="font-size:14px">Since there: Kể từ đó</span></strong></span></p>
    <div class="dv_spectial_content"
         style="background:#fff6e6; border:1px solid #f6bd00; padding:15px; text-align:center"><strong><span
            style="font-size:14px">Since + there</span></strong></div>
    <p><strong><span style="font-size:14px">Ví dụ:</span></strong></p>
    <p style="text-align:justify"><em><span style="font-size:14px"><strong>     o    Since there, we have never met each other again. </strong>(Kể từ đó, chúng tôi không gặp nhau lần nào nữa)<br/>  <strong>     o    Since there, we have never worked together again.</strong> (Kể từ đó, chúng tôi không bao giờ làm việc với nhau nữa)</span></em>
    </p>
    <p style="text-align:justify"><strong><span style="font-size:14px">     2. <u>Cấu trúc For</u></span></strong></p>
    <p style="text-align:justify"><span style="color:#2ecc71"><strong><span
            style="font-size:14px">For: Khoảng, trong</span></strong></span></p>
    <p style="text-align:justify"><span style="font-size:14px"><strong>For</strong> được dùng để chỉ 1 khoảng thời gian mà sự việc hay hành động diễn ra, kéo dài trong suốt khoảng thời gian đó. </span>
    </p>
    <p style="text-align:justify"><span style="font-size:14px">Không giống với <strong>Since</strong>, giới từ for dường như được dùng trong tất cả các thì cũng như trả lời cho câu hỏi <strong>How long …?</strong></span>
    </p>
    <div class="dv_spectial_content"
         style="background:#fff6e6; border:1px solid #f6bd00; padding:15px; text-align:center"><strong><span
            style="font-size:14px">For + Một khoảng thời gian</span></strong></div>
    <ul>
        <li style="text-align:justify"><span style="font-size:14px">Trên thực tế <strong>for</strong> dùng được với tất cả các thì. Sự khác biệt của for về khoảng thời gian được nói đến giữa các thì là: <em>đối với thì hoàn thành hoặc quá khứ đơn, khoảng thời gian bắt đầu trong quá khứ và có thể kéo dài đến hiện tại hoặc không, còn ở các thì còn lại, khoảng thời gian này xảy ra ở thời điểm đó.</em></span>
        </li>
    </ul>
    <p style="text-align:justify"><span style="font-size:14px"><strong><u>Ví dụ</u>:</strong></span></p>
    <p style="text-align:justify"><em><span
            style="font-size:14px"><strong>     o    I have learned English for 7 years. </strong>(Tôi đã học tiếng Anh được 7 năm)<br/>  <strong>     o    I am looking for my keys for an hour today. </strong>(Hôm nay tôi đã tìm chìa khóa hết một tiếng đồng hồ)</span></em>
    </p>
    <ul>
        <li style="text-align:justify"><span style="font-size:14px">     Có thể lược bỏ <strong>for</strong> ngoại trừ trường hợp câu phủ định:</span>
        </li>
    </ul>
    <p style="text-align:justify"><span style="font-size:14px"><strong><u>Ví dụ</u>:</strong></span></p>
    <p style="text-align:justify"><em><span style="font-size:14px"><strong>     o    They’ve been together (for) 10 years. </strong>(Họ đã ở bên nhau trong khoảng 10 năm.)<br/>  <strong>     o    They haven’t talked for ages. </strong>(Đã lâu rồi học không nói chuyện với nhau.)</span></em>
    </p>
    <p style="text-align:justify"><span style="color:#3498db"><strong><span style="font-size:14px">III. Cách dùng</span></strong></span>
    </p>
    <p style="text-align:justify"><strong><span style="font-size:14px">     1. <u>Cách dùng Since</u></span></strong>
    </p>
    <p style="text-align:justify"><span style="font-size:14px">          o    <strong>Since</strong> được sử dụng trong những thì hoàn thành <em><strong>(Hiện tại hoàn thành, Quá khứ hoàn thành, …)</strong></em> để diễn tả một khoảng thời gian từ quá khứ đến thời gian sau trong quá khứ hay đến thời điểm hiện tại.<br/>            o    <strong>Since</strong> được sử dụng để diễn tả một thời gian sau một thời gian cụ thể trong quá khứ.</span>
    </p>
    <p style="text-align:justify"><span style="font-size:14px"><strong>     2. <u>Cách dùng Fo</u>r</strong></span></p>
    <p style="text-align:justify"><span style="font-size:14px">          o    <strong>For</strong> được dùng để chỉ 1 khoảng thời gian mà sự việc hay hành động diễn ra, kéo dài trong suốt khoảng thời gian đó.</span>
    </p>
    <p style="text-align:justify"><span
            style="font-size:14px">Qua cách sử dụng trên bạn chỉ cần nhớ câu thần chú: <strong><span
            style="color:#1abc9c">since + mốc thời gian, for  + khoảng thời gian</span></strong> là chắc chắn sẽ không sai được đâu. Cách dùng của hai giới từ này rất đa dạng và khi chúng ta biết cách tận dụng, câu văn sẽ trở nên mượt mà hơn rất nhiều bạn nhé!</span>
    </p>                </p>                                </div>