<meta charset="UTF-8">
<div class="item-active" id="item-1">
    <div class="item-title-active">
        <div class="item-title-active-content">I. ĐỊNH NGHĨA
        </div>

    </div>
    <div class="item-active-content">
        <p style="text-align:justify"><span><span><span
                style="color:#000000"><strong>Thì quá khứ hoàn thành&nbsp;</strong>(Past perfect tense) dùng để diễn tả một hành động xảy ra trước một hành động khác và cả hai hành động này đều đã xảy ra trong quá khứ. Hành động nào xảy ra trước thì dùng thì quá khứ hoàn thành. Hành động xảy ra sau thì dùng thì quá khứ đơn.</span></span></span>
        </p>
    </div>
</div>
<div class="item-active" id="item-2">
    <div class="item-title-active">
        <div class="item-title-active-content">II. CẤU TRÚC
        </div>

    </div>
    <div class="item-active-content">
        <p><span style="color:#ffa500"><span><span
        ><strong>1. Khẳng định:</strong></span></span></span></p>

        <p><span><span><span
                style="color:#000000"><strong>- Cấu trúc</strong></span></span></span></p>

        <p style="text-align:center"><span style="color:#66cc00"><span style="font-size:20px"><span
        ><strong>S + had + VpII</strong></span></span></span></p>

        <p><span><span><span
                style="color:#000000"><strong>- Trong đó: &nbsp; &nbsp;</strong>&nbsp;&nbsp;&nbsp;</span></span></span>
        </p>

        <p><em><span><span><span
                style="color:#000000">&nbsp;&nbsp;+ S (subject): chủ ngữ</span></span></span></em></p>
        <p><em><span><span><span
                style="color:#000000">&nbsp;&nbsp;+ Had: Trợ động từ</span></span></span></em></p>
        <p><em><span><span><span
                style="color:#000000">&nbsp;&nbsp;+ VpII: động từ phân từ II (Quá khứ phân từ)</span></span></span></em>
        </p>

        <p><span><span><span
                style="color:#000000">- Eg:</span></span></span></p>

        <p><em><span><span><span
                style="color:#000000">&nbsp;&nbsp;+ He&nbsp;<u><strong>had gone</strong></u>&nbsp;out when I came into the house. </span><br>
	<span style="color:#008000">(Anh ấy đã đi ra ngoài khi tôi vào nhà.)</span></span></span></em></p>
        <p><em><span><span><span
                style="color:#000000">&nbsp;&nbsp;+ They&nbsp;<u><strong>had finished</strong></u>&nbsp;their work right before the deadline last week .</span><br>
	<span style="color:#008000">(Họ đã hoàn thành công việc của họ ngay trước hạn chót vào tuần trước.)</span></span></span></em>
        </p>

        <p><span style="color:#ffa500"><span><span
        ><strong>2. Phủ định:</strong></span></span></span></p>

        <p><strong><span><span><span
                style="color:#000000">- Cấu trúc:</span></span></span></strong></p>

        <p style="text-align:center"><span style="color:#66cc00"><span style="font-size:20px"><strong><span
        >S + hadn’t + VpII</span></strong></span></span></p>

        <p><span><span><span style="color:#000000">=&gt; Câu phủ định trong thì quá khứ hoàn thành ta chỉ cần thêm “not” vào ngay sau trợ động từ “had”.</span></span></span>
        </p>

        <p><strong><span><span><span
                style="color:#000000">- Lưu ý:</span></span></span></strong></p>

        <p><em><span><span><span
                style="color:#000000">&nbsp;&nbsp;+ hadn’t = had not</span></span></span></em></p>

        <p><strong><span><span><span
                style="color:#000000">- Example:</span></span></span></strong></p>

        <p><em><span><span><span
                style="color:#000000">&nbsp;&nbsp;+ She&nbsp;<u><strong>hadn’t come</strong></u>&nbsp;home when I got into the house. </span><span
                style="color:#008000">(Cô ấy vẫn chưa về nhà khi tôi vào nhà.)</span></span></span></em></p>
        <p><em><span><span><span
                style="color:#000000">&nbsp;&nbsp;+ They&nbsp;<u><strong>hadn’t finished</strong></u>&nbsp;their lunch when I saw them. </span><span
                style="color:#008000">(Họ vẫn chưa ăn xong bữa trưa khi trông thấy họ).</span></span></span></em>
        </p>

        <p><span style="color:#ffa500"><span><span
        ><strong>3. Câu hỏi:</strong></span></span></span></p>

        <p><strong><span><span><span
                style="color:#000000">- Cấu trúc:</span></span></span></strong></p>

        <p style="text-align:center"><span style="color:#66cc00"><span style="font-size:20px"><strong><span
        >Had + S + VpII ?</span></strong></span></span></p>

        <p><span><span><span
                style="color:#000000"><strong>- Trả lời: &nbsp;&nbsp;</strong></span></span></span></p>

        <p><em><span><span><span
                style="color:#000000">&nbsp;&nbsp;+ Yes, S + had.</span></span></span></em></p>
        <p><em><span><span><span
                style="color:#000000">&nbsp;&nbsp;+ No, S + hadn’t.</span></span></span></em></p>

        <p><span><span><span style="color:#000000">=&gt; Câu hỏi trong thì quá khứ hoàn thành ta chỉ cần đảo “had” lên trước chủ ngữ.</span></span></span>
        </p>

        <p><strong><span><span><span
                style="color:#000000">- Example:</span></span></span></strong></p>

        <p><em><span><span><span
                style="color:#000000">&nbsp;&nbsp;+ Had the film ended when you arrived at the cinema? </span><span
                style="color:#008000">(Bộ phim đã kết thúc khi bạn tới rạp chiếu phim phải không?)</span><br>
	<span style="color:#000000">Yes, it had./ No, it hadn’t.</span></span></span></em></p>
    </div>
</div>
<div class="item-active" id="item-3">
    <div class="item-title-active">
        <div class="item-title-active-content">III. CÁCH SỬ DỤNG
        </div>

    </div>
    <div class="item-active-content">
        <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
            <tbody>
            <tr>
                <td style="text-align:center"><span style="color:#ffa500"><strong><span
                ><span
                >Cách Sử Dụng</span></span></strong></span></td>
                <td style="text-align:center"><span style="color:#ffa500"><strong><span
                ><span>Ví dụ:</span></span></strong></span>
                </td>
            </tr>
            <tr>
                <td><span><span><span
                        style="color:#000000">- Diễn tả hành động đã xảy ra và đã hoàn thành trước một hành động khác trong quá khứ: Thường sử dụng các từ nối như before, after, just, when, as soon as, by the time, until,…</span></span></span>
                </td>
                <td>
                    <p><em><span><span><span
                            style="color:#000000">&nbsp;&nbsp;+ When I&nbsp;<u><strong>came</strong></u>, he&nbsp;<u><strong>had gone to bed</strong></u>. </span><span
                            style="color:#008000">(Khi tôi đến thì anh ta đã đi ngủ rồi.)</span></span></span></em>
                    </p>
                    <p><span><span><span
                            style="color:#000000"><em>&nbsp;&nbsp;+ The train&nbsp;<u><strong>had left</strong></u>&nbsp;when we&nbsp;<u><strong>arrived</strong></u>&nbsp;at the station. </em></span><span
                            style="color:#008000"><em>(Tàu đã rời đi khi chúng tôi tới &nbsp;nhà ga.)</em></span></span></span>
                    </p>
                </td>
            </tr>
            <tr>
                <td><span><span><span
                        style="color:#000000">- Diễn tả 1 hành động xảy ra một khoảng thời gian trong quá khứ, trước một mốc thời gian khác</span></span></span>
                </td>
                <td>
                    <p><em><span><span><span
                            style="color:#000000">&nbsp;&nbsp;+ I&nbsp;<u><strong>had gone</strong></u>&nbsp;to school before 7 a.m yesterday. </span><span
                            style="color:#008000">(Tôi đã đi học trước 7 giờ sáng ngày hôm qua.)</span></span></span></em>
                    </p>
                    <p><em><span><span><span
                            style="color:#000000">&nbsp;&nbsp;+ She&nbsp;<u><strong>had come</strong></u>&nbsp;back her hometown before June last year. </span><span
                            style="color:#008000">(Cô ấy đã trở về quê trước tháng 6 năm ngoái.)</span></span></span></em>
                    </p>
                </td>
            </tr>
            <tr>
                <td><span><span><span
                        style="color:#000000">- Diễn tả một hành động xảy ra như là điều kiện tiên quyết cho hành động khác trong quá khứ</span></span></span>
                </td>
                <td>
                    <p><em><span><span><span
                            style="color:#000000">&nbsp;&nbsp;+ I&nbsp;<u><strong>had work</strong></u>&nbsp;hard and was ready to pass the exam. </span><span
                            style="color:#008000">(Tôi đã học hành chăm chỉ và sẵn sàng để vượt qua kỳ thi.)</span></span></span></em>
                    </p>
                    <p><em><span><span><span
                            style="color:#000000">&nbsp;&nbsp;+ I&nbsp;<u><strong>had had</strong></u>&nbsp;a girlfriend and would marriage to her. </span><span
                            style="color:#008000">(Tôi có một người bạn gái và tôi sẽ cưới cô ấy)</span></span></span></em>
                    </p>
                </td>
            </tr>
            <tr>
                <td><span><span><span
                        style="color:#000000">- Dùng trong câu điều kiện loại 3, để diễn tả điều không có thực trong quá khứ.</span></span></span>
                </td>
                <td>
                    <p><em><span><span><span
                            style="color:#000000">&nbsp;&nbsp;+ If she&nbsp;<u><strong>had told</strong></u>&nbsp;me the truth yesterday, I would have helped her.</span><span
                            style="color:#008000"> (Nếu hôm qua cô ấy nói sự thật với tôi, tôi đã có thể giúp cô ấy rồi).</span></span></span></em>
                    </p>
                </td>
            </tr>
            <tr>
                <td><span><span><span
                        style="color:#000000">- Dùng trong câu mong ước để diễn tả ước muốn trong quá khứ.</span></span></span>
                </td>
                <td>
                    <p><em><span><span style="color:#000000"><span
                    >&nbsp;&nbsp;+ I wish&nbsp;<u><strong>I had</strong></u>&nbsp;&nbsp;gone with you yesterday. </span></span><span
                            style="color:#008000"><span>(Tôi ước rằng tôi đã đi với bạn ngày hôm qua.)</span></span></span></em>
                    </p>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="item-active" id="item-4">
    <div class="item-title-active">
        <div class="item-title-active-content">IV. DẤU HIỆU ĐỂ NHẬN BIẾT
        </div>

    </div>
    <div class="item-active-content">
        <p><span style="color:#ffa500"><strong><span><span
        >Trong câu có các từ:</span></span></strong></span></p>

        <p><span style="color:#66cc00"><strong><span><span
        >+ When: Khi</span></span></strong></span></p>

        <p><span><span><span
                style="color:#000000">- Eg:</span></span></span></p>

        <p><em><span><span><span
                style="color:#000000">&nbsp;&nbsp;+ <u>When</u>&nbsp;they arrived at the airport, her flight&nbsp;<u><strong>had taken</strong></u>&nbsp;off. </span><span
                style="color:#008000">(Khi họ tới sân bay, chuyến bay của cô ấy đã cất cánh.)</span></span></span></em>
        </p>

        <p><span style="color:#66cc00"><span><span
        ><strong>+ Before: Trước khi&nbsp;</strong></span></span></span></p>

        <p><span><span><span style="color:#000000">=&gt; Trước “before” sử dụng thì quá khứ hoàn thành và sau “before” sử dụng thì quá khứ đơn.</span></span></span>
        </p>

        <p><span><span><span
                style="color:#000000">- Eg:</span></span></span></p>

        <p><em><span><span><span
                style="color:#000000">&nbsp;&nbsp;+ He&nbsp;<u><strong>had done</strong></u>&nbsp;her homework&nbsp;<u>before</u>&nbsp;his mother&nbsp;<u><strong>asked</strong></u>&nbsp;his to do so. </span><span
                style="color:#008000">(Anh ấy đã làm bài tập về nhà trước khi mẹ anh ấy yêu cầu anh ấy làm.)</span></span></span></em>
        </p>

        <p><span style="color:#66cc00"><span><span
        ><strong>+ After: sau khi&nbsp;</strong></span></span></span></p>

        <p><span><span><span style="color:#000000">=&gt; Trước “after” sử dụng thì quá khứ đơn và sau “after” sử dụng thì quá khứ hoàn thành.)</span></span></span>
        </p>

        <p><span><span><span
                style="color:#000000">- Eg:</span></span></span></p>

        <p><em><span><span><span
                style="color:#000000">&nbsp;&nbsp;+ They&nbsp;<u><strong>went</strong></u>&nbsp;home&nbsp;<u>after</u>&nbsp;they&nbsp;<u><strong>had eaten</strong></u>&nbsp;a big roasted chicken.</span><span
                style="color:#008000"> (Họ về nhà sau khi đã ăn một con gà quay lớn.)</span></span></span></em></p>

        <p><span style="color:#66cc00"><span><span
        ><strong>+ By the time: Vào thời điểm</strong></span></span></span></p>

        <p><span><span><span
                style="color:#000000">- Eg:</span></span></span></p>

        <p><em><span><span><span
                style="color:#000000">&nbsp;&nbsp;+ He&nbsp;<u><strong>had cleaned</strong></u>&nbsp;the house&nbsp;<u>by the time</u>&nbsp;her mother came back. </span><span
                style="color:#008000">(Cậu ấy đã lau xong nhà vào thời điểm mẹ cậu ấy trở về.)</span></span></span></em>
        </p>
    </div>
</div>
