<meta charset="UTF-8">
<div class="first-content">
    <p><strong><span style="font-size:14px">I. Định nghĩa</span></strong></p>
    <p><span style="font-size:14px"><strong>Vị ngữ</strong> là một trong hai thành phần chính của câu và mệnh đề (chủ ngữ và vị ngữ). Vị ngữ thường là thành phần chứa động từ (hoặc cụm động từ) và là một nhóm những từ đứng phía sau và hoàn thành  ý nghĩa của một câu hay mệnh đề. </span>
    </p></div>
<div class="last-content"><p><span style="font-size:14px"><u><strong>Ví dụ</strong></u><strong>:</strong></span></p>
    <p><span style="font-size:14px"><em><strong>     o    I always walk to school.</strong> (Tôi luôn đi bộ đến trường.)<br/>  <strong>     o    Susan is a doctor.</strong> (Susan là một bác sĩ.)</em></span>
    </p>
    <p><strong><span style="font-size:14px">II. Phân loại</span></strong></p>
    <p><span style="font-size:14px">     <strong><em>1. <u>Vị ngữ là cụm động từ thường</u></em></strong></span></p>
    <p><span style="font-size:14px">Cụm động từ thường có hai thành phần chính yếu: <em><strong>động từ chính và tân ngữ (nếu có)</strong></em>. Động từ chính là hành động được chủ ngữ thực hiện. Tân ngữ chính là người hay vật chịu tác động của hành động. </span>
    </p>
    <p><span style="font-size:14px">Cụm động từ trong vị ngữ tiếng Anh có thể có hoặc không có tân ngữ, tùy vào động từ chính là nội hay ngoại động từ.</span>
    </p>
    <p><span style="font-size:14px">          <em>a) </em><u><em>Động từ không có tân ngữ</em></u></span></p>
    <p><span style="font-size:14px">Như đã đề cập ở trên, những động từ là nội động từ vẫn có thể đóng vai trò vị ngữ trong câu mà không cần sự bổ trợ của tân ngữ.</span>
    </p>
    <p><span
            style="font-size:14px">Một số nội động từ được nói đến là: <em><strong>cry </strong>(khóc)<strong>, fall </strong>(té)<strong>, set</strong> (mọc)<strong>, laugh </strong>(cười)<strong>, run </strong>(chạy)<strong>, …</strong></em></span>
    </p>
    <p><span style="font-size:14px"><strong><u>Ví dụ:</u></strong></span></p>
    <p><em><span style="font-size:14px">     o    <strong>I laughed.</strong> (Tôi cười tươi.)<br/>       o    <strong>The sun sets. </strong>(Mặt trời mọc.)</span></em>
    </p>
    <p><span style="font-size:14px">       <em>   b) <u>Động từ có tân ngữ</u></em></span></p>
    <p><span style="font-size:14px">Động từ có tân ngữ là những ngoại động từ dùng để nói đến các hành động có tương tác với sự vật khác.  Tân ngữ là đối tượng bị tác động bởi chủ ngữ hoặc một động từ. </span>
    </p>
    <p><span
            style="font-size:14px">Các động từ thường cần đi kèm tân ngữ để đủ ý là: <em><strong>eat </strong>(ăn), <strong>watch </strong>(xem), <strong>drink </strong>(uống), <strong>see </strong>(nhìn), <strong>hug </strong>(ôm), <strong>do </strong>(làm)…</em></span>
    </p>
    <p><span style="font-size:14px">Tân ngữ đứng sau động từ có thể là những loại từ khác nhau, bao gồm: cụm danh từ, động từ, mệnh đề hay đại từ.</span>
    </p>
    <p><span style="font-size:14px">               <span style="color:#3498db">i. Tân ngữ là cụm danh từ</span></span>
    </p>
    <p><span style="font-size:14px">Tân ngữ đi sau động từ có thể là danh từ hoặc cụm danh từ.</span></p>
    <p><u><strong><span style="font-size:14px">Ví dụ:</span></strong></u></p>
    <p><em><span style="font-size:14px"><strong>     o    He ate a hamburger.</strong> (Anh ấy ăn một cái bánh mì kẹp thịt.)<br/>  <strong>     o    I watch TV.</strong> (Tôi xem TV.)</span></em>
    </p>
    <p><span style="font-size:14px">               <span style="color:#3498db">ii. Tân ngữ là động từ dạng V-ing hoặc To + Verb (to + động từ nguyên mẫu)</span></span>
    </p>
    <p><span style="font-size:14px">Ở tân ngữ dạng <strong>V-ing</strong>, thường thì động từ sẽ là các từ mang nghĩa cảm nhận như <em><strong>like </strong>(thích), <strong>dislike </strong>(không thích), <strong>hate </strong>(ghét), <strong>enjoy </strong>(thích/tận hưởng),… </em>hoặc hành động liên quan đến tính tiếp diễn/lặp lại như<em> <strong>practice </strong>(luyện tập), <strong>go </strong>(đi), <strong>stop </strong>(ngừng)…</em></span>
    </p>
    <p><u><strong><span style="font-size:14px">Ví dụ:</span></strong></u></p>
    <p><em><span
            style="font-size:14px"><strong>     o    I enjoy playing tennis.</strong> (Tôi thích chơi bóng bàn.)<br/>  <strong>     o    It stopped raining.</strong> (Trời đã ngừng mưa.)</span></em>
    </p>
    <p><span style="font-size:14px">Ở tân ngữ dạng <strong>To + Verb</strong>, có nhiều động từ có thể đứng trước cụm từ này như <strong><em>begin, start, need,…</em> </strong>và các động từ thể hiện thái độ với hành động như <em><strong>love, hate, like, want,…</strong></em></span>
    </p>
    <p><strong><u><span style="font-size:14px">Ví dụ:</span></u></strong></p>
    <p><em><span
            style="font-size:14px"><strong>     o    It started to rain. </strong>(Trời bắt đầu đổ mưa.)<br/>  <strong>     o    I want to go home. </strong>(Tôi muốn về nhà.)</span></em>
    </p>
    <p><span style="font-size:14px">               <span style="color:#3498db">iii. Tân ngữ là dạng that-clause (mệnh đề that)</span></span>
    </p>
    <p><span style="font-size:14px">Tân ngữ dạng <strong>that-clause </strong>sẽ dùng với động từ cần đi kèm với thông tin có thể diễn tả bằng mệnh đề. Mệnh đề sau that cũng bao gồm chủ ngữ và vị ngữ. </span>
    </p>
    <p><span style="font-size:14px">Các động từ thường đi kèm tân ngữ cùng mệnh đề that bao gồm: <strong>think, say, believe,…</strong></span>
    </p>
    <p><span style="font-size:14px"><strong><u>Ví dụ</u></strong>:</span></p>
    <p><em><span style="font-size:14px"><strong>     o    She believes that love can change the world.</strong> (Cô ấy tin rằng tình yêu có thể thay đổi cả thể giới.)<br/>  <strong>     o    They think that he’ll win.</strong> (Họ nghĩ rằng anh ấy sẽ thắng.)</span></em>
    </p>
    <p><span style="font-size:14px">               <span style="color:#3498db">iv. Tân ngữ là đại từ</span></span></p>
    <p><span style="font-size:14px">Khi đối tượng đã được nhắc đến hoặc xác định, ta có thể dùng đại từ tân ngữ. Đại từ tân ngữ là đại từ đứng sau động từ. Các đại từ tân ngữ là: <strong>him, her, me, you, it, them, us</strong>.</span>
    </p>
    <p><strong><span style="font-size:14px"><u>Ví dụ</u>:</span></strong></p>
    <p><em><span
            style="font-size:14px"><strong>     o    What are you doing with those matches? Give them to me. </strong>(Con làm gì với mấy que diêm đó vậy? Đưa chúng cho mẹ đi.)<br/>  <strong>     o    The manager will be free soon. You can wait for her here. </strong>(Quản lý sẽ đến ngay.Bạn có thể đợi cô ấy ở đây.)</span></em>
    </p>
    <p style="text-align:center"><span style="font-size:14px">
        <img alt="" src="file:///android_asset/images/cum-dong-tu.jpeg"/><br/>  <strong><em><span
            class="content_image_note">Cấu trúc cụm động từ trong tiếng Anh</span></em></strong></span>
    </p>
    <p><span style="font-size:14px"><strong>     2. <u><em>Vị ngữ chứa trợ động từ</em></u></strong></span></p>
    <p><span style="font-size:14px">Trong tiếng Anh, thỉnh thoảng chúng ta sẽ phải dùng thêm một động từ khác để bổ sung ý nghĩa cho động từ, và chúng được gọi là trợ động từ. Trợ động từ xuất hiện trong vị ngữ là đặc điểm của nhiều cấu trúc ngữ pháp. Chẳng hạn như: hiện tại tiếp diễn, quá khứ đơn phủ định, động từ khiếm khuyết,…</span>
    </p>
    <p><strong><span style="font-size:14px"><u>Ví dụ</u>:</span></strong></p>
    <p><em><span style="font-size:14px"><strong>     o    Her mother is living with her at the moment. </strong>(Hiện tại cô ấy đang sống cùng mẹ của mình.)<br/>    <strong>   o    They didn't go to Paris.</strong> (Họ không đến Paris.)<br/>  <strong>     o    He couldn't answer the question.</strong> (Anh ấy không thể trả lời câu hỏi.)</span></em>
    </p>
    <p><span style="font-size:14px"><strong>     3.<u><em> Các trường hợp đặc biệt</em></u></strong></span></p>
    <p><span style="font-size:14px"><em>          i. <u>Động từ + cụm danh từ</u></em></span></p>
    <p><span
            style="font-size:14px">Để nói chủ ngữ là ai đó hoặc cái gì đó, chúng ta dùng một số động từ như <strong><em>to be </em></strong><em>và </em><strong><em>become</em></strong>, và dùng công thức vị ngữ. Các động từ phổ biến của cấu trúc này đó là:<em> <strong>to be</strong> (là), <strong>become </strong>(trở thành, trở nên).</em></span>
    </p>
    <p><strong><span style="font-size:14px"><u>Ví dụ</u>:</span></strong></p>
    <p><em><span style="font-size:14px"><strong>     o    Susan is a doctor. </strong>(Susan là bác sĩ.)<br/>  <strong>     o    She became queen. </strong>(Bà ấy đã trở thành nữ hoàng.)</span></em>
    </p>
    <p><span style="font-size:14px"><em>          ii. <u>Động từ + tính từ</u></em></span></p>
    <p><span style="font-size:14px">Để nói chủ ngữ có tính chất gì đó, chúng ta dùng các động từ như <strong>to be, become, feel, look, sound, seem, … </strong> và dùng công thức vị ngữ.</span>
    </p>
    <p><strong><span style="font-size:14px"><u>Ví dụ</u>:</span></strong></p>
    <p><em><span style="font-size:14px"><strong>     o    I feel bad about leaving you like this.</strong> (Tôi cảm thấy thật tệ nếu phải rời bỏ em như vậy.)<br/>  <strong>     o    You seem happy. </strong>(Trông bạn có vẻ rất vui.)</span></em>
    </p>
    <p><span style="font-size:14px">          <em>iii. </em><u><em>Động từ + cụm giới từ</em></u></span></p>
    <p><span style="font-size:14px">Để nói chủ ngữ ở đâu đó hay ở lúc nào đó, chúng ta dùng động từ to be và dùng công thức vị ngữ.</span>
    </p>
    <p><strong><span style="font-size:14px"><u>Ví dụ</u>:</span></strong></p>
    <p><em><span style="font-size:14px"><strong>     o    I am at home.</strong> (Tôi đang ở nhà.)<br/>  <strong>     o    She is at Yale.</strong> (Cô ấy đang học tại trường Yale.)</span></em>
    </p>
    <p><span style="font-size:14px">Sau khi tìm hiểu về cấu trúc vị ngữ trong tiếng Anh, các bạn có tự tin nhìn và xác định ngay vị ngữ cũng như các thành phần chính trong câu không nào?</span>
    </p>                    </p>                                </div>