<meta charset="UTF-8">
<div class="first-content">
    <p><strong><span style="font-size:14px">I. Định nghĩa</span></strong></p>
    <p><span style="font-size:14px"><strong>Chủ ngữ</strong> là chủ thể của hành động trong câu. Chủ ngữ thường sẽ đứng trước động từ (verb). </span>
    </p></div>
<div class="last-content"><p><span style="font-size:14px"><strong>Chủ ngữ</strong> thường là một danh từ (noun) hoặc một cụm danh từ (noun phrase – một nhóm từ kết thúc bằng một danh từ). Đồng thời, chủ ngữ cũng có thể là đại từ hay một số dạng đặc biệt khác.</span>
</p>
    <p><span
            style="font-size:14px"><strong>Chủ ngữ</strong> thường đứng ở đầu câu và quyết định việc chia động từ.</span>
    </p>
    <p><span style="font-size:14px"><strong><u>Ví dụ:</u></strong> </span></p>
    <p><span
            style="font-size:14px">     o   <strong> </strong><em><strong>Fruit juices contain natural sugars. </strong>(Nước ép trái cây chứa chất đường tự nhiên.)</em><br/>  <em>   <strong>  o    He and I are old friends.</strong> (Tôi và anh ấy là bạn cũ.)</em></span>
    </p>
    <p><strong><span style="font-size:14px">II. Phân loại</span></strong></p>
    <p><strong><span style="font-size:14px">     <em>1) <u>Chủ ngữ là cụm danh từ</u></em></span></strong></p>
    <p><span style="font-size:14px">Cụm danh từ là một cụm từ bao gồm một danh từ và các từ bổ nghĩa cho danh từ này. Một cụm danh từ có cấu trúc cơ bản sau:</span>
    </p>
    <div class="dv_spectial_content"
         style="background:#fff6e6; border:1px solid #f6bd00; padding:15px; text-align:center"><span
            style="font-size:14px"><strong>Cụm danh từ = Các từ bổ nghĩa + Danh từ + Các từ bổ nghĩa</strong></span>
    </div>
    <p><span style="font-size:14px">      <em>    a) <u>(Mạo từ) + Danh từ</u></em></span></p>
    <p><span style="font-size:14px">Danh từ là loại từ được dùng làm chủ ngữ trong tiếng Anh phổ biến. Danh từ là các từ chỉ người, sự vật, con vật, khái niệm.</span>
    </p>
    <p><u><strong><span style="font-size:14px">Ví dụ:</span></strong></u></p>
    <p><em><span style="font-size:14px"><strong>     o    The sheep are allowed to roam freely on this land. </strong> (Những con cừu được thả rông trên vùng đất này.)<br/>  <strong>     o    A red rose was laid at the memorial.</strong> (Một nhánh hoa hồng đỏ được đặt trên đài tưởng niệm.)</span></em>
    </p>
    <p><span style="font-size:14px"><em>          b) <u>Danh từ + Danh từ</u></em></span></p>
    <p style="text-align:justify"><span style="font-size:14px">Danh từ bổ nghĩa cho danh từ là một loại cụm danh từ khá phổ biến trong tiếng Anh. Loại từ này bao gồm một danh từ chính và một danh từ khác để bổ nghĩa cho danh từ chính đã đề cập.</span>
    </p>
    <p style="text-align:justify"><u><strong><span style="font-size:14px">Ví dụ:</span></strong></u></p>
    <p style="text-align:justify"><span style="font-size:14px"> <strong>  </strong><em><strong>  o    The deputy head was taking school assembly that day.</strong> (Ngày hôm đó, phó hiệu trưởng đã đi họp toàn trường.)<br/>  <strong>     o    Streetcar lines carried passengers to ever more distant areas of the city.</strong> (Các tuyến xe điện đã đưa hành khách đến những khu vực xa xôi hơn bao giờ hết của thành phố.)</em></span>
    </p>
    <p style="text-align:justify"><span style="font-size:14px">          <em>c) <u>Tính từ + Danh từ</u></em></span></p>
    <p style="text-align:justify"><span style="font-size:14px">Tính từ là những từ dùng để mô tả tính chất, sắc thái, đặc điểm của đối tượng nào đó. Tính từ là những từ đứng trước danh từ, bổ nghĩa cho danh từ để miêu tả các tính chất của danh từ.</span>
    </p>
    <p style="text-align:justify"><u><strong><span style="font-size:14px">Ví dụ:</span></strong></u></p>
    <p style="text-align:justify"><span style="font-size:14px"><strong>   </strong><em><strong>  o    The beautiful girl is singing.</strong> (Cô gái xinh đẹp đang ca hát.)<br/>  <strong>     o    Red clothes are suitable for me. </strong>(Quần áo màu đỏ rất hợp với tôi.)</em></span>
    </p>
    <p style="text-align:justify"><span
            style="font-size:14px"><em>          d) <u>Trạng từ + Tính từ + Danh từ</u> </em></span></p>
    <p style="text-align:justify"><span style="font-size:14px">Trạng từ có thể là một phần của chủ ngữ trong tiếng Anh để mô tả thêm mức độ, trạng thái của tính từ đi sau. Các trạng từ bổ nghĩa cho tính từ có thể là: very, really, quite,…</span>
    </p>
    <p style="text-align:justify"><strong><u><span style="font-size:14px">Ví dụ:</span></u></strong></p>
    <p style="text-align:justify"><em><span style="font-size:14px"><strong>     o    A very cute bunny is running into our house!</strong> (Một chú thỏ vô cùng đáng yêu đang chạy vào nhà chúng ta!)<br/>  <strong>     o    The really ugly shirts are still in your closet.</strong> (Những chiếc áo xấu xí này vẫn nằm trong tủ quần áo của bạn.)</span></em>
    </p>
    <p style="text-align:justify"><span style="font-size:14px"><em>          e) <u>Từ hạn định + Danh từ</u></em></span>
    </p>
    <p style="text-align:justify"><span style="font-size:14px">Từ hạn định là những từ đứng trước danh từ, dùng để bổ nghĩa nhằm giới hạn và xác định danh từ. Các từ hạn định phổ biến là: the, this, those, one, my, our, some,…</span>
    </p>
    <p style="text-align:justify"><strong><u><span style="font-size:14px">Ví dụ:</span></u></strong></p>
    <p style="text-align:justify"><span style="font-size:14px"><strong>  </strong><em><strong>   o    Some people find this more difficult than others. </strong>(Một số người thấy nó khó hơn những người khác.)<br/>  <strong>     o    That incident changed their lives. </strong>(Sự cố đó đã thay đổi cuộc đời họ.)</em></span>
    </p>
    <p style="text-align:justify"><span style="font-size:14px">   <em>       f) <u>Danh từ + Cụm giới từ</u></em></span>
    </p>
    <p style="text-align:justify"><span style="font-size:14px">Cụm giới từ là cụm từ được bắt đầu bằng một giới từ. Cụm giới từ trong tiếng Anh dùng để chỉ cụ thể địa điểm, đặc điểm hay các thông tin khác của danh từ. </span>
    </p>
    <p style="text-align:justify"><strong><u><span style="font-size:14px">Ví dụ:</span></u></strong></p>
    <p style="text-align:justify"><em><span style="font-size:14px"><strong>     o    The office on the second floor is very large.</strong> (Văn phòng trên tầng hai rất lớn.)<br/>  <strong>     o    The woman in red skirt seems happy. </strong>(Người phụ nữ mặc váy đỏ có vẻ hạnh phúc.)</span></em>
    </p>
    <p style="text-align:justify"><span
            style="font-size:14px"><em>          g) <u>Danh từ + Mệnh đề quan hệ</u></em></span></p>
    <p style="text-align:justify"><span style="font-size:14px">Mệnh đề quan hệ trong tiếng Anh là mệnh đề phụ được nối với mệnh đề chính bởi các đại từ quan hệ hoặc trạng từ quan hệ. Mệnh đề quan hệ đứng sau danh từ/đại từ và bổ nghĩa cho danh từ/đại từ đó.</span>
    </p>
    <p style="text-align:justify"><u><strong><span style="font-size:14px">Ví dụ:</span></strong></u></p>
    <p style="text-align:justify"><em><span style="font-size:14px"><strong>     o    The people who called yesterday want to buy the house.</strong> (Những người gọi đến vào ngày hôm qua muốn mua nhà.)<br/>  <strong>     o    Houses which overlook the lake cost more.</strong> (Những ngôi nhà có hướng nhìn ra bờ hồ có giá cao hơn.)</span></em>
    </p>
    <p style="text-align:justify"><span style="font-size:14px"><em>          h) <u>Danh từ + To_verb</u></em></span></p>
    <p style="text-align:justify"><span style="font-size:14px">Cấu trúc <strong>To + Verb (động từ nguyên mẫu) </strong>đứng sau danh từ, được dùng để bổ nghĩa cho danh từ đó. Cấu trúc này thường được dùng để nhấn mạnh vào lần thứ mấy mà sự việc nói đến đã xảy ra.</span>
    </p>
    <p style="text-align:justify"><strong><u><span style="font-size:14px">Ví dụ:</span></u></strong></p>
    <p style="text-align:justify"><em><span style="font-size:14px"><strong>     o    The last person to leave the house had to turn off all the lights.</strong> (Người cuối cùng ra khỏi nhà phải tắt tất cả những bóng đèn.)<br/>  <strong>     o    The first guest to leave the dinner had a stomach ache.</strong> (Vị khách đầu tiên rời khỏi bữa tối đã bị đau bụng.)</span></em>
    </p>
    <p style="text-align:justify"><span style="font-size:14px"><em>          i) <u>Lưu ý về cụm danh từ</u></em></span>
    </p>
    <p style="text-align:justify"><span style="font-size:14px">Một cụm danh từ hoàn chỉnh có cấu trúc cụ thể sau:</span>
    </p>
    <div class="dv_spectial_content"
         style="background:#fff6e6; border:1px solid #f6bd00; padding:15px; text-align:center"><span
            style="font-size:14px"><strong>(Từ hạn định) + (Trạng từ) + (Tính từ) + (Danh từ bổ nghĩa) + Danh từ chính + (Mệnh đề quan hệ)/(to + Động từ nguyên mẫu)/(Cụm giới từ)</strong></span>
    </div>
    <p style="text-align:center"><span style="font-size:14px"><img alt="" src="file:///android_asset/images/chu-ngu.jpeg"/><br/>  <em><strong><span
            class="content_image_note">Cấu trúc cụm danh từ đầy đủ.</span></strong></em></span></p>
    <p style="text-align:justify"><strong><span style="font-size:14px">Trong đó:</span></strong></p>
    <ol>
        <li style="text-align:justify"><span style="font-size:14px">Những loại từ và cấu trúc trong ngoặc không bắt buộc phải xuất hiện để chủ ngữ có nghĩa </span>
        </li>
        <li style="text-align:justify"><span style="font-size:14px">Bắt buộc phải có danh từ chính, trừ trường hợp câu cảm thán. Còn với câu ra lệnh, đề nghị thì chủ ngữ đã được ẩn đi. </span>
        </li>
    </ol>
    <p style="text-align:justify"><span style="font-size:14px"><u><strong>Ví dụ:</strong></u></span></p>
    <p style="text-align:justify"><em><span
            style="font-size:14px"><strong>     o    “Don’t leave the door open!” </strong>– “Đừng để cửa mở!”.<br/>  <strong>     o    “What a lovely doll!” </strong>– “Thật là một con búp bê dễ thương!”</span></em>
    </p>
    <p style="text-align:justify"><em><strong><span
            style="font-size:14px">     2) </span></strong></em><u><em><strong><span style="font-size:14px">Chủ ngữ là đại từ</span></strong></em></u>
    </p>
    <p style="text-align:justify"><span style="font-size:14px">Đại từ là từ có chức năng đại diện cho một cụm danh từ đã nhắc đến trước đó. Khi chủ ngữ trong tiếng Anh là đại từ, ta có các từ: <strong><em>he, she, it, they, I, we, you, this, that, these, those.</em></strong></span>
    </p>
    <p style="text-align:justify"><u><strong><span style="font-size:14px">Ví dụ:</span></strong></u></p>
    <p style="text-align:justify"><em><span style="font-size:14px"><strong>     o    John has a daughter. She's a student at Oxford. </strong>(John có một cô con gái. Con bé ấy là sinh viên của Oxford.)<br/>  <strong>     o    ‘Where are John and Liz?’ - ‘They went for a walk.’ </strong>("John và Liz đang ở đâu?" - "Họ đã đi dạo.")</span></em>
    </p>
    <p style="text-align:justify"><span style="font-size:14px">     <em><strong>3) <u>Chủ ngữ là những dạng đặc biệt</u></strong></em></span>
    </p>
    <p style="text-align:justify"><span style="font-size:14px"><em>          i. <u>Dạng động từ V_ing</u></em></span>
    </p>
    <p style="text-align:justify"><span style="font-size:14px">Dạng động từ V-ing trong tiếng Anh có thể làm chủ ngữ vì khi ấy chúng sẽ trở thành danh từ.</span>
    </p>
    <p style="text-align:justify"><u><strong><span style="font-size:14px">Ví dụ:</span></strong></u></p>
    <p style="text-align:justify"><span style="font-size:14px"><strong>   </strong><em><strong>  o    Swimming is a good form of exercise.</strong> (Bơi lội là một hình thức tập thể dục tốt.)<br/>  <strong>     o    Going to Japan is my mom’s dream.</strong> (Đi tới Nhật là ước mơ của mẹ tôi.)</em></span>
    </p>
    <p style="text-align:justify"><span style="font-size:14px">         <em> ii. <u>Dạng động từ V_ to</u></em></span>
    </p>
    <p style="text-align:justify"><span style="font-size:14px">Dạng động từ V-to trong tiếng Anh có thể làm chủ ngữ vì khi ấy chúng sẽ trở thành danh từ.</span>
    </p>
    <p style="text-align:justify"><u><strong><span style="font-size:14px">Ví dụ:</span></strong></u></p>
    <p style="text-align:justify"><em><span
            style="font-size:14px"><strong>     o    To win the award is Anna’s wish.</strong> (Mong ước của Anna là giành được giải thưởng.)<br/>  <strong>     o    To be with you is the only thing I want. </strong>(Tôi chỉ muốn được ở bên cạnh em.)</span></em>
    </p>
    <p style="text-align:justify"><span style="font-size:14px">        <em>  iii. <u>Dạng that clause</u></em></span>
    </p>
    <p style="text-align:justify"><span style="font-size:14px">Dạng đặc biệt cuối cùng là dạng that clause. Dạng that clause là mệnh đề bắt đầu bằng từ that kèm chủ ngữ và vị ngữ. Cả mệnh đề này sẽ là cụm danh từ, trở thành một cụm chủ ngữ trong tiếng Anh.</span>
    </p>
    <p style="text-align:justify"><span style="font-size:14px"><strong><u>Ví dụ:</u></strong></span></p>
    <p style="text-align:justify"><em><span style="font-size:14px"><strong>     o    That we are not prepared for the future concerns us. </strong>(Việc chúng ta không chuẩn bị trước cho tương lai làm chúng tôi lo ngại.)<br/>  <strong>     o    That he took all my money away has upset me.</strong> (Việc cậu ta lấy hết tiền của tôi đi làm tôi bực mình.)</span></em>
    </p>
    <p style="text-align:justify"><span style="font-size:14px">Sau khi tìm hiểu về cấu trúc vị ngữ trong tiếng Anh, các bạn có tự tin nhìn và xác định ngay vị ngữ cũng như các thành phần chính trong câu không nào?</span>
    </p>                    </p>                                </div>