<meta charset="UTF-8">
<div class="first-content"><p><span style="color:#000000"><span
        style="font-size:14px"><strong>I. TỔNG QUAN VÀ Ý NGHĨA</strong></span></span></p>
    <p><span style="color:#000000"><span style="font-size:14px">So far thường được sử dụng như một trạng từ trong tiếng Anh với hai ý nghĩa chính:</span></span>
    </p>
    <p><span style="color:#000000"><span
            style="font-size:14px"><strong>1. <u>So far</u>: Cho đến nay, cho đến giờ</strong></span></span></p>
    <p><span style="color:#000000"><span style="font-size:14px">So far thường được mọi người biết đến rộng rãi nhất với tầng nghĩa này. Cũng chính bởi vì tầng nghĩa quen thuộc này, So far đóng vai trò như một dấu hiệu nhận biết của thì hiện tại hoàn thành – một thì khá phổ biến và quan trọng trong ngữ pháp và giao tiếp tiếng Anh.</span></span>
    </p></div>
<div class="last-content">
    <ul>
        <li><em><strong><span style="color:#000000"><span style="font-size:14px">So far, only two Democrats have entered the race for governor. </span></span></strong><span
                style="color:#000000"><span style="font-size:14px">(Cho đến bây giờ, chỉ có hai đảng viên đảng dân chủ tham gia tranh cử thống đốc.)</span></span></em>
        </li>
        <li><em><strong><span style="color:#000000"><span style="font-size:14px">I haven’t had to borrow any money so far. </span></span></strong><span
                style="color:#000000"><span style="font-size:14px">(Tôi chưa mượn được đồng tiền nào cho đến thời điểm bây giờ.)</span></span></em>
        </li>
    </ul>
    <p><strong><span style="color:#000000"><span
            style="font-size:14px">2. <u>So far</u>: Đến mức độ nào đó</span></span></strong></p>
    <p><span style="color:#000000"><span style="font-size:14px">Ngoài ý nghĩa cho đến nay, cho đến thời điểm hiện tại, so far còn được sử dụng với nghĩa cho đến một mức độ nào đó.</span></span>
    </p>
    <ul>
        <li><em><strong><span style="color:#000000"><span style="font-size:14px">She said that she couldn’t tolerate his rudeness so far. </span></span></strong><span
                style="color:#000000"><span style="font-size:14px">(Cô ấy nói rằng cô ấy không thể chịu đựng được sự thô lỗ của anh ấy tới mức độ này nữa.)</span></span></em>
        </li>
        <li><em><strong><span style="color:#000000"><span
                style="font-size:14px">She trusts him only so far. </span></span></strong><span
                style="color:#000000"><span
                style="font-size:14px">(Cô ấy chỉ tin tưởng anh ấy đến một mức nào đấy thôi.</span></span><strong><span
                style="color:#000000"><span style="font-size:14px">)</span></span></strong></em></li>
    </ul>
    <p><span style="color:#000000"><span
            style="font-size:14px"><strong>II. CÔNG THỨC VÀ CÁCH SỬ DỤNG</strong></span></span></p>
    <p><span style="color:#000000"><span
            style="font-size:14px"><strong>1. <u>So far</u> trong thì hiện tại hoàn thành</strong></span></span></p>
    <p><span style="color:#000000"><span style="font-size:14px">Thì hiện tại hoàn thành diễn tả hành động xảy ra trong quá khứ và vẫn đang tiếp diễn ở hiện tại. So far lại mang ý nghĩa là “cho đến bây giờ”, tức là vẫn chưa có thời điểm xác định, sự việc chưa kết thúc hẳn.</span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:14px"><strong>“So far”</strong> không được sử dụng cho thì quá khứ vì đối với thì quá khứ thì hành động đã xảy ra và kết thúc hẳn trong quá khứ, nhưng trong khi đó “so far” bản thân của cụm từ chỉ ra rằng hành động này vẫn chưa kết thúc hẳn trong quá khứ.</span></span>
    </p>
    <p><strong><span style="color:#000000"><span style="font-size:14px">2. <u>So far</u> so good</span></span></strong>
    </p>
    <p><span style="color:#000000"><span style="font-size:14px">Đối với So far, chúng ta còn có một thành ngữ rất phổ biến là So far so good với ý nghĩa là mọi thứ vẫn ổn, mọi thứ vẫn tốt đẹp.</span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:14px"><u><strong>Ex</strong></u>: </span></span></p>
    <p><span style="color:#000000"><span
            style="font-size:14px"><strong>A</strong>: Hi, Lan. How do you do?<br/>  <strong>B</strong>: I am busy, but <strong>so far, so good.</strong></span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:14px"><strong>III. LƯU Ý CẦN NHỚ</strong></span></span></p>
    <p><span style="color:#000000"><span style="font-size:14px"><strong>So far và By far: <br/>  So far</strong> diễn tả thời gian, thường mang nghĩa là cho đến tận bây giờ, cho đến nay.</span></span>
    </p>
    <ul>
        <li><em><strong><span style="color:#000000"><span
                style="font-size:14px">I haven’t seen her so far. </span></span></strong><span
                style="color:#000000"><span
                style="font-size:14px">(Tôi đã không gặp cô ấy cho đến tận bây giờ)</span></span></em></li>
    </ul>
    <p><span style="color:#000000"><span style="font-size:14px"><strong>By far</strong> dùng để chỉ vị trí, khoảng cách, số lượng với nghĩa là cao hơn, xa hơn.</span></span>
    </p>
    <ul>
        <li><em><strong><span style="color:#000000"><span style="font-size:14px">She is the best by far. </span></span></strong><span
                style="color:#000000"><span style="font-size:14px">(Cô ấy là người giỏi nhất (hơn xa mọi người).</span></span></em>
        </li>
    </ul>
</div>