<meta charset="UTF-8">
<div class="first-content"><p><span style="color:#000000"><span
        style="font-size:14px"><strong>1. Cấu trúc và cách dùng</strong></span></span></p>
    <p><span style="color:#000000"><span style="font-size:14px">Cấu trúc <strong>How often</strong> không có nhiều ý nghĩa. How often được sử dụng để đặt câu hỏi về mức độ thường xuyên hay tần suất thực hiện một hành động nào đó bất kỳ.</span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:14px">Cấu trúc câu với How often:</span></span></p>
    <p style="text-align:center"><strong><span style="color:#ff3300"><span style="font-size:14px"><span
            style="background-color:#ffff00">How often + Auxiliary Verb + S + V</span></span></span></strong></p></div>
<div class="last-content"><p><span style="color:#000000"><span style="font-size:14px">• How often do you go to the theatre? (Bạn đi đến rạp hát bao lâu một lần?)<br/>  • How often do you go swimming? (Bạn đi bơi bao lâu một lần?)</span></span>
</p>
    <p><span style="color:#000000"><span style="font-size:14px"><strong>2. Cách trả lời câu hỏi</strong></span></span>
    </p>
    <p><strong><span style="color:#000000"><span style="font-size:14px">i. Trạng từ chỉ tần suất</span></span></strong>
    </p>
    <p><span style="color:#000000"><span style="font-size:14px">Khi trả lời các câu hỏi với “How often”, chúng ta thường sử dụng các cụm trạng từ chỉ tần suất (Adverb of frequency). <br/>  Cụm trạng từ chỉ tần suất là một nhóm các từ đi cùng nhau để miêu tả mức độ thường xuyên xảy ra của một sự việc nào đó.</span></span>
    </p>
    <p><span style="color:#000000"><span
            style="font-size:14px">Một số trạng từ chỉ tần suất phổ biến trong tiếng Anh:</span></span></p>
    <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
        <tbody>
        <tr>
            <td><span style="color:#000000"><span style="font-size:14px">Adverb of frequency </span></span></td>
            <td><span style="color:#000000"><span style="font-size:14px">Definition</span></span></td>
        </tr>
        <tr>
            <td><span style="color:#000000"><span style="font-size:14px">Always </span></span></td>
            <td><span style="color:#000000"><span style="font-size:14px">Luôn luôn</span></span></td>
        </tr>
        <tr>
            <td><span style="color:#000000"><span
                    style="font-size:14px">usually/ often/ frequently/ normally</span></span></td>
            <td><span style="color:#000000"><span style="font-size:14px">Thường xuyên</span></span></td>
        </tr>
        <tr>
            <td><span style="color:#000000"><span style="font-size:14px">sometimes/ occasionally</span></span></td>
            <td><span style="color:#000000"><span style="font-size:14px">Thỉnh thoảng</span></span></td>
        </tr>
        <tr>
            <td><span style="color:#000000"><span style="font-size:14px">seldom/ rarely/ hardly </span></span></td>
            <td><span style="color:#000000"><span style="font-size:14px"> Hiếm khi, hầu như không</span></span></td>
        </tr>
        <tr>
            <td><span style="color:#000000"><span style="font-size:14px">Never</span></span></td>
            <td><span style="color:#000000"><span style="font-size:14px">Không bao giờ</span></span></td>
        </tr>
        </tbody>
    </table>
    <p><br/> <strong><span style="color:#000000"><span style="font-size:14px"><em>• How often does he write to you? - He sometimes writes to me.</em> </span></span></strong><span
            style="color:#000000"><span
            style="font-size:14px"><em>(Anh ấy thỉnh thoảng vẫn viết thư cho tôi.)</em></span></span><br/> <strong><span
            style="color:#000000"><span style="font-size:14px"><em>• How often do they watch television these days? - They seldom watch television these days.</em> </span></span></strong><span
            style="color:#000000"><span
            style="font-size:14px"><em>(Ngày nay họ hiếm khi xem truyền hình.)</em></span></span><br/> <strong><span
            style="color:#000000"><span
            style="font-size:14px"><em>• How often does he help you? - He never helps me.</em> </span></span></strong><span
            style="color:#000000"><span style="font-size:14px"><em>(Anh ta chưa bao giờ giúp đỡ tôi.)</em></span></span>
    </p>
    <p><strong><span style="color:#000000"><span style="font-size:14px">ii. Cụm từ chỉ số lần</span></span></strong></p>
    <p><span style="color:#000000"><span style="font-size:14px">Ngoài những trạng từ chỉ tần suất (Adverb of frequency), chúng ta còn có thể sử dụng một số cụm từ phổ biến để miêu tả số lần xảy ra hành động được hỏi đến.</span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:14px">Cách thức hình thành: </span></span><span
            style="color:#e67e22"><span style="font-size:14px"><strong>Từ chỉ số lần + a +từ chỉ khoảng thời gian (day/week/month/year…)</strong></span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:14px"><strong>Lưu ý: </strong></span></span></p>
    <p><span style="color:#000000"><span style="font-size:14px">Đối với từ chỉ số lần: </span></span></p>
    <blockquote><p><span style="color:#000000"><span style="font-size:14px">Một lần: Once<br/>  Hai lần: Twice<br/>  Từ ba lần trở lên, chúng ta sẽ sử dụng: số đếm + times”</span></span>
    </p></blockquote>
    <p><em><span style="color:#000000"><span style="font-size:14px">• How often does he clean his car? - He cleans his car <strong>once a </strong>week. (Anh ấy rửa xe một tuần một lần)</span></span><br/>
        <span style="color:#000000"><span
                style="font-size:14px">• How often do they go there? - They go there</span></span><strong><span
                style="color:#000000"><span style="font-size:14px"> twice a </span></span></strong><span
                style="color:#000000"><span style="font-size:14px">month</span></span><strong><span
                style="color:#000000"><span style="font-size:14px">.</span></span></strong><span
                style="color:#000000"><span
                style="font-size:14px"> (Họ đến đó hai lần trong một tháng.)</span></span><br/> <span
                style="color:#000000"><span style="font-size:14px">• How often are the cows milked? - The cows are milked</span></span><strong><span
                style="color:#000000"><span style="font-size:14px"> three times a </span></span></strong><span
                style="color:#000000"><span style="font-size:14px">day.<strong><span style="color:#000000"><span
                style="font-size:14px"> </span></span></strong>(Những con bò được vắt sữa ba lần một ngày.)</span></span></em>
    </p>
    <p><span style="color:#000000"><span style="font-size:14px"><strong>iii. Cụm từ với every</strong><br/>  Ngoài những phương thức trả lời câu hỏi How often trên, chúng ta còn có thể sử dụng cấu trúc với EVERY để hình thành cụm từ chỉ tần suất:<br/>  Cách thức hình thành: </span></span><span
            style="color:#e67e22"><span style="font-size:14px"><strong>Every + các buổi hàng ngày, các danh từ chỉ ngày, tháng, tuần, năm.</strong></span></span>
    </p>
    <p><span style="color:#000000"><span
            style="font-size:14px">• How often do you go to the gym? - I go to the gym <strong>every day</strong>. <em>(Tôi đến phòng tập thể hình mỗi ngày.)</em><br/>  • How often do the buses go? - The buses go <strong>every 10 minutes</strong>.<em> (Xe buýt chạy mỗi 10 phút một lần.)</em></span></span>
    </p>
</div>