<meta charset="UTF-8">
<div class="first-content"><p><strong><span style="color:#000000"><span
        style="font-size:14px">I. TỔNG QUAN</span></span></strong></p>
    <p><span style="color:#000000"><span style="font-size:14px">Trong cấu trúc tiếng Anh, IF ONLY mang ý nghĩa “giá như, ước gì”. Dựa vào ý nghĩa của cụm từ, hẳn chúng ta cũng đoán được cách dùng của cấu trúc trên, đúng không nào? </span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:14px">Chúng ta sử dụng IF ONLY để thể hiện mong muốn hay ước muốn mãnh liệt hay khát khao thay đổi một sự việc nào đó. Cấu trúc này có cách sử dụng tương tự như cấu trúc I WISH nhưng lại có mức độ cảm thán cao hơn.</span></span>
    </p>
    <p><em><strong><span style="color:#000000"><span
            style="font-size:14px">• <u>If only</u> I knew her name. </span></span></strong><span style="color:#000000"><span
            style="font-size:14px">(Giá như mình biết tên cô ấy.)</span></span><br/> <strong><span
            style="color:#000000"><span
            style="font-size:14px">• <u>If only</u> I had gone by taxi. </span></span></strong><span
            style="color:#000000"><span style="font-size:14px">(Giá như mình đi bằng taxi.)</span></span><br/>
        <strong><span style="color:#000000"><span style="font-size:14px">• <u>If only</u> they would talk to each other. </span></span></strong><span
                style="color:#000000"><span
                style="font-size:14px">(Giá như họ sẽ nói chuyện cùng nhau.)</span></span></em></p></div>
<div class="last-content"><p><strong><span style="color:#000000"><span style="font-size:14px">II. CẤU TRÚC</span></span></strong>
</p>
    <p><span style="color:#000000"><span style="font-size:14px">Chúng ta sử dụng cấu trúc IF ONLY để nói về những tình huống không có thật ở quá khứ, hiện tại và cả tương lai.</span></span>
    </p>
    <p><strong><span style="color:#000000"><span
            style="font-size:14px">1. Cấu trúc IF ONLY ở hiện tại</span></span></strong></p>
    <p><span style="color:#000000"><span style="font-size:14px">Ta sử dụng cấu trúc trên để diễn tả mong muốn không có thật hay trái ngược với sự thật ở hiện tại.</span></span>
    </p>
    <p style="text-align:center"><span style="color:#ff3300"><strong><span style="font-size:14px"><span
            style="background-color:#ffff00">If only + S + V2/ed</span></span></strong></span></p>
    <p><span style="color:#000000"><span
            style="font-size:14px">Lưu ý, với động từ là tobe, ta luôn chia <strong>were</strong> cho tất cả các ngôi tương tự trong câu mong ước loại 2.</span></span>
    </p>
    <p><em><strong><span style="color:#000000"><span style="font-size:14px">• If only he knew the truth. </span></span></strong><span
            style="color:#000000"><span style="font-size:14px">(Giá như anh ấy biết được sự thật.)</span></span><br/>
        <strong><span style="color:#000000"><span style="font-size:14px">• If only she weren’t so tired. </span></span></strong><span
                style="color:#000000"><span style="font-size:14px">(Giá như cô ấy không mệt mỏi như vậy.)</span></span></em>
    </p>
    <p><span style="color:#000000"><span
            style="font-size:14px"><strong>2. Cấu trúc IF ONLY ở quá khứ</strong></span></span></p>
    <p><span style="color:#000000"><span style="font-size:14px">Ta sử dụng cấu trúc trên để thể hiện sự tiếc nuối về một sự việc nào đó không như ý và không có thực ở hiện tại, “cấu trúc If only diễn tả mong muốn trong quá khứ” cũng được sử dụng nhằm mục đích tương tự nhưng là với sự việc trong quá khứ.</span></span>
    </p>
    <p style="text-align:center"><strong><span style="color:#ff3300"><span style="font-size:14px"><span
            style="background-color:#ffff00">If only + S + had + V3/ed</span></span></span></strong></p>
    <p><em><strong><span style="color:#000000"><span style="font-size:14px">• If only he'd remembered to send that letter. </span></span></strong><span
            style="color:#000000"><span style="font-size:14px">(Giá như anh ấy nhớ gửi lá thư đi.)</span></span><br/>
        <strong><span style="color:#000000"><span style="font-size:14px">• If only he had listened to what his friends had been telling him. </span></span></strong><span
                style="color:#000000"><span style="font-size:14px">(Giá như anh ấy nghe theo những gì bạn bè của anh nói.)</span></span><br/>
        <strong><span style="color:#000000"><span
                style="font-size:14px">• If only Anna had been able to come. </span></span></strong><span
                style="color:#000000"><span style="font-size:14px">(Giá như Anna có thể đến được.)</span></span></em>
    </p>
    <p><span style="color:#000000"><span style="font-size:14px"><strong>3. Cấu trúc IF ONLY ở tương lai</strong></span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:14px">Ta sử dụng cấu trúc trên để diễn tả một mong muốn ở tương lai hay để thể hiện sự mong muốn mọi thứ sẽ trở nên tốt đẹp hơn trong tương lai.</span></span>
    </p>
    <p style="text-align:center"><strong><span style="color:#ff3300"><span style="font-size:14px"><span
            style="background-color:#ffff00">If only + S + would (could) + V(inf).</span></span></span></strong></p>
    <p><span style="color:#000000"><span style="font-size:14px">Động từ ở mệnh đề sau đứng sau <strong>Modal verbs (would/could…)</strong> nên ta phải chia ở dạng nguyên thể không “to” V (bare-infinitive).</span></span>
    </p>
    <p><em><strong><span style="color:#000000"><span
            style="font-size:14px">• If only someone would buy the house. </span></span></strong><span
            style="color:#000000"><span style="font-size:14px">(Giá như ai đó sẽ mua ngôi nhà.)</span></span><br/>
        <strong><span style="color:#000000"><span
                style="font-size:14px">• If only somebody would smile!</span></span></strong><span
                style="color:#000000"><span style="font-size:14px"> (Giá mà ai đó mỉm cười.)</span></span></em></p>
    <p><span style="color:#000000"><span style="font-size:14px"><strong>III. LƯU Ý</strong></span></span></p>
    <p><span style="color:#000000"><span style="font-size:14px">Khi sử dụng cấu trúc If only, ta luôn phải lùi thì đối với câu có chứa If Only: <strong>Câu hiện tại</strong> => Động từ chia quá khứ, <strong>Câu quá khứ</strong> => Động từ chia quá khứ hoàn thành, <strong>Câu tương lai</strong> => Will -> Would.</span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:14px">If only và only if có thể khiến nhiều người hoang mang, nhưng mang ý nghĩa khác nhau hoàn toàn. If only thể hiện ước muốn mãnh liệt tương tự như cấu trúc I wish, trong khi đó, Only if mang ý nghĩa nhấn mạnh cho cấu trúc If. </span></span>
    </p>
    <p><em><strong><span style="color:#000000"><span style="font-size:14px">• If only I were a millionaire, then everyone wouldn’t look down at me. </span></span></strong><span
            style="color:#000000"><span style="font-size:14px">(Nếu tôi là triệu phú, thì mọi người sẽ không khinh thường tôi được)</span></span><br/>
        <strong><span style="color:#000000"><span style="font-size:14px">• You are allowed to enter this room only if I have given permission. </span></span></strong><span
                style="color:#000000"><span
                style="font-size:14px">(Bạn được phép vào phòng này chỉ khi tôi cho phép.)</span></span></em></p>
</div>