<meta charset="UTF-8">
<div class="first-content"><p><strong><span style="color:#000000"><span style="font-size:14px">I. TỔNG QUAN CHUNG VỀ CÂU ĐIỀU KIỆN</span></span></strong>
</p>
    <p><span style="color:#000000"><span
            style="font-size:14px"><em><strong>Câu điều kiện (conditional sentences)</strong></em> là loại câu được sử dụng để diễn tả một giả thuyết về một sự việc chỉ có thể xảy ra trong trường hợp điều kiện được nói đến xảy ra. Những tình huống hay giả thuyết nói trên có thể là tình huống thực tế, tưởng tượng hay tình huống giả định. Nói một cách nôm na, đây là cách nói khác của cấu trúc “Nếu… thì” trong tiếng Việt.</span></span>
    </p>
    <p><em><strong><span style="color:#000000"><span style="font-size:14px">• Tình huống thực tế:</span></span></strong><span
            style="color:#000000"><span style="font-size:14px"> I usually make a sandwich to take to work if I have enough time.<strong><span
            style="color:#000000"><span style="font-size:14px"> </span></span></strong>(Tôi thường làm bánh mì kẹp thịt mang đi làm nếu tôi có thời gian.)</span></span><br/>
        <strong><span style="color:#000000"><span
                style="font-size:14px">• Tình huống tưởng tượng: </span></span></strong><span
                style="color:#000000"><span style="font-size:14px">They’d have got the job done quicker if they’d had more people working on it.<strong><span
                style="color:#000000"><span style="font-size:14px"> </span></span></strong>(Họ sẽ hoàn thành công việc nhanh hơn nếu họ có nhiều nhân lực hơn nữa.)</span></span><br/>
        <strong><span style="color:#000000"><span style="font-size:14px">•  Tình huống giả định: </span></span></strong><span
                style="color:#000000"><span
                style="font-size:14px">Will you bring my glasses down if you go upstairs?<strong><span
                style="color:#000000"><span style="font-size:14px"> </span></span></strong>(Cậu sẽ mang kính lên cho mình nếu cậu đi lên lầu chứ?)</span></span></em>
    </p>
    <p><span style="color:#000000"><span style="font-size:14px">Hầu hết các câu điều kiện đều chứa IF.</span></span></p>
</div>
<div class="last-content"><p><span style="color:#000000"><span style="font-size:14px">Thông thường, một câu điều kiện sẽ có hai mệnh đề: mệnh đề chứa “if” là </span></span><span
        style="color:#2980b9"><span style="font-size:14px">mệnh đề điều kiện</span></span><span
        style="color:#000000"><span style="font-size:14px"> (mệnh đề phụ), mệnh đề còn lại là </span></span><span
        style="color:#f39c12"><span style="font-size:14px">mệnh đề chính</span></span><span style="color:#000000"><span
        style="font-size:14px">.</span></span></p>
    <p><span style="color:#000000"><span style="font-size:14px">Thông thường mệnh đề chính sẽ đứng trước mệnh đề phụ đứng sau. Tuy nhiên chúng ta có thể đảo mệnh đề phụ lên trước câu và thêm dấu phẩy vào sau mệnh đề phụ để ngăn cách giữa mệnh đề phụ và mệnh đề chính.</span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:14px">•    <strong>Ex1</strong>: <u>If</u> </span></span><span
            style="color:#2980b9"><span style="font-size:14px">you see him</span></span><span
            style="color:#000000"><span style="font-size:14px">, </span></span><span style="color:#f39c12"><span
            style="font-size:14px">give him this note</span></span><span style="color:#000000"><span
            style="font-size:14px">. <em>(Nếu cậu gặp anh ấy, hãy đưa cho anh ấy tờ giấy ghi chú này.)</em><br/>  •    <strong>Ex2</strong>: </span></span><span
            style="color:#f39c12"><span style="font-size:14px">You would know what was going on</span></span><span
            style="color:#000000"><span style="font-size:14px"> <u><strong>if</strong></u> </span></span><span
            style="color:#2980b9"><span style="font-size:14px">you'd listened</span></span><span
            style="color:#000000"><span style="font-size:14px">. <em>(Cô sẽ biết được điều gì đang xảy ra nếu cô lắng nghe.)</em></span></span>
    </p>
    <p><span style="color:#000000"><span
            style="font-size:14px"><strong>II. PHÂN LOẠI CÂU ĐIỀU KIỆN</strong></span></span></p>
    <p><span style="color:#000000"><span style="font-size:14px">Trong tiếng Anh, có ba loại câu điều kiện chính và cơ bản: Câu điều kiện loại 1, 2 và 3.</span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:14px"><strong>1. Câu điều kiện loại 1</strong></span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:14px">Câu điều kiện loại 1 là câu điều kiện có thật ở hiện tại. Câu này diễn tả những sự việc có khả năng xảy ra ở hiện tại hoặc tương lai cũng như kết quả của nó.</span></span>
    </p>
    <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
        <tbody>
        <tr>
            <td style="text-align:center"><strong><span style="color:#000000"><span
                    style="font-size:14px">If clause</span></span></strong></td>
            <td style="text-align:center"><strong><span style="color:#000000"><span
                    style="font-size:14px">Main clause</span></span></strong></td>
        </tr>
        <tr>
            <td style="text-align:center"><span style="color:#000000"><span
                    style="font-size:14px">If + S + V</span></span></td>
            <td style="text-align:center"><span style="color:#000000"><span
                    style="font-size:14px">S + will + V</span></span></td>
        </tr>
        <tr>
            <td style="text-align:center"><span style="color:#000000"><span
                    style="font-size:14px">(Hiện tại đơn) </span></span></td>
            <td style="text-align:center"><span style="color:#000000"><span
                    style="font-size:14px">(Tương lai đơn)</span></span></td>
        </tr>
        </tbody>
    </table>
    <p><span style="color:#000000"><span style="font-size:14px">   <br/>  <em><strong>• Ex1: </strong>I'll only stay if you offer me more money. (Tôi sẽ ở lại nếu anh cho tôi nhiều tiền hơn.)<br/>  <strong>• Ex2: </strong>If he is late, we will have to go without him. (Nếu anh ta đến trễ, chúng ta sẽ đi mà không có anh ta.)</em></span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:14px">Trong câu điều kiện loại 1, thay vì sử dụng thì tương lai chúng ta cũng có thể sử dụng các động từ khuyết thiếu để thể hiện mức độ chắc chắn hoặc đề nghị một kết quả nào đó.</span></span>
    </p>
    <p><em><span style="color:#000000"><span style="font-size:14px">• I may finish that letter if I have time. (Mình có thể hoàn thành lá thư nếu có thời gian.)<br/>  • If he calls you, you should go. (Nếu anh ấy gọi cho cậu, cậu nên đi.)</span></span></em>
    </p>
    <p><span style="color:#000000"><span style="font-size:14px">Câu điều kiện loại 1 với câu mệnh lệnh, chúng ta có thể sử dụng chủ ngữ tại mệnh đề chính.</span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:14px"><em>• If you are thirty, drink a cup of water. (Nếu anh khát, hãy uống một cốc nước.)</em></span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:14px"><strong>2. Câu điều kiện loại 2</strong></span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:14px">Câu điều kiện loại 2 là câu điều kiện diễn tả một hành động không có thực hay không thể xảy ra ở tương lai dựa trên một điều kiện không có thực ở hiện tại.</span></span>
    </p>
    <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
        <tbody>
        <tr>
            <td style="text-align:center"><strong><span style="color:#000000"><span
                    style="font-size:14px">If clause </span></span></strong></td>
            <td style="text-align:center"><strong><span style="color:#000000"><span
                    style="font-size:14px">Main clause</span></span></strong></td>
        </tr>
        <tr>
            <td style="text-align:center"><span style="color:#000000"><span style="font-size:14px">If + S + V-ed</span></span>
            </td>
            <td style="text-align:center"><span style="color:#000000"><span style="font-size:14px">S + would/ might/ could + V</span></span>
            </td>
        </tr>
        </tbody>
    </table>
    <p><span style="color:#000000"><span style="font-size:14px">Đối với mệnh đề IF trong câu điều kiện loại 2, động từ tobe được sử dụng luôn là were ở tất cả các ngôi.</span></span>
    </p>
    <p><em><span style="color:#000000"><span style="font-size:14px">• If I had a million USD, I would buy that car. (Nếu tôi có một triệu đô la, tôi sẽ mua chiếc ô tô đó.)<br/>  • If I were you, I wouldn't do that. (Nếu tôi là bạn, tôi sẽ không làm vậy.)</span></span></em>
    </p>
    <p><span style="color:#000000"><span style="font-size:14px"><strong>3. Câu điều kiện loại 3</strong></span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:14px">Câu điều kiện loại 3 là câu điều kiện thể hiện một hành động đã không thể xảy ra trong quá khứ dựa trên một điều kiện nào đó trng quá khứ.</span></span>
    </p>
    <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
        <tbody>
        <tr>
            <td style="text-align:center"><strong><span style="color:#000000"><span
                    style="font-size:14px">If clause</span></span></strong></td>
            <td style="text-align:center"><strong><span style="color:#000000"><span
                    style="font-size:14px">Main clause</span></span></strong></td>
        </tr>
        <tr>
            <td style="text-align:center"><span style="color:#000000"><span
                    style="font-size:14px">If + S + had + V-PII</span></span></td>
            <td style="text-align:center"><span style="color:#000000"><span style="font-size:14px">S + would/ might/ could + have + V-PII</span></span>
            </td>
        </tr>
        </tbody>
    </table>
    <p><strong><em><span style="color:#000000"><span style="font-size:14px">•    If you had spoken English, she would have understood. </span></span></em></strong><em><span
            style="color:#000000"><span
            style="font-size:14px">(Nếu bạn nói tiếng Anh thì cô ấy đã hiểu)</span></span></em><br/> <strong><em><span
            style="color:#000000"><span style="font-size:14px">•    If I had studied harder, I might have passed the exam. </span></span></em></strong><em><span
            style="color:#000000"><span style="font-size:14px">(Nếu mình học hành chăm chỉ hơn, mình đã có thể thi đậu rồi.)</span></span></em><br/>
        <strong><em><span style="color:#000000"><span style="font-size:14px">•    If I had saved enough money, I could have bought a new car. </span></span></em></strong><em><span
                style="color:#000000"><span style="font-size:14px">(Nếu mình tiết kiệm đủ tiền, mình đã có thể mua một chiếc ô tô mới.</span></span></em>
    </p>
    <p><span style="color:#000000"><span style="font-size:14px"><strong>III. LƯU Ý</strong></span></span></p>
    <p><span style="color:#000000"><span style="font-size:14px">Ngoài những cấu trúc câu điều kiện căn bản nói trên, trong tiếng Anh còn có một số cấu trúc câu điều kiện đặc biệt khác được sử dụng trong nhiều trường hợp khác nhau như câu điều kiện loại 0, câu điều kiện hỗn hợp, câu điều kiện dạng đảo, …</span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:14px">Để chuyển thể từ câu điều kiện loại 1 => 2 => 3, bạn chỉ cần “lùi thì”:<br/>  - <strong>Loại 1 => Loại 2</strong>: Thì hiện tại đơn => Quá khứ đơn<br/>  - <strong>Loại 2 => Loại 3</strong>: Thì quá khứ đơn => Quá khứ hoàn thành.</span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:14px">Trong câu điều kiện dạng phủ định, thay vì dùng <strong>If… not</strong> (nếu không), bạn có thể thay thế bằng <strong>Unless</strong>.</span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:14px">• <em><strong>If you don’t study hard, you can’t pass the exam.</strong> => Unless you work hard, you can’t pass the exam. (Nếu bạn không học hành chăm chỉ, bạn không thể thi đậu đâu.)</em></span></span>
    </p>
</div>