<meta charset="UTF-8">
<div class="first-content"><p><strong><span style="color:#000000"><span
        style="font-size:14px">1. TỔNG QUAN Ý NGHĨA </span></span></strong></p>
    <p><span style="color:#000000"><span style="font-size:14px">Trong tiếng Anh, <strong>Interested</strong> là một tính từ có nghĩa là thích thú/ quan tâm.</span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:14px">Khi muốn thể hiện ý nghĩa trên, ta thường sử dụng kèm giới từ IN để biểu đạt sự thích thú hay quan tâm của một cá nhân đến một sự vật hay sự việc nào đó (Tương tự như cách sử dụng động từ LIKE).</span></span>
    </p>
    <p><em><strong><span style="color:#000000"><span style="font-size:14px">• He didn't seem very interested in <u>what I was saying</u>. </span></span></strong><span
            style="color:#000000"><span style="font-size:14px">(Anh ta nhìn có vẻ không hứng thú gì với những gì tôi đang nói.)</span></span><br/>
        <strong><span style="color:#000000"><span style="font-size:14px">• Anyone interested in <u>joining</u> the club should contact us at the address below. </span></span></strong><span
                style="color:#000000"><span style="font-size:14px">(Bất cứ ai muốn tham gia câu lạc bộ nên liên lạc với chúng tôi tại địa chỉ bên dưới.)</span></span><br/>
        <strong><span style="color:#000000"><span
                style="font-size:14px">• I'm very interested in <u>history</u>. </span></span></strong><span
                style="color:#000000"><span style="font-size:14px">(Tôi rất thích môn lịch sử.)</span></span></em></p>
</div>
<div class="last-content"><p><span style="color:#000000"><span
        style="font-size:14px"><strong>2. CẤU TRÚC</strong></span></span></p>
    <p><span style="color:#000000"><span style="font-size:14px">Khi sử dụng <strong>Interested in</strong> để nói về sở thích hay sự quan tâm đối với sự vật hay sự việc nào đó, chúng ta có thể sử dụng động từ <strong>V_ing</strong> hay danh từ/ cụm danh từ theo sau:</span></span>
    </p>
    <p style="text-align:center"><strong><span style="color:#ff3300"><span style="font-size:14px"><span
            style="background-color:#ffff00">S + be + interested in + V_ing/ Noun/ Noun phrase</span></span></span></strong>
    </p>
    <p><span style="color:#000000"><span style="font-size:14px">Theo đó, động từ be được chia theo ngôi của chủ ngữ và thì.</span></span>
    </p>
    <p><strong><em><span style="color:#000000"><span
            style="font-size:14px">• Yes, I'd be very interested in <u>knowing</u> more about the services your firm offers. </span></span></em></strong><em><span
            style="color:#000000"><span style="font-size:14px">(Vâng, tôi rất muốn biết thêm về các dịch vụ mà công ty bạn cung cấp.)</span></span></em><br/>
        <strong><em><span style="color:#000000"><span style="font-size:14px">• I've always been interested in <u>the origins of blues music</u>. </span></span></em></strong><em><span
                style="color:#000000"><span style="font-size:14px">(Tôi luôn có hứng thú về nguồn gốc của thể loại nhạc Blues.)</span></span></em><br/>
        <strong><em><span style="color:#000000"><span style="font-size:14px">• Make sure you visit the maritime museum if you're interested in <u>anything to do with ships or seafaring</u>. </span></span></em></strong><em><span
                style="color:#000000"><span style="font-size:14px">(Hãy chắc chắn rằng bạn ghé thăm bảo tàng hàng hải nếu bạn quan tâm đến bất cứ điều gì về tàu thuyền hoặc đi biển.)</span></span></em>
    </p>
    <p><strong><span style="color:#000000"><span style="font-size:14px">3. LƯU Ý</span></span></strong></p>
    <p><span style="color:#000000"><span style="font-size:14px">Cấu trúc Interested in chỉ được sử dụng với chủ ngữ chỉ người.</span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:14px">Bạn cần phân biệt được giữa Interested in và Interested to:</span></span>
    </p>
    <ul>
        <li><span style="color:#000000"><span style="font-size:14px"><strong>Interested in</strong> được theo sau là động từ <strong>V_ing</strong>, được sử dụng tương tự như động từ <strong>LIKE</strong>, thể hiện sự thích thú, quan tâm hay sở thích của chủ thể đã có từ lâu.</span></span>
        </li>
        <li><span style="color:#000000"><span style="font-size:14px"><strong>Interested to</strong> được theo sau là động từ <strong>V_to</strong>, được sử dụng để thể hiện sự thích thú hay hứng thú của chủ thể ngay tại thời điểm nói</span></span>
        </li>
    </ul>
    <blockquote><p><span style="font-family:Arial,Helvetica,sans-serif"><strong><em><span style="color:#000000"><span
            style="font-size:14px">We would be interested to hear your views on this subject. </span></span></em></strong><em><span
            style="color:#000000"><span style="font-size:14px">(Chúng tôi đang rất muốn nghe quan điểm của bạn về đề tài này.)</span></span></em></span>
    </p>
        <p><span style="font-family:Arial,Helvetica,sans-serif"><strong><em><span style="color:#000000"><span
                style="font-size:14px">My mom has always been interested in Bolero music. </span></span></em></strong><em><span
                style="color:#000000"><span style="font-size:14px">(Mẹ của tôi luôn có hứng thú với nhạc Bolero.)</span></span></em></span>
        </p></blockquote>
    <p> </p>
    <p><span style="color:#000000"><span style="font-size:14px">Bạn cần phân biệt được giữa <strong>Interested</strong> và <strong>Interesting</strong>:</span></span>
    </p>
    <ul>
        <li><span style="color:#000000"><span style="font-size:14px"><strong>Interested</strong> được sử dụng khi chúng ta cảm thấy hứng thú hay quan tâm đến một sự việc nào đó. Chủ ngữ của <strong>Interested</strong> thường chỉ người.</span></span>
        </li>
        <li><span style="color:#000000"><span style="font-size:14px"><strong>Interesting</strong> được sử dụng khi có một vấn đề nào đó khiến ta chú ý và muốn tìm hiểu thêm về nó. Chủ ngữ của <strong>Interesting</strong> thường chỉ vật.</span></span>
        </li>
    </ul>
    <blockquote><p><span style="font-family:Arial,Helvetica,sans-serif"><strong><em><span style="color:#000000"><span
            style="font-size:14px">I'm not particularly interested in art. </span></span></em></strong><em><span
            style="color:#000000"><span style="font-size:14px">(Tôi không có hứng thú đặc biệt đối với hội họa.)</span></span></em><br/>  <strong><em><span
            style="color:#000000"><span
            style="font-size:14px">The film is interesting to me. </span></span></em></strong><em><span
            style="color:#000000"><span
            style="font-size:14px">(Bộ film này gây hứng thú cho tôi).</span></span></em></span></p></blockquote>
    <p><span style="color:#000000"><span style="font-size:14px">Để hình thành cụm từ trái nghĩa với<strong> Interested in</strong>, ta có thể thêm “<strong>un</strong>” hoặc “<strong>dis</strong>” phía trước để hình thành cụm “<strong>Uninterested in</strong>” hoặc “<strong>Disinterested in</strong>” với ý nghĩa là không quan tâm, không hứng thú với điều gì. </span></span>
    </p>
    <ul>
        <li><strong><em><span style="color:#000000"><span
                style="font-size:14px">He was totally uninterested in sport. </span></span></em></strong><em><span
                style="color:#000000"><span
                style="font-size:14px">(Anh ta hoàn toàn không có hứng thú với thể thao.)</span></span></em></li>
        <li><strong><em><span style="color:#000000"><span style="font-size:14px">I was disinterested in the whole affair. </span></span></em></strong><em><span
                style="color:#000000"><span
                style="font-size:14px">(Tôi đã không có hứng thú với toàn bộ sự việc.)</span></span></em></li>
    </ul>
</div>