<meta charset="UTF-8">
<div class="first-content"><p><span style="color:#000000"><span
        style="font-size:14px"><strong>I. TỔNG QUAN</strong></span></span></p>
    <p><span style="color:#000000"><span style="font-size:14px">Chúng ta sử dụng cụm từ <strong>ONLY IF</strong> trong câu điều kiện đặc biệt với ý nghĩa nhấn mạnh. </span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:14px">ONLY IF được sử dụng trong những tình huống cụ thể cần nhấn mạnh như mệnh lệnh hay yêu cầu. Cụm từ trên được sử dụng để nhấn mạnh trường hợp chỉ tồn tại một khả năng duy nhất của sự việc nào đó bất kỳ.</span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:14px">ONLY IF được sử dụng chủ yếu với ý nghĩa là <em>“chỉ khi, nếu, chỉ trong trường hợp…” </em><br/>  ONLY IF có ý nghĩa trái ngược với EXCEPT IF – <em>“trừ khi, trừ trường hợp…”</em></span></span>
    </p></div>
<div class="last-content">
    <ul>
        <li><strong><em><span style="color:#000000"><span style="font-size:14px">Payment will be made only if the work is completed on time. </span></span></em></strong><em><span
                style="color:#000000"><span style="font-size:14px">(Quy trình thanh toán sẽ chỉ hoàn tất nếu công việc hoàn thành đúng tiến độ.)</span></span></em>
        </li>
        <li><strong><em><span style="color:#000000"><span style="font-size:14px">Alright I’ll come but only if I can bring a friend with me. </span></span></em></strong><em><span
                style="color:#000000"><span style="font-size:14px">(Tôi sẽ đến nhưng chỉ khi tôi có thể mang theo một người bạn.)</span></span></em>
        </li>
    </ul>
    <p><span style="color:#000000"><span style="font-size:14px"><strong>II. CẤU TRÚC</strong></span></span></p>
    <p><span style="color:#000000"><span
            style="font-size:14px"><strong>1. Cấu trúc câu điều kiện ONLY IF</strong></span></span></p>
    <p><span style="color:#000000"><span style="font-size:14px">ONLY IF khi được sử dụng như một dạng nhấn mạnh của câu điều kiện và ONLY IF nằm ở mệnh đề thứ hai, ta sử dụng cấu trúc như sau:</span></span>
    </p>
    <p style="text-align:center"><span style="color:#ff3300"><strong><span style="font-size:14px"><span
            style="background-color:#ffff00">MAIN CLAUSE + ONLY IF + CLAUSE</span></span></strong></span></p>
    <ul>
        <li><strong><em><span style="color:#000000"><span style="font-size:14px">These can be used only if there is an emergency. </span></span></em></strong><em><span
                style="color:#000000"><span
                style="font-size:14px">(Chúng chỉ được sử dụng trong trường hợp cấp cứu.)</span></span></em></li>
        <li><strong><em><span style="color:#000000"><span
                style="font-size:14px">He’ll come only if he’s ordered to. </span></span></em></strong><em><span
                style="color:#000000"><span style="font-size:14px">(Anh ta chỉ đến khi được ra lệnh.)</span></span></em>
        </li>
    </ul>
    <p><span style="color:#000000"><span style="font-size:14px">Trong một số trường hợp, chúng ta cũng có thể tách rời ONLY và IF, đặt ONLY ở mệnh đề chính:</span></span>
    </p>
    <ul>
        <li><strong><em><span style="color:#000000"><span style="font-size:14px">He’ll only take the job if they offer him more money. </span></span></em></strong><em><span
                style="color:#000000"><span style="font-size:14px">(Anh ấy chỉ nhận công việc nếu họ đề xuất mức lương cao hơn.)</span></span></em>
        </li>
        <li><strong><em><span style="color:#000000"><span style="font-size:14px">We’ll only achieve our targets if everyone works together. </span></span></em></strong><em><span
                style="color:#000000"><span style="font-size:14px">(Chúng ta sẽ chỉ đạt được mục tiêu nếu tất cả mọi người đều làm việc cùng nhau.)</span></span></em>
        </li>
    </ul>
    <p><span style="color:#000000"><span style="font-size:14px"><strong>2. Cấu trúc đảo ngữ với ONLY IF</strong></span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:14px">Trong trường hợp ONLY IF được đặt ở đầu câu với ý nghĩa nhấn mạnh, mệnh đề theo sau sẽ được sử dụng ở dạng đảo ngữ, với cấu trúc như sau:</span></span>
    </p>
    <p style="text-align:center"><strong><span style="color:#ff3300"><span style="font-size:14px"><span
            style="background-color:#ffff00">ONLY IF + CLAUSE, V + S</span></span></span></strong></p>
    <ul>
        <li><strong><em><span style="color:#000000"><span style="font-size:14px">Only if you tell me the truth, can I forgive you. </span></span></em></strong><em><span
                style="color:#000000"><span style="font-size:14px">(Chỉ khi bạn nói cho tôi sự thật, tôi mới có thể tha thứ cho bạn).</span></span></em>
        </li>
        <li><strong><em><span style="color:#000000"><span style="font-size:14px">Only if a teacher has given permission, is a student allowed to leave the room. </span></span></em></strong><em><span
                style="color:#000000"><span style="font-size:14px">(Chỉ khi nào giáo viên cho phép thì học sinh mới được rời khỏi phòng)</span></span></em>
        </li>
        <li><strong><em><span style="color:#000000"><span style="font-size:14px">Only if the red light comes on, is there any danger to employees. </span></span></em></strong><em><span
                style="color:#000000"><span style="font-size:14px">(Chỉ khi nào đèn đỏ bật lên thì mới có dấu hiệu cảnh báo nguy hiểm cho nhân viên)</span></span></em>
        </li>
    </ul>
    <p><span style="color:#000000"><span style="font-size:14px">     Lưu ý: Khi trong câu có 1 mệnh đề và ONLY bổ nghĩa cho chủ ngữ (chủ ngữ nằm ngay sau ONLY) thì ta không cần đảo ngữ.</span></span>
    </p>
    <ul>
        <li><em><strong><span style="color:#000000"><span
                style="font-size:14px">Only he can speak English. </span></span></strong><span
                style="color:#000000"><span
                style="font-size:14px">(Chỉ có anh ấy có thể nói tiếng Anh.)</span></span></em></li>
        <li><em><strong><span style="color:#000000"><span style="font-size:14px">Only the special members can enter the club on Sundays. </span></span></strong><span
                style="color:#000000"><span style="font-size:14px">(Chỉ các thành viên đặc biệt mới có thể tới câu lạc bộ vào chủ nhật.)</span></span></em>
        </li>
    </ul>
</div>