<meta charset="UTF-8">
<div class="first-content"><p><strong><span style="color:#000000"><span
        style="font-size:14px">I. TỔNG QUAN VỀ UNLESS</span></span></strong></p>
    <p><span style="color:#000000"><span style="font-size:14px">Trong tiếng Anh, UNLESS được sử dụng với ý nghĩa phủ định, có nghĩa là “nếu không, trừ khi”.</span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:14px">Trong cấu trúc ngữ pháp tiếng Anh, UNLESS có ý nghĩa tương tự như IF… NOT. Chính vì vậy trong câu điều kiện, hai từ này có thể được sử dụng thay thế cho nhau.</span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:14px">UNLESS mang ý nghĩa phủ định, nhưng hầu như đều được sử dụng trong câu khẳng định.</span></span>
    </p></div>
<div class="last-content"><p><span style="color:#000000"><span style="font-size:14px">Khi sử dụng UNLESS trong câu điều kiện, chúng ta không cần quá chú trọng đến vị trí của nó. UNLESS có thể đứng trước hoặc đứng sau mệnh đề chính.</span></span>
</p>
    <p><span style="color:#ff3300"><span style="font-size:14px">*Lưu ý</span></span><span style="color:#000000"><span
            style="font-size:14px">, trong trường hợp UNLESS đứng đầu câu, thêm dấu phẩy “,” vào giữa hai mệnh đề trong câu.</span></span>
    </p>
    <ul>
        <li><strong><em><span style="color:#000000"><span style="font-size:14px">Unless something unexpected happens, I'll see you tomorrow. </span></span></em></strong><em><span
                style="color:#000000"><span style="font-size:14px">(Nếu không có gì xảy ra thì mình sẽ gặp cậu vào ngày mai.)</span></span></em>
        </li>
        <li><strong><em><span style="color:#000000"><span style="font-size:14px">Can you turn the radio off unless you’re listening to it? </span></span></em></strong><em><span
                style="color:#000000"><span style="font-size:14px">(Cậu có thể tắt đài phát thanh đi trừ khi cậu đang nghe nó không?)</span></span></em>
        </li>
    </ul>
    <p><strong><span style="color:#000000"><span
            style="font-size:14px">II. CẤU TRÚC VÀ CÁCH DÙNG UNLESS</span></span></strong></p>
    <p><strong><span style="color:#000000"><span
            style="font-size:14px">1. UNLESS trong câu điều kiện</span></span></strong></p>
    <p><span style="color:#000000"><span style="font-size:14px">UNLESS được sử dụng để nói đến tình huống không thể xảy ra ở hiện tại hay sẽ không xảy đến ở tương lai. Chính vì thế, UNLESS thường được sử dụng chủ yếu ở câu điều kiện loại 1. </span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:14px">Trong một số trường hợp, UNLESS có thể được sử dụng ở câu điều kiện loại 2 & 3. Tuy nhiên, những trường hợp đó chỉ được sử dụng trong văn nói và không đúng với tiếng Anh tiêu chuẩn nên không được ứng dụng trong những văn bản học thuật.</span></span>
    </p>
    <p style="text-align:center"><strong><span style="color:#ff3300"><span style="font-size:14px"><span
            style="background-color:#ffff00">UNLESS + S + V (thì hiện tại đơn), S + will/ shall/ can + V…</span></span></span></strong>
    </p>
    <ul>
        <li><em><strong><span style="color:#000000"><span style="font-size:14px">I’ll make dinner unless somebody else wants to.</span></span></strong><span
                style="color:#000000"><span style="font-size:14px"> (Mình sẽ nấu bữa tối nếu không ai muốn nấu.)</span></span></em>
        </li>
        <li><em><strong><span style="color:#000000"><span style="font-size:14px">Unless you pay now, we can’t guarantee you a ticket. </span></span></strong><span
                style="color:#000000"><span style="font-size:14px">(Nếu bạn không thanh toán ngay bây giờ, chúng tôi không thể đảm bảo vé của bạn được.)</span></span></em>
        </li>
    </ul>
    <p><strong><span style="color:#000000"><span
            style="font-size:14px">2. UNLESS để đề xuất ý kiến</span></span></strong></p>
    <p><span style="color:#000000"><span style="font-size:14px">Unless còn được sử dụng để đề xuất ý kiến. Trong trường hợp này, người học không được phép thay thế Unless với If… not</span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:14px">Trong trường hợp UNLESS sử dụng để đề xuất ý kiến, người học nên sử dụng dấu gạch ngang “-“ trước UNLESS.</span></span>
    </p>
    <ul>
        <li><em><strong><span style="color:#000000"><span style="font-size:14px">I’ll hang out with my friends – unless I’m busy.</span></span></strong><span
                style="color:#000000"><span style="font-size:14px"> (Mình sẽ đi chơi với bạn, trừ khi mình bận.)</span></span></em>
        </li>
    </ul>
    <p><strong><span style="color:#000000"><span style="font-size:14px">3. UNLESS để cảnh báo</span></span></strong></p>
    <p><span style="color:#000000"><span style="font-size:14px">Unless được sử dụng khi muốn nhấn mạnh hay thúc giục một hành động nào đó cần phải được thực hiện ngay lập tức để tránh gây ra hậu quả đáng tiếc. </span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:14px">Trong trường hợp này, bạn có thể sử dụng If not. Tuy nhiên sắc thái biểu đạt sẽ không được bằng Unless.</span></span>
    </p>
    <ul>
        <li><strong><em><span style="color:#000000"><span style="font-size:14px">Unless you hurry, you will be late for school. </span></span></em></strong><em><span
                style="color:#000000"><span
                style="font-size:14px">(Nếu cậu không khẩn trương lên, bạn sẽ trễ học đấy.)</span></span></em></li>
        <li><strong><em><span style="color:#000000"><span style="font-size:14px">Unless she works hard, she will be sacked. </span></span></em></strong><em><span
                style="color:#000000"><span style="font-size:14px">(Nếu cô ấy không làm việc chăm chỉ, cô ấy sẽ bị sa thải.)</span></span></em>
        </li>
        <li><strong><em><span style="color:#000000"><span style="font-size:14px">Unless he studies, he will fail the examination. </span></span></em></strong><em><span
                style="color:#000000"><span style="font-size:14px">(Nếu anh ấy không chịu học tập chăm chỉ, anh ấy sẽ bị trượt kì thi)</span></span></em>
        </li>
    </ul>
    <p><span style="color:#000000"><span style="font-size:14px"><strong>III. LƯU Ý</strong></span></span></p>
    <p><span style="color:#000000"><span
            style="font-size:14px"><strong>1. Sau Unless luôn là mệnh đề khẳng định</strong></span></span></p>
    <p><span style="color:#000000"><span style="font-size:14px">Unless thay cho If NOT, vậy nên ta không dùng Unless thay cho if, hay nói cách khác, trong mệnh đề Unless không thể có not. </span></span>
    </p>
    <ul>
        <li><span style="color:#000000"><span
                style="font-size:14px">I will go to the market to buy food if you cannot.</span></span></li>
        <li><s><span style="color:#000000"><span style="font-size:14px">I will go to the market to buy food unless you cannot. </span></span></s>
        </li>
        <li><s><span style="color:#000000"><span style="font-size:14px">I won’t go to the market to buy food unless you cannot.</span></span></s>
        </li>
    </ul>
    <p><strong><span style="color:#000000"><span style="font-size:14px">2. Không sử dụng will/would sau Unless</span></span></strong>
    </p>
    <ul>
        <li><em><strong><span style="color:#000000"><span style="font-size:14px">Unless something changes, Tuan will come back at 5pm. </span></span></strong><span
                style="color:#000000"><span style="font-size:14px">(Nếu không có gì thay đổi, Tuấn sẽ quay về lúc 5 giờ chiều.)</span></span></em><br/>
            <s><span style="color:#000000"><span style="font-size:14px">Unless something will change, Tuan will come back at 5pm.</span></span></s>
        </li>
    </ul>
    <p><strong><span style="color:#000000"><span
            style="font-size:14px">3. Không sử dụng Unless trong câu hỏi</span></span></strong></p>
    <p><span style="color:#000000"><span style="font-size:14px">Trong câu hỏi chúng ta chỉ có thể sử dụng If not mà không được sử dụng Unless để thay thế.</span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:14px">Ex: </span></span></p>
    <ul>
        <li><em><strong><span style="color:#000000"><span style="font-size:14px">What will happen if I do not sleep early tonight? </span></span></strong><span
                style="color:#000000"><span
                style="font-size:14px">(Điều gì sẽ xảy ra nếu tôi không ngủ sớm đêm nay?)</span></span></em><br/>
            <s><span style="color:#000000"><span
                    style="font-size:14px">What will happen unless I sleep early tonight? </span></span></s></li>
    </ul>
    <p><span style="color:#000000"><span style="font-size:14px">Nhìn chung, Unless có cấu trúc tương tự với If not tuy nhiên lại không giống nhau hoàn toàn mà có vài khác biệt riêng trong cách sử dụng. Do đó, các bạn cần phải lưu ý để sử dụng cấu trúc Unless đúng trường hợp của nó. </span></span>
    </p>
</div>