<meta charset="UTF-8">
<div class="item-active" id="item-1">
    <div class="item-title-active">
        <div class="item-title-active-content">I. ĐỊNH NGHĨA
        </div>

    </div>
    <div class="item-active-content">
        <p style="text-align:justify"><span style="color:#000000"><span><span
        ><strong>Thì quá khứ hoàn thành tiếp diễn&nbsp;</strong>(Past perfect continuous tense)</span>&nbsp;dùng để diễn tả quá trình xảy &nbsp;ra 1 hành động bắt đầu trước một hành động khác trong quá khứ.</span></span>
        </p>
    </div>
</div>
<div class="item-active" id="item-2">
    <div class="item-title-active">
        <div class="item-title-active-content">II. CẤU TRÚC
        </div>

    </div>
    <div class="item-active-content">
        <p><span style="color:#ffa500"><strong><span>1. Khẳng định:</span></strong></span></p>

        <p><span style="color:#000000"><span><strong>- Cấu Trúc</strong></span></span></p>

        <p style="text-align:center"><span style="color:#66cc00"><strong><span
                style="font-size:20px">S + had + been + V-ing</span></strong></span></p>

        <p><span style="color:#000000"><span><strong>- Trong đó:</strong></span></span></p>

        <p><span style="color:#000000"><span><em>&nbsp;&nbsp;+ S (subject): chủ ngữ</em></span></span></p>
        <p><span style="color:#000000"><span><em>&nbsp;&nbsp;+ Had: trợ động từ</em></span></span></p>
        <p><span style="color:#000000"><span
        ><em>&nbsp;&nbsp;+ Been: Dạng phân từ II của động từ “to be”.</em></span></span></p>
        <p><span style="color:#000000"><span><em>&nbsp;&nbsp;+ V-ing: Động từ thêm -ing</em></span></span></p>

        <p><strong><span style="color:#000000"><span>- Eg:&nbsp;</span></span></strong></p>

        <p><em><span style="color:#000000"><span>&nbsp;&nbsp;+ They <u><strong>had been working</strong></u> for two hours when she telephoned</span></span><br>
            <span style="color:#008000"><span><span>(Bọn họ đã làm việc suốt hai giờ khi mà cô ấy gọi)</span></span></span></em>
        </p>
        <p><em><span
                style="color:#000000"><span>&nbsp;&nbsp;+ Her eyes were red because <strong><u>she had been crying</u></strong></span></span><br>
            <span style="color:#008000"><span><span>(Mắt cô ấy đỏ bởi vì trước đó cô đã khóc)</span></span></span></em>
        </p>

        <p><span style="color:#ffa500"><span><strong>2. Phủ định</strong></span></span><span
                style="color:#009900"><span><strong>:</strong></span></span></p>

        <p><strong><span style="color:#000000"><span>- Cấu Trúc:</span></span></strong></p>

        <p style="text-align:center"><span style="color:#66cc00"><strong><span
                style="font-size:20px">S + hadn’t + been + V-ing</span></strong></span></p>

        <p><span style="color:#000000"><span>=&gt; Câu phủ định trong thì quá khứ hoàn thành chỉ cần thêm “not” vào sau trợ động từ.</span></span>
        </p>

        <p><strong><span style="color:#000000"><span>- Lưu ý</span></span></strong></p>

        <p><span style="color:#000000"><span>&nbsp;&nbsp;+ hadn’t = had not</span></span></p>

        <p><strong><span style="color:#000000"><span>- Eg:</span></span></strong></p>

        <p><em><span style="color:#000000"><span>&nbsp;&nbsp;+ They <u><strong>hadn’t been paying</strong></u> attention for long when he asked the question</span></span><br>
            <span style="color:#008000"><span><span>(Họ đã không tập trung trong một khoảng thời gian dài trước khi ông ta đặt câu hỏi)</span></span></span></em>
        </p>
        <p><em><span style="color:#000000"><span>&nbsp;&nbsp;+ I <u><strong>hadn’t been looking</strong></u> for a job before I needed money&nbsp;</span></span><br>
            <span style="color:#008000"><span><span>(Tôi đã không tìm một công việc trước khi tôi cần tiền)</span></span></span></em>
        </p>

        <p><span style="color:#ffa500"><span><strong>3. Câu hỏi:</strong></span></span></p>

        <p><span style="color:#000000"><span><strong>- Cấu trúc:&nbsp;</strong></span></span></p>

        <p style="text-align:center"><span style="color:#66cc00"><span
                style="font-size:20px"><strong>Had + S + been + V-ing ?</strong></span></span></p>

        <p><strong><span style="color:#000000"><span>- Trả lời:</span></span></strong></p>

        <p><span style="color:#000000"><span><em>&nbsp;&nbsp;+ Yes, S + had./ No, S + hadn’t.</em></span></span>
        </p>

        <p><strong><span style="color:#000000"><span>- Eg:&nbsp;</span></span></strong></p>

        <p><em><span style="color:#000000"><span>&nbsp;&nbsp;+ <u><strong>Had</strong></u> they <u><strong>been not studying</strong></u> hard when the teacher asked?&nbsp;</span></span><br>
            <span style="color:#008000"><span><span>(Có phải họ đã không học tập chăm chỉ trước khi giáo viên yêu cầu?)</span></span></span><br>
            <span style="color:#000000"><span><span style="color:#000000"><span
            ><span style="color:#000000"><span>Yes, they had./ No, they hadn’t.</span></span></span></span></span></span></em>
        </p>
        <p><em><span
                style="color:#000000"><span>&nbsp;&nbsp;+ <u><strong>Had</strong></u> she <u><strong>been working</strong></u> for 4 hours before he arrived? </span></span><br>
            <span style="color:#008000"><span>(Có phải cô ấy đã làm việc 4 tiếng trước khi anh ta đến?)</span></span><br>
            <span style="color:#000000; font-size:16px">Yes, she had./ No, she hadn’t.</span></em></p>
    </div>
</div>
<div class="item-active" id="item-3">
    <div class="item-title-active">
        <div class="item-title-active-content">III. CÁCH SỬ DỤNG
        </div>

    </div>
    <div class="item-active-content">
        <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
            <tbody>
            <tr>
                <td style="text-align:center"><span style="color:#ffa500"><strong><span
                >Cách Sử Dụng</span></strong></span></td>
                <td style="text-align:center"><span style="color:#ffa500"><strong><span
                >Ví dụ</span></strong></span></td>
            </tr>
            <tr>
                <td>
                    <p><span style="color:#000000"><span>Diễn tả một hành động xảy ra kéo dài liên tục trước một hành động khác trong quá khứ</span></span>
                    </p>
                </td>
                <td>
                    <p><span style="color:#000000"><span><em>He <u><strong>had been typing</strong></u> for 3 hours before he finshed his work.</em></span></span><br>
                        <span style="color:#008000"><span><em>(Cậu ta đã đánh máy suốt 3 tiếng đồng hồ trước khi hoàn thành xong công việc.)</em></span></span>
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><span style="color:#000000"><span>Diễn tả một hành động xảy ra kéo dài liên tục trước một thời điểm xác định trong quá khứ.</span></span>
                    </p>
                </td>
                <td>
                    <p><span style="color:#000000"><span
                    ><em>My father <u><strong>had been driving</strong></u> for 5 hours before 10pm last night.</em></span></span><br>
                        <span style="color:#008000"><span><em>(Bố tôi đã &nbsp;lái xe liên tục 5 tiếng đồng hồ trước thời điểm 10h tối hôm qua.)</em></span></span>
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><span style="color:#000000"><span>Nhấn mạnh hành động để lại kết quả trong quá khứ.</span></span>
                    </p>
                </td>
                <td>
                    <p><span style="color:#000000"><span><em>This morning he was very tired because he <u><strong>had been working</strong></u> very hard all night. </em></span></span><br>
                        <span style="color:#008000"><span><em>(Sáng nay anh ấy rất mệt bởi vì anh ấy đã làm việc vất vả cả đêm.)</em></span></span>
                    </p>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="item-active" id="item-4">
    <div class="item-title-active">
        <div class="item-title-active-content">IV. DẤU HIỆU ĐỂ NHẬN BIẾT
        </div>

    </div>
    <div class="item-active-content">
        <p><span style="color:#ffa500"><span
        ><strong>Từ để nhận biết Hiện tại hoàn thành tiếp diễn</strong>: </span></span></p>

        <p><em><span style="color:#000000"><span>&nbsp;&nbsp;+ Until then, by the time, prior to that time, before, after.</span></span></em>
        </p>
    </div>
</div>
