<meta charset="UTF-8">
<div class="first-content"><p><span style="color:#000000"><span
        style="font-size:14px"><strong>I. TỔNG QUAN</strong></span></span></p>
    <p><span style="color:#000000"><span style="font-size:14px">After được biết đến rộng rãi và có tính ứng dụng cực kỳ cao cả trong giao tiếp hàng ngày hay trong văn viết hay những cuộc thi tiếng Anh quốc tế như TOEIC, IELTS, TOEFL, … </span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:14px">Trong tiếng Anh, After  có nghĩa là “sau đó, sau khi” với tầng nghĩa thay đổi tùy thuộc vào cấu trúc và mục đích sử dụng.</span></span>
    </p>
    <ul>
        <li><em><span style="color:#000000"><span style="font-size:14px">We’ll leave <strong><u>after</u></strong> lunch. <strong>(Preposition)</strong></span></span></em>
        </li>
        <li><em><span style="color:#000000"><span style="font-size:14px">Soon <strong><u>after</u></strong>, I heard that he’d died. <strong>(Adverb)</strong></span></span></em>
        </li>
        <li><em><span style="color:#000000"><span style="font-size:14px">I’ll call you <u><strong>after</strong></u> I’ve spoken to them? (<strong>Conjunction)</strong></span></span></em>
        </li>
    </ul>
    <p><strong><span style="color:#000000"><span style="font-size:14px">II. CẤU TRÚC VÀ CÁCH DÙNG</span></span></strong>
    </p></div>
<div class="last-content"><p><span style="color:#000000"><span
        style="font-size:14px"><strong>1. Liên từ<br/>  After</strong> được sử dụng như một liên từ - một từ có tác dụng nối hai vế của một câu hay hai câu tách biệt thành một câu. </span></span>
</p>
    <p><span style="color:#000000"><span style="font-size:14px">Cấu trúc <strong>after</strong> như một liên từ được sử dụng để diễn tả một hành động nào đó diễn ra sau một hành động khác.</span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:14px">Trong một câu có sử dụng cấu trúc after thường có 2 vế, vế chứa after có thể là một mệnh đề hoặc là một cụm danh/động từ, vế còn lại chắc chắn là một mệnh đề.</span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:14px">Khi đóng vai trò là liên từ, after có bốn cấu trúc thường dùng:</span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:14px"><strong>i. Cấu trúc After ở quá khứ dùng để diễn tả một sự việc diễn ra khi đã kết thúc một hành động hay sự việc khác:</strong></span></span>
    </p>
    <p style="text-align:center"><strong><span style="color:#ff3300"><span style="font-size:14px"><span
            style="background-color:#ffff00">After + past perfect, simple past.</span></span></span></strong></p>
    <ul>
        <li><em><strong><span style="color:#000000"><span style="font-size:14px">After I had done all my homework, I went out with my friend. </span></span></strong><span
                style="color:#000000"><span style="font-size:14px">(Sau khi hoàn thành tất cả bài tập về nhà, mình đã đi ra ngoài chơi cùng bạn bè.)</span></span></em>
        </li>
        <li><em><strong><span style="color:#000000"><span style="font-size:14px">My mother came home after she had finished her work at the office. </span></span></strong><span
                style="color:#000000"><span style="font-size:14px">(Mẹ của mình về nhà sau khi đã hoàn tất công việc trên văn phòng.)</span></span></em>
        </li>
    </ul>
    <p><span style="color:#000000"><span style="font-size:14px"><strong>ii. Cấu trúc After được sử dụng để nói về một sự việc đã diễn ra trong quá khứ nhưng kết quả vẫn còn tiếp diễn ở hiện tại:</strong></span></span>
    </p>
    <p style="text-align:center"><strong><span style="color:#ff3300"><span style="font-size:14px"><span
            style="background-color:#ffff00">After + simple past, simple present</span></span></span></strong></p>
    <ul>
        <li><em><strong><span style="color:#000000"><span style="font-size:14px">After they quarelled many times, they decide to divorce. </span></span></strong><span
                style="color:#000000"><span
                style="font-size:14px">(Sau nhiều lần cãi nhau, họ đã quyết định ly hôn.)</span></span></em></li>
        <li><em><strong><span style="color:#000000"><span style="font-size:14px">After everything happened, John is still my friend. </span></span></strong><span
                style="color:#000000"><span style="font-size:14px">(Sau khi xảy ra tất cả mọi chuyện, John vẫn là bạn của tôi.)</span></span></em>
        </li>
    </ul>
    <p><span style="color:#000000"><span style="font-size:14px"><strong>iii. Cấu trúc After được sử dụng để nói về một sự việc đã diễn ra ở quá khứ và kết quả đã kết thúc ở quá khứ:</strong></span></span>
    </p>
    <p style="text-align:center"><span style="color:#ff3300"><strong><span style="font-size:14px"><span
            style="background-color:#ffff00">After + simple past, simple past</span></span></strong></span></p>
    <ul>
        <li><strong><em><span style="color:#000000"><span style="font-size:14px">After he drove too fast, he caused an accident. </span></span></em></strong><em><span
                style="color:#000000"><span style="font-size:14px">(Sau khi lái xe quá nhanh, anh ấy đã gây nên tai nạn.)</span></span></em>
        </li>
        <li><strong><em><span style="color:#000000"><span style="font-size:14px">After we discussed in an hour, we solved the problem. </span></span></em></strong><em><span
                style="color:#000000"><span style="font-size:14px">(Sau khi bàn luận một giờ đồng hồ, chúng tôi đã giải quyết được vấn đề.)</span></span></em>
        </li>
    </ul>
    <p><strong><span style="color:#000000"><span style="font-size:14px">iv. Cấu trúc After được sử dụng để nói về những hành động sẽ tiếp tục thực hiện sau khi hoàn tất một việc nào đó.</span></span></strong>
    </p>
    <p style="text-align:center"><strong><span style="color:#ff3300"><span style="font-size:14px"><span
            style="background-color:#ffff00">After + present perfect/ simple present, simple future</span></span></span></strong>
    </p>
    <ul>
        <li><em><strong><span style="color:#000000"><span style="font-size:14px">After I’ve spoken to them, I’ll call you. </span></span></strong><span
                style="color:#000000"><span style="font-size:14px">(Sau khi nói chuyện với họ, mình sẽ gọi điện cho cậu.)</span></span></em>
        </li>
        <li><em><strong><span style="color:#000000"><span style="font-size:14px">After she has booked the airline ticket, she’ll go to Japan. </span></span></strong><span
                style="color:#000000"><span style="font-size:14px">(Sau khi đặt vé máy bay trực tuyến, cô ấy sẽ bay đến Nhật Bản.)</span></span></em>
        </li>
    </ul>
    <p><span style="color:#000000"><span style="font-size:14px"><strong>2. Giới từ</strong></span></span></p>
    <p><span style="color:#000000"><span style="font-size:14px">Khi đóng vai trò là giới từ, After có thể hiện ý nghĩa muộn hơn hay sau ai đó hay sau một sự kiện nào đó.</span></span>
    </p>
    <ul>
        <li><strong><em><span style="color:#000000"><span
                style="font-size:14px">They arrived shortly after 5. </span></span></em></strong><em><span
                style="color:#000000"><span style="font-size:14px">(Họ đến ngay sau 5 giờ.)</span></span></em></li>
        <li><strong><em><span style="color:#000000"><span
                style="font-size:14px">Not long after that he resigned. </span></span></em></strong><em><span
                style="color:#000000"><span
                style="font-size:14px">(Không lâu sau đó ông ấy đã từ chức.)</span></span></em></li>
        <li><strong><em><span style="color:#000000"><span
                style="font-size:14px">I went home after an hour. </span></span></em></strong><em><span
                style="color:#000000"><span style="font-size:14px">(Tôi đã về đến nhà sau một giờ.)</span></span></em>
        </li>
    </ul>
    <p><span style="color:#000000"><span style="font-size:14px"><strong>3. Trạng từ</strong></span></span></p>
    <p><span style="color:#000000"><span style="font-size:14px">Khi đóng vai trò là trạng từ, AFTER thể hiện thời gian muộn hơn hay sau một thời gian nào đó trong quá khứ, hay trạng thái đã diễn ra/ xảy ra của một sự việc nào đó được nhắc đến.</span></span>
    </p>
    <ul>
        <li><em><strong><span style="color:#000000"><span
                style="font-size:14px">Anh they all lived happily ever after. </span></span></strong><span
                style="color:#000000"><span style="font-size:14px">(Và tất cả họ đề sống hạnh phúc cùng nhau từ đó về sau)</span></span></em>
        </li>
        <li><em><strong><span style="color:#000000"><span style="font-size:14px">I could come next week, or the week after. </span></span></strong><span
                style="color:#000000"><span
                style="font-size:14px">(Mình có thể đến vào tuần sau, hay một tuần sau đó.)</span></span></em></li>
    </ul>
    <p><span style="color:#000000"><span style="font-size:14px"><strong>III. LƯU Ý KHI SỬ DỤNG</strong></span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:14px">Các mệnh đề chứa after thường có vị trí linh hoạt trong câu, mệnh đề này đều có thể đứng trước hoặc đứng sau tùy theo mục đích diễn đạt của người sử dụng. </span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:14px">Khi mệnh đề chứa after đứng trước, mệnh đề này sẽ được ngăn cách với mệnh đề đứng sau bằng dấu phẩy. Còn nếu như mệnh đề</span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:14px">after đứng sau thì sẽ không có dấu phẩy nào được ngăn cách giữa 2 mệnh đề.</span></span>
    </p>
    <ul>
        <li><em><span style="color:#000000"><span style="font-size:14px">I’ll contact you <strong>after</strong> we reach the airport. </span></span></em>
        </li>
        <li><em><span style="color:#000000"><span style="font-size:14px"><strong>After</strong> I left him a message, he phones me immediately.</span></span></em>
        </li>
    </ul>
    <p><span style="color:#000000"><span style="font-size:14px">Ta có thể sử dụng After dưới dạng trạng từ, nhưng afterwards được sử dụng thường xuyên hơn. </span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:14px">After thường chỉ được sử dụng như một phần của một cụm trạng từ.</span></span>
    </p>
    <ul>
        <li><em><span style="color:#000000"><span
                style="font-size:14px">We lived happily ever <strong>after</strong>.</span></span></em></li>
        <li><em><span style="color:#000000"><span style="font-size:14px">She had an operation on her leg and <strong>afterwards</strong> was unable to walk for as least a month.</span></span></em>
        </li>
    </ul>
</div>