<meta charset="UTF-8">
<div class="first-content"><p><span style="color:#000000"><span
        style="font-size:14px"><strong>I. TỔNG QUAN VÀ Ý NGHĨA</strong></span></span></p>
    <p><span style="color:#000000"><span style="font-size:14px">Agree là một động từ thông dụng trong tiếng Anh với ý nghĩa “đồng ý, bằng lòng, phù hợp, …”<br/>  I totally agree with you! (Tôi hoàn toàn đồng ý với bạn!)<br/>  You can't expect them to agree on everything. (Bạn không thể mong đợi họ hoàn toàn đồng ý tất cả mọi điều.)<br/>  All parties agree that urgent action is required. (Tất cả các bên đều đồng ý rằng cần phải hành động khẩn cấp.)</span></span>
    </p>
    <p><span style="color:#000000"><span
            style="font-size:14px"><strong>II. CẤU TRÚC VÀ CÁCH SỬ DỤNG</strong></span></span></p>
    <p><span style="color:#000000"><span style="font-size:14px">1. Agree with<br/>  Cấu trúc Agree with được sử dụng khi muốn thể hiện rằng bạn đồng ý với ai đó hay vói một sự việc/ sự kiện nào đó, hay khi bạn cho rằng sự việc đó rất đúng đắn.</span></span>
    </p></div>
<div class="last-content"><p><span style="color:#000000"><span style="font-size:14px">Khi bạn đồng ý với ai hay sự việc nào đó:</span></span>
</p>
    <p style="text-align:center"><strong><span style="color:#ff3300"><span style="font-size:14px"><span
            style="background-color:#ffff00">S + agree with + N</span></span></span></strong></p>
    <ul>
        <li><span style="color:#000000"><span style="font-size:14px">Many experts agree wholeheartedly with this statement. (Nhiều chuyên gia đều hết lòng đồng ý với nhận định này.)</span></span>
        </li>
        <li><span style="color:#000000"><span style="font-size:14px">I tend to agree with her political views. (Tôi có xu hướng đồng ý với quan điểm chính trị của bà ấy.)</span></span>
        </li>
    </ul>
    <p><span style="color:#000000"><span style="font-size:14px">Khi bạn đồng ý hay tán thành với việc thưc hiện một hành động nào đó:</span></span>
    </p>
    <p style="text-align:center"><span style="color:#ff3300"><strong><span style="font-size:14px"><span
            style="background-color:#ffff00">S + agree with + V_ing</span></span></strong></span></p>
    <p><span style="color:#000000"><span style="font-size:14px">I don't agree with hitting children as a punishment. (Tôi không tán thành với việc đánh trẻ em như một hình phạt.)<br/>  He doesn’t agree with giving money to beggars. (Anh ta không đồng ý trao tiền cho người ăn xin.)</span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:14px">Khi bạn đồng ý với ai về một sự việc hay hành động nào đó:</span></span>
    </p>
    <p style="text-align:center"><strong><span style="color:#ff3300"><span style="font-size:14px"><span
            style="background-color:#ffff00">S + agree with + Somebody + on/ about + Something</span></span></span></strong>
    </p>
    <p><span style="color:#000000"><span style="font-size:14px">He agreed with them about the need for change. (Anh ấy tán thành với họ về nhu cầu thay đổi.)</span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:14px"><strong>2. Agree to</strong></span></span></p>
    <p><span style="color:#000000"><span style="font-size:14px">Cấu trúc Agree to được sử dụng để nói rằng ai đó đồng ý làm việc gì, hoặc ai đó đồng ý với đề xuất/gợi ý/mong muốn của người khác.</span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:14px">Khi bạn đồng ý thực hiện một hành động nào đó người khác đề xuất:</span></span>
    </p>
    <p style="text-align:center"><span style="color:#ff3300"><strong><span style="font-size:14px"><span
            style="background-color:#ffff00">S + agree to + V</span></span></strong></span></p>
    <ul>
        <li><em><strong><span style="color:#000000"><span style="font-size:14px">He reluctantly agreed to pay for the damage.</span></span></strong><span
                style="color:#000000"><span style="font-size:14px"> (Anh ta miễn cưỡng đồng ý bồi thường.)</span></span></em>
        </li>
        <li><em><strong><span style="color:#000000"><span style="font-size:14px">She agreed to let me go early. </span></span></strong><span
                style="color:#000000"><span style="font-size:14px">(Bà ấy đồng ý cho tôi đi sớm.)</span></span></em>
        </li>
    </ul>
    <p><span style="color:#000000"><span style="font-size:14px">Khi bạn đồng ý hay cho phép một hành động hay một sự kiện nào đó sẽ xảy ra:</span></span>
    </p>
    <p style="text-align:center"><span style="color:#ff3300"><strong><span style="font-size:14px"><span
            style="background-color:#ffff00">S + agree to + Something</span></span></strong></span></p>
    <ul>
        <li><em><strong><span style="color:#000000"><span style="font-size:14px">The government has finally agreed in principle to the terms of the deal. </span></span></strong><span
                style="color:#000000"><span style="font-size:14px">(Cuối cùng chính phủ đã đồng ý về nguyên tắc của những điều khoản được thỏa thuận.)</span></span></em>
        </li>
        <li><em><strong><span style="color:#000000"><span style="font-size:14px">Do you think he'll agree to their proposal? </span></span></strong><span
                style="color:#000000"><span style="font-size:14px">(Bạn có nghĩ rằng ông ấy sẽ đồng ý với đề xuất của họ không?)</span></span></em>
        </li>
    </ul>
    <p><span style="color:#000000"><span style="font-size:14px"><strong>3.Agree on & agree about</strong></span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:14px">Cấu trúc Agree on/ about được sử dụng để thể hiện sự tán thành hay thống nhất về một chủ đề, quan điểm, kế hoạch nào đó.</span></span>
    </p>
    <p style="text-align:center"><span style="color:#ff3300"><strong><span style="font-size:14px"><span
            style="background-color:#ffff00">S + agree on/ about + Something</span></span></strong></span></p>
    <ul>
        <li><span style="color:#000000"><span style="font-size:14px">You can't expect them to agree on everything. (Bạn không thể mong đợi việc họ tán thành tất cả mọi điều.)</span></span>
        </li>
        <li><span style="color:#000000"><span style="font-size:14px">We agree on most things. (Chúng tôi đồng ý với hầu hết tất cả mọi điều.)</span></span>
        </li>
    </ul>
    <p><span style="color:#000000"><span style="font-size:14px"><strong>4. Agree something</strong></span></span></p>
    <p><span style="color:#000000"><span style="font-size:14px">Cấu trúc Agree khi đi trực tiếp với một tân ngữ có nghĩa là “cùng nhau ra một quyết định” và chỉ thường được sử dụng ở Anh, khi nói về những quyết định, chỉ thị của các ban, bộ hay các tổ chức có thẩm quyền.</span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:14px">Dùng trong trường hợp có 2 bên trở lên chẳng hạn như 2 người, 2 quốc gia, công ty…trở lên.</span></span>
    </p>
    <p style="text-align:center"><span style="color:#ff3300"><strong><span style="font-size:14px"><span
            style="background-color:#ffff00">S + agree + O</span></span></strong></span></p>
    <ul>
        <li><em><strong><span style="color:#000000"><span
                style="font-size:14px">Can we agree a price? </span></span></strong><span style="color:#000000"><span
                style="font-size:14px">(Chúng ta có thể thống nhất mức giá không?)</span></span></em></li>
        <li><em><strong><span style="color:#000000"><span style="font-size:14px">Ministers agree a strategy for tackling the Covid. </span></span></strong><span
                style="color:#000000"><span style="font-size:14px">(Các bộ trưởng đồng ý một chiến lược để đối phó với Covid.)</span></span></em>
        </li>
    </ul>
    <p><strong><span style="color:#000000"><span style="font-size:14px">5. Các cấu trúc khác</span></span></strong></p>
    <p><span style="color:#000000"><span style="font-size:14px"><strong>i. Agree that</strong></span></span></p>
    <p><span style="color:#000000"><span style="font-size:14px">Được sử dụng để thể hiện sự đồng ý hay tán thành một sự việc hay sự kiện nào đó:</span></span>
    </p>
    <p style="text-align:center"><span style="color:#ff3300"><strong><span style="font-size:14px"><span
            style="background-color:#ffff00">S + agree + that + Clause</span></span></strong></span></p>
    <ul>
        <li><span style="color:#000000"><span style="font-size:14px">We agreed that the proposal was a good one. (Chúng tôi tán thành rằng đề xuất này rất hay.)</span></span>
        </li>
    </ul>
    <p><strong><span style="color:#000000"><span style="font-size:14px">ii. Agree + Question word</span></span></strong>
    </p>
    <ul>
        <li><em><strong><span style="color:#000000"><span
                style="font-size:14px">We couldn't agree what to do. </span></span></strong><span style="color:#000000"><span
                style="font-size:14px">(Chúng tôi không thể thống nhất phải làm gì.)</span></span></em></li>
        <li><em><strong><span style="color:#000000"><span style="font-size:14px">Experts seem unable to agree whether the drug is safe or not. </span></span></strong><span
                style="color:#000000"><span style="font-size:14px">(Các chuyên gia dường như không thể đồng ý liệu thuốc có an toàn hay không).</span></span></em>
        </li>
    </ul>
    <p><strong><span style="color:#000000"><span style="font-size:14px">iii. Things agree</span></span></strong></p>
    <p><span style="color:#000000"><span style="font-size:14px">Được sử dụng để thể hiện những sự việc hay sự vật giống nhau, hợp nhau hay trùng khớp với nhau:</span></span>
    </p>
    <ul>
        <li><em><strong><span style="color:#000000"><span style="font-size:14px">Police could not locate the criminal because none of the descriptions given by the witnesses agreed. </span></span></strong><span
                style="color:#000000"><span style="font-size:14px">(Cảnh sát không thể xác định vị trí của tên tội phạm vì không có mô tả nào do các nhân chứng cung cấp khớp với nhau).</span></span></em>
        </li>
    </ul>
</div>