<meta charset="UTF-8">
<div class="first-content"><p><strong><span style="color:#000000"><span
        style="font-size:14px">I. TỔNG QUAN VÀ Ý NGHĨA</span></span></strong></p>
    <p><span style="color:#000000"><span style="font-size:14px"><strong>Invite</strong> được sử dụng với vai trò như một động từ với ý nghĩa là mời, yêu cầu ai đó đến đâu hay thực hiện hành động nào đó.</span></span>
    </p>
    <ul>
        <li><em><strong><span style="color:#000000"><span
                style="font-size:14px">Have you been invited to their party? </span></span></strong><span
                style="color:#000000"><span
                style="font-size:14px">(Cậu đã được mời đến bữa tiệc chưa?)</span></span></em></li>
        <li><em><strong><span style="color:#000000"><span
                style="font-size:14px">Let's invite them all for dinner.</span></span></strong><span
                style="color:#000000"><span style="font-size:14px"> (Hãy mời tất cả bọn họ ăn tối.)</span></span></em>
        </li>
    </ul>
    <p><span style="color:#000000"><span style="font-size:14px">Khi được sử dụng với vai trò là danh từ, INVITE được sử dụng với ý nghĩa là lời mời:</span></span>
    </p>
    <ul>
        <li><em><strong><span style="color:#000000"><span style="font-size:14px">Thanks for your invite. </span></span></strong><span
                style="color:#000000"><span style="font-size:14px">(Cảm ơn vì lời mời của cậu.)</span></span></em></li>
        <li><em><strong><span style="color:#000000"><span style="font-size:14px">I didn't get an invite to their wedding. </span></span></strong><span
                style="color:#000000"><span
                style="font-size:14px">(Tôi không được mời đến dự đám cưới của họ.)</span></span></em></li>
    </ul>
    <p><span style="color:#000000"><span style="font-size:14px">Thông thường, khi sử dụng danh từ với ý nghĩa lời mời, ta thường sử dụng invitation thay vì invite.</span></span>
    </p></div>
<div class="last-content"><p><strong><span style="color:#000000"><span
        style="font-size:14px">II. CẤU TRÚC VÀ CÁCH DÙNG</span></span></strong></p>
    <p><strong><span style="color:#000000"><span style="font-size:14px">1. Cách dùng</span></span></strong></p>
    <p><span style="color:#000000"><span style="font-size:14px">i. Ta sử dụng Invite với ý nghĩa mời ai đó làm gì/ thực hiện một hành động nào đó với ý nghĩa là ‘mời’.</span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:14px">ii. Ta sử dụng Invite để đưa ra yêu cầu lịch sự, trang trọng để ai đó thực hiện một hành động nào đó với ý nghĩa là ‘yêu cầu, đề nghị’</span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:14px">iii. Ta sử dụng Invite để thể hiện một sự việc nào đó xấu sẽ xảy đến với ý nghĩa ‘lôi cuốn, cám dỗ’.</span></span>
    </p>
    <ul>
        <li><em><strong><span style="color:#000000"><span
                style="font-size:14px">She very kindly invited me to lunch. </span></span></strong><span
                style="color:#000000"><span
                style="font-size:14px">(Cô ấy thật tốt bụng khi mời mình ăn trưa.)</span></span></em></li>
        <li><em><strong><span style="color:#000000"><span style="font-size:14px">He was invited to attend the Paris Peace Conference in 1919. </span></span></strong><span
                style="color:#000000"><span style="font-size:14px">(Ông ấy được đề nghị/ mời tham dự hội nghị hòa bình Paris vào năm 1919.)</span></span></em>
        </li>
        <li><em><strong><span style="color:#000000"><span style="font-size:14px">Such comments are just inviting trouble. </span></span></strong><span
                style="color:#000000"><span
                style="font-size:14px">(Những bình luận như vậy chỉ mang đến rắc rối thôi.)</span></span></em></li>
    </ul>
    <p><strong><span style="color:#000000"><span style="font-size:14px">2. Cấu trúc</span></span></strong></p>
    <p><strong><span style="color:#000000"><span
            style="font-size:14px">i. Cấu trúc Invite với động từ</span></span></strong></p>
    <p style="text-align:center"><span style="color:#ff3300"><strong><span style="font-size:14px"><span
            style="background-color:#ffff00">S + invite + O + V-to</span></span></strong></span></p>
    <ul>
        <li><em><strong><span style="color:#000000"><span style="font-size:14px">They have invited me to go to Paris with them. </span></span></strong><span
                style="color:#000000"><span
                style="font-size:14px">(Họ đã mời tôi đi đến Paris với họ.)</span></span></em></li>
        <li><em><strong><span style="color:#000000"><span style="font-size:14px">They were flattered to be invited to dinner by the mayor. </span></span></strong><span
                style="color:#000000"><span
                style="font-size:14px">(Họ rất hãnh diện khi được thị trưởng mời ăn tối.)</span></span></em></li>
    </ul>
    <p><span style="color:#000000"><span style="font-size:14px"><strong>ii. Cấu trúc Invite với danh từ</strong></span></span>
    </p>
    <p style="text-align:center"><span style="color:#ff3300"><strong><span style="font-size:14px"><span
            style="background-color:#ffff00">S + invite + O + to/ for + N</span></span></strong></span></p>
    <ul>
        <li><em><strong><span style="color:#000000"><span style="font-size:14px">We're invited to Lola's party. </span></span></strong><span
                style="color:#000000"><span
                style="font-size:14px">(Chúng tôi được mời đến bữa tiệc của Lola.)</span></span></em></li>
        <li><em><strong><span style="color:#000000"><span style="font-size:14px">Candidates who are successful in the written test will be invited for an interview. </span></span></strong><span
                style="color:#000000"><span style="font-size:14px">(Những ứng cử viên đậu vòng thi viết sẽ được mời đến buổi phỏng vấn.)</span></span></em>
        </li>
    </ul>
    <p><span style="color:#000000"><span style="font-size:14px"><strong>III. LƯU Ý KHI SỬ DỤNG</strong></span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:14px">Khi được sử dụng là động từ, Invite được chia theo thể và thì của chủ ngữ và cấu trúc trong câu.</span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:14px">Dạng thức bị động của Invite:</span></span></p>
    <p style="text-align:center"><span style="color:#ff3300"><strong><span style="font-size:14px"><span
            style="background-color:#ffff00">S + tobe invited + to V</span></span></strong></span></p>
    <ul>
        <li><em><strong><span style="color:#000000"><span style="font-size:14px">80 guests had been invited to the wedding. </span></span></strong><span
                style="color:#000000"><span
                style="font-size:14px">(80 khách mời được mời đến dự đám cưới.)</span></span></em></li>
        <li><em><strong><span style="color:#000000"><span style="font-size:14px">All the mums and dads are invited to the school play at the end of the year. </span></span></strong><span
                style="color:#000000"><span style="font-size:14px">(Tất cả các vị phụ huynh đều được mời đến buổi diễn kịch tại trường vào dịp cuối năm.)</span></span></em>
        </li>
    </ul>
</div>