<meta charset="UTF-8">
<div class="first-content"><p><span style="color:#000000"><span
        style="font-size:14px"><strong>I. TỔNG QUAN VÀ Ý NGHĨA</strong></span></span></p>
    <p><span style="color:#000000"><span style="font-size:14px"><strong>How long</strong> được sử dụng để đặt câu hỏi về một khoảng thời gian bao lâu hay độ dài cụ thể của một đồ vật nào đó.<br/>  Trong tiếng Anh, <strong>How long</strong> được sử dụng với hai nghĩa tương ứng là “bao lâu” hay “độ dài bao nhiêu”.</span></span>
    </p>
    <p><em><span style="color:#000000"><span style="font-size:14px">- <u><strong>How long</strong></u> have you been waiting? (<strong>Time</strong>)<br/>  - <u><strong>How long</strong></u> is this road? (<strong>Length</strong>)</span></span></em>
    </p>
    <p><span style="color:#000000"><span style="font-size:14px"><strong>II. CẤU TRÚC VÀ CÁCH DÙNG</strong></span></span>
    </p></div>
<div class="last-content"><p><span style="color:#000000"><span style="font-size:14px">Trong tiếng Anh, How long có hai cách dung phổ biến nhất:</span></span>
</p>
    <p><span style="color:#000000"><span style="font-size:14px">1. <strong>How long</strong> được sử dụng để đặt câu hỏi về thời gian bao lâu một sự kiện nào đó diễn ra:</span></span>
    </p>
    <p style="text-align:center"><span style="color:#ff3300"><strong><span style="font-size:14px"><span
            style="background-color:#ffff00"> How long + auxiliary verb/ model verb + S + V? </span></span></strong></span>
    </p>
    <p><span style="color:#000000"><em><span style="font-size:14px">- <strong>How long</strong> <strong>will the lesson last?</strong> (Bài học kéo dài bao lâu?)<br/>  - <strong>How long</strong> <strong>did you stay in England</strong>? (Bạn đã ở Anh được bao lâu?)</span></em></span>
    </p>
    <p style="text-align:center"><strong><span style="color:#ff3300"><span style="font-size:14px"><span
            style="background-color:#ffff00"> How long + have/ has + S + V-PII? </span></span></span></strong></p>
    <p><em><span style="font-size:14px"><strong>- How long have you been in England?</strong> (Bạn đã ở Anh được bao lâu rồi?)<br/>  <strong>- How long has it rained?</strong> (Trời đã mưa được bao lâu rồi?)</span></em>
    </p>
    <p><span style="font-size:14px">2. <strong>How long</strong> được sử dụng để đặt câu hỏi về độ dài đã được đo đạc của một vật dụng nào đó:</span>
    </p>
    <p style="text-align:center"><span style="color:#ff3300"><strong><span style="font-size:14px"><span
            style="background-color:#ffff00"> How long + be + N? </span></span></strong></span></p>
    <p><em><span style="font-size:14px"><strong>- How long was the wedding dress? </strong>(Chiếc váy cưới dài bao nhiêu?)<br/>  <strong>- How long are these trousers?</strong> (Cái quần này dài bao nhiêu?)</span></em>
    </p>
    <p><span style="font-size:14px">3. <strong>How long</strong> còn được sử dụng để hỏi ai đó thường danh thời gian bao lâu để thực hiện một hành động nào đó:</span>
    </p>
    <p style="text-align:center"><span style="color:#ff3300"><strong><span style="font-size:14px"><span
            style="background-color:#ffff00"> How long does it take + (O) + to V? </span></span></strong></span></p>
    <p><em><span style="font-size:14px"><strong>- How long does it take you to speak English fluently?</strong> (Bạn mất bao lâu để nói thành thạo tiếng Anh?)<br/>  <strong>- How long does it take you to go to school?</strong> (Bạn mất bao lâu để đi đến trường?)</span></em>
    </p>
    <p><span style="font-size:14px"><strong>III. HOW LONG & HOW MANY TIMES</strong></span></p>
    <p><span style="font-size:14px">Cả hai cấu trúc <strong>How long</strong> và <strong>How many times</strong> đều được sử dụng để hỏi về khoảng thời gian:<br/>   <br/>  - <strong>How long</strong>: được sử dụng để hỏi về khoảng thời gian bao lâu.<br/>  - <strong>How many times</strong>: được sử dụng để hỏi về số lần cụ thể khi sự việc xảy ra.</span>
    </p>
    <blockquote><p><span style="color:#000000"><span style="font-family:Arial,Helvetica,sans-serif"><em><span
            style="font-size:14px"><strong>How long did you read this book?</strong> (Bạn đọc quyển sách này trong bao lâu?<br/>  <strong>How many times have you read this book?</strong> (Bạn đã đọc quyển sách này bao nhiêu lần rồi?)</span></em></span></span>
    </p></blockquote>
    <p><span style="font-size:14px"><strong>IV. LƯU Ý KHI SỬ DỤNG HOW LONG</strong></span></p>
    <p><span style="font-size:14px">Cấu trúc <strong>How long</strong> dùng để hỏi về khoảng thời gian thường được sử dụng cùng với giới từ “for” hoặc “since” trong câu trả lời.</span>
    </p>
    <p><span style="font-size:14px"><em><strong>- How long have you been living in this house?</strong> – For 12 years now.</em></span>
    </p>
    <p><span style="font-size:14px">Câu trả lời của cấu trúc <strong><em>How long does it take …?</em></strong></span>
    </p>
    <p style="text-align:center"><strong><span style="color:#ff3300"><span style="font-size:14px"><span
            style="background-color:#ffff00"> It takes + (O) + time + to V. </span></span></span></strong></p>
    <p><strong><span
            style="font-size:14px">- How long does it take to get to their hometown by train?</span></strong><br/> <span
            style="font-size:14px">>> It takes 6 hours to get to their hometown by train.</span></p>
</div>