<meta charset="UTF-8">
<div class="first-content"><p><span style="color:#000000"><span style="font-size:14px"><strong>1. Ý nghĩa</strong><br/>  “Try” có tầng nghĩa khá đa dạng và được sử dụng đồng thời như một danh từ và động từ.</span></span>
</p>
    <p><strong><span style="color:#000000"><span style="font-size:14px">a) Danh từ</span></span></strong><br/> <span
            style="color:#000000"><span style="font-size:14px">- “Try” khi là danh từ sẽ mang nghĩa “thử, sự thử nghiệm”.</span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:14px"><strong>Ex</strong>: I don't think I'll be any good at tennis, but I'll give it a try.<br/>  <em>(Mình không nghĩ mình sẽ chơi giỏi môn quần vợt đâu, nhưng mình sẽ thử xem sao.)</em></span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:14px">- “Try” khi là danh từ cũng sẽ mang tầng nghĩa “sự cố gắng”.</span></span>
    </p></div>
<div class="last-content"><p><span style="color:#000000"><span style="font-size:14px"><strong>Ex</strong>: Why don't you have a try at convincing him?<br/>  <em>(Sao cậu không cố gắng thuyết phục anh ấy xem sao?)</em></span></span>
</p>
    <p><strong><span style="color:#000000"><span style="font-size:14px">b) Động từ</span></span></strong><br/> <span
            style="color:#000000"><span
            style="font-size:14px">- “Try” khi là động từ sẽ mang nghĩa “cố gắng, nỗ lực”.</span></span></p>
    <p><span style="color:#000000"><span style="font-size:14px"><strong>Ex</strong>: I'm trying my hardest, but I just can't do it.<br/>  <em>(Mình đã cố gắng hết sức rồi, nhưng mình vẫn không thể làm được.)</em></span></span>
    </p>
    <p><span style="color:#000000"><span
            style="font-size:14px">- “Try” khi là động từ sẽ còn mang nghĩa “thử”.</span></span></p>
    <p><span style="color:#000000"><span style="font-size:14px"><strong>Ex</strong>: I forgot my door-keys - we'd better try the window.<br/>  <em>(Mình quên mang theo chìa khóa cửa rồi. Mình thử mở cửa sổ xem sao.)</em></span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:14px">- “Try” còn có nghĩa là “xét xử” trong một số trường hợp<br/>  <strong>Ex</strong>: He was tried by the supreme court.<br/>  <em>(Anh ta bị xét xử bởi tòa án tối cao.)</em></span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:14px"><strong>2. Cấu trúc</strong><br/>  Giải đáp thắc mắc của người học về cấu trúc Try + V-ing và cấu trúc Try + to + V. Hôm nay chúng ta cùng đi sâu tìm hiểu nhé!</span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:14px"><strong>a) Cấu trúc Try + V-ing</strong></span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:14px">Cấu trúc<strong> </strong></span></span><strong><span
            style="color:#ff3300"><span style="font-size:14px"><span style="background-color:#ffff00">Try + V-ing</span></span></span></strong><span
            style="color:#000000"><span style="font-size:14px"> được sử dụng khi ai đó muốn thử nghiệm thực hiện một hành động nào đó hay muốn thử nghiệm xem điều gì sẽ xảy ra.</span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:14px"><strong>Ex:</strong><br/>  • <strong>Try using a different shampoo.</strong> <em>(Thử sử dụng loại dầu gội khác xem sao.)</em><br/>  • <strong>John isn't here. Try phoning his mobile.</strong> <em>(John không có ở đây. Thử gọi di động cho cậu ấy xem.)</em></span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:14px"><strong>b) Cấu trúc Try + to + V</strong></span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:14px">Cấu trúc </span></span><strong><span
            style="color:#ff3300"><span style="font-size:14px"><span
            style="background-color:#ffff00">Try + to + V</span></span></span></strong><span style="color:#000000"><span
            style="font-size:14px"> được sử dụng khi ai đó đang cố gắng hay nỗ lực thực hiện một hành động nào đó hay cố gắng đạt được một thành tựu nào đó.</span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:14px"><strong>Ex:</strong><br/>  • <strong>I kept trying to remember where I had seen him before.</strong> <em>(Tôi cứ cố gắng nhớ lại xem mình đã gặp anh ta ở đâu rồi.)</em><br/>  • <strong>We will try our best to win this round.</strong> <em>(Chúng tôi sẽ cố gắng hết sức để thắng vòng này.)</em></span></span>
    </p>
    <p><strong><span style="color:#000000"><span style="font-size:14px">3. Lưu ý</span></span></strong></p>
    <p><span style="color:#000000"><span style="font-size:14px">- “Try” có hai cách sử dụng với hai tầng nghĩa hoàn toàn khác nhau, nên người học cần phân biệt rõ ràng trước khi sử dụng.<br/>  - Động từ “try” được chia theo chủ ngữ và thì trong câu.<br/>  - Một số cấu trúc phổ biến với động từ “try”.</span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:14px">+ <strong>Try for</strong>: <em>Cố gắng cho điều gì</em></span></span>
    </p>
    <ul>
        <li><span style="color:#000000"><span style="font-size:14px"><strong>Are you going to try for that job in the sales department?</strong> <em>(Cậu đang cố gắng vì công việc ở phòng kinh doanh hả?)</em></span></span>
        </li>
    </ul>
    <p><span style="color:#000000"><span
            style="font-size:14px">+ <strong>Try something on</strong>: <em>Thử quần áo</em></span></span></p>
    <ul>
        <li><span style="color:#000000"><span
                style="font-size:14px"><strong>Try the shoes on before you buy them</strong>. <em>(Nhớ thử giày trước khi mua nhé!)</em></span></span>
        </li>
    </ul>
    <p><span style="color:#000000"><span
            style="font-size:14px">+ <strong>Try out</strong>: <em>Thử nghiệm</em></span></span></p>
    <ul>
        <li><span style="color:#000000"><span style="font-size:14px"><strong>They're trying out a new presenter for the show.</strong> <em>(Họ đang thử nghiệm người dẫn chương trình mới cho buổi biểu diễn.)</em></span></span>
        </li>
    </ul>
    <p><span style="color:#000000"><span
            style="font-size:14px">+<strong> Try out for</strong>: <em>Cạnh tranh</em></span></span></p>
    <ul>
        <li><span style="color:#000000"><span
                style="font-size:14px"><strong>She's trying out for the school play.</strong> <em>(Cô ấy đang cạnh tranh vì vở kịch của trường.)</em></span></span>
        </li>
    </ul>
</div>