<meta charset="UTF-8">
<div class="first-content"><p><span style="color:#000000"><span style="font-size:14px"><strong><em>Danh từ số nhiều không có quy tắ</em>c</strong> (Irregular plural nouns) là những danh từ không thể thêm hậu tố -s hoặc -es để tạo thành dạng số nhiều.</span></span>
</p>
    <p><span style="color:#000000"><span style="font-size:14px">- 1 con cá là <em>1 fish</em>; 2 con cá cũng là <em>2 fish</em><br/>  - 1 người là <em>1 person</em> nhưng 2 người phải là <em>2 people</em><br/>  - 1 chiếc lá là <em>1 leaf</em> nhưng 2 chiếc lá thì là <em>2 leaves</em></span></span>
    </p>
    <p><span style="color:#000000"><span style="font-size:14px">Đối với danh từ bất quy tắc, chúng ta cần thay đổi cách viết / âm thanh của từ gốc hoặc không làm gì cả.</span></span>
    </p></div>
<div class="last-content">
    <ul>
        <li><span style="color:#000000"><span style="font-size:14px">1 person - 2 people</span></span></li>
        <li><span style="color:#000000"><span style="font-size:14px">1 child - 2 children</span></span></li>
        <li><span style="color:#000000"><span style="font-size:14px">1 woman - 2 women</span></span></li>
        <li><span style="color:#000000"><span style="font-size:14px">1 man - 2 men</span></span></li>
        <li><span style="color:#000000"><span style="font-size:14px">1 mouse - 2 mice</span></span></li>
        <li><span style="color:#000000"><span style="font-size:14px">1 foot - 2 feet</span></span></li>
        <li><span style="color:#000000"><span style="font-size:14px">1 tooth - 2 teeth</span></span></li>
        <li><span style="color:#000000"><span style="font-size:14px">1 fish - 2 fish</span></span></li>
        <li><span style="color:#000000"><span style="font-size:14px">1 shrimp - 2 shrimp</span></span></li>
        <li><span style="color:#000000"><span style="font-size:14px">1 knife - 2 knives</span></span></li>
        <li><span style="color:#000000"><span style="font-size:14px">1 wife - 2 wives</span></span></li>
        <li><span style="color:#000000"><span style="font-size:14px">1 wolf - 2 wolves</span></span></li>
        <li><span style="color:#000000"><span style="font-size:14px">1 life - 2 lives</span></span></li>
        <li><span style="color:#000000"><span style="font-size:14px">1 leaf - 2 leaves</span></span></li>
        <li><span style="color:#000000"><span style="font-size:14px">1 deer - 2 deer</span></span></li>
    </ul>
    </p>                                </div>