<meta charset="UTF-8">
<div class="first-content"><p><span style="color:#00ccff"><span
        style="font-size:14px"><strong>1. Động từ phù hợp</strong></span></span><br/> <span
        style="color:#000000"><span style="font-size:14px">Bạn phải chắc chắn rằng hành động của bạn được miêu tả đúng trong ngữ cảnh hợp lí.<br/>  <u><em>Ex:</em></u></span></span>
</p>
    <ul>
        <li><span style="color:#000000"><span style="font-size:14px">(Sai) <em>I went to my friend’s house yesterday and we play football.</em></span></span>
        </li>
        <li><span style="color:#000000"><span style="font-size:14px">(Đúng) <strong>I went to my friend’s house yesterday and we played football.</strong></span></span><br/>
            <span style="color:#006600"><em><span style="font-size:14px">Tôi đến nhà bạn tôi ngày hôm qua và chúng tôi đã chơi bóng đá.</span></em></span><br/>
             
        </li>
        <li><span style="color:#000000"><span style="font-size:14px">(Sai) <em>I wake up every day at 6 a.m. Then I had breakfast with my parents.</em></span></span>
        </li>
        <li><span style="color:#000000"><span style="font-size:14px">(Đúng) <strong>I wake up every day at 6 a.m. Then I have breakfast with my parents.</strong></span></span><br/>
            <em><span style="color:#006600"><span style="font-size:14px">Tôi thức dậy vào lúc 6h sáng mỗi ngày. Sau đó tôi ăn sáng cùng bố mẹ tôi.</span></span></em>
        </li>
    </ul>
    <p><span style="color:#00ccff"><span
            style="font-size:14px"><strong>2. Sự phù hợp giữa chủ ngữ và động từ</strong></span></span><br/> <span
            style="color:#000000"><span style="font-size:14px">Đây là một trong những lỗi ngữ pháp tiếng Anh thường gặp nhất khi viết tiếng Anh. Để viết chuyên nghiệp, chủ ngữ và động từ cần có sự ăn khớp với nhau.<br/>  <u><em>Ex:</em></u></span></span>
    </p>
    <ul>
        <li><span style="color:#000000"><span style="font-size:14px">(Sai) <em>He like Chinese food.</em></span></span>
        </li>
        <li><span style="color:#000000"><span
                style="font-size:14px">(Đúng) <strong>He likes Chinese food.</strong></span></span><br/> <span
                style="color:#006600"><span
                style="font-size:14px"><em>Anh ấy thích ăn đồ ăn Trung Hoa.</em></span></span><br/>  
        </li>
        <li><span style="color:#000000"><span style="font-size:14px">(Sai)<em> I lives in Jaipur.</em></span></span>
        </li>
        <li><span style="color:#000000"><span
                style="font-size:14px">(Đúng) <strong>I live in Jaipur.</strong></span></span><br/> <em><span
                style="color:#006600"><span style="font-size:14px">Tôi sống ở Jaipur.</span></span></em></li>
    </ul>
    <p><strong><span style="color:#00ccff"><span
            style="font-size:14px">3. Sử dụng mạo từ thích hợp</span></span></strong><br/> <span
            style="color:#000000"><span style="font-size:14px">Nhiều ngôn ngữ khác không yêu cầu mạo từ như tiếng Anh, chính vì vậy lỗi mạo từ là một trong những lỗi ngữ pháp tiếng Anh thường gặp mà đại đa số người viết mắc phải khi viết.<br/>  <em><u>Ex:</u></em></span></span>
    </p>
    <ul>
        <li><span style="color:#000000"><span style="font-size:14px">(Sai) <em>I saw movie yesterday.</em></span></span>
        </li>
        <li><span style="color:#000000"><span
                style="font-size:14px">(Đúng) <strong>I saw a movie yesterday.</strong></span></span><br/> <span
                style="color:#006600"><span style="font-size:14px"><em>Tôi đã đi xem phim vào hôm qua</em></span></span><br/>
             
        </li>
        <li><span style="color:#000000"><span style="font-size:14px">(Sai) <em>He likes book written by my father.</em></span></span>
        </li>
        <li><span style="color:#000000"><span style="font-size:14px">(Đúng) <strong>He like the book written by my father.</strong></span></span><br/>
            <span style="color:#006600"><em>Anh ấy thích cuốn sách được viết bởi cha tôi.</em></span></li>
    </ul>
    <p><span style="color:#00ccff"><span style="font-size:14px"><strong>4. Lỗi viết hoa</strong></span></span><br/>
        <span style="color:#000000"><span style="font-size:14px">Từ đầu câu và những danh từ riêng thường được viết hoa trong các lá thư.<br/>  <em><u>Ex:</u></em></span></span>
    </p></div>
<div class="last-content">
    <ul>
        <li><span style="font-size:14px"><span
                style="color:#000000">(Sai) <em>He needs to see a Doctor.</em></span></span></li>
        <li><span style="color:#000000"><span
                style="font-size:14px">(Đúng) <strong>He needs to see a doctor.</strong></span></span><br/> <span
                style="color:#006600"><span style="font-size:14px"><em>Anh ấy cần gặp bác sĩ.</em></span></span><br/>  
        </li>
        <li><span style="color:#000000"><span style="font-size:14px">(Sai) <em>Will you meet amit tomorrow?</em></span></span>
        </li>
        <li><span style="color:#000000"><span
                style="font-size:14px">(Đúng) <strong>Will you meet Amit tomorrow?</strong></span></span><br/> <em><span
                style="color:#006600"><span style="font-size:14px">Bạn sẽ gặp Amit vào ngày mai chứ?</span></span></em>
        </li>
    </ul>
    <p><span style="color:#00ccff"><span style="font-size:14px"><strong>5. Chú ý hình thức của từ</strong></span></span><br/>
        <span style="color:#000000"><span style="font-size:14px">Mỗi từ vựng tiếng Anh có các hình thức của từ khác nhau, và bạn cần chú ý sử dụng chúng đúng trong văn cảnh, chuẩn ngữ pháp.<br/>  <em><u>Ex:</u></em></span></span>
    </p>
    <ul>
        <li><span style="font-size:14px"><span style="color:#000000">(Sai) <em>The principle of the school asked the students to keep quiet.</em></span></span>
        </li>
        <li><span style="color:#000000"><span style="font-size:14px">(Đúng) <strong>The principal of the school asked the students to keep quiet.</strong></span></span><br/>
            <em><span style="color:#006600"><span style="font-size:14px">Hiệu trưởng của trường yêu cầu các học sinh giữ im lặng.</span></span></em><br/>
             
        </li>
        <li><span style="color:#000000"><span
                style="font-size:14px">(Sai) <em>The bus was stationery for a long time.</em></span></span></li>
        <li><span style="color:#000000"><span style="font-size:14px">(Đúng) <strong>The bus was stationary for a long time.</strong></span></span><br/>
            <span style="color:#006600"><span
                    style="font-size:14px"><em>Xe bus đã dừng trong một thời gian dài.</em></span></span></li>
    </ul>
    <p><span style="color:#00ccff"><span style="font-size:14px"><strong>6. Vị trí của trạng từ trong câu</strong></span></span><br/>
        <span style="color:#000000"><span style="font-size:14px">Trong một số câu tiếng Anh, vị trí của trạng từ trong câu cũng cần chính xác.<br/>  <u><em>Ex:</em></u></span></span>
    </p>
    <ul>
        <li><span style="color:#000000"><span
                style="font-size:14px">(Sai) <em>I go to the library on Thursday usually.</em></span></span></li>
        <li><span style="color:#000000"><span style="font-size:14px">(Đúng)<strong> I usually go to the library on Thursday.</strong></span></span><br/>
            <span style="color:#006600"><span style="font-size:14px"><em>Tôi thường đến thứ viện vào thứ năm</em></span></span><span
                    style="color:#000000"><span style="font-size:14px">.</span></span><br/>  
        </li>
        <li><span style="color:#000000"><span
                style="font-size:14px">(Sai)<em> My son everyday goes to school.</em></span></span></li>
        <li><span style="color:#000000"><span
                style="font-size:14px">(Đúng)<strong> My son goes to school every day.</strong></span></span><br/> <span
                style="color:#006600"><span
                style="font-size:14px"><em>Con trai tôi đi học mỗi ngày.</em></span></span><span
                style="color:#000000"><span style="font-size:14px"> </span></span></li>
    </ul>
    <p><span style="color:#00ccff"><span
            style="font-size:14px"><strong>7. Đừng nhầm lẫn giới từ sau tính từ</strong></span></span><br/> <span
            style="color:#000000"><span style="font-size:14px">Một số tính từ cố định với giới từ đi kèm theo sau, vì vậy để tránh mắc lỗi thường gặp trong ngữ pháp tiếng Anh dùng nhầm giới từ, bạn hãy học theo cả cụm cấu trúc.<br/>  <em><u>Ex:</u></em></span></span>
    </p>
    <ul>
        <li><span style="font-size:14px"><span
                style="color:#000000">(Sai) <em>I am allergic of roses.</em></span></span></li>
        <li><span style="color:#000000"><span
                style="font-size:14px">(Đúng) <strong>I am allergic to roses.</strong></span></span><br/> <span
                style="color:#006600"><span
                style="font-size:14px"><em>Tôi bị dị ứng với hoa hồng</em></span></span><br/>  
        </li>
        <li><span style="color:#000000"><span style="font-size:14px">(Sai) He is accused for theft.</span></span></li>
        <li><span style="color:#000000"><span
                style="font-size:14px">(Đúng) <strong>He is accused of theft.</strong></span></span><br/> <em><span
                style="color:#006600"><span style="font-size:14px">Anh ta bị buộc tội trộm cắp.</span></span></em><br/>
             
        </li>
    </ul>
    <p><span style="color:#00ccff"><span
            style="font-size:14px"><strong>8. Sử dụng ngôi “I” và “me”</strong></span></span><br/> <span
            style="color:#000000"><span style="font-size:14px">“I” và “me” là danh từ riêng và thường được dùng nhầm lẫn trong các ví dụ dưới đây.<br/>  <em><u>Ex:</u></em></span></span>
    </p>
    <ul>
        <li><span style="font-size:14px"><span
                style="color:#000000">(Sai) <em>My friends and me went to Paris.</em></span></span></li>
        <li><span style="color:#000000"><span
                style="font-size:14px">(Đúng) <strong>My friends and I went to Paris.</strong></span></span><br/> <span
                style="color:#006600"><span
                style="font-size:14px"><em>Bạn tôi và tôi đã đi Paris</em></span></span><br/>  
        </li>
        <li><span style="color:#000000"><span style="font-size:14px">(Sai) She came from Rome to meet I.</span></span>
        </li>
        <li><span style="color:#000000"><span
                style="font-size:14px">(Đúng) <strong>She came from Rome to meet me.</strong></span></span><br/> <span
                style="color:#006600"><span style="font-size:14px"><em>Cô ấy từ Rome đến để gặp tôi.</em></span></span>
        </li>
    </ul>
    <p><br/> <span style="color:#00ccff"><span
            style="font-size:14px"><strong>9. So sánh tính từ</strong></span></span><br/> <span
            style="color:#000000"><span style="font-size:14px">Có hai quy tắc về so sánh bạn cần nhớ cho so sánh của tính từ ngắn và so sánh của tính từ dài và đừng nhầm lẫn hai quy tắc này nhé.<br/>  <u><em>Ex:</em></u></span></span>
    </p>
    <ul>
        <li><span style="color:#000000"><span
                style="font-size:14px">(Sai) <em>He is more tall than me.</em></span></span></li>
        <li><span style="color:#000000"><span
                style="font-size:14px">(Đúng) <strong>He is taller than me.</strong></span></span><br/> <em><span
                style="color:#006600"><span style="font-size:14px">Anh ấy cao hơn tôi.</span></span></em><br/>  
        </li>
        <li><span style="color:#000000"><span style="font-size:14px">(Sai) <em>She is the beautifulest girl in the class.</em></span></span>
        </li>
        <li><span style="color:#000000"><span style="font-size:14px">(Đúng) <strong>She is the most beautiful girl in the class.</strong></span></span><br/>
            <span style="color:#006600"><span
                    style="font-size:14px"><em>Cô ấy là người xinh đẹp nhất lớp.</em></span></span></li>
    </ul>
    <p><span style="color:#00ccff"><span
            style="font-size:14px"><strong>10. Đừng sai ở sỡ hữu cách</strong></span></span><br/> <span
            style="color:#000000"><span style="font-size:14px">Trong tiếng Anh, sở hữu để chỉ sở hữu của danh từ hoặc đại từ. Đây là một trong số những lỗi ngữ pháp tiếng Anh thường gặp nhất mà rất nhiều người mắc phải. Các bạn cần chú ý tránh để nhầm lẫn.<br/>  <u><em>Ex:</em></u></span></span>
    </p>
    <ul>
        <li><span style="color:#000000"><span style="font-size:14px">(Sai) <em>I went to my parent’s house.</em></span></span>
        </li>
        <li><span style="color:#000000"><span
                style="font-size:14px">(Đúng)<strong> I went to my parents’ house.</strong></span></span><br/> <em><span
                style="color:#006600"><span style="font-size:14px">Tôi đã đến nhà của ba mẹ tôi.</span></span></em><br/>
             
        </li>
        <li><span style="color:#000000"><span style="font-size:14px">(Sai) <em>This book is her.</em></span></span></li>
        <li><span style="color:#000000"><span
                style="font-size:14px">(Đúng) <strong>This book is hers.</strong></span></span><br/> <em><span
                style="color:#006600"><span style="font-size:14px">Đây là sách của cô ấy.</span></span></em><span
                style="color:#000000"><span style="font-size:14px"> </span></span></li>
    </ul> </div>