<meta charset="UTF-8">
<div class="first-content"><p style="text-align:justify"><span style="font-size:14px"><span
        style="color:#00ccff"><strong>I. SO SÁNH NGANG BẰNG</strong></span><br/>  <span style="color:#000000"><strong>1. So sánh khẳng định:   <br/>   </strong></span></span><span
        style="font-size:14px"><span
        style="color:#000000"><em>Form:</em>   <u> <strong>As + adj + As</strong></u></span></span><br/> <span
        style="font-size:14px"><span
        style="color:#000000"><em>Ex:</em>  <strong>He is as intelligent as me (I am).</strong><br/>         </span><span
        style="color:#006600"><em> Anh ấy thông minh bằng tôi.</em></span><br/>  <span
        style="color:#000000"> <br/>  <strong>2. So sánh phủ định:</strong><br/>  <em>Form:   </em><u><strong>Not as / so + adj + as </strong></u><br/>  <em>Ex:</em>  <strong>He is not as / so intelligent as me (I am).</strong><br/>         </span><span
        style="color:#006600"> </span><span
        style="color:#006600"><em>Anh ấy không thông minh bằng tôi.</em></span></span></p>
    <p style="text-align:justify"><span style="font-size:14px"><span style="color:#000000"><strong>* Một số thành ngữ sử dụng cấu trúc so sánh bằng trong tiếng Anh:</strong></span></span><br/>
         </p>
    <table align="center" border="1" cellpadding="1" cellspacing="1" style="width:500px">
        <tbody>
        <tr>
            <td style="text-align:center"><strong><span style="color:#000000">Tiếng Anh</span></strong></td>
            <td style="text-align:center"><strong><span style="color:#000000">Tiếng Việt</span></strong></td>
        </tr>
        <tr>
            <td><span style="font-size:14px"><span style="color:#000000">As easy as ABC</span></span></td>
            <td><span style="font-size:14px"><span style="color:#000000">Dễ như trở bàn tay</span></span></td>
        </tr>
        <tr>
            <td><span style="font-size:14px"><span style="color:#000000">As hot as fire</span></span></td>
            <td><span style="font-size:14px"><span style="color:#000000">Nóng như lửa</span></span></td>
        </tr>
        <tr>
            <td><span style="font-size:14px"><span style="color:#000000">As hot as pepper</span></span></td>
            <td><span style="font-size:14px"><span style="color:#000000">Cay như ớt</span></span></td>
        </tr>
        <tr>
            <td><span style="font-size:14px"><span style="color:#000000">As black as coal </span></span></td>
            <td><span style="font-size:14px"><span style="color:#000000">Đen như mực</span></span></td>
        </tr>
        <tr>
            <td><span style="font-size:14px"><span style="color:#000000">As white as snow</span></span></td>
            <td><span style="font-size:14px"><span style="color:#000000">Trắng như tuyết</span></span></td>
        </tr>
        <tr>
            <td><span style="font-size:14px"><span style="color:#000000">As cold as ice</span></span></td>
            <td><span style="font-size:14px"><span style="color:#000000">Lạnh như tiền</span></span></td>
        </tr>
        <tr>
            <td><span style="font-size:14px"><span style="color:#000000">As dark as midnight</span></span></td>
            <td><span style="font-size:14px"><span style="color:#000000">Tối như đêm ba mươi</span></span></td>
        </tr>
        <tr>
            <td><span style="font-size:14px"><span style="color:#000000">As heavy as lead</span></span></td>
            <td><span style="font-size:14px"><span style="color:#000000">Nặng như đá đeo</span></span></td>
        </tr>
        <tr>
            <td><span style="font-size:14px"><span style="color:#000000">As quick as lighting</span></span></td>
            <td><span style="font-size:14px"><span style="color:#000000">Nhanh như chớp</span></span></td>
        </tr>
        <tr>
            <td><span style="font-size:14px"><span style="color:#000000">As bright as day</span></span></td>
            <td><span style="font-size:14px"><span style="color:#000000">Sáng như gương</span></span></td>
        </tr>
        <tr>
            <td><span style="font-size:14px"><span style="color:#000000">As sour as vinegar</span></span></td>
            <td><span style="font-size:14px"><span style="color:#000000">Chua như giấm</span></span></td>
        </tr>
        <tr>
            <td><span style="font-size:14px"><span style="color:#000000">As hard as rock</span></span></td>
            <td><span style="font-size:14px"><span style="color:#000000">Cứng như đá</span></span></td>
        </tr>
        <tr>
            <td><span style="font-size:14px"><span style="color:#000000">As slow as a turtle</span></span></td>
            <td><span style="font-size:14px"><span style="color:#000000">Chậm như rùa</span></span></td>
        </tr>
        <tr>
            <td><span style="font-size:14px"><span style="color:#000000">As merry as a cricket</span></span></td>
            <td><span style="font-size:14px"><span style="color:#000000">Vui như tết</span></span></td>
        </tr>
        <tr>
            <td><span style="font-size:14px"><span style="color:#000000">As stupid as a bull</span></span></td>
            <td><span style="font-size:14px"><span style="color:#000000">Ngu như bò</span></span></td>
        </tr>
        <tr>
            <td><span style="font-size:14px"><span style="color:#000000">As fat as a pig</span></span></td>
            <td><span style="font-size:14px"><span style="color:#000000">Mập như heo</span></span></td>
        </tr>
        <tr>
            <td><span style="font-size:14px"><span style="color:#000000">As rich as a Jew</span></span></td>
            <td><span style="font-size:14px"><span style="color:#000000">Giàu như Thạch Sùng</span></span></td>
        </tr>
        <tr>
            <td><span style="font-size:14px"><span style="color:#000000">As naughty as a bear </span></span></td>
            <td><span style="font-size:14px"><span style="color:#000000">Hỗn như gấu</span></span></td>
        </tr>
        <tr>
            <td><span style="font-size:14px"><span style="color:#000000">As lazy as a lizard</span></span></td>
            <td><span style="font-size:14px"><span style="color:#000000">Lười như hủi</span></span></td>
        </tr>
        <tr>
            <td><span style="font-size:14px"><span style="color:#000000">As soundly as a log</span></span></td>
            <td><span style="font-size:14px"><span style="color:#000000">Ngủ) say như chết</span></span></td>
        </tr>
        <tr>
            <td><span style="font-size:14px"><span style="color:#000000">As pretty as a picture</span></span></td>
            <td><span style="font-size:14px"><span style="color:#000000">Đẹp như tranh</span></span></td>
        </tr>
        <tr>
            <td><span style="font-size:14px"><span style="color:#000000">As clean as a new pin</span></span></td>
            <td><span style="font-size:14px"><span style="color:#000000">Sạch bóng</span></span></td>
        </tr>
        </tbody>
    </table>
    <p style="text-align:justify"><br/> <span style="font-size:14px"><span style="color:#000000"> </span><br/>  <span
            style="color:#00ccff"><strong>II. SO SÁNH HƠN VÀ SO SÁNH NHẤT</strong></span><br/>  <span
            style="color:#000000"><strong>1. Giới thiệu chung:  </strong>Cấu trúc so sánh hơn dùng để so sánh hai đối tượng.<br/>  <em>Ex:</em> <strong>He is more intelligent than me (I am) / anyone else.</strong><br/>        </span><span
            style="color:#006600"><em>  Anh ấy thông minh hơn tôi / tất cả mọi người.</em></span><br/>  <span
            style="color:#000000"> <br/>  - Cấu trúc so sánh nhất dùng để so sánh từ ba đối tượng trở lên.<br/>  <em>Ex:</em> <strong>He is the most intelligent of all / of three / in the class.</strong><br/>         </span><em><span
            style="color:#006600">Anh ấy là người thông minh nhất trong số đó / trong số 3 người / trong lớp</span></em></span>
    </p>
    <p style="text-align:justify"><br/> <span style="font-size:14px"><span style="color:#000000"> <strong>2. Cấu trúc So sánh hơn và so sánh nhất</strong></span></span>
    </p></div>
<div class="last-content"><p style="text-align:center"><span style="font-size:14px"><span style="color:#000000"><img
        alt="cấu trúc so sánh hơn, so sánh nhất của tính từ"
        src="file:///android_asset/images/cau-truc-so-sanh-tinh-tu.jpg"/></span></span></p>
    <ul>
        <li style="text-align:justify"><strong><span style="font-size:14px"><span style="color:#000000">Các trường hợp bất quy tắc</span></span></strong>
        </li>
    </ul>
    <table align="center" border="1" cellpadding="1" cellspacing="1" style="width:600px">
        <tbody>
        <tr>
            <td style="text-align:center"><span style="color:#e67e22"><strong><span
                    style="font-size:14px">Tính từ</span></strong></span></td>
            <td style="text-align:center"><span style="color:#e67e22"><strong><span
                    style="font-size:14px">So sánh hơn</span></strong></span></td>
            <td style="text-align:center"><span style="color:#e67e22"><strong><span
                    style="font-size:14px">So sánh nhất</span></strong></span></td>
            <td style="text-align:center"><span style="color:#e67e22"><strong><span style="font-size:14px">Chú ý</span></strong></span>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify"><span style="font-size:14px"><span
                    style="color:#000000">good/ well</span></span></td>
            <td style="text-align:justify"><span style="font-size:14px"><span style="color:#000000">better</span></span>
            </td>
            <td style="text-align:justify"><span style="font-size:14px"><span style="color:#000000">best</span></span>
            </td>
            <td style="text-align:justify"> </td>
        </tr>
        <tr>
            <td style="text-align:justify"><span style="font-size:14px"><span
                    style="color:#000000">bad/ badly</span></span></td>
            <td style="text-align:justify"><span style="font-size:14px"><span style="color:#000000">worse</span></span>
            </td>
            <td style="text-align:justify"><span style="font-size:14px"><span style="color:#000000">worst</span></span>
            </td>
            <td style="text-align:justify"> </td>
        </tr>
        <tr>
            <td style="text-align:justify"><span style="font-size:14px"><span
                    style="color:#000000">many/ much</span></span></td>
            <td style="text-align:justify"><span style="font-size:14px"><span style="color:#000000">more</span></span>
            </td>
            <td style="text-align:justify"><span style="font-size:14px"><span style="color:#000000">most</span></span>
            </td>
            <td style="text-align:justify"> </td>
        </tr>
        <tr>
            <td style="text-align:justify"><span style="font-size:14px"><span style="color:#000000">little</span></span>
            </td>
            <td style="text-align:justify"><span style="font-size:14px"><span style="color:#000000">less</span></span>
            </td>
            <td style="text-align:justify"><span style="font-size:14px"><span style="color:#000000">least</span></span>
            </td>
            <td style="text-align:justify"> </td>
        </tr>
        <tr>
            <td style="text-align:justify"><span style="font-size:14px"><span style="color:#000000">far</span></span>
            </td>
            <td style="text-align:justify"><span style="font-size:14px"><span
                    style="color:#000000">farther</span></span></td>
            <td style="text-align:justify"><span style="font-size:14px"><span
                    style="color:#000000">farthest</span></span></td>
            <td style="text-align:justify"><span style="font-size:14px"><span
                    style="color:#000000">(về khoảng cách)</span></span></td>
        </tr>
        <tr>
            <td style="text-align:justify"><span style="font-size:14px"><span style="color:#000000">far</span></span>
            </td>
            <td style="text-align:justify"><span style="font-size:14px"><span
                    style="color:#000000">further</span></span></td>
            <td style="text-align:justify"><span style="font-size:14px"><span
                    style="color:#000000">furthest</span></span></td>
            <td style="text-align:justify"><span style="font-size:14px"><span style="color:#000000">(về thời gian + khoảng cách)</span></span>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify"><span style="font-size:14px"><span style="color:#000000">near</span></span>
            </td>
            <td style="text-align:justify"><span style="font-size:14px"><span style="color:#000000">nearer</span></span>
            </td>
            <td style="text-align:justify"><span style="font-size:14px"><span
                    style="color:#000000">nearest</span></span></td>
            <td style="text-align:justify"><span style="font-size:14px"><span
                    style="color:#000000">(về khoảng cách)</span></span></td>
        </tr>
        <tr>
            <td style="text-align:justify"><span style="font-size:14px"><span style="color:#000000">near</span></span>
            </td>
            <td style="text-align:justify"><span style="font-size:14px"><span style="color:#000000">nearer</span></span>
            </td>
            <td style="text-align:justify"><span style="font-size:14px"><span style="color:#000000">next</span></span>
            </td>
            <td style="text-align:justify"><span style="font-size:14px"><span
                    style="color:#000000">(về thứ tự)</span></span></td>
        </tr>
        <tr>
            <td style="text-align:justify"><span style="font-size:14px"><span style="color:#000000">late</span></span>
            </td>
            <td style="text-align:justify"><span style="font-size:14px"><span style="color:#000000">later</span></span>
            </td>
            <td style="text-align:justify"><span style="font-size:14px"><span style="color:#000000">latest</span></span>
            </td>
            <td style="text-align:justify"><span style="font-size:14px"><span
                    style="color:#000000">(về thời gian)</span></span></td>
        </tr>
        <tr>
            <td style="text-align:justify"><span style="font-size:14px"><span style="color:#000000">late</span></span>
            </td>
            <td style="text-align:justify"><span style="font-size:14px"><span style="color:#000000">later</span></span>
            </td>
            <td style="text-align:justify"><span style="font-size:14px"><span style="color:#000000">last</span></span>
            </td>
            <td style="text-align:justify"><span style="font-size:14px"><span
                    style="color:#000000">(về thứ tự)</span></span></td>
        </tr>
        <tr>
            <td style="text-align:justify"><span style="font-size:14px"><span style="color:#000000">old</span></span>
            </td>
            <td style="text-align:justify"><span style="font-size:14px"><span style="color:#000000">older</span></span>
            </td>
            <td style="text-align:justify"><span style="font-size:14px"><span style="color:#000000">oldest</span></span>
            </td>
            <td style="text-align:justify"><span style="font-size:14px"><span style="color:#000000">(về tuổi tác)</span></span>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify"><span style="font-size:14px"><span style="color:#000000">old</span></span>
            </td>
            <td style="text-align:justify"><span style="font-size:14px"><span style="color:#000000">elder</span></span>
            </td>
            <td style="text-align:justify"><span style="font-size:14px"><span style="color:#000000">eldest</span></span>
            </td>
            <td style="text-align:justify"><span style="font-size:14px"><span
                    style="color:#000000">(về cấp bậc hơn)</span></span></td>
        </tr>
        </tbody>
    </table>
    <p style="text-align:justify"><span style="font-size:14px"><span
            style="color:#e67e22"><strong>* Chú ý</strong></span><br/>  <span style="color:#000000">- So sánh hơn có thể được nhấn mạnh bằng cách thêm <strong>much / far / a lot / lots / a good deal / a great deal</strong> (nhiều) hoặc giảm nhẹ bằng cách cộng thêm <strong>a bit / a little / slightly</strong> (một chút) vào trước hình thức so sánh.<br/>  <em>Ex:</em> <strong>He is much handsome than me.</strong><br/>         </span><span
            style="color:#006600"><em> Anh ấy đẹp trai hơn tôi nhiều.</em></span><br/>  <span
            style="color:#000000"> <br/>  - So sánh nhất có thể được nhấn mạnh bằng cách thêm <strong>almost </strong>(hầu như) /<strong>much</strong> (nhiều) / <strong>quite</strong> (tương đối) <strong>by far / far</strong> (rất nhiều) vào trước hình thức so sánh.<br/>  <em>Ex</em>: <strong>She is by far the best.</strong><br/>         </span><span
            style="color:#006600"><em>Cô ấy hơn mọi người rất nhiều.</em></span><br/>  <span
            style="color:#000000"> <br/>  <strong>- Most</strong> khi được dùng với nghĩa <strong>very</strong> (rất) thì không có <strong>the</strong> đứng trước và không có ngụ ý so sánh.<br/>  Ex: <strong>He is most generous.</strong><br/>         </span><span
            style="color:#006600"><em>Anh ấy rất hào phóng.</em></span><br/>  <span
            style="color:#000000"> <br/>  <strong>- Những tính từ sau đây thường không có dạng so sánh vì thường mang nghĩa tuyệt đối.</strong><br/>  <em>perfect (hoàn hảo)                   unique (duy nhất)                    extreme (cực kỳ)<br/>  supreme (tối cao)                    top (cao nhất)                          absolute (tuyệt đối)<br/>  prime (căn bản)                       primary (chính)                       matchless (không đối thủ)<br/>  full (no)                                    empty (trống rỗng)                  daily (hàng ngày)</em></span></span>
    </p>
    <p style="text-align:justify"> </p>
    <p style="text-align:center"><span style="font-size:14px"><span style="color:#000000"></span></span>
    </p>
    <p style="text-align:justify"><span style="font-size:14px"><span style="color:#000000">-<strong>Sau as và than của mệnh đề so sánh</strong> có thể loại bỏ chủ ngữ 2 nếu nó trùng với chủ ngữ thứ nhất. Lúc này than và as còn có thêm chức năng của một đại từ thay thế.<br/>  <em>Ex: </em><strong>Their marriage was as stormy as had been expected.</strong><br/>  <em>     </em></span><span
            style="color:#006600"><em> Cuộc hôn nhân của họ sóng gió như đã được đoán trước.</em></span><br/>  <span
            style="color:#000000"><em>Câu trên nếu được viết đầy đủ sẽ là: <strong>Their marriage was as stormy as it had been expected.</strong> Tuy nhiên do chủ ngữ ở hai vế so sánh là một nên có thể loại bỏ chủ ngữ số 2 (it).<br/>   </em><br/>  - Các tân ngữ bị loại bỏ sau các động từ ở mệnh đề sau <strong>than và as.</strong><br/>  <em>Ex: </em><strong>They sent me more than I had ordered.</strong><br/>  <em>         </em></span><span
            style="color:#006600"><em>Họ gửi hàng nhiều hơn số lượng tôi đặt.</em></span><br/>  <span
            style="color:#000000"><em>Câu trên nếu viết đầy đủ sẽ là: <strong>They sent me more than I had ordered it.</strong> Tuy nhiên tân ngữ it bị loại bỏ khi đứng sau than hoặc as.<br/>   </em><br/>  - Khi so sánh các mục so sánh phải tương đương nhau: người – người, vật – vật<br/>  <em>Ex: </em><strong>His drawings are as perfect as his instructor.</strong><br/>  <em> </em></span><span
            style="color:#006600"><em>  Bức tranh của anh ấy hoàn hảo như người hướng dẫn.</em></span><span
            style="color:#000000"><em> <br/>  >>>>Câu này sai vì so sánh bức tranh với người hướng dẫn.<br/>  <u>Câu trên phải được viết như sau:</u><br/>  <strong>His drawings are as perfect as his instructor’s / those (the drawings) of his instructor. </strong></em></span><br/>  <span
            style="color:#006600"><em>Bức tranh của anh ấy hoàn hảo như bức tranh của người hướng dẫn.</em></span><br/>  <br/>  <span
            style="color:#000000"><em>Ex: </em><strong>His salary is higher than his brother.</strong><br/>  <em>      </em></span><span
            style="color:#006600"><em>Lương anh ấy cao hơn anh trai anh ấy. </em></span><br/>  <span
            style="color:#000000"><em>>>>Câu này sai vì so sánh mức lương với người anh trai.<br/>  <u>Câu trên phải được viết như sau:</u><br/>  <strong>His salary is higher than that (the salary) of his brother / his brother’s</strong>. </em></span><br/>  <span
            style="color:#006600"><em>Lương anh ấy cao hơn lương của anh trai anh ấy.</em></span></span></p>
    <p style="text-align:justify"><br/> <span style="font-size:14px"><span style="color:#000000"><em> </em></span><span
            style="color:#00ccff"><strong>III. SO SÁNH KÉP (DOUBLE COMPARISIONS) </strong></span><br/>  <span
            style="color:#000000"><strong>1. Khi nói về một người hoặc vật:</strong><br/>  <u>Cấu trúc 1:</u>  <strong>Adj-er + and + adj-er </strong>(càng ngày càng) (dùng với tính từ ngắn)<br/>  <em>Ex:</em> <strong>When we get older and older, we will become weaker.</strong><br/>           </span><em><span
            style="color:#006600">Càng về già chúng ta càng yếu.</span></em><br/>  <span
            style="color:#000000"> <br/>  <u>Cấu trúc 2:</u>  <strong>More and more + adj</strong> (càng ngày càng) (dùng với tính từ dài)<br/>  <em>Ex:</em> <strong>He has become more and more careful.</strong><br/>          </span><span
            style="color:#006600"><em> Anh ta càng ngày càng cẩn thận.</em></span><br/>  <span
            style="color:#000000"> <br/>  <u>Cấu trúc 3:</u>  <strong>Less and less + adj</strong> (càng ngày càng ít / kém (cấu trúc được dùng với cả tính từ dài và tính từ ngắn)<br/>  <em>Ex:</em> <strong>My father becomes less and less stron.</strong><br/>           </span><span
            style="color:#006600"><em>Cha tôi ngày càng yếu đi.</em></span><br/>  <span
            style="color:#000000"> <br/>  <strong>2. Khi nói về 2 người hoặc sự vật:</strong><br/>  <u>Cấu trúc 1:</u>  <strong>The + comparative…… the + comparative……</strong>(càng…thì càng)<br/>  <em>Ex:</em> <strong>The older you get, the more difficult you become.</strong><br/>          <em> </em></span><em><span
            style="color:#006600">Càng già anh sẽ càng trở nên khó tính.</span></em><br/>  <span style="color:#000000"> <br/>  <u>Cấu trúc 2:</u>  <strong>The less + adj … the less + adj</strong> (càng ít…thì càng ít; càng kém …thì càng kém)<br/>  <em>Ex:</em> <strong>The less cold it is, the less well I am.</strong><br/>         </span><span
            style="color:#006600"><em>Trời càng ít lạnh tôi càng không khỏe mạnh.</em></span><br/>  <span
            style="color:#000000"> <br/>  <u>Cấu trúc 3:</u>  <strong>The more + S + V, the more + S + V</strong><br/>  <em>Ex:</em> <strong>The more I know him, the more I like him.</strong><br/>         <em>Càng hiểu về anh ấy, tôi càng thấy quý mến.</em><br/>   </span><br/>  <span
            style="color:#00ccff"><strong>IV.  SO SÁNH BỘI (MULTIPLE COMPARIONS) </strong></span><br/>  <span
            style="color:#000000">Form:  <strong>multiple numbers + as + much / many / adj / adv + as</strong><br/>  <em>Ex:</em>   <strong>She types twice as fast as I do.</strong><br/>          <em> Cô ấy đánh máy nhanh gấp hai lần tôi.</em><br/>   </span><br/>  <span
            style="color:#00ccff"><strong>V. CÁC DẠNG SO SÁNH KHÁC </strong></span><br/>  <span
            style="color:#000000"><strong>1. So sánh tương tự: </strong>same (giống nhau, tương tự)<br/>  <u>Cấu trúc 1:</u> <strong>The same</strong><br/>  <em>Ex:</em>  <strong>Our suitcases are the same.</strong><br/>         </span><span
            style="color:#006600"><em> Vali của chúng ta giống nhau.</em></span><br/>  <span
            style="color:#000000"> <br/>  <u>Cấu trúc 2:</u>  <strong>The same + noun</strong><br/>  <em>Ex:</em>  <strong> You and I have the same suitcases.</strong><br/>           </span><span
            style="color:#006600"><em>Vali của chúng ta giống nhau.</em></span><br/>  <span style="color:#000000"> <br/>  <u>Cấu trúc 3:</u> <strong>The same + (noun) (danh từ) + as: tương tự</strong><br/>  <em>Ex:</em> <strong> He is the same man as I met yesterday.</strong><br/>          </span><em><span
            style="color:#006600">Ông ấy đúng là người tôi gặp hôm qua.</span></em><br/>  <span
            style="color:#000000"> <br/>  <strong>- alike, like</strong> (tương tự)<br/>  <em>Ex:</em> <strong>Our books are alike = My book is like yours</strong> (alike đứng ở cuối câu)<br/>       </span><em><span
            style="color:#006600">  Sách của chúng ta giống nhau.</span></em><br/>  <span style="color:#000000"> <br/>  <strong>- similar to:</strong> tương tự<br/>  <em>Ex:</em> <strong>Her age is similar to mine.</strong><br/>          </span><span
            style="color:#006600"><em>Cô ấy trạc tuổi tôi.</em></span><br/>  <span
            style="color:#000000"> <br/>  <strong>2. So sánh hơn kém:</strong><br/>  <strong>- inferior to:</strong> kém hơn<br/>   <em>Ex:</em> <strong> He is inferior to his father in intelligence.</strong><br/>           </span><em><span
            style="color:#006600">Cậu ấy kém thông minh hơn bố cậu ấy.</span></em><br/>  <span
            style="color:#000000"> <br/>  <strong>- superior to:</strong> tốt hơn / giỏi hơn<br/>  <em>Ex:</em>  <strong>He is superior to his father in intelligence.</strong><br/>          </span><em><span
            style="color:#006600">Cậu ấy thông minh hơn bố cậu ấy.</span></em><br/>  <span style="color:#000000"> <br/>  <strong>- junior to:</strong> thấp hơn về cấp bậc<br/>  <em>Ex: </em><strong>He is junior to me in the company.</strong><br/>        <em> </em></span><em><span
            style="color:#006600">Cậu ấy có vị trí thấp hơn tôi trong công ty.</span></em><br/>  <span
            style="color:#000000"> <br/>  <strong>- senior to:</strong> cao hơn về cấp bậc<br/>  <em>Ex:</em>  <strong>He is senior to me in the company.</strong><br/>         </span><span
            style="color:#006600"><em>Cậu ấy có vị trí cao hơn tôi trong công ty.</em></span><br/>  <span
            style="color:#000000"> <br/>  <strong>- rather than:</strong> hơn là<br/>  <em>Ex</em>: <strong> We want to be poor rather than rich.</strong><br/>         </span><span
            style="color:#006600"><em>Chúng tôi muốn nghèo hơn là giàu.</em></span><br/>  <span
            style="color:#000000"> <br/>  <strong>- would rather do st than do st:</strong> thích hơn<br/>  <em>Ex:</em>   <strong>We would rather go to the theater than to the movie.</strong><br/>           </span><em><span
            style="color:#006600">Chúng tôi thích đi xem kịch hơn xem phim.</span></em><br/>  <span
            style="color:#000000"> <br/>  <strong>3. So sánh khác nhau:</strong> - Different (khác) (from)<br/>  <em>Ex</em>: <strong>John is different from his father.</strong><br/>            </span><span
            style="color:#006600"><em>John khác với cha anh ta.</em></span><br/>  <span style="color:#000000"> <br/>   </span></span>
    </p>    </p>                                </div>